ALTER FUNCTION MERCF_VALIDA_LISTA( @VVALOR               VARCHAR(8000),
@VLISTA                 VARCHAR(8000),
@VEXCETO                INT,
@VDELIMITADOR     VARCHAR = ';'
)RETURNS INTEGER
BEGIN
DECLARE @VDATA               DATETIME;
DECLARE @VERRO               VARCHAR(1000) SELECT @VERRO = 'MERCF_VALIDA_LISTA';
DECLARE @VSTRING_RET         VARCHAR(1000);
DECLARE @VRETORNO            INT;
DECLARE @VQTDE               INT;
DECLARE @VAUX                INT SELECT @VAUX = 1;
IF @VLISTA IS NULL OR @VLISTA = ''
RETURN 1;
IF @VVALOR IS NULL
RETURN 0;
set @VLISTA = replace(@VLISTA, ';', ',')
SET @VQTDE = LEN(@VLISTA) - LEN(REPLACE(@VLISTA, @VDELIMITADOR, '')) + 1;
IF @VEXCETO = 1
SET @VRETORNO = 1;
ELSE
SET @VRETORNO = 0;
WHILE @VAUX <= @VQTDE
BEGIN
SELECT @VSTRING_RET = DBO.MERCF_PIECE(@VLISTA,',', @VAUX)
IF @VSTRING_RET = @VVALOR
IF @VEXCETO = 0
RETURN 1;
ELSE
RETURN 0;
SET @VAUX = @VAUX + 1;
END
RETURN @VRETORNO;
END
