 ALTER FUNCTION [dbo].[SPLIT](@P_STRING    VARCHAR(8000), 
                               @P_ELEMENT   TINYINT, 
                               @P_SEPARATOR VARCHAR(8000) 
                              ) 
                               RETURNS VARCHAR(8000) 
 BEGIN 
 DECLARE @VSTRING VARCHAR(8000); 
 DECLARE @VIND    INT SELECT @VIND = 1; 
 SET @VSTRING = @P_STRING + @P_SEPARATOR; 
 WHILE @VIND <= @P_ELEMENT - 1 
 BEGIN 
   SET @VSTRING = SUBSTRING(@VSTRING,PATINDEX('%'+@P_SEPARATOR+'%',@VSTRING)+1, LEN(@VSTRING)); 
   SET @VIND = @VIND + 1 
 END 
 SET @VSTRING = SUBSTRING(@VSTRING,1,PATINDEX('%'+@P_SEPARATOR+'%',@VSTRING)-1); 
 RETURN @VSTRING 
 END 
