CREATE  FUNCTION MERCF_RETORNA_LISTA (@P_CODREPRES          FLOAT,
@P_FUNCIONALIDADE     VARCHAR(5000),
@P_DELIMITADOR        VARCHAR = ';',
@P_CODIGO_OPER        VARCHAR(30)
) RETURNS VARCHAR(1000)
BEGIN
DECLARE @VDATA               DATETIME;
DECLARE @VERRO               VARCHAR(1000) SELECT @VERRO = 'MERCF_RETORNA_LISTA';
DECLARE @VSTRING_RET         VARCHAR(1000);
DECLARE @VRETORNO            VARCHAR(5000);
DECLARE @VQTDE               INT;
DECLARE @VDB_TBOPSV_ESTADO   VARCHAR(255);
DECLARE @VDB_TBOPSV_CIDADE   VARCHAR(255);
DECLARE @VEMPRESA            VARCHAR(255);
DECLARE @VVALOR_STRING       VARCHAR(255);
DECLARE @VDB_PRCEMB_CODBARRA VARCHAR(255);
SET @VRETORNO = '';
IF @P_FUNCIONALIDADE = 'UF'
BEGIN
DECLARE CUR CURSOR
FOR SELECT DB_TBOPSV_ESTADO
FROM DB_TB_OPERS_VAL
WHERE DB_TBOPSV_COD = @P_CODIGO_OPER
OPEN CUR
FETCH NEXT FROM CUR
INTO @VDB_TBOPSV_ESTADO
WHILE @@FETCH_STATUS = 0
BEGIN
IF ISNULL(@VDB_TBOPSV_ESTADO, '') != ''
BEGIN
SET @VRETORNO = @VRETORNO + @VDB_TBOPSV_ESTADO + @P_DELIMITADOR;
END
FETCH NEXT FROM CUR
INTO @VDB_TBOPSV_ESTADO
END;
CLOSE CUR
DEALLOCATE CUR
END
ELSE IF @P_FUNCIONALIDADE = 'CIDADE'
BEGIN
DECLARE CUR CURSOR
FOR SELECT DB_TBOPSV_CIDADE
FROM DB_TB_OPERS_VAL
WHERE DB_TBOPSV_COD = @P_CODIGO_OPER
OPEN CUR
FETCH NEXT FROM CUR
INTO @VDB_TBOPSV_CIDADE
WHILE @@FETCH_STATUS = 0
BEGIN
IF ISNULL(@VDB_TBOPSV_CIDADE, '') != ''
BEGIN
SET @VRETORNO = @VRETORNO + @VDB_TBOPSV_CIDADE + @P_DELIMITADOR;
END
FETCH NEXT FROM CUR
INTO @VDB_TBOPSV_CIDADE
END
CLOSE CUR
DEALLOCATE CUR
END
ELSE IF  @P_FUNCIONALIDADE = 'PRODUTO'
BEGIN
DECLARE CUR CURSOR
FOR SELECT DB_PRDEMB_CODBARRA
FROM DB_PRODUTO_EMBAL
WHERE DB_PRDEMB_PRODUTO  = @P_CODIGO_OPER
OPEN CUR
FETCH NEXT FROM CUR
INTO @VDB_PRCEMB_CODBARRA
WHILE @@FETCH_STATUS = 0
BEGIN
IF ISNULL(@VDB_PRCEMB_CODBARRA, '') != ''
BEGIN
SET @VRETORNO = @VRETORNO + @VDB_PRCEMB_CODBARRA + @P_DELIMITADOR;
END
FETCH NEXT FROM CUR
INTO @VDB_PRCEMB_CODBARRA
END
CLOSE CUR
DEALLOCATE CUR
END
ELSE
IF @P_FUNCIONALIDADE = 'EMPRESA'
BEGIN
DECLARE CUR CURSOR
FOR SELECT GRUPO_EMP.EMPRESA
FROM DB_USUARIO           USU
, DB_TB_REPRES         REP
, DB_GRUPO_USUARIOS    GRUPO_USU
, DB_GRUPO_USU_EMP     GRUPO_EMP
WHERE /* REP.DB_TBREP_CODIGO IN (SELECT CODIGOREPRESENTANTE FROM MVW_REPRESENTANTE WHERE USUARIO = USU.USUARIO)
AND */GRUPO_USU.CODIGO         = USU.GRUPO_USUARIO
AND GRUPO_EMP.GRUPO_USUARIO    = GRUPO_USU.CODIGO
AND USU.CODIGO_ACESSO          = DB_TBREP_CODIGO
AND DB_TBREP_CODIGO            = @P_CODREPRES
OPEN CUR
FETCH NEXT FROM CUR
INTO @VEMPRESA
WHILE @@FETCH_STATUS = 0
BEGIN
IF ISNULL(@VEMPRESA, '') != ''
BEGIN
SET @VRETORNO = @VRETORNO + @VEMPRESA + @P_DELIMITADOR;
END
FETCH NEXT FROM CUR
INTO @VEMPRESA
END;
CLOSE CUR
DEALLOCATE CUR
END
ELSE
BEGIN
DECLARE CUR CURSOR
FOR SELECT FILTRO.VALOR_STRING
FROM DB_USUARIO          USU
, DB_GRUPO_USUARIOS   GRUPO_USU
, DB_TB_REPRES        REP
, DB_FILTRO_GRUPOUSU  FILTRO
WHERE /*REP.DB_TBREP_CODIGO IN (SELECT CODIGOREPRESENTANTE FROM MVW_REPRESENTANTE WHERE USUARIO = USU.USUARIO)
AND */GRUPO_USU.CODIGO           = USU.GRUPO_USUARIO
AND FILTRO.CODIGO_GRUPO        = USU.GRUPO_USUARIO
AND FILTRO.ID_FILTRO           = @P_FUNCIONALIDADE
AND USU.CODIGO_ACESSO          = DB_TBREP_CODIGO
AND DB_TBREP_CODIGO            = @P_CODREPRES
OPEN CUR
FETCH NEXT FROM CUR
INTO @VVALOR_STRING
WHILE @@FETCH_STATUS = 0
BEGIN
IF ISNULL(@VVALOR_STRING, '') != ''
BEGIN
SET @VRETORNO = @VRETORNO + @VVALOR_STRING + @P_DELIMITADOR;
END
FETCH NEXT FROM CUR
INTO @VVALOR_STRING
END;
CLOSE CUR
DEALLOCATE CUR
END
IF SUBSTRING(@VRETORNO, LEN(@VRETORNO), 1) = @P_DELIMITADOR
BEGIN
SET @VRETORNO = SUBSTRING(@VRETORNO, 1, LEN(@VRETORNO) - 1);
END
RETURN @VRETORNO;
END
