ALTER PROCEDURE MERCP_LIBERACAO_CLIENTES (@PDB_CLI_CGCMF       FLOAT,
@P_USUARIO           VARCHAR(50),
@P_ALTERA_HISTORICO  SMALLINT = NULL,
@P_ACAO              SMALLINT,
@P_RETORNO           VARCHAR(255),
@P_EXCLUI	        INT,
@P_ACFATSLD			INT
) AS
DECLARE
@VERRO                       VARCHAR(255),
@VNIVEL_REPRESENTANTE        VARCHAR(45),
@VDB_ALCP_GRPALCADA          VARCHAR(25),
@VDB_ALCADA_LIBERA           VARCHAR(5),
@V_ALCP_GRPALCADA_ANTERIOR   VARCHAR(25),
@V_ALCP_CODIGO_ANTERIOR      VARCHAR(25),
@VDB_ALCP_CODIGO             VARCHAR(25),
@V_ALCP_CODIGO_TEMP          VARCHAR(25),
@VDB_CLIR_REPRES			 INT,
@VDB_CLIR_EMPRESA			 VARCHAR(3),
@VDB_CLIR_RAMO				 VARCHAR(5),
@VDB_CLIR_CLASCOM			 VARCHAR(15),
@VDB_CLI_REGIAOCOM			 VARCHAR(8),
@VDB_CLIR_TPPROD			 VARCHAR(4),
@V_ALCADA_OK                 INT,
@V_ALCADA_ATUAL              VARCHAR(5),
@V_CODIGO_USUARIO            VARCHAR(40),
@V_EXISTE                    SMALLINT,
@VDB_CLI_CODIGO				 FLOAT,
@V_DB_CLIR_REPRES			 INT,
@V_LIBERA_CLIENTE            SMALLINT,
@VDB_PRM_CLI_NOVO            SMALLINT,
@VDB_PRM_CLIENTE_SEQ		 FLOAT,
@VDB_CLI_SITUACAO            TINYINT,
@DB_ALCP_NIVELLIB            SMALLINT,
@V_PERMITE_ENCAMINHAR        SMALLINT,
@V_STATUS					 SMALLINT,
@V_LIBERA_TOTAL              SMALLINT,
@V_LIBERA_PARCIAL            SMALLINT,
@V_SEQ                       INT,
@V_CLIENTE_TEMP              FLOAT,
@V_VERIFICAR                 SMALLINT,
@V_AUX						 INT,
@V_CLIENTE_ANTIGO            FLOAT,
@V_MAX_SEQ                   INT,
@VDB_CLI_VINCULO             FLOAT,
@V_CLI_SITUACAO 			 SMALLINT,
@VDB_CLI_VERSAODIGI          INT,
@VDB_CLIC_USU_CRIA           VARCHAR(20),
@vCLIENTE_CGCMF              varchar(100),
@V_COUNT_LIB				 INT,
@V_EXISTE_IMAGENS            INT,
@V_USUARIO_INSTRUCAO         VARCHAR(20),
@V_CLI_AREAATU				 VARCHAR(3);
BEGIN
BEGIN TRY
SELECT @V_CLI_SITUACAO = DB_CLI_SITUACAO
FROM DB_CLIENTE
WHERE DB_CLI_CODIGO = @PDB_CLI_CGCMF
IF @V_CLI_SITUACAO = 1
BEGIN
DELETE FROM DB_CLIENTE_ALCADA
WHERE DB_CLIAL_STATUS = 1
AND DB_CLIAL_CLIENTE = @PDB_CLI_CGCMF
END
if @P_EXCLUI = 1
begin
delete DB_CLIENTE_ALCADA where DB_CLIAL_CLIENTE = @PDB_CLI_CGCMF
UPDATE DB_CLIENTE
SET DB_CLI_LIB_USUS =  '',
DB_CLI_DATA_ENVIO = NULL
WHERE DB_CLI_CODIGO = @VDB_CLI_CODIGO
end
SELECT @VDB_ALCADA_LIBERA    = DB_ALCP_CODIGO,
@VDB_ALCP_GRPALCADA   = DB_ALCP_GRPALCADA,
@VNIVEL_REPRESENTANTE = DB_ALCP_NIVELLIB,
@V_CODIGO_USUARIO     = CODIGO
FROM DB_ALCADA_USUARIO,
DB_ALCADA_PED,
DB_USUARIO
WHERE DB_ALCU_USUARIO = CODIGO
AND DB_ALCU_ALCADA = DB_ALCP_CODIGO
AND USUARIO = @P_USUARIO
AND DB_ALCP_TIPO = 2
SET @V_ALCADA_OK = 0;
IF ISNULL(@V_CODIGO_USUARIO, '') <> ''
BEGIN
SELECT @V_ALCADA_ATUAL = DB_CLIAL_ALCADA
FROM DB_CLIENTE_ALCADA
WHERE DB_CLIAL_CLIENTE = @PDB_CLI_CGCMF
AND DB_CLIAL_STATUS = 0
IF ISNULL(@V_ALCADA_ATUAL, '') <> ''
BEGIN
SET @V_ALCADA_OK = 0
SELECT @V_ALCADA_OK = 1
FROM DB_ALCADA_USUARIO
WHERE DB_ALCU_ALCADA = @V_ALCADA_ATUAL
AND DB_ALCU_USUARIO = @V_CODIGO_USUARIO;
END
END
ELSE
BEGIN
SET @V_ALCADA_OK = 1
END
IF @V_ALCADA_OK <> 1
BEGIN
SET @VERRO  = 'CLIENTE ' + CAST(CAST(@PDB_CLI_CGCMF AS BIGINT) AS VARCHAR) + ' ESTA TENTANDO SER LIBERADO POR UM USUARIO  QUE NÃO PERTENCE A ALCADA ATUAL. USUÁRIO: ' + @P_USUARIO
INSERT INTO DBS_ERROS_TRIGGERS(DBS_ERROS_DATA, DBS_ERROS_ERRO, DBS_ERROS_OBJETO)
VALUES
(GETDATE(), @VERRO, 'MERCP_LIBERACAO_CLIENTES')
END
IF @V_ALCADA_OK = 1
BEGIN
IF ISNULL(@P_USUARIO, '') <> '' AND @P_ACAO = 1
BEGIN
IF @P_ALTERA_HISTORICO = 0
BEGIN
SET @V_COUNT_LIB = 0;
SELECT @V_COUNT_LIB = 1
FROM DB_CLIENTE
WHERE (DB_CLI_CGCMF = CAST(CAST(@PDB_CLI_CGCMF AS BIGINT) AS VARCHAR) OR DB_CLI_CODIGO = @PDB_CLI_CGCMF)
AND DB_CLI_CGCMF <> DB_CLI_CODIGO
SELECT @VDB_PRM_CLI_NOVO = DB_PRM_CLI_NOVO
FROM DB_PARAMETRO
SELECT top 1 @VDB_CLI_SITUACAO = DB_CLI_SITUACAO,
@VDB_CLIR_REPRES  = DB_CLIR_REPRES
FROM DB_CLIENTE, DB_CLIENTE_REPRES
WHERE DB_CLI_CODIGO = DB_CLIR_CLIENTE
AND (DB_CLI_CGCMF = cast(cast(@PDB_CLI_CGCMF as bigint) as varchar) OR DB_CLIR_CLIENTE = @PDB_CLI_CGCMF)
SELECT @V_CLIENTE_TEMP = ISNULL(MAX(DB_PRM_CLIENTE_SEQ), 0) + 1
FROM DB_PARAMETRO
SET @V_EXISTE_IMAGENS = 0;
SELECT TOP 1 @V_EXISTE_IMAGENS = 1
FROM DB_CLIENTE_IMAGENS
WHERE CODIGO_CLIENTE = @PDB_CLI_CGCMF
IF @VDB_PRM_CLI_NOVO = 0 AND @VDB_CLI_SITUACAO <> 1 AND @V_COUNT_LIB = 0
BEGIN
SET @V_VERIFICAR = 1
SET @V_AUX = 1
WHILE @V_VERIFICAR = 1
BEGIN
IF (SELECT 1  FROM DB_CLIENTE WHERE DB_CLI_CODIGO = @V_CLIENTE_TEMP) IS NOT NULL
BEGIN
SET @V_VERIFICAR = 1
SET @V_CLIENTE_TEMP = @V_CLIENTE_TEMP + @V_AUX
END
ELSE
BEGIN
SET @V_VERIFICAR = 0
END
SET @V_AUX = @V_AUX + 1
END
SET @VDB_CLI_CODIGO = @V_CLIENTE_TEMP
SET @V_CLIENTE_ANTIGO = @PDB_CLI_CGCMF
SELECT @VDB_CLI_VERSAODIGI = DB_CLI_VERSAODIGI,
@VDB_CLIC_USU_CRIA  = DB_CLIC_USU_CRIA
FROM DB_CLIENTE, DB_CLIENTE_COMPL
WHERE DB_CLI_CODIGO = @PDB_CLI_CGCMF
AND DB_CLI_CODIGO = DB_CLIC_COD;
SELECT @VDB_CLI_VINCULO = DB_CLI_VINCULO
FROM DB_CLIENTE
WHERE DB_CLI_CODIGO = @PDB_CLI_CGCMF
IF @VDB_CLI_VINCULO = @PDB_CLI_CGCMF
BEGIN
UPDATE DB_CLIENTE SET DB_CLI_VINCULO = @VDB_CLI_CODIGO WHERE DB_CLI_CODIGO = @PDB_CLI_CGCMF
END
UPDATE DB_CLIENTE SET DB_CLI_CODIGO = @VDB_CLI_CODIGO WHERE DB_CLI_CODIGO = @PDB_CLI_CGCMF
UPDATE DB_CLIENTE_COMPL SET DB_CLIC_COD = @VDB_CLI_CODIGO WHERE DB_CLIC_COD = @PDB_CLI_CGCMF
UPDATE DB_CLIENTE_COMPL SET DB_CLIC_ACFATSLD = @P_ACFATSLD WHERE DB_CLIC_COD = @VDB_CLI_CODIGO
UPDATE DB_CLIENTE_PESS SET DB_CLIP_COD = @VDB_CLI_CODIGO WHERE DB_CLIP_COD = @PDB_CLI_CGCMF
UPDATE DB_CLIENTE_ECON SET DB_CLIE_CODIGO = @VDB_CLI_CODIGO WHERE DB_CLIE_CODIGO = @PDB_CLI_CGCMF
UPDATE DB_CLIENTE_ENT SET DB_CLIENT_CODIGO = @VDB_CLI_CODIGO WHERE DB_CLIENT_CODIGO = @PDB_CLI_CGCMF
UPDATE DB_CLIENTE_FINANC SET DB_CLIF_CODIGO = @VDB_CLI_CODIGO WHERE DB_CLIF_CODIGO = @PDB_CLI_CGCMF
UPDATE DB_CLIENTE_EMAIL SET DB_CLIEM_CODIGO = @VDB_CLI_CODIGO WHERE DB_CLIEM_CODIGO = @PDB_CLI_CGCMF
UPDATE DB_ORCAMENTO SET DB_ORC_CLIENTE = @VDB_CLI_CODIGO, DB_ORC_CLIVDAORD = @VDB_CLI_CODIGO WHERE DB_ORC_CLIENTE = @PDB_CLI_CGCMF
UPDATE DB_MENSAGEM SET DB_MSG_CLIENTE = @VDB_CLI_CODIGO WHERE DB_MSG_CLIENTE = @PDB_CLI_CGCMF
UPDATE DB_PEDIDO_COMPL SET DB_PEDC_CLIVDAORD = @VDB_CLI_CODIGO WHERE DB_PEDC_CLIVDAORD = @PDB_CLI_CGCMF
UPDATE DB_PEDIDO SET DB_PED_CLIENTE = @VDB_CLI_CODIGO WHERE DB_PED_CLIENTE = @PDB_CLI_CGCMF
UPDATE DB_CLIENTE_REPRES SET DB_CLIR_CLIENTE = @VDB_CLI_CODIGO WHERE DB_CLIR_CLIENTE = @PDB_CLI_CGCMF
UPDATE DB_PESQUISA_RESP SET DB_PQR_CLIENTE = @VDB_CLI_CODIGO WHERE DB_PQR_CLIENTE = @PDB_CLI_CGCMF
UPDATE DB_CLIENTE_IMAGENS SET CODIGO_CLIENTE =  @VDB_CLI_CODIGO, DATA_ATUALIZACAO = GETDATE() WHERE CODIGO_CLIENTE = @PDB_CLI_CGCMF;
UPDATE DB_PARAMETRO SET DB_PRM_CLIENTE_SEQ = @VDB_CLI_CODIGO
UPDATE DB_CLIENTE_ATRIB SET DB_CLIA_CODIGO = @VDB_CLI_CODIGO WHERE DB_CLIA_CODIGO = @PDB_CLI_CGCMF
UPDATE DB_CLIENTE_REFERENCIA SET CLIENTE = @VDB_CLI_CODIGO WHERE CLIENTE = @PDB_CLI_CGCMF
UPDATE DB_CLIENTE_ANEXOS SET CODIGO_CLIENTE = @VDB_CLI_CODIGO, DATA_ATUALIZACAO = GETDATE() WHERE CODIGO_CLIENTE = @PDB_CLI_CGCMF
UPDATE DB_CLIENTE_DOCUMENTOS SET CODIGO_CLIENTE = @VDB_CLI_CODIGO, DATA_ATUALIZACAO = GETDATE() WHERE CODIGO_CLIENTE = @PDB_CLI_CGCMF
UPDATE DB_CLIENTE_DOCUMENTOS_LOG SET CODIGO_CLIENTE = @VDB_CLI_CODIGO WHERE CODIGO_CLIENTE = @PDB_CLI_CGCMF
UPDATE DB_FLU_LOGSCLIENTE SET CODIGO_CLIENTE = @VDB_CLI_CODIGO WHERE CODIGO_CLIENTE = @PDB_CLI_CGCMF
UPDATE DB_CLI_ALTERACAMPOS SET CLIENTE = @VDB_CLI_CODIGO WHERE CLIENTE = @PDB_CLI_CGCMF
UPDATE DB_CLIENTE_AGENDAENT SET CLIENTE = @VDB_CLI_CODIGO WHERE CLIENTE = @PDB_CLI_CGCMF
INSERT INTO DB_CLIENTE_DEL (DB_CLIDEL_CLIENTE,
DB_CLIDEL_REPRES,
DB_CLIDEL_DATA)
VALUES
(@PDB_CLI_CGCMF,
@VDB_CLIR_REPRES,
GETDATE())
IF @VDB_CLI_VERSAODIGI = 9 or @VDB_CLI_VERSAODIGI = 1
BEGIN
IF @V_EXISTE_IMAGENS = 1
BEGIN
INSERT INTO DB_CLIENTE_ALTERA ( CLIENTE_ANTIGO,
CLIENTE_NOVO,
USUARIO,
TRANSMITIDO
)
VALUES (
@PDB_CLI_CGCMF,
@VDB_CLI_CODIGO,
@VDB_CLIC_USU_CRIA,
0
)
END
DECLARE C_USU_INSTRUCAO CURSOR
FOR
SELECT USUARIO
FROM (
SELECT USUARIO  USUARIO
from MVA_CLIENTE where CODIGO_CLIEN = @VDB_CLI_CODIGO
AND @VDB_CLI_VERSAODIGI = 1
UNION
SELECT @VDB_CLIC_USU_CRIA USUARIO
) AS USERSTEMP
where isnull(USERSTEMP.USUARIO, '') <> ''
OPEN C_USU_INSTRUCAO
FETCH NEXT FROM C_USU_INSTRUCAO
INTO @V_USUARIO_INSTRUCAO
WHILE @@FETCH_STATUS = 0
BEGIN
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'UPDATE CLIENTECONFIGURACOESFORMAPAGAMENTO SET CLIENTE_CCFPG = ' + CAST(cast(@VDB_CLI_CODIGO as bigint) AS VARCHAR) + '  WHERE CLIENTE_CCFPG = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@V_USUARIO_INSTRUCAO,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'UPDATE CLIENTECONFIGURACOESTIPOSPRODUTO SET CLIENTE_CCTPR = ' + CAST(cast(@VDB_CLI_CODIGO as bigint) AS VARCHAR) + ' WHERE CLIENTE_CCTPR = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@V_USUARIO_INSTRUCAO,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'UPDATE CLIENTECONTATOS SET CODIGO_CLICO = ' + CAST(cast(@VDB_CLI_CODIGO as bigint) AS VARCHAR) + ' WHERE CODIGO_CLICO = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@V_USUARIO_INSTRUCAO,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'UPDATE CLIENTEDADOSFINANCEIROS SET CLIENTE_CLIFIN = ' + CAST(cast(@VDB_CLI_CODIGO as bigint) AS VARCHAR) + ' WHERE CLIENTE_CLIFIN = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@V_USUARIO_INSTRUCAO,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'UPDATE CLIENTEENDERECOS SET CLIENTE_CLENT  = ' + CAST(cast(@VDB_CLI_CODIGO as bigint) AS VARCHAR) + ' WHERE CLIENTE_CLENT  = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@V_USUARIO_INSTRUCAO,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'UPDATE CLIENTEITENSCONTROLADOS SET CLIENTE_CLIIC = ' + CAST(cast(@VDB_CLI_CODIGO as bigint) AS VARCHAR) + ' WHERE CLIENTE_CLIIC = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@V_USUARIO_INSTRUCAO,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'UPDATE CLIENTEREFERENCIAS SET CLIENTE_CLREF = ' + CAST(cast(@VDB_CLI_CODIGO as bigint) AS VARCHAR) + ' WHERE CLIENTE_CLREF = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@V_USUARIO_INSTRUCAO,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'UPDATE CLIENTES SET CODIGO_CLIEN = ' + CAST(cast(@VDB_CLI_CODIGO as bigint) AS VARCHAR) + ' WHERE CODIGO_CLIEN = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@V_USUARIO_INSTRUCAO,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'UPDATE CLIENTESATRIBUTOS SET CLIENTE_ATCLI = ' + CAST(cast(@VDB_CLI_CODIGO as bigint) AS VARCHAR) + ' WHERE CLIENTE_ATCLI = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@V_USUARIO_INSTRUCAO,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'UPDATE CLIENTESCOMPLEMENTO SET CLIENTE_CLIENC = ' + CAST(cast(@VDB_CLI_CODIGO as bigint) AS VARCHAR) + ' WHERE CLIENTE_CLIENC = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@V_USUARIO_INSTRUCAO,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'UPDATE CLIENTESGRADE SET CLIENTE_CLIGR = ' + CAST(cast(@VDB_CLI_CODIGO as bigint) AS VARCHAR) + ' WHERE CLIENTE_CLIGR = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@V_USUARIO_INSTRUCAO,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'UPDATE CLIENTESORDENSCOMPRA SET CLIENTE_CORDC = ' + CAST(cast(@VDB_CLI_CODIGO as bigint) AS VARCHAR) + ' WHERE CLIENTE_CORDC = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@V_USUARIO_INSTRUCAO,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'UPDATE CLIENTESPEDIDOS SET CLIENTE_CLIPED = ' + CAST(cast(@VDB_CLI_CODIGO as bigint) AS VARCHAR) + ' WHERE CLIENTE_CLIPED = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@V_USUARIO_INSTRUCAO,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'UPDATE PEDIDOS SET CLIENTE_PEDID = ' + CAST(cast(@VDB_CLI_CODIGO as bigint) AS VARCHAR) + ' WHERE CLIENTE_PEDID = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@V_USUARIO_INSTRUCAO,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'UPDATE SHOPPINGPRECOS SET CLIENTE_SHPRE = ' + CAST(cast(@VDB_CLI_CODIGO as bigint) AS VARCHAR)  +' WHERE CLIENTE_SHPRE = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@V_USUARIO_INSTRUCAO,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'UPDATE VISITAS SET CLIENTE_VISIT = ' + CAST(cast(@VDB_CLI_CODIGO as bigint) AS VARCHAR) + ' WHERE CLIENTE_VISIT = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@V_USUARIO_INSTRUCAO,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'UPDATE PROBLEMASRECLAMACOES SET CLIENTE_PRBREC = ' + CAST(cast(@VDB_CLI_CODIGO as bigint) AS VARCHAR) + ' WHERE CLIENTE_PRBREC = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@V_USUARIO_INSTRUCAO,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'UPDATE CLIENTECONFIGURACOES SET CLIENTE_CLCON = ' + CAST(cast(@VDB_CLI_CODIGO as bigint) AS VARCHAR) + ' WHERE CLIENTE_CLCON = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@V_USUARIO_INSTRUCAO,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'UPDATE CLIENTESIMAGENS SET CLIENTE_CLIIMG = ' + CAST(cast(@VDB_CLI_CODIGO as bigint) AS VARCHAR)  + '  WHERE CLIENTE_CLIIMG = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@V_USUARIO_INSTRUCAO,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'UPDATE CLIENTEANEXOS SET CLIENTE_CLIAN = ' + CAST(CAST(@VDB_CLI_CODIGO AS BIGINT) AS VARCHAR)  + '  WHERE CLIENTE_CLIAN = ' + CAST(CAST(@PDB_CLI_CGCMF AS BIGINT) AS VARCHAR),
0,
@V_USUARIO_INSTRUCAO,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'UPDATE CLIENTEDOCUMENTOS SET CODIGOCLIENTE_CLIDOC = ' + CAST(CAST(@VDB_CLI_CODIGO AS BIGINT) AS VARCHAR)  + '  WHERE CODIGOCLIENTE_CLIDOC = ' + CAST(CAST(@PDB_CLI_CGCMF AS BIGINT) AS VARCHAR),
0,
@V_USUARIO_INSTRUCAO,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'UPDATE CLIENTEDOCUMENTOLOGS SET CODIGOCLIENTE_DOCLOG = ' + CAST(CAST(@VDB_CLI_CODIGO AS BIGINT) AS VARCHAR)  + '  WHERE CODIGOCLIENTE_DOCLOG = ' + CAST(CAST(@PDB_CLI_CGCMF AS BIGINT) AS VARCHAR),
0,
@V_USUARIO_INSTRUCAO,
GETDATE(),
0 );
FETCH NEXT FROM C_USU_INSTRUCAO
INTO @V_USUARIO_INSTRUCAO
END
CLOSE C_USU_INSTRUCAO
DEALLOCATE C_USU_INSTRUCAO
END
END
END
ELSE IF @P_ALTERA_HISTORICO = 1
BEGIn
set @VDB_CLI_CODIGO = 0
set @vCLIENTE_CGCMF = 0
SELECT @VDB_CLIC_USU_CRIA  = DB_CLIC_USU_CRIA
FROM DB_CLIENTE, DB_CLIENTE_COMPL
WHERE DB_CLI_CODIGO = @PDB_CLI_CGCMF
AND DB_CLI_CODIGO = DB_CLIC_COD;
select @vCLIENTE_CGCMF = DB_CLI_CGCMF
from db_cliente
where DB_CLI_CODIGO = @PDB_CLI_CGCMF;
SELECT top 1  @VDB_CLI_CODIGO = DB_CLI_CODIGO
FROM DB_CLIENTE
WHERE DB_CLI_CGCMF = @vCLIENTE_CGCMF
AND DB_CLI_CODIGO <> @PDB_CLI_CGCMF
UPDATE DB_CLIENTE_COMPL SET DB_CLIC_ACFATSLD = @P_ACFATSLD WHERE DB_CLIC_COD = @VDB_CLI_CODIGO
UPDATE DB_PEDIDO
SET DB_PED_CLIENTE = @VDB_CLI_CODIGO
WHERE DB_PED_CLIENTE = @PDB_CLI_CGCMF
UPDATE DB_ORCAMENTO
SET DB_ORC_CLIENTE = @VDB_CLI_CODIGO
WHERE DB_ORC_CLIENTE = @PDB_CLI_CGCMF
UPDATE DB_MENSAGEM
SET DB_MSG_CLIENTE = @VDB_CLI_CODIGO
WHERE DB_MSG_CLIENTE = @PDB_CLI_CGCMF
UPDATE DB_PESQUISAMERCRESPOSTA
SET CLIENTE = @VDB_CLI_CODIGO
WHERE CLIENTE = @PDB_CLI_CGCMF
UPDATE MDV01
SET DV01_CLIENTE = @VDB_CLI_CODIGO
WHERE DV01_CLIENTE = @PDB_CLI_CGCMF
UPDATE DB_PROBLEMA_RECLAMA
SET CLIENTE = @VDB_CLI_CODIGO
WHERE CLIENTE = @PDB_CLI_CGCMF
UPDATE DB_SHOPPING
SET DB_SHOP_CLIENTE = @VDB_CLI_CODIGO
WHERE DB_SHOP_CLIENTE = @PDB_CLI_CGCMF
UPDATE DB_VISITA
SET DB_VIS_CLIENTE = @VDB_CLI_CODIGO
WHERE DB_VIS_CLIENTE = @PDB_CLI_CGCMF
UPDATE DB_SOLIC_INVESTIMENTO
SET CLIENTE = @VDB_CLI_CODIGO
WHERE CLIENTE = @PDB_CLI_CGCMF
update DB_IMAGENS_SHOPPING
set db_cliente = @VDB_CLI_CODIGO
where db_cliente = @PDB_CLI_CGCMF
DELETE FROM DB_CLIENTE WHERE DB_CLI_CODIGO = @PDB_CLI_CGCMF
DELETE FROM DB_CLIENTE_COMPL WHERE DB_CLIC_COD = @PDB_CLI_CGCMF
DELETE FROM DB_CLIENTE_PESS WHERE DB_CLIP_COD = @PDB_CLI_CGCMF
DELETE FROM DB_CLIENTE_ECON WHERE DB_CLIE_CODIGO = @PDB_CLI_CGCMF
DELETE FROM DB_CLIENTE_ENT WHERE DB_CLIENT_CODIGO = @PDB_CLI_CGCMF
DELETE FROM DB_CLIENTE_FINANC WHERE DB_CLIF_CODIGO = @PDB_CLI_CGCMF
DELETE FROM DB_CLIENTE_REPRES WHERE DB_CLIR_CLIENTE = @PDB_CLI_CGCMF
DELETE FROM DB_CLIENTE_ATRIB WHERE DB_CLIA_CODIGO = @PDB_CLI_CGCMF
DELETE FROM DB_CLIENTE_IMAGENS WHERE CODIGO_CLIENTE = @PDB_CLI_CGCMF
DELETE FROM DB_CLIENTE_REFERENCIA WHERE CLIENTE = @PDB_CLI_CGCMF
DELETE FROM DB_CLIENTE_ANEXOS WHERE CODIGO_CLIENTE = @PDB_CLI_CGCMF
DELETE FROM DB_CLIENTE_DOCUMENTOS WHERE CODIGO_CLIENTE = @PDB_CLI_CGCMF
DELETE FROM DB_CLIENTE_DOCUMENTOS_LOG WHERE CODIGO_CLIENTE = @PDB_CLI_CGCMF
DELETE FROM DB_FLU_LOGSCLIENTE WHERE CODIGO_CLIENTE = @PDB_CLI_CGCMF
DELETE FROM DB_CLI_ALTERACAMPOS WHERE CLIENTE = @PDB_CLI_CGCMF
begin try
UPDATE DB_CLIENTE_ALCADA
SET DB_CLIAL_CLIENTE = @VDB_CLI_CODIGO
WHERE DB_CLIAL_CLIENTE = @PDB_CLI_CGCMF
end try
begin catch
end catch
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'UPDATE PEDIDOS SET CLIENTE_PEDID  = ' + CAST(cast(@VDB_CLI_CODIGO as bigint) AS VARCHAR) + ' WHERE CLIENTE_PEDID = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'UPDATE PESQUISAMERCADORESPOSTA SET CLIENTE_PESMR = ' + CAST(cast(@VDB_CLI_CODIGO as bigint) AS VARCHAR) + ' WHERE CLIENTE_PESMR = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'UPDATE DEVOLUCOES SET CLIENTE_DEVOL = ' + CAST(cast(@VDB_CLI_CODIGO as bigint) AS VARCHAR) + ' WHERE CLIENTE_DEVOL = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'UPDATE PROBLEMASRECLAMACOES SET CLIENTE_PRBREC = ' + CAST(cast(@VDB_CLI_CODIGO as bigint) AS VARCHAR) + ' WHERE CLIENTE_PRBREC = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'UPDATE SHOPPINGPRECOS SET CLIENTE_SHPRE = ' + CAST(cast(@VDB_CLI_CODIGO as bigint) AS VARCHAR) + ' WHERE CLIENTE_SHPRE = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'UPDATE SHOPPINGIMAGENS SET CLIENTE_SHIMG = ' + CAST(cast(@VDB_CLI_CODIGO as bigint) AS VARCHAR) + ' WHERE CLIENTE_SHIMG = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'UPDATE VISITAS SET CLIENTE_VISIT = ' + CAST(cast(@VDB_CLI_CODIGO as bigint) AS VARCHAR) + ' WHERE CLIENTE_VISIT = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'UPDATE AGENDAMENTOCOMPROMISSO SET CLIENTE_AGEN = ' + CAST(cast(@VDB_CLI_CODIGO as bigint) AS VARCHAR) + ' WHERE CLIENTE_AGEN = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM CLIENTES WHERE CODIGO_CLIEN = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM CLIENTESCOMPLEMENTO WHERE CLIENTE_CLIENC = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM CLIENTECONTATOS WHERE CLIENTE_CLICO = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM CLIENTEECONOMIA WHERE CLIENTE_CLIECO = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM CLIENTEENDERECOS WHERE CLIENTE_CLENT = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM CLIENTEDADOSFINANCEIROS WHERE CLIENTE_CLIFIN = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM CLIENTECONFIGURACOES WHERE CLIENTE_CLCON = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM CLIENTESATRIBUTOS WHERE CLIENTE_ATCLI = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM CLIENTESIMAGENS WHERE CLIENTE_CLIIMG = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM CLIENTEREFERENCIAS WHERE CLIENTE_CLREF = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM CLIENTEANEXOS WHERE CLIENTE_CLIAN = ' + CAST(CAST(@PDB_CLI_CGCMF AS BIGINT) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM CLIENTEDOCUMENTOS WHERE CODIGOCLIENTE_CLIDOC = ' + CAST(CAST(@PDB_CLI_CGCMF AS BIGINT) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM CLIENTEDOCUMENTOLOGS WHERE CODIGOCLIENTE_DOCLOG = ' + CAST(CAST(@PDB_CLI_CGCMF AS BIGINT) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
END
ELSE IF @P_ALTERA_HISTORICO = 2
BEGIN
SELECT @VDB_CLIC_USU_CRIA  = DB_CLIC_USU_CRIA
FROM DB_CLIENTE, DB_CLIENTE_COMPL
WHERE DB_CLI_CODIGO = @PDB_CLI_CGCMF
AND DB_CLI_CODIGO = DB_CLIC_COD;
select @vCLIENTE_CGCMF = DB_CLI_CGCMF
from db_cliente
where DB_CLI_CODIGO = @PDB_CLI_CGCMF;
SELECT top 1  @VDB_CLI_CODIGO = DB_CLI_CODIGO
FROM DB_CLIENTE
WHERE DB_CLI_CGCMF = @vCLIENTE_CGCMF
AND DB_CLI_CODIGO <> @PDB_CLI_CGCMF
UPDATE DB_PEDIDO
SET DB_PED_SITUACAO = 9,
DB_PED_OBSERV = 'Pedido cancelado devido a exclusão do cliente. Cliente antigo '  + CAST(cast(@VDB_CLI_CODIGO as bigint) AS VARCHAR)
WHERE DB_PED_CLIENTE = @PDB_CLI_CGCMF
UPDATE DB_PEDIDO_PROD
SET DB_PEDI_QTDE_CANC = DB_PEDI_QTDE_SOLIC - DB_PEDI_QTDE_ATEND,
DB_PEDI_MOTCANC = 0,
DB_PEDI_SITUACAO = 9,
DB_PEDI_ATD_DATA2 = GETDATE()
WHERE DB_PEDI_PEDIDO IN (SELECT DB_PED_NRO FROM DB_PEDIDO WHERE DB_PED_CLIENTE = @PDB_CLI_CGCMF)
UPDATE DB_ORCAMENTO
SET DB_ORC_SITUACAO = 9,
DB_ORC_OBSERV_CANC = 'Orçamento cancelado devido a exclusão do cliente. Cliente antigo ' + CAST(cast(@VDB_CLI_CODIGO as bigint) AS VARCHAR)	,
DB_ORC_DATA_CANC = GETDATE()
WHERE DB_ORC_CLIENTE = @PDB_CLI_CGCMF
UPDATE DB_PEDIDO
SET DB_PED_CLIENTE = @VDB_CLI_CODIGO
WHERE DB_PED_CLIENTE = @PDB_CLI_CGCMF
UPDATE DB_ORCAMENTO
SET DB_ORC_CLIENTE = @VDB_CLI_CODIGO
WHERE DB_ORC_CLIENTE = @PDB_CLI_CGCMF
DELETE FROM DB_MENSAGEM WHERE DB_MSG_CLIENTE = @PDB_CLI_CGCMF
DELETE DB_PESQUISAMERCPERGRESPOSTA
WHERE EXISTS (SELECT 1
FROM DB_PESQUISAMERCRESPOSTA PES
WHERE CLIENTE = @PDB_CLI_CGCMF
AND PES.PESQUISA = DB_PESQUISAMERCPERGRESPOSTA.PESQUISA
AND PES.SEQUENCIA_PESQUISA = DB_PESQUISAMERCPERGRESPOSTA.SEQUENCIA_PESQUISA)
DELETE FROM DB_PESQUISAMERCRESPOSTA WHERE CLIENTE = @PDB_CLI_CGCMF
DELETE FROM MDV02
WHERE MDV02.DV02_NRO IN(SELECT DV01_NRO FROM MDV01 WHERE DV01_CLIENTE = @PDB_CLI_CGCMF)
DELETE FROM MDV01 WHERE DV01_CLIENTE = @PDB_CLI_CGCMF
DELETE FROM DB_PROBRECL_PRODUTO
WHERE DB_PROBRECL_PRODUTO.CODIGO IN (SELECT DB_PROBLEMA_RECLAMA.CODIGO FROM DB_PROBLEMA_RECLAMA WHERE CLIENTE = @PDB_CLI_CGCMF)
DELETE FROM DB_PROBLEMA_RECLAMA WHERE CLIENTE = @PDB_CLI_CGCMF
DELETE DB_IMAGENS_SHOPPING
WHERE EXISTS (SELECT 1
FROM DB_SHOPPING S
WHERE S.DB_SHOP_CLIENTE  = @PDB_CLI_CGCMF
AND S.DB_SHOP_REPRES   = DB_IMAGENS_SHOPPING.DB_REPRESENTANTE
AND S.DB_SHOP_CLIENTE  = DB_IMAGENS_SHOPPING.DB_CLIENTE
AND S.DB_SHOP_DATA     = DB_IMAGENS_SHOPPING.DB_DATA
AND S.DB_SHOP_PRODME   = DB_IMAGENS_SHOPPING.DB_PRODUTOMERCADO
AND S.DB_SHOP_CONCOR   = DB_IMAGENS_SHOPPING.DB_CONCORRENTE
AND S.DB_SHOP_PESQUISA = DB_IMAGENS_SHOPPING.DB_PESQUISA
)
DELETE FROM DB_SHOPPING WHERE DB_SHOP_CLIENTE = @PDB_CLI_CGCMF
DELETE DB_VISITA_OBJ
WHERE DB_VISO_NRO IN (SELECT DB_VIS_NUMERO
FROM DB_VISITA
WHERE DB_VIS_CLIENTE = @PDB_CLI_CGCMF
)
DELETE FROM DB_VISITA_MOT
WHERE DB_VISMOT_NRO IN( SELECT DB_VISITA.DB_VIS_NUMERO
FROM DB_VISITA
WHERE DB_VIS_CLIENTE = @PDB_CLI_CGCMF
)
DELETE FROM DB_VISITA WHERE DB_VIS_CLIENTE = @PDB_CLI_CGCMF
DELETE FROM DB_SOLIC_INVESTIMENTO_MOTIVO
WHERE SOLIC_INVESTIMENTO IN ( SELECT NUMERO
FROM DB_SOLIC_INVESTIMENTO
WHERE CLIENTE = @PDB_CLI_CGCMF
)
DELETE FROM DB_SOLIC_INVESTIMENTO_PROD
WHERE SOLIC_INVESTIMENTO IN ( SELECT NUMERO
FROM DB_SOLIC_INVESTIMENTO
WHERE CLIENTE = @PDB_CLI_CGCMF
)
DELETE FROM DB_SOLIC_INVESTIMENTO WHERE CLIENTE = @PDB_CLI_CGCMF
DELETE FROM DB_CLIENTE WHERE DB_CLI_CODIGO = @PDB_CLI_CGCMF
DELETE FROM DB_CLIENTE_ATRIB WHERE DB_CLIA_CODIGO = @PDB_CLI_CGCMF
DELETE FROM DB_CLIENTE_COMPL WHERE DB_CLIC_COD = @PDB_CLI_CGCMF
DELETE FROM DB_CLIENTE_ECON WHERE DB_CLIE_CODIGO = @PDB_CLI_CGCMF
DELETE FROM DB_CLIENTE_ENT WHERE DB_CLIENT_CODIGO = @PDB_CLI_CGCMF
DELETE FROM DB_CLIENTE_FINANC WHERE DB_CLIF_CODIGO = @PDB_CLI_CGCMF
DELETE FROM DB_CLIENTE_IMAGENS WHERE CODIGO_CLIENTE = @PDB_CLI_CGCMF
DELETE FROM DB_CLIENTE_PESS WHERE DB_CLIP_COD = @PDB_CLI_CGCMF
DELETE FROM DB_CLIENTE_REFERENCIA WHERE CLIENTE = @PDB_CLI_CGCMF
DELETE FROM DB_CLIENTE_REPRES WHERE DB_CLIR_CLIENTE = @PDB_CLI_CGCMF
DELETE FROM DB_CLIENTE_ALCADA WHERE DB_CLIAL_CLIENTE = @PDB_CLI_CGCMF
DELETE FROM DB_CLIENTE_ANEXOS WHERE CODIGO_CLIENTE = @PDB_CLI_CGCMF
DELETE FROM DB_CLIENTE_DOCUMENTOS WHERE CODIGO_CLIENTE = @PDB_CLI_CGCMF
DELETE FROM DB_CLIENTE_DOCUMENTOS_LOG WHERE CODIGO_CLIENTE = @PDB_CLI_CGCMF
DELETE FROM DB_FLU_LOGSCLIENTE WHERE CODIGO_CLIENTE = @PDB_CLI_CGCMF
DELETE FROM DB_CLI_ALTERACAMPOS WHERE CLIENTE = @PDB_CLI_CGCMF
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'UPDATE PEDIDOS SET SITUACAO_PEDID = 9, OBSERVACOES_PEDID = ''Pedido cancelado devido a exclusão do cliente. Cliente antigo ' + CAST(cast(@VDB_CLI_CODIGO as bigint) AS VARCHAR) + ' '' WHERE CLIENTE_PEDID = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'UPDATE PedidoItens SET quantidadeCancelada_PEDIT = quantidadeSolicitada_PEDIT - quantidadeAtendida_PEDIT, motivoCancelamento_PEDIT = 0, situacao_PEDIT = 9 WHERE pedido_PEDIT IN (SELECT codigo_PEDID FROM PEDIDOS WHERE cliente_PEDID = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR) + ')',
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE from PesquisaMercPergResposta WHERE EXISTS (SELECT 1 FROM PesquisaMercadoResposta WHERE cliente_PESMR = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR) + ' AND pesquisa_PESMR = pesquisa_PESPR AND sequenciaPesquisa_PESMR = sequenciaPesquisa_PESPR) ',
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM PesquisaMercadoResposta WHERE cliente_PESMR = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM DevolucaoItens 	WHERE devolucao_DEVIT IN(SELECT numero_DEVOL FROM Devolucoes WHERE cliente_DEVOL = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR) + ')',
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM Devolucoes WHERE cliente_DEVOL = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM ProblemasReclamacoesProdutos WHERE codigo_PRPROD IN (SELECT codigo_PRBREC FROM ProblemasReclamacoes WHERE cliente_PRBREC = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR) + ')',
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM ProblemasReclamacoes WHERE cliente_PRBREC = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM ShoppingImagens	WHERE EXISTS (SELECT 1 FROM ShoppingPrecos  WHERE cliente_SHPRE  = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR) + ' AND representante_SHPRE   = representante_SHIMG AND cliente_SHPRE  =cliente_SHIMG AND data_SHPRE     = data_SHIMG AND produtoMercado_SHPRE   = produtoMercado_SHIMG  AND concorrente_SHPRE   = concorrente_SHIMG AND shoppingPesquisa_SHPRE = shoppingPesquisa_SHIMG)',
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM ShoppingPrecos WHERE cliente_SHPRE = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM VisitaObjetivos WHERE visita_VIOBJ IN (SELECT numero_VISIT FROM Visitas WHERE cliente_VISIT = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR) + ')',
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM VisitaMotivosProdutos WHERE visita_VMOPR IN( SELECT numero_VISIT FROM Visitas WHERE cliente_VISIT = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR) + ')',
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM Visitas WHERE cliente_VISIT = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM SolicitacaoInvestimentoMotivos WHERE solicitacao_SOLINMOT IN ( SELECT numero_SOLINV FROM SolicitacoesInvestimento	 WHERE cliente_SOLINV = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR) + ')',
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM SolicitacaoInvestimentoProdutos WHERE solicitacao_SIPROD IN ( SELECT numero_SOLINV FROM SolicitacoesInvestimento WHERE cliente_SOLINV = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR) + ')',
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM SolicitacoesInvestimento WHERE cliente_SOLINV = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM AgendamentoCompromisso WHERE cliente_AGEN = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM CLIENTES WHERE CODIGO_CLIEN = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM CLIENTESCOMPLEMENTO WHERE CLIENTE_CLIENC = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM CLIENTECONTATOS WHERE CLIENTE_CLICO = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM CLIENTEECONOMIA WHERE CLIENTE_CLIECO = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM CLIENTEENDERECOS WHERE CLIENTE_CLENT = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM CLIENTEDADOSFINANCEIROS WHERE CLIENTE_CLIFIN = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM CLIENTECONFIGURACOES WHERE CLIENTE_CLCON = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM CLIENTESATRIBUTOS WHERE CLIENTE_ATCLI = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM CLIENTESIMAGENS WHERE CLIENTE_CLIIMG = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM CLIENTEREFERENCIAS  WHERE CLIENTE_CLREF = ' + CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM CLIENTEANEXOS  WHERE CLIENTE_CLIAN = ' + CAST(CAST(@PDB_CLI_CGCMF AS BIGINT) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM CLIENTEDOCUMENTOS  WHERE CODIGOCLIENTE_CLIDOC = ' + CAST(CAST(@PDB_CLI_CGCMF AS BIGINT) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
INSERT INTO DB_SIS_MOB_INSTRUCAO (ID, INSTRUCAO, ACAO, USUARIO, DATA_INSTRUCAO, TRANSMITIDO)
VALUES ( (SELECT ISNULL(MAX(ID), 0) + 1 FROM DB_SIS_MOB_INSTRUCAO),
'DELETE FROM CLIENTEDOCUMENTOLOGS  WHERE CODIGOCLIENTE_DOCLOG = ' + CAST(CAST(@PDB_CLI_CGCMF AS BIGINT) AS VARCHAR),
0,
@VDB_CLIC_USU_CRIA,
GETDATE(),
0 );
RETURN;
END
IF ISNULL(@VDB_CLI_CODIGO, '') = ''
BEGIN
SET @VDB_CLI_CODIGO = @PDB_CLI_CGCMF
END
IF ISNULL(@V_CLIENTE_ANTIGO, '') <> ''
BEGIN
UPDATE DB_CLIENTE_ALCADA
SET DB_CLIAL_CLIENTE = @VDB_CLI_CODIGO
WHERE DB_CLIAL_CLIENTE = @V_CLIENTE_ANTIGO
END
SELECT @VDB_CLIR_REPRES    = DB_CLIR_REPRES,
@VDB_CLIR_EMPRESA   = DB_CLIR_EMPRESA,
@VDB_CLIR_RAMO      = DB_CLI_RAMATIV,
@VDB_CLIR_CLASCOM   = DB_CLI_CLASCOM,
@VDB_CLI_REGIAOCOM  = DB_CLI_REGIAOCOM,
@VDB_CLIR_TPPROD    = DB_CLIR_TPPROD,
@V_CLI_AREAATU      = DB_CLIC_AREAATU
FROM DB_CLIENTE, DB_CLIENTE_REPRES, DB_CLIENTE_COMPL
WHERE DB_CLI_CODIGO = DB_CLIR_CLIENTE
AND DB_CLI_CODIGO = @VDB_CLI_CODIGO
AND DB_CLI_CODIGO = DB_CLIC_COD
ORDER BY DB_CLIR_EMPRESA ASC
SET @V_ALCP_GRPALCADA_ANTERIOR = NULL;
SET @V_ALCP_CODIGO_ANTERIOR = NULL;
SELECT @V_ALCP_GRPALCADA_ANTERIOR = DB_ALCP_GRPALCADA,
@V_ALCP_CODIGO_ANTERIOR = MAX(DB_ALCP_CODIGO)
FROM DB_ALCADA_PED A, DB_CLIENTE_ALCADA
WHERE DB_ALCP_CODIGO = DB_CLIAL_ALCADA
AND DB_CLIAL_CLIENTE = @VDB_CLI_CODIGO
GROUP BY DB_ALCP_GRPALCADA
BEGIN
DECLARE C	CURSOR
FOR SELECT DB_ALCP_CODIGO
FROM DB_ALCADA_PED
WHERE DB_ALCP_CODIGO IN (
SELECT DB_ALCP_CODIGO
FROM DB_ALCADA_PED
WHERE DBO.MERCF_VALIDA_LISTA(@VDB_CLIR_REPRES,	 DB_ALCP_LSTREP,    0, ',') > 0
AND DBO.MERCF_VALIDA_LISTA(@VDB_CLIR_EMPRESA,	 DB_ALCP_LSTEMP,    0, ',') > 0
AND DBO.MERCF_VALIDA_LISTA(@VDB_CLIR_RAMO,		 DB_ALCP_LSTRAMO,   0, ',') > 0
AND DBO.MERCF_VALIDA_LISTA(@VDB_CLIR_CLASCOM,	 DB_ALCP_LSTCLASS,  0, ',') > 0
AND DBO.MERCF_VALIDA_LISTA(@VDB_CLI_REGIAOCOM,	 DB_ALCP_LSTREGCOM, 0, ',') > 0
AND DBO.MERCF_VALIDA_LISTA(@VDB_CLIR_TPPROD,	 DB_ALCP_LSTTPPROD, 0, ',') > 0
AND DBO.MERCF_VALIDA_LISTA(@V_CLI_AREAATU,	     DB_ALCP_LSTAREAATU,0, ',') > 0
AND ( DB_ALCP_GRPALCADA = @V_ALCP_GRPALCADA_ANTERIOR OR ISNULL(@V_ALCP_GRPALCADA_ANTERIOR, '') = '')
AND DB_ALCP_CODIGO NOT IN( SELECT DB_ALCP_CODIGO
FROM DB_ALCADA_PED A, DB_CLIENTE_ALCADA B
WHERE DB_ALCP_CODIGO = DB_CLIAL_ALCADA
AND DB_CLIAL_CLIENTE = @VDB_CLI_CODIGO)
AND DB_ALCP_TIPO = 2
)
ORDER BY DB_ALCP_GRPALCADA, DB_ALCP_GRUPOLIB, DB_ALCP_NIVELLIB
OPEN C
FETCH NEXT FROM C
INTO @V_ALCP_CODIGO_TEMP
BEGIN
IF @VDB_ALCP_CODIGO IS NULL
SET @VDB_ALCP_CODIGO = @V_ALCP_CODIGO_TEMP;
END
FETCH NEXT FROM C
INTO @V_ALCP_CODIGO_TEMP
END
CLOSE C
DEALLOCATE C
SET @V_LIBERA_PARCIAL = 0
SET @V_LIBERA_TOTAL = 0
IF ISNULL(@VDB_ALCP_CODIGO, '') <> ''
SET @V_LIBERA_PARCIAL = 1
ELSE
SET @V_LIBERA_TOTAL = 1
IF @V_LIBERA_TOTAL = 1 AND @V_LIBERA_PARCIAL = 0
BEGIN
UPDATE DB_CLIENTE
SET DB_CLI_SITUACAO = 0,
DB_CLI_DATA_SITUAC = GETDATE(),
DB_CLI_ULT_ALTER = GETDATE()
WHERE DB_CLI_CODIGO = @VDB_CLI_CODIGO
UPDATE DB_CLIENTE_ALCADA
SET DB_CLIAL_STATUS = 1,
DB_CLIAL_USULIB = @V_CODIGO_USUARIO,
DB_CLIAL_DATALIB = GETDATE()
WHERE DB_CLIAL_CLIENTE = @VDB_CLI_CODIGO
AND DB_CLIAL_SEQ = (SELECT ISNULL(MAX(DB_CLIAL_SEQ), 1) FROM DB_CLIENTE_ALCADA WHERE DB_CLIAL_CLIENTE = @VDB_CLI_CODIGO)
END
ELSE IF @V_LIBERA_TOTAL = 0 AND @V_LIBERA_PARCIAL = 1
BEGIN
UPDATE DB_CLIENTE_ALCADA
SET DB_CLIAL_STATUS = 2,
DB_CLIAL_USULIB = @V_CODIGO_USUARIO,
DB_CLIAL_DATALIB = GETDATE()
WHERE DB_CLIAL_CLIENTE = @VDB_CLI_CODIGO
AND DB_CLIAL_SEQ = (SELECT ISNULL(MAX(DB_CLIAL_SEQ), 1) FROM DB_CLIENTE_ALCADA WHERE DB_CLIAL_CLIENTE = @VDB_CLI_CODIGO)
IF ISNULL(@VDB_ALCP_CODIGO, '') <> ''
BEGIN
INSERT INTO DB_CLIENTE_ALCADA
(DB_CLIAL_CLIENTE,
DB_CLIAL_SEQ,
DB_CLIAL_ALCADA,
DB_CLIAL_STATUS,
DB_CLIAL_USULIB
)
VALUES
(@VDB_CLI_CODIGO,
(SELECT ISNULL(MAX(DB_CLIAL_SEQ), 0) + 1 FROM DB_CLIENTE_ALCADA WHERE DB_CLIAL_CLIENTE = @VDB_CLI_CODIGO),
@VDB_ALCP_CODIGO,
0,
NULL
)
END
ELSE
BEGIN
INSERT INTO DBS_ERROS_TRIGGERS (DBS_ERROS_OBJETO,
DBS_ERROS_ERRO,
DBS_ERROS_DATA)
VALUES
('MERCP_LIBERACAO_CLIENTES',
'ERRO: ALCADA NAO ENCONTRADA PARA O CLIENTE '  + CAST(CAST(@VDB_CLI_CODIGO AS BIGINT) AS VARCHAR),
GETDATE())
END
END
UPDATE DB_CLIENTE
SET DB_CLI_LIB_USUS =  ISNULL(DB_CLI_LIB_USUS, '') +  @P_USUARIO + '!' + @VDB_ALCP_GRPALCADA + '!' +  REPLACE(CONVERT(VARCHAR, GETDATE(), 2), '.', '') + ';',
DB_CLI_DATA_ENVIO = NULL
WHERE DB_CLI_CODIGO = @VDB_CLI_CODIGO
UPDATE DB_CLIENTE_COMPL
SET DB_CLIC_AVALIADO = 0,
DB_CLIC_ACFATSLD = @P_ACFATSLD
WHERE DB_CLIC_COD = @VDB_CLI_CODIGO
END
ELSE
BEGIN
SET @V_PERMITE_ENCAMINHAR      = 0;
SET @V_ALCP_GRPALCADA_ANTERIOR = NULL;
SET @V_ALCP_CODIGO_ANTERIOR    = NULL;
SELECT @V_ALCP_GRPALCADA_ANTERIOR = DB_ALCP_GRPALCADA,
@V_ALCP_CODIGO_ANTERIOR = MAX(DB_ALCP_CODIGO)
FROM DB_ALCADA_PED A, DB_CLIENTE_ALCADA
WHERE DB_ALCP_CODIGO = DB_CLIAL_ALCADA
AND DB_CLIAL_CLIENTE = @PDB_CLI_CGCMF
GROUP BY DB_ALCP_GRPALCADA
DECLARE CUR_REPRES_TEMP CURSOR
FOR SELECT DB_CLIR_REPRES,
DB_CLIR_EMPRESA,
DB_CLI_RAMATIV,
DB_CLI_CLASCOM,
DB_CLI_REGIAOCOM,
DB_CLIR_TPPROD,
DB_CLIC_AREAATU
FROM DB_CLIENTE, DB_CLIENTE_REPRES, DB_CLIENTE_COMPL
WHERE DB_CLI_CODIGO = DB_CLIR_CLIENTE
AND DB_CLI_CODIGO = DB_CLIC_COD
AND (DB_CLI_CODIGO = @PDB_CLI_CGCMF OR DB_CLI_CGCMF = CAST(cast(@PDB_CLI_CGCMF as bigint) AS VARCHAR))
ORDER BY DB_CLIR_EMPRESA ASC
OPEN CUR_REPRES_TEMP
FETCH NEXT FROM CUR_REPRES_TEMP
INTO @VDB_CLIR_REPRES, @VDB_CLIR_EMPRESA, @VDB_CLIR_RAMO, @VDB_CLIR_CLASCOM, @VDB_CLI_REGIAOCOM, @VDB_CLIR_TPPROD, @V_CLI_AREAATU
WHILE @@FETCH_STATUS = 0
BEGIN
IF @VDB_ALCP_CODIGO IS NULL
BEGIN
BEGIN
DECLARE C	CURSOR
FOR SELECT DB_ALCP_CODIGO
FROM DB_ALCADA_PED
WHERE DB_ALCP_CODIGO IN (
SELECT DB_ALCP_CODIGO
FROM DB_ALCADA_PED
WHERE DBO.MERCF_VALIDA_LISTA(@VDB_CLIR_REPRES,	 DB_ALCP_LSTREP,    0, ',') > 0
AND DBO.MERCF_VALIDA_LISTA(@VDB_CLIR_EMPRESA,	 DB_ALCP_LSTEMP,    0, ',') > 0
AND DBO.MERCF_VALIDA_LISTA(@VDB_CLIR_RAMO,		 DB_ALCP_LSTRAMO,   0, ',') > 0
AND DBO.MERCF_VALIDA_LISTA(@VDB_CLIR_CLASCOM,	 DB_ALCP_LSTCLASS,  0, ',') > 0
AND DBO.MERCF_VALIDA_LISTA(@VDB_CLI_REGIAOCOM,	 DB_ALCP_LSTREGCOM, 0, ',') > 0
AND DBO.MERCF_VALIDA_LISTA(@VDB_CLIR_TPPROD,	 DB_ALCP_LSTTPPROD, 0, ',') > 0
AND DBO.MERCF_VALIDA_LISTA(@V_CLI_AREAATU,	     DB_ALCP_LSTAREAATU,0, ',') > 0
AND (DB_ALCP_GRPALCADA = @V_ALCP_GRPALCADA_ANTERIOR OR ISNULL(@V_ALCP_GRPALCADA_ANTERIOR, '') = '')
AND DB_ALCP_CODIGO NOT IN( SELECT DB_ALCP_CODIGO
FROM DB_ALCADA_PED A, DB_CLIENTE_ALCADA B
WHERE DB_ALCP_CODIGO = DB_CLIAL_ALCADA
AND DB_CLIAL_CLIENTE = @PDB_CLI_CGCMF)
AND DB_ALCP_TIPO = 2
)
ORDER BY DB_ALCP_GRPALCADA, DB_ALCP_GRUPOLIB, DB_ALCP_NIVELLIB
OPEN C
FETCH NEXT FROM C
INTO @V_ALCP_CODIGO_TEMP
BEGIN
IF @VDB_ALCP_CODIGO IS NULL
SET @VDB_ALCP_CODIGO = @V_ALCP_CODIGO_TEMP;
END
FETCH NEXT FROM C
INTO @V_ALCP_CODIGO_TEMP
END
CLOSE C
DEALLOCATE C
END
FETCH NEXT FROM CUR_REPRES_TEMP
INTO @VDB_CLIR_REPRES, @VDB_CLIR_EMPRESA, @VDB_CLIR_RAMO, @VDB_CLIR_CLASCOM, @VDB_CLI_REGIAOCOM, @VDB_CLIR_TPPROD, @V_CLI_AREAATU
END
CLOSE CUR_REPRES_TEMP
DEALLOCATE CUR_REPRES_TEMP
IF @P_ACAO = 2
BEGIN
IF  ISNULL(@VDB_ALCP_CODIGO, '') <> ''
BEGIN
SET @V_PERMITE_ENCAMINHAR = 1;
END
ELSE
BEGIN
SET @V_PERMITE_ENCAMINHAR = 0;
INSERT INTO DBS_ERROS_TRIGGERS (DBS_ERROS_OBJETO, DBS_ERROS_ERRO, DBS_ERROS_DATA)
VALUES
('MERCP_LIBERACAO_CLIENTES',
'NAO E POSSIVEL ENCAMINHAR, POIS USUARIO E O ULTIMO DA HIERARQUIA. USUARIO: ' + @P_USUARIO,
GETDATE())
END
END
IF ISNULL(@P_USUARIO, '') = '' OR 	@V_PERMITE_ENCAMINHAR = 1
BEGIN
SET @V_EXISTE = 0
SELECT @V_EXISTE = 1
FROM DB_CLIENTE_ALCADA
WHERE DB_CLIAL_CLIENTE = @PDB_CLI_CGCMF
SELECT @V_MAX_SEQ = MAX(DB_CLIAL_SEQ)
FROM DB_CLIENTE_ALCADA
WHERE DB_CLIAL_CLIENTE = @PDB_CLI_CGCMF
IF (@V_EXISTE = 0 OR @V_PERMITE_ENCAMINHAR = 1) AND ISNULL(@VDB_ALCP_CODIGO, '') <> ''
BEGIN
INSERT INTO DB_CLIENTE_ALCADA
(DB_CLIAL_CLIENTE,
DB_CLIAL_SEQ,
DB_CLIAL_ALCADA,
DB_CLIAL_STATUS,
DB_CLIAL_USULIB
)
VALUES
(@PDB_CLI_CGCMF,
(SELECT ISNULL(MAX(DB_CLIAL_SEQ), 0) + 1 FROM DB_CLIENTE_ALCADA WHERE DB_CLIAL_CLIENTE = @PDB_CLI_CGCMF),
@VDB_ALCP_CODIGO,
0,
NULL
)
END
IF @V_PERMITE_ENCAMINHAR = 1 AND ISNULL(@P_USUARIO, '') <> ''
BEGIN
UPDATE DB_CLIENTE_ALCADA
SET DB_CLIAL_STATUS = 2,
DB_CLIAL_USULIB = @V_CODIGO_USUARIO
WHERE DB_CLIAL_CLIENTE = @PDB_CLI_CGCMF
AND DB_CLIAL_SEQ = @V_MAX_SEQ
END
UPDATE DB_CLIENTE_COMPL SET DB_CLIC_ACFATSLD = @P_ACFATSLD WHERE DB_CLIC_COD = @PDB_CLI_CGCMF
END
END
END
END TRY
BEGIN CATCH
INSERT INTO DBS_ERROS_TRIGGERS (DBS_ERROS_OBJETO, DBS_ERROS_ERRO, DBS_ERROS_DATA)
VALUES
('MERCP_LIBERACAO_CLIENTES', 'ERRO: ' + ERROR_MESSAGE() + @P_USUARIO + ' - linha' + cast(ERROR_LINE() as varchar), GETDATE())
END CATCH
END
