CREATE  PROCEDURE MERCP_CALCULA_RECORRENCIA AS 
DECLARE
@V_CODIGO_AGENDAMENTO			INT,
@V_DATA_INICIAL					DATETIME,
@V_DATA_FINAL					DATETIME,
@V_TITULO						VARCHAR(80),
@V_OBSERVACAO					VARCHAR(1024),
@V_DIA_INTEIRO					INT,
@V_RECORRENTE					INT,
@V_TIPO_RECORRENCIA				VARCHAR(10),
@V_PERIODICIDADE				INT,
@V_DIA_SEMANA					INT,
@V_DATA_INICIO_RECORRENCIA		DATETIME,
@V_DATA_FIM_RECORRENCIA			DATETIME,
@V_PRAZO_RECORRENCIA			INT,
@V_NUMERO_RECORRENCIA			INT,
@V_SEM_PRAZO_RECORRENCIA		INT,
@V_CLIENTE						FLOAT,
@V_CODIGO_ATIVIDADE				VARCHAR(100),
@V_PERIODICIDADE_MENSAL_DIA		INT,
@V_PERIODICIDADE_MENSAL_DIA_INI INT,
@V_PERIODICIDADE_ANUAL_DIA		INT,
@V_PERIODICIDADE_ANUAL_DIA_INI	INT,
@V_PERIODICIDADE_ANUAL_MES		INT,
@V_DATA_ULTIMA_ATIVIDADE        DATETIME,
@V_DATA_ATE_INCLUIR		        DATETIME,
@V_AGENDA_NUMDIASGERAATIV       INT,
@V_SEQ							INT,
@V_DATA_FINAL_USUARIO			DATETIME,
@V_USUARIO						VARCHAR(100),
@V_PRIMEIRO						INT,
@V_COUNT_DIAS					INT,
@V_DATA_INICIO_SEMANA			DATETIME,
@V_DIA_DENTRO_DA_SEMANA			INT,
@V_DIA_MAXIMO					INT,
@V_DATA_TEMP					DATETIME;
BEGIN
BEGIN TRY
	SET @V_AGENDA_NUMDIASGERAATIV = 1
	SELECT @V_AGENDA_NUMDIASGERAATIV = DB_PRMS_VALOR                  
      FROM DB_PARAM_SISTEMA
     WHERE DB_PARAM_SISTEMA.DB_PRMS_ID = 'AGENDA_NUMERODIASOCO';
	 SET @V_DATA_ATE_INCLUIR = GETDATE() + @V_AGENDA_NUMDIASGERAATIV
	DECLARE C_ATIVIDADES CURSOR
	 FOR SELECT AT.CODIGO_AGENDAMENTO,			DATA_INICIAL,				AT.DATA_FINAL,					TITULO,							OBSERVACAO,					
				DIA_INTEIRO,					RECORRENTE,					TIPO_RECORRENCIA,				PERIODICIDADE,					DIA_SEMANA,					
				DATA_INICIO_RECORRENCIA,		DATA_FIM_RECORRENCIA,		PRAZO_RECORRENCIA,				NUMERO_RECORRENCIA,				SEM_PRAZO_RECORRENCIA,
				CLIENTE,						CODIGO_ATIVIDADE,			PERIODICIDADE_MENSAL_DIA,		PERIODICIDADE_MENSAL_DIA_INI,	PERIODICIDADE_ANUAL_DIA,
				PERIODICIDADE_ANUAL_DIA_INI,	PERIODICIDADE_ANUAL_MES,	USU.DATA_FINAL,					USUARIO
	       FROM DB_AG_ATIVIDADES AT, DB_AG_USUARIOS USU
		  WHERE SEM_PRAZO_RECORRENCIA = 1
		    AND RECORRENTE = 1
			AND USU.CODIGO_AGENDAMENTO = AT.CODIGO_AGENDAMENTO
			AND CAST(GETDATE() AS DATE) BETWEEN USU.DATA_INICIO AND isnull(USU.DATA_FINAL, getdate() + 100)
	 OPEN C_ATIVIDADES
	 FETCH NEXT FROM C_ATIVIDADES
	 INTO   @V_CODIGO_AGENDAMENTO,			@V_DATA_INICIAL,			@V_DATA_FINAL,					@V_TITULO,							@V_OBSERVACAO,
			@V_DIA_INTEIRO,					@V_RECORRENTE,				@V_TIPO_RECORRENCIA,			@V_PERIODICIDADE,					@V_DIA_SEMANA,					
			@V_DATA_INICIO_RECORRENCIA,		@V_DATA_FIM_RECORRENCIA,	@V_PRAZO_RECORRENCIA,			@V_NUMERO_RECORRENCIA,				@V_SEM_PRAZO_RECORRENCIA,
			@V_CLIENTE,						@V_CODIGO_ATIVIDADE,		@V_PERIODICIDADE_MENSAL_DIA,	@V_PERIODICIDADE_MENSAL_DIA_INI,	@V_PERIODICIDADE_ANUAL_DIA,
			@V_PERIODICIDADE_ANUAL_DIA_INI,	@V_PERIODICIDADE_ANUAL_MES, @V_DATA_FINAL_USUARIO,			@V_USUARIO
	 WHILE @@FETCH_STATUS = 0
	 BEGIN
		SELECT @V_SEQ = ISNULL(MAX(SEQUENCIA), 0)
		  FROM DB_ROTAS_CLIENTES
		 WHERE ROTA = @V_CODIGO_AGENDAMENTO
		   AND CODIGO_ATIVIDADE = @V_CODIGO_ATIVIDADE
		IF ISNULL(@V_SEQ, '') = '' OR @V_SEQ = 0
			SET @V_SEQ = 1
		SELECT @V_DATA_ULTIMA_ATIVIDADE = ISNULL(MAX(DATA), NULL)
		  FROM DB_ROTAS_CLIENTES
		 WHERE ROTA = @V_CODIGO_AGENDAMENTO
		   AND CODIGO_ATIVIDADE = @V_CODIGO_ATIVIDADE
		   --AND SEQUENCIA = @V_SEQ		
		IF @V_TIPO_RECORRENCIA = 1 -- DIARIA
		BEGIN
			IF ISNULL(@V_DATA_ULTIMA_ATIVIDADE, '') = ''
			BEGIN
				SET @V_DATA_ULTIMA_ATIVIDADE = @V_DATA_INICIO_RECORRENCIA
				SET @V_PRIMEIRO = 1;
			END
			ELSE
			BEGIN
				SET @V_DATA_ULTIMA_ATIVIDADE =  @V_DATA_ULTIMA_ATIVIDADE + @V_PERIODICIDADE
			END
			SET @V_DATA_INICIAL = CAST( CAST(YEAR(@V_DATA_ULTIMA_ATIVIDADE) AS VARCHAR) + '-' + CAST(MONTH(@V_DATA_ULTIMA_ATIVIDADE) AS VARCHAR) + '-' + CAST(DAY(@V_DATA_ULTIMA_ATIVIDADE) AS VARCHAR) + ' ' +
										CAST(DATEPART(HOUR, @V_DATA_INICIAL) AS VARCHAR) + ':' + CAST(DATEPART(MINUTE, @V_DATA_INICIAL) AS VARCHAR) + ':00' AS DATETIME)
			SET @V_DATA_FINAL = CAST( CAST(YEAR(@V_DATA_ULTIMA_ATIVIDADE) AS VARCHAR) + '-' + CAST(MONTH(@V_DATA_ULTIMA_ATIVIDADE) AS VARCHAR) + '-' + CAST(DAY(@V_DATA_ULTIMA_ATIVIDADE) AS VARCHAR) + ' ' +
										CAST(DATEPART(HOUR, @V_DATA_FINAL) AS VARCHAR) + ':' + CAST(DATEPART(MINUTE, @V_DATA_FINAL) AS VARCHAR) + ':00' AS DATETIME)
			IF @V_PERIODICIDADE > 1 AND @V_PRIMEIRO = 0
			BEGIN
				SET @V_DATA_INICIAL = @V_DATA_INICIAL + 1
				SET @V_DATA_FINAL = @V_DATA_FINAL + 1
				SET @V_PRIMEIRO = 0
			END
			WHILE 1 = 1
			BEGIN
				IF (ISNULL(@V_DATA_FINAL_USUARIO, '') <> '' AND CAST(@V_DATA_INICIAL AS DATE) > CAST(@V_DATA_FINAL_USUARIO AS DATE))
					BREAK;
				IF CAST(@V_DATA_INICIAL AS DATE) > CAST(@V_DATA_ATE_INCLUIR AS DATE)
					BREAK;				
				SET @V_SEQ = @V_SEQ + 1
				BEGIN TRY
					INSERT INTO	DB_ROTAS_CLIENTES (USUARIO, 
												   ROTA, 
												   CLIENTE, 
												   DATA, 
												   SEQUENCIA,
												   CAPTA_PEDIDOS, 
												   MANUAL,
												   EXCLUIDO, 
												   TITULO, 
												   OBSERVACAO, 
												   DIA_INTEIRO, 
												   DATA_FINAL, 
												   DATA_ATUALIZACAO, 
												   CODIGO_ATIVIDADE)
											VALUES
												  (@V_USUARIO,
												   @V_CODIGO_AGENDAMENTO,
												   @V_CLIENTE,
												   @V_DATA_INICIAL,
												   @V_SEQ,
												   0,
												   0, 
												   0,
												   @V_TITULO,
												   @V_OBSERVACAO,
												   @V_DIA_INTEIRO,
												   @V_DATA_FINAL,
												   GETDATE(),
												   @V_CODIGO_ATIVIDADE)
				END TRY
				BEGIN CATCH
				END CATCH
				SET @V_DATA_INICIAL = @V_DATA_INICIAL + @V_PERIODICIDADE
				SET @V_DATA_FINAL = @V_DATA_FINAL + @V_PERIODICIDADE
			END
		END
		ELSE IF @V_TIPO_RECORRENCIA = 2 --- SEMANAL
		BEGIN
			IF ISNULL(@V_DATA_ULTIMA_ATIVIDADE, '') = ''
			BEGIN
				SET @V_DATA_ULTIMA_ATIVIDADE = @V_DATA_INICIO_RECORRENCIA
				SET @V_PRIMEIRO = 1;
			END
			SET @V_DATA_INICIAL = CAST( CAST(YEAR(@V_DATA_ULTIMA_ATIVIDADE) AS VARCHAR) + '-' + CAST(MONTH(@V_DATA_ULTIMA_ATIVIDADE) AS VARCHAR) + '-' + CAST(DAY(@V_DATA_ULTIMA_ATIVIDADE) AS VARCHAR) + ' ' +
										CAST(DATEPART(HOUR, @V_DATA_INICIAL) AS VARCHAR) + ':' + CAST(DATEPART(MINUTE, @V_DATA_INICIAL) AS VARCHAR) + ':00' AS DATETIME)
			SET @V_DATA_FINAL = CAST( CAST(YEAR(@V_DATA_ULTIMA_ATIVIDADE) AS VARCHAR) + '-' + CAST(MONTH(@V_DATA_ULTIMA_ATIVIDADE) AS VARCHAR) + '-' + CAST(DAY(@V_DATA_ULTIMA_ATIVIDADE) AS VARCHAR) + ' ' +
										CAST(DATEPART(HOUR, @V_DATA_FINAL) AS VARCHAR) + ':' + CAST(DATEPART(MINUTE, @V_DATA_FINAL) AS VARCHAR) + ':00' AS DATETIME)
			SET DATEFIRST 7
			WHILE 1 = 1
			BEGIN
				SET @V_DATA_INICIO_SEMANA = DATEADD(DD, -(DATEPART(WEEKDAY, @V_DATA_INICIAL)-1), DATEADD(DD, DATEDIFF(DD, 0, @V_DATA_INICIAL), 0))
				IF (ISNULL(@V_DATA_FINAL_USUARIO, '') <> '' AND CAST(@V_DATA_INICIO_SEMANA AS DATE) > CAST(@V_DATA_FINAL_USUARIO AS DATE))
						BREAK;
				IF CAST(@V_DATA_INICIO_SEMANA AS DATE) > CAST(@V_DATA_ATE_INCLUIR AS DATE)
					BREAK;
				SET @V_COUNT_DIAS = 1;				
				WHILE @V_COUNT_DIAS <= 7
				BEGIN
					SET @V_DIA_DENTRO_DA_SEMANA = DATEPART(WEEKDAY, @V_DATA_INICIO_SEMANA)					
					IF @V_DIA_DENTRO_DA_SEMANA = 1
						SET @V_DIA_DENTRO_DA_SEMANA = 7
					ELSE
						SET @V_DIA_DENTRO_DA_SEMANA = @V_DIA_DENTRO_DA_SEMANA - 1
					IF CHARINDEX(CAST(@V_DIA_DENTRO_DA_SEMANA AS VARCHAR), CAST(@V_DIA_SEMANA AS VARCHAR)) > 0
					BEGIN
						IF CAST(@V_DATA_INICIO_SEMANA AS DATE) > CAST(@V_DATA_ULTIMA_ATIVIDADE AS DATE)
						BEGIN
							SET @V_DATA_INICIAL = CAST( CAST(YEAR(@V_DATA_INICIO_SEMANA) AS VARCHAR) + '-' + CAST(MONTH(@V_DATA_INICIO_SEMANA) AS VARCHAR) + '-' + CAST(DAY(@V_DATA_INICIO_SEMANA) AS VARCHAR) + ' ' +
										CAST(DATEPART(HOUR, @V_DATA_INICIAL) AS VARCHAR) + ':' + CAST(DATEPART(MINUTE, @V_DATA_INICIAL) AS VARCHAR) + ':00' AS DATETIME)
							SET @V_DATA_FINAL = CAST( CAST(YEAR(@V_DATA_INICIO_SEMANA) AS VARCHAR) + '-' + CAST(MONTH(@V_DATA_INICIO_SEMANA) AS VARCHAR) + '-' + CAST(DAY(@V_DATA_INICIO_SEMANA) AS VARCHAR) + ' ' +
														CAST(DATEPART(HOUR, @V_DATA_FINAL) AS VARCHAR) + ':' + CAST(DATEPART(MINUTE, @V_DATA_FINAL) AS VARCHAR) + ':00' AS DATETIME)
						IF (ISNULL(@V_DATA_FINAL_USUARIO, '') <> '' AND CAST(@V_DATA_INICIAL AS DATE) > CAST(@V_DATA_FINAL_USUARIO AS DATE))						
							BREAK;						
						IF CAST(@V_DATA_INICIAL AS DATE) > CAST(@V_DATA_ATE_INCLUIR AS DATE)						
							BREAK;						
							SET @V_SEQ = @V_SEQ + 1
							BEGIN TRY
								INSERT INTO	DB_ROTAS_CLIENTES (USUARIO,  ROTA,  CLIENTE, DATA, SEQUENCIA, CAPTA_PEDIDOS, MANUAL, EXCLUIDO, TITULO, OBSERVACAO, DIA_INTEIRO, DATA_FINAL, DATA_ATUALIZACAO, CODIGO_ATIVIDADE)
														VALUES(@V_USUARIO, @V_CODIGO_AGENDAMENTO,@V_CLIENTE,@V_DATA_INICIAL,@V_SEQ,0,0, 0,@V_TITULO,@V_OBSERVACAO,@V_DIA_INTEIRO,@V_DATA_FINAL,GETDATE(),@V_CODIGO_ATIVIDADE)
							END TRY
							BEGIN CATCH
							END CATCH
						END
					END
					SET @V_DATA_INICIO_SEMANA = @V_DATA_INICIO_SEMANA + 1
					SET @V_COUNT_DIAS = @V_COUNT_DIAS + 1					
				END
				SET @V_DATA_INICIAL = @V_DATA_INICIAL + (@V_PERIODICIDADE * 7)
			END
		END 
		ELSE IF @V_TIPO_RECORRENCIA = 3 --- MENSAL
		BEGIN
			IF ISNULL(@V_DATA_ULTIMA_ATIVIDADE, '') = ''
			BEGIN
				SET @V_DATA_ULTIMA_ATIVIDADE = @V_DATA_INICIO_RECORRENCIA				
			END
			ELSE
			BEGIN
				SET  @V_DATA_ULTIMA_ATIVIDADE  = DATEADD(M, 1 * @V_PERIODICIDADE, @V_DATA_ULTIMA_ATIVIDADE)
			END
			SET @V_DATA_INICIAL = CAST( CAST(YEAR(@V_DATA_ULTIMA_ATIVIDADE) AS VARCHAR) + '-' + CAST(MONTH(@V_DATA_ULTIMA_ATIVIDADE) AS VARCHAR) + '-' + CAST(DAY(@V_DATA_ULTIMA_ATIVIDADE) AS VARCHAR) + ' ' +
										CAST(DATEPART(HOUR, @V_DATA_INICIAL) AS VARCHAR) + ':' + CAST(DATEPART(MINUTE, @V_DATA_INICIAL) AS VARCHAR) + ':00' AS DATETIME)
			SET @V_DATA_FINAL = CAST( CAST(YEAR(@V_DATA_ULTIMA_ATIVIDADE) AS VARCHAR) + '-' + CAST(MONTH(@V_DATA_ULTIMA_ATIVIDADE) AS VARCHAR) + '-' + CAST(DAY(@V_DATA_ULTIMA_ATIVIDADE) AS VARCHAR) + ' ' +
										CAST(DATEPART(HOUR, @V_DATA_FINAL) AS VARCHAR) + ':' + CAST(DATEPART(MINUTE, @V_DATA_FINAL) AS VARCHAR) + ':00' AS DATETIME)
			WHILE 1 = 1
			BEGIN
				IF (ISNULL(@V_DATA_FINAL_USUARIO, '') <> '' AND CAST(@V_DATA_INICIAL AS DATE) > CAST(@V_DATA_FINAL_USUARIO AS DATE))
					BREAK;
				IF CAST(@V_DATA_INICIAL AS DATE) > CAST(@V_DATA_ATE_INCLUIR AS DATE)
					BREAK;
				IF @V_PERIODICIDADE_MENSAL_DIA <> 0 AND @V_PERIODICIDADE_MENSAL_DIA_INI <> 0
				BEGIN
					IF @V_PERIODICIDADE_MENSAL_DIA = 1 -- 1 = DIA
					BEGIN
						IF @V_PERIODICIDADE_MENSAL_DIA_INI = 5 --- 5 ULTIMO
							SET @V_DATA_TEMP = DATEADD(DAY, -1, DATEADD(MONTH, 1, DATEADD(DAY, 1 - DAY(@V_DATA_INICIAL), @V_DATA_INICIAL)))
						ELSE
							SET @V_DATA_TEMP =  CAST( CAST(YEAR(@V_DATA_INICIAL) AS VARCHAR) + '-' + CAST(MONTH(@V_DATA_INICIAL) AS VARCHAR) + '-' + CAST(@V_PERIODICIDADE_MENSAL_DIA_INI AS VARCHAR) + ' ' +
										CAST(DATEPART(HOUR, @V_DATA_INICIAL) AS VARCHAR) + ':' + CAST(DATEPART(MINUTE, @V_DATA_INICIAL) AS VARCHAR) + ':00' AS DATETIME)
						IF CAST(@V_DATA_TEMP AS DATE) < CAST(GETDATE() AS DATE)
							SET @V_DATA_TEMP =  DATEADD(MM, 1, @V_DATA_TEMP)
						SET @V_DATA_INICIAL = CAST( CAST(YEAR(@V_DATA_TEMP) AS VARCHAR) + '-' + CAST(MONTH(@V_DATA_TEMP) AS VARCHAR) + '-' + CAST(DAY(@V_DATA_TEMP) AS VARCHAR) + ' ' +
											CAST(DATEPART(HOUR, @V_DATA_INICIAL) AS VARCHAR) + ':' + CAST(DATEPART(MINUTE, @V_DATA_INICIAL) AS VARCHAR) + ':00' AS DATETIME)
						SET @V_DATA_FINAL = CAST( CAST(YEAR(@V_DATA_TEMP) AS VARCHAR) + '-' + CAST(MONTH(@V_DATA_TEMP) AS VARCHAR) + '-' + CAST(DAY(@V_DATA_TEMP) AS VARCHAR) + ' ' +
										CAST(DATEPART(HOUR, @V_DATA_FINAL) AS VARCHAR) + ':' + CAST(DATEPART(MINUTE, @V_DATA_FINAL) AS VARCHAR) + ':00' AS DATETIME)
					END
					ELSE
					BEGIN
						EXEC DBO.MERCP_BUSCA_DATA_DIA_SEMANA @V_DATA_INICIAL, @V_PERIODICIDADE_MENSAL_DIA, @V_PERIODICIDADE_MENSAL_DIA_INI, @V_DATA_TEMP OUTPUT						
						IF CAST(@V_DATA_TEMP AS DATE) < CAST(GETDATE() AS DATE)
						BEGIN							
							SET @V_DATA_TEMP =  DATEADD(MM, 1, @V_DATA_TEMP)
						    EXEC DBO.MERCP_BUSCA_DATA_DIA_SEMANA @V_DATA_TEMP, @V_PERIODICIDADE_MENSAL_DIA, @V_PERIODICIDADE_MENSAL_DIA_INI, @V_DATA_TEMP OUTPUT						
						END
					END
					SET @V_DATA_INICIAL = CAST( CAST(YEAR(@V_DATA_TEMP) AS VARCHAR) + '-' + CAST(MONTH(@V_DATA_TEMP) AS VARCHAR) + '-' + CAST(DAY(@V_DATA_TEMP) AS VARCHAR) + ' ' +
										CAST(DATEPART(HOUR, @V_DATA_INICIAL) AS VARCHAR) + ':' + CAST(DATEPART(MINUTE, @V_DATA_INICIAL) AS VARCHAR) + ':00' AS DATETIME)
					SET @V_DATA_FINAL = CAST( CAST(YEAR(@V_DATA_TEMP) AS VARCHAR) + '-' + CAST(MONTH(@V_DATA_TEMP) AS VARCHAR) + '-' + CAST(DAY(@V_DATA_TEMP) AS VARCHAR) + ' ' +
										CAST(DATEPART(HOUR, @V_DATA_FINAL) AS VARCHAR) + ':' + CAST(DATEPART(MINUTE, @V_DATA_FINAL) AS VARCHAR) + ':00' AS DATETIME)
				END
				ELSE
				BEGIN
					IF DAY(@V_DATA_INICIAL) < @V_PERIODICIDADE_MENSAL_DIA
					BEGIN
						SET @V_DIA_MAXIMO = DAY(DATEADD(DAY, -1, DATEADD(MONTH, 1, DATEADD(DAY, 1 - DAY(@V_DATA_INICIAL), @V_DATA_INICIAL))))						
						IF @V_PERIODICIDADE_MENSAL_DIA > @V_DIA_MAXIMO
						BEGIN
							SET @V_DATA_INICIAL = CAST( CAST(YEAR(@V_DATA_INICIAL) AS VARCHAR) + '-' + CAST(MONTH(@V_DATA_INICIAL) AS VARCHAR) + '-' + CAST(@V_DIA_MAXIMO AS VARCHAR) + ' ' +
										CAST(DATEPART(HOUR, @V_DATA_INICIAL) AS VARCHAR) + ':' + CAST(DATEPART(MINUTE, @V_DATA_INICIAL) AS VARCHAR) + ':00' AS DATETIME)
							SET @V_DATA_FINAL = CAST( CAST(YEAR(@V_DATA_FINAL) AS VARCHAR) + '-' + CAST(MONTH(@V_DATA_FINAL) AS VARCHAR) + '-' + CAST(@V_DIA_MAXIMO AS VARCHAR) + ' ' +
										CAST(DATEPART(HOUR, @V_DATA_FINAL) AS VARCHAR) + ':' + CAST(DATEPART(MINUTE, @V_DATA_FINAL) AS VARCHAR) + ':00' AS DATETIME)
						END
						ELSE
						BEGIN
							SET @V_DATA_INICIAL = CAST( CAST(YEAR(@V_DATA_INICIAL) AS VARCHAR) + '-' + CAST(MONTH(@V_DATA_INICIAL) AS VARCHAR) + '-' + CAST(@V_PERIODICIDADE_MENSAL_DIA AS VARCHAR) + ' ' +
										CAST(DATEPART(HOUR, @V_DATA_INICIAL) AS VARCHAR) + ':' + CAST(DATEPART(MINUTE, @V_DATA_INICIAL) AS VARCHAR) + ':00' AS DATETIME)
							SET @V_DATA_FINAL = CAST( CAST(YEAR(@V_DATA_FINAL) AS VARCHAR) + '-' + CAST(MONTH(@V_DATA_FINAL) AS VARCHAR) + '-' + CAST(@V_PERIODICIDADE_MENSAL_DIA AS VARCHAR) + ' ' +
										CAST(DATEPART(HOUR, @V_DATA_FINAL) AS VARCHAR) + ':' + CAST(DATEPART(MINUTE, @V_DATA_FINAL) AS VARCHAR) + ':00' AS DATETIME)
						END
					END
					ELSE
					BEGIN
						SET @V_DATA_INICIAL = CAST( CAST(YEAR(@V_DATA_INICIAL) AS VARCHAR) + '-' + CAST(MONTH(@V_DATA_INICIAL) AS VARCHAR) + '-' + CAST(@V_PERIODICIDADE_MENSAL_DIA AS VARCHAR) + ' ' +
										CAST(DATEPART(HOUR, @V_DATA_INICIAL) AS VARCHAR) + ':' + CAST(DATEPART(MINUTE, @V_DATA_INICIAL) AS VARCHAR) + ':00' AS DATETIME)
						SET @V_DATA_FINAL = CAST( CAST(YEAR(@V_DATA_FINAL) AS VARCHAR) + '-' + CAST(MONTH(@V_DATA_FINAL) AS VARCHAR) + '-' + CAST(@V_PERIODICIDADE_MENSAL_DIA AS VARCHAR) + ' ' +
										CAST(DATEPART(HOUR, @V_DATA_FINAL) AS VARCHAR) + ':' + CAST(DATEPART(MINUTE, @V_DATA_FINAL) AS VARCHAR) + ':00' AS DATETIME)
					END
				END
				SET @V_SEQ = @V_SEQ + 1
				BEGIN TRY
					INSERT INTO	DB_ROTAS_CLIENTES (USUARIO,  ROTA,  CLIENTE, DATA, SEQUENCIA, CAPTA_PEDIDOS, MANUAL, EXCLUIDO, TITULO, OBSERVACAO, DIA_INTEIRO, DATA_FINAL, DATA_ATUALIZACAO, CODIGO_ATIVIDADE)
														VALUES(@V_USUARIO, @V_CODIGO_AGENDAMENTO,@V_CLIENTE,@V_DATA_INICIAL,@V_SEQ,0,0, 0,@V_TITULO,@V_OBSERVACAO,@V_DIA_INTEIRO,@V_DATA_FINAL,GETDATE(),@V_CODIGO_ATIVIDADE)
				END TRY
				BEGIN CATCH
				END CATCH
				SET  @V_DATA_INICIAL  = DATEADD(M, 1 * @V_PERIODICIDADE, @V_DATA_INICIAL)
				SET  @V_DATA_FINAL  = DATEADD(M, 1 * @V_PERIODICIDADE, @V_DATA_FINAL)
			END
		END
		ELSE IF @V_TIPO_RECORRENCIA = 4 --- ANUAL
		BEGIN
			IF ISNULL(@V_DATA_ULTIMA_ATIVIDADE, '') = ''
			BEGIN
				SET @V_DATA_ULTIMA_ATIVIDADE = @V_DATA_INICIO_RECORRENCIA				
			END
			ELSE
			BEGIN
				SET  @V_DATA_ULTIMA_ATIVIDADE  = DATEADD(YY, 1 * @V_PERIODICIDADE, @V_DATA_ULTIMA_ATIVIDADE)
			END
			SET @V_DATA_INICIAL = CAST( CAST(YEAR(@V_DATA_ULTIMA_ATIVIDADE) AS VARCHAR) + '-' + CAST(MONTH(@V_DATA_ULTIMA_ATIVIDADE) AS VARCHAR) + '-' + CAST(DAY(@V_DATA_ULTIMA_ATIVIDADE) AS VARCHAR) + ' ' +
										CAST(DATEPART(HOUR, @V_DATA_INICIAL) AS VARCHAR) + ':' + CAST(DATEPART(MINUTE, @V_DATA_INICIAL) AS VARCHAR) + ':00' AS DATETIME)
			SET @V_DATA_FINAL = CAST( CAST(YEAR(@V_DATA_ULTIMA_ATIVIDADE) AS VARCHAR) + '-' + CAST(MONTH(@V_DATA_ULTIMA_ATIVIDADE) AS VARCHAR) + '-' + CAST(DAY(@V_DATA_ULTIMA_ATIVIDADE) AS VARCHAR) + ' ' +
										CAST(DATEPART(HOUR, @V_DATA_FINAL) AS VARCHAR) + ':' + CAST(DATEPART(MINUTE, @V_DATA_FINAL) AS VARCHAR) + ':00' AS DATETIME)
			WHILE 1 = 1
			BEGIN
				IF (ISNULL(@V_DATA_FINAL_USUARIO, '') <> '' AND CAST(@V_DATA_INICIAL AS DATE) > CAST(@V_DATA_FINAL_USUARIO AS DATE))
					BREAK;
				IF CAST(@V_DATA_INICIAL AS DATE) > CAST(@V_DATA_ATE_INCLUIR AS DATE)
					BREAK;
				IF @V_PERIODICIDADE_ANUAL_DIA <> 0 AND @V_PERIODICIDADE_ANUAL_DIA_INI <> 0 AND @V_PERIODICIDADE_ANUAL_MES <> 0
				BEGIN
					SET @V_DATA_INICIAL = CAST( CAST(YEAR(@V_DATA_INICIAL) AS VARCHAR) + '-' + CAST(@V_PERIODICIDADE_ANUAL_MES AS VARCHAR) + '-' + CAST(DAY(@V_DATA_INICIAL) AS VARCHAR) + ' ' +
										CAST(DATEPART(HOUR, @V_DATA_INICIAL) AS VARCHAR) + ':' + CAST(DATEPART(MINUTE, @V_DATA_INICIAL) AS VARCHAR) + ':00' AS DATETIME)
					IF @V_PERIODICIDADE_ANUAL_DIA = 1 -- 1 = DIA
					BEGIN
						IF @V_PERIODICIDADE_ANUAL_DIA_INI = 5 --- 5 ULTIMO
							SET @V_DATA_TEMP = DATEADD(DAY, -1, DATEADD(MONTH, 1, DATEADD(DAY, 1 - DAY(@V_DATA_INICIAL), @V_DATA_INICIAL)))
						ELSE
							SET @V_DATA_TEMP =  CAST( CAST(YEAR(@V_DATA_INICIAL) AS VARCHAR) + '-' + CAST(@V_PERIODICIDADE_ANUAL_MES AS VARCHAR) + '-' + CAST(@V_PERIODICIDADE_MENSAL_DIA_INI AS VARCHAR) + ' ' +
										CAST(DATEPART(HOUR, @V_DATA_INICIAL) AS VARCHAR) + ':' + CAST(DATEPART(MINUTE, @V_DATA_INICIAL) AS VARCHAR) + ':00' AS DATETIME)
						IF CAST(@V_DATA_TEMP AS DATE) < CAST(GETDATE() AS DATE)
							SET @V_DATA_TEMP =  DATEADD(YY, 1, @V_DATA_TEMP)
						SET @V_DATA_INICIAL = CAST( CAST(YEAR(@V_DATA_TEMP) AS VARCHAR) + '-' + CAST(MONTH(@V_DATA_TEMP) AS VARCHAR) + '-' + CAST(DAY(@V_DATA_TEMP) AS VARCHAR) + ' ' +
											CAST(DATEPART(HOUR, @V_DATA_INICIAL) AS VARCHAR) + ':' + CAST(DATEPART(MINUTE, @V_DATA_INICIAL) AS VARCHAR) + ':00' AS DATETIME)
						SET @V_DATA_FINAL = CAST( CAST(YEAR(@V_DATA_TEMP) AS VARCHAR) + '-' + CAST(MONTH(@V_DATA_TEMP) AS VARCHAR) + '-' + CAST(DAY(@V_DATA_TEMP) AS VARCHAR) + ' ' +
										CAST(DATEPART(HOUR, @V_DATA_FINAL) AS VARCHAR) + ':' + CAST(DATEPART(MINUTE, @V_DATA_FINAL) AS VARCHAR) + ':00' AS DATETIME)
					END
					ELSE
					BEGIN
						EXEC DBO.MERCP_BUSCA_DATA_DIA_SEMANA @V_DATA_INICIAL, @V_PERIODICIDADE_ANUAL_DIA, @V_PERIODICIDADE_ANUAL_DIA_INI, @V_DATA_TEMP OUTPUT						
						IF CAST(@V_DATA_TEMP AS DATE) < CAST(GETDATE() AS DATE)
						BEGIN							
							SET @V_DATA_TEMP =  DATEADD(YY, 1, @V_DATA_TEMP)
						    EXEC DBO.MERCP_BUSCA_DATA_DIA_SEMANA @V_DATA_TEMP, @V_PERIODICIDADE_ANUAL_DIA, @V_PERIODICIDADE_ANUAL_DIA_INI, @V_DATA_TEMP OUTPUT													
						END
						SET @V_DATA_INICIAL = CAST( CAST(YEAR(@V_DATA_TEMP) AS VARCHAR) + '-' + CAST(MONTH(@V_DATA_TEMP) AS VARCHAR) + '-' + CAST(DAY(@V_DATA_TEMP) AS VARCHAR) + ' ' +
										CAST(DATEPART(HOUR, @V_DATA_INICIAL) AS VARCHAR) + ':' + CAST(DATEPART(MINUTE, @V_DATA_INICIAL) AS VARCHAR) + ':00' AS DATETIME)
						SET @V_DATA_FINAL = CAST( CAST(YEAR(@V_DATA_TEMP) AS VARCHAR) + '-' + CAST(MONTH(@V_DATA_TEMP) AS VARCHAR) + '-' + CAST(DAY(@V_DATA_TEMP) AS VARCHAR) + ' ' +
											CAST(DATEPART(HOUR, @V_DATA_FINAL) AS VARCHAR) + ':' + CAST(DATEPART(MINUTE, @V_DATA_FINAL) AS VARCHAR) + ':00' AS DATETIME)
					END
				END
				ELSE
				BEGIN
					SET @V_DATA_TEMP =  CAST( CAST(YEAR(@V_DATA_INICIAL) AS VARCHAR) + '-' + CAST(@V_PERIODICIDADE_ANUAL_MES AS VARCHAR) + '-' + CAST(@V_PERIODICIDADE_ANUAL_DIA AS VARCHAR) + ' ' +
											CAST(DATEPART(HOUR, @V_DATA_INICIAL) AS VARCHAR) + ':' + CAST(DATEPART(MINUTE, @V_DATA_INICIAL) AS VARCHAR) + ':00' AS DATETIME)
					IF CAST(@V_DATA_TEMP AS DATE) < CAST(GETDATE() AS DATE)
						SET @V_DATA_TEMP = DATEADD(Y, 1, @V_DATA_TEMP)
					SET @V_DATA_INICIAL = CAST( CAST(YEAR(@V_DATA_TEMP) AS VARCHAR) + '-' + CAST(MONTH(@V_DATA_TEMP) AS VARCHAR) + '-' + CAST(DAY(@V_DATA_TEMP) AS VARCHAR) + ' ' +
										CAST(DATEPART(HOUR, @V_DATA_INICIAL) AS VARCHAR) + ':' + CAST(DATEPART(MINUTE, @V_DATA_INICIAL) AS VARCHAR) + ':00' AS DATETIME)
					SET @V_DATA_FINAL = CAST( CAST(YEAR(@V_DATA_TEMP) AS VARCHAR) + '-' + CAST(MONTH(@V_DATA_TEMP) AS VARCHAR) + '-' + CAST(DAY(@V_DATA_TEMP) AS VARCHAR) + ' ' +
											CAST(DATEPART(HOUR, @V_DATA_FINAL) AS VARCHAR) + ':' + CAST(DATEPART(MINUTE, @V_DATA_FINAL) AS VARCHAR) + ':00' AS DATETIME)
				END
				SET @V_SEQ = @V_SEQ + 1
				BEGIN TRY
					INSERT INTO	DB_ROTAS_CLIENTES (USUARIO,  ROTA,  CLIENTE, DATA, SEQUENCIA, CAPTA_PEDIDOS, MANUAL, EXCLUIDO, TITULO, OBSERVACAO, DIA_INTEIRO, DATA_FINAL, DATA_ATUALIZACAO, CODIGO_ATIVIDADE)
															VALUES(@V_USUARIO, @V_CODIGO_AGENDAMENTO,@V_CLIENTE,@V_DATA_INICIAL,@V_SEQ,0,0, 0,@V_TITULO,@V_OBSERVACAO,@V_DIA_INTEIRO,@V_DATA_FINAL,GETDATE(),@V_CODIGO_ATIVIDADE)
				END TRY
				BEGIN CATCH
				END CATCH
				SET  @V_DATA_INICIAL  = DATEADD(YY, 1 * @V_PERIODICIDADE, @V_DATA_INICIAL)
				SET  @V_DATA_FINAL  = DATEADD(YY, 1 * @V_PERIODICIDADE, @V_DATA_FINAL)
			END
		END
	FETCH NEXT FROM C_ATIVIDADES
	INTO	@V_CODIGO_AGENDAMENTO,			@V_DATA_INICIAL,			@V_DATA_FINAL,					@V_TITULO,							@V_OBSERVACAO,
			@V_DIA_INTEIRO,					@V_RECORRENTE,				@V_TIPO_RECORRENCIA,			@V_PERIODICIDADE,					@V_DIA_SEMANA,					
			@V_DATA_INICIO_RECORRENCIA,		@V_DATA_FIM_RECORRENCIA,	@V_PRAZO_RECORRENCIA,			@V_NUMERO_RECORRENCIA,				@V_SEM_PRAZO_RECORRENCIA,
			@V_CLIENTE,						@V_CODIGO_ATIVIDADE,		@V_PERIODICIDADE_MENSAL_DIA,	@V_PERIODICIDADE_MENSAL_DIA_INI,	@V_PERIODICIDADE_ANUAL_DIA,
			@V_PERIODICIDADE_ANUAL_DIA_INI,	@V_PERIODICIDADE_ANUAL_MES, @V_DATA_FINAL_USUARIO,			@V_USUARIO
	END
	CLOSE C_ATIVIDADES
	DEALLOCATE C_ATIVIDADES
END TRY
BEGIN CATCH
	INSERT INTO DBS_ERROS_TRIGGERS (DBS_ERROS_OBJETO, DBS_ERROS_ERRO, DBS_ERROS_DATA)
							 VALUES
								   ('MERCP_CANCELAPEDIDOSMOBILE', 'ERRO: ' + ERROR_MESSAGE(), GETDATE())
END CATCH
END
