ALTER PROCEDURE [dbo].[MERCP_CLIENTE_SITMOBILE](@POPC_SCOMPRA           INT,
                                                @PNDIAS_SCOMPRA         INT,
                                                @PNDIAS_ATRASO          INT,
                                                @PCOD_RESTRICAO_SCOMPRA INT,
                                                @PCOD_RESTRICAO_ATRASO  INT
                                               ) AS

BEGIN

DECLARE @VOBJETO        VARCHAR(1000) SELECT @VOBJETO = 'MERCP_CLIENTE_SITMOBILE';
DECLARE @VERRO          VARCHAR(1000);
DECLARE	@VCOD_ERRO      VARCHAR(1000);
DECLARE @VDATA          DATETIME SELECT @VDATA = GETDATE();
DECLARE @VDATA_ATU      DATETIME;
DECLARE @VDATA_INICIAL  DATETIME;
DECLARE @VCOMPROU       INT;
DECLARE @VATRASO        INT;
DECLARE @VCOR           VARCHAR(12);
DECLARE @VCOD_RESTRICAO INT;
DECLARE @VDB_CLI_CODIGO FLOAT;

-----------------------------------------------------------------------------------------------------------------------------------------
---  VERSAO   DATA        AUTOR  ALTERACAO
---  1.00000  16/05/2016  JAIME  DESENVOLVIMENTO - ROTINA CRIADA PARA VERIFICAR SE CLIENTE COMPROU NOS ULTIMOS NN DIAS
---                              SE NAO COMPROU SETA A COR NO CLIENTE PARA QUE SEJA DESTACADO NO MOBILE
---                              VOPC_SCOMPRA = 0 VALIDA NN DIAS SEM COMPRA CONFORME PARAMETRO VNDIAS_SCOMPRA
---                              VOPC_SCOMPRA = 1 CONSIDERA CLIENTES SEM COMPRA NO MES ATUAL E DESCONSIDERA PARAMENTO VNDIAS_SCOMPRA
-----------------------------------------------------------------------------------------------------------------------------------------

SET @VDATA_ATU = GETDATE();

IF @POPC_SCOMPRA = 0
BEGIN
   SET @VDATA_INICIAL = GETDATE() - @PNDIAS_SCOMPRA;
END
ELSE
BEGIN
   SET @VDATA_INICIAL = CONVERT(VARCHAR(25), GETDATE() - DATEPART (DAY, GETDATE() - 1), 23);
END;

DECLARE CUR_CLIENTE CURSOR
FOR SELECT DB_CLI_CODIGO
      FROM DB_CLIENTE
      OPEN CUR_CLIENTE
     FETCH NEXT FROM CUR_CLIENTE
      INTO @VDB_CLI_CODIGO
    WHILE @@FETCH_STATUS = 0
    BEGIN

      SET @VCOMPROU = 0;
      SET @VATRASO = 0;
      -- BUSCA DATA DA ULIMA NOTA
      IF @POPC_SCOMPRA = 0 OR @POPC_SCOMPRA = 1
      BEGIN

         SELECT @VCOMPROU = COUNT(*)
           FROM DB_NOTA_FISCAL 
          WHERE DB_NOTA_CLIENTE     = @VDB_CLI_CODIGO
            AND DB_NOTA_DT_EMISSAO >= @VDATA_INICIAL
            AND DB_NOTA_FATUR       = 0;
      END;

    -- BUSCA TITULOS ATRASO
    IF @VATRASO > -1
    BEGIN
       SELECT @VATRASO = COUNT(*)
         FROM MCR01
        WHERE CR01_CLIENTE  = @VDB_CLI_CODIGO
          AND CR01_DTVCTO   < GETDATE() - @PNDIAS_ATRASO
          AND CR01_SALDO    > 0
          AND CR01_DC       = 1
          AND CR01_TIPODOC IN ('DP');
    END;

    SET @VCOR = '';
    SET @VCOD_RESTRICAO = 0;

    IF ISNULL(@VATRASO,0) > 0
	BEGIN
        SET @VCOR = '#ae240d';
        SET @VCOD_RESTRICAO = @PCOD_RESTRICAO_ATRASO;
	END
    ELSE
	BEGIN
       IF ISNULL(@VCOMPROU,0) = 0
	   BEGIN
          SET @VCOR = '#7d840b';
          SET @VCOD_RESTRICAO = @PCOD_RESTRICAO_SCOMPRA;
       END;
    END;

    UPDATE DB_CLIENTE_COMPL
       SET DB_CLIC_RESTRICAO = @VCOD_RESTRICAO,
           DB_CLIC_COR       = @VCOR
     WHERE DB_CLIC_COD = @VDB_CLI_CODIGO;
    SET @VCOD_ERRO = @@ERROR;
    IF @VCOD_ERRO > 0
    BEGIN
       SET @VERRO = 'ERRO UPDATE DB_CLIENTE_COMPL: ' + CAST(@VDB_CLI_CODIGO AS VARCHAR);
    END

     FETCH NEXT FROM CUR_CLIENTE
      INTO @VDB_CLI_CODIGO
    END;
     CLOSE CUR_CLIENTE
DEALLOCATE CUR_CLIENTE

IF @VERRO IS NOT NULL
BEGIN
   INSERT INTO DBS_ERROS_TRIGGERS (DBS_ERROS_ERRO, DBS_ERROS_DATA, DBS_ERROS_OBJETO) VALUES (@VERRO, @VDATA, @VOBJETO);
END

END
