ALTER PROCEDURE [DBO].[MERCP_CALCULA_CLIENTE_CREDITO] AS
DECLARE  @VOBJETO                         VARCHAR(1000) = 'MERCP_CALCULA_CLIENTE_CREDITO';
DECLARE  @VERRO                           VARCHAR(1000);
DECLARE  @VDATA                           DATE = GETDATE();
DECLARE  @V_EXISTE                        INT;
DECLARE  @VDATA_ATU                       DATE;
DECLARE  @VDB_PRM_AN_CRED                 SMALLINT;
DECLARE  @VDB_PRM_DATA_POSCR              DATETIME;
DECLARE  @VDB_PRM_DD_CREDITO              INT;
DECLARE  @VESPECIAL_CLIEN                 INT;
DECLARE  @VESPECIALAVALIACREDITO_CLIEN    FLOAT;
DECLARE  @VESPECIALCRITERIOSCREDITO_CLIE  varchar(10);
DECLARE  @VVALORPEDIDOSEMABERTO_CLIEN     FLOAT;
DECLARE  @VVALORTITULOSEMABERTO_CLIEN     FLOAT;
DECLARE  @VVALORTITULOSEMATRASO_CLIEN     FLOAT;
DECLARE  @VALORJUROSEMATRASO_CLIEN        FLOAT;
DECLARE @VDB_CLI_CODIGO                   FLOAT;
DECLARE @VDB_CLI_VINCULO                  FLOAT;
DECLARE @VDB_CLI_LIM_CREDAP               FLOAT;
DECLARE @VDB_CLI_CGCMF					  VARCHAR(19);
DECLARE @VCOD_ERRO      				  INT;
DECLARE @VDB_CLICR_DTULTFATUR             DATETIME;
DECLARE @V_AVALIACAOLIMCREDITO            VARCHAR(1);
DECLARE @V_ATRASO_MEDIO                   FLOAT;
DECLARE @V_CLI_TIPO_PESSOA                VARCHAR(5);
BEGIN
SET @VDATA_ATU = GETDATE()
SELECT @VDB_PRM_AN_CRED    = DB_PRM_AN_CRED,
@VDB_PRM_DATA_POSCR = DB_PRM_DATA_POSCR,
@VDB_PRM_DD_CREDITO = DB_PRM_DD_CREDITO
FROM DB_PARAMETRO
SELECT @V_AVALIACAOLIMCREDITO = DB_PRMS_VALOR
FROM DB_PARAM_SISTEMA
WHERE DB_PARAM_SISTEMA.DB_PRMS_ID = 'CRE_AVALIACAOLIMCREDITO'
DECLARE CUR_CLIENTE CURSOR
FOR SELECT DB_CLI_CODIGO, DB_CLI_VINCULO, DB_CLI_LIM_CREDAP, DB_CLI_CGCMF, DB_CLI_TIPO_PESSOA
FROM DB_CLIENTE
OPEN CUR_CLIENTE
FETCH NEXT FROM CUR_CLIENTE
INTO @VDB_CLI_CODIGO, @VDB_CLI_VINCULO, @VDB_CLI_LIM_CREDAP, @VDB_CLI_CGCMF, @V_CLI_TIPO_PESSOA
WHILE @@FETCH_STATUS = 0
BEGIN
IF @VDB_PRM_AN_CRED = 0
BEGIN
SET @VESPECIAL_CLIEN = 0;
SET @VESPECIALAVALIACREDITO_CLIEN = 0;
SET @VESPECIALCRITERIOSCREDITO_CLIE = ''
SELECT @VESPECIAL_CLIEN                = 1,
@VESPECIALAVALIACREDITO_CLIEN   = DB_CLIESP_AVALCRED,
@VESPECIALCRITERIOSCREDITO_CLIE = DB_CLIESP_CRITCRED
FROM DB_CLIENTE_ESPEC ESP
WHERE ESP.DB_CLIESP_CODIGO = @VDB_CLI_CODIGO
AND CAST(GETDATE() AS DATE) BETWEEN CAST(ISNULL(DB_CLIESP_DATA_INI, GETDATE())  AS DATE ) AND CAST(ISNULL(DB_CLIESP_DATA_FIM, GETDATE())  AS DATE );
SET @VVALORPEDIDOSEMABERTO_CLIEN = 0
SELECT  @VVALORPEDIDOSEMABERTO_CLIEN = SUM((DB_PEDI_PRECO_LIQ * DB_PEDI_ESTVLR *
(DB_PEDI_QTDE_SOLIC - DB_PEDI_QTDE_ATEND - isnull(DB_PEDI_QTDE_CANC, 0))) +
((DB_PEDI_PRECO_LIQ * DB_PEDI_ESTVLR *
(DB_PEDI_QTDE_SOLIC - DB_PEDI_QTDE_ATEND - isnull(DB_PEDI_QTDE_CANC, 0)) * isnull(DB_PEDI_IPI, 0) / 100)) +
((DB_PEDI_ESTVLR * (DB_PEDI_QTDE_SOLIC - DB_PEDI_QTDE_ATEND - isnull(DB_PEDI_QTDE_CANC, 0)) *
ISNULL(DB_PEDIDO_PROD.DB_PEDI_VLRIPI * DB_PEDI_ESTVLR, 0))) + isnull(DB_PEDI_VLR_SUBST * DB_PEDI_ESTVLR, 0)) -
((select isnull(sum(DB_PED_DESCTO_VLR), 0) FROM DB_PEDIDO, DB_PEDIDO_COMPL
WHERE DB_PED_CLIENTE   = @VDB_CLI_CODIGO
AND DB_PEDIDO_COMPL.DB_PEDC_NRO     = DB_PEDIDO.DB_PED_NRO
AND DB_PED_FATUR     = 0
AND DB_PED_SITUACAO  < 3
AND ISNULL(DB_PEDC_LIMITESEGUR, 0) <> 1)) -
isnull((select sum(((DB_PEDI_PRECO_LIQ * DB_PEDI_ESTVLR *
(DB_PEDI_QTDE_SOLIC - DB_PEDI_QTDE_ATEND - DB_PEDI_QTDE_CANC)) * DB_PEDI_ICMSDEST / 100) * isnull(DB_PEDI_ICMSDSCTO, 0) )
from db_pedido_prod, db_pedido, DB_PEDIDO_COMPL
where DB_PEDI_PEDIDO = DB_PED_NRO
and db_ped_cliente = @VDB_CLI_CODIGO
AND DB_PEDIDO_COMPL.DB_PEDC_NRO     = DB_PEDIDO.DB_PED_NRO
and DB_PEDI_ICMSDSCTO = 1
AND DB_PED_FATUR     = 0
AND DB_PED_SITUACAO  < 3
AND DB_PEDI_SITUACAO < 2
AND ISNULL(DB_PEDC_LIMITESEGUR, 0) <> 1), 0)
- sum(((DB_PEDI_PRECO_LIQ * isnull(DB_PEDI_ESTVLR, 0) *   (DB_PEDI_QTDE_SOLIC - DB_PEDI_QTDE_ATEND - isnull(DB_PEDI_QTDE_CANC, 0)))  * isnull(DB_PEDI_DESCTO_FISCAL, 0)) / 100)
FROM DB_PEDIDO  left join DB_TB_CPGTO on DB_TBPGTO_COD = DB_PED_COND_PGTO, DB_PEDIDO_PROD, DB_PEDIDO_COMPL
WHERE DB_PEDIDO.DB_PED_NRO            = DB_PEDIDO_PROD.DB_PEDI_PEDIDO
AND DB_PEDIDO.DB_PED_CLIENTE        = @VDB_CLI_CODIGO
AND DB_PEDIDO_COMPL.DB_PEDC_NRO     = DB_PEDIDO.DB_PED_NRO
AND DB_PEDIDO.DB_PED_FATUR          = 0
AND DB_PEDIDO.DB_PED_SITUACAO       < 3
AND DB_PEDIDO_PROD.DB_PEDI_SITUACAO < 2
AND ISNULL(DB_PEDIDO_COMPL.DB_PEDC_LIMITESEGUR, 0) <> 1
and isnull(DB_TBPGTO_NAOLIMCREDUTILIZADO, 0) <> 1;
SET @VVALORTITULOSEMABERTO_CLIEN = 0;
SELECT @VVALORTITULOSEMABERTO_CLIEN = SUM((CR01_SALDO * CR01_DC) + CR01_VLJURO)
FROM MCR01 left join db_nota_fiscal on CR01_EMPRESA = db_nota_empresa and CR01_NFNRO = db_nota_nro and CR01_NFSER = DB_NOTA_SERIE left join DB_TB_CPGTO on DB_TBPGTO_COD = DB_NOTA_COND_PGTO, DB_PARAMETRO1
WHERE CR01_SALDO     > 0
AND CR01_CLIENTE   = @VDB_CLI_CODIGO
AND DBO.MERCF_VALIDA_LISTA (CR01_TIPODOC, REPLACE(DB_PRM_TPDOCAVCRE, ' ', ''), 0, ',') > 0
and isnull(DB_TBPGTO_NAOLIMCREDUTILIZADO, 0) <> 1
SET @VVALORTITULOSEMATRASO_CLIEN = 0;
SET @VALORJUROSEMATRASO_CLIEN    = 0;
SELECT @VVALORTITULOSEMATRASO_CLIEN = SUM((CR01_SALDO * CR01_DC)),
@VALORJUROSEMATRASO_CLIEN    = SUM(CR01_VLJURO)
FROM MCR01, DB_PARAMETRO1, DB_CLIENTE_COMPL
WHERE CR01_CLIENTE          = @VDB_CLI_CODIGO
AND DB_CLIC_COD			 = CR01_CLIENTE
AND ((CR01_SALDO * CR01_DC) > 0)
AND CR01_SALDO            > 0
AND CR01_DTVCTO           < (@VDB_PRM_DATA_POSCR - @VDB_PRM_DD_CREDITO)
AND DBO.MERCF_VALIDA_LISTA (CR01_TIPODOC, REPLACE(DB_PRM_TPDOC_AVAL, ' ', ''), 0, ',') > 0
AND cast(getdate() as date) >= cast(isnull(DB_CLIC_DTLIM_INAD, getdate()) as date);
END
ELSE
IF @VDB_PRM_AN_CRED = 1
BEGIN
SET @VESPECIAL_CLIEN = 0;
SET @VESPECIALAVALIACREDITO_CLIEN = 0;
SET @VESPECIALCRITERIOSCREDITO_CLIE = '';
SELECT @VESPECIAL_CLIEN = 1,
@VESPECIALAVALIACREDITO_CLIEN = DB_CLIESP_AVALCRED,
@VESPECIALCRITERIOSCREDITO_CLIE = DB_CLIESP_CRITCRED
FROM DB_CLIENTE_ESPEC ESP
, DB_CLIENTE CLI
WHERE CLI.DB_CLI_CODIGO = ESP.DB_CLIESP_CODIGO
AND SUBSTRING(CAST(CLI.DB_CLI_CGCMF AS VARCHAR), 1, 8) = SUBSTRING(CAST(@VDB_CLI_CGCMF AS VARCHAR), 1, 8)
AND CLI.DB_CLI_TIPO_PESSOA = @V_CLI_TIPO_PESSOA
AND CONVERT(DATE, GETDATE(), 103) BETWEEN CAST(ISNULL(DB_CLIESP_DATA_INI, GETDATE()) AS DATE) AND CAST(ISNULL(DB_CLIESP_DATA_FIM, GETDATE()) AS DATE);
SET @VVALORPEDIDOSEMABERTO_CLIEN = 0;
SELECT @VVALORPEDIDOSEMABERTO_CLIEN = SUM((DB_PEDI_PRECO_LIQ * DB_PEDI_ESTVLR *
(DB_PEDI_QTDE_SOLIC - DB_PEDI_QTDE_ATEND - isnull(DB_PEDI_QTDE_CANC, 0))) +
((DB_PEDI_PRECO_LIQ * DB_PEDI_ESTVLR *
(DB_PEDI_QTDE_SOLIC - DB_PEDI_QTDE_ATEND - isnull(DB_PEDI_QTDE_CANC, 0)) * isnull(DB_PEDI_IPI, 0) / 100)) +
((DB_PEDI_ESTVLR * (DB_PEDI_QTDE_SOLIC - DB_PEDI_QTDE_ATEND - isnull(DB_PEDI_QTDE_CANC, 0)) *
ISNULL(DB_PEDIDO_PROD.DB_PEDI_VLRIPI * DB_PEDI_ESTVLR, 0))) + isnull(DB_PEDI_VLR_SUBST * DB_PEDI_ESTVLR, 0)) -
((select isnull(sum(DB_PED_DESCTO_VLR), 0) FROM DB_PEDIDO, db_cliente, DB_PEDIDO_COMPL
WHERE DB_PED_CLIENTE   = DB_CLI_CODIGO
AND DB_PEDIDO_COMPL.DB_PEDC_NRO     = DB_PEDIDO.DB_PED_NRO
AND SUBSTRING(CAST(DB_CLIENTE.DB_CLI_CGCMF AS VARCHAR), 1, 8) = SUBSTRING(CAST(@VDB_CLI_CGCMF AS VARCHAR), 1, 8)
AND DB_CLIENTE.DB_CLI_TIPO_PESSOA = @V_CLI_TIPO_PESSOA
AND DB_PED_FATUR     = 0
AND DB_PED_SITUACAO  < 3
AND ISNULL(DB_PEDC_LIMITESEGUR, 0) <> 1)) -
isnull((select sum(((DB_PEDI_PRECO_LIQ * DB_PEDI_ESTVLR *
(DB_PEDI_QTDE_SOLIC - DB_PEDI_QTDE_ATEND - DB_PEDI_QTDE_CANC)) * DB_PEDI_ICMSDEST / 100) * isnull(DB_PEDI_ICMSDSCTO, 0) )
from db_pedido_prod, db_pedido, db_cliente, DB_PEDIDO_COMPL
where DB_PEDI_PEDIDO = DB_PED_NRO
and db_ped_cliente = DB_CLI_CODIGO
AND DB_PEDIDO_COMPL.DB_PEDC_NRO     = DB_PEDIDO.DB_PED_NRO
AND SUBSTRING(CAST(DB_CLIENTE.DB_CLI_CGCMF AS VARCHAR), 1, 8) = SUBSTRING(CAST(@VDB_CLI_CGCMF AS VARCHAR), 1, 8)
AND DB_CLIENTE.DB_CLI_TIPO_PESSOA = @V_CLI_TIPO_PESSOA
and DB_PEDI_ICMSDSCTO = 1
AND DB_PED_FATUR     = 0
AND DB_PED_SITUACAO  < 3
AND DB_PEDI_SITUACAO < 2
AND ISNULL(DB_PEDC_LIMITESEGUR, 0) <> 1), 0)
- sum(((DB_PEDI_PRECO_LIQ * isnull(DB_PEDI_ESTVLR, 0) *   (DB_PEDI_QTDE_SOLIC - DB_PEDI_QTDE_ATEND - isnull(DB_PEDI_QTDE_CANC, 0)))  * isnull(DB_PEDI_DESCTO_FISCAL, 0)) / 100)
FROM DB_PEDIDO  left join DB_TB_CPGTO on DB_TBPGTO_COD = DB_PED_COND_PGTO, DB_PEDIDO_PROD, DB_CLIENTE, DB_PEDIDO_COMPL
WHERE DB_PEDIDO.DB_PED_NRO                   = DB_PEDIDO_PROD.DB_PEDI_PEDIDO
AND DB_CLI_CODIGO                          = DB_PED_CLIENTE
AND DB_PEDIDO_COMPL.DB_PEDC_NRO            = DB_PEDIDO.DB_PED_NRO
AND SUBSTRING(CAST(DB_CLIENTE.DB_CLI_CGCMF AS VARCHAR), 1, 8) = SUBSTRING(CAST(@VDB_CLI_CGCMF AS VARCHAR), 1, 8)
AND DB_CLIENTE.DB_CLI_TIPO_PESSOA = @V_CLI_TIPO_PESSOA
AND DB_PEDIDO.DB_PED_FATUR                 = 0
AND DB_PEDIDO.DB_PED_SITUACAO              < 3
AND DB_PEDIDO_PROD.DB_PEDI_SITUACAO        < 2
AND ISNULL(DB_PEDIDO_COMPL.DB_PEDC_LIMITESEGUR, 0) <> 1
and isnull(DB_TBPGTO_NAOLIMCREDUTILIZADO, 0) <> 1;
SET @VVALORTITULOSEMABERTO_CLIEN = 0;
SELECT @VVALORTITULOSEMABERTO_CLIEN = SUM((CR01_SALDO * CR01_DC) + CR01_VLJURO)
FROM MCR01 left join db_nota_fiscal on CR01_EMPRESA = db_nota_empresa and CR01_NFNRO = db_nota_nro and CR01_NFSER = DB_NOTA_SERIE left join DB_TB_CPGTO on DB_TBPGTO_COD = DB_NOTA_COND_PGTO, DB_CLIENTE, DB_PARAMETRO1
WHERE DB_CLI_CODIGO = CR01_CLIENTE
AND CR01_SALDO                 > 0
AND SUBSTRING(CAST(DB_CLI_CGCMF AS VARCHAR), 1, 8) = SUBSTRING(CAST(@VDB_CLI_CGCMF AS VARCHAR), 1, 8)
AND DB_CLIENTE.DB_CLI_TIPO_PESSOA = @V_CLI_TIPO_PESSOA
AND DBO.MERCF_VALIDA_LISTA (CR01_TIPODOC, REPLACE(DB_PRM_TPDOCAVCRE, ' ', ''), 0, ',') > 0
and isnull(DB_TBPGTO_NAOLIMCREDUTILIZADO, 0) <> 1;
SET @VVALORTITULOSEMATRASO_CLIEN = 0;
SET @VALORJUROSEMATRASO_CLIEN    = 0;
SELECT @VVALORTITULOSEMATRASO_CLIEN = SUM((CR01_SALDO * CR01_DC)),
@VALORJUROSEMATRASO_CLIEN    = SUM(CR01_VLJURO)
FROM MCR01, DB_CLIENTE, DB_PARAMETRO1, DB_CLIENTE_COMPL
WHERE DB_CLI_CODIGO             = CR01_CLIENTE
AND DB_CLIC_COD				 = DB_CLI_CODIGO
AND SUBSTRING(CAST(DB_CLI_CGCMF AS VARCHAR), 1, 8) = SUBSTRING(CAST(@VDB_CLI_CGCMF AS VARCHAR), 1, 8)
AND DB_CLIENTE.DB_CLI_TIPO_PESSOA = @V_CLI_TIPO_PESSOA
AND ((CR01_SALDO * CR01_DC) > 0)
AND CR01_SALDO                 > 0
AND CR01_DTVCTO                < (@VDB_PRM_DATA_POSCR - @VDB_PRM_DD_CREDITO)
AND DBO.MERCF_VALIDA_LISTA (CR01_TIPODOC, REPLACE(DB_PRM_TPDOC_AVAL , ' ', ''), 0, ',') > 0
AND CAST(GETDATE() AS DATE) >= CAST(ISNULL(DB_CLIC_DTLIM_INAD, GETDATE()) AS DATE);
IF RTRIM(@V_AVALIACAOLIMCREDITO) = '1'
BEGIN
SELECT @VDB_CLI_LIM_CREDAP = DB_CLI_LIM_CREDAP
FROM DB_CLIENTE
WHERE DB_CLI_CODIGO = @VDB_CLI_CODIGO
END
ELSE
BEGIN
SELECT @VDB_CLI_LIM_CREDAP = SUM(DB_CLI_LIM_CREDAP)
FROM DB_CLIENTE
WHERE SUBSTRING(CAST(DB_CLI_CGCMF AS VARCHAR), 1, 8) = SUBSTRING(CAST(@VDB_CLI_CGCMF AS VARCHAR), 1, 8)
AND DB_CLIENTE.DB_CLI_TIPO_PESSOA = @V_CLI_TIPO_PESSOA
END
END
ELSE
IF @VDB_PRM_AN_CRED = 2
BEGIN
SET @VESPECIAL_CLIEN = 0;
SET @VESPECIALAVALIACREDITO_CLIEN = 0;
SET @VESPECIALCRITERIOSCREDITO_CLIE = '';
SELECT @VESPECIAL_CLIEN                = 1,
@VESPECIALAVALIACREDITO_CLIEN   = DB_CLIESP_AVALCRED,
@VESPECIALCRITERIOSCREDITO_CLIE = DB_CLIESP_CRITCRED
FROM DB_CLIENTE_ESPEC ESP
WHERE ESP.DB_CLIESP_CODIGO = @VDB_CLI_CODIGO
AND CONVERT(DATE, GETDATE(), 103) BETWEEN CAST(ISNULL(DB_CLIESP_DATA_INI, GETDATE()) AS DATE) AND CAST(ISNULL(DB_CLIESP_DATA_FIM, GETDATE()) AS DATE);
SET @VVALORPEDIDOSEMABERTO_CLIEN  = 0;
SELECT @VVALORPEDIDOSEMABERTO_CLIEN = SUM((DB_PEDI_PRECO_LIQ * DB_PEDI_ESTVLR *
(DB_PEDI_QTDE_SOLIC - DB_PEDI_QTDE_ATEND - isnull(DB_PEDI_QTDE_CANC, 0))) +
((DB_PEDI_PRECO_LIQ * DB_PEDI_ESTVLR *
(DB_PEDI_QTDE_SOLIC - DB_PEDI_QTDE_ATEND - isnull(DB_PEDI_QTDE_CANC, 0)) * isnull(DB_PEDI_IPI, 0) / 100)) +
((DB_PEDI_ESTVLR * (DB_PEDI_QTDE_SOLIC - DB_PEDI_QTDE_ATEND - isnull(DB_PEDI_QTDE_CANC, 0)) *
ISNULL(DB_PEDIDO_PROD.DB_PEDI_VLRIPI * DB_PEDI_ESTVLR, 0))) + isnull(DB_PEDI_VLR_SUBST * DB_PEDI_ESTVLR, 0)) -
((select isnull(sum(DB_PED_DESCTO_VLR), 0) FROM DB_PEDIDO, db_cliente, DB_PEDIDO_COMPL
WHERE DB_PED_CLIENTE   = db_cli_codigo
AND DB_PEDIDO_COMPL.DB_PEDC_NRO     = DB_PEDIDO.DB_PED_NRO
and db_cli_vinculo = @VDB_CLI_VINCULO
AND DB_PED_FATUR     = 0
AND DB_PED_SITUACAO  < 3
AND ISNULL(DB_PEDC_LIMITESEGUR, 0) <> 1)) -
isnull((select sum(((DB_PEDI_PRECO_LIQ * DB_PEDI_ESTVLR *
(DB_PEDI_QTDE_SOLIC - DB_PEDI_QTDE_ATEND - DB_PEDI_QTDE_CANC)) * DB_PEDI_ICMSDEST / 100) * isnull(DB_PEDI_ICMSDSCTO, 0) )
from db_pedido_prod, db_pedido, db_cliente, DB_PEDIDO_COMPL
where DB_PEDI_PEDIDO = DB_PED_NRO
AND DB_PEDIDO_COMPL.DB_PEDC_NRO     = DB_PEDIDO.DB_PED_NRO
and db_ped_cliente = db_cli_codigo
and db_cli_vinculo = @VDB_CLI_VINCULO
and DB_PEDI_ICMSDSCTO = 1
AND DB_PED_FATUR     = 0
AND DB_PED_SITUACAO  < 3
AND DB_PEDI_SITUACAO < 2
AND ISNULL(DB_PEDC_LIMITESEGUR, 0) <> 1), 0)
- sum(((DB_PEDI_PRECO_LIQ * isnull(DB_PEDI_ESTVLR, 0) *   (DB_PEDI_QTDE_SOLIC - DB_PEDI_QTDE_ATEND - isnull(DB_PEDI_QTDE_CANC, 0)))  * isnull(DB_PEDI_DESCTO_FISCAL, 0)) / 100)
FROM DB_PEDIDO  left join DB_TB_CPGTO on DB_TBPGTO_COD = DB_PED_COND_PGTO, DB_PEDIDO_PROD, DB_CLIENTE, DB_PEDIDO_COMPL
WHERE DB_PEDIDO.DB_PED_NRO            = DB_PEDIDO_PROD.DB_PEDI_PEDIDO
AND DB_PEDIDO.DB_PED_CLIENTE        = DB_CLIENTE.DB_CLI_CODIGO
AND DB_CLIENTE.DB_CLI_VINCULO       = @VDB_CLI_VINCULO
AND DB_PEDIDO_COMPL.DB_PEDC_NRO     = DB_PEDIDO.DB_PED_NRO
AND DB_PEDIDO.DB_PED_FATUR          = 0
AND DB_PEDIDO.DB_PED_SITUACAO       < 3
AND DB_PEDIDO_PROD.DB_PEDI_SITUACAO < 2
AND ISNULL(DB_PEDC_LIMITESEGUR, 0) <> 1
and isnull(DB_TBPGTO_NAOLIMCREDUTILIZADO, 0) <> 1;
SET @VVALORTITULOSEMABERTO_CLIEN = 0;
SELECT @VVALORTITULOSEMABERTO_CLIEN = SUM((CR01_SALDO * CR01_DC) + CR01_VLJURO)
FROM MCR01 left join db_nota_fiscal on CR01_EMPRESA = db_nota_empresa and CR01_NFNRO = db_nota_nro and CR01_NFSER = DB_NOTA_SERIE left join DB_TB_CPGTO on DB_TBPGTO_COD = DB_NOTA_COND_PGTO, DB_CLIENTE, DB_PARAMETRO1
WHERE DB_CLI_CODIGO  = CR01_CLIENTE
AND CR01_SALDO     > 0
AND DB_CLI_VINCULO = @VDB_CLI_VINCULO
AND DBO.MERCF_VALIDA_LISTA (CR01_TIPODOC, REPLACE(DB_PRM_TPDOCAVCRE, ' ', ''), 0, ',') > 0
and isnull(DB_TBPGTO_NAOLIMCREDUTILIZADO, 0) <> 1;
SET @VVALORTITULOSEMATRASO_CLIEN = 0;
SET @VALORJUROSEMATRASO_CLIEN    = 0;
SELECT @VVALORTITULOSEMATRASO_CLIEN = SUM((CR01_SALDO * CR01_DC)),
@VALORJUROSEMATRASO_CLIEN      = SUM(CR01_VLJURO)
FROM MCR01, DB_CLIENTE, DB_PARAMETRO1, DB_CLIENTE_COMPL
WHERE DB_CLI_CODIGO         = CR01_CLIENTE
AND DB_CLI_CODIGO         = DB_CLIC_COD
AND DB_CLI_VINCULO        = @VDB_CLI_VINCULO
AND ((CR01_SALDO * CR01_DC) > 0)
AND CR01_SALDO            > 0
AND CR01_DTVCTO           < (@VDB_PRM_DATA_POSCR - @VDB_PRM_DD_CREDITO)
AND DBO.MERCF_VALIDA_LISTA (CR01_TIPODOC, REPLACE(DB_PRM_TPDOC_AVAL , ' ', ''), 0, ',') > 0
AND CAST(GETDATE() AS DATE) >= CAST(ISNULL(DB_CLIC_DTLIM_INAD, GETDATE()) AS DATE);
IF RTRIM(@V_AVALIACAOLIMCREDITO) = '0'
BEGIN
SELECT @VDB_CLI_LIM_CREDAP = DB_CLI_LIM_CREDAP
FROM DB_CLIENTE
WHERE DB_CLI_CODIGO = @VDB_CLI_CODIGO
END
ELSE
BEGIN
SELECT @VDB_CLI_LIM_CREDAP = SUM(LIM_CREDIT)
FROM (SELECT MAX(DB_CLI_LIM_CREDAP) AS LIM_CREDIT
FROM DB_CLIENTE
WHERE DB_CLI_VINCULO = @VDB_CLI_VINCULO
GROUP BY SUBSTRING(CAST(DB_CLI_CGCMF AS VARCHAR), 1, 8)) AS TOT
END
END
set @VDB_CLICR_DTULTFATUR = null
SELECT @VDB_CLICR_DTULTFATUR = MAX(DB_NOTA_DT_EMISSAO)
FROM DB_NOTA_FISCAL
WHERE DB_NOTA_CLIENTE= @VDB_CLI_CODIGO
AND DB_NOTA_FATUR = 0
SELECT @V_ATRASO_MEDIO =
CASE (SELECT DB_PRM_AN_CRED FROM DB_PARAMETRO)
WHEN 0 THEN
ISNULL(COMP.DB_CLIC_ATRASO_MED, 0)
WHEN 1 THEN
ISNULL((SELECT MAX(CLI_COMP2.DB_CLIC_ATRASO_MED)
FROM DB_CLIENTE CLI2, DB_CLIENTE_COMPL CLI_COMP2
WHERE CLI2.DB_CLI_CODIGO = CLI_COMP2.DB_CLIC_COD
AND SUBSTRING(CLI2.DB_CLI_CGCMF, 1, 8) = SUBSTRING(DB_CLIENTE.DB_CLI_CGCMF, 1, 8)), 0)
WHEN 2 THEN
ISNULL((SELECT MAX(CLI_COMP2.DB_CLIC_ATRASO_MED)
FROM DB_CLIENTE CLI2, DB_CLIENTE_COMPL CLI_COMP2
WHERE CLI2.DB_CLI_CODIGO = CLI_COMP2.DB_CLIC_COD
AND CLI2.DB_CLI_VINCULO = DB_CLIENTE.DB_CLI_VINCULO), 0) END
FROM DB_CLIENTE, DB_CLIENTE_COMPL COMP
WHERE DB_CLI_CODIGO = @VDB_CLI_CODIGO
AND COMP.DB_CLIC_COD = DB_CLI_CODIGO;
SET @V_EXISTE = 0;
SELECT @V_EXISTE = 1
FROM DB_CLIENTE_CREDITO
WHERE DB_CLICR_CODIGO = @VDB_CLI_CODIGO;
IF @V_EXISTE = 0
BEGIN
INSERT INTO DB_CLIENTE_CREDITO (DB_CLICR_CODIGO
, DB_CLICR_ESPEC
, DB_CLICR_AVALCRED
, DB_CLICR_CRITCRED
, DB_CLICR_PEDABERTO
, DB_CLICR_TITABERTO
, DB_CLICR_TITATRASO
, DB_CLICR_JURATRASO
, DB_CLICR_LIMCREDAP
, DB_CLICR_DATAALTER
, DB_CLICR_DTULTFATUR
, DB_CLICR_ATRASO_MED
)
VALUES ( @VDB_CLI_CODIGO
, ISNULL(@VESPECIAL_CLIEN, 0)
, ISNULL(@VESPECIALAVALIACREDITO_CLIEN, 0)
, ISNULL(@VESPECIALCRITERIOSCREDITO_CLIE, '')
, ISNULL(@VVALORPEDIDOSEMABERTO_CLIEN, 0)
, ISNULL(@VVALORTITULOSEMABERTO_CLIEN, 0)
, ISNULL(@VVALORTITULOSEMATRASO_CLIEN, 0)
, ISNULL(@VALORJUROSEMATRASO_CLIEN, 0)
, ISNULL(@VDB_CLI_LIM_CREDAP, 0)
, GETDATE()
, @VDB_CLICR_DTULTFATUR
, ISNULL(@V_ATRASO_MEDIO, 0)
);
SET @VCOD_ERRO = @@ERROR
IF @VCOD_ERRO <> 0
BEGIN
SET @VERRO = 'ERRO NO INSERT DO CLIENTE:' + CAST(CAST(@VDB_CLI_CODIGO AS BIGINT) AS VARCHAR) + '-' + CAST(@VCOD_ERRO AS VARCHAR);
INSERT INTO DBS_ERROS_TRIGGERS (DBS_ERROS_ERRO, DBS_ERROS_DATA, DBS_ERROS_OBJETO)
VALUES (@VERRO, @VDATA, @VOBJETO);
END
END
ELSE
BEGIN
UPDATE DB_CLIENTE_CREDITO
SET DB_CLICR_ESPEC         = ISNULL(@VESPECIAL_CLIEN, 0)
, DB_CLICR_AVALCRED      = ISNULL(@VESPECIALAVALIACREDITO_CLIEN, 0)
, DB_CLICR_CRITCRED      = ISNULL(@VESPECIALCRITERIOSCREDITO_CLIE, '')
, DB_CLICR_PEDABERTO     = ISNULL(@VVALORPEDIDOSEMABERTO_CLIEN, 0)
, DB_CLICR_TITABERTO     = ISNULL(@VVALORTITULOSEMABERTO_CLIEN, 0)
, DB_CLICR_TITATRASO     = ISNULL(@VVALORTITULOSEMATRASO_CLIEN, 0)
, DB_CLICR_JURATRASO     = ISNULL(@VALORJUROSEMATRASO_CLIEN, 0)
, DB_CLICR_LIMCREDAP     = ISNULL(@VDB_CLI_LIM_CREDAP, 0)
, DB_CLICR_ATRASO_MED    = ISNULL(@V_ATRASO_MEDIO, 0)
, DB_CLICR_DATAALTER     = GETDATE()
, DB_CLICR_DTULTFATUR    = @VDB_CLICR_DTULTFATUR
WHERE DB_CLICR_CODIGO        = @VDB_CLI_CODIGO
AND (ISNULL(DB_CLICR_ESPEC, 0)      <> ISNULL(@VESPECIAL_CLIEN, 0)
OR ISNULL(DB_CLICR_AVALCRED, 0)   <> ISNULL(@VESPECIALAVALIACREDITO_CLIEN, 0)
OR ISNULL(DB_CLICR_CRITCRED, '')   <> ISNULL(@VESPECIALCRITERIOSCREDITO_CLIE, '')
OR ISNULL(DB_CLICR_PEDABERTO, 0)  <> ISNULL(@VVALORPEDIDOSEMABERTO_CLIEN, 0)
OR ISNULL(DB_CLICR_TITABERTO, 0)  <> ISNULL(@VVALORTITULOSEMABERTO_CLIEN, 0)
OR ISNULL(DB_CLICR_TITATRASO, 0)  <> ISNULL(@VVALORTITULOSEMATRASO_CLIEN, 0)
OR ISNULL(DB_CLICR_JURATRASO, 0)  <> ISNULL(@VALORJUROSEMATRASO_CLIEN, 0)
OR ISNULL(DB_CLICR_LIMCREDAP, 0)  <> ISNULL(@VDB_CLI_LIM_CREDAP, 0)
OR ISNULL(DB_CLICR_ATRASO_MED, 0) <>  ISNULL(@V_ATRASO_MEDIO, 0)
OR ISNULL(DB_CLICR_DTULTFATUR, GETDATE()) <> ISNULL(@VDB_CLICR_DTULTFATUR, GETDATE()));
SET @VCOD_ERRO = @@ERROR
IF @VCOD_ERRO <> 0
BEGIN
SET @VERRO = 'ERRO NO UPDATE DO CLIENTE:' + @VDB_CLI_CODIGO + '-' + @VCOD_ERRO;
INSERT INTO DBS_ERROS_TRIGGERS (DBS_ERROS_ERRO, DBS_ERROS_DATA, DBS_ERROS_OBJETO)
VALUES (@VERRO, @VDATA, @VOBJETO);
END
END
FETCH NEXT FROM CUR_CLIENTE
INTO @VDB_CLI_CODIGO, @VDB_CLI_VINCULO, @VDB_CLI_LIM_CREDAP, @VDB_CLI_CGCMF, @V_CLI_TIPO_PESSOA
END
CLOSE CUR_CLIENTE
DEALLOCATE CUR_CLIENTE
UPDATE DB_PARAM_SISTEMA
SET DB_PRMS_VALOR = @VDATA_ATU
WHERE DB_PRMS_ID = 'CLI_DATAATUCREDITO';
IF @VERRO != NULL
BEGIN
SET @VERRO = @VERRO;
INSERT INTO DBS_ERROS_TRIGGERS (DBS_ERROS_ERRO, DBS_ERROS_DATA, DBS_ERROS_OBJETO)
VALUES (@VERRO, @VDATA, @VOBJETO);
END
END
