ALTER PROCEDURE MERCP_LIBERACAO_ORCAMENTOS(
@P_NRO		INT,
@P_EXCLUI	INT,
@P_USUARIO  VARCHAR(100),
@P_ACAO		INT,
@P_RETORNO	INT OUT
) AS
BEGIN
DECLARE @VDATA						DATETIME;
DECLARE @VERRO						VARCHAR(1000) = '';
DECLARE @VOBJETO		            VARCHAR(200) = 'MERCP_LIBERACAO_ORCAMENTO';
DECLARE @V_PASSO					VARCHAR(1000);
DECLARE @V_PED_CLIENTE				FLOAT;
DECLARE @V_CLI_CGCMF				VARCHAR(19);
DECLARE @V_CLI_VINCULO              FLOAT;
DECLARE @V_TOTAL_ORCAMENTOS_EM_ABERTO  FLOAT;
DECLARE @V_TOTAL_COBRANCA_CLIENTE   FLOAT;
DECLARE @V_TOTAL_LIMITE_DISP        FLOAT;
DECLARE @V_PARAM_AN_CRED            FLOAT;
DECLARE @V_MOTIVOS                  VARCHAR(15);
DECLARE @V_PARAM_TPDOC_AVAL         VARCHAR(50);
DECLARE @V_DIAS                     FLOAT;
DECLARE @V_DATA                     DATE;
DECLARE @V_CLIATRS                  FLOAT;
DECLARE @V_CLICRED                  FLOAT;
DECLARE @V_TOTAL_LIMITE_EXC         FLOAT;
DECLARE @V_PERMI                    VARCHAR(30);
DECLARE @V_CFE_VLR                  VARCHAR(30);
DECLARE @V_FLG_LIB_MOTIVO_A_ALCADA         FLOAT;
DECLARE @V_FLG_LIB_MOTIVO_A_PGTO	INT;
DECLARE @V_PED_COND_PGTO            FLOAT;
DECLARE @V_FLG                      FLOAT;
DECLARE @V_VLR_MAXATRS              FLOAT;
DECLARE @V_VLR_MAX                  FLOAT;
DECLARE @V_CLILIM                   FLOAT;
DECLARE @V_VLR_MAXLIM               FLOAT;
DECLARE @V_LIB_VLREXCLIM            FLOAT;
DECLARE @V_LIB_DIVTOTMAX            FLOAT;
DECLARE @V_LIB_DIVLIMMAX            FLOAT;
DECLARE @V_PRM_APLDESCTO            FLOAT;
DECLARE @V_PED_TOT                  FLOAT;
DECLARE @V_BON_TOT                  FLOAT;
DECLARE @V_BRUTO                    FLOAT;
DECLARE @V_ECON                     FLOAT;
DECLARE @V_PED_DCTOEXC              FLOAT;
DECLARE @V_PED_DCTO                 FLOAT;
DECLARE @V_VLR_PED                  FLOAT;
DECLARE @V_LIB_DCTMAX               FLOAT;
DECLARE @V_CPGTO_PRZTOT             FLOAT;
DECLARE @V_LIB_PRZMED_MAX           FLOAT;
DECLARE @V_LIB_PRZTOT_MAX           FLOAT;
DECLARE @V_CPGTO_PRZMED             FLOAT;
DECLARE @V_TBOPS_FAT                VARCHAR(1);
DECLARE @V_LIB_BONMAX               FLOAT
, @V_LIB_BONMAX_VLR           FLOAT;
DECLARE @V_BON_PERC                 FLOAT;
DECLARE @V_PARAM_AVALCONCEITOLUCR   FLOAT;
DECLARE @V_LUCRATIVIDADE            FLOAT;
DECLARE @V_USU_PERCMINIMO_LUCR      FLOAT;
DECLARE @V_LIBERA_ORCAMENTO            FLOAT;
DECLARE @V_LIB_LIMITEEXCEDIDO       FLOAT;
DECLARE @V_LIBMOTS                  VARCHAR(30)  = '';
DECLARE @V_BLQS                     VARCHAR(30)  = '';
DECLARE @V_BLQS_AUX					VARCHAR(30)	 = '';
DECLARE @V_LIBTOT                   FLOAT;
DECLARE @V_USUS                     VARCHAR(255);
DECLARE @V_DATAS                    VARCHAR(255);
DECLARE @V_HORAS                    VARCHAR(255);
DECLARE @V_GRUPO_LIB                FLOAT;
DECLARE @V_BLOQUEIOS                VARCHAR(30)='';
DECLARE @V_BLOQUEIOS_AUX			VARCHAR(30)='';
DECLARE @V_SITUACAO_CORPORATIVO     VARCHAR(10);
DECLARE @V_UPDATE_SITUACAO          FLOAT;
DECLARE @V_UPDATE_DTULTLIBERACAO    DATE;
DECLARE @V_LIBPARC                  FLOAT = 1;
DECLARE @V_CLI_RAMATIV              VARCHAR(5);
DECLARE @V_PED_EMPRESA              VARCHAR(3);
DECLARE @V_PED_TIPO                 VARCHAR(10);
DECLARE @V_CLI_CLASCOM              VARCHAR(15);
DECLARE @V_PED_SITCORP              VARCHAR(6);
DECLARE @V_CLI_REGIAOCOM            VARCHAR(8);
DECLARE @V_PED_OPERACAO             VARCHAR(6);
DECLARE @V_ALCP_CODIGO              VARCHAR(5);
DECLARE @V_ALCP_CODIGO_TEMP			VARCHAR(5);
DECLARE @V_ALCP_GRPALCADA           VARCHAR(12);
DECLARE @V_ULTIMO_USUARIO           VARCHAR(30);
DECLARE @V_ALCP_CODIGO_ANTERIOR     VARCHAR(5);
DECLARE @V_ALCP_GRPALCADA_ANTERIOR  VARCHAR(12)
, @V_ALCP_GRPLIB_ANTERIOR     INT
, @V_ALCP_NIVLIB_ANTERIOR     INT;
DECLARE @V_PEDAL_SEQ                SMALLINT;
DECLARE @V_EXISTE                   INT;
DECLARE @V_MOTNLIBERADO             VARCHAR(30);
DECLARE @V_ACHOU_OUTROMOTIVO        VARCHAR(30);
DECLARE @V_PARAM_MOTIVSLIBER        VARCHAR(15);
DECLARE @V_PED_REPRES               VARCHAR(9);
DECLARE @V_PED_MOTIVO_BLOQ          VARCHAR(15);
DECLARE @V_CODIGO_USUARIO           VARCHAR(40);
DECLARE @V_ORC_SITUACAO_ATUAL       FLOAT;
DECLARE @V_ALCADA_OK                FLOAT;
DECLARE @V_ALCADA_ATUAL             VARCHAR(5);
DECLARE @V_PERMITE_ENCAMINHAR       FLOAT;
DECLARE @V_ULTIMO_GRUPO             SMALLINT;
DECLARE @V_GRUPO_ATUAL              SMALLINT;
DECLARE @V_PARAM_CRIT_CRED          VARCHAR(10)
DECLARE @V_AUX						INT;
DECLARE @V_AUX2						INT;
DECLARE @V_PED_LIB_MOTS				VARCHAR(100);
DECLARE @VDB_PRM_JUST_LIBPAR        VARCHAR(20);
DECLARE @VDB_PRM_JUST_LIBTOT        VARCHAR(20);
DECLARE @V_PODE_LIBERAR             INT;
DECLARE @V_PEDAL_MOTLIBPAR	        VARCHAR(20);
DECLARE @V_DESCRICAO                VARCHAR(100);
DECLARE @V_PROGRAMA                 VARCHAR(20);
DECLARE @V_PERMITE_LOG              BIT = 0;
DECLARE @V_SESSAO                   INT;
DECLARE @V_PARAM_VALOR              INT;
DECLARE @V_REGISTRA_ACOES           INT;
DECLARE @VDB_PRM_ATIVLOGUTIL        INT;
DECLARE @VSU1_ATIVLOGUTIL           INT;
DECLARE @V_PED_WEB                  INT;
DECLARE @V_PARAM_VAL_VALIDA         INT;
DECLARE @V_DB_CLI_ESTADO            VARCHAR(10);
DECLARE @V_DB_ORC_EMPRESA			VARCHAR(3);
DECLARE @V_DB_ORC_REPRES			VARCHAR(10);
DECLARE @V_DB_TBREP_UNIDFV			VARCHAR(3);
DECLARE @V_DB_ORC_DT_EMISSAO		DATETIME;
DECLARE @V_DB_CLI_CODIGO			FLOAT;
DECLARE @V_DB_ORC_MOTIVO_BLOQ		VARCHAR(15);
DECLARE @V_DB_ORC_MOTIVO_BLOQ_ALL	CHAR(15);
DECLARE @V_DB_ORC_OPERACAO			VARCHAR(6);
DECLARE @V_SEM_SALDO				BIT = 0;
DECLARE @V_VALOR_TOTAL				FLOAT;
DECLARE @V_RESTRICAO				VARCHAR(20);
DECLARE @V_FLAG						BIT;
DECLARE @V_DB_PROD_CODIGO			VARCHAR(16);
DECLARE @V_DB_PROD_TPPROD			VARCHAR(4);
DECLARE @V_DB_ORCI_OPERACAO			VARCHAR(10)
DECLARE @V_DB_ORCI_PRECO_LIQ		REAL;
DECLARE @V_DB_ORCI_QTDE_SOLIC		REAL;
DECLARE @V_DB_ORCI_QTDE_CANC		REAL;
DECLARE @V_DB_ORCI_SEQUENCIA		INT;
DECLARE @V_DB_RESBR_EMPRESA			VARCHAR(3);
DECLARE @V_DB_RESBR_REPRES			INT;
DECLARE @V_DB_RESBR_CLIENTE			FLOAT;
DECLARE @V_DB_RESBR_UNIDFV			VARCHAR(3);
DECLARE @V_DB_RESBR_TPPROD			VARCHAR(4);
DECLARE @V_DB_RESBR_OPER			VARCHAR(10);
DECLARE @V_DB_RESBR_EXCETO			SMALLINT;
DECLARE @V_DB_RESB_VLVERBA			FLOAT
DECLARE @V_DB_RESB_VLRUTISVN		FLOAT;
DECLARE @V_DB_RESB_CODIGO			VARCHAR(5);
DECLARE @V_DB_RESB_VUTIVERBA        FLOAT;
DECLARE @V_SAI                      BIT = 0;
DECLARE @V_SITUACAO					INT;
DECLARE @V_INTEGRA_ORCAMENTO			INT;
DECLARE @VDB_ORC_DESCTO				FLOAT;
DECLARE @VDB_ORC_DESCTO2			FLOAT;
DECLARE @VDB_ORC_DESCTO3			FLOAT;
DECLARE @VDB_ORC_DESCTO4			FLOAT;
DECLARE @VDB_ORC_DESCTO5			FLOAT;
DECLARE @VDB_ORC_DESCTO6			FLOAT;
DECLARE @VDB_ORC_DESCTO7			FLOAT;
DECLARE @VDB_ORCI_DESCTOP           FLOAT;
DECLARE @VDB_ALCP_INDTOTDCTO        VARCHAR(10);
DECLARE @VDB_ALCP_TOTDCTO           FLOAT;
DECLARE @V_DESCTO_TOTAL             FLOAT;
DECLARE @V_ENV_WORKFLOW             INTEGER = 0;
DECLARE @VRETORNO                   VARCHAR(1000);
DECLARE @VDB_ALCP_ECONOMIA          FLOAT;
DECLARE @V_PARAM_VALDESCONTOEXCEDIDO INT;
DECLARE @VORCAMENTO_TOTAL_ITEM         FLOAT;
DECLARE @VECONOMIA_ITEM             FLOAT;
DECLARE @VDB_ALCP_DESCTOMEDIO       FLOAT;
DECLARE @V_DESCONTO_ITEM            FLOAT;
DECLARE @V_VALOR_TEMP               FLOAT;
DECLARE @VDB_ORCI_PRECO_UNIT        FLOAT;
DECLARE @VDB_ORCI_QTDE_SOLIC        INT;
DECLARE @VDB_ORCI_QTDE_CANC         INT;
DECLARE @VPED_REGRAPERCENTUALECO    INT;
DECLARE @V_VALOR_BRUTO_ITEM         FLOAT;
DECLARE @V_POL_BONIMOTIVOBRIG_LIB    INT;
DECLARE @V_POL_INDDESCCABMOTDESOBRIG_LIB   VARCHAR(50);
DECLARE @V_VALIDA_DESCONTO           INT;
DECLARE @V_POL_INDDESCTOITMOTDESOBRIG_LIB  VARCHAR(50);
DECLARE @V_POL_DESCTOINVEST_LIB      INT;
DECLARE @V_MOTIVO_INVESTIMENTO        INT;
DECLARE @V_TEMP_COUNT                INT;
DECLARE @V_AVALIACAOLIMCREDITO      INT;
DECLARE @V_MOTNLIBERADOSALVARORCAMENTO VARCHAR(30);
DECLARE @V_DB_CLIR_PRAZO_MAX          FLOAT;
DECLARE @V_LIB_PRZMEDEXCCLI           FLOAT;
DECLARE @V_VALOR_LIQ_TOTAL_DESCONTOS  FLOAT
, @V_VALOR_BRU_TOTAL            FLOAT
, @V_DESCONTO_MEDIO_ORCAMENTO      FLOAT;
DECLARE @V_SOLICITACAO_BLOQUEADA      INT;
DECLARE @V_VERIFICA_MOTIVO_BLOQ78     INT;
DECLARE @V_JSON						  VARCHAR(MAX);
DECLARE @V_URL						  VARCHAR(150);
DECLARE @VPOINTER					  INT;
DECLARE @VRESPONSETEXT				  VARCHAR(8000);
DECLARE @VSTATUS					  INT;
DECLARE @VSTATUSTEXT				  VARCHAR(200);
DECLARE @UNWRAPPEDXML				  NVARCHAR(4000);
DECLARE @V_ALCP_AVALIADESCONTO        SMALLINT;
DECLARE @V_ITEM_DSCTO_0               FLOAT;
DECLARE @V_ITEM_DSCTO_1               FLOAT;
DECLARE @V_ITEM_DSCTO_2               FLOAT;
DECLARE @V_ITEM_DSCTO_3               FLOAT;
DECLARE @V_ITEM_DSCTO_4               FLOAT;
DECLARE @V_ITEM_DSCTO_5               FLOAT
, @V_ITEM_DSCTO_6               FLOAT
, @V_ITEM_DSCTO_7               FLOAT
, @V_ITEM_DSCTO_8               FLOAT
, @V_ITEM_DSCTO_9               FLOAT
, @V_ITEM_DSCTO_10              FLOAT
DECLARE @V_PED_DSCTO				FLOAT;
DECLARE @V_PED_DSCTO2			    FLOAT;
DECLARE @V_PED_DSCTO3			    FLOAT;
DECLARE @V_PED_DSCTO4			    FLOAT;
DECLARE @V_PED_DSCTO5			    FLOAT;
DECLARE @V_PED_DSCTO6			    FLOAT;
DECLARE @V_PED_DSCTO7			    FLOAT;
DECLARE @V_ALCP_INDICEDESCITEM        VARCHAR(50);
DECLARE @V_ALCP_REGRAEXCDESCONTO      FLOAT;
DECLARE @V_DESCTO_ITEM_REGRA          FLOAT;
DECLARE @V_ALCP_TIPOAVALIADESCONTO    SMALLINT;
DECLARE @V_LIB_DCTMAX_ITEM            FLOAT;
DECLARE @V_PED_DCTO_ITEM              FLOAT;
DECLARE @V_CODIGO_PRODUTO			  VARCHAR(16);
DECLARE @V_TIPO						  VARCHAR(4);
DECLARE @V_MARCA					  VARCHAR(4);
DECLARE @V_FAMILIA					  VARCHAR(8);
DECLARE @V_GRUPO					  VARCHAR(8);
DECLARE @V_SEQ_ITEM                   INT;
DECLARE @VDB_ORCD_DESCONTO            FLOAT;
DECLARE @VDB_ORCD_INDDESCTO           INT;
DECLARE @V_PRECO_POLITICA             FLOAT;
DECLARE @V_PRECO_APLICADO             FLOAT;
DECLARE @V_PRECO_BRUTO_UNIT           FLOAT;
DECLARE @V_QUANTIDADE_ITEM_ECON       FLOAT;
DECLARE @VPED_NRODESCTOITEM           INT;
DECLARE @V_STATUS_PED                 INT;
DECLARE @V_STATUS_PED_ATUAL           INT;
DECLARE @V_STATUS_VALIDO              INT;
DECLARE @V_PERCENTUAL_MAXIMO_REDUCAO  FLOAT;
DECLARE @V_TIPO_AGRUPAMENTO           INT;
DECLARE @V_FATURAMENTO_LIQUIDO		  FLOAT;
DECLARE @V_VALOR_IMPOSTOS			  FLOAT;
DECLARE @V_VALOR_FRETE				  FLOAT;
DECLARE @V_PESO_BRUTO				  FLOAT;
DECLARE @V_AGRUPAMENTO				  VARCHAR(50);
DECLARE @V_VALOR_AGRUPAMENTO_MINIMO   VARCHAR(50);
DECLARE @VDB_PEDM_AGRUPAMENTO		  VARCHAR(100);
DECLARE @VDB_PEDM_VALOR_AGRUPAMENTO   VARCHAR(100);
DECLARE @V_COUNT_AGRUPAMENTOS		  INT;
DECLARE @V_NUMERO_AGRUPAMENTOS		  INT;
DECLARE @V_TOTAL_AGRUPAMENTO          FLOAT;
DECLARE @V_SEQ_DOC                    INT;
DECLARE @V_EXISTE_DOC_BLOQ			  INT;
DECLARE @DB_ALCP_LSTTIPODOC           VARCHAR(1052);
DECLARE @V_LIB_BLOQXDEBITOCONTA       INT
, @V_DB_PEDC_CONTAINV_SUP       FLOAT
, @V_VALOR_LANCAMENTO           FLOAT
DECLARE @V_SEQ_LANCAMENTOS            BIGINT
DECLARE @V_ACRESCIMO_ORCAMENTO           FLOAT;
DECLARE @V_ACRESCIMO_ORCAMENTO_POL       FLOAT;
DECLARE @V_ACRESCIMO_ITEM             FLOAT;
DECLARE @V_DB_ORCD_TPDESC             FLOAT;
DECLARE @V_DB_ORCI_ACRESCIMO          FLOAT;
DECLARE @V_DB_ORC_LISTA_PRECO		  VARCHAR(50);
DECLARE @V_INDICE_DESCTO_FINANCEIRO   INT;
DECLARE @V_PRECO_APLICADO_TOTAL       FLOAT;
DECLARE @V_PRECO_TOTAL_POLITICA       FLOAT;
DECLARE @V_ECONOMIA_ITEM              FLOAT;
DECLARE @V_SEQ_ITEM_BLOQ_K            INT;
DECLARE @V_DESCONTO_APLICADO          FLOAT;
DECLARE @V_DESCONTO_CALCULADO         FLOAT;
DECLARE @V_VALOR_BASE                 FLOAT;
DECLARE @V_PRECO_LIQUIDO_K            FLOAT;
DECLARE @V_PRECO_BRUTO_K              FLOAT;
DECLARE @V_QUANTIDADE_K               INT;
DECLARE @V_BASE_DESCTO_FINANCEIRO     INT;
DECLARE @V_PRECO_COM_IMPOSTOS_K       FLOAT;
DECLARE @V_VALOR_INIT_DESC_FINAN      FLOAT;
DECLARE @VDB_ALCP_DCTOMAXVERBA		  FLOAT;
DECLARE @VDB_ALCP_VLRMAXTPPED         FLOAT;
DECLARE @VLIB_GRAVAJUSTIFICATIVAPED   INT;
DECLARE @V_TEMP_MOT_LIB_TOT           VARCHAR(30);
DECLARE @V_CLI_AREAATU				  VARCHAR(12);
DECLARE @V_USUARIO_PARA_LOG           VARCHAR(50)
DECLARE @V_COMPLEMENTO_LOG            VARCHAR(800)
DECLARE @V_DB_ALCP_DCTOMAXJUSTIF     FLOAT;
DECLARE @V_DESCONTO_PED_ITEM         FLOAT;
DECLARE @V_EXIGE_JUSTIFICATIVA_MOT_D INT;
DECLARE @V_PED_RECALCULAMOTBLOQP     INT;
DECLARE @V_DATA3					 DATE;
DECLARE @VDB_ORC_DT_PREVENT			 DATE;
DECLARE @VDB_ORC_DT_PRODUC			 DATE;
DECLARE @VDB_PEDC_PREV_FAT           DATE;
DECLARE @V_PERCMINIMO_LUCR_ITEM      FLOAT;
DECLARE @V_FORMA_AVALIA_LUCRA		 INT;
DECLARE @V_VALIDA_BLOQ_93			 INT;
DECLARE @V_LIMPA_BLOQ_L_ITENS       INT;
DECLARE @V_LIMPA_BLOQ_L_ORCAMENTO      INT;
DECLARE @VDB_PEDC_BLOQLUC            INT;
DECLARE @V_GRAVALOG                  INT;
DECLARE @VDB_ALCP_DIASAMAIS          INT;
DECLARE @VDB_PEDC_DD_CPGTO			 INT;
DECLARE @DB_ALCP_REJEITA			 INT;
DECLARE @V_MENSAGEM_REJEICAO         VARCHAR(4000);
DECLARE @VDB_ALCP_VLR_MAX_DESCPROM   FLOAT;
DECLARE @V_VALIDA_BLOQ_D_99          INT;
DECLARE @V_PED_DESCTO_VLR		     FLOAT;
DECLARE @V_CODIGO_NOTIFICACAO        INT;
DECLARE @V_USUARIO_NOTI				 INT;
DECLARE @V_USUARIO_SERVICO			 INT;
DECLARE @V_DB_CLI_NOME				 VARCHAR(1000);
DECLARE @V_ALCADAS_PRIORITARIAS		  VARCHAR(250) = '';
DECLARE @V_COUNT_ALCADA				  INT;
DECLARE @V_EXISTE_ALCADA			  INT;
DECLARE @V_ALCADA_TEMP_PRI			  VARCHAR(50);
DECLARE @V_ALCADA_E_PRIORITARIA		  INT;
DECLARE @V_GRUPO_ALCADA				  VARCHAR(12);
DECLARE @V_GRUPO_LIBERACAO			  INT;
DECLARE @V_PERMITE_LIBERA_PRIORITARIA INT;
DECLARE @VDB_ALCP_LIBPRIORITARIA	  INT;
DECLARE @VDB_ALCP_GRUPOLIB			  INT;
DECLARE @VDB_ALCP_GRPALCADA			  VARCHAR(12);
DECLARE @VMOTIVOS_NAO_RECALCULA       VARCHAR(50);
DECLARE @VCOUNT_BLOQ				  INT;
DECLARE @VMOTIVO_BLOQ				  VARCHAR(10);
DECLARE @VMOTIVOS_BLOQ_LIB_NOVO       VARCHAR(50);
SET NOCOUNT ON;
BEGIN TRANSACTION
SET @V_GRAVALOG = 0
SET @P_RETORNO = 0
SELECT @V_GRAVALOG = DB_PRMS_VALOR
FROM DB_PARAM_SISTEMA
WHERE DB_PRMS_ID = 'MERCP_GRAVALOG_ORC'
IF @V_GRAVALOG = 1
BEGIN
INSERT INTO DBS_ERROS_TRIGGERS
(DBS_ERROS_OBJETO, DBS_ERROS_DATA, DBS_ERROS_ERRO)
VALUES
('MERCP_LIBERCAO_ORCAMENTO_LOG', GETDATE(), 'Orcamento: ' + CAST(@P_NRO AS VARCHAR) + ' - Usu: ' + ISNULL(@P_USUARIO, 'null') + ' - acao: ' + CAST(isnull(@P_ACAO, 0) AS VARCHAR) + ' - exclui: ' + CAST(@P_EXCLUI AS VARCHAR) + ' - Inicia liberacao')
END
SELECT @V_SITUACAO = DB_ORC_SITUACAO
FROM DB_ORCAMENTO
WHERE DB_ORC_NUMERO = @P_NRO;
IF @V_SITUACAO = 0
BEGIN
IF @V_GRAVALOG = 1
BEGIN
INSERT INTO DBS_ERROS_TRIGGERS
(DBS_ERROS_OBJETO, DBS_ERROS_DATA, DBS_ERROS_ERRO)
VALUES
('MERCP_LIBERCAO_ORCAMENTO_LOG', GETDATE(), 'Orcamento: ' + CAST(@P_NRO AS VARCHAR) + ' - Usu: ' + ISNULL(@P_USUARIO, 'null') + ' - acao: ' + CAST(isnull(@P_ACAO, 0) AS VARCHAR) + ' - exclui: ' + CAST(@P_EXCLUI AS VARCHAR) + ' - Sai procedure situacao = 0');
COMMIT;
END
RETURN;
END
SELECT @V_INTEGRA_ORCAMENTO = DB_TBTPE_NEXPCORP
FROM DB_ORCAMENTO
INNER JOIN DB_TB_TPPEDIDO ON DB_TBTPE_CODIGO   = DB_Orc_TipoPed
AND DB_TBTPE_NEXPCORP = 1
WHERE DB_ORC_NUMERO = @P_NRO;
IF @V_INTEGRA_ORCAMENTO <> 0
BEGIN
DELETE FROM DB_ORCAMENTO_ALCADA WHERE DB_ORCAL_ORCAMENTO = @P_NRO;
IF @V_GRAVALOG = 1
BEGIN
INSERT INTO DBS_ERROS_TRIGGERS
(DBS_ERROS_OBJETO, DBS_ERROS_DATA, DBS_ERROS_ERRO)
VALUES
('MERCP_LIBERCAO_ORCAMENTO_LOG', GETDATE(), 'Orcamento: ' + CAST(@P_NRO AS VARCHAR) + ' - Usu: ' + ISNULL(@P_USUARIO, 'null') + ' - acao: ' + CAST(isnull(@P_ACAO, 0) AS VARCHAR) + ' - exclui: ' + CAST(@P_EXCLUI AS VARCHAR) + ' - Sai procedure v_integra_ORCAMENTO = 1');
COMMIT;
END
RETURN;
END
SELECT @V_PROGRAMA = PROGRAM_NAME FROM SYS.DM_EXEC_SESSIONS WHERE SESSION_ID = @@SPID
IF (SUBSTRING(@V_PROGRAMA,CHARINDEX('Internet',@V_PROGRAMA), LEN('Internet'))) = 'Internet'
BEGIN
SET @V_PROGRAMA = '[MercanetWEB]';
SET @V_PED_WEB = 1;
SELECT @V_PARAM_VALOR = DB_PRMS_VALOR
FROM DB_PARAM_SISTEMA
WHERE DB_PRMS_ID = 'REGISTRA_ACOES';
IF @V_PARAM_VALOR = 1
SET @V_PERMITE_LOG = 1
ELSE IF @V_PARAM_VALOR = 2
BEGIN
SELECT @V_REGISTRA_ACOES = REGISTRA_ACOES
FROM DB_USUARIO
WHERE USUARIO = @P_USUARIO;
IF @V_REGISTRA_ACOES = 1
SET @V_PERMITE_LOG = 1;
END
END
ELSE
BEGIN
SET @V_PROGRAMA = '[Server]';
SELECT @VDB_PRM_ATIVLOGUTIL = DB_PRM_ATIVLOGUTIL  FROM DB_PARAMETRO
IF @VDB_PRM_ATIVLOGUTIL = 1
SET @V_PERMITE_LOG = 1;
ELSE IF @VDB_PRM_ATIVLOGUTIL = 2
BEGIN
SELECT @VSU1_ATIVLOGUTIL = SU1_ATIVLOGUTIL FROM MSU1 WHERE SU1_USUARIO = @P_USUARIO
IF @VSU1_ATIVLOGUTIL = 1
SET @V_PERMITE_LOG = 1;
END
END
SET @V_PARAM_VAL_VALIDA = 0
SELECT @V_PARAM_VAL_VALIDA = ISNULL(DB_PRMS_VALOR, 0)
FROM DB_PARAM_SISTEMA
WHERE DB_PRMS_ID = 'PED_VALIDARESTRICAOBONI';
SET @V_PED_RECALCULAMOTBLOQP = 0
SELECT @V_PED_RECALCULAMOTBLOQP = ISNULL(DB_PRMS_VALOR, 0)
FROM DB_PARAM_SISTEMA
WHERE DB_PRMS_ID = 'PED_RECALCULAMOTBLOQP';
SELECT @V_PERMITE_LIBERA_PRIORITARIA = MAX(DB_PRMS_VALOR)
FROM DB_PARAM_SISTEMA
WHERE DB_PRMS_ID = 'LIB_LIBPRIORITARIA';
BEGIN TRY
IF @P_ACAO = 4 OR @P_ACAO = 6
BEGIN
IF ISNULL(@P_USUARIO, '') = ''
BEGIN
INSERT INTO DBS_ERROS_TRIGGERS (DBS_ERROS_ERRO, DBS_ERROS_DATA, DBS_ERROS_OBJETO) VALUES ('USUÁRIO NÃO INFORMADO', GETDATE(), @VOBJETO);
COMMIT;
RETURN;
END
BEGIN
SELECT @V_CODIGO_USUARIO = CODIGO
FROM DB_USUARIO
WHERE USUARIO = @P_USUARIO;
IF ISNULL(@V_CODIGO_USUARIO, '') = ''
BEGIN
SET @VDATA = GETDATE();
SET @VERRO = 'ORCAMENTO ' + CAST(@P_NRO AS VARCHAR) + ' NÃO FOI POSSIVEL ENCONTRAR USUARIO DE LIBERACAO: ' + @P_USUARIO + ' ';
INSERT INTO DBS_ERROS_TRIGGERS (DBS_ERROS_ERRO, DBS_ERROS_DATA, DBS_ERROS_OBJETO) VALUES (@VERRO, @VDATA, @VOBJETO);
COMMIT;
RETURN;
END
END
IF ISNULL(@P_USUARIO, '') <> ''
BEGIN
IF @V_PERMITE_LIBERA_PRIORITARIA = 1
BEGIN
SET @V_ALCADA_OK = 0
SELECT TOP 1 V_ALCADA_ATUAL = DB_ORCAL_ALCADA ,
V_ALCADA_OK = 1,
V_ALCADA_E_PRIORITARIA = CASE WHEN DB_ORCAL_STATUS = 9 THEN 1 ELSE 0 END
FROM DB_ORCAMENTO_ALCADA
WHERE DB_ORCAL_ORCAMENTO = @P_NRO
AND DB_ORCAL_STATUS IN (0,9)
AND EXISTS( SELECT 1
FROM DB_ALCADA_USUARIO, DB_ALCADA_PED
WHERE DB_ALCU_ALCADA = DB_ORCAL_ALCADA
AND DB_ALCP_CODIGO = DB_ALCU_ALCADA
AND DB_ALCU_USUARIO = @V_CODIGO_USUARIO
AND DB_ALCP_REJEITA <> 0)
ORDER BY DB_ORCAL_STATUS DESC;
END
ELSE
BEGIN
SELECT @V_ALCADA_ATUAL = DB_ORCAL_ALCADA
FROM DB_ORCAMENTO_ALCADA
WHERE DB_ORCAL_ORCAMENTO = @P_NRO
AND DB_ORCAL_STATUS = 0;
IF ISNULL(@V_ALCADA_ATUAL, '') <> ''
BEGIN
SET @V_ALCADA_OK = 0
SELECT @V_ALCADA_OK = 1,
@DB_ALCP_REJEITA = DB_ALCP_REJEITA
FROM DB_ALCADA_USUARIO, DB_ALCADA_PED
WHERE DB_ALCU_ALCADA = @V_ALCADA_ATUAL
AND DB_ALCU_USUARIO = @V_CODIGO_USUARIO
AND DB_ALCP_CODIGO = DB_ALCU_ALCADA
AND DB_ALCP_REJEITA <> 0;
END
END
END
ELSE
BEGIN
SET @V_ALCADA_OK = 0;
END
IF @V_ALCADA_OK  <> 1
BEGIN
SET @VDATA = GETDATE();
SET @VERRO = 'ORCAMENTO ' + CONVERT(VARCHAR, @P_NRO) + ' ESTA TENTANTO SER REJEITADO POR UM USUARIO QUE NAO PERTENCE A ALCADA ATUAL, OU A ALÇADA NÃO PERTIME REJEIÇÃO. USUARIO ' +  @P_USUARIO + ' ALCADA ATIUAL ' + @V_ALCADA_ATUAL;
INSERT INTO DBS_ERROS_TRIGGERS(DBS_ERROS_ERRO, DBS_ERROS_DATA, DBS_ERROS_OBJETO) VALUES (@VERRO, @VDATA, @VOBJETO);
IF @V_GRAVALOG = 1
BEGIN
INSERT INTO DBS_ERROS_TRIGGERS
(DBS_ERROS_OBJETO, DBS_ERROS_DATA, DBS_ERROS_ERRO)
VALUES
('MERCP_LIBERCAO_ORCAMENTO_LOG', GETDATE(), 'Orcamento: ' + CAST(@P_NRO AS VARCHAR) + ' - Usu: ' + ISNULL(@P_USUARIO, 'null') + ' - acao: ' + CAST(isnull(@P_ACAO, 0) AS VARCHAR) + ' - exclui: ' + CAST(@P_EXCLUI AS VARCHAR)
+ ' - Sai procedure: esta tentando ser rejeitado por um usuario que nao pertencente a alcada atual, ou a alçada não pertime rejeição. Usuario:');
END
COMMIT;
RETURN;
END
IF @V_ALCADA_OK = 1
BEGIN
SELECT @V_PED_REPRES = DB_ORC_REPRES,
@V_PED_CLIENTE = DB_ORC_CLIENTE,
@V_PED_EMPRESA = DB_ORC_EMPRESA
FROM DB_ORCAMENTO
WHERE DB_ORC_NUMERO = @P_NRO;
INSERT INTO DB_MENSAGEM (
DB_MSG_REPRES,
DB_MSG_SEQUENCIA,
DB_MSG_DATA,
DB_MSG_USU_ENVIO,
DB_MSG_ORCAMENTO,
DB_MSG_TEXTO,
DB_MSG_MOTIVO_REJEICAO,
DB_MSG_ALCADA_REJEICAO
)
VALUES (
@V_PED_REPRES,
ISNULL((SELECT MAX(DB_MSG_SEQUENCIA) FROM DB_MENSAGEM WHERE DB_MSG_REPRES = @V_PED_REPRES), 0) + 1,
GETDATE(),
@P_USUARIO,
@P_NRO,
'Orçamento rejeitado.',
'' ,
@V_ALCADA_ATUAL
);
UPDATE DB_ORCAMENTO
SET DB_orc_DATA_ENVIO = NULL
WHERE DB_ORC_NUMERO = @P_NRO;
IF @DB_ALCP_REJEITA = 2
BEGIN
UPDATE DB_ORCAMENTO
SET DB_ORC_MOTIVO_BLOQ = SUBSTRING(DB_ORC_MOTIVO_BLOQ, 1, 10) + 'O' + SUBSTRING(DB_ORC_MOTIVO_BLOQ, 12, 15)
WHERE DB_ORC_NUMERO = @P_NRO
UPDATE DB_ORCAMENTO
SET DB_ORC_OBSERV = 'Orçamento rejeitado.'
WHERE DB_ORC_NUMERO = @P_NRO
END
SET @V_DESCRICAO = @V_PROGRAMA +
' Rejeitou orçamento. Orçamento nro: ' +
CAST(@P_NRO AS VARCHAR);
IF (@V_PERMITE_LOG = 1) AND (ISNULL(@P_USUARIO, '') <> '')
BEGIN
IF @V_PED_WEB = 1
BEGIN
INSERT INTO MSL1
(SL1_DATA,
SL1_USUARIO,
SL1_MENU,
SL1_ITEM_MENUWEB,
SL1_ACAO,
SL1_DESCRICAO)
VALUES
(GETDATE(), @P_USUARIO, 0, 'Liberação orçamento', 4, @V_DESCRICAO);
END
ELSE
BEGIN
INSERT INTO MSL1
(SL1_DATA,
SL1_USUARIO,
SL1_MENU,
SL1_MENUITEM,
SL1_ACAO,
SL1_DESCRICAO)
VALUES
(GETDATE(), @P_USUARIO, 0, 'Liberação orçamento', 4, @V_DESCRICAO);
END
END
COMMIT
BEGIN
EXEC DBO.MERCP_LIBERACAO_ORCAMENTOS @P_NRO,
1,
NULL,
0,
@VRETORNO
END
SET @P_RETORNO = 1
END
RETURN
END
SET @VDATA = GETDATE();
SET @V_DESCONTO_PED_ITEM = 0
IF ISNULL(@P_USUARIO, '') <> ''
BEGIN
SELECT @V_CODIGO_USUARIO = CODIGO
FROM DB_USUARIO
WHERE USUARIO = @P_USUARIO;
IF ISNULL(@V_CODIGO_USUARIO, '') = ''
BEGIN
SET @VDATA = GETDATE();
SET @VERRO = 'ORCAMENTO ' + CONVERT(VARCHAR, @P_NRO) + ' NÃO FOI POSSIVEL ENCONTRAR USUARIO DE LIBERACAO: ' + @P_USUARIO + ' ';
INSERT INTO DBS_ERROS_TRIGGERS (DBS_ERROS_ERRO, DBS_ERROS_DATA, DBS_ERROS_OBJETO) VALUES (@VERRO, @VDATA, @VOBJETO);
END
END
SET @V_PASSO = '0';
IF @P_EXCLUI = 1
BEGIN
DELETE DB_ORCAMENTO_ALCADA
WHERE DB_ORCAL_ORCAMENTO = @P_NRO;
IF ISNULL(@VMOTIVOS_NAO_RECALCULA, '') = ''
BEGIN
UPDATE DB_ORCAMENTO
SET DB_ORC_LIB_MOTS     = ''
, DB_ORC_LIB_USUS     = ''
, DB_ORC_LIB_DATAS	   = ''
WHERE DB_ORC_NUMERO = @P_NRO;
END
END
SET @V_PASSO = '1';
SET @V_PED_CLIENTE = NULL;
SELECT
@V_PED_CLIENTE			= DB_ORC_CLIENTE
, @V_MOTIVOS				= REPLACE(DB_ORC_MOTIVO_BLOQ, ' ', '')
, @V_PED_MOTIVO_BLOQ		= REPLACE(DB_ORC_MOTIVO_BLOQ, ' ', '')
, @V_DB_ORC_MOTIVO_BLOQ_ALL = DB_ORC_MOTIVO_BLOQ
, @V_CLI_CGCMF			= DB_CLI_CGCMF
, @V_CLI_VINCULO			= DB_CLI_VINCULO
, @V_PED_COND_PGTO		= DB_ORC_COND_PGTO
, @V_CLILIM				= DB_CLI_LIM_CREDAP
, @V_PRM_APLDESCTO		= DB_TBEMP_APLDCTO
, @V_TBOPS_FAT			= DB_TBOPS_FAT
, @V_BLQS					= DB_ORC_LIB_MOTS
, @V_USUS					= DB_ORC_LIB_USUS
, @V_DATAS				= DB_ORC_LIB_DATAS
, @V_BLOQUEIOS			= DB_ORC_LIB_MOTS
, @V_UPDATE_SITUACAO		= DB_ORC_SITUACAO
, @V_CLI_RAMATIV			= DB_CLI_RAMATIV
, @V_PED_EMPRESA			= DB_ORC_EMPRESA
, @V_PED_TIPO				= DB_ORC_TIPO
, @V_CLI_CLASCOM			= DB_CLI_CLASCOM
, @V_CLI_REGIAOCOM		= DB_CLI_REGIAOCOM
, @V_PED_OPERACAO			= DB_ORC_OPERACAO
, @V_ULTIMO_USUARIO		= DB_ORC_LIB_USUS
, @V_PED_REPRES			= DB_ORC_REPRES
, @V_ORC_SITUACAO_ATUAL   = DB_ORC_SITUACAO
, @V_PED_LIB_MOTS			= DB_ORC_LIB_MOTS
, @V_DB_ORC_LISTA_PRECO   = DB_Orc_Lpreco
, @V_CLI_AREAATU          = DB_CLIC_AREAATU
, @V_DB_ORC_DT_EMISSAO	= DB_ORC_DATA
, @V_DB_TBREP_UNIDFV      = db_TBREP_UNIDFV
, @V_PED_DESCTO_VLR       = DB_ORC_DESCTO_VLR
, @V_DB_CLI_NOME          = DB_CLI_NOME
FROM DB_TB_EMPRESA, DB_ORCAMENTO, DB_TB_OPERS,DB_TB_REPRES, DB_CLIENTE
LEFT JOIN DB_CLIENTE_COMPL ON DB_CLI_CODIGO   = DB_CLIC_COD
WHERE DB_ORC_NUMERO      = @P_NRO
AND DB_TBEMP_CODIGO = DB_ORC_EMPRESA
AND DB_ORC_CLIENTE  = DB_CLI_CODIGO
AND DB_ORC_REPRES = DB_TBREP_CODIGO
AND DB_ORC_OPERACAO = DB_TBOPS_COD;
SET @V_BLQS = '';
SET @V_BLOQUEIOS = '';
IF ISNULL(@VMOTIVOS_NAO_RECALCULA, '') <> '' AND @P_EXCLUI = 1
BEGIN
SET @VCOUNT_BLOQ = 1
SET @VMOTIVOS_BLOQ_LIB_NOVO = ''
WHILE @VCOUNT_BLOQ < LEN(@VMOTIVOS_NAO_RECALCULA)
BEGIN
SET @VMOTIVO_BLOQ =  SUBSTRING(@VMOTIVOS_NAO_RECALCULA, @VCOUNT_BLOQ, 1)
IF CHARINDEX(@VMOTIVO_BLOQ, @V_PED_LIB_MOTS) > 0
BEGIN
SET @VMOTIVOS_BLOQ_LIB_NOVO = @VMOTIVOS_BLOQ_LIB_NOVO + @VMOTIVO_BLOQ
END
SET @VCOUNT_BLOQ = @VCOUNT_BLOQ + 1;
END
IF @VMOTIVOS_BLOQ_LIB_NOVO <> ''
BEGIN
INSERT INTO DB_MENSAGEM (
DB_MSG_REPRES,
DB_MSG_SEQUENCIA,
DB_MSG_DATA,
DB_MSG_USU_ENVIO,
DB_MSG_PEDIDO,
DB_MSG_TEXTO)
VALUES (
@V_PED_REPRES,
ISNULL((SELECT MAX(DB_MSG_SEQUENCIA) FROM DB_MENSAGEM WHERE DB_MSG_REPRES = @V_PED_REPRES), 0) + 1,
GETDATE(),
@P_USUARIO,
@P_NRO,
'Os motivos de bloqueio ' +  @VMOTIVOS_BLOQ_LIB_NOVO + ' já foram liberados e não estão configurados para reiniciar o processo de liberação'
);
END
SET @V_BLQS = @VMOTIVOS_BLOQ_LIB_NOVO
SET @V_BLOQUEIOS = @VMOTIVOS_BLOQ_LIB_NOVO
SET @V_PED_LIB_MOTS = @VMOTIVOS_BLOQ_LIB_NOVO
END
SET @VLIB_GRAVAJUSTIFICATIVAPED = 0
SELECT @VLIB_GRAVAJUSTIFICATIVAPED =	DB_PRMS_VALOR
FROM DB_PARAM_SISTEMA
WHERE DB_PARAM_SISTEMA.DB_PRMS_ID = 'LIB_GRAVAJUSTIFICATIVAPED'
DECLARE C_BLOQ_LIB CURSOR
FOR SELECT DB_ORCAL_MOTLIB, DB_ORCAL_MOTLIB
FROM DB_ORCAMENTO_ALCADA
WHERE DB_ORCAL_ORCAMENTO = @P_NRO
OPEN C_BLOQ_LIB
FETCH NEXT FROM C_BLOQ_LIB
INTO @V_BLQS_AUX, @V_BLOQUEIOS_AUX
WHILE @@FETCH_STATUS = 0
BEGIN
SET @V_BLQS = ISNULL(@V_BLQS, '') + ISNULL(@V_BLQS_AUX, '')
SET @V_BLOQUEIOS = ISNULL(@V_BLOQUEIOS, '') + ISNULL(@V_BLOQUEIOS_AUX, '')
FETCH NEXT FROM C_BLOQ_LIB
INTO @V_BLQS_AUX, @V_BLOQUEIOS_AUX
END
CLOSE C_BLOQ_LIB
DEALLOCATE C_BLOQ_LIB
IF @V_UPDATE_SITUACAO <> 1
BEGIN
SET @VDATA = GETDATE();
SET @VERRO = 'ORCAMENTO ' + CONVERT(VARCHAR, @P_NRO) + ' JA ENCONTRA-SE LIBERADO. USUARIO ' + @P_USUARIO;
INSERT INTO DBS_ERROS_TRIGGERS (DBS_ERROS_ERRO, DBS_ERROS_DATA, DBS_ERROS_OBJETO) VALUES (@VERRO, @VDATA, @VOBJETO);
END;
IF ISNULL(@P_USUARIO, '') <> ''
BEGIN
IF @V_PERMITE_LIBERA_PRIORITARIA = 1
BEGIN
SET @V_ALCADA_OK = 0
SELECT TOP 1
@V_ALCADA_ATUAL = DB_ORCAL_ALCADA,
@V_ALCADA_OK = 1,
@V_ALCADA_E_PRIORITARIA = CASE WHEN DB_ORCAL_STATUS = 9 THEN 1 ELSE 0 END
FROM DB_ORCAMENTO_ALCADA
WHERE DB_ORCAL_ORCAMENTO = @P_NRO
AND DB_ORCAL_STATUS in (0,9)
and exists( SELECT 1
FROM DB_ALCADA_USUARIO
WHERE DB_ALCU_ALCADA = DB_ORCAL_ALCADA
AND DB_ALCU_USUARIO = @V_CODIGO_USUARIO)
order by DB_ORCAL_STATUS desc;
END
ELSE
BEGIN
SELECT @V_ALCADA_ATUAL = DB_ORCAL_ALCADA
FROM DB_ORCAMENTO_ALCADA
WHERE DB_ORCAL_ORCAMENTO = @P_NRO
AND DB_ORCAL_STATUS = 0;
IF ISNULL(@V_ALCADA_ATUAL, '') <> ''
BEGIN
SET @V_ALCADA_OK = 0
SELECT @V_ALCADA_OK = 1
FROM DB_ALCADA_USUARIO
WHERE DB_ALCU_ALCADA = @V_ALCADA_ATUAL
AND DB_ALCU_USUARIO = @V_CODIGO_USUARIO
END
END
END
ELSE
BEGIN
SET @V_ALCADA_OK = 1;
END
IF @V_ALCADA_OK  <> 1
BEGIN
SET @VDATA = GETDATE();
SET @VERRO = 'ORCAMENTO ' + CONVERT(VARCHAR, @P_NRO) + ' ESTA TENTANTO SER LIBERADOO POR UM USUARIO QUE NAO PERTENCE A ALCADA ATUAL. USUARIO ' +  @P_USUARIO + ' ALCADA ATIUAL ' + @V_ALCADA_ATUAL;
INSERT INTO DBS_ERROS_TRIGGERS(DBS_ERROS_ERRO, DBS_ERROS_DATA, DBS_ERROS_OBJETO) VALUES (@VERRO, @VDATA, @VOBJETO);
END
IF ISNULL(@V_PED_CLIENTE, '') <> ''
AND @V_ORC_SITUACAO_ATUAL = 1 AND @V_ALCADA_OK = 1
BEGIN
SET @V_PASSO = 2;
IF @P_ACAO = 2
BEGIN
SET @V_ULTIMO_USUARIO = @P_USUARIO;
END
BEGIN
SET @V_PED_TOT = 0;
SET @V_BON_TOT = 0;
SELECT @V_PED_TOT = SUM(DB_ORCI_QTDE_SOLIC * DB_ORCI_PRECO_LIQ),
@V_BRUTO =   SUM(DB_ORCI_QTDE_SOLIC * DB_ORCI_PRECO_UNIT),
@V_ECON =    SUM(DB_ORCI_QTDE_SOLIC * DB_ORCI_ECON_VLR)
FROM DB_ORCAMENTO_PROD,   DB_PRODUTO
WHERE DB_Orci_Orcamento =  @P_NRO
AND DB_ORCI_PRODUTO = DB_PROD_CODIGO
AND DB_ORCI_TIPO NOT IN ('B', 'T');
SELECT @V_BON_TOT = SUM(DB_ORCI_QTDE_SOLIC * DB_ORCI_PRECO_LIQ)
FROM DB_ORCAMENTO_PROD, DB_PRODUTO
WHERE DB_Orci_Orcamento = @P_NRO
AND DB_ORCI_PRODUTO = DB_PROD_CODIGO
AND DB_ORCI_TIPO IN ('B');
END
SET @V_PASSO = 3;
BEGIN
SET @V_PARAM_AN_CRED = 0;
SELECT @V_PARAM_AN_CRED				= ISNULL(DB_PRM_AN_CRED, 0),
@V_PARAM_TPDOC_AVAL		    = DB_PRM_TPDOC_AVAL,
@V_DIAS						= (DB_PRM_DD_CREDITO * - 1),
@V_DATA						= DB_PRM_DATA_POSCR,
@V_PARAM_AVALCONCEITOLUCR	= ISNULL(DB_PRM_AVCONCLUCR, 0),
@V_PARAM_MOTIVSLIBER			= DB_PRM_MOT_SLIBER,
@V_PARAM_CRIT_CRED			= DB_PRM_CRIT_CRED,
@VDB_PRM_JUST_LIBPAR		    = DB_PRM_JUST_LIBPAR,
@VDB_PRM_JUST_LIBTOT	        = DB_PRM_JUST_LIBTOT
FROM DB_PARAMETRO P, DB_PARAMETRO1 P1
WHERE P.DB_PRM_CHAVE = P1.DB_PRM1_CHAVE;
END
SET @V_PASSO = 4;
BEGIN
IF @V_PRM_APLDESCTO = 0
BEGIN
IF @V_PED_TOT > 0
SET @V_PED_DCTOEXC = @V_ECON * 100 / @V_PED_TOT;
ELSE
IF @V_BRUTO > 0
SET @V_PED_DCTOEXC = @V_ECON * 100 / @V_BRUTO;
END
SET @V_PED_DCTO = @V_PED_DCTOEXC;
SET @V_VLR_PED = @V_PED_TOT;
IF @V_PED_TOT > 0
SET @V_BON_PERC = ((isnull(@V_BON_TOT, 0)) * 100) / @V_PED_TOT;
ELSE
SET @V_BON_PERC = 0;
END
SET @V_PASSO = 5;
BEGIN
SELECT @V_PERMI =				DB_ALCP_MOTBLOQ,
@V_CFE_VLR =				DB_ALCP_MOTCFEVLR,
@V_FLG_LIB_MOTIVO_A_ALCADA =	DB_ALCP_LIBCPGTO,
@V_VLR_MAX =				DB_ALCP_VLRMAXLIB,
@V_VLR_MAXATRS =			DB_ALCP_LIMATRPGTO,
@V_LIB_DIVTOTMAX =		DB_ALCP_DIVTOTMAX,
@V_LIB_VLREXCLIM =		DB_ALCP_VLRCREDEXC,
@V_VLR_MAXLIM =			DB_ALCP_LIMCREDEX,
@V_LIB_DIVLIMMAX =		DB_ALCP_DIVLIMMAX,
@V_LIB_DCTMAX =			DB_ALCP_DCTMAXEXC,
@V_LIB_PRZMED_MAX =		DB_ALCP_PRZMEDMAX,
@V_LIB_PRZTOT_MAX =		DB_ALCP_PRZTOTMAX,
@V_LIB_BONMAX =		    DB_ALCP_PERCBONMAX,
@V_LIB_BONMAX_VLR =      ISNULL(DB_ALCP_VLRMAXBON, 0),
@V_USU_PERCMINIMO_LUCR = DB_ALCP_PERCMINLUC,
@V_LIBERA_ORCAMENTO =		DB_ALCP_TIPOVLRLIB,
@V_LIB_LIMITEEXCEDIDO =  DB_ALCP_LEXCVMAX,
@V_GRUPO_LIB =			DB_ALCP_GRUPOLIB,
@VDB_ALCP_INDTOTDCTO   = DB_ALCP_INDTOTDCTO,
@VDB_ALCP_TOTDCTO  	  = DB_ALCP_TOTDCTO,
@VDB_ALCP_ECONOMIA     = DB_ALCP_ECONOMIA,
@VDB_ALCP_DESCTOMEDIO  = DB_ALCP_DESCTOMEDIO,
@V_LIB_PRZMEDEXCCLI    = DB_ALCP_PRZMEDEXCCLI,
@V_ALCP_AVALIADESCONTO = DB_ALCP_AVALIADESCONTO,
@V_ALCP_TIPOAVALIADESCONTO  = DB_ALCP_TIPOAVALIADESCONTO,
@V_ALCP_REGRAEXCDESCONTO  = DB_ALCP_REGRAEXCDESCONTO,
@V_ALCP_INDICEDESCITEM   =  DB_ALCP_INDICEDESCITEM,
@V_PERCENTUAL_MAXIMO_REDUCAO = DB_ALCP_PMENORPMTON ,
@DB_ALCP_LSTTIPODOC	    = DB_ALCP_LSTTIPODOC,
@VDB_ALCP_DCTOMAXVERBA   = DB_ALCP_DCTOMAXVERBA,
@VDB_ALCP_VLRMAXTPPED    = ISNULL(DB_ALCP_VLRMAXTPPED, 0),
@V_DB_ALCP_DCTOMAXJUSTIF = DB_ALCP_DCTMAXJUSTIF,
@V_PERCMINIMO_LUCR_ITEM  = DB_ALCP_PERCMINLUCIT,
@V_FORMA_AVALIA_LUCRA    = ISNULL(DB_ALCP_AVALIALUC, 0),
@VDB_ALCP_DIASAMAIS      = ISNULL(DB_ALCP_DIASAMAIS, 0),
@VDB_ALCP_VLR_MAX_DESCPROM = ISNULL(DB_ALCP_VLRMAXDESCPROM, 0)
FROM DB_ALCADA_PED, DB_ALCADA_USUARIO
WHERE DB_ALCP_CODIGO = DB_ALCU_ALCADA
AND DB_ALCP_CODIGO = @V_ALCADA_ATUAL
AND DB_ALCU_USUARIO = @V_CODIGO_USUARIO;
END
BEGIN
SET @V_FLG_LIB_MOTIVO_A_PGTO = 0;
SELECT @V_FLG_LIB_MOTIVO_A_PGTO = ISNULL(DB_TBPGTO_BLOQPED, 0)
FROM DB_TB_CPGTO
WHERE DB_TBPGTO_COD = @V_PED_COND_PGTO;
END
SET @V_PASSO = 6;
IF ISNULL(@P_USUARIO, '') <> '' AND @P_ACAO = 1
BEGIN
SET @V_PASSO = 7;
SET @V_TOTAL_ORCAMENTOS_EM_ABERTO = 0;
BEGIN
IF CHARINDEX('G', @V_PARAM_CRIT_CRED) > 0 OR @V_PARAM_CRIT_CRED IS NULL
SELECT @V_TOTAL_ORCAMENTOS_EM_ABERTO = SUM((DB_ORCI_PRECO_LIQ *
(DB_ORCI_QTDE_SOLIC)) +
((DB_ORCI_PRECO_LIQ *
(DB_ORCI_QTDE_SOLIC) * DB_ORCI_IPI / 100)) +
(((DB_ORCI_QTDE_SOLIC) * ISNULL(DB_ORCI_VLRIPI, 0))))
FROM DB_ORCAMENTO LEFT JOIN DB_TB_CPGTO on DB_TBPGTO_COD = DB_ORC_COND_PGTO, DB_ORCAMENTO_PROD, DB_CLIENTE
WHERE DB_ORCAMENTO.DB_ORC_NUMERO =		 DB_ORCAMENTO_PROD.DB_ORCI_ORCAMENTO
AND DB_ORCAMENTO.DB_ORC_CLIENTE =	 DB_CLIENTE.DB_CLI_CODIGO
AND DB_ORCAMENTO.DB_ORC_SITUACAO <	 3
AND ISNULL(DB_TBPGTO_NAOLIMCREDUTILIZADO, 0) <> 1
AND CASE
WHEN @V_PARAM_AN_CRED = 0 AND DB_CLI_CODIGO = @V_PED_CLIENTE
THEN  1
WHEN @V_PARAM_AN_CRED = 1 AND SUBSTRING(DB_CLI_CGCMF, 1, 8) = SUBSTRING(@V_CLI_CGCMF, 1, 8)
THEN 1
WHEN @V_PARAM_AN_CRED = 2 AND DB_CLI_VINCULO = @V_CLI_VINCULO
THEN 1
ELSE 0
END = 1
ELSE
SET @V_TOTAL_ORCAMENTOS_EM_ABERTO = 0;
END
SET @V_TOTAL_COBRANCA_CLIENTE = 0;
BEGIN
SELECT @V_TOTAL_COBRANCA_CLIENTE = SUM((CR01_SALDO * CR01_DC) + CR01_VLJURO)
FROM MCR01  left join db_nota_fiscal on CR01_EMPRESA = db_nota_empresa and CR01_NFNRO = db_nota_nro and CR01_NFSER = DB_NOTA_SERIE left join DB_TB_CPGTO on DB_TBPGTO_COD = DB_NOTA_COND_PGTO, DB_CLIENTE
WHERE CR01_CLIENTE = DB_CLI_CODIGO
AND CR01_SALDO > 0
and isnull(DB_TBPGTO_NAOLIMCREDUTILIZADO, 0) <> 1
AND CASE WHEN @V_PARAM_AN_CRED = 0 AND DB_CLI_CODIGO = @V_PED_CLIENTE
THEN 1
WHEN @V_PARAM_AN_CRED = 1 AND SUBSTRING(DB_CLI_CGCMF, 1,8) = SUBSTRING(@V_CLI_CGCMF,1,8)
THEN 1
WHEN @V_PARAM_AN_CRED = 2 AND DB_CLI_VINCULO = @V_CLI_VINCULO
THEN 1
ELSE 0
END = 1;
END
SET @V_PASSO = 8;
SET @V_TOTAL_LIMITE_DISP = 0;
SELECT @V_AVALIACAOLIMCREDITO = DB_PRMS_VALOR
FROM DB_PARAM_SISTEMA
WHERE DB_PARAM_SISTEMA.DB_PRMS_ID = 'CRE_AVALIACAOLIMCREDITO';
IF @V_AVALIACAOLIMCREDITO = 1
BEGIN
SET @V_TOTAL_LIMITE_DISP = @V_CLILIM
END
ELSE
BEGIN
SELECT @V_TOTAL_LIMITE_DISP = SUM(DB_CLI_LIM_CREDAP)
FROM DB_CLIENTE
WHERE DB_CLI_DATA_LIMITE > GETDATE()
AND CASE WHEN @V_PARAM_AN_CRED = 0 AND DB_CLI_CODIGO = @V_PED_CLIENTE
THEN 1
WHEN @V_PARAM_AN_CRED = 1 AND SUBSTRING(DB_CLI_CGCMF, 1, 8) = SUBSTRING(@V_CLI_CGCMF, 1, 8)
THEN 1
WHEN @V_PARAM_AN_CRED = 2 AND DB_CLI_VINCULO = @V_CLI_VINCULO
THEN 1
ELSE 0
END = 1
GROUP BY DB_CLI_DATA_LIMITE
END
SET @V_AUX = 0;
SET @V_FLG = 0;
WHILE @V_AUX < LEN(@V_MOTIVOS)
BEGIN
SET @V_AUX = @V_AUX + 1;
IF CHARINDEX(SUBSTRING(@V_MOTIVOS,@V_AUX, 1), @V_PERMI) > 0
BEGIN
IF CHARINDEX(SUBSTRING(@V_MOTIVOS,@V_AUX, 1), @V_CFE_VLR) > 0
BEGIN
SET @V_FLG = 0;
SET @V_PASSO = 13;
IF SUBSTRING(@V_MOTIVOS, @V_AUX, 1) = 'D'
BEGIN
SET @VPED_NRODESCTOITEM = 0
SELECT @VPED_NRODESCTOITEM = ISNULL(DB_PRMS_VALOR, 0)
FROM DB_PARAM_SISTEMA
WHERE DB_PRMS_ID = 'PED_NRODESCTOITEM';
IF @V_ALCP_AVALIADESCONTO = 1
BEGIN
IF @V_ALCP_TIPOAVALIADESCONTO = 0
BEGIN
SET @VPED_REGRAPERCENTUALECO = 0;
SELECT @VPED_REGRAPERCENTUALECO = ISNULL(DB_PRMS_VALOR, 0)
FROM DB_PARAM_SISTEMA
WHERE DB_PRMS_ID = 'PED_REGRAPERCENTUALECO';
SELECT @VDB_ORC_DESCTO	  = CASE WHEN CHARINDEX('1', @VDB_ALCP_INDTOTDCTO) > 0 THEN 0 ELSE DB_ORC_DESCTO END,
@VDB_ORC_DESCTO2  = CASE WHEN CHARINDEX('2', @VDB_ALCP_INDTOTDCTO) > 0 THEN 0 ELSE DB_ORC_DESCTO2 END,
@VDB_ORC_DESCTO3  = CASE WHEN CHARINDEX('3', @VDB_ALCP_INDTOTDCTO) > 0 THEN 0 ELSE DB_ORC_DESCTO3 END,
@VDB_ORC_DESCTO4  = CASE WHEN CHARINDEX('4', @VDB_ALCP_INDTOTDCTO) > 0 THEN 0 ELSE DB_ORC_DESCTO4 END,
@VDB_ORC_DESCTO5  = CASE WHEN CHARINDEX('5', @VDB_ALCP_INDTOTDCTO) > 0 THEN 0 ELSE DB_ORC_DESCTO5 END,
@VDB_ORC_DESCTO6  = CASE WHEN CHARINDEX('6', @VDB_ALCP_INDTOTDCTO) > 0 THEN 0 ELSE DB_ORC_DESCTO6 END,
@VDB_ORC_DESCTO7  = CASE WHEN CHARINDEX('7', @VDB_ALCP_INDTOTDCTO) > 0 THEN 0 ELSE DB_ORC_DESCTO7 END,
@V_ACRESCIMO_ORCAMENTO = ISNULL(DB_ORC_ACRESCIMO, 0)
FROM DB_ORCAMENTO
WHERE DB_ORC_NUMERO = @P_NRO
DECLARE CUR_PED_DESCTOS CURSOR
FOR SELECT DB_ORCD_DCTOPOL, DB_ORCD_INDDESCTO, DB_ORCD_TPDESC
FROM DB_ORCAMENTO_DPOL
WHERE DB_ORCD_NRO = @P_NRO
AND DB_ORCD_SEQIT = 0
OPEN CUR_PED_DESCTOS
FETCH NEXT FROM CUR_PED_DESCTOS
INTO @VDB_ORCD_DESCONTO, @VDB_ORCD_INDDESCTO, @V_DB_ORCD_TPDESC
WHILE @@FETCH_STATUS = 0
BEGIN
IF @V_DB_ORCD_TPDESC = 0
BEGIN
IF @VDB_ORCD_INDDESCTO = 1 AND CHARINDEX('1', ISNULL(@VDB_ALCP_INDTOTDCTO, ' ')) = 0
SET @V_PED_DSCTO = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 2 AND CHARINDEX('2', ISNULL(@VDB_ALCP_INDTOTDCTO, ' ')) = 0
SET @V_PED_DSCTO2 = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 3 AND CHARINDEX('3', ISNULL(@VDB_ALCP_INDTOTDCTO, ' ')) = 0
SET @V_PED_DSCTO3 = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 4 AND CHARINDEX('4', ISNULL(@VDB_ALCP_INDTOTDCTO, ' ')) = 0
SET @V_PED_DSCTO4 = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 5 AND CHARINDEX('5', ISNULL(@VDB_ALCP_INDTOTDCTO, ' ')) = 0
SET @V_PED_DSCTO5 = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 6 AND CHARINDEX('6', ISNULL(@VDB_ALCP_INDTOTDCTO, ' ')) = 0
SET @V_PED_DSCTO6 = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 7 AND CHARINDEX('7', ISNULL(@VDB_ALCP_INDTOTDCTO, ' ')) = 0
SET @V_PED_DSCTO7 = @VDB_ORCD_DESCONTO
END
ELSE IF @V_DB_ORCD_TPDESC = 1
BEGIN
SET @V_ACRESCIMO_ORCAMENTO_POL = @VDB_ORCD_DESCONTO
END
FETCH NEXT FROM CUR_PED_DESCTOS
INTO @VDB_ORCD_DESCONTO, @VDB_ORCD_INDDESCTO, @V_DB_ORCD_TPDESC
END
CLOSE CUR_PED_DESCTOS
DEALLOCATE CUR_PED_DESCTOS
DECLARE CUR_PED_PROD CURSOR
FOR SELECT DB_ORCI_QTDE_SOLIC * DB_ORCI_PRECO_LIQ,
DB_ORCI_QTDE_SOLIC * DB_ORCI_ECON_VLR,
DB_ORCI_QTDE_SOLIC * DB_ORCI_PRECO_UNIT,
DB_PROD_MARCA, DB_PROD_TPPROD, DB_PROD_FAMILIA, DB_PROD_CODIGO, DB_PROD_GRUPO,
DB_ORCI_PRECO_UNIT,
DB_ORCI_SEQUENCIA,
DB_ORCI_QTDE_SOLIC,
DB_ORCI_DESCTOP,
DB_ORCI_ACRESCIMO
FROM DB_ORCAMENTO_PROD,   DB_PRODUTO
WHERE DB_ORCI_orcamento =  @P_NRO
AND DB_ORCI_PRODUTO = DB_PROD_CODIGO
AND DB_ORCI_TIPO NOT IN ('B', 'T');
OPEN CUR_PED_PROD
FETCH NEXT FROM CUR_PED_PROD
INTO  @VORCAMENTO_TOTAL_ITEM, @VECONOMIA_ITEM, @V_VALOR_BRUTO_ITEM, @V_MARCA, @V_TIPO, @V_FAMILIA, @V_CODIGO_PRODUTO, @V_GRUPO, @V_PRECO_BRUTO_UNIT, @V_SEQ_ITEM, @V_QUANTIDADE_ITEM_ECON, @VDB_ORCI_DESCTOP, @V_DB_ORCI_ACRESCIMO
WHILE @@FETCH_STATUS = 0
BEGIN
SET @V_ITEM_DSCTO_0 = 0;
SET @V_ITEM_DSCTO_1 = 0;
SET @V_ITEM_DSCTO_2 = 0;
SET @V_ITEM_DSCTO_3 = 0;
SET @V_ITEM_DSCTO_4 = 0;
SET @V_ITEM_DSCTO_5 = 0;
SET @V_ITEM_DSCTO_6 = 0;
SET @V_ITEM_DSCTO_7 = 0;
SET @V_ITEM_DSCTO_8 = 0;
SET @V_ITEM_DSCTO_9 = 0;
SET @V_ITEM_DSCTO_10 = 0;
SET @V_ACRESCIMO_ITEM = 0;
IF @VPED_NRODESCTOITEM = 1
BEGIN
SET @V_ITEM_DSCTO_0 = @VDB_ORCI_DESCTOP
SET @V_ACRESCIMO_ITEM = @V_DB_ORCI_ACRESCIMO
END
ELSE
BEGIN
DECLARE CUR_PED_ITEM_DESCTO1 CURSOR
FOR SELECT DB_ORCD_DESCONTO, DB_ORCD_INDDESCTO, DB_ORCD_TPDESC
FROM DB_ORCAMENTO_DPOL
WHERE DB_ORCD_NRO = @P_NRO
AND DB_ORCD_SEQIT = @V_SEQ_ITEM
OPEN CUR_PED_ITEM_DESCTO1
FETCH NEXT FROM CUR_PED_ITEM_DESCTO1
INTO @VDB_ORCD_DESCONTO, @VDB_ORCD_INDDESCTO, @V_DB_ORCD_TPDESC
WHILE @@FETCH_STATUS = 0
BEGIN
SET @V_ITEM_DSCTO_0 = 0;
IF @V_DB_ORCD_TPDESC = 0
BEGIN
IF @VDB_ORCD_INDDESCTO = 1 AND CHARINDEX('1', ISNULL(@V_ALCP_INDICEDESCITEM, ' ')) = 0
SET @V_ITEM_DSCTO_1 = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 2 AND CHARINDEX('2', ISNULL(@V_ALCP_INDICEDESCITEM, ' ')) = 0
SET @V_ITEM_DSCTO_2 = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 3 AND CHARINDEX('3', ISNULL(@V_ALCP_INDICEDESCITEM, ' ')) = 0
SET @V_ITEM_DSCTO_3 = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 4 AND CHARINDEX('4', ISNULL(@V_ALCP_INDICEDESCITEM, ' ')) = 0
SET @V_ITEM_DSCTO_4 = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 5 AND CHARINDEX('5', ISNULL(@V_ALCP_INDICEDESCITEM, ' ')) = 0
SET @V_ITEM_DSCTO_5 = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 6 AND CHARINDEX('6', ISNULL(@V_ALCP_INDICEDESCITEM, ' ')) = 0
SET @V_ITEM_DSCTO_6 = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 7 AND CHARINDEX('7', ISNULL(@V_ALCP_INDICEDESCITEM, ' ')) = 0
SET @V_ITEM_DSCTO_7 = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 8 AND CHARINDEX('8', ISNULL(@V_ALCP_INDICEDESCITEM, ' ')) = 0
SET @V_ITEM_DSCTO_8 = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 9 AND CHARINDEX('9', ISNULL(@V_ALCP_INDICEDESCITEM, ' ')) = 0
SET @V_ITEM_DSCTO_9 = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 10 AND CHARINDEX('10', ISNULL(@V_ALCP_INDICEDESCITEM, ' ')) = 0
SET @V_ITEM_DSCTO_10 = @VDB_ORCD_DESCONTO
END
ELSE IF @V_DB_ORCD_TPDESC = 1
BEGIN
SET @V_ACRESCIMO_ITEM = @VDB_ORCD_DESCONTO
END
FETCH NEXT FROM CUR_PED_ITEM_DESCTO1
INTO @VDB_ORCD_DESCONTO, @VDB_ORCD_INDDESCTO, @V_DB_ORCD_TPDESC
END
CLOSE CUR_PED_ITEM_DESCTO1
DEALLOCATE CUR_PED_ITEM_DESCTO1
END
SELECT @V_DESCTO_TOTAL = DBO.MERCF_RET_DESCTO_CASCATA_2(  @VDB_ORC_DESCTO,
@VDB_ORC_DESCTO2,
@VDB_ORC_DESCTO3,
@VDB_ORC_DESCTO4,
@VDB_ORC_DESCTO5,
@VDB_ORC_DESCTO6,
@VDB_ORC_DESCTO7,
@V_ITEM_DSCTO_0,
@V_ITEM_DSCTO_1,
@V_ITEM_DSCTO_2,
@V_ITEM_DSCTO_3,
@V_ITEM_DSCTO_4,
@V_ITEM_DSCTO_5,
@V_ITEM_DSCTO_6,
@V_ITEM_DSCTO_7,
@V_ITEM_DSCTO_8,
@V_ITEM_DSCTO_9,
@V_ITEM_DSCTO_10,
@V_ACRESCIMO_ORCAMENTO,
0 )
SET @V_PRECO_APLICADO = @V_PRECO_BRUTO_UNIT - ((@V_PRECO_BRUTO_UNIT * @V_DESCTO_TOTAL ) / 100)
SET @V_PRECO_APLICADO = @V_PRECO_APLICADO + ((@V_PRECO_APLICADO * @V_ACRESCIMO_ITEM ) / 100)
SET @VORCAMENTO_TOTAL_ITEM = 0;
SET @VORCAMENTO_TOTAL_ITEM = @V_PRECO_APLICADO * @V_QUANTIDADE_ITEM_ECON;
SET @V_ITEM_DSCTO_0 = 0;
SET @V_ITEM_DSCTO_1 = 0;
SET @V_ITEM_DSCTO_2 = 0;
SET @V_ITEM_DSCTO_3 = 0;
SET @V_ITEM_DSCTO_4 = 0;
SET @V_ITEM_DSCTO_5 = 0;
SET @V_ITEM_DSCTO_6 = 0;
SET @V_ITEM_DSCTO_7 = 0;
SET @V_ITEM_DSCTO_8 = 0;
SET @V_ITEM_DSCTO_9 = 0;
SET @V_ITEM_DSCTO_10 = 0;
SET @V_DESCTO_ITEM_REGRA = NULL;
SET @V_ACRESCIMO_ITEM = 0;
IF @VPED_NRODESCTOITEM = 1
BEGIN
DECLARE CUR_PED_ITEM_DESCTO2 CURSOR
FOR SELECT DB_ORCD_DCTOPOL, DB_ORCD_INDDESCTO, DB_ORCD_TPDESC
FROM DB_ORCAMENTO_DPOL
WHERE DB_ORCD_NRO = @P_NRO
AND DB_ORCD_SEQIT = @V_SEQ_ITEM
AND DB_ORCD_INDDESCTO IN (1, 2, 3)
OPEN CUR_PED_ITEM_DESCTO2
FETCH NEXT FROM CUR_PED_ITEM_DESCTO2
INTO @VDB_ORCD_DESCONTO, @VDB_ORCD_INDDESCTO, @V_DB_ORCD_TPDESC
WHILE @@FETCH_STATUS = 0
BEGIN
IF @V_DB_ORCD_TPDESC = 0
BEGIN
IF @VDB_ORCD_INDDESCTO = 1 AND CHARINDEX('1', ISNULL(@V_ALCP_INDICEDESCITEM, ' ')) = 0
SET @V_ITEM_DSCTO_1 = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 2 AND CHARINDEX('2', ISNULL(@V_ALCP_INDICEDESCITEM, ' ')) = 0
SET @V_ITEM_DSCTO_2 = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 3 AND CHARINDEX('3', ISNULL(@V_ALCP_INDICEDESCITEM, ' ')) = 0
SET @V_ITEM_DSCTO_3 = @VDB_ORCD_DESCONTO
END
ELSE IF @V_DB_ORCD_TPDESC = 1
BEGIN
SET @V_ACRESCIMO_ITEM = @VDB_ORCD_DESCONTO
END
FETCH NEXT FROM CUR_PED_ITEM_DESCTO2
INTO @VDB_ORCD_DESCONTO, @VDB_ORCD_INDDESCTO, @V_DB_ORCD_TPDESC
END
CLOSE CUR_PED_ITEM_DESCTO2
DEALLOCATE CUR_PED_ITEM_DESCTO2
END
ELSE
BEGIN
DECLARE CUR_PED_ITEM_DESCTO2 CURSOR
FOR SELECT DB_ORCD_DCTOPOL, DB_ORCD_INDDESCTO, DB_ORCD_TPDESC
FROM DB_ORCAMENTO_DPOL
WHERE DB_ORCD_NRO = @P_NRO
AND DB_ORCD_SEQIT = @V_SEQ_ITEM
OPEN CUR_PED_ITEM_DESCTO2
FETCH NEXT FROM CUR_PED_ITEM_DESCTO2
INTO @VDB_ORCD_DESCONTO, @VDB_ORCD_INDDESCTO, @V_DB_ORCD_TPDESC
WHILE @@FETCH_STATUS = 0
BEGIN
SET @V_ITEM_DSCTO_0 = 0;
IF @V_DB_ORCD_TPDESC = 0
BEGIN
IF @VDB_ORCD_INDDESCTO = 1 AND CHARINDEX('1', ISNULL(@V_ALCP_INDICEDESCITEM, ' ')) = 0
SET @V_ITEM_DSCTO_1 = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 2 AND CHARINDEX('2', ISNULL(@V_ALCP_INDICEDESCITEM, ' ')) = 0
SET @V_ITEM_DSCTO_2 = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 3 AND CHARINDEX('3', ISNULL(@V_ALCP_INDICEDESCITEM, ' ')) = 0
SET @V_ITEM_DSCTO_3 = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 4 AND CHARINDEX('4', ISNULL(@V_ALCP_INDICEDESCITEM, ' ')) = 0
SET @V_ITEM_DSCTO_4 = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 5 AND CHARINDEX('5', ISNULL(@V_ALCP_INDICEDESCITEM, ' ')) = 0
SET @V_ITEM_DSCTO_5 = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 6 AND CHARINDEX('6', ISNULL(@V_ALCP_INDICEDESCITEM, ' ')) = 0
SET @V_ITEM_DSCTO_6 = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 7 AND CHARINDEX('7', ISNULL(@V_ALCP_INDICEDESCITEM, ' ')) = 0
SET @V_ITEM_DSCTO_7 = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 8 AND CHARINDEX('8', ISNULL(@V_ALCP_INDICEDESCITEM, ' ')) = 0
SET @V_ITEM_DSCTO_8 = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 9 AND CHARINDEX('9', ISNULL(@V_ALCP_INDICEDESCITEM, ' ')) = 0
SET @V_ITEM_DSCTO_9 = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 10 AND CHARINDEX('10', ISNULL(@V_ALCP_INDICEDESCITEM, ' ')) = 0
SET @V_ITEM_DSCTO_10 = @VDB_ORCD_DESCONTO
END
ELSE IF @V_DB_ORCD_TPDESC = 1
BEGIN
SET @V_ACRESCIMO_ITEM = @VDB_ORCD_DESCONTO
END
FETCH NEXT FROM CUR_PED_ITEM_DESCTO2
INTO @VDB_ORCD_DESCONTO, @VDB_ORCD_INDDESCTO, @V_DB_ORCD_TPDESC
END
CLOSE CUR_PED_ITEM_DESCTO2
DEALLOCATE CUR_PED_ITEM_DESCTO2
END
SELECT @V_DESCTO_TOTAL = DBO.MERCF_RET_DESCTO_CASCATA_2(  @V_PED_DSCTO,
@V_PED_DSCTO2,
@V_PED_DSCTO3,
@V_PED_DSCTO4,
@V_PED_DSCTO5,
@V_PED_DSCTO6,
@V_PED_DSCTO7,
@V_ITEM_DSCTO_0,
@V_ITEM_DSCTO_1,
@V_ITEM_DSCTO_2,
@V_ITEM_DSCTO_3,
@V_ITEM_DSCTO_4,
@V_ITEM_DSCTO_5,
@V_ITEM_DSCTO_6,
@V_ITEM_DSCTO_7,
@V_ITEM_DSCTO_8,
@V_ITEM_DSCTO_9,
@V_ITEM_DSCTO_10,
@V_ACRESCIMO_ORCAMENTO_POL,
0)
SET @V_PRECO_POLITICA = @V_PRECO_BRUTO_UNIT - ((@V_PRECO_BRUTO_UNIT * @V_DESCTO_TOTAL ) / 100)
SET @V_PRECO_POLITICA = @V_PRECO_POLITICA + ((@V_PRECO_POLITICA * @V_ACRESCIMO_ITEM ) / 100)
SET @VECONOMIA_ITEM = (@V_PRECO_APLICADO - @V_PRECO_POLITICA) * @V_QUANTIDADE_ITEM_ECON
SET @V_DESCTO_ITEM_REGRA = NULL;
IF @V_ALCP_REGRAEXCDESCONTO <> 0
BEGIN
SET @V_DESCTO_ITEM_REGRA = NULL;
SELECT TOP 1 @V_DESCTO_ITEM_REGRA = PROD.DESCONTO
FROM DB_REGRASDESCLIBERACAO CAPA
, DB_REGRASDESCLIB_PRODUTOS PROD
WHERE CAPA.CODIGO = PROD.CODIGO
AND CAPA.CODIGO = @V_ALCP_REGRAEXCDESCONTO
AND CAST(GETDATE() AS DATE) BETWEEN CAST(CAPA.DATA_INICIAL AS DATE)  AND CAST(CAPA.DATA_FINAL AS DATE)
AND CAST(GETDATE() AS DATE) BETWEEN CAST(ISNULL(PROD.DTVAL_INICIAL, CAPA.DATA_INICIAL) AS DATE)  AND CAST(ISNULL(PROD.DTVAL_FINAL, CAPA.DATA_FINAL) AS DATE)
AND DBO.MERCF_VALIDA_LISTA(@V_CODIGO_PRODUTO, PRODUTO, 0, ',') = 1
AND DBO.MERCF_VALIDA_LISTA(@V_TIPO, TIPO, 0, ',') = 1
AND DBO.MERCF_VALIDA_LISTA(@V_MARCA, MARCA, 0, ',') = 1
AND DBO.MERCF_VALIDA_LISTA(@V_FAMILIA, FAMILIA, 0, ',') = 1
AND DBO.MERCF_VALIDA_LISTA(@V_GRUPO, GRUPO, 0, ',') = 1
AND (PROD.UNIDFV  IS NULL OR PROD.UNIDFV = ''  OR  PROD.UNIDFV = @V_DB_TBREP_UNIDFV)
AND (ISNULL(PROD.CLIENTE, 0) = 0 OR PROD.CLIENTE = @V_PED_CLIENTE)
ORDER BY PESO DESC;
END
IF ISNULL(@V_DESCTO_ITEM_REGRA, '') = ''
SET @V_LIB_DCTMAX_ITEM = @V_LIB_DCTMAX;
ELSE
SET @V_LIB_DCTMAX_ITEM = @V_DESCTO_ITEM_REGRA;
IF @VPED_REGRAPERCENTUALECO IN (0, 3)
BEGIN
SET @V_DESCONTO_PED_ITEM = ((@VECONOMIA_ITEM * 100) / (@VORCAMENTO_TOTAL_ITEM - @VECONOMIA_ITEM)) * (-1)
IF @V_DESCONTO_PED_ITEM > @V_DB_ALCP_DCTOMAXJUSTIF
SET @V_EXIGE_JUSTIFICATIVA_MOT_D = 1
IF ROUND(@V_DESCONTO_PED_ITEM, 2) > ROUND(@V_LIB_DCTMAX_ITEM, 2)
BEGIN
SET @V_FLG = 1;
BREAK;
END
END
ELSE
BEGIN
SET @V_DESCONTO_PED_ITEM = ((@VECONOMIA_ITEM * 100) / (@V_VALOR_BRUTO_ITEM)) * (-1)
IF @V_DESCONTO_PED_ITEM > @V_DB_ALCP_DCTOMAXJUSTIF
SET @V_EXIGE_JUSTIFICATIVA_MOT_D = 1
IF ROUND(@V_DESCONTO_PED_ITEM, 2) > ROUND(@V_LIB_DCTMAX_ITEM, 2)
BEGIN
SET @V_FLG = 1;
BREAK;
END
END
FETCH NEXT FROM CUR_PED_PROD
INTO @VORCAMENTO_TOTAL_ITEM, @VECONOMIA_ITEM, @V_VALOR_BRUTO_ITEM, @V_MARCA, @V_TIPO, @V_FAMILIA, @V_CODIGO_PRODUTO, @V_GRUPO, @V_PRECO_BRUTO_UNIT, @V_SEQ_ITEM, @V_QUANTIDADE_ITEM_ECON, @VDB_ORCI_DESCTOP, @V_DB_ORCI_ACRESCIMO
END
CLOSE CUR_PED_PROD
DEALLOCATE CUR_PED_PROD
END
ELSE IF @V_ALCP_TIPOAVALIADESCONTO = 1
BEGIN
SET @VDB_ORC_DESCTO = 0
SET @VDB_ORC_DESCTO2 = 0
SET @VDB_ORC_DESCTO3 = 0
SET @VDB_ORC_DESCTO4 = 0
SET @VDB_ORC_DESCTO5 = 0
SET @VDB_ORC_DESCTO6 = 0
SET @VDB_ORC_DESCTO7 = 0
SET @V_ACRESCIMO_ORCAMENTO = 0
SELECT @VDB_ORC_DESCTO	  = CASE WHEN CHARINDEX('1', @VDB_ALCP_INDTOTDCTO) > 0 THEN 0 ELSE DB_ORC_DESCTO END,
@VDB_ORC_DESCTO2  = CASE WHEN CHARINDEX('2', @VDB_ALCP_INDTOTDCTO) > 0 THEN 0 ELSE DB_ORC_DESCTO2 END,
@VDB_ORC_DESCTO3  = CASE WHEN CHARINDEX('3', @VDB_ALCP_INDTOTDCTO) > 0 THEN 0 ELSE DB_ORC_DESCTO3 END,
@VDB_ORC_DESCTO4  = CASE WHEN CHARINDEX('4', @VDB_ALCP_INDTOTDCTO) > 0 THEN 0 ELSE DB_ORC_DESCTO4 END,
@VDB_ORC_DESCTO5  = CASE WHEN CHARINDEX('5', @VDB_ALCP_INDTOTDCTO) > 0 THEN 0 ELSE DB_ORC_DESCTO5 END,
@VDB_ORC_DESCTO6  = CASE WHEN CHARINDEX('6', @VDB_ALCP_INDTOTDCTO) > 0 THEN 0 ELSE DB_ORC_DESCTO6 END,
@VDB_ORC_DESCTO7  = CASE WHEN CHARINDEX('7', @VDB_ALCP_INDTOTDCTO) > 0 THEN 0 ELSE DB_ORC_DESCTO7 END,
@V_ACRESCIMO_ORCAMENTO = ISNULL(DB_ORC_ACRESCIMO, 0)
FROM DB_ORCAMENTO
WHERE DB_ORC_NUMERO = @P_NRO
DECLARE CUR_PED_PROD CURSOR
FOR SELECT DB_ORCI_DESCTOP, DB_ORCI_SEQUENCIA, DB_PROD_MARCA, DB_PROD_TPPROD, DB_PROD_FAMILIA, DB_PROD_CODIGO, DB_PROD_GRUPO, DB_ORCI_ACRESCIMO
FROM DB_ORCAMENTO_PROD, DB_PRODUTO
WHERE DB_Orci_Orcamento = @P_NRO
AND DB_ORCI_PRODUTO = DB_PROD_CODIGO
OPEN CUR_PED_PROD
FETCH NEXT FROM CUR_PED_PROD
INTO @VDB_ORCI_DESCTOP, @V_SEQ_ITEM, @V_MARCA, @V_TIPO, @V_FAMILIA, @V_CODIGO_PRODUTO, @V_GRUPO, @V_DB_ORCI_ACRESCIMO
WHILE @@FETCH_STATUS = 0
BEGIN
SET @V_ITEM_DSCTO_0 = 0;
SET @V_ITEM_DSCTO_1 = 0;
SET @V_ITEM_DSCTO_2 = 0;
SET @V_ITEM_DSCTO_3 = 0;
SET @V_ITEM_DSCTO_4 = 0;
SET @V_ITEM_DSCTO_5 = 0;
SET @V_ITEM_DSCTO_6 = 0;
SET @V_ITEM_DSCTO_7 = 0;
SET @V_ITEM_DSCTO_8 = 0;
SET @V_ITEM_DSCTO_9 = 0;
SET @V_ITEM_DSCTO_10 = 0;
SET @V_DESCTO_ITEM_REGRA = NULL;
SET @V_ACRESCIMO_ITEM = 0
IF @VPED_NRODESCTOITEM = 1
BEGIN
SET @V_ITEM_DSCTO_0 = @VDB_ORCI_DESCTOP
SET @V_ACRESCIMO_ITEM = @V_DB_ORCI_ACRESCIMO;
END
ELSE
BEGIN
DECLARE CUR_PED_ITEM_DESCTO CURSOR
FOR SELECT DB_ORCD_DESCONTO, DB_ORCD_INDDESCTO, DB_ORCD_TPDESC
FROM DB_ORCAMENTO_DPOL
WHERE DB_ORCD_NRO = @P_NRO
AND DB_ORCD_SEQIT = @V_SEQ_ITEM
OPEN CUR_PED_ITEM_DESCTO
FETCH NEXT FROM CUR_PED_ITEM_DESCTO
INTO @VDB_ORCD_DESCONTO, @VDB_ORCD_INDDESCTO, @V_DB_ORCD_TPDESC
WHILE @@FETCH_STATUS = 0
BEGIN
SET @V_ITEM_DSCTO_0 = 0;
IF @V_DB_ORCD_TPDESC = 0
BEGIN
IF @VDB_ORCD_INDDESCTO = 1 AND CHARINDEX('1', ISNULL(@V_ALCP_INDICEDESCITEM, ' ')) = 0
SET @V_ITEM_DSCTO_1 = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 2 AND CHARINDEX('2', ISNULL(@V_ALCP_INDICEDESCITEM, ' ')) = 0
SET @V_ITEM_DSCTO_2 = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 3 AND CHARINDEX('3', ISNULL(@V_ALCP_INDICEDESCITEM, ' ')) = 0
SET @V_ITEM_DSCTO_3 = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 4 AND CHARINDEX('4', ISNULL(@V_ALCP_INDICEDESCITEM, ' ')) = 0
SET @V_ITEM_DSCTO_4 = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 5 AND CHARINDEX('5', ISNULL(@V_ALCP_INDICEDESCITEM, ' ')) = 0
SET @V_ITEM_DSCTO_5 = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 6 AND CHARINDEX('6', ISNULL(@V_ALCP_INDICEDESCITEM, ' ')) = 0
SET @V_ITEM_DSCTO_6 = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 7 AND CHARINDEX('7', ISNULL(@V_ALCP_INDICEDESCITEM, ' ')) = 0
SET @V_ITEM_DSCTO_7 = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 8 AND CHARINDEX('8', ISNULL(@V_ALCP_INDICEDESCITEM, ' ')) = 0
SET @V_ITEM_DSCTO_8 = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 9 AND CHARINDEX('9', ISNULL(@V_ALCP_INDICEDESCITEM, ' ')) = 0
SET @V_ITEM_DSCTO_9 = @VDB_ORCD_DESCONTO
IF @VDB_ORCD_INDDESCTO = 10 AND CHARINDEX('10', ISNULL(@V_ALCP_INDICEDESCITEM, ' ')) = 0
SET @V_ITEM_DSCTO_10 = @VDB_ORCD_DESCONTO
END IF @V_DB_ORCD_TPDESC = 1
BEGIN
SET @V_ACRESCIMO_ITEM = @VDB_ORCD_DESCONTO
END
FETCH NEXT FROM CUR_PED_ITEM_DESCTO
INTO @VDB_ORCD_DESCONTO, @VDB_ORCD_INDDESCTO, @V_DB_ORCD_TPDESC
END
CLOSE CUR_PED_ITEM_DESCTO
DEALLOCATE CUR_PED_ITEM_DESCTO
END
SELECT @V_DESCTO_TOTAL = DBO.MERCF_RET_DESCTO_CASCATA_2(  @VDB_ORC_DESCTO,
@VDB_ORC_DESCTO2,
@VDB_ORC_DESCTO3,
@VDB_ORC_DESCTO4,
@VDB_ORC_DESCTO5,
@VDB_ORC_DESCTO6,
@VDB_ORC_DESCTO7,
@V_ITEM_DSCTO_0,
@V_ITEM_DSCTO_1,
@V_ITEM_DSCTO_2,
@V_ITEM_DSCTO_3,
@V_ITEM_DSCTO_4,
@V_ITEM_DSCTO_5,
@V_ITEM_DSCTO_6,
@V_ITEM_DSCTO_7,
@V_ITEM_DSCTO_8,
@V_ITEM_DSCTO_9,
@V_ITEM_DSCTO_10,
@V_ACRESCIMO_ORCAMENTO,
@V_ACRESCIMO_ITEM)
IF @V_ALCP_REGRAEXCDESCONTO <> 0
BEGIN
SET @V_DESCTO_ITEM_REGRA = NULL;
SELECT TOP 1 @V_DESCTO_ITEM_REGRA = PROD.DESCONTO
FROM DB_REGRASDESCLIBERACAO CAPA
, DB_REGRASDESCLIB_PRODUTOS PROD
WHERE CAPA.CODIGO = PROD.CODIGO
AND CAPA.CODIGO = @V_ALCP_REGRAEXCDESCONTO
AND CAST(GETDATE() AS DATE) BETWEEN CAST(CAPA.DATA_INICIAL AS DATE)  AND CAST(CAPA.DATA_FINAL AS DATE)
AND CAST(GETDATE() AS DATE) BETWEEN CAST(ISNULL(PROD.DTVAL_INICIAL, CAPA.DATA_INICIAL) AS DATE)  AND CAST(ISNULL(PROD.DTVAL_FINAL, CAPA.DATA_FINAL) AS DATE)
AND DBO.MERCF_VALIDA_LISTA(@V_CODIGO_PRODUTO, PRODUTO, 0, ',') = 1
AND DBO.MERCF_VALIDA_LISTA(@V_TIPO, TIPO, 0, ',') = 1
AND DBO.MERCF_VALIDA_LISTA(@V_MARCA, MARCA, 0, ',') = 1
AND DBO.MERCF_VALIDA_LISTA(@V_FAMILIA, FAMILIA, 0, ',') = 1
AND DBO.MERCF_VALIDA_LISTA(@V_GRUPO, GRUPO, 0, ',') = 1
AND (PROD.UNIDFV  IS NULL OR PROD.UNIDFV = ''  OR  PROD.UNIDFV = @V_DB_TBREP_UNIDFV)
AND (ISNULL(PROD.CLIENTE, 0) = 0 OR PROD.CLIENTE = @V_PED_CLIENTE)
ORDER BY PESO DESC;
END
SET @V_DESCONTO_PED_ITEM = @V_DESCTO_TOTAL
IF @V_DESCONTO_PED_ITEM > @V_DB_ALCP_DCTOMAXJUSTIF
SET @V_EXIGE_JUSTIFICATIVA_MOT_D = 1
IF @V_DESCTO_ITEM_REGRA IS NOT NULL
BEGIN
IF (@V_DESCTO_TOTAL > @V_DESCTO_ITEM_REGRA)
BEGIN
SET @V_FLG = 1;
BREAK;
END
END
ELSE
BEGIN
IF (@V_DESCTO_TOTAL > @VDB_ALCP_TOTDCTO)
BEGIN
SET @V_FLG = 1;
BREAK;
END;
END
FETCH NEXT FROM CUR_PED_PROD
INTO  @VDB_ORCI_DESCTOP, @V_SEQ_ITEM, @V_MARCA, @V_TIPO, @V_FAMILIA, @V_CODIGO_PRODUTO, @V_GRUPO, @V_DB_ORCI_ACRESCIMO
END
CLOSE CUR_PED_PROD
DEALLOCATE CUR_PED_PROD
END
ELSE IF @V_ALCP_TIPOAVALIADESCONTO = 2
BEGIN
DECLARE CUR_PED_PROD CURSOR
FOR SELECT DB_ORCI_QTDE_SOLIC * DB_ORCI_PRECO_LIQ,
DB_ORCI_QTDE_SOLIC * DB_ORCI_ECON_VLR,
DB_ORCI_QTDE_SOLIC * DB_ORCI_PRECO_UNIT,
DB_PROD_MARCA, DB_PROD_TPPROD, DB_PROD_FAMILIA, DB_PROD_CODIGO, DB_PROD_GRUPO
FROM DB_ORCAMENTO_PROD,   DB_PRODUTO
WHERE DB_Orci_Orcamento =  @P_NRO
AND DB_ORCI_PRODUTO = DB_PROD_CODIGO
AND DB_ORCI_TIPO NOT IN ('B', 'T');
OPEN CUR_PED_PROD
FETCH NEXT FROM CUR_PED_PROD
INTO  @VORCAMENTO_TOTAL_ITEM, @VECONOMIA_ITEM, @V_VALOR_BRUTO_ITEM, @V_MARCA, @V_TIPO, @V_FAMILIA, @V_CODIGO_PRODUTO, @V_GRUPO
WHILE @@FETCH_STATUS = 0
BEGIN
SET @V_DESCTO_ITEM_REGRA = NULL;
IF @V_ALCP_REGRAEXCDESCONTO <> 0
BEGIN
SET @V_DESCTO_ITEM_REGRA = NULL;
SELECT @V_DESCTO_ITEM_REGRA = PROD.DESCONTO
FROM DB_REGRASDESCLIBERACAO CAPA
, DB_REGRASDESCLIB_PRODUTOS PROD
WHERE CAPA.CODIGO = PROD.CODIGO
AND CAPA.CODIGO = @V_ALCP_REGRAEXCDESCONTO
AND CAST(GETDATE() AS DATE) BETWEEN CAST(CAPA.DATA_INICIAL AS DATE)  AND CAST(CAPA.DATA_FINAL AS DATE)
AND CAST(GETDATE() AS DATE) BETWEEN CAST(ISNULL(PROD.DTVAL_INICIAL, CAPA.DATA_INICIAL) AS DATE)  AND CAST(ISNULL(PROD.DTVAL_FINAL, CAPA.DATA_FINAL) AS DATE)
AND DBO.MERCF_VALIDA_LISTA(@V_CODIGO_PRODUTO, PRODUTO, 0, ',') = 1
AND DBO.MERCF_VALIDA_LISTA(@V_TIPO, TIPO, 0, ',') = 1
AND DBO.MERCF_VALIDA_LISTA(@V_MARCA, MARCA, 0, ',') = 1
AND DBO.MERCF_VALIDA_LISTA(@V_FAMILIA, FAMILIA, 0, ',') = 1
AND DBO.MERCF_VALIDA_LISTA(@V_GRUPO, GRUPO, 0, ',') = 1
AND (PROD.UNIDFV  IS NULL OR PROD.UNIDFV = ''  OR  PROD.UNIDFV = @V_DB_TBREP_UNIDFV)
AND (ISNULL(PROD.CLIENTE, 0) = 0 OR PROD.CLIENTE = @V_PED_CLIENTE)
ORDER BY PESO DESC;
END
IF @V_PRM_APLDESCTO = 0
BEGIN
IF  @VORCAMENTO_TOTAL_ITEM > 0
SET @V_PED_DCTO_ITEM = @VECONOMIA_ITEM * 100 / @VORCAMENTO_TOTAL_ITEM;
END
ELSE
BEGIN
IF @V_VALOR_BRUTO_ITEM > 0
SET @V_PED_DCTO_ITEM = @VECONOMIA_ITEM * 100 / @V_VALOR_BRUTO_ITEM;
END
SET @V_DESCONTO_PED_ITEM = @V_PED_DCTO_ITEM * (-1)
IF @V_DESCONTO_PED_ITEM > @V_DB_ALCP_DCTOMAXJUSTIF
SET @V_EXIGE_JUSTIFICATIVA_MOT_D = 1
IF ISNULL(@V_DESCTO_ITEM_REGRA, '') <> ''
BEGIN
IF @V_PED_DCTO_ITEM > @V_DESCTO_ITEM_REGRA
BEGIN
SET @V_FLG = 1;
BREAK;
END
END
ELSE
BEGIN
IF @V_PED_DCTO_ITEM > @VDB_ALCP_ECONOMIA
BEGIN
SET @V_FLG = 1;
BREAK;
END
END
FETCH NEXT FROM CUR_PED_PROD
INTO @VORCAMENTO_TOTAL_ITEM, @VECONOMIA_ITEM, @V_VALOR_BRUTO_ITEM, @V_MARCA, @V_TIPO, @V_FAMILIA, @V_CODIGO_PRODUTO, @V_GRUPO
END
CLOSE CUR_PED_PROD
DEALLOCATE CUR_PED_PROD
END
END
ELSE
BEGIN
IF ISNULL(@VDB_ALCP_TOTDCTO, 0) > 0
BEGIN
SET @VDB_ORC_DESCTO = 0
SET @VDB_ORC_DESCTO2 = 0
SET @VDB_ORC_DESCTO3 = 0
SET @VDB_ORC_DESCTO4 = 0
SET @VDB_ORC_DESCTO5 = 0
SET @VDB_ORC_DESCTO6 = 0
SET @VDB_ORC_DESCTO7 = 0
SELECT @VDB_ORC_DESCTO	 = CASE WHEN CHARINDEX('1', @VDB_ALCP_INDTOTDCTO) > 0 THEN 0 ELSE DB_ORC_DESCTO END,
@VDB_ORC_DESCTO2	 = CASE WHEN CHARINDEX('2', @VDB_ALCP_INDTOTDCTO) > 0 THEN 0 ELSE DB_ORC_DESCTO2 END,
@VDB_ORC_DESCTO3	 = CASE WHEN CHARINDEX('3', @VDB_ALCP_INDTOTDCTO) > 0 THEN 0 ELSE DB_ORC_DESCTO3 END,
@VDB_ORC_DESCTO4	 = CASE WHEN CHARINDEX('4', @VDB_ALCP_INDTOTDCTO) > 0 THEN 0 ELSE DB_ORC_DESCTO4 END,
@VDB_ORC_DESCTO5	 = CASE WHEN CHARINDEX('5', @VDB_ALCP_INDTOTDCTO) > 0 THEN 0 ELSE DB_ORC_DESCTO5 END,
@VDB_ORC_DESCTO6	 = CASE WHEN CHARINDEX('6', @VDB_ALCP_INDTOTDCTO) > 0 THEN 0 ELSE DB_ORC_DESCTO6 END,
@VDB_ORC_DESCTO7	 = CASE WHEN CHARINDEX('7', @VDB_ALCP_INDTOTDCTO) > 0 THEN 0 ELSE DB_ORC_DESCTO7 END
FROM DB_ORCAMENTO
WHERE DB_ORC_NUMERO = @P_NRO
DECLARE CUR_PED_PROD CURSOR
FOR SELECT DB_ORCI_DESCTOP
FROM DB_ORCAMENTO_PROD
WHERE DB_Orci_Orcamento = @P_NRO
OPEN CUR_PED_PROD
FETCH NEXT FROM CUR_PED_PROD
INTO @VDB_ORCI_DESCTOP
WHILE @@FETCH_STATUS = 0
BEGIN
SELECT @V_DESCTO_TOTAL = DBO.MERCF_RET_DESCTO_CASCATA_2( @VDB_ORC_DESCTO,
@VDB_ORC_DESCTO2,
@VDB_ORC_DESCTO3,
@VDB_ORC_DESCTO4,
@VDB_ORC_DESCTO5,
@VDB_ORC_DESCTO6,
@VDB_ORC_DESCTO7,
@VDB_ORCI_DESCTOP,
0,
0,
0,
0,
0,
0,
0,
0,
0,
0,0,0)
SET @V_DESCONTO_PED_ITEM = @V_DESCTO_TOTAL
IF @V_DESCONTO_PED_ITEM > @V_DB_ALCP_DCTOMAXJUSTIF
SET @V_EXIGE_JUSTIFICATIVA_MOT_D = 1
IF  (@V_DESCTO_TOTAL > @VDB_ALCP_TOTDCTO)
BEGIN
SET @V_FLG = 1
BREAK
END
FETCH NEXT FROM CUR_PED_PROD
INTO  @VDB_ORCI_DESCTOP
END
CLOSE CUR_PED_PROD
DEALLOCATE CUR_PED_PROD
END
ELSE
BEGIN
IF @VDB_ALCP_ECONOMIA > 0
BEGIN
SET @V_DESCONTO_PED_ITEM = (@V_PED_DCTO * (-1))
IF @V_DESCONTO_PED_ITEM > @V_DB_ALCP_DCTOMAXJUSTIF
SET @V_EXIGE_JUSTIFICATIVA_MOT_D = 1
IF @V_DESCONTO_PED_ITEM > @VDB_ALCP_ECONOMIA
SET @V_FLG = 1;
END;
IF 	@V_LIB_DCTMAX > 0
BEGIN
SET @V_PARAM_VALDESCONTOEXCEDIDO = 0;
SELECT @V_PARAM_VALDESCONTOEXCEDIDO = ISNULL(DB_PRMS_VALOR, 0)
FROM DB_PARAM_SISTEMA
WHERE DB_PRMS_ID = 'LIB_VALDESCONTOEXCEDIDO';
SELECT @VPED_REGRAPERCENTUALECO = ISNULL(DB_PRMS_VALOR, 0)
FROM DB_PARAM_SISTEMA
WHERE DB_PRMS_ID = 'PED_REGRAPERCENTUALECO';
IF @V_PARAM_VALDESCONTOEXCEDIDO = 0
BEGIN
IF @VPED_REGRAPERCENTUALECO = 0
BEGIN
SET @V_DESCONTO_PED_ITEM = ((@V_ECON * 100) / (@V_PED_TOT - @V_ECON)) * (-1)
IF @V_DESCONTO_PED_ITEM > @V_DB_ALCP_DCTOMAXJUSTIF
SET @V_EXIGE_JUSTIFICATIVA_MOT_D = 1
IF @V_DESCONTO_PED_ITEM > @V_LIB_DCTMAX
SET @V_FLG = 1;
END
ELSE
BEGIN
SET @V_DESCONTO_PED_ITEM = ((@V_ECON * 100) / (@V_BRUTO)) * (-1)
IF @V_DESCONTO_PED_ITEM > @V_DB_ALCP_DCTOMAXJUSTIF
SET @V_EXIGE_JUSTIFICATIVA_MOT_D = 1
IF @V_DESCONTO_PED_ITEM > @V_LIB_DCTMAX
SET @V_FLG = 1;
END
END
ELSE IF @V_PARAM_VALDESCONTOEXCEDIDO = 1
BEGIN
DECLARE CUR_PED_PROD CURSOR
FOR SELECT DB_ORCI_QTDE_SOLIC * DB_ORCI_PRECO_LIQ,
DB_ORCI_QTDE_SOLIC * DB_ORCI_ECON_VLR,
DB_ORCI_QTDE_SOLIC * DB_ORCI_PRECO_UNIT
FROM DB_ORCAMENTO_PROD,   DB_PRODUTO
WHERE DB_Orci_Orcamento =  @P_NRO
AND DB_ORCI_PRODUTO = DB_PROD_CODIGO
AND DB_ORCI_TIPO NOT IN ('B', 'T');
OPEN CUR_PED_PROD
FETCH NEXT FROM CUR_PED_PROD
INTO  @VORCAMENTO_TOTAL_ITEM, @VECONOMIA_ITEM, @V_VALOR_BRUTO_ITEM
WHILE @@FETCH_STATUS = 0
BEGIN
IF @VPED_REGRAPERCENTUALECO = 0
BEGIN
SET @V_DESCONTO_PED_ITEM = ((@VECONOMIA_ITEM * 100) / (@VORCAMENTO_TOTAL_ITEM - @VECONOMIA_ITEM)) * (-1)
IF @V_DESCONTO_PED_ITEM > @V_DB_ALCP_DCTOMAXJUSTIF
SET @V_EXIGE_JUSTIFICATIVA_MOT_D = 1
IF @V_DESCONTO_PED_ITEM > @V_LIB_DCTMAX
BEGIN
SET @V_FLG = 1;
BREAK;
END
END
ELSE
BEGIN
SET @V_DESCONTO_PED_ITEM = ((@VECONOMIA_ITEM * 100) / (@V_VALOR_BRUTO_ITEM)) * (-1)
IF @V_DESCONTO_PED_ITEM > @V_DB_ALCP_DCTOMAXJUSTIF
SET @V_EXIGE_JUSTIFICATIVA_MOT_D = 1
IF @V_DESCONTO_PED_ITEM > @V_LIB_DCTMAX
BEGIN
SET @V_FLG = 1;
BREAK;
END
END
FETCH NEXT FROM CUR_PED_PROD
INTO @VORCAMENTO_TOTAL_ITEM, @VECONOMIA_ITEM, @V_VALOR_BRUTO_ITEM
END
CLOSE CUR_PED_PROD
DEALLOCATE CUR_PED_PROD
END
END;
IF @VDB_ALCP_DESCTOMEDIO > 0
BEGIN
SET @VDB_ORC_DESCTO = 0
SET @VDB_ORC_DESCTO2 = 0
SET @VDB_ORC_DESCTO3 = 0
SET @VDB_ORC_DESCTO4 = 0
SET @VDB_ORC_DESCTO5 = 0
SET @VDB_ORC_DESCTO6 = 0
SET @VDB_ORC_DESCTO7 = 0
SELECT @VDB_ORC_DESCTO	 = CASE WHEN CHARINDEX('1', @VDB_ALCP_INDTOTDCTO) > 0 THEN 0 ELSE DB_ORC_DESCTO END,
@VDB_ORC_DESCTO2	 = CASE WHEN CHARINDEX('2', @VDB_ALCP_INDTOTDCTO) > 0 THEN 0 ELSE DB_ORC_DESCTO2 END,
@VDB_ORC_DESCTO3	 = CASE WHEN CHARINDEX('3', @VDB_ALCP_INDTOTDCTO) > 0 THEN 0 ELSE DB_ORC_DESCTO3 END,
@VDB_ORC_DESCTO4	 = CASE WHEN CHARINDEX('4', @VDB_ALCP_INDTOTDCTO) > 0 THEN 0 ELSE DB_ORC_DESCTO4 END,
@VDB_ORC_DESCTO5	 = CASE WHEN CHARINDEX('5', @VDB_ALCP_INDTOTDCTO) > 0 THEN 0 ELSE DB_ORC_DESCTO5 END,
@VDB_ORC_DESCTO6	 = CASE WHEN CHARINDEX('6', @VDB_ALCP_INDTOTDCTO) > 0 THEN 0 ELSE DB_ORC_DESCTO6 END,
@VDB_ORC_DESCTO7	 = CASE WHEN CHARINDEX('7', @VDB_ALCP_INDTOTDCTO) > 0 THEN 0 ELSE DB_ORC_DESCTO7 END
FROM DB_ORCAMENTO
WHERE DB_ORC_NUMERO     = @P_NRO
SET @V_VALOR_LIQ_TOTAL_DESCONTOS = 0;
SET @V_VALOR_BRU_TOTAL           = 0;
DECLARE CUR_PED_PROD2 CURSOR
FOR SELECT DB_ORCI_DESCTOP, DB_ORCI_PRECO_UNIT, DB_ORCI_QTDE_SOLIC
FROM DB_ORCAMENTO_PROD
WHERE DB_Orci_Orcamento = @P_NRO
OPEN CUR_PED_PROD2
FETCH NEXT FROM CUR_PED_PROD2
INTO @VDB_ORCI_DESCTOP, @VDB_ORCI_PRECO_UNIT, @VDB_ORCI_QTDE_SOLIC
WHILE @@FETCH_STATUS = 0
BEGIN
SELECT @V_DESCTO_TOTAL = DBO.MERCF_RET_DESCTO_CASCATA_2( @VDB_ORC_DESCTO,
@VDB_ORC_DESCTO2,
@VDB_ORC_DESCTO3,
@VDB_ORC_DESCTO4,
@VDB_ORC_DESCTO5,
@VDB_ORC_DESCTO6,
@VDB_ORC_DESCTO7,
@VDB_ORCI_DESCTOP,
0,
0,
0,
0,
0,
0,
0,
0,
0,
0,0,0)
SET @V_VALOR_TEMP = (@VDB_ORCI_PRECO_UNIT * (@VDB_ORCI_QTDE_SOLIC)) -
((@VDB_ORCI_PRECO_UNIT * (@VDB_ORCI_QTDE_SOLIC) * @V_DESCTO_TOTAL) / 100);
SET @V_VALOR_LIQ_TOTAL_DESCONTOS = @V_VALOR_LIQ_TOTAL_DESCONTOS + @V_VALOR_TEMP;
SET @V_VALOR_BRU_TOTAL           = @V_VALOR_BRU_TOTAL + (@VDB_ORCI_PRECO_UNIT * (@VDB_ORCI_QTDE_SOLIC));
SET @V_DESCONTO_ITEM = 100 - ((@V_VALOR_TEMP / (@VDB_ORCI_PRECO_UNIT * (@VDB_ORCI_QTDE_SOLIC))) * 100);
FETCH NEXT FROM CUR_PED_PROD2
INTO @VDB_ORCI_DESCTOP, @VDB_ORCI_PRECO_UNIT, @VDB_ORCI_QTDE_SOLIC
END
CLOSE CUR_PED_PROD2
DEALLOCATE CUR_PED_PROD2
SET @V_DESCONTO_MEDIO_ORCAMENTO = (1 - (@V_VALOR_LIQ_TOTAL_DESCONTOS / @V_VALOR_BRU_TOTAL)) * 100;
SET @V_DESCONTO_PED_ITEM = @V_DESCONTO_ITEM
IF @V_DESCONTO_PED_ITEM > @V_DB_ALCP_DCTOMAXJUSTIF
SET @V_EXIGE_JUSTIFICATIVA_MOT_D = 1
IF (  @V_DESCONTO_ITEM  >  @VDB_ALCP_DESCTOMEDIO)
BEGIN
SET @V_FLG = 1;
BREAK;
END;
END
END
END
END
SET @V_PASSO = 14
IF (SUBSTRING(@V_MOTIVOS, @V_AUX, 1) = 'A' AND NOT  ( @V_FLG_LIB_MOTIVO_A_ALCADA = 1 AND @V_FLG_LIB_MOTIVO_A_PGTO = 1) ) OR SUBSTRING(@V_MOTIVOS, @V_AUX, 1) <> 'A'
BEGIN
IF @V_LIBERA_ORCAMENTO = 0
BEGIN
IF (@V_VLR_PED > @V_VLR_MAX) AND NOT (@V_FLG = 0 AND @V_LIB_LIMITEEXCEDIDO = 1)
SET @V_FLG = 1;
ELSE IF (@V_VLR_PED < @V_VLR_MAX) AND (@V_LIB_LIMITEEXCEDIDO = 1)
SET @V_FLG = 1;
END
IF @V_LIBERA_ORCAMENTO = 1
BEGIN
IF @V_TOTAL_ORCAMENTOS_EM_ABERTO > @V_VLR_MAX
SET @V_FLG = 1;
END
IF @V_LIBERA_ORCAMENTO = 2
BEGIN
IF @V_TOTAL_COBRANCA_CLIENTE > @V_VLR_MAX
SET @V_FLG = 1;
END
IF @V_LIBERA_ORCAMENTO = 3
BEGIN
IF (@V_TOTAL_ORCAMENTOS_EM_ABERTO + @V_TOTAL_COBRANCA_CLIENTE) > @V_VLR_MAX
SET @V_FLG = 1;
END
END
SET @V_PASSO = '17';
IF @V_FLG = 0
BEGIN
SET @V_LIBMOTS = @V_LIBMOTS + SUBSTRING(@V_MOTIVOS, @V_AUX, 1);
END
END
ELSE
BEGIN
SET @V_LIBMOTS = @V_LIBMOTS + SUBSTRING(@V_MOTIVOS, @V_AUX, 1);
END
END
END
SET @V_MOTIVOS = @V_LIBMOTS;
SET @V_LIBMOTS = '';
SET @V_PASSO = '20';
SET @V_AUX = 0;
IF ISNULL(@V_MOTIVOS, '') <> ''
WHILE @V_AUX < LEN(@V_MOTIVOS)
BEGIN
SET @V_AUX = @V_AUX + 1;
IF CHARINDEX(SUBSTRING(@V_MOTIVOS, @V_AUX, 1), ISNULL(@V_BLQS,' ')) = 0
SET @V_LIBMOTS = @V_LIBMOTS + SUBSTRING(@V_MOTIVOS, @V_AUX, 1);
END
SET @V_PASSO = '21';
SET @V_MOTIVOS = @V_PED_MOTIVO_BLOQ;
SET @V_LIBTOT =  0;
SET @V_AUX =     0;
IF ISNULL(@V_MOTIVOS, '') <> ''
WHILE @V_AUX < LEN(@V_MOTIVOS)
BEGIN
SET @V_AUX = @V_AUX + 1;
IF CHARINDEX(SUBSTRING(@V_MOTIVOS, @V_AUX, 1), (ISNULL(@V_BLQS, ' ') + ISNULL(@V_LIBMOTS,' '))) = 0
SET @V_LIBTOT = 1;
END
SET @V_USUS = ISNULL(@V_USUS, '') + @P_USUARIO + '!' + CONVERT(VARCHAR, @V_GRUPO_LIB) + ';';
SET @V_DATAS = ISNULL(@V_DATAS, '') + CONVERT(VARCHAR, GETDATE(), 103) + ';';
SET @V_HORAS = ISNULL(@V_HORAS, '') + CONVERT(VARCHAR, GETDATE(), 108) + ';';
SET @V_BLQS = ISNULL(@V_BLQS, '') + ISNULL(@V_LIBMOTS, '') + ';';
SET @V_PASSO = '23';
IF @V_LIBPARC = 1
BEGIN
SET @V_MOTNLIBERADO = '';
SET @V_AUX = 0;
IF ISNULL(@V_MOTIVOS, '') <> ''
WHILE @V_AUX < LEN(@V_MOTIVOS)
BEGIN
SET @V_AUX = @V_AUX + 1;
IF CHARINDEX(SUBSTRING(@V_MOTIVOS, @V_AUX, 1), (ISNULL(@V_BLQS, '') + ISNULL(@V_LIBMOTS, ''))) = 0
SET @V_MOTNLIBERADO = @V_MOTNLIBERADO + SUBSTRING(@V_MOTIVOS, @V_AUX, 1);
END
SET @V_ACHOU_OUTROMOTIVO = 1;
IF @V_GRAVALOG = 1
BEGIN
INSERT INTO DBS_ERROS_TRIGGERS
(DBS_ERROS_OBJETO, DBS_ERROS_DATA, DBS_ERROS_ERRO)
VALUES
('MERCP_LIBERCAO_ORCAMENTO_LOG', GETDATE(), 'ORCAMENTO: ' + CAST(@P_NRO AS VARCHAR) + ' - Usu: ' + ISNULL(@P_USUARIO, 'null') + ' - acao: ' + CAST(isnull(@P_ACAO, 0) AS VARCHAR) + ' - exclui: ' + CAST(@P_EXCLUI AS VARCHAR) + ' V_MotNLiberado - ' + isnull(@V_MOTNLIBERADO, 'null'));
END
SET @V_AUX = 0;
IF ISNULL(@V_MOTNLIBERADO, '') <> ''
BEGIN
WHILE @V_AUX < LEN(@V_MOTNLIBERADO)
BEGIN
SET @V_AUX = @V_AUX + 1;
IF RTRIM(LTRIM(SUBSTRING(@V_MOTNLIBERADO, @V_AUX, 1))) IS NOT NULL
IF CHARINDEX(SUBSTRING(@V_MOTNLIBERADO, @V_AUX, 1), ISNULL(@V_PARAM_MOTIVSLIBER, ' ')) = 0
SET @V_ACHOU_OUTROMOTIVO = 0;
END
IF NOT @V_ACHOU_OUTROMOTIVO = 0
SET @V_LIBTOT = 0;
END
END
SET  @V_PASSO = '25';
IF (@V_LIBTOT = 0 AND @V_LIBPARC = 1)
SET @V_UPDATE_SITUACAO = 0;
SET @V_BLOQUEIOS = @V_BLQS;
SET @V_PED_LIB_MOTS = ISNULL(@V_PED_LIB_MOTS, '') + @V_LIBMOTS + ';'
SET @V_PASSO = '26';
IF @V_ALCADA_E_PRIORITARIA = 1 AND ISNULL(@V_ALCADA_ATUAL, '') <> ''
BEGIN
select @V_PEDAL_SEQ = DB_ORCAL_SEQ
from DB_ORCAMENTO_alcada
where DB_ORCAL_ORCAMENTO = @P_NRO
AND DB_ORCAL_ALCADA = @V_ALCADA_ATUAL;
END
ELSE
BEGIN
SELECT @V_PEDAL_SEQ = MAX(DB_ORCAL_SEQ)
FROM DB_ORCAMENTO_ALCADA
WHERE DB_ORCAL_ORCAMENTO = @P_NRO;
END
SET @V_PASSO = '28';
SET @V_AUX = 0
IF ISNULL(@V_PERMI, '') <> ''
BEGIN
WHILE @V_AUX < LEN(@V_PERMI)
BEGIN
SET @V_AUX = @V_AUX + 1;
IF  CHARINDEX(SUBSTRING(@V_PERMI, @V_AUX, 1), ISNULL(@V_MOTIVOS, ' ')) > 0
AND CHARINDEX(SUBSTRING(@V_PERMI, @V_AUX, 1), ISNULL(@V_LIBMOTS, ' ')) = 0
AND CHARINDEX(SUBSTRING(@V_PERMI, @V_AUX, 1), ISNULL(@V_PED_LIB_MOTS, ' ')) = 0
SET @V_PEDAL_MOTLIBPAR = ISNULL(@V_PEDAL_MOTLIBPAR, '') + SUBSTRING(@V_PERMI, @V_AUX, 1);
END
END
SET @V_PODE_LIBERAR = 1
IF @V_PODE_LIBERAR = 1
BEGIN
IF @P_EXCLUI = 0
BEGIN
UPDATE DB_ORCAMENTO
SET DB_ORC_LIB_MOTS = @V_PED_LIB_MOTS
, DB_ORC_LIB_USUS = @V_USUS
, DB_ORC_LIB_DATAS = @V_DATAS
, DB_ORC_DATA_ALTER = GETDATE()
, DB_ORC_SITUACAO = @V_UPDATE_SITUACAO
WHERE DB_ORC_NUMERO = @P_NRO;
END
IF (@V_LIBTOT = 0 AND @V_LIBPARC = 1)
BEGIN
UPDATE DB_ORCAMENTO_ALCADA
SET DB_ORCAL_USULIB  = @V_CODIGO_USUARIO
, DB_ORCAL_MOTLIB  = @V_LIBMOTS
, DB_ORCAL_DATALIB = GETDATE()
, DB_ORCAL_ACAO    = @P_ACAO
, DB_ORCAL_STATUS  = 1
, DB_ORCAL_MOTLIBPAR = @V_PEDAL_MOTLIBPAR
WHERE DB_ORCAL_ORCAMENTO =  @P_NRO
AND DB_ORCAL_SEQ    =  @V_PEDAL_SEQ;
IF @V_PERMITE_LIBERA_PRIORITARIA = 1
BEGIN
DELETE DB_ORCAMENTO_ALCADA
WHERE DB_ORCAL_ORCAMENTO = @P_NRO
AND DB_ORCAL_STATUS in (0,9);
END
SET @V_DESCRICAO = @V_PROGRAMA + ' Liberou orçamento total. Orçamento nro: ' + CAST(@P_NRO AS VARCHAR);
SET @V_ENV_WORKFLOW = 19;
SET @V_STATUS_PED = 0;
SELECT @V_STATUS_PED = DB_ALCP_STATUS_LT
FROM DB_ALCADA_PED, DB_STATUS
WHERE DB_ALCP_CODIGO = (SELECT DB_ORCAL_ALCADA FROM DB_ORCAMENTO_ALCADA  WHERE DB_ORCAL_ORCAMENTO = @P_NRO AND DB_ORCAL_SEQ = @V_PEDAL_SEQ )
AND DB_ALCP_STATUS_LT = DB_STATUS.CODIGO
AND GETDATE() BETWEEN DATA_INICIAL AND DATA_FINAL;
END
ELSE
BEGIN
UPDATE DB_ORCAMENTO_ALCADA
SET DB_ORCAL_USULIB  = @V_CODIGO_USUARIO
, DB_ORCAL_DATALIB = GETDATE()
, DB_ORCAL_MOTLIB  = @V_LIBMOTS
, DB_ORCAL_ACAO    = @P_ACAO
, DB_ORCAL_STATUS  = 2
, DB_ORCAL_MOTLIBPAR = @V_PEDAL_MOTLIBPAR
WHERE DB_ORCAL_ORCAMENTO =  @P_NRO
AND DB_ORCAL_SEQ    =  @V_PEDAL_SEQ;
SET @V_DESCRICAO = @V_PROGRAMA + ' Liberou orçamento parcial. Orçamento nro: ' + CAST(@P_NRO AS VARCHAR)
BEGIN
SET @V_ALCP_GRPALCADA_ANTERIOR = NULL;
SET @V_ALCP_CODIGO_ANTERIOR = NULL;
SET @V_ALCP_GRPLIB_ANTERIOR = NULL;
SET @V_ALCP_NIVLIB_ANTERIOR = NULL;
SELECT  @V_ALCP_GRPALCADA_ANTERIOR = DB_ALCP_GRPALCADA,
@V_ALCP_CODIGO_ANTERIOR = DB_ALCP_CODIGO,
@V_ALCP_GRPLIB_ANTERIOR = DB_ALCP_GRUPOLIB,
@V_ALCP_NIVLIB_ANTERIOR = DB_ALCP_NIVELLIB
FROM DB_ALCADA_PED A, DB_ORCAMENTO_ALCADA B
WHERE DB_ALCP_CODIGO = DB_ORCAL_ALCADA
AND DB_ORCAL_ORCAMENTO = @P_NRO
AND DB_ORCAL_SEQ = (SELECT MAX(DB_ORCAL_SEQ) FROM DB_ORCAMENTO_ALCADA WHERE DB_ORCAL_ORCAMENTO = @P_NRO)
END
SET @V_PASSO = '30';
SET @V_GRUPO_ALCADA = null;
SET @V_GRUPO_LIBERACAO = NULL;
IF @V_PERMITE_LIBERA_PRIORITARIA = 1
BEGIN
IF @V_ALCADA_E_PRIORITARIA = 1
BEGIN
DELETE FROM DB_ORCAMENTO_ALCADA
WHERE DB_ORCAL_ORCAMENTO = @P_NRO
AND DB_ORCAL_STATUS = 0;
DELETE FROM DB_ORCAMENTO_ALCADA
WHERE DB_ORCAL_ORCAMENTO = @P_NRO
AND DB_ORCAL_STATUS = 9
AND DB_ORCAL_ALCADA <> @V_ALCADA_ATUAL;
SELECT @V_PEDAL_SEQ = MAX(DB_ORCAL_SEQ)
FROM DB_ORCAMENTO_ALCADA
WHERE DB_ORCAL_ORCAMENTO = @P_NRO;
END
ELSE
BEGIN
DELETE FROM DB_ORCAMENTO_ALCADA
WHERE DB_ORCAL_ORCAMENTO = @P_NRO
AND DB_ORCAL_STATUS = 9;
END
END
BEGIN
DECLARE C	CURSOR
FOR SELECT DB_ALCP_CODIGO, DB_ALCP_LIBPRIORITARIA, DB_ALCP_GRUPOLIB, DB_ALCP_GRPALCADA
FROM DB_ALCADA_PED
WHERE DB_ALCP_CODIGO IN (
SELECT DB_ALCP_CODIGO
FROM DB_ALCADA_PED
WHERE DBO.MERCF_VALIDA_LISTA(@V_CLI_RAMATIV,	 DB_ALCP_LSTRAMO,   0, ',') > 0
AND DBO.MERCF_VALIDA_LISTA(@V_PED_EMPRESA,	 DB_ALCP_LSTEMP,    0, ',') > 0
AND DBO.MERCF_VALIDA_LISTA(@V_PED_TIPO,		 DB_ALCP_LSTTIPO,   0, ',') > 0
AND DBO.MERCF_VALIDA_LISTA(@V_CLI_CLASCOM,	 DB_ALCP_LSTCLASS,  0, ',') > 0
AND DBO.MERCF_VALIDA_LISTA(@V_PED_SITCORP,	 DB_ALCP_LSTSITCORP,0, ',') > 0
AND DBO.MERCF_VALIDA_LISTA(@V_CLI_REGIAOCOM,  DB_ALCP_LSTREGCOM, 0, ',') > 0
AND DBO.MERCF_VALIDA_LISTA(@V_PED_OPERACAO,	 DB_ALCP_LSTOPER,   0, ',') > 0
AND DBO.MERCF_VALIDA_LISTA(@V_STATUS_PED_ATUAL, DB_ALCP_LSTSTATUS,   0, ',') > 0
AND DBO.MERCF_VALIDA_LISTA(@V_DB_ORC_LISTA_PRECO, DB_ALCP_LSTLISTAPRECO,   0, ',') > 0
AND DBO.MERCF_VALIDA_LISTA(@V_CLI_AREAATU,	 DB_ALCP_LSTAREAATU,   0, ',') > 0
AND CASE WHEN ISNULL(DB_ALCP_OPCREP, 0) = 0 AND 0 = 0
THEN 1
WHEN ISNULL(DB_ALCP_OPCREP, 0) = 1 AND DBO.MERCF_VALIDA_LISTA(@V_PED_REPRES, DB_ALCP_LSTREP, 0, ',') > 0
THEN 1
WHEN ISNULL(DB_ALCP_OPCREP, 0) = 2 AND DBO.MERCF_VALIDA_LISTA(@V_PED_REPRES, DB_ALCP_LSTREP, 1, ',') > 0
THEN 1
ELSE 0
END = 1
AND ((@V_PED_REPRES IN (SELECT Z.DB_EREG_REPRES
FROM DB_ESTRUT_VENDA X,
DB_ESTRUT_VENDA Y,
DB_ESTRUT_REGRA Z,
DB_ESTRUT_REGRA Z1,
DB_ALCADA_ESTRUT AL
WHERE X.DB_EVDA_ESTRUTURA  = Y.DB_EVDA_ESTRUTURA
AND Y.DB_EVDA_CODIGO     LIKE (X.DB_EVDA_CODIGO + '%')
AND X.DB_EVDA_ESTRUTURA  = Z.DB_EREG_ESTRUTURA
AND Y.DB_EVDA_ID         = Z.DB_EREG_ID
AND X.DB_EVDA_ESTRUTURA  = Z1.DB_EREG_ESTRUTURA
AND X.DB_EVDA_ID         = Z1.DB_EREG_ID
AND AL.DB_ALCE_ESTRUTURA = Z1.DB_EREG_ESTRUTURA
AND DB_ALCP_CODIGO       = AL.DB_ALCE_ALCADA
AND AL.DB_ALCE_ID        =  Z1.DB_EREG_ID ) )    OR ((SELECT TOP(1) DB_ALCE_ALCADA
FROM DB_ALCADA_ESTRUT
WHERE DB_ALCP_CODIGO = DB_ALCE_ALCADA) IS NULL))
AND (EXISTS (SELECT 1
FROM DB_ORCAMENTO, DB_ORCAMENTO_PROD, DB_PRODUTO
WHERE DB_ORCI_ORCAMENTO     = @P_NRO
AND DB_ORCI_ORCAMENTO     = DB_ORC_NUMERO
AND DB_PROD_CODIGO     = DB_ORCI_PRODUTO
AND ( ((DB_ORC_MOTIVO_BLOQ LIKE '%D%' AND (NOT DB_ALCP_MOTBLOQ LIKE '%D%' OR (DB_ALCP_MOTBLOQ LIKE '%D%' AND DB_ORCI_ECON_VLR < 0)))
OR DB_ORC_MOTIVO_BLOQ NOT LIKE '%D%')
OR ((DB_ORC_MOTIVO_BLOQ LIKE '%F%' AND (NOT DB_ALCP_MOTBLOQ LIKE '%F%' OR (DB_ALCP_MOTBLOQ LIKE '%F%' AND (DB_ORCI_TIPO = 'B'))))
OR DB_ORC_MOTIVO_BLOQ NOT LIKE '%F%')
)
AND DB_ALCP_LSTTPPROD LIKE '%' + DB_PROD_TPPROD + '%')
OR ISNULL(DB_ALCP_LSTTPPROD,'') = '')
AND (CHARINDEX(SUBSTRING(@V_MOTNLIBERADO,1,1), DB_ALCP_MOTBLOQ) > 0
OR  CHARINDEX(SUBSTRING(@V_MOTNLIBERADO,2,1), DB_ALCP_MOTBLOQ) > 0
OR  CHARINDEX(SUBSTRING(@V_MOTNLIBERADO,3,1), DB_ALCP_MOTBLOQ) > 0
OR  CHARINDEX(SUBSTRING(@V_MOTNLIBERADO,4,1), DB_ALCP_MOTBLOQ) > 0
OR  CHARINDEX(SUBSTRING(@V_MOTNLIBERADO,5,1), DB_ALCP_MOTBLOQ) > 0
OR  CHARINDEX(SUBSTRING(@V_MOTNLIBERADO,6,1), DB_ALCP_MOTBLOQ) > 0
OR  CHARINDEX(SUBSTRING(@V_MOTNLIBERADO,7,1), DB_ALCP_MOTBLOQ) > 0
OR  CHARINDEX(SUBSTRING(@V_MOTNLIBERADO,8,1), DB_ALCP_MOTBLOQ) > 0
OR  CHARINDEX(SUBSTRING(@V_MOTNLIBERADO,9,1), DB_ALCP_MOTBLOQ) > 0
OR  CHARINDEX(SUBSTRING(@V_MOTNLIBERADO,10,1), DB_ALCP_MOTBLOQ) > 0
OR  CHARINDEX(SUBSTRING(@V_MOTNLIBERADO,11,1), DB_ALCP_MOTBLOQ) > 0
OR  CHARINDEX(SUBSTRING(@V_MOTNLIBERADO,12,1), DB_ALCP_MOTBLOQ) > 0
OR  CHARINDEX(SUBSTRING(@V_MOTNLIBERADO,13,1), DB_ALCP_MOTBLOQ) > 0
OR  CHARINDEX(SUBSTRING(@V_MOTNLIBERADO,14,1), DB_ALCP_MOTBLOQ) > 0
OR  CHARINDEX(SUBSTRING(@V_MOTNLIBERADO,15,1), DB_ALCP_MOTBLOQ) > 0)
AND ( DB_ALCP_GRPALCADA = @V_ALCP_GRPALCADA_ANTERIOR OR ISNULL(@V_ALCP_GRPALCADA_ANTERIOR, '') = '')
AND (((DB_ALCP_GRUPOLIB = @V_ALCP_GRPLIB_ANTERIOR AND DB_ALCP_NIVELLIB > @V_ALCP_NIVLIB_ANTERIOR)
OR (DB_ALCP_GRUPOLIB > @V_ALCP_GRPLIB_ANTERIOR))
OR ISNULL(@V_ALCP_CODIGO_ANTERIOR, '') = '')
AND DB_ALCP_CODIGO NOT IN ( SELECT DB_ALCP_CODIGO
FROM DB_ALCADA_PED A, DB_ORCAMENTO_ALCADA B
WHERE DB_ALCP_CODIGO = DB_ORCAL_ALCADA
AND DB_ORCAL_ORCAMENTO = @P_NRO)
AND DB_ALCP_TIPO = 9
)
ORDER BY DB_ALCP_GRPALCADA, DB_ALCP_GRUPOLIB, DB_ALCP_NIVELLIB
OPEN C
FETCH NEXT FROM C
INTO @V_ALCP_CODIGO_TEMP, @VDB_ALCP_LIBPRIORITARIA, @VDB_ALCP_GRUPOLIB, @VDB_ALCP_GRPALCADA
WHILE @@FETCH_STATUS = 0
BEGIN
IF @V_ALCP_CODIGO IS NULL
BEGIN
SET @V_ALCP_CODIGO = @V_ALCP_CODIGO_TEMP;
SET @V_GRUPO_ALCADA = @VDB_ALCP_GRPALCADA;
SET @V_GRUPO_LIBERACAO = @VDB_ALCP_GRUPOLIB;
END
ELSE
BEGIN
IF @V_PERMITE_LIBERA_PRIORITARIA = 1
BEGIN
IF @VDB_ALCP_LIBPRIORITARIA = 1 AND @V_GRUPO_ALCADA = @VDB_ALCP_GRPALCADA AND @V_GRUPO_LIBERACAO = @VDB_ALCP_GRUPOLIB
BEGIN
IF ISNULL(@V_ALCADAS_PRIORITARIAS, '') = '' OR LEN(@V_ALCADAS_PRIORITARIAS) = 0
SET @V_ALCADAS_PRIORITARIAS = @V_ALCP_CODIGO_TEMP + ';'
ELSE
SET @V_ALCADAS_PRIORITARIAS = @V_ALCADAS_PRIORITARIAS + @V_ALCP_CODIGO_TEMP + ';'
END
END
END
FETCH NEXT FROM C
INTO @V_ALCP_CODIGO_TEMP, @VDB_ALCP_LIBPRIORITARIA, @VDB_ALCP_GRUPOLIB, @VDB_ALCP_GRPALCADA
END
END
CLOSE C
DEALLOCATE C
IF ISNULL(@V_ALCP_CODIGO, '') <> ''
BEGIN
SET @V_EXISTE_ALCADA = 0;
IF @V_PERMITE_LIBERA_PRIORITARIA = 1 AND LEN(@V_ALCADAS_PRIORITARIAS) > 0
BEGIN
SET @V_COUNT_ALCADA = 1;
WHILE @V_COUNT_ALCADA <= (LEN(@V_ALCADAS_PRIORITARIAS) - LEN(REPLACE(@V_ALCADAS_PRIORITARIAS, ';', '')))
BEGIN
SET @V_ALCADA_TEMP_PRI = DBO.MERCF_PIECE(@V_ALCADAS_PRIORITARIAS, ';', @V_COUNT_ALCADA);
SELECT @V_EXISTE_ALCADA = 1
FROM DB_ORCAMENTO_ALCADA
WHERE DB_ORCAL_ORCAMENTO = @P_NRO
AND DB_ORCAL_ALCADA = @V_ALCADA_TEMP_PRI;
IF @V_EXISTE_ALCADA = 0
BEGIN
SET @V_PEDAL_SEQ = ISNULL(@V_PEDAL_SEQ, 0) + 1;
INSERT INTO DB_ORCAMENTO_ALCADA(DB_ORCAL_ORCAMENTO, DB_ORCAL_SEQ, DB_ORCAL_ALCADA, DB_ORCAL_STATUS)
VALUES (
@P_NRO,
@V_PEDAL_SEQ,
@V_ALCADA_TEMP_PRI,
9);
END
SET @V_COUNT_ALCADA = @V_COUNT_ALCADA + 1;
END
SELECT @V_EXISTE_ALCADA = 1
FROM DB_ORCAMENTO_ALCADA
WHERE DB_ORCAL_ORCAMENTO = @P_NRO
AND DB_ORCAL_ALCADA = @V_ALCP_CODIGO;
END
IF @V_EXISTE_ALCADA = 0
BEGIN
INSERT INTO DB_ORCAMENTO_ALCADA(DB_ORCAL_ORCAMENTO, DB_ORCAL_SEQ, DB_ORCAL_ALCADA, DB_ORCAL_STATUS)
VALUES
(@P_NRO, CONVERT(NUMERIC(30),ISNULL(@V_PEDAL_SEQ, 0) + 1), @V_ALCP_CODIGO, 0);
END
SET @V_CODIGO_NOTIFICACAO = 0
SET @V_USUARIO_SERVICO = 0
DECLARE C_USUARIO_ALCADA CURSOR
FOR SELECT USU.CODIGO
FROM DB_PERM_NOTIFICACAO_SISTEMA NOTI, DB_ALCADA_USUARIO ALCADA, DB_USUARIO USU
WHERE NOTIFICACAO = 3
AND ((ALCADA.DB_ALCU_ALCADA = @V_ALCP_CODIGO) OR (LEN(@V_ALCADAS_PRIORITARIAS) > 0 AND ';' + @V_ALCADAS_PRIORITARIAS + ';' LIKE '%;' + ALCADA.DB_ALCU_ALCADA + ';%'))
AND ALCADA.DB_ALCU_USUARIO = USU.CODIGO
AND ((ISNULL(NOTI.USUARIO, '') = '' AND NOTI.GRUPO_USUARIO = USU.GRUPO_USUARIO) OR NOTI.USUARIO = USU.USUARIO)
OPEN C_USUARIO_ALCADA
FETCH NEXT FROM C_USUARIO_ALCADA
INTO @V_USUARIO_NOTI
WHILE @@FETCH_STATUS = 0
BEGIN
IF @V_CODIGO_NOTIFICACAO = 0
BEGIN
SELECT @V_CODIGO_NOTIFICACAO = ISNULL(MAX(CODIGO), 0) FROM DB_NOTIFICACAO
SELECT TOP 1 @V_USUARIO_SERVICO = CODIGO FROM DB_USUARIO WHERE TIPO_ACESSO = 3
END
SET @V_CODIGO_NOTIFICACAO = @V_CODIGO_NOTIFICACAO + 1
INSERT INTO DB_NOTIFICACAO
(CODIGO, USUARIO_ENVIO, USUARIO_DESTINATARIO, MENSAGEM, DATA_ENVIO, TIPO_NOTIFICACAO)
VALUES
(@V_CODIGO_NOTIFICACAO,
@V_USUARIO_SERVICO,
@V_USUARIO_NOTI,
'O orçamento ' + CAST(@P_NRO AS VARCHAR) + ' do cliente ' + @V_DB_CLI_NOME + ' está aguardando a sua liberação.',
null,
3)
FETCH NEXT FROM C_USUARIO_ALCADA
INTO @V_USUARIO_NOTI
END
CLOSE C_USUARIO_ALCADA
DEALLOCATE C_USUARIO_ALCADA
SET @V_ENV_WORKFLOW = 18;
END
END
END
END
ELSE
BEGIN
SET @V_PASSO = '29';
BEGIN
SET @V_ALCP_GRPALCADA_ANTERIOR = NULL;
SET @V_ALCP_CODIGO_ANTERIOR = NULL;
SET @V_ALCP_GRPLIB_ANTERIOR = NULL;
SET @V_ALCP_NIVLIB_ANTERIOR = NULL;
SELECT  @V_ALCP_GRPALCADA_ANTERIOR = DB_ALCP_GRPALCADA,
@V_ALCP_CODIGO_ANTERIOR = DB_ALCP_CODIGO,
@V_ALCP_GRPLIB_ANTERIOR = DB_ALCP_GRUPOLIB,
@V_ALCP_NIVLIB_ANTERIOR = DB_ALCP_NIVELLIB
FROM DB_ALCADA_PED A, DB_ORCAMENTO_ALCADA B
WHERE DB_ALCP_CODIGO = DB_ORCAL_ALCADA
AND DB_ORCAL_ORCAMENTO = @P_NRO
AND DB_ORCAL_SEQ = (SELECT MAX(DB_ORCAL_SEQ) FROM DB_ORCAMENTO_ALCADA WHERE DB_ORCAL_ORCAMENTO = @P_NRO)
END
SET @V_PASSO = 30;
SET @V_AUX = 0
SET @V_MOTNLIBERADO = ''
IF ISNULL(@V_MOTIVOS, '') <> ''
BEGIN
IF ISNULL(@V_BLOQUEIOS, '') = ''
SET @V_MOTNLIBERADO = @V_MOTIVOS;
WHILE @V_AUX < LEN(@V_MOTIVOS)
BEGIN
SET @V_AUX = @V_AUX + 1;
IF CHARINDEX(SUBSTRING(@V_MOTIVOS, @V_AUX, 1), (@V_BLOQUEIOS)) = 0
SET @V_MOTNLIBERADO = @V_MOTNLIBERADO + SUBSTRING(@V_MOTIVOS, @V_AUX, 1);
END
END
SET @V_AUX = 0;
IF ISNULL(@V_MOTNLIBERADO, '') <> ''
SET @V_ACHOU_OUTROMOTIVO = 0
BEGIN
WHILE @V_AUX < LEN(@V_MOTNLIBERADO)
BEGIN
SET @V_AUX = @V_AUX + 1;
IF RTRIM(LTRIM(SUBSTRING(@V_MOTNLIBERADO, @V_AUX, 1))) IS NOT NULL
IF CHARINDEX(SUBSTRING(@V_MOTNLIBERADO, @V_AUX, 1), ISNULL(@V_PARAM_MOTIVSLIBER, ' ')) = 0
SET @V_ACHOU_OUTROMOTIVO = 1;
END
END
IF @V_ACHOU_OUTROMOTIVO = 0
BEGIN
INSERT INTO DB_ORCAMENTO_ALCADA
(DB_ORCAL_ORCAMENTO,
DB_ORCAL_SEQ,
DB_ORCAL_STATUS,
DB_ORCAL_MOTLIB,
DB_ORCAL_DATALIB)
VALUES
(@P_NRO, 1, 1, @V_MOTNLIBERADO, GETDATE());
IF @V_PERMITE_LIBERA_PRIORITARIA = 1
BEGIN
DELETE DB_ORCAMENTO_ALCADA
WHERE DB_ORCAL_ORCAMENTO = @P_NRO
AND DB_ORCAL_STATUS IN (0,9);
END
UPDATE DB_ORCAMENTO
SET DB_ORC_SITUACAO = 0
WHERE DB_ORC_NUMERO = @P_NRO;
SET @V_DESCRICAO = @V_PROGRAMA + ' Liberou orçamento total. Orçamento nro: ' + CAST(@P_NRO AS VARCHAR);
SET @V_ENV_WORKFLOW = 19;
END
ELSE
BEGIN
SET @V_AUX = 0;
SET @V_MOTNLIBERADOSALVARORCAMENTO = '';
SET @V_AUX = 0;
IF ISNULL(@V_PARAM_MOTIVSLIBER, '') <> ''
BEGIN
WHILE @V_AUX < LEN(@V_MOTNLIBERADO)
BEGIN
SET @V_AUX = @V_AUX + 1;
IF CHARINDEX(SUBSTRING(@V_MOTNLIBERADO, @V_AUX, 1), (@V_PARAM_MOTIVSLIBER)) = 0
SET @V_MOTNLIBERADOSALVARORCAMENTO  = @V_MOTNLIBERADOSALVARORCAMENTO + SUBSTRING(@V_MOTNLIBERADO, @V_AUX, 1);
END
END
ELSE
BEGIN
SET @V_MOTNLIBERADOSALVARORCAMENTO = @V_MOTNLIBERADO;
END
IF @V_PERMITE_LIBERA_PRIORITARIA = 1
BEGIN
IF @V_ALCADA_E_PRIORITARIA = 1
BEGIN
DELETE FROM DB_ORCAMENTO_ALCADA
WHERE DB_ORCAL_ORCAMENTO = @P_NRO
AND DB_ORCAL_STATUS = 0;
DELETE FROM DB_ORCAMENTO_ALCADA
WHERE DB_ORCAL_ORCAMENTO = @P_NRO
AND DB_ORCAL_STATUS = 9
AND DB_ORCAL_ALCADA <> @V_ALCADA_ATUAL;
SELECT @V_PEDAL_SEQ = MAX(DB_ORCAL_SEQ)
FROM DB_ORCAMENTO_ALCADA
WHERE DB_ORCAL_ORCAMENTO = @P_NRO;
END
ELSE
BEGIN
DELETE FROM DB_ORCAMENTO_ALCADA
WHERE DB_ORCAL_ORCAMENTO = @P_NRO
AND DB_ORCAL_STATUS = 9;
END
END
BEGIN
DECLARE C CURSOR
FOR SELECT DB_ALCP_CODIGO, DB_ALCP_LIBPRIORITARIA, DB_ALCP_GRUPOLIB, DB_ALCP_GRPALCADA
FROM DB_ALCADA_PED
WHERE DB_ALCP_CODIGO IN (
SELECT DB_ALCP_CODIGO
FROM DB_ALCADA_PED
WHERE DBO.MERCF_VALIDA_LISTA(@V_CLI_RAMATIV,	 DB_ALCP_LSTRAMO,   0, ',') > 0
AND DBO.MERCF_VALIDA_LISTA(@V_PED_EMPRESA,	 DB_ALCP_LSTEMP,    0, ',') > 0
AND DBO.MERCF_VALIDA_LISTA(@V_PED_TIPO,		 DB_ALCP_LSTTIPO,   0, ',') > 0
AND DBO.MERCF_VALIDA_LISTA(@V_CLI_CLASCOM,	 DB_ALCP_LSTCLASS,  0, ',') > 0
AND DBO.MERCF_VALIDA_LISTA(@V_PED_SITCORP,	 DB_ALCP_LSTSITCORP,0, ',') > 0
AND DBO.MERCF_VALIDA_LISTA(@V_CLI_REGIAOCOM,  DB_ALCP_LSTREGCOM, 0, ',') > 0
AND DBO.MERCF_VALIDA_LISTA(@V_PED_OPERACAO,	 DB_ALCP_LSTOPER,   0, ',') > 0
AND DBO.MERCF_VALIDA_LISTA(@V_DB_ORC_LISTA_PRECO, DB_ALCP_LSTLISTAPRECO,   0, ',') > 0
AND DBO.MERCF_VALIDA_LISTA(@V_CLI_AREAATU,	 DB_ALCP_LSTAREAATU,   0, ',') > 0
AND CASE WHEN ISNULL(DB_ALCP_OPCREP, 0) = 0 AND 0 = 0
THEN 1
WHEN ISNULL(DB_ALCP_OPCREP, 0) = 1 AND DBO.MERCF_VALIDA_LISTA(@V_PED_REPRES, DB_ALCP_LSTREP, 0, ',') > 0
THEN 1
WHEN ISNULL(DB_ALCP_OPCREP, 0) = 2 AND DBO.MERCF_VALIDA_LISTA(@V_PED_REPRES, DB_ALCP_LSTREP, 1, ',') > 0
THEN 1
ELSE 0
END = 1
AND ((@V_PED_REPRES IN (SELECT Z.DB_EREG_REPRES
FROM DB_ESTRUT_VENDA X,
DB_ESTRUT_VENDA Y,
DB_ESTRUT_REGRA Z,
DB_ESTRUT_REGRA Z1,
DB_ALCADA_ESTRUT AL
WHERE X.DB_EVDA_ESTRUTURA  = Y.DB_EVDA_ESTRUTURA
AND Y.DB_EVDA_CODIGO     LIKE (X.DB_EVDA_CODIGO + '%')
AND X.DB_EVDA_ESTRUTURA  = Z.DB_EREG_ESTRUTURA
AND Y.DB_EVDA_ID         = Z.DB_EREG_ID
AND X.DB_EVDA_ESTRUTURA  = Z1.DB_EREG_ESTRUTURA
AND X.DB_EVDA_ID         = Z1.DB_EREG_ID
AND AL.DB_ALCE_ESTRUTURA = Z1.DB_EREG_ESTRUTURA
AND DB_ALCP_CODIGO       = AL.DB_ALCE_ALCADA
AND AL.DB_ALCE_ID        =  Z1.DB_EREG_ID ))  OR ((SELECT TOP(1) DB_ALCE_ALCADA
FROM DB_ALCADA_ESTRUT
WHERE DB_ALCP_CODIGO = DB_ALCE_ALCADA) IS NULL))
AND (EXISTS (SELECT 1
FROM DB_ORCAMENTO, DB_ORCAMENTO_PROD, DB_PRODUTO
WHERE DB_ORCI_ORCAMENTO     = @P_NRO
AND DB_ORCI_ORCAMENTO     = DB_ORC_NUMERO
AND DB_PROD_CODIGO     = DB_ORCI_PRODUTO
AND ( ((DB_ORC_MOTIVO_BLOQ LIKE '%D%' AND (NOT DB_ALCP_MOTBLOQ LIKE '%D%' OR (DB_ALCP_MOTBLOQ LIKE '%D%' AND DB_ORCI_ECON_VLR < 0)))
OR DB_ORC_MOTIVO_BLOQ NOT LIKE '%D%')
OR ((DB_ORC_MOTIVO_BLOQ LIKE '%F%' AND (NOT DB_ALCP_MOTBLOQ LIKE '%F%' OR (DB_ALCP_MOTBLOQ LIKE '%F%' AND (DB_ORCI_TIPO = 'B'))))
OR DB_ORC_MOTIVO_BLOQ NOT LIKE '%F%')
)
AND DB_ALCP_LSTTPPROD LIKE '%' + DB_PROD_TPPROD + '%')
OR ISNULL(DB_ALCP_LSTTPPROD,'') = '')
AND (CHARINDEX(SUBSTRING(@V_MOTNLIBERADOSALVARORCAMENTO,1,1), DB_ALCP_MOTBLOQ) > 0
OR  CHARINDEX(SUBSTRING(@V_MOTNLIBERADOSALVARORCAMENTO,2,1), DB_ALCP_MOTBLOQ) > 0
OR  CHARINDEX(SUBSTRING(@V_MOTNLIBERADOSALVARORCAMENTO,3,1), DB_ALCP_MOTBLOQ) > 0
OR  CHARINDEX(SUBSTRING(@V_MOTNLIBERADOSALVARORCAMENTO,4,1), DB_ALCP_MOTBLOQ) > 0
OR  CHARINDEX(SUBSTRING(@V_MOTNLIBERADOSALVARORCAMENTO,5,1), DB_ALCP_MOTBLOQ) > 0
OR  CHARINDEX(SUBSTRING(@V_MOTNLIBERADOSALVARORCAMENTO,6,1), DB_ALCP_MOTBLOQ) > 0
OR  CHARINDEX(SUBSTRING(@V_MOTNLIBERADOSALVARORCAMENTO,7,1), DB_ALCP_MOTBLOQ) > 0
OR  CHARINDEX(SUBSTRING(@V_MOTNLIBERADOSALVARORCAMENTO,8,1), DB_ALCP_MOTBLOQ) > 0
OR  CHARINDEX(SUBSTRING(@V_MOTNLIBERADOSALVARORCAMENTO,9,1), DB_ALCP_MOTBLOQ) > 0
OR  CHARINDEX(SUBSTRING(@V_MOTNLIBERADOSALVARORCAMENTO,10,1), DB_ALCP_MOTBLOQ) > 0
OR  CHARINDEX(SUBSTRING(@V_MOTNLIBERADOSALVARORCAMENTO,11,1), DB_ALCP_MOTBLOQ) > 0
OR  CHARINDEX(SUBSTRING(@V_MOTNLIBERADOSALVARORCAMENTO,12,1), DB_ALCP_MOTBLOQ) > 0
OR  CHARINDEX(SUBSTRING(@V_MOTNLIBERADOSALVARORCAMENTO,13,1), DB_ALCP_MOTBLOQ) > 0
OR  CHARINDEX(SUBSTRING(@V_MOTNLIBERADOSALVARORCAMENTO,14,1), DB_ALCP_MOTBLOQ) > 0
OR  CHARINDEX(SUBSTRING(@V_MOTNLIBERADOSALVARORCAMENTO,15,1), DB_ALCP_MOTBLOQ) > 0)
AND ( DB_ALCP_GRPALCADA = @V_ALCP_GRPALCADA_ANTERIOR OR ISNULL(@V_ALCP_GRPALCADA_ANTERIOR, '') = '')
AND (((DB_ALCP_GRUPOLIB = @V_ALCP_GRPLIB_ANTERIOR AND DB_ALCP_NIVELLIB > @V_ALCP_NIVLIB_ANTERIOR)
OR (DB_ALCP_GRUPOLIB > @V_ALCP_GRPLIB_ANTERIOR))
OR ISNULL(@V_ALCP_CODIGO_ANTERIOR, '') = '')
AND DB_ALCP_CODIGO NOT IN ( SELECT DB_ALCP_CODIGO
FROM DB_ALCADA_PED A, DB_ORCAMENTO_ALCADA B
WHERE DB_ALCP_CODIGO = DB_ORCAL_ALCADA
AND DB_ORCAL_ORCAMENTO = @P_NRO)
AND DB_ALCP_TIPO = 9
)
ORDER BY DB_ALCP_GRPALCADA, DB_ALCP_GRUPOLIB, DB_ALCP_NIVELLIB
OPEN C
FETCH NEXT FROM C
INTO @V_ALCP_CODIGO_TEMP, @VDB_ALCP_LIBPRIORITARIA, @VDB_ALCP_GRUPOLIB, @VDB_ALCP_GRPALCADA
WHILE @@FETCH_STATUS = 0
BEGIN
IF @V_ALCP_CODIGO IS NULL
BEGIN
SET @V_ALCP_CODIGO = @V_ALCP_CODIGO_TEMP;
SET @V_GRUPO_ALCADA = @VDB_ALCP_GRPALCADA;
SET @V_GRUPO_LIBERACAO = @VDB_ALCP_GRUPOLIB;
END
ELSE
BEGIN
IF @V_PERMITE_LIBERA_PRIORITARIA = 1
BEGIN
IF @VDB_ALCP_LIBPRIORITARIA = 1 AND @V_GRUPO_ALCADA = @VDB_ALCP_GRPALCADA AND @V_GRUPO_LIBERACAO = @VDB_ALCP_GRUPOLIB
BEGIN
IF ISNULL(@V_ALCADAS_PRIORITARIAS, '') = '' OR LEN(@V_ALCADAS_PRIORITARIAS) = 0
SET @V_ALCADAS_PRIORITARIAS = @V_ALCP_CODIGO_TEMP + ';'
ELSE
SET @V_ALCADAS_PRIORITARIAS = @V_ALCADAS_PRIORITARIAS + @V_ALCP_CODIGO_TEMP + ';'
END
END
END
FETCH NEXT FROM C
INTO @V_ALCP_CODIGO_TEMP, @VDB_ALCP_LIBPRIORITARIA, @VDB_ALCP_GRUPOLIB, @VDB_ALCP_GRPALCADA
END
END
CLOSE C
DEALLOCATE C
IF @V_GRAVALOG = 1
BEGIN
IF ISNULL(@V_ALCP_CODIGO, '') = ''
BEGIN
INSERT INTO DBS_ERROS_TRIGGERS
(DBS_ERROS_OBJETO, DBS_ERROS_DATA, DBS_ERROS_ERRO)
VALUES
('MERCP_LIBERCAO_ORCAMENTO_LOG', GETDATE(), 'Orçamento: ' + CAST(@P_NRO AS VARCHAR) + ' - Usu: ' + ISNULL(@P_USUARIO, 'null') + ' - acao: ' + CAST(isnull(@P_ACAO, 0) AS VARCHAR) + ' - exclui: ' + CAST(@P_EXCLUI AS VARCHAR) + ' Nao encontrou alcada valida');
END
else
BEGIN
INSERT INTO DBS_ERROS_TRIGGERS
(DBS_ERROS_OBJETO, DBS_ERROS_DATA, DBS_ERROS_ERRO)
VALUES
('MERCP_LIBERCAO_ORCAMENTO_LOG', GETDATE(), 'Orçamento: ' + CAST(@P_NRO AS VARCHAR) + ' - Usu: ' + ISNULL(@P_USUARIO, 'null') + ' - acao: ' + CAST(isnull(@P_ACAO, 0) AS VARCHAR) + ' - exclui: ' + CAST(@P_EXCLUI AS VARCHAR)
+ ' Busca alcada - ' + ISNULL(@V_MOTNLIBERADO, 'null') + ' - alcada: ' + @V_ALCP_CODIGO);
END
END
IF @P_ACAO = 2
BEGIN
SET @V_ULTIMO_GRUPO = NULL;
SET @V_GRUPO_ATUAL = NULL;
SELECT @V_ULTIMO_GRUPO = MAX(DB_ALCP_GRUPOLIB)
FROM DB_ALCADA_PED A, DB_ORCAMENTO_ALCADA B
WHERE DB_ALCP_CODIGO = DB_ORCAL_ALCADA
AND DB_ORCAL_ORCAMENTO = @P_NRO;
SELECT @V_GRUPO_ATUAL = DB_ALCP_GRUPOLIB
FROM DB_ALCADA_PED
WHERE DB_ALCP_CODIGO = @V_ALCP_CODIGO
IF ISNULL(@V_ULTIMO_GRUPO, '') <> ISNULL(@V_GRUPO_ATUAL, '')
BEGIN
SET @V_PERMITE_ENCAMINHAR = 1;
SET @VERRO = 'ORCAMENTO '+ CONVERT(VARCHAR, @P_NRO) + ' - NAO FOI POSSIVEL ENCAMINHAR PARA SUPERIOR, POIS USUARIO: ' + @P_USUARIO + ' E O ULTIMO DA HIERARQUIA.';
INSERT INTO DBS_ERROS_TRIGGERS (DBS_ERROS_ERRO, DBS_ERROS_DATA, DBS_ERROS_OBJETO) VALUES (@VERRO, GETDATE(), @VOBJETO);
END
ELSE
BEGIN
SET @V_PERMITE_ENCAMINHAR = 0;
END
END
ELSE
BEGIN
SET @V_PERMITE_ENCAMINHAR = 0;
END
IF @V_PERMITE_ENCAMINHAR = 0
BEGIN
SET @V_PASSO = '31';
BEGIN
SET @V_EXISTE = 0;
SELECT @V_EXISTE = 1
FROM DB_ORCAMENTO_ALCADA
WHERE DB_ORCAL_ORCAMENTO = @P_NRO
END
IF @P_EXCLUI = 0
BEGIN
UPDATE DB_ORCAMENTO
SET
DB_ORC_LIB_MOTS = ISNULL(DB_ORC_LIB_MOTS + ';', '')
, DB_ORC_LIB_USUS = ISNULL(DB_ORC_LIB_USUS, '') + @P_USUARIO + '!' + CONVERT(VARCHAR, @V_GRUPO_LIB) + ';'
, DB_ORC_LIB_DATAS = ISNULL(DB_ORC_LIB_DATAS, '') + CONVERT(VARCHAR, GETDATE(), 103) + ';',
DB_ORC_DATA_ALTER = GETDATE()
WHERE DB_ORC_NUMERO = @P_NRO;
END
SET @V_AUX = 0
IF ISNULL(@V_PERMI, '') <> ''
BEGIN
WHILE @V_AUX < LEN(@V_PERMI)
BEGIN
SET @V_AUX = @V_AUX + 1;
IF  CHARINDEX(SUBSTRING(@V_PERMI, @V_AUX, 1), ISNULL(@V_MOTIVOS, ' ')) > 0
SET @V_PEDAL_MOTLIBPAR = ISNULL(@V_PEDAL_MOTLIBPAR, '') + SUBSTRING(@V_PERMI, @V_AUX, 1);
END
END
IF ISNULL(@V_EXISTE, 0) = 0
BEGIN
IF ISNULL(@V_ALCP_CODIGO, '') <> ''
BEGIN
IF @V_PERMITE_LIBERA_PRIORITARIA = 1 AND LEN(@V_ALCADAS_PRIORITARIAS) > 0
BEGIN
SET @V_COUNT_ALCADA = 1;
WHILE @V_COUNT_ALCADA <= (LEN(@V_ALCADAS_PRIORITARIAS) - LEN(REPLACE(@V_ALCADAS_PRIORITARIAS, ';', '')))
BEGIN
SET @V_PEDAL_SEQ = ISNULL(@V_PEDAL_SEQ, 0) + 1;
INSERT INTO DB_ORCAMENTO_ALCADA(DB_ORCAL_ORCAMENTO, DB_ORCAL_SEQ, DB_ORCAL_ALCADA, DB_ORCAL_STATUS)
VALUES (
@P_NRO,
@V_PEDAL_SEQ,
(DBO.MERCF_PIECE(@V_ALCADAS_PRIORITARIAS, ';', @V_COUNT_ALCADA)),
9);
SET @V_COUNT_ALCADA = @V_COUNT_ALCADA + 1;
END
END
INSERT INTO DB_ORCAMENTO_ALCADA(DB_ORCAL_ORCAMENTO, DB_ORCAL_SEQ, DB_ORCAL_ALCADA, DB_ORCAL_STATUS)
VALUES (@P_NRO, ISNULL(@V_PEDAL_SEQ, 0) + 1, @V_ALCP_CODIGO, 0);
SET @V_CODIGO_NOTIFICACAO = 0
SET @V_USUARIO_SERVICO = 0
DECLARE C_USUARIO_ALCADA CURSOR
FOR SELECT USU.CODIGO
FROM DB_PERM_NOTIFICACAO_SISTEMA NOTI, DB_ALCADA_USUARIO ALCADA, DB_USUARIO USU
WHERE NOTIFICACAO = 3
AND ((ALCADA.DB_ALCU_ALCADA = @V_ALCP_CODIGO) OR (LEN(@V_ALCADAS_PRIORITARIAS) > 0 AND ';' + @V_ALCADAS_PRIORITARIAS + ';' LIKE '%;' + ALCADA.DB_ALCU_ALCADA + ';%'))
AND ALCADA.DB_ALCU_USUARIO = USU.CODIGO
AND ((ISNULL(NOTI.USUARIO, '') = '' AND NOTI.GRUPO_USUARIO = USU.GRUPO_USUARIO) OR NOTI.USUARIO = USU.USUARIO)
OPEN C_USUARIO_ALCADA
FETCH NEXT FROM C_USUARIO_ALCADA
INTO @V_USUARIO_NOTI
WHILE @@FETCH_STATUS = 0
BEGIN
IF @V_CODIGO_NOTIFICACAO = 0
BEGIN
SELECT @V_CODIGO_NOTIFICACAO = ISNULL(MAX(CODIGO), 0) FROM DB_NOTIFICACAO
SELECT TOP 1 @V_USUARIO_SERVICO = CODIGO FROM DB_USUARIO WHERE TIPO_ACESSO = 3
END
SET @V_CODIGO_NOTIFICACAO = @V_CODIGO_NOTIFICACAO + 1
INSERT INTO DB_NOTIFICACAO
(CODIGO, USUARIO_ENVIO, USUARIO_DESTINATARIO, MENSAGEM, DATA_ENVIO, TIPO_NOTIFICACAO)
VALUES
(@V_CODIGO_NOTIFICACAO,
@V_USUARIO_SERVICO,
@V_USUARIO_NOTI,
'O orçamento ' + CAST(@P_NRO AS VARCHAR) + ' do cliente ' + @V_DB_CLI_NOME + ' está aguardando a sua liberação.',
null,
3)
FETCH NEXT FROM C_USUARIO_ALCADA
INTO @V_USUARIO_NOTI
END
CLOSE C_USUARIO_ALCADA
DEALLOCATE C_USUARIO_ALCADA
SET @V_ENV_WORKFLOW = 18;
END
END
ELSE
BEGIN
IF @V_ALCADA_E_PRIORITARIA = 1 AND ISNULL(@V_ALCADA_ATUAL, '') <> ''
BEGIN
SELECT @V_PEDAL_SEQ = DB_ORCAL_SEQ
FROM DB_ORCAMENTO_ALCADA
WHERE DB_ORCAL_ORCAMENTO = @P_NRO
AND DB_ORCAL_ALCADA = @V_ALCADA_ATUAL;
END
ELSE
BEGIN
SELECT @V_PEDAL_SEQ = MAX(DB_ORCAL_SEQ)
FROM DB_ORCAMENTO_ALCADA
WHERE DB_ORCAL_ORCAMENTO = @P_NRO;
END
UPDATE DB_ORCAMENTO_ALCADA
SET DB_ORCAL_USULIB   = @V_CODIGO_USUARIO
, DB_ORCAL_DATALIB  = GETDATE()
, DB_ORCAL_ACAO     = @P_ACAO
, DB_ORCAL_STATUS   = 2
, DB_ORCAL_MOTLIBPAR = @V_PEDAL_MOTLIBPAR
WHERE DB_ORCAL_ORCAMENTO   = @P_NRO
AND DB_ORCAL_SEQ      = @V_PEDAL_SEQ;
IF @P_ACAO = 2
BEGIN
SET @V_EXISTE_ALCADA = 0;
IF @V_PERMITE_LIBERA_PRIORITARIA = 1 AND LEN(@V_ALCADAS_PRIORITARIAS) > 0
BEGIN
SET @V_COUNT_ALCADA = 1;
WHILE @V_COUNT_ALCADA <= (LEN(@V_ALCADAS_PRIORITARIAS) - LEN(REPLACE(@V_ALCADAS_PRIORITARIAS, ';', '')))
BEGIN
SET @V_ALCADA_TEMP_PRI = DBO.MERCF_PIECE(@V_ALCADAS_PRIORITARIAS, ';', @V_COUNT_ALCADA);
SELECT @V_EXISTE_ALCADA = 1
FROM DB_ORCAMENTO_ALCADA
WHERE DB_ORCAL_ORCAMENTO = @P_NRO
AND DB_ORCAL_ALCADA = @V_ALCADA_TEMP_PRI;
IF @V_EXISTE_ALCADA = 0
BEGIN
SET @V_PEDAL_SEQ = ISNULL(@V_PEDAL_SEQ, 0) + 1;
INSERT INTO DB_ORCAMENTO_ALCADA(DB_ORCAL_ORCAMENTO, DB_ORCAL_SEQ, DB_ORCAL_ALCADA, DB_ORCAL_STATUS)
VALUES (
@P_NRO,
@V_PEDAL_SEQ,
@V_ALCADA_TEMP_PRI,
9);
END
SET @V_COUNT_ALCADA = @V_COUNT_ALCADA + 1;
END
SET @V_EXISTE_ALCADA = 0;
SELECT @V_EXISTE_ALCADA = 1
FROM DB_ORCAMENTO_ALCADA
WHERE DB_ORCAL_ORCAMENTO = @P_NRO
AND DB_ORCAL_ALCADA = @V_ALCP_CODIGO;
END
IF @V_EXISTE_ALCADA = 0
BEGIN
INSERT INTO DB_ORCAMENTO_ALCADA(DB_ORCAL_ORCAMENTO, DB_ORCAL_SEQ, DB_ORCAL_ALCADA, DB_ORCAL_STATUS)
VALUES (@P_NRO, ISNULL(@V_PEDAL_SEQ, 0) + 1, @V_ALCP_CODIGO, 0);
END
SET @V_CODIGO_NOTIFICACAO = 0
SET @V_USUARIO_SERVICO = 0
DECLARE C_USUARIO_ALCADA CURSOR
FOR SELECT USU.CODIGO
FROM DB_PERM_NOTIFICACAO_SISTEMA NOTI, DB_ALCADA_USUARIO ALCADA, DB_USUARIO USU
WHERE NOTIFICACAO = 3
AND ((ALCADA.DB_ALCU_ALCADA = @V_ALCP_CODIGO) OR (LEN(@V_ALCADAS_PRIORITARIAS) > 0 AND ';' + @V_ALCADAS_PRIORITARIAS + ';' LIKE '%;' + ALCADA.DB_ALCU_ALCADA + ';%'))
AND ALCADA.DB_ALCU_USUARIO = USU.CODIGO
AND ((ISNULL(NOTI.USUARIO, '') = '' AND NOTI.GRUPO_USUARIO = USU.GRUPO_USUARIO) OR NOTI.USUARIO = USU.USUARIO)
OPEN C_USUARIO_ALCADA
FETCH NEXT FROM C_USUARIO_ALCADA
INTO @V_USUARIO_NOTI
WHILE @@FETCH_STATUS = 0
BEGIN
IF @V_CODIGO_NOTIFICACAO = 0
BEGIN
SELECT @V_CODIGO_NOTIFICACAO = ISNULL(MAX(CODIGO), 0) FROM DB_NOTIFICACAO
SELECT TOP 1 @V_USUARIO_SERVICO = CODIGO FROM DB_USUARIO WHERE TIPO_ACESSO = 3
END
SET @V_CODIGO_NOTIFICACAO = @V_CODIGO_NOTIFICACAO + 1
INSERT INTO DB_NOTIFICACAO
(CODIGO, USUARIO_ENVIO, USUARIO_DESTINATARIO, MENSAGEM, DATA_ENVIO, TIPO_NOTIFICACAO)
VALUES
(@V_CODIGO_NOTIFICACAO,
@V_USUARIO_SERVICO,
@V_USUARIO_NOTI,
'O orçamento ' + CAST(@P_NRO AS VARCHAR) + ' do cliente ' + @V_DB_CLI_NOME + ' está aguardando a sua liberação.',
null,
3)
FETCH NEXT FROM C_USUARIO_ALCADA
INTO @V_USUARIO_NOTI
END
CLOSE C_USUARIO_ALCADA
DEALLOCATE C_USUARIO_ALCADA
SET @V_ENV_WORKFLOW = 18;
END
SET @V_DESCRICAO = @V_PROGRAMA + ' ENCAMINHOU ORCAMENTO PARA SUPERIOR. ORCAMENTO NRO: ' + CAST(@P_NRO AS VARCHAR);
END
SET @V_PASSO = 32;
END
END
END
END
IF (@V_PERMITE_LOG = 1)
BEGIN
IF ISNULL(@P_USUARIO, '') = ''
BEGIN
SET @V_USUARIO_PARA_LOG = 'SEM USUÁRIO'
END
ELSE
BEGIN
SET @V_USUARIO_PARA_LOG = @P_USUARIO
END
SET @V_COMPLEMENTO_LOG = SUBSTRING(' (' + CAST( @P_NRO AS VARCHAR)
+ '-' + CAST( @P_EXCLUI AS VARCHAR)
+ '-' + @V_USUARIO_PARA_LOG
+ '-' + CAST( isnull(@P_ACAO, 0) AS VARCHAR) + ')', 1, 800)
IF @V_PED_WEB = 1
BEGIN
INSERT INTO MSL1
(SL1_DATA,
SL1_USUARIO,
SL1_MENU,
SL1_ITEM_MENUWEB,
SL1_ACAO,
SL1_DESCRICAO)
VALUES
(GETDATE(), @V_USUARIO_PARA_LOG, 0, 'Liberação orçamento', 4, isnull(@V_DESCRICAO, '')  + '  ' + RTRIM(LTRIM(@V_COMPLEMENTO_LOG)));
END
ELSE
BEGIN
INSERT INTO MSL1
(SL1_DATA,
SL1_USUARIO,
SL1_MENU,
SL1_MENUITEM,
SL1_ACAO,
SL1_DESCRICAO)
VALUES
(GETDATE(), @V_USUARIO_PARA_LOG, 0, 'Liberação orçamento', 4, isnull(@V_DESCRICAO, '')  + '  ' + RTRIM(LTRIM(@V_COMPLEMENTO_LOG)));
END
END
print 'passo = ' + @V_PASSO
SET @P_RETORNO = 1
COMMIT
END TRY
BEGIN CATCH
ROLLBACK
SET @VDATA = GETDATE();
SET @VERRO = 'ERRO AO LIBERAR O ORCAMENTO :' + CONVERT(VARCHAR, @P_NRO) + ' -PASSO:' + @V_PASSO + ' ' + ERROR_MESSAGE();
INSERT INTO DBS_ERROS_TRIGGERS (DBS_ERROS_ERRO, DBS_ERROS_DATA, DBS_ERROS_OBJETO) VALUES (@VERRO, @VDATA, @VOBJETO);
print ERROR_MESSAGE()
SET @P_RETORNO = 0
END CATCH
END
