ALTER PROCEDURE MERCP_BUSCA_DATA_DIA_SEMANA (  @DATA		  DATETIME,
												@DIA_SEMANA   INT,
												@DIA_INICIO   INT,
												@DATA_RETONO  DATETIME OUT ) AS
BEGIN
    DECLARE @DESIREDDATE  DATETIME;
    DECLARE @FIRSTDATE    DATETIME;
	DECLARE @V_COUNT      INT;
	DECLARE @DATA_FINAL   DATETIME;
	SET DATEFIRST 7
	SET @DATA_FINAL = DATEADD(DAY, -1, DATEADD(MONTH, 1, DATEADD(DAY, 1 - DAY(@DATA), @DATA)))
	SET @V_COUNT = 0;
    SELECT @FIRSTDATE = DATEADD(MONTH, DATEDIFF(MONTH, 0, @DATA), 0);
	IF @DIA_SEMANA = 2
		SET @DIA_SEMANA = 1
	ELSE
		SET @DIA_SEMANA = @DIA_SEMANA - 1
		IF @DIA_INICIO = 5
			SET @DIA_INICIO = 0
	WHILE @FIRSTDATE <= @DATA_FINAL
	BEGIN	
		IF DATEPART(WEEKDAY, @FIRSTDATE) = @DIA_SEMANA
		BEGIN
			SET @DATA_RETONO = @FIRSTDATE;
			SET @V_COUNT = @V_COUNT + 1
		END
		IF @DIA_INICIO = @V_COUNT AND @V_COUNT <> 0
		BEGIN			
			RETURN
		END
		SET @FIRSTDATE  = @FIRSTDATE + 1;
	END
END
