ALTER PROCEDURE MERCP_INSERE_CLI_USU ( @P_USUARIO    VARCHAR(27)) AS
DECLARE @V_PARAM_CLIUSU          VARCHAR(10);
DECLARE @V_PARAM_PEDCLINOVOCORP  VARCHAR(4000);
DECLARE @V_FILTRO_UF             INT;
DECLARE @V_GRUPO_USUARIO         INT;
DECLARE @V_SQL_CLIUSU            NVARCHAR(4000);
DECLARE @V_SQL                   VARCHAR(4000);
DECLARE @VERRO					 VARCHAR(150);
DECLARE @V_TEMP_SQL              NVARCHAR(4000);
DECLARE @SITUACOES_TEMP          VARCHAR(300);
DECLARE @SITUACAO_CLI_REPRES     VARCHAR(20);
DECLARE @SITUACAO_CLI            VARCHAR(20);
DECLARE @SITUACAO_CLI_REPRES_ROTA     VARCHAR(20);
DECLARE @SITUACAO_CLI_ROTA       VARCHAR(20);
DECLARE @V_FORMATO_VISITA_ROTA  INT;
DECLARE @V_FILTRO_RAMO	        INT;
DECLARE @TEMP_CLIUSU TABLE (CODCLIENTE FLOAT, USUARIO VARCHAR(20), DATA_INICIAL DATETIME, DATA_FINAL DATETIME, REPRESENTANTE_PEDIDO INT, SEGUNDO_REPRESENTANTE INT);
BEGIN
SET NOCOUNT ON;
SET FMTONLY OFF;
BEGIN TRY
SET @V_PARAM_CLIUSU = '0'
SET @V_GRUPO_USUARIO = 0
SELECT @V_PARAM_CLIUSU		= ISNULL(VALOR_NUM, 0),
@V_GRUPO_USUARIO		= X.GRUPO_USUARIO
FROM DB_FILTRO_USUARIO, DB_USUARIO X
WHERE CODIGO_USUARIO = X.CODIGO
AND X.USUARIO = @P_USUARIO
AND ID_FILTRO = 'CLIENTESUSUARIO';
SELECT @V_PARAM_PEDCLINOVOCORP	= DB_PRMS_VALOR
FROM DB_PARAM_SISTEMA
WHERE DB_PARAM_SISTEMA.DB_PRMS_ID = 'PED_CLI_NOVOSCORPORATIVO';
SELECT @V_FILTRO_UF		= COUNT(*)
FROM DB_FILTRO_GRUPOUSU
WHERE ID_FILTRO = 'UF'
AND CODIGO_GRUPO = @V_GRUPO_USUARIO;
SELECT @V_FILTRO_RAMO		= COUNT(*)
FROM DB_FILTRO_GRUPOUSU
WHERE ID_FILTRO = 'RAMOATIV'
AND CODIGO_GRUPO = @V_GRUPO_USUARIO;
SELECT @V_FORMATO_VISITA_ROTA	= DB_PRMS_VALOR
FROM DB_PARAM_SISTEMA
WHERE DB_PARAM_SISTEMA.DB_PRMS_ID = 'AGENDA_FORMATOVISROTA';
SET @V_SQL_CLIUSU = '';
IF @V_PARAM_CLIUSU = '0'
BEGIN
SET @SITUACAO_CLI = ''
SET @SITUACAO_CLI_REPRES = ''
SELECT @SITUACAO_CLI = DB_PRMS_VALOR  FROM DB_PARAM_SISTEMA WHERE DB_PRMS_ID = 'MOB_SITUACAOCLIENTELISTA'
SELECT @SITUACAO_CLI_REPRES = DB_PRMS_VALOR  FROM DB_PARAM_SISTEMA WHERE DB_PRMS_ID = 'MOB_SITUACAOREPRESCLIENTELISTA'
SET @V_SQL_CLIUSU = '
SELECT DISTINCT(DB_CLI_CODIGO) AS CODCLIENTE, ''' + @P_USUARIO + ''' AS USUARIO,
NULL AS DATA_INICIAL, NULL AS DATA_FINAL, 0 AS REPRESENTANTE_PEDIDO, 0 AS SEGUNDO_REPRESENTANTE
FROM DB_CLIENTE, DB_CLIENTE_REPRES, DB_REPRES_USUARIO R
WHERE DB_CLIR_CLIENTE = DB_CLI_CODIGO
AND DB_CLIR_REPRES = R.REPRESENTANTE
AND R.USUARIO = ''' + @P_USUARIO + ''' ';
SET @SITUACOES_TEMP = ' AND ( '
IF ISNULL(@SITUACAO_CLI_REPRES, '') <> ''
SET @SITUACOES_TEMP = @SITUACOES_TEMP + ' DB_CLIR_SITUACAO IN (' + @SITUACAO_CLI_REPRES + ') '
IF ISNULL(@SITUACAO_CLI, '') <> ''
BEGIN
IF LEN(@SITUACOES_TEMP) > 7
SET @SITUACOES_TEMP = @SITUACOES_TEMP + ' AND DB_CLI_SITUACAO IN (' + @SITUACAO_CLI + ') '
ELSE
SET @SITUACOES_TEMP = @SITUACOES_TEMP + ' DB_CLI_SITUACAO IN (' + @SITUACAO_CLI + ') '
END
IF LEN(@SITUACOES_TEMP) > 7
SET @V_SQL_CLIUSU = @V_SQL_CLIUSU + @SITUACOES_TEMP + ' ) '
END;
IF @V_PARAM_CLIUSU = '1'
BEGIN
IF @V_FORMATO_VISITA_ROTA = 1
BEGIN
SET @V_SQL_CLIUSU = '
SELECT  DISTINCT(DB_ROTAS_CLIENTES.CLIENTE), ''' + @P_USUARIO + ''' AS USUARIO, NULL AS DATA_INICIAL, NULL AS DATA_FINAL, 0 AS REPRESENTANTE_PEDIDO, 0 AS SEGUNDO_REPRESENTANTE
FROM DB_ROTAS_CLIENTES
WHERE ISNULL(EXCLUIDO, 0) = 0
AND CAST(GETDATE() AS DATE) BETWEEN CAST(DATA AS DATE) AND  CAST(DATA_FINAL AS DATE)
AND DB_ROTAS_CLIENTES.USUARIO = ''' + @P_USUARIO + ''''
END
ELSE
BEGIN
SET @SITUACAO_CLI_ROTA = ''
SET @SITUACAO_CLI_REPRES_ROTA = ''
SELECT @SITUACAO_CLI_ROTA = DB_PRMS_VALOR  FROM DB_PARAM_SISTEMA WHERE DB_PRMS_ID = 'MOB_SITUACAOCLIENTEROTA'
SELECT @SITUACAO_CLI_REPRES_ROTA = DB_PRMS_VALOR  FROM DB_PARAM_SISTEMA WHERE DB_PRMS_ID = 'MOB_SITUACAOREPRESCLIENTEROTA'
SET @V_SQL_CLIUSU = '
SELECT DISTINCT(DB_CLI_CODIGO) AS CODCLIENTE, ''' + @P_USUARIO + ''' AS USUARIO,
NULL AS DATA_INICIAL, NULL AS DATA_FINAL, 0 AS REPRESENTANTE_PEDIDO, 0 AS SEGUNDO_REPRESENTANTE
FROM DB_CLIENTE, DB_ROTAS, DB_ROTAS_LINHAS, DB_REPRES_USUARIO R
WHERE DB_ROTA_REPRES = R.REPRESENTANTE
AND DB_ROTA_CODIGO = DB_ROTAL_CODIGO
AND DB_ROTAL_CLIENTE = DB_CLIENTE.DB_CLI_CODIGO
AND R.USUARIO = ''' + @P_USUARIO + ''' ';
SET @SITUACOES_TEMP = ''
IF ISNULL(@SITUACAO_CLI_ROTA, '') <> ''
BEGIN
SET @SITUACOES_TEMP = @SITUACOES_TEMP + ' AND DB_CLI_SITUACAO IN (' + @SITUACAO_CLI_ROTA + ') '
SET @V_SQL_CLIUSU = @V_SQL_CLIUSU + @SITUACOES_TEMP
END
END
END;
IF @V_PARAM_CLIUSU = '2'
BEGIN
SET @V_SQL_CLIUSU = '
SELECT DISTINCT CLIENTES.C_CLIENTE AS CODCLIENTE, ''' + @P_USUARIO + ''' AS USUARIO,
CLIENTES.DATA_INICIAL AS DATA_INICIAL, CLIENTES.DATA_FINAL AS DATA_FINAL,
CLIENTES.REPRES_USU AS REPRESENTANTE_PEDIDO, CLIENTES.REPRES_SEGUN AS SEGUNDO_REPRESENTANTE
FROM (
SELECT DISTINCT CLIENTES_CARTEIRA.CLIENTE C_CLIENTE, CLIENTES_CARTEIRA.CARTEIRA CLIENTE_CARTEIRA,
CLIENTES_CARTEIRA.DATA_INICIAL, CLIENTES_CARTEIRA.DATA_FINAL,
CLIENTES_CARTEIRA.REPRES_USU, CLIENTES_CARTEIRA.REPRES_SEGUN
FROM (
SELECT (DB_CARTEIRAS_CLIENTES.CLIENTE) CLIENTE
, DB_CARTEIRAS.ID CARTEIRA
, RANK() OVER (PARTITION BY DB_CARTEIRAS_CLIENTES.CLIENTE ORDER BY CASE WHEN (DB_CARTEIRAS_USUARIOS.DATA_INICIAL) > (DB_CARTEIRAS_CLIENTES.DATA_INICIAL) THEN (DB_CARTEIRAS_USUARIOS.DATA_INICIAL) ELSE (DB_CARTEIRAS_CLIENTES.DATA_INICIAL) END) ROW_NUM
, CASE WHEN DB_CARTEIRAS_USUARIOS.DATA_INICIAL > DB_CARTEIRAS_CLIENTES.DATA_INICIAL THEN DB_CARTEIRAS_USUARIOS.DATA_INICIAL ELSE DB_CARTEIRAS_CLIENTES.DATA_INICIAL END DATA_INICIAL
, CASE WHEN ISNULL(DB_CARTEIRAS_USUARIOS.DATA_FINAL, '''') = '''' AND ISNULL(DB_CARTEIRAS_CLIENTES.DATA_FINAL, '''') <> '''' THEN DB_CARTEIRAS_CLIENTES.DATA_FINAL
WHEN ISNULL(DB_CARTEIRAS_USUARIOS.DATA_FINAL, '''') <> '''' AND ISNULL(DB_CARTEIRAS_CLIENTES.DATA_FINAL, '''') = '''' THEN DB_CARTEIRAS_USUARIOS.DATA_FINAL
ELSE CASE WHEN DB_CARTEIRAS_USUARIOS.DATA_FINAL < DB_CARTEIRAS_CLIENTES.DATA_FINAL THEN DB_CARTEIRAS_USUARIOS.DATA_FINAL ELSE DB_CARTEIRAS_CLIENTES.DATA_FINAL END END DATA_FINAL
, DB_CARTEIRAS_USUARIOS.REPRESENTANTE_PEDIDO  REPRES_USU
, DB_CARTEIRAS_USUARIOS.SEGUNDO_REPRESENTANTE REPRES_SEGUN
FROM DB_CARTEIRAS_USUARIOS,
DB_CARTEIRAS_CLIENTES,
DB_CARTEIRAS
WHERE DB_CARTEIRAS_USUARIOS.USUARIO = ''' + @P_USUARIO + '''
AND DB_CARTEIRAS.ID = DB_CARTEIRAS_USUARIOS.CARTEIRA
AND DB_CARTEIRAS_CLIENTES.CARTEIRA = DB_CARTEIRAS_USUARIOS.CARTEIRA
AND DB_CARTEIRAS.SITUACAO = 1
AND (ISNULL(DB_CARTEIRAS_CLIENTES.DATA_FINAL, '''') = '''' OR DB_CARTEIRAS_CLIENTES.DATA_FINAL >= (CAST((GETDATE() - 7) AS DATE)))
AND (ISNULL(DB_CARTEIRAS_USUARIOS.DATA_FINAL, '''') = '''' OR DB_CARTEIRAS_USUARIOS.DATA_FINAL >= (CAST((GETDATE() - 7) AS DATE)))
AND (CAST(DB_CARTEIRAS_CLIENTES.DATA_INICIAL AS DATE) <= CAST(GETDATE() AS DATE) AND (ISNULL(DB_CARTEIRAS_CLIENTES.DATA_FINAL, '''') = '''' OR CAST(DB_CARTEIRAS_CLIENTES.DATA_FINAL AS DATE) >= CAST(GETDATE() AS DATE)))
) AS CLIENTES_CARTEIRA
WHERE CLIENTES_CARTEIRA.ROW_NUM = 1 ) AS CLIENTES, DB_CLIENTE
WHERE CLIENTES.C_CLIENTE = DB_CLIENTE.DB_CLI_CODIGO ';
END;
IF  @V_SQL_CLIUSU <> ''
BEGIN
IF @V_FILTRO_UF > 0
BEGIN
SET @V_SQL_CLIUSU = @V_SQL_CLIUSU +
' AND EXISTS(SELECT 1 FROM DB_FILTRO_GRUPOUSU
WHERE ID_FILTRO = ''UF''
AND CODIGO_GRUPO = ' + CAST(@V_GRUPO_USUARIO AS VARCHAR) + '
AND DB_CLI_ESTADO = VALOR_STRING)';
END;
IF @V_FILTRO_RAMO > 0
BEGIN
SET @V_SQL_CLIUSU = @V_SQL_CLIUSU +
' AND EXISTS(SELECT 1 FROM DB_FILTRO_GRUPOUSU
WHERE ID_FILTRO = ''RAMOATIV''
AND CODIGO_GRUPO = ' + CAST(@V_GRUPO_USUARIO AS VARCHAR) + '
AND DB_CLI_RAMATIV = VALOR_STRING)';
END;
IF @V_PARAM_PEDCLINOVOCORP = '0'
BEGIN
SET @V_SQL_CLIUSU = @V_SQL_CLIUSU +
' AND NOT (DB_CLI_SITUACAO =0 AND DB_CLI_ALT_CORP IS NULL)';
END;
END;
IF  @V_SQL_CLIUSU <> ''
BEGIN
INSERT INTO @TEMP_CLIUSU (CODCLIENTE, USUARIO, DATA_INICIAL, DATA_FINAL, REPRESENTANTE_PEDIDO, SEGUNDO_REPRESENTANTE)
EXEC SP_EXECUTESQL @V_SQL_CLIUSU;
SET @V_TEMP_SQL = @V_SQL_CLIUSU + ' EXCEPT ' + '  SELECT CLIENTE, USUARIO, DATA_INICIAL, DATA_FINAL, REPRESENTANTE_PEDIDO, SEGUNDO_REPRESENTANTE FROM DB_CLIENTE_USUARIO  WHERE USUARIO = ''' +  @P_USUARIO	 + ''''
INSERT INTO DB_CLIENTE_USUARIO(CLIENTE, USUARIO, DATA_INICIAL, DATA_FINAL, REPRESENTANTE_PEDIDO, SEGUNDO_REPRESENTANTE)
EXEC SP_EXECUTESQL @V_TEMP_SQL;
DELETE FROM DB_CLIENTE_USUARIO
WHERE DB_CLIENTE_USUARIO.USUARIO = @P_USUARIO
AND NOT EXISTS(SELECT * FROM @TEMP_CLIUSU A
WHERE DB_CLIENTE_USUARIO.CLIENTE = A.CODCLIENTE AND DB_CLIENTE_USUARIO.USUARIO = A.USUARIO
AND isnull(DB_CLIENTE_USUARIO.DATA_INICIAL, '') = isnull(A.DATA_INICIAL, '')
AND isnull(DB_CLIENTE_USUARIO.DATA_FINAL, '') = isnull(A.DATA_FINAL, '')
AND isnull(DB_CLIENTE_USUARIO.REPRESENTANTE_PEDIDO, 0) = isnull(A.REPRESENTANTE_PEDIDO, 0)
AND isnull(DB_CLIENTE_USUARIO.SEGUNDO_REPRESENTANTE, 0) = isnull(A.SEGUNDO_REPRESENTANTE, 0));
END;
END TRY
BEGIN CATCH
SET @VERRO = 'ERRO: ' + ERROR_MESSAGE() + ' , LINHA: ' + CAST(ISNULL(ERROR_LINE(), 0) AS VARCHAR) + @P_USUARIO
INSERT INTO DBS_ERROS_TRIGGERS
(DBS_ERROS_OBJETO, DBS_ERROS_ERRO, DBS_ERROS_DATA)
VALUES
('MERCP_INSERE_CLI_USU', ISNULL(@VERRO, 'NULL'), GETDATE())
END CATCH
END;
