ALTER PROCEDURE MERCP_BUSCA_SEQUENCIA_SQL(@V_TABLE   NVARCHAR(150), @V_RETORNO  BIGINT OUT) AS
SET NOCOUNT ON;
BEGIN
DECLARE @V_TEMP_VERSION_DB    NVARCHAR(25)
DECLARE @V_TEMP_INIT_VERSION_DB   INT;
DECLARE @V_SEQ_RETORNO    BIGINT;
DECLARE @V_SQL_COMMAND    NVARCHAR(500)
DECLARE @V_CREATE_TABLE NVARCHAR(200);
DECLARE @V_TEMP_QUERY   NVARCHAR(200);
DECLARE @V_SEQ          BIGINT;
SET @V_TEMP_VERSION_DB = CAST((SELECT SERVERPROPERTY('PRODUCTVERSION')) AS NVARCHAR)
SET @V_TEMP_INIT_VERSION_DB = CAST( SUBSTRING(@V_TEMP_VERSION_DB, 1, CHARINDEX('.', @V_TEMP_VERSION_DB) -1  ) AS INT)
IF @V_TEMP_INIT_VERSION_DB < 11
BEGIN
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES
WHERE TABLE_NAME = @V_TABLE)
BEGIN
SET @V_CREATE_TABLE = 'CREATE TABLE ' + @V_TABLE + ' ( ID BIGINT IDENTITY )'
EXEC sp_executeSQL  @V_CREATE_TABLE
SET @V_TEMP_QUERY = 'INSERT ' + @V_TABLE + ' WITH (TABLOCKX) DEFAULT VALUES'
EXEC sp_executeSQL  @V_TEMP_QUERY
SET @V_TEMP_QUERY = 'DELETE FROM ' + @V_TABLE
EXEC sp_executeSQL  @V_TEMP_QUERY
set @V_RETORNO = 1;
END
ELSE
BEGIN
SET @V_TEMP_QUERY = 'INSERT ' + @V_TABLE + ' WITH (TABLOCKX) DEFAULT VALUES'
EXEC sp_executeSQL  @V_TEMP_QUERY
SET @V_TEMP_QUERY = 'select @v_seq = ID from ' + @V_TABLE
EXEC sp_executeSQL  @V_TEMP_QUERY, @Params = N'@v_seq BIGINT OUTPUT', @V_SEQ = @V_SEQ output
SET @V_RETORNO = @V_SEQ;
END
END
ELSE
BEGIN
SET @V_SQL_COMMAND= 'SELECT @V_SEQ_RETORNO = NEXT VALUE FOR DBO.' + @V_TABLE
EXEC SP_EXECUTESQL  @V_SQL_COMMAND, @PARAMS = N'@V_SEQ_RETORNO INT OUTPUT', @V_SEQ_RETORNO = @V_SEQ_RETORNO OUTPUT
SET @V_RETORNO = @V_SEQ_RETORNO
END
END
