ALTER VIEW MVA_CLICONFIGFORMAPAGTOREDE AS
SELECT DB_CLIR_CLIENTE     CLIENTE_CCFPG,
       DB_CLIR_EMPRESA     EMPRESA_CCFPG,
       DB_CLIR_REPRES      REPRESENTANTE_CCFPG,
       DB_CLIR_FORMA_PGTO  FORMAPAGAMENTO_CCFPG,
	   DB_CLIR_SITUACAO    SITUACAO_CCFPG	   
  FROM DB_CLIENTE_REPRES
 WHERE ISNULL(DB_CLIR_FORMA_PGTO, '') <> ''
