ALTER VIEW MVA_MODELOSCOR AS
select DB_MODC_MODELO		modelo_MODCOR,
DB_MODC_COR			cor_MODCOR,
DB_MODC_TAMANHO		tamanho_MODCOR,
DB_MODC_DESCTAM		descrTam_MODCOR,
MVA_MODELOS.DATAALTER
from DB_MODELO_COR, MVA_MODELOS
where DB_MODC_MODELO = MVA_MODELOS.CODIGO_MODEL
