ALTER VIEW MVA_CLIENTECONFIGROTAS AS
SELECT DB_CLIR_CLIENTE     CLIENTE_CCROTA,
DB_CLIR_EMPRESA     EMPRESA_CCROTA,
DB_CLIR_REPRES      REPRESENTANTE_CCROTA,
DB_CLIR_ROTA        ROTA_CCROTA,
DB_CLIR_DATA_ALTER  DATAALTER,
R.USUARIO
FROM DB_CLIENTE_REPRES, MVA_REPRESENTANTES R
WHERE DB_CLIR_REPRES  = R.CODIGO_REPRES
and isnull(DB_CLIR_ROTA, '') <> ''
