ALTER VIEW MVA_MODELOS AS
 SELECT DB_MOD_CODIGO	 CODIGO_MODEL,
		DB_MOD_DESCR	 DESCRICAO_MODEL,
		DB_MOD_SITUACAO  SITUACAO_MODEL,
		DB_MOD_CODREFER  CODIGOREFERENCIA_MODEL,
		DB_MOD_DATAALTER DATAALTER
   FROM DB_MODELO
