ALTER VIEW MVA_ALIQUOTASPADRAO AS
SELECT DB_ALIQ_UF_ORIG   UFORIGEM_ALIQ,
DB_ALIQ_UF        UFDESTINO_ALIQ,
DB_ALIQ_ICMS      ALIQUOTA_ALIQ,
DB_ALIQ_BASERED   BASE_ALIQ,
DB_ALIQ_BONIF     BONIFICACAO_ALIQ,
DB_ALIQ_CFOP      CFOP_ALIQ,
DB_ALIQ_ICMSDSCTO ICMSDescontado_ALIQ ,
USU.USUARIO
FROM DB_ALIQUOTA_ICMS,
DB_USUARIO  USU,
DB_GRUPO_USUARIOS   GRUPO,
DB_FILTRO_GRUPOUSU FILTRO
WHERE GRUPO.CODIGO = USU.GRUPO_USUARIO
AND FILTRO.CODIGO_GRUPO = USU.GRUPO_USUARIO
AND FILTRO.ID_FILTRO = 'UF'
AND UPPER(FILTRO.VALOR_STRING) = DB_ALIQ_UF
UNION ALL
SELECT DB_ALIQ_UF_ORIG    UFORIGEM_ALIQ,
DB_ALIQ_UF         UFDESTINO_ALIQ,
DB_ALIQ_ICMS       ALIQUOTA_ALIQ,
DB_ALIQ_BASERED    BASE_ALIQ,
DB_ALIQ_BONIF      BONIFICACAO_ALIQ,
DB_ALIQ_CFOP       CFOP_ALIQ,
DB_ALIQ_ICMSDSCTO  ICMSDescontado_ALIQ ,
USU.USUARIO
FROM DB_ALIQUOTA_ICMS, DB_USUARIO USU
WHERE     NOT EXISTS
(SELECT 1
FROM DB_FILTRO_GRUPOUSU
WHERE ID_FILTRO = 'UF' AND USU.GRUPO_USUARIO = CODIGO_GRUPO)
