ALTER VIEW MVA_LAYOUT_FAVORITOS AS
SELECT LFAV.GRUPO_USUARIO		grupoUsuario_LFAV,
       LFAV.FUNCIONALIDADE		funcionalidade_LFAV,
	   LFAV.ORDEM 				ordem_LFAV,
       LFAV.EXCLUIDO   			excluido_LFAV,
	   LFAV.ITEM_PAI			itemPai_LFAV,
	   LFAV.NOME_PERSONALIZADO	nomePersonalizado_LFAV,
	   LFAV.ICONE_FAVORITOS		iconeFavoritos_LFAV,
	   LFAV.CONSULTA			consulta_LFAV,
	   LFAV.DASHBOARD			dashboard_LFAV,
	   LFAV.TELA_DINAMICA 		telaDinamica_LFAV,
	   LFAV.DATA_ATUALIZACAO	dataalter,
	   USU.USUARIO
  FROM DB_MOB_LAYOUT_FAVORITOS  LFAV,
	   DB_USUARIO				USU
 WHERE LFAV.GRUPO_USUARIO = USU.GRUPO_USUARIO
