ALTER VIEW MVA_AGENDA_OCORRENCIA AS
select tela.codigo_TELA		codigo_AGOCO,
tela.descricao_TELA	descricao_AGOCO,
tela.tipo_TELA		tela_AGOCO,
ORDEM_TELA			ordemTela_AGOCO,
usu.usuario
from DB_FILTRO_USUARIO filtro,
MVA_TELAS tela,
DB_USUARIO usu
where ID_FILTRO = 'AGENDA_TELASOCUSU'
and tela.codigo_TELA = VALOR_NUM
and filtro.CODIGO_USUARIO = usu.CODIGO
and tela.usuario = usu.USUARIO
union all
select tela.codigo_TELA		codigo_AGOCO,
tela.descricao_TELA	descricao_AGOCO,
tela.tipo_TELA		tela_AGOCO,
ORDEM_TELA			ordemTela_AGOCO,
usu.usuario
from DB_FILTRO_GRUPOUSU filtro,
MVA_TELAS tela,
DB_USUARIO usu
where ID_FILTRO = 'AGENDA_TELAOC'
and tela.codigo_TELA = VALOR_NUM
and filtro.CODIGO_GRUPO = usu.GRUPO_USUARIO
and not exists (select 1 from DB_FILTRO_USUARIO filtroUsu where filtroUsu.CODIGO_USUARIO = usu.CODIGO and ID_FILTRO = 'AGENDA_TELASOCUSU')
and tela.usuario = usu.USUARIO
