ALTER VIEW MVA_ESTOQUEPRODEMPRESA AS
SELECT EMPRESA_FATURAMENTO		empresaFaturamento_ESTP,
EMPRESA_ESTOQUE			empresaEstoque_ESTP,
VALOR_ATRIBUTO			valorAtributo_ESTP,
MVA_EMPRESAS.USUARIO
FROM DB_ESTOQUE_PRODEMP,
MVA_EMPRESAS
WHERE MVA_EMPRESAS.CODIGO_EMPRE = EMPRESA_FATURAMENTO
