ALTER VIEW MVA_RAMOSATIVIDADES  AS
SELECT DB_TBATV_CODIGO     CODIGO_RAMO,
DB_TBATV_DESCRICAO  DESCRICAO_RAMO,
DB_TBATV_RAMOVINC   RAMOSVINCULADOS_RAMO,
DB_TBATV_TIPO       TIPORAMO_RAMO,
CASE WHEN (SELECT ISNULL(DB_PRM_CUSTO_IND, 0) FROM DB_PARAMETRO1) = 0
THEN DB_TBATV_CUSTO_IND
ELSE DB_TBATV_CFFAT_IND	 		END       CUSTOINDUSTRIALPRODUZIDO_RAMO,
CASE WHEN (SELECT ISNULL(DB_PRM_CUSTO_IND, 0) FROM DB_PARAMETRO1) = 0
THEN DB_TBATV_CUSTO_INR
ELSE DB_TBATV_CFFAT_INR	 		END       CUSTOINDUSTRIALREVENDA_RAMO,
CASE WHEN (SELECT ISNULL(DB_PRM_CUSTO_ADM, 0) FROM DB_PARAMETRO1) = 0
THEN DB_TBATV_CUSTO_ADM
ELSE DB_TBATV_CFFAT_ADM	 		END       CUSTOADMINISTRATIVO_RAMO,
CASE WHEN (SELECT ISNULL(DB_PRM_CUSTO_COM, 0) FROM DB_PARAMETRO1) = 0
THEN DB_TBATV_CUSTO_COM
ELSE DB_TBATV_CFFAT_COM	 		END       CUSTOCOMERCIAL_RAMO,
DB_TBATV_EMBALAGEM     embalagem_RAMO,
USU.USUARIO
FROM DB_TB_RAMO_ATIV,
DB_GRUPO_USUARIOS  GRUPO_USU,
DB_FILTRO_GRUPOUSU FILTRO,
DB_USUARIO         USU
where (isnull(DB_TBATV_SIT, '') = '' or DB_TBATV_SIT = 0)
and DB_TB_RAMO_ATIV.DB_TBATV_TIPO in (1, 0)
and GRUPO_USU.CODIGO    = USU.GRUPO_USUARIO
AND FILTRO.CODIGO_GRUPO = USU.GRUPO_USUARIO
AND FILTRO.ID_FILTRO    = 'RAMOATIV'
AND FILTRO.VALOR_STRING = DB_TBATV_CODIGO
UNION ALL
SELECT DB_TBATV_CODIGO     CODIGO_RAMO,
DB_TBATV_DESCRICAO  DESCRICAO_RAMO,
DB_TBATV_RAMOVINC   RAMOSVINCULADOS_RAMO,
DB_TBATV_TIPO       TIPORAMO_RAMO,
CASE WHEN (SELECT ISNULL(DB_PRM_CUSTO_IND, 0) FROM DB_PARAMETRO1) = 0
THEN DB_TBATV_CUSTO_IND
ELSE DB_TBATV_CFFAT_IND	 		END       CUSTOINDUSTRIALPRODUZIDO_RAMO,
CASE WHEN (SELECT ISNULL(DB_PRM_CUSTO_IND, 0) FROM DB_PARAMETRO1) = 0
THEN DB_TBATV_CUSTO_INR
ELSE DB_TBATV_CFFAT_INR	 		END       CUSTOINDUSTRIALREVENDA_RAMO,
CASE WHEN (SELECT ISNULL(DB_PRM_CUSTO_ADM, 0) FROM DB_PARAMETRO1) = 0
THEN DB_TBATV_CUSTO_ADM
ELSE DB_TBATV_CFFAT_ADM	 		END       CUSTOADMINISTRATIVO_RAMO,
CASE WHEN (SELECT ISNULL(DB_PRM_CUSTO_COM, 0) FROM DB_PARAMETRO1) = 0
THEN DB_TBATV_CUSTO_COM
ELSE DB_TBATV_CFFAT_COM	 		END       CUSTOCOMERCIAL_RAMO,
DB_TBATV_EMBALAGEM     embalagem_RAMO,
USU.USUARIO
FROM DB_TB_RAMO_ATIV,
DB_USUARIO        USU,
DB_GRUPO_USUARIOS GRUPO_USU
where (isnull(DB_TBATV_SIT, '') = '' or DB_TBATV_SIT = 0)
AND GRUPO_USU.CODIGO = USU.GRUPO_USUARIO
AND (NOT EXISTS (SELECT 1
FROM DB_FILTRO_GRUPOUSU FILTRO
WHERE FILTRO.CODIGO_GRUPO = USU.GRUPO_USUARIO
AND FILTRO.ID_FILTRO = 'RAMOATIV') OR  (DB_TB_RAMO_ATIV.DB_TBATV_TIPO NOT in (1, 0)))
