ALTER VIEW MVA_AGENDA_USUARIOS AS
SELECT 	USUARIO				usuario_AGUSU,
CODIGO_AGENDAMENTO	codigoAgendamento_AGUSU,
SEQUENCIA			sequencia_AGUSU,
DATA_INICIO			dataInicio_AGUSU,
DATA_FINAL			dataFinal_AGUSU,
USUARIO
FROM DB_AG_USUARIOS
