ALTER VIEW MVA_CAMPOSPEDIDO  AS
---------------------------------------------------------------------------------------------------
-- VERSAO	DATA		AUTOR			ALTERACAO
-- 1.0001	24/05/2013	TIAGO PRADELLA	CRIACAO
-- 1.0002   18/06/2013  tiago           incluido campo tamanho
-- 1.0003   13/08/2014  tiago           incluido campo cor fonte e fundo
-- 1.0004   12/09/2016  tiago           incluido campo TIPOCAMPO_CAMPOPED
---------------------------------------------------------------------------------------------------
 SELECT P.GRUPO_USUARIO	  GRUPOUSUARIO_CAMPOPED,
		P.ABA			  ABA_CAMPOPED,
		P.AREA			  AREA_CAMPOPED,
		P.CAMPO			  CAMPO_CAMPOPED,
		P.COLUNA		  COLUNA_CAMPOPED,
		P.ORDEM			  ORDEM_CAMPOPED,
		P.LABEL			  LABEL_CAMPOPED,
		P.OBRIGATORIO	  OBRIGATORIO_CAMPOPED,
		P.EDITAVEL		  EDITAVEL_CAMPOPED,
		P.DESTAQUE		  DESTAQUE_CAMPOPED,
		P.TIPO_COMPONENTE TIPOCOMPONENTE_CAMPOPED,
		P.TAMANHO         TAMANHO_CAMPOPED,
		P.COR_FONTE       CORFONTE_CAMPOPED,
		P.COR_FUNDO       CORFUNDO_CAMPOPED,
		P.TIPO_CAMPO	  TIPOCAMPO_CAMPOPED,
		P.CONSULTA		  CONSULTA_CAMPOPED,
		P.ORDENADOR		  ORDENADOR_CAMPOPED,
		USU.USUARIO
   FROM DB_MOB_CAMPOS_PEDIDO P, DB_USUARIO USU, DB_GRUPO_USUARIOS GRUPO,
		MVA_AREASABASPEDIDO  VA
  WHERE USU.GRUPO_USUARIO = GRUPO.CODIGO
    AND P.GRUPO_USUARIO = USU.GRUPO_USUARIO
	AND VA.ABA_AREAPED = P.ABA
	AND VA.AREA_AREAPED = P.AREA
	AND VA.USUARIO = USU.USUARIO
