ALTER VIEW MVA_ITENSCARACTERISTICAS AS
SELECT DB_ITCR_PRODUTO	        PRODUTO_ITCAR,
DB_ITCR_CATALOGO	        CATALOGO_ITCAR,
DB_ITCR_CARACTERISTICA	CARACTERISTICA_ITCAR,
DB_ITCR_SEQUENCIA        SEQUENCIA_ITCAR,
I.USUARIO,
I.DATAALTER
FROM DB_ITEM_CARAC, MVA_ITENSCATALOGO I
WHERE I.PRODUTO_ITCAT = DB_ITCR_PRODUTO
and DB_ITCR_CATALOGO = i.CATALOGO_ITCAT
