ALTER VIEW MVA_CATALOGOSORDENACAO AS
SELECT DB_CATOR_CATALOGO   CATALOGO_ORDE,
DB_CATOR_COLUNA	   COLUNA_ORDE,
DB_CATOR_ORDEM	   ORDEM_ORDE,
C.USUARIO,
C.DATAALTER
FROM DB_CATALOGO_ORDEM, MVA_CATALOGOS C
WHERE C.CODIGO_CAT = DB_CATOR_CATALOGO
