ALTER VIEW MVA_GRUPOSPRODUTO_V4 AS
SELECT distinct GRUPO.DB_GRUPO_COD        CODIGO_GRPRO,
GRUPO.DB_GRUPO_DESCRICAO  DESCRICAO_GRPRO,
GRUPO.DB_GRUPO_FAMILIA    FAMILIA_GRPRO,
produsu.USUARIO
FROM DB_TB_GRUPO         GRUPO,
db_produto_usuario   produsu,
db_produto prod
WHERE prod.db_prod_codigo = produsu.produto
and prod.db_prod_grupo   = GRUPO.DB_GRUPO_COD
and prod.db_prod_familia = GRUPO.DB_GRUPO_FAMILIA
