ALTER VIEW MVA_COLUNASCONSULTAACOES AS
SELECT CONSULTA         CONSULTA_COLCA,
INDICE           INDICE_COLCA,
ACAO             ACAO_COLCA,
SEQUENCIA        SEQUENCIA_COLCA,
PARAMETRO_ACAO   PARAMETROACAO_COLCA,
ACAO_CONSULTA    ACAOCONSULTA_COLCA,
ACAO_DASHBOARD   acaoDashboard_COLCA,
ACAO_CADASTRO    ACAOCADASTRO_COLCA,
(select top 1 TIPO from DB_WEB_TELA where TELA_DINAMICA = DB_WEB_TELA.CODIGO)   telaDinamica_COLCA ,
CON.USUARIO
FROM DB_CONS_COLUNAS_ACOES, MVA_CONSULTAS CON
where con.codigo_consu = CONSULTA
