ALTER VIEW  MVA_ALBUM_V4 AS
select distinct a.CODIGO     codigo_ALBUM,
a.NOME                nome_ALBUM,
a.EXCLUIDO            excluido_ALBUM,
a.data_atualizacao    dataalter,
usuario
from DB_ALBUM a
, mva_albumproduto_v4 b
where CODIGO = b.album_ALPRO
