ALTER VIEW MVA_DISTRIBUICAOITENS AS
SELECT DB_DISTI_TIPO			TIPO_DISTRI,
DB_DISTI_ARTIGO			ARTIGO_DISTRI,
DB_DISTI_COR			COR_DISTRI,
DB_DISTI_DISTRIBUICAO	DISTRIBUICAO_DISTRI,
DB_DISTI_ITEM			ITEM_DISTRI,
DB_DISTI_DESCRABREV		DESCRICAOABREVIADA_DISTRI,
DB_DISTI_QTDE			QUANTIDADE_DISTRI,
MVA_DISTRIBUICOES.DATAALTER
FROM DB_DISTRIBUICAO_IT,
MVA_DISTRIBUICOES
WHERE DB_DISTI_TIPO		  = MVA_DISTRIBUICOES.TIPO_DISTR
AND	DB_DISTI_ARTIGO		  = MVA_DISTRIBUICOES.ARTIGO_DISTR
AND	DB_DISTI_COR		  = MVA_DISTRIBUICOES.COR_DISTR
AND	DB_DISTI_DISTRIBUICAO = MVA_DISTRIBUICOES.DISTRIBUICAO_DISTR
