ALTER VIEW MVA_OBJETIVOSVISITA AS
SELECT DB_TBORV_CODIGO         CODIGO_OBJVI,
DB_TBORV_DESCRICAO      DESCRICAO_OBJVI,
DB_TBORV_VENDA          VENDA_OBJVI,
DB_TBORV_JUSTNVISITA    justnVisita_OBJVI
FROM DB_TB_OBJRELVIS
