ALTER VIEW MVA_MARCACAODETALHE AS
 SELECT CODIGO				 codigo_MARD,
		LOCAL_MARCACAO		 localMarcacao_MARD,
		SEQUENCIA			 sequencia_MARD,
		TEXTO_MARCACAO_LOCAL textoMarcacaoLocal_MARD,
		LOGO_MARCACAO_LOCAL	 logoMarcacaoLocal_MARD,
		COR_MARCACAO_LOCAL	 corMarcacaoLocal_MARD,
		TIPO_MARCACAO_LOCAL  tipoMarcacaoLocal_MARD,
	    MAR.dataalter		 dataalter
   FROM DB_MARCACAO_DETALHE  DET,
		MVA_MARCACAO		 MAR
  WHERE DET.CODIGO = MAR.codigo_MAR
