---------------------------------------------------------------------------------------------------
-- VERSAO	DATA		AUTOR			ALTERACAO
-- 1.0001	15/10/2012	TIAGO PRADELLA	CRIACAO
-- 1.0002   25/03/2013	TIAGO           AJUSTADO SELECT QUE TRAS TODOS ESTADOS CASA NAO HAJA RESTRICAO
-- 1.0003   07/02/2014  TIAGO           TRAZ ESTADOS REFERENTES AS EMPRESAS DO USUARIO
-- 1.0004   02/09/2014  TIAGO           INCLUIDO CAMPO PAIS
---------------------------------------------------------------------------------------------------
ALTER VIEW MVA_ESTADOS AS
SELECT DB_TBUF_SIGLA     SIGLA_ESTAD,
       DB_TBUF_NOME      NOME_ESTAD,
	   DB_TBUF_PAIS      PAIS_ESTAD,
	   DB_TBUF_UF        UF_ESTAD,
	   USU.USUARIO
  FROM DB_TB_ESTADO       EST,
       DB_USUARIO		  USU,
       DB_GRUPO_USUARIOS  GRUPO_USU,
       DB_FILTRO_GRUPOUSU FILTRO
 WHERE GRUPO_USU.CODIGO = USU.GRUPO_USUARIO
   AND FILTRO.CODIGO_GRUPO = USU.GRUPO_USUARIO
   AND FILTRO.ID_FILTRO = 'UF'
   AND UPPER(FILTRO.VALOR_STRING) = EST.DB_TBUF_UF
UNION
SELECT DB_TBUF_SIGLA     SIGLA_ESTAD,
       DB_TBUF_NOME      NOME_ESTAD,
	   DB_TBUF_PAIS      PAIS_ESTAD,
	   DB_TBUF_UF        UF_ESTAD,
	   USU.USUARIO
  FROM DB_USUARIO		 USU,       
       DB_TB_ESTADO      EST
 WHERE 
    NOT EXISTS (SELECT 1 
                     FROM DB_FILTRO_GRUPOUSU
					WHERE ID_FILTRO = 'UF'
					  AND USU.GRUPO_USUARIO = CODIGO_GRUPO)
UNION
SELECT DB_TBUF_SIGLA     SIGLA_ESTAD,
       DB_TBUF_NOME      NOME_ESTAD,
	   DB_TBUF_PAIS      PAIS_ESTAD,
	   DB_TBUF_UF        UF_ESTAD,
	   EMP.USUARIO
  FROM DB_TB_ESTADO       EST,
       MVA_EMPRESAS EMP
 WHERE EMP.UF_EMPRE = DB_TBUF_SIGLA
