ALTER VIEW MVA_PESQUISASLIMITERESPOSTAS AS
SELECT LIM.CODIGO_APLICAR_PESQUISA  CODPESQUISAAPLICADA_PLIM,
LIM.CODIGO_PERGUNTA			CODIGOPERGUNTA_PLIM,
LIM.PRODUTO					PRODUTO_PLIM,
LIM.VALOR_MINIMO				VALORMINIMO_PLIM,
LIM.VALOR_MAXIMO				VALORMAXIMO_PLIM,
PA.USUARIO
FROM   DB_PESQ_LIMITE_RESPOSTAS LIM, MVA_PESQUISASAPLICADAS PA
WHERE  LIM.CODIGO_APLICAR_PESQUISA = PA.CODIGO_PESAPLI
