ALTER VIEW MVA_CATALOGOSVARIACAO AS
SELECT DB_CATV_CATALOGO	       CATALOGO_CVAR,
DB_CATV_COLUNA	       COLUNA_CVAR,
DB_CATV_ORDEM	       ORDEM_CVAR,
DB_CATV_EXIBELISTAGEM   EXIBELISTAGEM_CVAR,
C.USUARIO,
C.DATAALTER
FROM DB_CATALOGO_VARIACAO, MVA_CATALOGOS C
WHERE C.CODIGO_CAT = DB_CATV_CATALOGO
