ALTER VIEW MVA_CALENDARIOINDISP AS
SELECT ID				ID_CALIND,
	   DB_CALEND_INDISP.DATA				DATA_CALIND,
       DESCRICAO		DESCRICAO_CALIND,
	   EMPRESA			EMPRESA_CALIND,
	   TIPO				TIPO_CALIND,
       LOCAL			LOCAL_CALIND
  FROM DB_CALEND_INDISP
 WHERE CAST(DB_CALEND_INDISP.DATA AS DATE) >= CAST(GETDATE() AS DATE)
