ALTER VIEW MVA_PEDIDOITENS AS
SELECT DB_PEDI_PEDIDO      PEDIDO_PEDIT,
DB_PEDI_SEQUENCIA   SEQUENCIA_PEDIT,
DB_PEDI_PRODUTO     PRODUTO_PEDIT,
DB_PEDI_QTDE_SOLIC  QUANTIDADESOLICITADA_PEDIT,
DB_PEDI_QTDE_CANC   QUANTIDADECANCELADA_PEDIT,
DB_PEDI_QTDE_ATEND  QUANTIDADEATENDIDA_PEDIT,
DB_PEDI_PRECO_UNIT  PRECOBRUTO_PEDIT,
DB_PEDI_PRECO_LIQ   PRECOLIQUIDO_PEDIT,
DB_PEDI_PREV_ENTR   DATAPREVISAOENTREGA_PEDIT,
DB_PEDI_IPI         PERCENTUALIPI_PEDIT,
DB_PEDI_VLRIPI      VALORIPI_PEDIT,
DB_PEDI_SITUACAO    SITUACAO_PEDIT,
DB_PEDI_OPERACAO    OPERACAO_PEDIT,
DB_PEDI_PERC_COMIS  COMISSAO_PEDIT,
DB_PEDI_ECON_VLR    ECONOMIA_PEDIT,
DB_PEDI_VLR_SUBST   VALORST_PEDIT,
DB_PEDI_ITEMFEMB    FORAEMBALAGEM_PEDIT,
DB_PEDI_DTPREVENTO  DATAPREVIENTRCALCULADA_PEDIT,
DB_PEDI_PRECO_MIN   PRECOMINIMO_PEDIT,
DB_PEDI_BACKORD     BACKORD_PEDIT,
DB_PEDI_BLOQSUG     BLOQUEIOSUGESTAOVENDA_PEDIT,
DB_PEDI_PRUNIT_ORI  PRECOBRUTOORIGINAL_PEDIT,
DB_PEDI_VLR_FRETIT  VALORFRETE_PEDIT,
DB_PEDI_VU_PIS      VALORPIS_PEDIT,
DB_PEDI_MVA         MVA_PEDIT,
DB_PEDI_ICMSORIG    ICMSORIGEM_PEDIT,
DB_PEDI_ICMSDEST    ICMSDESTINO_PEDIT,
DB_PEDI_ESTVLR      VALORESTATISTICO_PEDIT,
MVA_PEDIDOS.USUARIO
FROM DB_PEDIDO_PROD,
MVA_PEDIDOS
WHERE CODIGO_PEDID = DB_PEDI_PEDIDO
