ALTER VIEW MVA_LISTAPRECOATRIB AS
 SELECT CODIGO_LISTA	codigoLista_LPATB,
		ATRIBUTO		atributo_LPATB,
		VALOR			valorAtributo_LPATB,
		li.USUARIO,
		li.DATAALTER
   FROM db_preco_atrib, MVA_LISTAPRECO li
  WHERE li.CODIGO_LIPRE = CODIGO_LISTA
