ALTER VIEW  MVA_ORCAMENTO_ITENS_CONFIG_IMG AS
SELECT IMG.ORCAMENTO            orcamento_ORCITCI,
	   IMG.SEQUENCIA        	sequencia_ORCITCI,
	   IMG.CODIGO_IMG           codigoImg_ORCITCI,
	   IMG.DESCRICAO_IMG        descricao_ORCITCI,
	   ORCAMENTO.dataalter	    dataalter,
	   ORCAMENTO.usuario        usuario
  FROM DB_ORCAMENTO_ITEM_CONFIG_IMG IMG,
	   MVA_ORCAMENTOS ORCAMENTO
 WHERE IMG.ORCAMENTO = ORCAMENTO.numero_ORC
