ALTER VIEW  MVA_CONDICOESFRETEITENS AS
---------------------------------------------------------------------------------------------------
-- VERSAO	DATA		AUTOR			ALTERACAO
-- 1.0000	04/09/2013	TIAGO PRADELLA	CRIACAO
-- 1.0001   05/03/2015  tiago           incluido campo DB_TBCFT_EQUIPAMENTO e DB_TBCFT_KM
-- 1.0002   14/05/2015  tiago           incluido campo rota_COFRIT
---------------------------------------------------------------------------------------------------
 SELECT DB_TBCFT_CODIGO	    CODIGO_COFRIT,
		DB_TBCFT_SEQ	    SEQUENCIA_COFRIT,
		DB_TBCFT_REGIAO	    REGIAO_COFRIT,
		DB_TBCFT_CIDADE	    CIDADE_COFRIT,
		DB_TBCFT_PEDMIN	    PEDIDOMINIMO_COFRIT,
		DB_TBCFT_TIPOFRE	TIPOFRETE_COFRIT,
		DB_TBCFT_TAXAFRE	TAXAFRETE_COFRIT,
		DB_TBCFT_TRANSP		TRANSPORTADOR_COFRIT,
		DB_TBCFT_ESTADO		ESTADO_COFRIT,
		DB_TBCFT_RCIDADE	CIDADEREDESPACHO_COFRIT,
		DB_TBCFT_DESCTO		DESCONTO_COFRIT,
		DB_TBCFT_RESTADO	ESTADOREDESPACHO_COFRIT,
		DB_TBCFT_PEDMAX		PEDIDOMAXIMO_COFRIT,
		DB_TBCFT_EXCLUI		EXCLUI_COFRIT,		
		DB_TBCFT_CUSTO_LUC	CUSTOFRETELUCRATIV_COFRIT,
		DB_TBCFT_REDESP1	REDESPACHO1_COFRIT,
		DB_TBCFT_REDESP2	REDESPACHO2_COFRIT,
		DB_TBCFT_EXC		EXCLUSIVO_COFRIT,
		DB_TBCFT_TXFRETMAX	TAXAFRETEMAX_COFRIT,
		DB_TBCFT_PRZENTR	PRAZOENTREGA_COFRIT,
		DB_TBCFT_CSTMED		CUSTOMEDIO_COFRIT,
		DB_TBCFT_PESO		PESO_COFRIT,
		DB_TBCFT_M3MAX		METRAGEMM3MAX_COFRIT,
		DB_TBCFT_PMAXFRET	MAXIMOCUSTO_COFRIT,
		DB_TBCFT_CEPINI		CEPINICIAL_COFRIT,
		DB_TBCFT_CEPFIM		CEPFINAL_COFRIT,
		DB_TBCFT_TPTAXA		TIPOTAXA_COFRIT,
		DB_TBCFT_FCESTTX	UMESTATISTICA_COFRIT,
		FRETE.USUARIO,
		DB_TBCFT_EQUIPAMENTO  equipamento_COFRIT,
		DB_TBCFT_KM           quilometragem_COFRIT,
		DB_TBCFT_ROTA         rota_COFRIT,
		DB_TBCFT_ROTA		  ROTA,
		DB_TBCFT_PESOMIN      pesoMinimo_COFRIT,
		-- -- -- -- --  Niveis de Produto  -- -- -- -- --
		--DB_TBCFT_TIPOPROD     tipoProduto_COFRIT,
		--DB_TBCFT_MARCAPROD    marcaProduto_COFRIT,
		--DB_TBCFT_FAMILIAPROD  familiaProduto_COFRIT,
		--DB_TBCFT_GRUPOPROD    grupoProduto_COFRIT,
		case when (select top 1 1 from DB_USUARIO_MOBILE where CAST(SUBSTRING(VERSAO_UTILIZADA, 1, 4) + REPLACE(STR(SUBSTRING(VERSAO_UTILIZADA, 6, 2), 2), SPACE(1), '0')AS INT) < 202211 and DB_USUARIO_MOBILE.CODIGO = DB_USUARIO.CODIGO) >= 1 and CHARINDEX(',', DB_TBCFT_TIPOPROD) > 0
             then substring(DB_TBCFT_TIPOPROD, 1, CHARINDEX(',', DB_TBCFT_TIPOPROD) - 1)
             else DB_TBCFT_TIPOPROD end  tipoProduto_COFRIT,
		case when (select top 1 1 from DB_USUARIO_MOBILE where CAST(SUBSTRING(VERSAO_UTILIZADA, 1, 4) + REPLACE(STR(SUBSTRING(VERSAO_UTILIZADA, 6, 2), 2), SPACE(1), '0')AS INT) < 202211 and DB_USUARIO_MOBILE.CODIGO = DB_USUARIO.CODIGO) >= 1 and CHARINDEX(',', DB_TBCFT_MARCAPROD) > 0
             then substring(DB_TBCFT_MARCAPROD, 1, CHARINDEX(',', DB_TBCFT_MARCAPROD) - 1)
             else DB_TBCFT_MARCAPROD end  marcaProduto_COFRIT,
		case when (select top 1 1 from DB_USUARIO_MOBILE where CAST(SUBSTRING(VERSAO_UTILIZADA, 1, 4) + REPLACE(STR(SUBSTRING(VERSAO_UTILIZADA, 6, 2), 2), SPACE(1), '0')AS INT) < 202211 and DB_USUARIO_MOBILE.CODIGO = DB_USUARIO.CODIGO) >= 1 and CHARINDEX(',', DB_TBCFT_FAMILIAPROD) > 0
             then substring(DB_TBCFT_FAMILIAPROD, 1, CHARINDEX(',', DB_TBCFT_FAMILIAPROD) - 1)
             else DB_TBCFT_FAMILIAPROD end  familiaProduto_COFRIT,
		case when (select top 1 1 from DB_USUARIO_MOBILE where CAST(SUBSTRING(VERSAO_UTILIZADA, 1, 4) + REPLACE(STR(SUBSTRING(VERSAO_UTILIZADA, 6, 2), 2), SPACE(1), '0')AS INT) < 202211 and DB_USUARIO_MOBILE.CODIGO = DB_USUARIO.CODIGO) >= 1 and CHARINDEX(',', DB_TBCFT_GRUPOPROD) > 0
             then substring(DB_TBCFT_GRUPOPROD, 1, CHARINDEX(',', DB_TBCFT_GRUPOPROD) - 1)
             else DB_TBCFT_GRUPOPROD end  grupoProduto_COFRIT,
		-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
		DB_TBCFT_VALORFRE     valorFrete_COFRIT,
		isnull(DB_TBCFT_TPENDERECO, 0)   tipoEndereco_COFRIT,
		DB_TBCFT_BAIRRO		  bairro_COFRIT,
		DB_TBCFT_BLQOBRI      blqObri_COFRIT
   FROM DB_TB_COND_FRETRP, MVA_CONDICOESFRETE FRETE, DB_USUARIO
  WHERE FRETE.CODIGO_CONFR = DB_TBCFT_CODIGO
    AND DB_USUARIO.USUARIO = FRETE.USUARIO
