ALTER VIEW MVA_CONFIGEDICAOQTDEITEM  AS
 SELECT CODIGO			codigo_EDQTDE,
		NOME			nome_EDQTDE,
		CONSULTA		consulta_EDQTDE,
		SUBCONSULTA		subConsulta_EDQTDE,
		COLUNA_CONFIG	colunaConfig_EDQTDE,
		COLUNA_CONSULTA colunaConsulta_EDQTDE
   FROM DB_CONFIG_EDICAO_QTDE
