ALTER VIEW MVA_COMISSAO AS
SELECT CO10_REGRACOM    REGRA_COMIS,
CO10_VIGENCIA    VIGENCIA_COMIS,
CO10_DTVALI      DATAINICIAL_COMIS,
CO10_DTVALF      DATAFINAL_COMIS,
CO10_TPDESCTO	TIPODESCONTO_COMIS,
CO10_PCOMIS      COMISSAOPADRAO_COMIS,
CO10_BASECALCULO baseCalculo_COMIS,
CO10_PCOMMAX     comissaoMaxima_COMIS,
CO10_PCOMMIN     comissaoMinima_COMIS,
CO10_TpComis     tipoComissao_COMIS,
CO10_PENALIZACAO tipoPenalizacao_COMIS,
usuario
FROM MCO10,
db_usuario usu
WHERE CO10_DTVALF >= getdate()
and exists (select 1
from mva_representantes, db_tb_repres
where DB_TBREP_CODIGO =codigo_REPRES
and  DB_TBREP_RegraCom = CO10_REGRACOM
and mva_representantes.usuario = usu.usuario)
