ALTER VIEW MVA_PRODUTOSIMAGENS_DELETE  AS
SELECT CODIGO_PRODUTO             PRODUTO_PRIMG,
       ID_IMAGEM                  IMAGEM_PRIMG,
	   DATA_ALTER                 DATAALTER,
	   P.USUARIO                  USUARIO
  FROM DB_PRODUTO_IMAGEM, DB_PRODUTO_USUARIO P
 WHERE P.PRODUTO = CODIGO_PRODUTO
   AND SITUACAO = 'I'
