ALTER VIEW  MVA_CONDICOESFRETEATRIBPROD AS
SELECT CFAP.CODIGO_CONDICAO	codigo_COFAP,
CFAP.SEQUENCIA_CONDICAO	sequenciaCondicao_COFAP,
CFAP.SEQUENCIA	        sequencia_COFAP,
CFAP.ATRIBUTO	        atributo_COFAP,
CFAP.VALOR	            valor_COFAP,
FRETE.USUARIO
FROM DB_TB_COND_FRETE_ATRIB_PROD CFAP, MVA_CONDICOESFRETE FRETE
WHERE FRETE.CODIGO_CONFR = CFAP.CODIGO_CONDICAO
