ALTER VIEW MVA_MODELORELATORIO AS
SELECT MOD.MODELO   AS MODELO_MODREL,
TIPO_MODELO  AS TIPOMODELO_MODREL,
DESCRICAO    AS DESCRICAO_MODREL,
PAISAGEM     AS PAISAGEM_MODREL,
PADRAO       AS PADRAO_MODREL,
USUARIO_IMPRESSAO AS USUARIOIMPRESSAO_MODREL,
USU.USUARIO
FROM DB_MODELO_RELATORIO MOD,
DB_GRUPO_USUARIO_REL GRUREL,
DB_USUARIO USU
WHERE USU.GRUPO_USUARIO = GRUREL.GRUPO_USUARIO
AND GRUREL.MODELO = MOD.MODELO
