---------------------------------------------------------------------------------------------------
-- VERSAO	DATA		AUTOR			ALTERACAO
-- 1.0001	08/09/2016	TIAGO PRADELLA	CRIACAO
---------------------------------------------------------------------------------------------------
ALTER VIEW MVA_PEDIDO_ITENS AS
 SELECT DB_PEDI_PEDIDO				pedido_PEDIT,
		DB_PEDI_SEQUENCIA			sequencia_PEDIT,
		DB_PEDI_PRODUTO				produto_PEDIT,
		DB_PEDI_QTDE_SOLIC			quantidadeSolicitada_PEDIT,
		DB_PEDI_QTDE_CANC			quantidadeCancelada_PEDIT,
		DB_PEDI_QTDE_ATEND			quantidadeAtendida_PEDIT,
		DB_PEDI_PRECO_UNIT			precoBruto_PEDIT,
		DB_PEDI_PRECO_LIQ			precoLiquido_PEDIT,
		DB_PEDI_PREV_ENTR			dataPrevisaoEntrega_PEDIT,
		DB_PEDI_IPI					percentualIpi_PEDIT,
		DB_PEDI_VLRIPI				valorIpi_PEDIT,
		DB_PEDI_SITUACAO			situacao_PEDIT,
		DB_PEDI_OPERACAO			operacao_PEDIT,
		DB_PEDI_PERC_COMIS			comissao_PEDIT,
		DB_PEDI_COMIS_GER			comissaoCalculada_PEDIT,
		DB_PEDI_ECON_VLR			economia_PEDIT,
		DB_PEDI_VLR_SUBST			valorST_PEDIT,
		DB_PEDI_ITEMFEMB			foraEmbalagem_PEDIT,
		DB_PEDI_DTPREVENTO			dataPreviEntrCalculada_PEDIT,
		DB_PEDI_TIPO				tipo_PEDIT,
		DB_PEDI_PRECO_MIN			precoMinimo_PEDIT,
		DB_PEDI_BLOQSUG				bloqueioSugestaoVenda_PEDIT,
		DB_PEDI_VLR_FRETIT			valorFrete_PEDIT,
		DB_PEDI_MVA					mva_PEDIT,
		DB_PEDI_ICMSORIG			icmsOrigem_PEDIT,
		DB_PEDI_ICMSDEST			icmsDestino_PEDIT,
		DB_PEDI_PRUNIT_ORI			precoListaPreco_PEDIT,
		DB_PEDI_ESTVLR				valorEstatistico_PEDIT,
		DB_PEDI_TIPOST				tipoST_PEDIT,
		DB_PEDI_PRECO_NORM			precoNormalDrogaCenter_PEDIT,
		DB_PEDI_MOT_TROCA			motivoTroca_PEDIT,
		DB_PEDI_EMPESTOQ			empresaEstoque_PEDIT,
		DB_PEDI_LPRECO				listaPreco_PEDIT,
		DB_PEDI_QTDE_RES			quantidadeEstoque_PEDIT,
		DB_PEDI_OBRIGATORIO			obrigatorio_PEDIT,
		DB_PEDI_VLR_DESCARGA		valorDescarga_PEDIT,
		DB_PEDI_IcmsDscto			ICMSDescontado_PEDIT,
		DB_PEDI_ORD_COMPRA			ordemCompra_PEDIT,
		DB_PEDI_PRECO_FIRME			precoFirme_PEDIT,
		DB_PEDI_DESCTO_FISCAL		descontoFiscal_PEDIT,
		DB_PEDI_PERC_MLUCR			percentualLucratividade_PEDIT,
		DB_PEDI_VLR_DESCARGA_CALC	valorDescargaCalculado_PEDIT,
		DB_PEDI_VLR_FRETIT_CALC		valorFreteCalculado_PEDIT,
		DB_PEDI_VU_PIS				valorPIS_PEDIT,
		DB_PEDI_VU_COFINS			valorCofins_PEDIT,
		DB_PEDI_VU_COMISSAO			valorComissao_PEDIT,
		DB_PEDI_MOTCANC             motivoCancelamento_PEDIT,
		DB_PEDI_OBSERV				observacao_PEDIT,
		DB_PEDI_PRDCFGCAR			configuracao_PEDIT,
		DB_PEDI_QTDE_RES			quantidadeReservada_PEDIT,
		DB_PEDI_ATD_DCTO            notaFiscal_PEDIT,
		DB_PEDI_OBS_SEPAR			obsSepar_PEDIT,
		DB_PEDI_VLRFRETIT_RATEIO    valorFreteItemRateio_PEDIT,
		DB_PEDI_VLRFRETIT_RATEIO_CALC  valorFreteItemRateioCalc_PEDIT,
		DB_PEDI_DESCTOP             descontoTotal_PEDIT,
		DB_PEDI_COND_FRETE_IT		condicaoFreteItem_PEDIT,
		DB_PEDI_LJ_PECA				LJPeca_PEDIT,
		DB_PEDI_LJ_CARGA			LJCarga_PEDIT,
		DB_PEDI_LJ_TAMANHO			LJTamanho_PEDIT,
		DB_PEDI_LJ_MEDIDA_A			LJMedidaA_PEDIT,
		DB_PEDI_LJ_VAO				LJVao_PEDIT,
		DB_PEDI_LJ_ANGULO			LJAngulo_PEDIT,
		DB_PEDI_LJ_MEDIDA_B			LJMedidaB_PEDIT,
		DB_PEDI_LJ_INICIOVIGA		LJInicioViga_PEDIT,
		DB_PEDI_LJ_ABA				LJAba_PEDIT,
		DB_PEDI_LJ_ABA_A			LJAbaA_PEDIT ,
		DB_PEDI_LJ_ABA_B			LJAbaB_PEDIT,
		DB_PEDI_LJ_IDENT			LJIdent_PEDIT,
		DB_PEDI_LOTE_ESTOQUE        loteEstoque_PEDIT,
		DB_PEDI_SEQ_ORDEM_COMPRA    seqOrdCompra_PEDIT,
		DB_PEDI_SEQORD_COMPRA		seqOrdCompraSTR_PEDIT,
		DB_PEDI_ALMOXARIF			almoxarifado_PEDIT, 
		DB_PEDI_CAMPO1				campo1_PEDIT,
		DB_PEDI_ORDCOMEST			ordComEst_PEDIT,
		DB_PEDI_BLOQDESC			bloqueioDesconto_PEDIT,
		DB_PEDI_OBS1				observacao1_PEDIT,
		DB_PEDI_OBS2				observacao2_PEDIT,
		DB_PEDI_VLR_DESCTO_FISCAL   valorDescontoFiscal_PEDIT,
	    MVA_PEDIDOS.USUARIO,
		MVA_PEDIDOS.dataalter
   FROM DB_PEDIDO_PROD,
	    MVA_PEDIDOS
  WHERE CODIGO_PEDID = DB_PEDI_PEDIDO
