ALTER VIEW MVA_IMAGENS as
SELECT DISTINCT
ID               ID_IMG,
DESCRICAO        DESCRICAO_IMG,
TOOLTIP          TOOLTIP_IMG,
DATA_ALTER       DATAALTER,
P.USUARIO        USUARIO
FROM DB_IMAGEM, MVA_PRODUTOSIMAGENS P
WHERE P.PRODUTO_PRIMG = ID
