ALTER VIEW MVA_PERMGRPMSG AS
SELECT DISTINCT
NULL usuarioDestino_PGMSG,
MSGM2.CODIGO_GRUPO_MENSAGEM grupoDestino_PGMSG,
usur.usuario
FROM DB_GRUPOMSG_MEMBROS MSGM2, db_usuario usur
WHERE     MSGM2.TIPO = 0
AND MSGM2.CODIGO_GRUPO_MENSAGEM IN
(SELECT MSGM1.CODIGO_GRUPO_MSG_PERM
FROM DB_GRUPOMSG_MEMBROS MSGM1
WHERE     MSGM1.TIPO = 1
AND MSGM1.CODIGO_GRUPO_MENSAGEM IN
(SELECT MSGM.CODIGO_GRUPO_MENSAGEM
FROM DB_USUARIO USU, DB_GRUPOMSG_MEMBROS MSGM
WHERE     USU.USUARIO = usur.usuario
AND MSGM.TIPO = 0
AND MSGM.CODIGO_USUARIO = USU.CODIGO))
UNION ALL
SELECT DISTINCT userr.USUARIO,
NULL,
usua.usuario
FROM db_usuario userr, db_usuario usua
WHERE userr.CODIGO IN
(SELECT codigo_usuario
FROM DB_GRUPOMSG_MEMBROS MSGM1
WHERE MSGM1.TIPO = 1
AND codigo_usuario != 0
AND MSGM1.CODIGO_GRUPO_MENSAGEM IN
(SELECT MSGM.CODIGO_GRUPO_MENSAGEM
FROM DB_USUARIO USU, DB_GRUPOMSG_MEMBROS MSGM
WHERE     USU.USUARIO = usua.usuario
AND MSGM.TIPO = 0
AND MSGM.CODIGO_USUARIO = USU.CODIGO))
union
select NULL usuarioDestino_PGMSG,
MSGM.CODIGO_GRUPO_MENSAGEM grupoDestino_PGMSG,
usu.usuario
FROM DB_USUARIO USU, DB_GRUPOMSG_MEMBROS MSGM
WHERE MSGM.TIPO = 0
AND MSGM.CODIGO_USUARIO = USU.CODIGO
