---------------------------------------------------------------------------------------------------
-- VERSAO	DATA		AUTOR			ALTERACAO
-- 1.0000	15/10/2012	TIAGO PRADELLA	CRIACAO
-- 1.0001   08/11/212   TIAGO PRADELLA  INCLUIDO DATA DE ALTERACAO
-- 1.0002   10/07/2013  TIAGO           INCLUIDO NOVOS CAMPOS PARA O CADASTRO MOBILE
-- 1.0003   14/08/2013  tiago           incluido campo mobile
-- 1.0004   23/08/2013  tiago           envia somento o codigo da funcao, retirada concatenacao com a descricao
---------------------------------------------------------------------------------------------------
ALTER VIEW MVA_CLIENTECONTATOS AS
with p_contato_cliente as (select DB_PRMS_VALOR valor from DB_PARAM_SISTEMA where DB_PRMS_ID = 'SIS_CONTATOCLIENTE_MOB')
SELECT DB_CLIP_COD         CLIENTE_CLICO,
       DB_CLIP_SEQ         CODIGO_CLICO,
       DB_CLIP_NOME        NOME_CLICO,
       DB_CLIP_TEL         TELEFONE_CLICO,
       DB_CLIP_EMAIL       EMAIL_CLICO,
	   DB_CLIP_CPF         CPF_CLICO,
	   DB_CLIP_RG          RG_CLICO,
	   DB_CLIP_DT_NASC     DATANASCIMENTO_CLICO,
	   DB_CLIP_EMAIL_PARA  CONTATOWORKLOW_CLICO,
	   DB_CLIP_DEPTO       DEPARTAMENTO_CLICO,
	   DB_CLIP_CODFUNCAO   FUNCAO_CLICO,
	   DB_CLIP_POUTEMP     PARTICIPOUTRASEMPRESAS_CLICO,
	   DB_CLIP_PARTSOC     PERCPARTICIPSOCIEDADE_CLICO,
       DB_CLIP_INFOAD      INFORMACOESADICIONAIS_CLICO,
	   DB_CLIP_LOGRAD      LOGRADOURO_CLICO,
	   DB_CLIP_END         ENDERECO_CLICO,
	   DB_CLIP_ENDNRO      NUMERO_CLICO,
	   DB_CLIP_COMPL       COMPLEMENTO_CLICO,
	   DB_CLIP_BAIRRO      BAIRRO_CLICO,
	   DB_CLIP_CEP         CEP_CLICO,
	   DB_CLIP_CXPO        CAIXAPOSTAL_CLICO,
	   DB_CLIP_CIDADE      CIDADE_CLICO,
	   DB_CLIP_UF          ESTADO_CLICO,
	   DB_CLIP_PAIS        PAIS_CLICO,
	   DB_CLIP_PONTOREFER  REFERENCIA_CLICO,
	   DB_CLIP_RESID       RESIDENCIA_CLICO,
	   DB_CLIP_ENDENVIO    ENDERECOENVIO_CLICO,
	   DB_CLIP_DATA        DATA_CLICO,
	   0                   MOBILE_CLICO ,
	   CLI.DATAALTER       DATAALTER,
	   db_clip_tipo        tipo_CLICO,
       CLI.USUARIO		   USUARIO
  FROM DB_CLIENTE_PESS,
       MVA_CLIENTE CLI
 WHERE CLI.CODIGO_CLIEN = DB_CLIP_COD
   and isnull((select valor from p_contato_cliente), 0) = 0
   union all 
   SELECT DB_CLIP_COD         CLIENTE_CLICO,
       DB_CLIP_SEQ         CODIGO_CLICO,
       DB_CLIP_NOME        NOME_CLICO,
       DB_CLIP_TEL         TELEFONE_CLICO,
       DB_CLIP_EMAIL       EMAIL_CLICO,
	   DB_CLIP_CPF         CPF_CLICO,
	   DB_CLIP_RG          RG_CLICO,
	   DB_CLIP_DT_NASC     DATANASCIMENTO_CLICO,
	   DB_CLIP_EMAIL_PARA  CONTATOWORKLOW_CLICO,
	   DB_CLIP_DEPTO       DEPARTAMENTO_CLICO,
	   DB_CLIP_CODFUNCAO   FUNCAO_CLICO,
	   DB_CLIP_POUTEMP     PARTICIPOUTRASEMPRESAS_CLICO,
	   DB_CLIP_PARTSOC     PERCPARTICIPSOCIEDADE_CLICO,
       DB_CLIP_INFOAD      INFORMACOESADICIONAIS_CLICO,
	   DB_CLIP_LOGRAD      LOGRADOURO_CLICO,
	   DB_CLIP_END         ENDERECO_CLICO,
	   DB_CLIP_ENDNRO      NUMERO_CLICO,
	   DB_CLIP_COMPL       COMPLEMENTO_CLICO,
	   DB_CLIP_BAIRRO      BAIRRO_CLICO,
	   DB_CLIP_CEP         CEP_CLICO,
	   DB_CLIP_CXPO        CAIXAPOSTAL_CLICO,
	   DB_CLIP_CIDADE      CIDADE_CLICO,
	   DB_CLIP_UF          ESTADO_CLICO,
	   DB_CLIP_PAIS        PAIS_CLICO,
	   DB_CLIP_PONTOREFER  REFERENCIA_CLICO,
	   DB_CLIP_RESID       RESIDENCIA_CLICO,
	   DB_CLIP_ENDENVIO    ENDERECOENVIO_CLICO,
	   DB_CLIP_DATA        DATA_CLICO,
	   0                   MOBILE_CLICO ,
	   CLI.DATAALTER       DATAALTER,
	   db_clip_tipo        tipo_CLICO,
       CLI.USUARIO		   USUARIO
  FROM DB_CLIENTE_PESS,
       MVA_CLIENTE CLI
 WHERE CLI.CODIGO_CLIEN = DB_CLIP_COD
   and isnull((select valor from p_contato_cliente), 0) = 1
   and DB_CLIP_DEPTO in (select forcavendas_REPRES from MVA_REPRESENTANTES where MVA_REPRESENTANTES.USUARIO = CLI.USUARIO)
