ALTER VIEW MVA_FAMILIASPRODUTO_V4 AS
SELECT DISTINCT FAMILIA.DB_TBFAM_CODIGO     CODIGO_FAPRO,
FAMILIA.DB_TBFAM_DESCRICAO         DESCRICAO_FAPRO,
CASE WHEN (SELECT ISNULL(DB_PRM_CUSTO_IND, 0) FROM DB_PARAMETRO1) = 0
THEN DB_TBFAM_CUSTO_IND
ELSE DB_TBFAM_CFFAT_IND END      custoIndustrialProduzido_FAPRO,
CASE WHEN (SELECT ISNULL(DB_PRM_CUSTO_ADM, 0) FROM DB_PARAMETRO1) = 0
THEN DB_TBFAM_CUSTO_INR
ELSE DB_TBFAM_CFFAT_INR END         custoIndustrialRevenda_FAPRO,
CASE WHEN (SELECT ISNULL(DB_PRM_CUSTO_IND, 0) FROM DB_PARAMETRO1) = 0
THEN DB_TBFAM_CUSTO_ADM
ELSE DB_TBFAM_CFFAT_ADM  END custoAdministrativo_FAPRO,
CASE WHEN (SELECT ISNULL(DB_PRM_CUSTO_COM, 0) FROM DB_PARAMETRO1) = 0
THEN DB_TBFAM_CUSTO_COM
ELSE DB_TBFAM_CFFAT_COM END    custoComercial_FAPRO,
USUARIO
FROM DB_TB_FAMILIA       FAMILIA,
DB_PRODUTO_USUARIO,
DB_PRODUTO
WHERE PRODUTO = DB_PROD_CODIGO
AND DB_PROD_FAMILIA        = FAMILIA.DB_TBFAM_CODIGO
