ALTER VIEW MVA_CONS_CONFIG_GRAFICO_MOB  AS
 select POSICAO_X					posicaoX_COGRAM,
		POSICAO_Y					posicaoY_COGRAM,
		COR_EIXO 					corEixo_COGRAM,
		TAMANHO_EIXO				tamanhoEixo_COGRAM,
		COR_LINHA_EIXO				corLinhaEixo_COGRAM,
		LARGURA_EIXO				larguraEixo_COGRAM,
		HABILITA_LINHA_TACHADA		habilitaLinTachada_COGRAM,
		EXIBE_LABEL					exibeLabel_COGRAM,
		POSICAO_LABEL				posicaoLabel_COGRAM,
		COR_LABEL					corLabel_COGRAM,
		TAMANHO_LABEL				tamanhoLabel_COGRAM,
		LABEL_PERCENTUAL			labelPerc_COGRAM,
		APRESENTA_LINHA_SUP			apresentaLinSup_COGRAM,
		APRESENTA_LINHA_INF			apresentaLinInf_COGRAM,
		LEGENDA_HORIZONTAL			legendaHorizontal_COGRAM,
		LEGENDA_VERTICAL			legendaVertical_COGRAM,
		COR_LEGENDA					corLegenda_COGRAM,
		TAMANHO_LEGENDA				tamanhoLegenda_COGRAM,
		FORMATO_LEGENDA				formatoLegenda_COGRAM,
		FUNDO						fundo_COGRAM,
		PALETA						paleta_COGRAM,
		COR_BORDA					corBorda_COGRAM,
		PREENCHIMENTO				preenchimento_COGRAM,
		PERMITE_ROTACIONAR			permiteRotacionar_COGRAM,
		SOMBRA						sombra_COGRAM,
		MARCADOR					marcador_COGRAM,
		FORMATO_LINHA				formatoLinha_COGRAM,
		LARGURA_LINHA				larguraLinha_COGRAM,
		FORMATO_LINHA_PIZZA			formatoLinhaPizza_COGRAM,
		TAMANHO_CENTRO				tamanhoCentro_COGRAM,
		BORDA_BARRA					bordaBarra_COGRAM,
		CONSULTA					consulta_COGRAM,
		POSICAO_LEGENDA				posicaoLegenda_COGRAM,
		ALINHAMENTO_LEGENDA			alinhamentoLegenda_COGRAM,
		USUARIO
   from DB_CONS_GRAFICO_MCONFIG, MVA_CONSULTAS
  where CODIGO_CONSU = CONSULTA
