ALTER VIEW MVA_REPRESENTANTES AS
SELECT distinct DB_TBREP_CODIGO         CODIGO_REPRES,
REP.DB_TBREP_NOME      NOME_REPRES,
DB_TBREP_LIMFINANC     SALDOFLEX_REPRES,
ISNULL((SELECT VALOR_NUM
FROM DB_FILTRO_GRUPOUSU  GRUPO
WHERE GRUPO.ID_FILTRO         = 'FLEX'
AND GRUPO.CODIGO_GRUPO      = USU.GRUPO_USUARIO), 0)  APLICAFLEX_REPRES,
ISNULL((SELECT VALOR_NUM
FROM DB_FILTRO_USUARIO
WHERE ID_FILTRO = 'FLEXNEGATIVO'
AND CODIGO_USUARIO = USU.CODIGO), 0)   APLICAFLEXNEGATIVO_REPRES,
REP.DB_TBREP_PEDITENSI ITENSIGUAIS_REPRES,
ISNULL((SELECT VALOR_NUM
FROM DB_FILTRO_GRUPOUSU  GRUPO
WHERE GRUPO.ID_FILTRO         = 'INDICADOR'
AND GRUPO.CODIGO_GRUPO      = USU.GRUPO_USUARIO), 0)   EXIBEIMAGENSPRODUTO_REPRES,
DB_TBREP_FONE       TELEFONE_REPRES,
DB_TBREP_EMAIL      EMAIL_REPRES,
DB_TBREP_QTDEF_VE   qtdforaembvenda_REPRES,
DB_TBREP_QTDEF_BO   qtdforaembbonif_REPRES,
DB_TBREP_QTDEF_OU   qtdforaemboutros_REPRES,
DB_TBREP_QTDEF_TR   qtdforaembtransf_REPRES,
DB_TBREP_GRPPREV    grupoEstoque_REPRES,
DB_TBREP_REGRACOM   regraComissao_REPRES,
DB_TBREP_COD_CLI    codigoCliente_REPRES,
DB_TBREP_DIAS_NOTAB diasNotaBonificacao_REPRES,
DB_TBREP_UNIDFV     forcavendas_REPRES,
DB_TBREP_Coletor    coletor_REPRES,
isnull((select top 1 RF3_PERCENT_BONI  from  MRF3 where RF3_UNIDADE_FV = REP.DB_TBREP_UNIDFV), 0)  percentBoniFVendas_REPRES,
DB_TBREP_SIT_VENDA  SITUACAO_REPRES,
isnull((select top 1 RF3_NOME from MRF3 where RF3_UNIDADE_FV = DB_TBREP_UNIDFV), '') nomeForcaVendas_REPRES,
DB_TBREP_GRPPREV	grupoPrev_REPRES,
isnull((select top 1 RF3_EMP_ITEM_SPLIT  from  MRF3 where RF3_UNIDADE_FV = REP.DB_TBREP_UNIDFV), 0)  empresaItem_REPRES,
DB_TBREP_LSTDISTR   listaDistribuidores_REPRES,
DB_TBREP_LATITUDE	latitude_REPRES,
DB_TBREP_LONGITUDE	longitude_REPRES,
DB_TBREP_CIDADE		cidade_REPRES,
DB_TBREP_UF			estado_REPRES,
isnull((select top 1 RF3_VALIDASALDOCC from MRF3 where RF3_UNIDADE_FV = REP.DB_TBREP_UNIDFV), 0)	validaSaldoContaCor_REPRES,
isnull((select top 1 RF3_PERC_DESCC	from MRF3 where RF3_UNIDADE_FV = REP.DB_TBREP_UNIDFV), 0)	percDescContaCorrente_REPRES,
USU.USUARIO
FROM DB_REPRES_USUARIO,
DB_USUARIO     USU,
DB_TB_REPRES   REP,
DB_TB_REPRES1  REP1
WHERE REP.DB_TBREP_CODIGO = DB_REPRES_USUARIO.REPRESENTANTE
AND USU.USUARIO = DB_REPRES_USUARIO.USUARIO
AND REP1.DB_TBREP1_CODIGO = REP.DB_TBREP_CODIGO
