ALTER VIEW MVA_DOC_DOCUMENTO AS
 SELECT DOC.CODIGO				codigo_DOCDOCUMENTO,
		DOC.CATEGORIA			categoria_DOCDOCUMENTO,
		DOC.DESCRICAO			descricao_DOCDOCUMENTO,
		DOC.NOME_DOCUMENTO		nomeDocumento_DOCDOCUMENTO,
	    DOC.DATA_CRIACAO		dataCriacao_DOCDOCUMENTO,
	    DOC.DATA_VALIDADE		dataValidade_DOCDOCUMENTO,
		DOC.DATA_ALTERACAO   	dataalter,
		USU.USUARIO				usuario
   FROM DB_DOC_DOCUMENTO DOC,
		MVA_DOC_CATEGORIA CAT,
		DB_DOC_DOCUMENTO_PERMISSAO PERM,
		DB_USUARIO USU
  WHERE DOC.CATEGORIA = CAT.categoria_DOCCAT
	AND DOC.EXCLUIDO = 0
	AND DOC.CODIGO = PERM.CODIGO
	AND USU.CODIGO = PERM.USUARIO
	AND USU.USUARIO = CAT.usuario
	AND PERM.VISUALIZAR = 1
