ALTER VIEW MVA_USUARIOSNOTIFICA AS
SELECT SEQUENCIAL	             SEQUENCIA_USNOT,
USUARIO_ENVIA	         USUARIOENVIA_USNOT,
(select NOME from db_usuario where codigo = USUARIO_ENVIA)	             NOMEUSUARIO_USNOT,
GRUPO_NOTIFICA	         GRUPONOTIFICACAO_USNOT,
(select DB_GRUPO_NOTIFICA.NOME from DB_GRUPO_NOTIFICA where DB_GRUPO_NOTIFICA.CODIGO = DB_USUARIO_NOTIFICA.GRUPO_NOTIFICA)	 NOMEGRUPONOTIFICACAO_USNOT,
USU.USUARIO
FROM DB_USUARIO_NOTIFICA,
DB_USUARIO USU
WHERE DB_USUARIO_NOTIFICA.CODIGO_USUARIO = USU.CODIGO
