ALTER VIEW MVA_PERIODOCOMUNICACAO AS
SELECT PERC.CODIGO			   CODIGO_PERC,
PERC.VALIDADE_INICIAL   VALIDADEINICIAL_PERC,
PERC.VALIDADE_FINAL	   VALIDADEFINAL_PERC,
USU.USUARIO
FROM DB_PERIODO_COMUNICACAO  PERC,
DB_GRUPO_USUARIOS 	   GUSU,
DB_PERFIL_SEGUR 		   PSEG,
DB_USUARIO			   USU
WHERE GUSU.PERFIL_SEGURANCA = PSEG.CODIGO
AND PSEG.PERIODO_COMUNICACAO = PERC.CODIGO
AND USU.GRUPO_USUARIO	 = GUSU.CODIGO
AND CONVERT(VARCHAR, GETDATE(), 23) BETWEEN CONVERT(VARCHAR, PERC.VALIDADE_INICIAL, 23) AND CONVERT(VARCHAR, PERC.VALIDADE_FINAL, 23)
