ALTER VIEW MVA_LAJE_PADRAO_VIGA AS
SELECT PRODUTO			produto_PVIGA,
	   TAMANHO_INICIAL	tamanhoInicial_PVIGA,
	   TAMANHO_FINAL	tamanhoFinal_PVIGA,
	   SEQUENCIA		sequencia_PVIGA
  FROM DB_LAJE_PADRAO_VIGA
