---------------------------------------------------------------------------------------------------
-- VERSAO	DATA		AUTOR			ALTERACAO
-- 1.0001	27/05/2016	TIAGO PRADELLA	CRIACAO
---------------------------------------------------------------------------------------------------
ALTER VIEW MVA_PESQUISASPERGUNTAS AS
SELECT CODIGO_PESQUISA		CODIGOPESQUISA_PESPERG,
	   CODIGO_PERGUNTA		CODIGOPERGUNTA_PESPERG,
	   OBRIGATORIA			OBRIGATORIA_PESPERG,
	   MINIMO_FOTOS			MINIMOFOTOS_PESPERG,
	   MAXIMO_FOTOS			MAXIMOFOTOS_PESPERG,
	   LEITOR_CODBARRAS		LEITORCODBARRAS_PESPERG,
	   EXIGE_TIPO_FOTO		exigeTipoFoto_PESPERG,
	   EXIGE_INF_COMPL		exigeInfoComplementar_PESPERG,
	   CAMPO_INF_COMPL		campoInfoComplementar_PESPERG,
       USU.USUARIO
  FROM DB_PESQ_PESQUISA_PERGUNTAS PP, DB_USUARIO USU
 WHERE EXISTS (SELECT 1
                 FROM MVA_PESQUISAS P
				WHERE P.USUARIO = USU.USUARIO
				  AND P.CODIGO_PES = PP.CODIGO_PESQUISA)
   and pp.OCULTA = 0
