ALTER VIEW MVA_REGRAS_PRAZO_PRECO AS
SELECT
CODIGO				CODIGO_REGPP,
DATA_INICIAL		DATAINICIAL_REGPP,
DATA_FINAL			DATAFINAL_REGPP,
PRAZO_MINIMO		PRAZOMINIMO_REGPP,
PRAZO_MAXIMO		PRAZOMAXIMO_REGPP,
peso                peso_REGPP,
FORMATO_VALOR_MINIMO  formatoValorMinimo_REGPP,
FORMATO_PEDIDO_MINIMO formatoPedidoMinimo_REGPP,
isnull(TIPO, 0)       tipo_REGPP,
TIPO_PEDIDO			TIPOPEDIDO,
EMPRESA				EMPRESA,
CLIENTE_CODIGO		CLIENTECODIGO,
CLIENTE_REDE		CLIENTEREDE,
CLIENTE_CNPJ		CLIENTECNPJ,
REPRESENTANTE		REPRESENTANTE,
OPERACAO			OPERACAO,
CONDICAO_PAGAMENTO  CONDICAOPAGAMENTO,
LISTA_PRECO			LISTAPRECO,
CIDADE				CIDADE,
ESTADO				ESTADO,
PRODUTO				PRODUTO,
TIPO_PRODUTO		TIPO,
MARCA_PRODUTO       MARCA,
FAMILIA_PRODUTO     FAMILIA,
GRUPO_PRODUTO       GRUPO
FROM DB_REGRAS_PRAZO_PRECO
WHERE cast(DATA_FINAL as date) >= cast(GETDATE() as date)
AND SITUACAO = 1
