ALTER VIEW MVA_NOTIFICACOESANEXOS AS
SELECT CODIGO    CODIGO_NOTA,
SEQUENCIA SEQUENCIA_NOTA,
NOME_ARQUIVO   NOMEARQUIVO_NOTA,
NOTIF.dataalter,
NOTIF.USUARIO
FROM DB_NOTIFICACAO_ANEXOS
, MVA_NOTIFICACOES NOTIF
WHERE NOTIF.CODIGO_NOT = DB_NOTIFICACAO_ANEXOS.CODIGO
