ALTER VIEW MVA_AGENDA_ATIV AS 
 select CODIGO_AGENDAMENTO			codigoAgendamento_AGATIV,
		SEQUENCIA					sequencia_AGATIV ,
		DATA_INICIAL				dataInicial_AGATIV,
		DATA_FINAL					datafinal_AGATIV,
		TITULO						titulo_AGATIV,
		OBSERVACAO					observacao_AGATIV,
		DIA_INTEIRO					diaInteiro_AGATIV,
		RECORRENTE					recorrente_AGATIV,
		TIPO_RECORRENCIA			tipoRecorrencia_AGATIV,
		PERIODICIDADE				periodicidade_AGATIV,
		DIA_SEMANA					diaSemana_AGATIV,
		DATA_INICIO_RECORRENCIA		dataInicioRecor_AGATIV,
		DATA_FIM_RECORRENCIA		dataFimRecor_AGATIV,
		PRAZO_RECORRENCIA			prazoRecorrencia_AGATIV,
		NUMERO_RECORRENCIA			numRecorrencia_AGATIV,
		SEM_PRAZO_RECORRENCIA		semPrazoRecor_AGATIV,
		CLIENTE						cliente_AGATIV,
		CODIGO_ATIVIDADE			codigoAtiv_AGATIV,
		PERIODICIDADE_MENSAL_DIA	periodMensalDia_AGATIV,
		PERIODICIDADE_MENSAL_DIA_INI periodMensalDiaIni_AGATIV,
		PERIODICIDADE_ANUAL_DIA		periodAnualDia_AGATIV,
		PERIODICIDADE_ANUAL_DIA_INI periodAnualDiaIni_AGATIV,
		PERIODICIDADE_ANUAL_MES		periodAnualMes_AGATIV,
		DATA_ATUALIZACAO			dataAtualizacao_AGATIV,
		getdate()					    dataEnvio_AGATIV,
		MVA_AGENDA.usuario
from DB_AG_ATIVIDADES, MVA_AGENDA
where MVA_AGENDA.codigo_AGE = CODIGO_AGENDAMENTO
