ALTER VIEW MVA_MARCASPRODUTO AS
SELECT MARCA.DB_TBMAR_CODIGO   CODIGO_MAPRO,
MARCA.DB_TBMAR_DESCR    DESCRICAO_MAPRO,
DB_TBMAR_AVAL_COTA	   avalCota_MAPRO,
DB_TBMAR_AVAL_EST	   avalEst_MAPRO,
USUARIO
FROM DB_USUARIO          USU,
DB_GRUPO_USUARIOS   GRUPO_USU,
DB_FILTRO_GRUPOUSU  FILTRO,
DB_TB_MARCA         MARCA
WHERE GRUPO_USU.CODIGO           = USU.GRUPO_USUARIO
AND FILTRO.CODIGO_GRUPO        = USU.GRUPO_USUARIO
AND FILTRO.ID_FILTRO           = 'MARCAPROD'
AND FILTRO.VALOR_STRING        = MARCA.DB_TBMAR_CODIGO
UNION
SELECT MARCA.DB_TBMAR_CODIGO   CODIGO_MAPRO,
MARCA.DB_TBMAR_DESCR   DESCRICAO_MAPRO,
DB_TBMAR_AVAL_COTA	   avalCota_MAPRO,
DB_TBMAR_AVAL_EST	   avalEst_MAPRO,
USUARIO
FROM DB_USUARIO          USU,
DB_GRUPO_USUARIOS   GRUPO_USU,
DB_TB_MARCA         MARCA
WHERE GRUPO_USU.CODIGO           = USU.GRUPO_USUARIO
AND NOT EXISTS ( SELECT 1 FROM DB_FILTRO_GRUPOUSU  FILTRO
WHERE FILTRO.CODIGO_GRUPO  = USU.GRUPO_USUARIO
AND FILTRO.ID_FILTRO    = 'MARCAPROD')
