---------------------------------------------------------------------------------------------------
-- VERSAO	DATA		AUTOR			ALTERACAO
-- 1.0001	15/10/2012	TIAGO PRADELLA	CRIACAO
-- 1.0002   23/07/2014  TIAGO           INCLUIDO CAMPO INICIO
---------------------------------------------------------------------------------------------------
ALTER VIEW MVA_ROTACLIENTES AS
with valida_rota as (SELECT ISNULL(DB_PRMS_VALOR, 0) VALOR FROM DB_PARAM_SISTEMA WHERE DB_PARAM_SISTEMA.DB_PRMS_ID = 'AGENDA_FORMATOVISROTA')
SELECT DB_ROTAL_CODIGO      ROTA_ROCLI,
       DB_ROTAL_CLIENTE     CLIENTE_ROCLI,
       DB_ROTAL_SEQ         ORDEM_ROCLI,
       DB_ROTAL_DIA         DIASEMANA_ROCLI,
       DB_ROTAL_FREQ        FREQUENCIA_ROCLI,
	   DB_ROTAL_INICIO      INICIO_ROCLI,
       USUARIO
  FROM DB_ROTAS_LINHAS,
       DB_USUARIO        USU
 WHERE DB_ROTAL_CODIGO IN (SELECT CODIGO_ROTA 
                             FROM MVA_ROTAS 
							WHERE USU.USUARIO = USUARIO)   
   AND DB_ROTAL_CLIENTE IN (SELECT CODIGO_CLIEN
                              FROM MVA_CLIENTE
							 WHERE USUARIO = USU.USUARIO)
   AND  ( (isnull((SELECT VALOR_NUM VALOR FROM DB_FILTRO_GRUPOUSU WHERE DB_FILTRO_GRUPOUSU.ID_FILTRO = 'FORMATOVISROTA' and DB_FILTRO_GRUPOUSU.CODIGO_GRUPO = usu.GRUPO_USUARIO), 0) = 0 and (select valor from valida_rota) = 0 )
    or isnull((SELECT VALOR_NUM VALOR FROM DB_FILTRO_GRUPOUSU WHERE DB_FILTRO_GRUPOUSU.ID_FILTRO = 'FORMATOVISROTA' and DB_FILTRO_GRUPOUSU.CODIGO_GRUPO = usu.GRUPO_USUARIO), 0) = 1)
