ALTER VIEW MVA_TIPOSPEDIDO AS
SELECT DB_TBTPE_CODIGO            CODIGO_TPPED,
DB_TBTPE_DESCR             DESCRICAO_TPPED,
TIPO_PED.DB_TBTPE_DEFAULT  PADRAO_TPPED,
TIPO_PED.DB_TBTPE_VDUPMIN  NAOVALIDADUPLICATAMINIMA_TPPED,
TIPO_PED.DB_TBTPE_OPERLOG  OPERACAOLOGISTICA_TPPED,
DB_TBTPE_HOSPITAL          HOSPITALAR_TPPED,
DB_TBTPE_LPRECOMIN         TABELAPRECOMINIMO_TPPED,
TIPO_PED.DB_TBTPE_TIPOOPER TIPOOPERACAO_TPPED,
DB_TBTPE_TPTALAO           TIPOTALAO_TPPED,
DB_TBTPE_DCTOSMAE          DESCONTOSPEDIDOMAE_TPPED,
DB_TBTPE_DEFWEB            PADRAOSISTEMA_TPPED,
DB_TBTPE_PRONTAENT         PRONTAENTREGA_TPPED,
DB_TBTPE_NEXPCORP          NAOEXPORTAERP_TPPED,
DB_TBTPE_BRINDE            BRINDE_TPPED,
DB_TBTPE_GERACARGA         geraCarga_TPPED,
DB_TBTPE_ALMOX             almoxarifado_TPPED,
DB_TBTPE_INFOBRA           infoObra_TPPED,
DB_TBTPE_NAOVALIDAESTOQUE  naoValidaEstoque_TPPED,
isnull(DB_TBTPE_VINCSOLICITACAO, 0)   vinculaSolicitacao_TPPED,
DB_TBTPE_VALEST			 validaEstoque_TPPED,
DB_TBTPE_VALPREV			 validaPrevisao_TPPED,
isnull(DB_TBTPE_DEPOSITO, '')			 deposito_TPPED,
isnull(DB_TBTPE_BLOQPED, 0) bloqueiaPedido_TPPED,
isnull(DB_TBTPE_NAOVALIDASALDOCC, 0) naoValidaSaldoCC_TPPED,
DB_TBTPE_VALIDAPRODDESC    validaProdDesc_TPPED,
DB_TBTPE_OBRIGACENTROCUS	 obrigaCentroCusto_TPPED,
DB_TBTPE_QTDEMBALERTA      qtdeEmbAlerta_TPPED,
DB_TBTPE_ITENSIGUAIS		 itensIguais_TPPED,
DB_TBTPE_FORAEMBAL		 foraEmbal_TPPED,
isnull(DB_TBTPE_EMP_ITEM_SPLIT, 0)    utilizaEmpresaItem_TPPED,
DB_TBTPE_VENDAINDIRETA	 vendaIndireta_TPPED,
USUARIO
FROM DB_USUARIO         USU,
DB_GRUPO_USUARIOS  GRUPO_USU,
DB_FILTRO_GRUPOUSU FILTRO,
DB_TB_TPPEDIDO     TIPO_PED
WHERE GRUPO_USU.CODIGO    = USU.GRUPO_USUARIO
AND FILTRO.CODIGO_GRUPO = USU.GRUPO_USUARIO
AND FILTRO.ID_FILTRO    = 'TIPOPED'
AND FILTRO.VALOR_STRING = TIPO_PED.DB_TBTPE_CODIGO
UNION
SELECT DB_TBTPE_CODIGO            CODIGO_TPPED,
DB_TBTPE_DESCR             DESCRICAO_TPPED,
TIPO_PED.DB_TBTPE_DEFAULT  PADRAO_TPPED,
TIPO_PED.DB_TBTPE_VDUPMIN  NAOVALIDADUPLICATAMINIMA_TPPED,
TIPO_PED.DB_TBTPE_OPERLOG  OPERACAOLOGISTICA_TPPED,
DB_TBTPE_HOSPITAL          HOSPITALAR_TPPED,
DB_TBTPE_LPRECOMIN         TABELAPRECOMINIMO_TPPED,
TIPO_PED.DB_TBTPE_TIPOOPER TIPOOPERACAO_TPPED,
DB_TBTPE_TPTALAO           TIPOTALAO_TPPED,
DB_TBTPE_DCTOSMAE          DESCONTOSPEDIDOMAE_TPPED,
DB_TBTPE_DEFWEB            PADRAOSISTEMA_TPPED,
DB_TBTPE_PRONTAENT         PRONTAENTREGA_TPPED,
DB_TBTPE_NEXPCORP          NAOEXPORTAERP_TPPED,
DB_TBTPE_BRINDE            BRINDE_TPPED,
DB_TBTPE_GERACARGA         geraCarga_TPPED,
DB_TBTPE_ALMOX             almoxarifado_TPPED,
DB_TBTPE_INFOBRA           infoObra_TPPED,
DB_TBTPE_NAOVALIDAESTOQUE  naoValidaEstoque_TPPED,
isnull(DB_TBTPE_VINCSOLICITACAO, 0)   vinculaSolicitacao_TPPED,
DB_TBTPE_VALEST			 validaEstoque_TPPED,
DB_TBTPE_VALPREV			 validaPrevisao_TPPED,
isnull(DB_TBTPE_DEPOSITO, '')			 deposito_TPPED,
isnull(DB_TBTPE_BLOQPED, 0) bloqueiaPedido_TPPED,
isnull(DB_TBTPE_NAOVALIDASALDOCC, 0) naoValidaSaldoCC_TPPED,
DB_TBTPE_VALIDAPRODDESC    validaProdDesc_TPPED,
DB_TBTPE_OBRIGACENTROCUS	 obrigaCentroCusto_TPPED,
DB_TBTPE_QTDEMBALERTA      qtdeEmbAlerta_TPPED,
DB_TBTPE_ITENSIGUAIS		 itensIguais_TPPED,
DB_TBTPE_FORAEMBAL		 foraEmbal_TPPED,
isnull(DB_TBTPE_EMP_ITEM_SPLIT, 0)    utilizaEmpresaItem_TPPED,
DB_TBTPE_VENDAINDIRETA	 vendaIndireta_TPPED,
USUARIO
FROM DB_USUARIO        USU,
DB_GRUPO_USUARIOS GRUPO_USU,
DB_TB_TPPEDIDO    TIPO_PED
WHERE GRUPO_USU.CODIGO = USU.GRUPO_USUARIO
AND NOT EXISTS (SELECT 1
FROM DB_FILTRO_GRUPOUSU FILTRO
WHERE FILTRO.CODIGO_GRUPO = USU.GRUPO_USUARIO
AND FILTRO.ID_FILTRO = 'TIPOPED')
