ALTER VIEW MVA_PARAMETROSENTRADACONSULTA AS
SELECT P.CONSULTA				CONSULTA_PARCO,
	   P.LOCAL					LOCAL_PARCO,
	   P.DADO					DADO_PARCO,
	   C.TITULO_COLCO			CONSULTACOLUNA_PARCO,
	   P.COLUNA					COLUNA_PARCO,
	   ISNULL(P.NOVO_CAMPO, 0)	NOVOCAMPO_PARCO,
	   ISNULL(OPERADOR, 0)	    OPERADOR_PARCO,
	   P.VARIAVEL				VARIAVEL_PARCO,
	   P.INCLUI_PARAMETRO		incluiParam_PARCO,
	   P.ATRIBUTO				atributo_PARCO,
	   C.USUARIO
  FROM DB_CONS_PARAMETROS  P,
	   MVA_COLUNASCONSULTA  C
 WHERE C.CONSULTA_COLCO = P.CONSULTA
   AND C.INDICE_COLCO = P.COLUNA
