ALTER VIEW MVA_CLIENTESCOMPLEMENTO AS
SELECT  DB_CLI_CODIGO			   CLIENTE_CLIENC,
DB_CLI_ULT_ALTER           ULTIMAALTERACAO_CLIENC,
DB_CLI_EFETIVADO           CLIENTEEFETIVADO_CLIENC,
COMP.DB_CLIC_SITE          WEBSITE_CLIENC,
DB_CLI_DATA_FUNDAC         DATAFUNDACAO_CLIENC,
DB_CLI_PRODUTOR            INSCRICAOPRODUTOR_CLIENC,
COMP.DB_CLIC_CODBARRA      CODIGOBARRAS_CLIENC,
DB_CLI_GRP_COMERC          GRUPOCOMERCIAL_CLIENC,
DB_CLI_IDADEEMP            IDADEEMPRESA_CLIENC,
DB_CLI_DT_CONTRATO         DATAULTIMAALTERCONTRATO_CLIENC,
DB_CLI_FAT_MENS            FATURAMENTOMENSAL_CLIENC,
DB_CLI_CAPITAL             CAPITALSOCIAL_CLIENC,
COMP.DB_CLIC_CONTAC        CONTACONTABIL_CLIENC,
COMP.DB_CLIC_BANCO         BANCO_CLIENC,
COMP.DB_CLIC_AGENCIA       AGENCIA_CLIENC,
COMP.DB_CLIC_CTACOR        CONTACORRENTE_CLIENC,
COMP.DB_CLIC_CTACORDG      DIGITOCONTACORRENTE_CLIENC,
DB_CLI_GARANTIAS           GARANTIAS_CLIENC,
DB_CLI_DATA_SITUAC		   DATASITUACAO_CLIENC,
DB_CLI_LIM_CREDS           LIMITECREDITOSUGERIDO_CLIENC,
DB_CLI_RELACIONA           RELACAOEMPRESA_CLIENC,
COMP.DB_CLIC_DD_CPGTO      DIASAMAIS_CLIENC,
DB_CLI_POLITICA            POLITICACREDITO_CLIENC,
COMP.DB_CLIC_DTLIM_INAD    DATANAOAVALIARINADIMP_CLIENC,
ISNULL(ltrim(rtrim(DB_CLI_PARECER1)), '') + ISNULL(ltrim(rtrim(comp.DB_CLIC_PARECER2)), '')     PARECER_CLIENC,
DB_CLI_GMARGEM             GRUPOMARGEMOBJETIVO_CLIENC,
COMP.DB_CLIC_OPCENT        OPCAOENTREGA_CLIENC,
COMP.DB_CLIC_MARKUP        MARKUP_CLIENC,
COMP.DB_CLIC_ORDCOMP       OBRIGATORIOORDEMCOMPRA_CLIENC,
COMP.DB_CLIC_ACFATSLD      ACEITASALDOPEDIDOS_CLIENC,
COMP.DB_CLIC_ACOPERLOG     ACEITAOPERACAOLOGISTICA_CLIENC,
COMP.DB_CLIC_GRPSUBST      GRUPOST_CLIENC,
DB_CLI_FONTE               STFONTE_CLIENC,
COMP.DB_CLIC_OBSNF         OBSERVACAONOTAFISCAL_CLIENC,
COMP.DB_CLIC_CODCLICOB     CODIGOCLIENTECOBRANCA_CLIENC,
COMP.DB_CLIC_COB_RAZAO     RAZAOSOCIALCOBRANCA_CLIENC,
DB_CLI_COB_CGCMF           CNPJCOBRANCA_CLIENC,
DB_CLI_COB_CGCTE           INSCRICAOESTADUALCOBR_CLIENC,
COMP.DB_CLIC_LOGRADCOB     LOGRADOUROCOBRANCA_CLIENC,
DB_CLI_COB_ENDER           ENDERECOCOBRANCA_CLIENC,
COMP.DB_CLIC_ENDNROCOB     NUMEROCOBRANCA_CLIENC,
DB_CLI_COB_CEP             CEPCOBRANCA_CLIENC,
DB_CLI_COB_BAIRRO          BAIRROCOBRANCA_CLIENC,
COMP.DB_CLIC_COB_ENCOMP    COMPLEMENTOCOBRANCA_CLIENC,
DB_CLI_COB_CXPO            CAIXAPOSTALCOBRANCA_CLIENC,
COMP.DB_CLIC_COB_PTOREF    REFERENCIACOBRANCA_CLIENC,
DB_CLI_COB_CIDADE          CIDADECOBRANCA_CLIENC,
DB_CLI_COB_ESTADO          ESTADOCOBRANCA_CLIENC,
COMP.DB_CLIC_COB_PAIS      PAISCOBRANCA_CLIENC,
DB_CLI_COB_FONE            TELEFONECOBRANCA_CLIENC,
COMP.DB_CLIC_COB_RAMAL     RAMALCOBRANCA_CLIENC,
COMP.DB_CLIC_COB_FAX       FAXCOBRANCA_CLIENC,
COMP.DB_CLIC_COBLAT        LATITUDECOBRANCA_CLIENC,
COMP.DB_CLIC_COBLON        LONGITUDECOBRANCA_CLIENC,
COMP.DB_CLIC_LOGRADOURO    LOGRADOURO_CLIENC,
COMP.DB_CLIC_ENDCOMPL      COMPLEMENTO_CLIENC,
DB_CLI_CX_POSTAL           CAIXAPOSTAL_CLIENC,
COMP.DB_CLIC_PONTOREFER    REFERENCIA_CLIENC,
DB_CLI_RAMAL               RAMAL_CLIENC,
DB_CLI_FAX				   FAX_CLIENC,
COMP.DB_CLIC_POLCOM        POLITICACOMERCIAL_CLIENC,
COMP.DB_CLIC_COBCELULAR    celularCobranca_CLIENC,
COMP.DB_CLIC_LIMITECREDADIC   limiteCreditoAdicional_CLIENC,
COMP.DB_CLIC_AUTOMSEGLIBCRED  automSegLiberaCred_CLIENC,
USU.USUARIO
FROM DB_CLIENTE
LEFT JOIN DB_CLIENTE_COMPL COMP ON (DB_CLIENTE.DB_CLI_CODIGO = COMP.DB_CLIC_COD)
LEFT JOIN DB_CLIENTE_CREDITO    ON (DB_CLIENTE.DB_CLI_CODIGO = DB_CLICR_CODIGO),
DB_USUARIO USU
WHERE  ( isnull((SELECT isnull(VALOR_NUM, 0) FROM DB_FILTRO_USUARIO WHERE CODIGO_USUARIO = USU.CODIGO   AND ID_FILTRO = 'CLIENTESUSUARIO'), 0) = 0
and  exists (SELECT 1
FROM DB_CLIENTE_REPRES, MVA_REPRESENTANTES R
WHERE DB_CLIR_CLIENTE = DB_CLI_CODIGO
AND DB_CLIR_REPRES = R.CODIGO_REPRES
AND USU.USUARIO = R.USUARIO))
AND (EXISTS (SELECT 1 FROM DB_FILTRO_GRUPOUSU
WHERE ID_FILTRO = 'UF'
AND CODIGO_GRUPO = USU.GRUPO_USUARIO
AND DB_CLI_ESTADO = VALOR_STRING) OR NOT EXISTS (SELECT 1 FROM DB_FILTRO_GRUPOUSU
WHERE ID_FILTRO = 'UF'
AND CODIGO_GRUPO = USU.GRUPO_USUARIO ))
union all
SELECT  DB_CLI_CODIGO			   CLIENTE_CLIENC,
DB_CLI_ULT_ALTER           ULTIMAALTERACAO_CLIENC,
DB_CLI_EFETIVADO           CLIENTEEFETIVADO_CLIENC,
COMP.DB_CLIC_SITE          WEBSITE_CLIENC,
DB_CLI_DATA_FUNDAC         DATAFUNDACAO_CLIENC,
DB_CLI_PRODUTOR            INSCRICAOPRODUTOR_CLIENC,
COMP.DB_CLIC_CODBARRA      CODIGOBARRAS_CLIENC,
DB_CLI_GRP_COMERC          GRUPOCOMERCIAL_CLIENC,
DB_CLI_IDADEEMP            IDADEEMPRESA_CLIENC,
DB_CLI_DT_CONTRATO         DATAULTIMAALTERCONTRATO_CLIENC,
DB_CLI_FAT_MENS            FATURAMENTOMENSAL_CLIENC,
DB_CLI_CAPITAL             CAPITALSOCIAL_CLIENC,
COMP.DB_CLIC_CONTAC        CONTACONTABIL_CLIENC,
COMP.DB_CLIC_BANCO         BANCO_CLIENC,
COMP.DB_CLIC_AGENCIA       AGENCIA_CLIENC,
COMP.DB_CLIC_CTACOR        CONTACORRENTE_CLIENC,
COMP.DB_CLIC_CTACORDG      DIGITOCONTACORRENTE_CLIENC,
DB_CLI_GARANTIAS           GARANTIAS_CLIENC,
DB_CLI_DATA_SITUAC		   DATASITUACAO_CLIENC,
DB_CLI_LIM_CREDS           LIMITECREDITOSUGERIDO_CLIENC,
DB_CLI_RELACIONA           RELACAOEMPRESA_CLIENC,
COMP.DB_CLIC_DD_CPGTO      DIASAMAIS_CLIENC,
DB_CLI_POLITICA            POLITICACREDITO_CLIENC,
COMP.DB_CLIC_DTLIM_INAD    DATANAOAVALIARINADIMP_CLIENC,
ISNULL(ltrim(rtrim(DB_CLI_PARECER1)), '') + ISNULL(ltrim(rtrim(comp.DB_CLIC_PARECER2)), '')     PARECER_CLIENC,
DB_CLI_GMARGEM             GRUPOMARGEMOBJETIVO_CLIENC,
COMP.DB_CLIC_OPCENT        OPCAOENTREGA_CLIENC,
COMP.DB_CLIC_MARKUP        MARKUP_CLIENC,
COMP.DB_CLIC_ORDCOMP       OBRIGATORIOORDEMCOMPRA_CLIENC,
COMP.DB_CLIC_ACFATSLD      ACEITASALDOPEDIDOS_CLIENC,
COMP.DB_CLIC_ACOPERLOG     ACEITAOPERACAOLOGISTICA_CLIENC,
COMP.DB_CLIC_GRPSUBST      GRUPOST_CLIENC,
DB_CLI_FONTE               STFONTE_CLIENC,
COMP.DB_CLIC_OBSNF         OBSERVACAONOTAFISCAL_CLIENC,
COMP.DB_CLIC_CODCLICOB     CODIGOCLIENTECOBRANCA_CLIENC,
COMP.DB_CLIC_COB_RAZAO     RAZAOSOCIALCOBRANCA_CLIENC,
DB_CLI_COB_CGCMF           CNPJCOBRANCA_CLIENC,
DB_CLI_COB_CGCTE           INSCRICAOESTADUALCOBR_CLIENC,
COMP.DB_CLIC_LOGRADCOB     LOGRADOUROCOBRANCA_CLIENC,
DB_CLI_COB_ENDER           ENDERECOCOBRANCA_CLIENC,
COMP.DB_CLIC_ENDNROCOB     NUMEROCOBRANCA_CLIENC,
DB_CLI_COB_CEP             CEPCOBRANCA_CLIENC,
DB_CLI_COB_BAIRRO          BAIRROCOBRANCA_CLIENC,
COMP.DB_CLIC_COB_ENCOMP    COMPLEMENTOCOBRANCA_CLIENC,
DB_CLI_COB_CXPO            CAIXAPOSTALCOBRANCA_CLIENC,
COMP.DB_CLIC_COB_PTOREF    REFERENCIACOBRANCA_CLIENC,
DB_CLI_COB_CIDADE          CIDADECOBRANCA_CLIENC,
DB_CLI_COB_ESTADO          ESTADOCOBRANCA_CLIENC,
COMP.DB_CLIC_COB_PAIS      PAISCOBRANCA_CLIENC,
DB_CLI_COB_FONE            TELEFONECOBRANCA_CLIENC,
COMP.DB_CLIC_COB_RAMAL     RAMALCOBRANCA_CLIENC,
COMP.DB_CLIC_COB_FAX       FAXCOBRANCA_CLIENC,
COMP.DB_CLIC_COBLAT        LATITUDECOBRANCA_CLIENC,
COMP.DB_CLIC_COBLON        LONGITUDECOBRANCA_CLIENC,
COMP.DB_CLIC_LOGRADOURO    LOGRADOURO_CLIENC,
COMP.DB_CLIC_ENDCOMPL      COMPLEMENTO_CLIENC,
DB_CLI_CX_POSTAL           CAIXAPOSTAL_CLIENC,
COMP.DB_CLIC_PONTOREFER    REFERENCIA_CLIENC,
DB_CLI_RAMAL               RAMAL_CLIENC,
DB_CLI_FAX				   FAX_CLIENC,
COMP.DB_CLIC_POLCOM        POLITICACOMERCIAL_CLIENC,
COMP.DB_CLIC_COBCELULAR    celularCobranca_CLIENC,
COMP.DB_CLIC_LIMITECREDADIC   limiteCreditoAdicional_CLIENC,
COMP.DB_CLIC_AUTOMSEGLIBCRED  automSegLiberaCred_CLIENC,
USU.USUARIO
FROM DB_CLIENTE
LEFT JOIN DB_CLIENTE_COMPL COMP ON (DB_CLIENTE.DB_CLI_CODIGO = COMP.DB_CLIC_COD)
LEFT JOIN DB_CLIENTE_CREDITO    ON (DB_CLIENTE.DB_CLI_CODIGO = DB_CLICR_CODIGO),
DB_USUARIO USU
WHERE (( isnull((SELECT isnull(VALOR_NUM, 0) FROM DB_FILTRO_USUARIO WHERE CODIGO_USUARIO = USU.CODIGO   AND ID_FILTRO = 'CLIENTESUSUARIO'), 0) = 1
and exists (select 1
from db_rotas, MVA_REPRESENTANTES r, db_rotas_linhas
where DB_ROTA_REPRES = r.CODIGO_REPRES
and db_rota_codigo = db_rotal_codigo
and DB_ROTAL_CLIENTE = db_cliente.DB_CLI_CODIGO
and usuario = USU.usuario)))
AND (EXISTS (SELECT 1 FROM DB_FILTRO_GRUPOUSU
WHERE ID_FILTRO = 'UF'
AND CODIGO_GRUPO = USU.GRUPO_USUARIO
AND DB_CLI_ESTADO = VALOR_STRING) OR NOT EXISTS (SELECT 1 FROM DB_FILTRO_GRUPOUSU
WHERE ID_FILTRO = 'UF'
AND CODIGO_GRUPO = USU.GRUPO_USUARIO ))
