ALTER VIEW MVA_CARACTERISTICAS AS
SELECT DISTINCT (DB_CARAC_CODIGO)	CODIGO_CARAC,
DB_CARAC_DESCRICAO	        DESCRICAO_CARAC,
DB_CARAC_IDIOMA	            IDIOMA_CARAC,
replace(replace(replace(replace(DB_CARAC_IMAGEM, '.png', '.PNGM'), '.jpg','.PNGM'), '\', '/'), '.mp4', '.MP4M')     IMAGEM_CARAC,
I.USUARIO,
i.dataalter
FROM DB_CARACTERISTICAS, MVA_ITENSCARACTERISTICAS I
WHERE I.CARACTERISTICA_ITCAR = DB_CARAC_CODIGO
