ALTER VIEW  MVA_PRODUTOS_SIMILARES AS
SELECT CODIGO            CODIGO_PRODSI,
DESCRICAO         DESCRICAO_PRODSI,
DATA_INICIAL      DATAINICIAL_PRODSI,
DATA_FINAL        DATAFINAL_PRODSI
FROM DB_PROD_SIMILARES
WHERE DATA_FINAL >= GETDATE()
