ALTER VIEW  MVA_PEDIDOSMAE AS
SELECT	 DB_PED_NRO           CODIGO_PEDMAE,
DB_PED_CLIENTE       CLIENTE_PEDMAE,
DB_PED_EMPRESA       EMPRESA_PEDMAE,
DB_PED_REPRES        REPRESENTANTE_PEDMAE,
DB_PED_OPERACAO      OPERACAOVENDA_PEDMAE,
DB_PED_COND_PGTO     CONDICAOPAGAMENTO_PEDMAE,
DB_PED_LISTA_PRECO   LISTAPRECO_PEDMAE,
DB_PEDC_DTCONTRI     VALIDADEINICIAL_PEDMAE,
DB_PEDC_DTCONTRF     VALIDADEFINAL_PEDMAE,
DB_PED_DESCTO        DESCONTOCABECALHO1_PEDMAE,
DB_PED_DESCTO2       DESCONTOCABECALHO2_PEDMAE,
DB_PED_DESCTO3       DESCONTOCABECALHO3_PEDMAE,
DB_PED_DESCTO4       DESCONTOCABECALHO4_PEDMAE,
DB_PED_DESCTO5       DESCONTOCABECALHO5_PEDMAE,
DB_PED_DESCTO6       DESCONTOCABECALHO6_PEDMAE,
DB_PED_DESCTO7       DESCONTOCABECALHO7_PEDMAE,
DB_PED_ACRESCIMO     ACRESCIMOCABECALHO_PEDMAE,
(SELECT DB_PEDI_DESCTOP
FROM DB_PEDIDO_PROD
WHERE DB_PEDI_PEDIDO = DB_PEDIDO.DB_PED_NRO
AND DB_PEDI_SEQUENCIA = 1)                DESCONTOITEM_PEDMAE,
(SELECT DB_PEDI_ACRESCIMO
FROM DB_PEDIDO_PROD
WHERE DB_PEDI_PEDIDO = DB_PEDIDO.DB_PED_NRO
AND DB_PEDI_SEQUENCIA = 1)     ACRESCIMOITEM_PEDMAE,
(SELECT ISNULL(DB_PEDI_QTDE_SOLIC, 0) - ISNULL(DB_PEDI_QTDE_CANC, 0)
FROM DB_PEDIDO_PROD
WHERE DB_PEDI_PEDIDO = DB_PEDIDO.DB_PED_NRO
AND DB_PEDI_SEQUENCIA = 1)       QUANTIDADE_PEDMAE,
(SELECT ISNULL(DB_PEDI_QTDE_SOLIC, 0) - ISNULL(DB_PEDI_QTDE_CANC, 0)
FROM DB_PEDIDO_PROD WHERE DB_PEDI_PEDIDO = DB_PEDIDO.DB_PED_NRO
AND DB_PEDI_SEQUENCIA = 1) -
(SELECT ISNULL(SUM(DB_PEDI_QTDE_SOLIC), 0) - ISNULL(SUM(DB_PEDI_QTDE_CANC), 0)
FROM DB_PEDIDO_PROD, DB_PEDIDO_VINCBON
WHERE DB_PEDV_PEDIDO = DB_PEDIDO.DB_PED_NRO
AND DB_PEDI_PEDIDO = DB_PEDV_PEDVINC)   SALDO_PEDMAE,
(SELECT ISNULL(DB_TBTPE_DCTOSMAE, 0)
FROM DB_TB_TPPEDIDO
WHERE DB_TBTPE_CODIGO = DB_PEDIDO.DB_PED_TIPO) INDICESCABECALHO_PEDMAE,
MVA_CLIENTE.USUARIO
FROM DB_PEDIDO, DB_PEDIDO_COMPL, MVA_CLIENTE, MVA_EMPRESAS
WHERE DB_PED_NRO = DB_PEDC_NRO
AND DB_PEDC_DTCONTRF >= CAST(GETDATE() AS DATE)
AND MVA_CLIENTE.CODIGO_CLIEN = DB_PED_CLIENTE
AND MVA_EMPRESAS.CODIGO_EMPRE = DB_PED_EMPRESA
AND MVA_CLIENTE.USUARIO = MVA_EMPRESAS.USUARIO
