ALTER VIEW MVA_CATALOGOSVISOES AS
SELECT DB_CATVIS_CATALOGO	   CATALOGO_VISA,
DB_CATVIS_NOME	       NOME_VISA,
DB_CATVIS_COLORIGEM	   COLUNAORIGEM_VISA,
DB_CATVIS_TIPO	       TIPO_VISA,
DB_CATVIS_ORDEM	       ORDEM_VISA,
DB_CATVIS_DESCRICAO     DESCRICAO_VISA,
DB_CATVIS_COLORIGSUBVIS COLUNAORIGEMSUBVISAO_VISA,
C.USUARIO,
C.DATAALTER
FROM DB_CATALOGO_VISAO, MVA_CATALOGOS C
WHERE C.CODIGO_CAT = DB_CATVIS_CATALOGO
