ALTER VIEW  MVA_GRUPOMSG AS
---------------------------------------------------------------------------------------------------
-- VERSAO	DATA		AUTOR			ALTERACAO
-- 1.0000	04/04/2013	TIAGO PRADELLA	CRIACAO
---------------------------------------------------------------------------------------------------
SELECT DB_USUARIO.USUARIO	    USUARIO_USMSG,
	   DB_USUARIO.NOME		    NOME_USMSG,
	   DB_GRUPO_MENSAGEM.NOME	NOMEGRUPO_USMSG,	  
	   USU.USUARIO
  FROM DB_GRUPO_MENSAGEM, DB_USUARIO, DB_GRUPOMSG_MEMBROS B, DB_USUARIO USU
 WHERE B.CODIGO_USUARIO <> 0
   AND B.CODIGO_USUARIO = DB_USUARIO.CODIGO
   AND B.CODIGO_GRUPO_MENSAGEM = DB_GRUPO_MENSAGEM.CODIGO
   AND DB_GRUPO_MENSAGEM.CODIGO IN (SELECT CODIGO_GRUPO_MENSAGEM FROM DB_GRUPOMSG_MEMBROS
									  WHERE USU.CODIGO = CODIGO_USUARIO
									    AND TIPO = 0)
UNION ALL
SELECT DB_USUARIO.USUARIO	    USUARIO_USMSG,
	   DB_USUARIO.NOME		    NOME_USMSG,
	   DB_GRUPO_MENSAGEM.NOME	NOMEGRUPO_USMSG,	  
	   USU.USUARIO
  FROM DB_GRUPO_MENSAGEM, DB_USUARIO, DB_GRUPOMSG_MEMBROS B, DB_USUARIO USU, DB_GRUPOMSG_MEMBROS C
 WHERE B.CODIGO_GRUPO_MSG_PERM <> 0
   AND C.CODIGO_USUARIO = DB_USUARIO.CODIGO
   AND C.CODIGO_GRUPO_MENSAGEM = DB_GRUPO_MENSAGEM.CODIGO
   AND B.CODIGO_GRUPO_MSG_PERM = C.CODIGO_GRUPO_MENSAGEM
   AND B.CODIGO_GRUPO_MENSAGEM IN (SELECT CODIGO_GRUPO_MENSAGEM FROM DB_GRUPOMSG_MEMBROS
									  WHERE USU.CODIGO = CODIGO_USUARIO
									    AND TIPO = 0)
