ALTER VIEW MVA_OBRAS AS
select codigo					codigo_OBRA,
nome_obra				nome_OBRA,
cliente					cliente_OBRA,
codigo_Cliente_Final		codigoClienteFinal_OBRA,
nome_Cliente_Final		nomeClienteFinal_OBRA,
endereco_obra			endereco_OBRA,
bairro_obra				bairro_OBRA,
cidade_obra				cidade_OBRA,
uf_obra					uf_OBRA,
id_CRM					idCRM_OBRA,
situacao					situacao_OBRA,
regional					regional_OBRA,
consultor			    consultor_OBRA,
data_criacao			    dataCriacao_OBRA,
isnull(data_alteracao, getdate())			dataalter,
ENDERECO_CLIENTE_FINAL	enderecoClienteFinal_OBRA,
TELEFONE_CLIENTE_FINAL	telefoneClienteFinal_OBRA,
EMAIL_CLIENTE_FINAL		emailClienteFinal_OBRA,
CONTATO_CLIENTE_FINAL	contatoClienteFinal_OBRA,
NUMERO_ENDERECO			numeroEndereco_OBRA,
DATA_CRIACAOOP			dataCriacaoOP_OBRA,
OPORTUNIDADE				oportunidade_OBRA
from DB_OBRAS
where SITUACAO = 1
