ALTER VIEW MVA_LAJE_PROD_MEDIDA AS
SELECT CODIGO			codigo_LPMED,
	   PRODUTO_VIGA		produtoViga_LPMED,
	   CARGA			carga_LPMED,
	   TAMANHO_INICIAL	tamanhoInicial_LPMED,
	   TAMANHO_FINAL	tamanhoFinal_LPMED,
	   SEQUENCIA		sequencia_LPMED
  FROM DB_LAJE_PROD_MEDIDA
