ALTER VIEW  MVA_VALIDADESPEDIDO AS
SELECT DB_PEDV_ID      ID_VALPED,
DB_PEDV_VIGINI  VIGENCIAINICIAL_VALPED,
DB_PEDV_VIGFIM  VIGENCIAFINAL_VALPED,
DB_PEDV_VALINI  VALIDADEINICIAL_VALPED,
DB_PEDV_VALFIM  VALIDADEFINAL_VALPED
FROM DB_PEDIDO_VAL
where DB_PEDV_VIGFIM >= cast(getdate() as date)
