ALTER VIEW MVA_VALORESFRETESPORPESO AS
SELECT DB_FP_ID             ID_VFRET,
DB_FP_EMPRORIG       EMPRESA_VFRET,
DB_FP_CIDADEDEST     CIDADEDESTINO_VFRET,
DB_FP_UFDEST         UFDESTINO_VFRET,
DB_FP_FXINI          FAIXAPESOINICIAL_VFRET,
DB_FP_FXFIM          FAIXAPESOFINAL_VFRET,
DB_FP_VALORTN        VALORTONELADA_VFRET,
DB_FP_VALORMIN       VALORMINIMO_VFRET,
DB_FP_BASE           VALORBASE_VFRET,
DB_FP_VALORDESCARGA  VALORDESCARGA_VFRET,
DB_FP_TIPOPEDIDO     tipoPedido_VFRET,
db_data_alteracao    dataalter
FROM DB_FRETE_PESO
