---------------------------------------------------------------------------------------------------
-- VERSAO	DATA		AUTOR			ALTERACAO
-- 1.0001	15/10/2012	TIAGO PRADELLA	CRIACAO
-- 1.0002   22/01/2013  TIAGO PRADELLA  INCLUIDO CAMPO NUMERO ITENS
-- 1.0003   04/09/2013  TIAGO           INCLUIDO NOVOS CAMPOS
-- 1.0004   12/01/2015  tiago           incluido campo DB_TBMV_VLRMIN
-- 1.0005   08/10/2015  tiago           incluido campo livre
---------------------------------------------------------------------------------------------------
ALTER VIEW MVA_MIXESVENDA AS
SELECT DB_TBMV_CODIGO     CODIGO_MIX,
       DB_TBMV_QTDEMIN    QUANTIDADEMINIMA_MIX,
       DB_TBMV_QTDEMAX    QUANTIDADEMAXIMA_MIX,
	   DB_TBMV_NROITENS   NUMEROITENS_MIX ,
	   DB_TBMV_DTVI	      DATAVALIDADEINICIAL_MIX,
	   DB_TBMV_DTVF	      DATAVALIDADEFINAL_MIX,
	   DB_TBMV_OPERS	  OPERACAO,
	   DB_TBMV_EMPRESAS	  EMPRESA,
	   DB_TBMV_ESTADOS	  ESTADO,
	   DB_TBMV_REPRES	  REPRESENTANTE,
	   DB_TBMV_LPRECO	  LISTAPRECO,
	   DB_TBMV_RAMO	      RAMOATIVIDADE,
	   DB_TBMV_RAMOII	  RAMOATIVIDADEII,
	   DB_TBMV_CLASCOM	  CLASSIFICACAOCOMERCIAL,
	   DB_TBMV_CLIENTES	  CLIENTE,
	   DB_TBMV_CONDPGTO	  CONDICAOPAGAMENTO,
	   DB_TBMV_REGIAOCOM  REGIAOCOMERCIAL,
	   DB_TBMV_PESO       PESO_MIX,
	   DB_TBMV_VLRMIN     VALORMINIMO_MIX,
	   DB_TBMV_LIVRE      LIVRE_MIX
  FROM DB_TB_MIX_VENDA
 WHERE DB_TBMV_DTVF > GETDATE()
