ALTER VIEW MVA_REGRAFRETEESTIMADO AS
SELECT RFE.CODIGO    		  	codigo_FEST,
	   RFE.DATA_INICIAL       	dataInicial_FEST,
	   RFE.DATA_FINAL         	dataFinal_FEST,
	   RFE.FILTRATOTALPED	  	filtraTotalPed_FEST,
	   RFE.TOTALPED			  	totalPed_FEST,
	   USU.USUARIO
  FROM DB_REGRAFRETE_ESTIMADO   RFE,
	   DB_USUARIO    			USU
 WHERE RFE.DATA_INICIAL <= GETDATE()
   AND RFE.DATA_FINAL >= GETDATE()
