ALTER VIEW  MVA_PRODUTOSQTDEPALETCLI AS
SELECT p.PRODUTO				PRODUTO_PALETCLI
, p.CLIENTE				CLIENTE_PALETCLI
, p.EMPRESA				EMPRESA_PALETCLI
, p.QUANTIDADE_NO_PALET	QUANTIDADENOPALET_PALETCLI
, DB_PRODUTO_USUARIO.USUARIO
FROM DB_PRODUTO_QTDEPALET_CLI p
, DB_PRODUTO_USUARIO
WHERE p.PRODUTO = DB_PRODUTO_USUARIO.PRODUTO
