---------------------------------------------------------------------------------------------------
-- VERSAO	DATA		AUTOR			ALTERACAO
-- 1.0001	08/09/2016	TIAGO PRADELLA	CRIACAO
---------------------------------------------------------------------------------------------------
ALTER VIEW MVA_PEDIDOS_MOT_INVESTIMENTO AS
 SELECT PEDIDO						PEDIDO_PMOINV,
		ITEM						ITEM_PMOINV,
		SEQUENCIA					SEQUENCIA_PMOINV,
		QUANTIDADE					QUANTIDADE_PMOINV,
		APLICACAO					APLICACAO_PMOINV,
		INDICE_DESCONTO				INDICEDESCONTO_PMOINV,
		CODIGO_POLITICA				CODIGOPOLITICA_PMOINV,
		TIPO_POLITICA				TIPOPOLITICA_PMOINV,
		ID_POLITICA					IDPOLITICA_PMOINV,
		REGRA_POLITICA				REGRAPOLITICA_PMOINV,
		VALOR						VALOR_PMOINV,
		MOTIVO_INVESTIMENTO			MOTIVOINVESTIMENTO_PMOINV,
		SOLICITACAO_INVESTIMENTO	SOLICITACAOINVESTIMENTO_PMOINV,
		OBSERVACAO					OBSERVACAO_PMOINV,
		TIPO_DESCONTO				TIPODESCONTO_PMOINV,
		MVA_PEDIDOS.USUARIO,
		MVA_PEDIDOS.dataalter
   FROM DB_PEDIDO_MOTIVO_INVESTIMENTO, MVA_PEDIDOS
  WHERE MVA_PEDIDOS.CODIGO_PEDID = PEDIDO
