ALTER VIEW MVA_PRODUTOSLOTE AS
SELECT LOTE				lote_PRLOTE,
PRODUTO				produto_PRLOTE,
VALIDADE_INICIAL	validadeInicial_PRLOTE,
VALIDADE_FINAL		validadeFinal_PRLOTE,
USUARIO
FROM DB_PRODUTO_LOTE,
MVA_PRODUTOS
WHERE CODIGO_PRODU = PRODUTO
