ALTER VIEW MVA_AGENDA_CONFIG AS
select CODIGO							codigo_AGCONFIG,
DESCRICAO						descricao_AGCONFIG,
NUMERO_TOTAL					numeroTotal_AGCONFIG,
RESTRICAO_NRO_TOTAL				restricaoNroTotal_AGCONFIG,
TEMPO_MEDIO						tempoMedio_AGCONFIG,
INTERVALO						intervalo_AGCONFIG,
PERIODO_TRABALHO				periodoTrabalho_AGCONFIG,
PESQUISA_INFO_CLIENTE			pesquisaInfoCliente_AGCONFIG,
COLUNA_INFO_CLIENTE				colunaInfoCliente_AGCONFIG,
COR_DOM							corDom_AGCONFIG,
COR_SEG							corSEG_AGCONFIG,
COR_TER							corTer_AGCONFIG,
COR_QUA							corQua_AGCONFIG,
COR_QUI							corQui_AGCONFIG,
COR_SEX							corSex_AGCONFIG,
COR_SAB							corSab_AGCONFIG,
PERMITE_ALTERAR_ORDEM			permiteAlterarOrd_AGCONFIG,
PERMITE_EXCLUIR_ATIVIDADES		permiteExcluirOrd_AGCONFIG,
PERMITE_ALTERAR_HORARIOS		permiteAlterarHor_AGCONFIG,
PERMITE_ATIVIDADES_REPETIDAS	permiteAtiviRepetidas_AGCONFIG,
PERMITE_INCLUIR_NOVAS_ATIVID	permiteIncNovaAtiv_AGCONFIG,
PESQUISA_INCLUIR_ATIVIDADES		pesquisaIncluirAtiv_AGCONFIG,
COLUNA_INCLUIR_ATIVIDADES		colunaIncluirAtiv_AGCONFIG,
COLUNA2_INFO_CLIENTE			coluna2InfoCliente_AGCONFIG,
COLUNA3_INFO_CLIENTE			coluna3InfoCliente_AGCONFIG,
PERMITE_ALTERAR_ATIV_PASSADAS   permAlterAtivPassada_AGCONFIG,
PESQUISA_PADRAO					pesquisaPadrao_AGCONFIG,
VALIDA_DIAS_NUTEIS				validaDiasNUteis_AGCONFIG
from DB_AG_CONFIG
