ALTER VIEW MVA_CONSULTA_CONFIG_GRAFICO AS
SELECT DB_CONS_GRAFICO_CONFIG.CONSULTA			CONSULTA_COGRA,
EXIBE_LABEL			EXIBELABEL_COGRA,
POSICAO_LABEL		POSICAOLABEL_COGRA,
LEGENDA_HORIZONTAL	LEGENDAHORIZONTAL_COGRA,
LEGENDA_VERTICAL	LEGENDAVERTICAL_COGRA,
LABEL_PERCENTUAL	LABELPERCENTUAL_COGRA,
COLUNA_VALOR	    colunaValor_COGRA,
COLUNA_VALOR_MINIMO	valorMinimo_COGRA,
COLUNA_VALOR_MAXIMO	valorMaximo_COGRA,
QTDE_MARC_MAIORES	qtdeMarcMaiores_COGRA,
LABEL_MARC_MAIORES	labelMarcMaiores_COGRA,
QTDE_MARC_MENORES	qtdeMarcMenores_COGRA,
MVA_CONSULTAS.USUARIO
FROM DB_CONS_GRAFICO_CONFIG, MVA_CONSULTAS, DB_CONS_GRAFICO
WHERE MVA_CONSULTAS.CODIGO_CONSU = DB_CONS_GRAFICO_CONFIG.CONSULTA
and DB_CONS_GRAFICO_CONFIG.CONSULTA = DB_CONS_GRAFICO.CONSULTA
