ALTER VIEW MVA_LISTAPRECOATRIBUTOSCP AS
 SELECT CODIGO_LISTA			codigoLista_LPATCP,
		ATRIBUTO		 		atributo_LPATCP,
		VALOR_CONTEUDO_ATRIB	valorContAtrib_LPATCP,
		VALOR 					valor_LPATCP,
	    ISNULL(DATA_ALTERACAO, GETDATE()) dataalter,
		LISTAPRECO.USUARIO		usuario
   FROM DB_PRECO_ATRIB_CP		PRECOATRIBCP,
		MVA_LISTAPRECO			LISTAPRECO
  WHERE PRECOATRIBCP.CODIGO_LISTA = LISTAPRECO.CODIGO_LIPRE
