ALTER VIEW MVA_ETAPAS AS
select	CODIGO_FLUXO		fluxo_ETA,
CODIGO_ETAPA		etapa_ETA,
NOME				nome_ETA,
FORMATO_ATIVIDADES	formatoAtividades_ETA,
ETAPA_INICIAL 		etapaInicial_ETA,
ETAPA_FINAL		    etapaFinal_ETA,
(SELECT	COALESCE(
(SELECT CAST(DB_FLU_TRANSICOES.CODIGO_TRANSICAO AS VARCHAR) + ';' + cast(DB_FLU_TRANSICOES.EXECUCAO as varchar) + ';' + DB_FLU_TRANSICOES.NOME + '|'AS [text()]
FROM DB_FLUXOS, DB_FLU_TRANSICOES
where DB_FLUXOS.TELA = MVA_TELAS.TELA_TELA
AND DB_FLUXOS.TIPO = MVA_TELAS.TIPO_TELA
and DB_FLU_TRANSICOES.CODIGO_FLUXO = DB_FLUXOS.FLUXO
and DB_FLU_TRANSICOES.ETAPA_ORIGEM = DB_FLU_ETAPAS.CODIGO_ETAPA
FOR XML PATH(''), TYPE).value('.[1]', 'VARCHAR(MAX)'), '') ) AS transicoes_ETA,
NUMERO_MINIMO_PRODOC  numeroMinProdOC_ETA,
NUMERO_MINIMO_ITEMOC  numeroMinItOC_ETA,
MVA_TELAS.usuario
from DB_FLU_ETAPAS
, MVA_TELAS
where DB_FLU_ETAPAS. CODIGO_FLUXO = MVA_TELAS.fluxo_TELA
