ALTER VIEW MVA_FORCAVENDAS  AS
select RF3_UNIDADE_FV	codigo_FVENDA,
       RF3_NOME			nome_FVENDA,
	   MVA_REPRESENTANTES.USUARIO
  from MRF3, 
       MVA_REPRESENTANTES
 where RF3_UNIDADE_FV = forcavendas_REPRES
