ALTER VIEW MVA_SELOS AS
SELECT DB_SELO_CODIGO	   CODIGO_SELO,
DB_SELO_DESCRICAO   DESCRICAO_SELO,
DB_SELO_IDIOMA	   IDIOMA_SELO,
replace(replace(replace(replace(DB_SELO_IMAGEM, '.png', '.PNGM'), '.jpg','.PNGM'), '\', '/'), '.mp4', '.MP4M') IMAGEM_SELO,
I.USUARIO,
I.DATAALTER
FROM DB_SELOS, MVA_ITENSCATALOGO I
WHERE I.SELO_ITCAT  = DB_SELO_CODIGO
