ALTER VIEW MVA_AJUDACATTRADUCAO AS
SELECT
DB_AJUT_CODIGO	     CODIGO_AJUTRA,
DB_AJUT_SEQUENCIA	 SEQUENCIA_AJUTRA,
DB_AJUT_CHAVE	     CHAVE_AJUTRA,
DB_AJUT_IDIOMA	     IDIOMA_AJUTRA,
replace(replace(replace(replace(DB_AJUT_TRADUCAO, '.png', '.PNGM'), '.jpg','.PNGM'), '\', '/'), '.mp4', '.MP4M') TRADUCAO_AJUTRA,
A.USUARIO,
a.dataalter
FROM DB_AJUDA_TRADUCAO, MVA_AJUDACATALOGO A
WHERE A.CODIGO_AJUD =  DB_AJUT_CODIGO
AND A.SEQUENCIA_AJUD = DB_AJUT_SEQUENCIA
