ALTER VIEW MVA_DOC_CATEGORIA AS
SELECT CATEGORIA			categoria_DOCCAT,
NOME				nome_DOCCAT,
DESCRICAO			descricao_DOCCAT,
ORDEM				ordem_DOCCAT,
DATA_ALTERACAO		dataAlteracao_DOCCAT,
DATA_ALTERACAO		dataalter
FROM DB_DOC_CATEGORIA
WHERE SITUACAO = 1
AND EXCLUIDO = 0
