ALTER VIEW MVA_TRANSPORTADORES AS
SELECT TRANSP.DB_TBTRA_COD   CODIGO_TRANS,
TRANSP.DB_TBTRA_NOME  DESCRICAO_TRANS,
COALESCE((SELECT 1
FROM DB_USUARIO USU2
WHERE USU2.USUARIO = USU.USUARIO
AND (NOT EXISTS(SELECT 1
FROM DB_FILTRO_GRUPOUSU FILTRO
WHERE FILTRO.CODIGO_GRUPO = USU2.GRUPO_USUARIO
AND UPPER(FILTRO.ID_FILTRO) = 'TRANSPORTADORA')
OR EXISTS(SELECT 1
FROM DB_FILTRO_GRUPOUSU FILTRO
WHERE FILTRO.CODIGO_GRUPO = USU2.GRUPO_USUARIO
AND FILTRO.ID_FILTRO = 'TRANSPORTADORA'
AND FILTRO.VALOR_NUM = TRANSP.DB_TBTRA_COD))), 0) PERMITETRANSPORTADOR_TRANS,
COALESCE((SELECT 1
FROM DB_USUARIO USU2
WHERE USU2.USUARIO = USU.USUARIO
AND (NOT EXISTS(SELECT 1
FROM DB_FILTRO_GRUPOUSU FILTRO
WHERE FILTRO.CODIGO_GRUPO = USU2.GRUPO_USUARIO
AND FILTRO.ID_FILTRO = 'REDESPACHO')
OR EXISTS(SELECT 1
FROM DB_FILTRO_GRUPOUSU FILTRO
WHERE FILTRO.CODIGO_GRUPO = USU2.GRUPO_USUARIO
AND FILTRO.ID_FILTRO = 'REDESPACHO'
AND FILTRO.VALOR_NUM = TRANSP.DB_TBTRA_COD))), 0) PERMITEREDESPACHO_TRANS,
DB_TBTRA_COGNOME      NOMEFANTASIA_TRANS,
DB_TBTRA_CGCMF        CNPJ_TRANS,
DB_TBTRA_CGCTE        INSCRICAOESTADUAL_TRANS,
DB_TBTRA_ENDERECO     ENDERECO_TRANS,
DB_TBTRA_BAIRRO       BAIRRO_TRANS,
DB_TBTRA_CEP          CEP_TRANS,
DB_TBTRA_CIDADE       CIDADE_TRANS,
DB_TBTRA_ESTADO       UF_TRANS,
DB_TBTRA_TELEFONE     TELEFONE_TRANS,
DB_TBTRA_AUTONOMO	 autonomo_TRANS,
USU.USUARIO USUARIO
FROM DB_USUARIO         USU,
DB_TB_TRANSP       TRANSP,
DB_GRUPO_USUARIOS  GRUPO_USU
WHERE TRANSP.DB_TBTRA_ATIVO = 1
and GRUPO_USU.CODIGO = USU.GRUPO_USUARIO
AND NOT EXISTS (SELECT 1
FROM DB_FILTRO_GRUPOUSU FILTRO
WHERE FILTRO.CODIGO_GRUPO = USU.GRUPO_USUARIO
AND (FILTRO.ID_FILTRO = 'TRANSPORTADORA' or FILTRO.ID_FILTRO = 'REDESPACHO' ) )
union
SELECT TRANSP.DB_TBTRA_COD   CODIGO_TRANS,
TRANSP.DB_TBTRA_NOME  DESCRICAO_TRANS,
COALESCE((SELECT 1
FROM DB_USUARIO USU2
WHERE USU2.USUARIO = USU.USUARIO
AND (NOT EXISTS(SELECT 1
FROM DB_FILTRO_GRUPOUSU FILTRO
WHERE FILTRO.CODIGO_GRUPO = USU2.GRUPO_USUARIO
AND FILTRO.ID_FILTRO = 'TRANSPORTADORA')
OR EXISTS(SELECT 1
FROM DB_FILTRO_GRUPOUSU FILTRO
WHERE FILTRO.CODIGO_GRUPO = USU2.GRUPO_USUARIO
AND FILTRO.ID_FILTRO = 'TRANSPORTADORA'
AND FILTRO.VALOR_NUM = TRANSP.DB_TBTRA_COD))), 0) PERMITETRANSPORTADOR_TRANS,
COALESCE((SELECT 1
FROM DB_USUARIO USU2
WHERE USU2.USUARIO = USU.USUARIO
AND (NOT EXISTS(SELECT 1
FROM DB_FILTRO_GRUPOUSU FILTRO
WHERE FILTRO.CODIGO_GRUPO = USU2.GRUPO_USUARIO
AND FILTRO.ID_FILTRO = 'REDESPACHO')
OR EXISTS(SELECT 1
FROM DB_FILTRO_GRUPOUSU FILTRO
WHERE FILTRO.CODIGO_GRUPO = USU2.GRUPO_USUARIO
AND FILTRO.ID_FILTRO = 'REDESPACHO'
AND FILTRO.VALOR_NUM = TRANSP.DB_TBTRA_COD))), 0) PERMITEREDESPACHO_TRANS,
DB_TBTRA_COGNOME      NOMEFANTASIA_TRANS,
DB_TBTRA_CGCMF        CNPJ_TRANS,
DB_TBTRA_CGCTE        INSCRICAOESTADUAL_TRANS,
DB_TBTRA_ENDERECO     ENDERECO_TRANS,
DB_TBTRA_BAIRRO       BAIRRO_TRANS,
DB_TBTRA_CEP          CEP_TRANS,
DB_TBTRA_CIDADE       CIDADE_TRANS,
DB_TBTRA_ESTADO       UF_TRANS,
DB_TBTRA_TELEFONE     TELEFONE_TRANS,
DB_TBTRA_AUTONOMO	 autonomo_TRANS,
USU.USUARIO USUARIO
FROM DB_USUARIO         USU,
DB_TB_TRANSP       TRANSP,
DB_GRUPO_USUARIOS  GRUPO_USU,
DB_FILTRO_GRUPOUSU FILTRO
WHERE TRANSP.DB_TBTRA_ATIVO = 1
and GRUPO_USU.CODIGO = USU.GRUPO_USUARIO
AND FILTRO.CODIGO_GRUPO = USU.GRUPO_USUARIO
AND (FILTRO.ID_FILTRO = 'TRANSPORTADORA' or FILTRO.ID_FILTRO = 'REDESPACHO' )
and filtro.valor_num = TRANSP.DB_TBTRA_COD
