ALTER VIEW MVA_ATRIBCPCONTEUDOVINC AS
SELECT ATRIBUTO								atributo_ACPCVINC,
       CONTEUDO_ATRIB						conteudoAtrib_ACPCVINC,
	   ATRIBUTO_VINCULADO					atributoVinc_ACPCVINC,
	   CONTEUDO_ATRIB_VINCULADO				conteudoAtribVinc_ACPCVINC,
	   ISNULL(DATA_ALTERACAO, GETDATE())	dataalter
  FROM DB_ATRIB_CP_CONTEUDO_VINC,
	   MVA_ATRIBCPCONTEUDO					mva_conteudo
 WHERE ATRIBUTO = mva_conteudo.atributo_ACPCONT
   AND CONTEUDO_ATRIB = mva_conteudo.conteudoAtrib_ACPCONT
