ALTER VIEW MVA_ATRIBCPATRIBUTOVINC AS
SELECT ATRIBUTO								atributo_ACPVINC,
       ATRIBUTO_VINCULADO					atributoVinc_ACPVINC,
	   ISNULL(DATA_ALTERACAO, GETDATE())	dataalter
  FROM DB_ATRIB_CP_ATRIBUTO_VINC
