ALTER VIEW MVA_CAMPOSLISTACLIENTE AS
SELECT CAMPLISTCLI.GRUPO_USUARIO	grupoUsuario_CLIST,
CAMPLISTCLI.TIPO_ABA		tipoAba_CLIST,
CAMPLISTCLI.AREA			area_CLIST,
CAMPLISTCLI.CAMPO			campo_CLIST,
CAMPLISTCLI.ORDEM			ordem_CLIST,
CAMPLISTCLI.DESTAQUE		destaque_CLIST,
USU.USUARIO
FROM DB_MOB_CAMPOSLISTAGEM CAMPLISTCLI,
DB_USUARIO USU
WHERE CAMPLISTCLI.GRUPO_USUARIO = USU.GRUPO_USUARIO
