ALTER VIEW MVA_PEDIDOSITCORP AS
 select DB_TBPSC_CODIGO		codigo_SITCORP,
		DB_TBPSC_DESCR		descricao_SITCORP,
		DB_TBPSC_Todos		todos_SITCORP,
		DB_TBPSC_CANCELA	cancela_SITCORP,
		DB_TBPSC_IMPRIME	imprime_SITCORP
   from DB_TB_PED_SITCORP
