---------------------------------------------------------------------------------------------------
-- VERSAO	DATA		AUTOR			ALTERACAO
-- 1.0001	08/01/2015	TIAGO PRADELLA	CRIACAO
---------------------------------------------------------------------------------------------------
ALTER VIEW MVA_ITENSNOTASIMPLIFICADO AS	
 SELECT DB_NOTAP_NRO         NUMERO_INTSIMP,
		DB_NOTAP_SERIE       SERIE_INTSIMP,
		DB_NOTAP_EMPRESA     EMPRESA_INTSIMP,
		DB_NOTAP_SEQ         SEQUENCIA_INTSIMP,
		DB_NOTAP_PRODUTO     CODIGOPRODUTO_INTSIMP,
		DB_PROD_DESCRICAO    DESCRICAOPRODUTO_INTSIMP,
		DB_PROD_QTDE_EMB     QUANTIDADEEMBPRODUTO_INTSIMP,
		DB_NOTAP_QTDE        QUANTIDADE_INTSIMP,
		DB_NOTAP_VALOR - case when (select top 1 DB_PRM_NOTA_VLRSUB from DB_PARAMETRO1) = 1 then DB_NOTAP_VLR_SUBST else 0 end - case when (select top 1 DB_PRM_FAT_IPI from DB_PARAMETRO) = 1 then DB_NOTAP_VLR_IPI else 0 end   VALOR_INTSIMP,
        DB_PROD_UNID_MEDID   UNIDADEMEDIDA_INTSIMP,
		USU.USUARIO
   FROM DB_NOTA_PROD,
        DB_PRODUTO,
		DB_USUARIO USU
  WHERE DB_PROD_CODIGO = DB_NOTAP_PRODUTO
    AND EXISTS (SELECT 1
	              FROM MVA_NOTASFISCAISSIMPLIFICADO
				 WHERE NUMERO_NTSIMP = DB_NOTAP_NRO
				   AND SERIE_NTSIMP = DB_NOTAP_SERIE
				   AND EMPRESA_NTSIMP = DB_NOTAP_EMPRESA
				   AND MVA_NOTASFISCAISSIMPLIFICADO.USUARIO = USU.USUARIO)
