ALTER VIEW MVA_VARIAVEISIMAGENS  AS
SELECT VAR_IMG.VARIAVEL			variavel_VARIMG,
VAR_IMG.SEQUENCIA		sequencia_VARIMG,
VAR_IMG.VALOR			valor_VARIMG,
VAR_IMG.LEGENDA			legenda_VARIMG,
USU.USUARIO
FROM DB_VARIAVEIS_IMAGENS VAR_IMG,
MVA_VARIAVEIS MVA_VAR,
DB_USUARIO USU
WHERE VAR_IMG.VARIAVEL = MVA_VAR.VARIAVEL_VAR
AND USU.USUARIO = MVA_VAR.USUARIO
