ALTER VIEW MVA_REGRASEMPITEMFILTROS AS
SELECT RIF.CODIGO_REGRA    		CODIGOREGRA_EMPIF,
RIF.SEQUENCIA       		SEQUENCIA_EMPIF,
RIF.DATA_INICIAL         DATAINICIAL_EMPIF,
RIF.DATA_FINAL    		DATAFINAL_EMPIF,
RIF.EMPRESA       		EMPRESA_EMPIF,
RIF.CLIENTE         		CLIENTE_EMPIF,
RIF.ESTADO    			ESTADO_EMPIF,
RIF.TIPO_PRODUTO       	TIPOPRODUTO_EMPIF,
RIF.MARCA         		MARCA_EMPIF,
RIF.FAMILIA    			FAMILIA_EMPIF,
RIF.PRODUTO       		PRODUTO_EMPIF,
RIF.MIX_PRODUTO         	MIXPRODUTO_EMPIF,
RIF.TIPO_FRETE    		TIPOFRETE_EMPIF,
RIF.QUANTIDADE       	QUANTIDADE_EMPIF,
RIF.UM_QUANTIDADE        UMQUANTIDADE_EMPIF,
RIF.CIDADE    			CIDADE_EMPIF,
RIF.GEOLOCALIZACAO       GEOLOCALIZACAO_EMPIF,
RIF.PESO         		PESO_EMPIF,
RIF.FORCA_VENDA         	FORCAVENDA_EMPIF,
RIF.RAMO2			    RAMO2_EMPIF
FROM DB_REGEMP_ITEM_FILTROS	RIF,
MVA_REGRASEMPITEM		REI
WHERE RIF.CODIGO_REGRA = REI.CODIGO_EMPI
