ALTER VIEW MVA_PESQUISASPERGUNTASDEPENDE AS
SELECT CODIGO_PESQUISA        CODIGOPESQUISA_PESPDEP,
CODIGO_PERGUNTA        CODIGOPERGUNTA_PESPDEP,
PERGUNTA_DEPENDENCIA   PERGUNTADEPENDENCIA_PESPDEP,
RESPOSTA_DEPENDENCIA   RESPOSTADEPENDENCIA_PESPDEP,
OBRIGATORIA            OBRIGATORIA_PESPDEP,
MINIMO_FOTOS           MINIMOFOTOS_PESPDEP,
MAXIMO_FOTOS           MAXIMOFOTOS_PESPDEP,
APRESENTACAO           APRESENTACAO_PESPDEP,
USU.USUARIO
FROM DB_PESQ_PESQUISA_DEPENDENCIAS PD, DB_USUARIO USU
WHERE EXISTS (SELECT 1
FROM MVA_PESQUISASPERGUNTAS
WHERE CODIGOPESQUISA_PESPERG = PD.CODIGO_PESQUISA
AND CODIGOPERGUNTA_PESPERG = PD.CODIGO_PERGUNTA
AND USU.USUARIO = MVA_PESQUISASPERGUNTAS.USUARIO)
