---------------------------------------------------------------------------------------------------
-- VERSAO	DATA		AUTOR			ALTERACAO
-- 1.0000	16/12/2013	TIAGO PRADELLA	CRIACAO
---------------------------------------------------------------------------------------------------
ALTER VIEW MVA_ITENSSALDOABERTO AS
SELECT DB_PEDI_PEDIDO      PEDIDO_IPSAB,
	   DB_PEDI_SEQUENCIA   ITEM_IPSAB,
	   DB_PED_CLIENTE      CLIENTE_IPSAB,
	   DB_PEDI_QTDE_SOLIC  QUANTIDADESOLICITADA_IPSAB,
	   DB_PEDI_QTDE_CANC   QUANTIDADECANCELADA_IPSAB,
	   DB_PEDI_QTDE_ATEND  QUANTIDADEATENDIDA_IPSAB,
	   DB_PEDI_PRECO_LIQ   PRECOLIQUIDO_IPSAB,
	   DB_PED_DT_EMISSAO   DATAEMISSAO_IPSAB,
	   DB_PEDI_PRODUTO     PRODUTO_IPSAB,
	   DB_PEDI_BACKORD     BACKORD_IPSAB,
	   USU.USUARIO
  FROM DB_PEDIDO, DB_PEDIDO_PROD, DB_USUARIO USU
  WHERE DB_PED_NRO = DB_PEDI_PEDIDO
   AND (DB_PED_SITUACAO = 2 OR DB_PED_SITUACAO = 3)
   AND (DB_PEDI_SITUACAO != 2 AND DB_PEDI_SITUACAO != 9)
   AND DB_PEDI_QTDE_SOLIC != (DB_PEDI_QTDE_ATEND + DB_PEDI_QTDE_CANC)
   AND DB_PED_REPRES IN (SELECT CODIGO_REPRES FROM MVA_REPRESENTANTES WHERE USUARIO = USU.USUARIO)
   AND (DB_PEDI_BACKORD IS NULL OR DB_PEDI_BACKORD  = '')
