ALTER VIEW MVA_ESTOQUEPREVISOES AS
select DB_ESTP_PRODUTO		produto_ESTPREV,
DB_ESTP_SEQ			seq_ESTPREV,
DB_ESTP_EMPRESA		empresa_ESTPREV,
DB_ESTP_GRADE		grade_ESTPREV,
DB_ESTP_QTDE_EST	quantidadeEstoque_ESTPREV,
DB_ESTP_QTDE_VDA	quantidadeVenda_ESTPREV,
MVA_PRODUTOS.DATAALTER,
MVA_PRODUTOS.USUARIO
from DB_ESTOQUE_PREV, MVA_PRODUTOS
where DB_ESTP_PRODUTO = CODIGO_PRODU
