ALTER VIEW MVA_CLIENTEENDERECOS AS
SELECT
DB_CLIENT_CODIGO      CLIENTE_CLENT,
DB_CLIENT_SEQ         SEQUENCIA_CLENT,
DB_CLIENT_ENDERECO    ENDERECO_CLENT,
DB_CLIENT_ENDNRO      NUMERO_CLENT,
DB_CLIENT_BAIRRO      BAIRRO_CLENT,
DB_CLIENT_CEP         CEP_CLENT,
DB_CLIENT_ESTADO      ESTADO_CLENT,
DB_CLIENT_CIDADE      CIDADE_CLENT,
USUARIO,
DATAALTER,
DB_CLIENT_ENDCOMPL    COMPLEMENTO_CLENT,
DB_CLIENT_PONTOREF    REFERENCIA_CLENT,
DB_CLIENT_PAIS        PAIS_CLENT,
DB_CLIENT_TELEFONE    TELEFONE_CLENT,
DB_CLIENT_RAMAL       RAMAL_CLENT,
DB_CLIENT_RAZAO       RAZAOSOCIAL_CLENT,
DB_CLIENT_CGCMF       CNPJ_CLENT,
DB_CLIENT_CGCTE       INSCRICAOESTADUAL_CLENT,
DB_CLIENT_CX_POS      CAIXAPOSTAL_CLENT,
0                     MOBILE_CLENT ,
DB_CLIENT_FAX         FAX_CLENT,
DB_CLIENT_LATITUD     LATITUDE_CLENT,
DB_CLIENT_LONGITUD    LONGITUDE_CLENT,
DB_CLIENT_LOGRAD      LOGRADOURO_CLENT,
DB_CLIENT_CODCLI      CLIENTEENTREGA_CLENT,
DB_CLIENT_EMPRESA     EMPRESA_CLENT,
DB_CLIENT_CELULAR     celular_CLENT
FROM DB_CLIENTE_ENT, MVA_CLIENTE
WHERE CODIGO_CLIEN = DB_CLIENT_CODIGO
