ALTER VIEW MVA_PERIODOTRABALHODIAS AS
SELECT PETD.CODIGO			   CODIGO_PETD,
       PETD.PERIODO_TRABALHO   PERIODOTRABALHO_PETD,
	   PETD.DIA_SEMANA	   	   DIASEMANA_PETD,
	   PETD.HORA_INICIAL	   HORAINICIAL_PETD,
	   PETD.HORA_FINAL	   	   HORAFINAL_PETD,
	   PERT.USUARIO
  FROM DB_PERIODO_TRABDIAS 	   PETD,
	   MVA_PERIODOTRABALHO 	   PERT
 WHERE PETD.PERIODO_TRABALHO = PERT.CODIGO_PERT
