---------------------------------------------------------------------------------------------------
-- VERSAO	DATA		AUTOR			ALTERACAO
-- 1.0001	27/05/2016	TIAGO PRADELLA	CRIACAO
---------------------------------------------------------------------------------------------------
ALTER VIEW MVA_PESQUISAS AS
SELECT PES.CODIGO					CODIGO_PES,
       PES.NOME						NOME_PES,
	   PES.SITUACAO                 SITUACAO_PES,
	   PES.NOME_APRESENTACAO        NOMEAPRESENTACAO_PES,
	   PES.DESCRICAO_APRESENTACAO   DESCRICAOAPRESENTACAO_PES,
	   PES.IMAGENS_PRODUTOS			IMAGENSPRODUTOS_PES,
	   PES.TOTALIZA_VALORES			TOTALIZAVALORES_PES,
	   USU.USUARIO
  FROM DB_PESQ_PESQUISA PES, DB_USUARIO USU
 WHERE EXISTS (SELECT 1
                 FROM MVA_PESQUISASAPLICADAS PA
				WHERE PA.USUARIO = USU.USUARIO
				  AND PA.CODIGOPESQUISA_PESAPLI = PES.CODIGO)
