ALTER VIEW MVA_CATALOGOS AS
SELECT DB_CAT_CODIGO	          CODIGO_CAT,
DB_CAT_DESCRICAO          DESCRICAO_CAT,
DB_CAT_SITUACAO	          SITUACAO_CAT,
DB_CAT_TEMA	              TEMA_CAT,
DB_CAT_TIMER	          TIMER_CAT,
DB_CAT_LOGOTIPO	          LOGOTIPO_CAT,
DB_CAT_CONSULTA	          CONSULTA_CAT,
DB_CAT_COLPRODUTO		  COLUNAPRODUTO_CAT,
DB_CAT_COLDESCRPROD	      COLUNADESCPRODUTO_CAT,
DB_CAT_COLDESCRPRODCOMPL  COLUNADESCPRODUTOCOMPL_CAT,
DB_CAT_COLDESTAQUE	      COLUNADESTAQUE_CAT,
DB_CAT_COLAGRUPAPROD	  COLUNAAGRUPAPRODUTO_CAT,
DB_CAT_AJUDA	          AJUDA_CAT,
DB_CAT_TOUR	              TOUR_CAT,
DB_CAT_INSTITUCIONAL	  INSTITUCIONAL_CAT,
P.PADRAO_PERMC            PADRAO_CAT,
DB_CAT_EXIBECAPAVISAOITEM    EXIBECAPAVISAOITEM_CAT,
DB_CAT_AGRUPADOR          agrupador_CAT,
DB_CAT_TEMPLATES          templates_CAT,
DB_CAT_MINIATURACAPA      miniatura_CAT,
P.USUARIO,
DB_CAT_ORDEMEXIBE         ordemExibicao_CAT,
DB_CAT_GRUPO              grupo_CAT,
DB_CAT_COLIMAGEMRESUMO    colunaImagemResumo_CAT,
case when isnull(DB_CAT_ULT_ALTER, 0) > isnull(p.DATA_PERMC, 0) then   DB_CAT_ULT_ALTER else   p.DATA_PERMC end      DATAALTER
FROM DB_CATALOGO, MVA_PERMISSOESCATALOGO P
WHERE DB_CAT_SITUACAO = 0
AND P.CATALOGO_PERMC = DB_CAT_CODIGO
