ALTER VIEW  MVA_PRODUTOSQTDEPALET_V4 AS
SELECT p.PRODUTO				PRODUTO_PALET
, p.EMPRESA				EMPRESA_PALET
, p.QUANTIDADE_NO_PALET	QUANTIDADENOPALET_PALET
, DB_PRODUTO_USUARIO.USUARIO
FROM DB_PRODUTO_QTDEPALET p
, DB_PRODUTO_USUARIO
WHERE p.PRODUTO = DB_PRODUTO_USUARIO.PRODUTO
