-- Script para criar usuarios e acessos nas diversas bases de dados SQL Server
-- Data: 
-- Autor: Robert Koch
--
-- Historico de alteracoes:
-- 13/10/2021 - Robert - Criado usuário PBI_PCP
-- 07/12/2021 - Robert - Criada view VPBI_DADOS_OS

-- Cria usuario (a nivel da instancia inteira do banco de dados)
USE [master]
GO
CREATE LOGIN [siga]      WITH PASSWORD=N'siga',        DEFAULT_DATABASE=[master], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
CREATE LOGIN [brix]      WITH PASSWORD=N'Brx2011a',    DEFAULT_DATABASE=[master], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
CREATE LOGIN [FullWMS]   WITH PASSWORD=N'IntegraFull', DEFAULT_DATABASE=[master], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
CREATE LOGIN [mercanet]  WITH PASSWORD=N'Mnet#',       DEFAULT_DATABASE=[master], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
CREATE LOGIN [genexus]   WITH PASSWORD=N'genesio',     DEFAULT_DATABASE=[master], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
CREATE LOGIN [gx_dbret]  WITH PASSWORD=N'gx_dbret',    DEFAULT_DATABASE=[master], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
CREATE LOGIN [consultas] WITH PASSWORD=N'consultas',   DEFAULT_DATABASE=[master], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
CREATE LOGIN [metadados] WITH PASSWORD=nao_te_digo,    DEFAULT_DATABASE=[master], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
CREATE LOGIN [PBI_PCP]   WITH PASSWORD=N'PBI',         DEFAULT_DATABASE=[master], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
CREATE LOGIN [VINHOS-ALIANCA\claudia.lionco] FROM WINDOWS WITH DEFAULT_DATABASE=[master]
CREATE LOGIN [VINHOS-ALIANCA\robert.koch] FROM WINDOWS WITH DEFAULT_DATABASE=[master]
CREATE LOGIN [VINHOS-ALIANCA\sandra.sugari] FROM WINDOWS WITH DEFAULT_DATABASE=[master]
CREATE LOGIN [VINHOS-ALIANCA\suporte.totvs] FROM WINDOWS WITH DEFAULT_DATABASE=[master]
CREATE LOGIN [VINHOS-ALIANCA\daiana.ribas] FROM WINDOWS WITH DEFAULT_DATABASE=[master]
ALTER LOGIN [VINHOS-ALIANCA\claudia.lionco] WITH DEFAULT_DATABASE=[protheus], DEFAULT_LANGUAGE=[us_english]
ALTER LOGIN [VINHOS-ALIANCA\robert.koch] WITH DEFAULT_DATABASE=[protheus], DEFAULT_LANGUAGE=[us_english]
ALTER LOGIN [VINHOS-ALIANCA\sandra.sugari] WITH DEFAULT_DATABASE=[protheus], DEFAULT_LANGUAGE=[us_english]
ALTER LOGIN [VINHOS-ALIANCA\suporte.totvs] WITH DEFAULT_DATABASE=[protheus], DEFAULT_LANGUAGE=[us_english]
ALTER LOGIN [VINHOS-ALIANCA\daiana.ribas] WITH DEFAULT_DATABASE=[naweb], DEFAULT_LANGUAGE=[us_english]
ALTER LOGIN [PBI_PCP] WITH DEFAULT_DATABASE=[BI_ALIANCA], DEFAULT_LANGUAGE=[us_english]
DENY SELECT ON SCHEMA::dbo TO PBI_PCP  -- Nao vai poder visualizar nada que nao seja liberado explicitamente.
GRANT VIEW SERVER STATE TO [siga]
--testes pro DBAccess derrudar direto do banco. Parece que nao deu resultado... grant ALTER ANY CONNECTION to siga
GRANT VIEW SERVER STATE TO [VINHOS-ALIANCA\claudia.lionco]
GRANT VIEW SERVER STATE TO [VINHOS-ALIANCA\sandra.sugari]
GRANT VIEW SERVER STATE TO [VINHOS-ALIANCA\daiana.ribas]
GRANT VIEW SERVER STATE TO [consultas]  -- para monitorar via Zabbix
ALTER SERVER ROLE [sysadmin] ADD MEMBER [VINHOS-ALIANCA\robert.koch]
-- soh pra base teste --> ALTER SERVER ROLE [sysadmin] ADD MEMBER [siga]
-- soh pra base teste --> ALTER SERVER ROLE [sysadmin] ADD MEMBER [VINHOS_ALIANCA\Administrador]
GO


-- Acessos para manutencao dos jobs
USE [msdb]
CREATE USER [VINHOS-ALIANCA\robert.koch] FOR LOGIN [VINHOS-ALIANCA\robert.koch]
CREATE USER [VINHOS-ALIANCA\claudia.lionco] FOR LOGIN [VINHOS-ALIANCA\claudia.lionco]
CREATE USER [VINHOS-ALIANCA\sandra.sugari] FOR LOGIN [VINHOS-ALIANCA\sandra.sugari]
CREATE USER [VINHOS-ALIANCA\daiana.ribas] FOR LOGIN [VINHOS-ALIANCA\daiana.ribas]
ALTER ROLE [SQLAgentOperatorRole] ADD MEMBER [VINHOS-ALIANCA\robert.koch]  -- Este acesso jah inclui SQLAgentReaderRole e SQLAgentUserRole
ALTER ROLE [SQLAgentOperatorRole] ADD MEMBER [VINHOS-ALIANCA\claudia.lionco]  -- Este acesso jah inclui SQLAgentReaderRole e SQLAgentUserRole
ALTER ROLE [SQLAgentOperatorRole] ADD MEMBER [VINHOS-ALIANCA\sandra.sugari]  -- Este acesso jah inclui SQLAgentReaderRole e SQLAgentUserRole
ALTER ROLE [SQLAgentOperatorRole] ADD MEMBER [VINHOS-ALIANCA\daiana.ribas]  -- Este acesso jah inclui SQLAgentReaderRole e SQLAgentUserRole
GO
USE [msdb]
CREATE USER [consultas] FOR LOGIN [consultas]  -- para monitoramento de jobs via zabbix
GRANT SELECT TO [consultas]
GRANT EXECUTE ON agent_datetime to [consultas]
CREATE USER [mercanet] FOR LOGIN [mercanet]  -- para o pessoal de suporte consultar os jobs (GLPI 10056)
ALTER ROLE SQLAgentReaderRole ADD MEMBER [mercanet]  -- para o pessoal de suporte consultar os jobs (GLPI 10056)

-- Habilita acesso do usuario aos diversos databases do Protheus (executar uma vez para cada database: protheus_teste, protheus_11, CTB2010, ...)
use master
GRANT SELECT ON sys.dm_tran_locks to [siga]  -- https://tdn.totvs.com/pages/viewpage.action?pageId=327323773 - Em builds superiores a 18.2.1.1 será necessário liberar explicitamente o direito GRANT SELECT ON sys.dm_tran_locks no banco master.  O acesso a consulta da view de sistema de bloqueios é necessário para o mecanismo de limpeza de tabelas temporárias não permitir o envio de uma instrução de DROP para uma tabela temporária que ainda está em uso – aberta com um select por exemplo – por outro processo. 
GRANT ALTER ANY CONNECTION to [siga]  -- https://tdn.totvs.com/pages/viewpage.action?pageId=327323773 - Em builds superiores a 18.2.1.1, a nova funcionalidade de encerramento de conexão do DBAccess solicita ao Banco de Dados o encerramento (kill) de uma conexão, caso ela esteja em processamento no Banco. Para essa instrução ser executada no Banco de Dados, deve ser liberado o direito "GRANT ALTER ANY CONNECTION" para o usuário usado na conexão com o MSSQL no banco Master. 

USE protheus
EXEC dbo.sp_changedbowner @loginame = N'siga', @map = false  -- No database criado para atender a este ambiente, o usuário criado deve ser definido como owner através do Database Role db_owner.
CREATE USER [VINHOS-ALIANCA\robert.koch] FOR LOGIN [VINHOS-ALIANCA\robert.koch]
CREATE USER [VINHOS-ALIANCA\claudia.lionco] FOR LOGIN [VINHOS-ALIANCA\claudia.lionco]
CREATE USER [VINHOS-ALIANCA\sandra.sugari] FOR LOGIN [VINHOS-ALIANCA\sandra.sugari]
CREATE USER [VINHOS-ALIANCA\daiana.ribas] FOR LOGIN [VINHOS-ALIANCA\daiana.ribas]
drop user mercanet;  CREATE USER [mercanet]  FOR LOGIN [mercanet]
drop user genexus;   CREATE USER [genexus]   FOR LOGIN [genexus]
drop user gx_dbret;  CREATE USER [gx_dbret]  FOR LOGIN [gx_dbret]
drop user consultas; CREATE USER [consultas] FOR LOGIN [consultas]
drop user PBI_PCP;   CREATE USER [PBI_PCP]   FOR LOGIN [PBI_PCP]
ALTER USER [VINHOS-ALIANCA\robert.koch] WITH DEFAULT_SCHEMA=[dbo]
ALTER USER [VINHOS-ALIANCA\claudia.lionco] WITH DEFAULT_SCHEMA=[dbo]
ALTER USER [VINHOS-ALIANCA\sandra.sugari] WITH DEFAULT_SCHEMA=[dbo]
ALTER USER [VINHOS-ALIANCA\daiana.ribas] WITH DEFAULT_SCHEMA=[dbo]
ALTER USER mercanet  WITH DEFAULT_SCHEMA=[dbo]
ALTER USER genexus   WITH DEFAULT_SCHEMA=[dbo]
ALTER USER gx_dbret  WITH DEFAULT_SCHEMA=[dbo]
ALTER USER consultas WITH DEFAULT_SCHEMA=[dbo]
ALTER USER PBI_PCP   WITH DEFAULT_SCHEMA=[dbo]
GRANT SELECT, SHOWPLAN, INSERT, UPDATE, DELETE, VIEW DEFINITION, VIEW DATABASE STATE, EXECUTE, CREATE VIEW, CREATE TABLE, CREATE PROCEDURE, ALTER TO [VINHOS-ALIANCA\claudia.lionco]
GRANT SELECT, SHOWPLAN, INSERT, UPDATE, DELETE, VIEW DEFINITION, VIEW DATABASE STATE, EXECUTE, CREATE VIEW, CREATE TABLE, CREATE PROCEDURE, ALTER TO [VINHOS-ALIANCA\robert.koch]
GRANT SELECT, SHOWPLAN, INSERT, UPDATE, DELETE, VIEW DEFINITION, VIEW DATABASE STATE, EXECUTE, CREATE VIEW, CREATE TABLE, CREATE PROCEDURE, ALTER TO [VINHOS-ALIANCA\sandra.sugari]
GRANT SELECT, SHOWPLAN, INSERT, UPDATE, DELETE, VIEW DEFINITION, VIEW DATABASE STATE, EXECUTE, CREATE VIEW, CREATE TABLE, CREATE PROCEDURE, ALTER TO [VINHOS-ALIANCA\daiana.ribas]
GRANT SELECT TO [mercanet]
GRANT EXECUTE ON VA_FQtCx TO [mercanet]
GRANT EXECUTE ON VA_FSTATUS_PED_VENDA TO [mercanet]
GRANT EXECUTE ON VA_FRAPELPADRAO TO [mercanet]
GRANT SELECT, SHOWPLAN, VIEW DEFINITION, VIEW DATABASE STATE, EXECUTE TO genexus
GRANT CONNECT, SELECT, EXECUTE TO [consultas] -- Necessario para executar funcoes dentro de queries pelo SSRS
GRANT SELECT ON [dbo].[SB1010] to [PBI_PCP]  -- Orientar usuarios do PowerBI a acessar views no BI_ALIANCA, mas precisa ter acesso ao database 'protheus' para poder chegar aos dados.
GRANT SELECT ON [dbo].[VA_VDADOS_OS] to [PBI_PCP]  -- Orientar usuarios do PowerBI a acessar views no BI_ALIANCA, mas precisa ter acesso ao database 'protheus' para poder chegar aos dados.

-- Habilitar aqui somante os objetos que precisam ser vistos pelo Genexus (senao a engenharia reversa demora demais).
-- Royalties para https://sqlstudies.com/2017/04/03/hiding-tables-in-ssms-object-explorer-using-extended-properties/
GRANT view definition on CC2010 TO gx_dbret
GRANT view definition on CQ3010 TO gx_dbret
GRANT view definition on CT1010 TO gx_dbret
GRANT view definition on CTT010 TO gx_dbret
GRANT view definition on DAK010 TO gx_dbret
GRANT view definition on GX0001_AGENDA_SAFRA TO gx_dbret
GRANT view definition on GX0002_VARIEDADE_SAFRA TO gx_dbret
GRANT view definition on GX0003_CLIENTES TO gx_dbret
GRANT view definition on GX0004_PRODUTOS TO gx_dbret
GRANT view definition on GX0005_LOTES TO gx_dbret
GRANT view definition on GX0006_ITENS_NOTAS TO gx_dbret
GRANT view definition on GX0007_OPS TO gx_dbret
GRANT view definition on GX0008_ETIQUETAS TO gx_dbret
GRANT view definition on GX0009_MAQUINAS TO gx_dbret
GRANT view definition on GX0010_CCUSTO TO gx_dbret
GRANT view definition on GX0011_CELULAS TO gx_dbret
GRANT view definition on GX0012_CELULAS_X_MAQUINAS TO gx_dbret
GRANT view definition on GX0013_TRANSFERENCIAS TO gx_dbret
GRANT view definition on GX0014_ARQUIVOS TO gx_dbret
GRANT view definition on GX0015_EVENTOS_TIPOS TO gx_dbret
GRANT view definition on GX0016_EVENTOS TO gx_dbret
GRANT view definition on GX0017_ALMOXARIFADOS TO gx_dbret
GRANT view definition on GX0018_RATEIOS TO gx_dbret
GRANT view definition on GX0019_CARGAS TO gx_dbret
GRANT view definition on GX0020_CELULAS_X_EMBALAGENS TO gx_dbret
GRANT view definition on GX0022_NOTA_X_CTE TO gx_dbret
GRANT view definition on GX0023_ESTOQUE_X_PEDIDOS TO gx_dbret
GRANT view definition on GX0024_MARCAS_PRODUTOS TO gx_dbret
GRANT view definition on GX0025_PEDIDOS_EM_ABERTO TO gx_dbret
GRANT view definition on GX0026_RAPEL TO gx_dbret
GRANT view definition on GX0027_PEDIDOS_FATURADOS TO gx_dbret
GRANT view definition on GX0028_ITENS TO gx_dbret
GRANT view definition on GX0029_NOTAS_FATURADAS TO gx_dbret
GRANT view definition on GX0030_VERBAS TO gx_dbret
GRANT view definition on GX0031_CONTRATOS TO gx_dbret
GRANT view definition on GX0032_PEDIDO_COMPRA TO gx_dbret
GRANT view definition on GX0033_ORDEM_SERVICO TO gx_dbret
GRANT view definition on GX0035_RELSAFRA TO gx_dbret
GRANT view definition on GX0036_MEDICOES TO gx_dbret
GRANT view definition on GX0037_ASSOCIADOS TO gx_dbret
GRANT view definition on GX0038_LOTES TO gx_dbret
GRANT view definition on GX0039_MAPA_GRANEL TO gx_dbret
GRANT view definition on GX0040_FATURA_CTE TO gx_dbret
GRANT view definition on GX0041_LCTO_CONTABIL TO gx_dbret
GRANT view definition on GX0042_HIST_SAFRA TO gx_dbret
GRANT view definition on GX0043_INSPECOES_2020 TO gx_dbret
GRANT view definition on GX0044_IND_PROD TO gx_dbret
GRANT view definition on NNR010 TO gx_dbret
GRANT view definition on SA1010 TO gx_dbret
GRANT view definition on SA2010 TO gx_dbret
GRANT view definition on SA3010 TO gx_dbret
GRANT view definition on SA4010 TO gx_dbret
GRANT view definition on SA6010 TO gx_dbret
GRANT view definition on SB1010 TO gx_dbret
GRANT view definition on SB2010 TO gx_dbret
GRANT view definition on SBE010 TO gx_dbret
GRANT view definition on SBF010 TO gx_dbret
GRANT view definition on SC1010 TO gx_dbret
GRANT view definition on SC2010 TO gx_dbret
GRANT view definition on SC4010 TO gx_dbret
GRANT view definition on SC5010 TO gx_dbret
GRANT view definition on SC5010 TO gx_dbret
GRANT view definition on SC6010 TO gx_dbret
GRANT view definition on SC6010 TO gx_dbret
GRANT view definition on SC7010 TO gx_dbret
GRANT view definition on SCR010 TO gx_dbret
GRANT view definition on SD1010 TO gx_dbret
GRANT view definition on SD2010 TO gx_dbret
GRANT view definition on SD3010 TO gx_dbret
GRANT view definition on SE1010 TO gx_dbret
GRANT view definition on SE2010 TO gx_dbret
GRANT view definition on SE4010 TO gx_dbret
GRANT view definition on SE5010 TO gx_dbret
GRANT view definition on SF1010 TO gx_dbret
GRANT view definition on SF2010 TO gx_dbret
GRANT view definition on SF4010 TO gx_dbret
GRANT view definition on SG1010 TO gx_dbret
GRANT view definition on SG2010 TO gx_dbret
GRANT view definition on SG5010 TO gx_dbret
GRANT view definition on SH1010 TO gx_dbret
GRANT view definition on SL1010 TO gx_dbret
GRANT view definition on SL2010 TO gx_dbret
GRANT view definition on SN1010 TO gx_dbret
GRANT view definition on SN3010 TO gx_dbret
GRANT view definition on SX5010 TO gx_dbret
GRANT view definition on SZ2010 TO gx_dbret
GRANT view definition on SZB010 TO gx_dbret
GRANT view definition on SZH010 TO gx_dbret
GRANT view definition on VA_INTEGRA_NAWEB TO gx_dbret
GRANT view definition on VA_SM0 TO gx_dbret
GRANT view definition on VA_USR_USUARIOS TO gx_dbret
GRANT view definition on VA_VCARGAS_SAFRA TO gx_dbret
GRANT view definition on VA_VEMPENHOS_TANQUES TO gx_dbret
GRANT view definition on VA_VNOTAS_SAFRA TO gx_dbret
GRANT view definition on VA_VSOL_TRANSF_ESTOQUE TO gx_dbret
GRANT view definition on ZA5010 TO gx_dbret
GRANT view definition on ZA8010 TO gx_dbret
GRANT view definition on ZAB010 TO gx_dbret
GRANT view definition on ZAH010 TO gx_dbret
GRANT view definition on ZAJ010 TO gx_dbret
GRANT view definition on ZAK010 TO gx_dbret
GRANT view definition on ZAL010 TO gx_dbret
GRANT view definition on ZAN010 TO gx_dbret
GRANT view definition on ZX5010 TO gx_dbret
GRANT view definition on ZZC010 TO gx_dbret
GRANT view definition on ZZL010 TO gx_dbret
GRANT view definition on tb_wms_lotes TO gx_dbret


USE BI_ALIANCA
EXEC dbo.sp_changedbowner @loginame = N'siga', @map = false
CREATE USER [VINHOS-ALIANCA\robert.koch] FOR LOGIN [VINHOS-ALIANCA\robert.koch]
CREATE USER [VINHOS-ALIANCA\claudia.lionco] FOR LOGIN [VINHOS-ALIANCA\claudia.lionco]
CREATE USER [VINHOS-ALIANCA\sandra.sugari] FOR LOGIN [VINHOS-ALIANCA\sandra.sugari]
CREATE USER [VINHOS-ALIANCA\daiana.ribas] FOR LOGIN [VINHOS-ALIANCA\daiana.ribas]
CREATE USER [consultas] FOR LOGIN [consultas]
CREATE USER [mercanet]  FOR LOGIN [mercanet]
CREATE USER [genexus]  FOR LOGIN [genexus]
CREATE USER [PBI_PCP]  FOR LOGIN [PBI_PCP]
ALTER USER [VINHOS-ALIANCA\robert.koch] WITH DEFAULT_SCHEMA=[dbo]
ALTER USER [VINHOS-ALIANCA\claudia.lionco] WITH DEFAULT_SCHEMA=[dbo]
ALTER USER [VINHOS-ALIANCA\sandra.sugari] WITH DEFAULT_SCHEMA=[dbo]
ALTER USER [VINHOS-ALIANCA\daiana.ribas] WITH DEFAULT_SCHEMA=[dbo]
ALTER USER [consultas] WITH DEFAULT_SCHEMA=[dbo]
ALTER USER [mercanet]  WITH DEFAULT_SCHEMA=[dbo]
ALTER USER [genexus]  WITH DEFAULT_SCHEMA=[dbo]
ALTER USER [PBI_PCP]  WITH DEFAULT_SCHEMA=[dbo]
GRANT CONNECT, SELECT, EXECUTE TO [consultas] -- Necessario para executar funcoes dentro de queries
GRANT CONNECT, SELECT, EXECUTE TO [mercanet] -- Necessario para executar funcoes dentro de queries
GRANT CONNECT, SELECT, EXECUTE TO [genexus] -- Necessario para executar funcoes dentro de queries
GRANT CONNECT TO [PBI_PCP]
DENY SELECT ON SCHEMA::dbo TO PBI_PCP  -- Nao vai poder visualizar nada que nao seja liberado explicitamente.
GRANT ALTER TO [VINHOS-ALIANCA\robert.koch]
GRANT SELECT, SHOWPLAN, INSERT, UPDATE, DELETE, VIEW DEFINITION, VIEW DATABASE STATE, EXECUTE, CREATE VIEW, CREATE TABLE, CREATE PROCEDURE TO [VINHOS-ALIANCA\claudia.lionco]
GRANT SELECT, SHOWPLAN, INSERT, UPDATE, DELETE, VIEW DEFINITION, VIEW DATABASE STATE, EXECUTE, CREATE VIEW, CREATE TABLE, CREATE PROCEDURE TO [VINHOS-ALIANCA\sandra.sugari]
GRANT SELECT, SHOWPLAN, INSERT, UPDATE, DELETE, VIEW DEFINITION, VIEW DATABASE STATE, EXECUTE, CREATE VIEW, CREATE TABLE, CREATE PROCEDURE TO [VINHOS-ALIANCA\daiana.ribas]
GRANT SELECT ON [dbo].[VPBI_SB1] to [PBI_PCP]
GRANT SELECT ON [dbo].[VPBI_DADOS_OS] to [PBI_PCP]
GRANT SELECT ON [dbo].VA_MATERIAIS to PBI_PCP

-- Analise especifica - acesso somente para auditoria e diretoria (executar depois que o Protheus tiver criado essas tabelas).
deny select on [dbo].[DRE_INDL] to [consultas]
deny select on [dbo].[DRE_INDL_ITENS] to [consultas]
deny select on [dbo].[DRE_INDL_VENDAS_RATEADO_FILIAIS] to [consultas]
deny select on [dbo].[CONTAB] to [consultas]


USE [naweb]
CREATE USER [VINHOS-ALIANCA\daiana.ribas] FOR LOGIN [VINHOS-ALIANCA\daiana.ribas]
CREATE USER [VINHOS-ALIANCA\robert.koch] FOR LOGIN [VINHOS-ALIANCA\robert.koch]
CREATE USER [siga] FOR LOGIN [siga]
CREATE USER [consultas] FOR LOGIN [consultas]
CREATE USER [mercanet] FOR LOGIN [mercanet]
ALTER USER [VINHOS-ALIANCA\daiana.ribas] WITH DEFAULT_SCHEMA=[dbo]
ALTER USER [VINHOS-ALIANCA\robert.koch] WITH DEFAULT_SCHEMA=[dbo]
ALTER ROLE [db_owner] ADD MEMBER [VINHOS-ALIANCA\daiana.ribas]
ALTER ROLE [db_owner] ADD MEMBER [VINHOS-ALIANCA\robert.koch]
GRANT SELECT TO [siga]
GRANT SELECT TO [mercanet]  -- Mercanet tem consultas que buscam dados em views do Protheus, que buscam no NaWeb...
--GRANT SELECT, SHOWPLAN, INSERT, UPDATE, DELETE, VIEW DEFINITION, VIEW DATABASE STATE, EXECUTE, CREATE VIEW, CREATE TABLE, CREATE PROCEDURE, ALTER TO [VINHOS-ALIANCA\robert.koch]
GRANT SELECT ON [CCVariedade] TO [consultas]  -- Inicialmente para a agronomia fazer algumas consultas


-- Integracao medidor de grau/brix (Software da Maselli)
use protheus
drop user brix; CREATE USER [brix] FOR LOGIN [brix]
ALTER USER [brix] WITH DEFAULT_SCHEMA=[dbo]
GRANT SELECT, UPDATE ON [dbo].[ZZA010] TO [brix]
GRANT SELECT, INSERT, ALTER, DELETE, UPDATE ON [dbo].[LEITURAS_BRIX] TO [brix]
GRANT SELECT, INSERT ON [dbo].[VA_PESOS_BALANCA_MATRIZ] TO [brix]
GRANT SELECT, INSERT ON [dbo].[VA_PESOS_BALANCA_F07] TO [brix]


-- Acessos para o integrador FullSinc
use protheus_teste
drop user FullWMS
CREATE USER [FullWMS] FOR LOGIN [FullWMS]
ALTER USER [FullWMS] WITH DEFAULT_SCHEMA=[dbo]
GRANT SELECT ON [dbo].[v_wms_codbarras] TO [FullWMS]
GRANT SELECT ON [dbo].[v_wms_entrada] TO [FullWMS]
GRANT SELECT ON [dbo].[v_wms_estoques] TO [FullWMS]
GRANT SELECT ON [dbo].[v_wms_item] TO [FullWMS]
GRANT SELECT ON [dbo].[v_wms_pedido] TO [FullWMS]
GRANT SELECT ON [dbo].[v_wms_transportadoras] TO [FullWMS]
GRANT INSERT, SELECT, UPDATE ON [dbo].[tb_wms_entrada] TO [FullWMS]
GRANT INSERT, SELECT, UPDATE ON [dbo].[tb_wms_etiquetas] TO [FullWMS]
GRANT INSERT, SELECT, UPDATE ON [dbo].[tb_wms_lotes] TO [FullWMS]
GRANT INSERT, SELECT, UPDATE ON [dbo].[tb_wms_movimentacoes] TO [FullWMS]
GRANT INSERT, SELECT, UPDATE ON [dbo].[tb_wms_pedidos] TO [FullWMS]
GRANT INSERT, SELECT, UPDATE ON [dbo].[tb_wms_volumes] TO [FullWMS]


-- Acessos ao Metadados sao bem especificos.
USE SIRH
EXEC dbo.sp_changedbowner @loginame = N'metadados', @map = false
CREATE LOGIN [VINHOS-ALIANCA\robert.koch] FROM WINDOWS WITH DEFAULT_DATABASE=[master]
CREATE LOGIN [VINHOS-ALIANCA\sandra.sugari] FROM WINDOWS WITH DEFAULT_DATABASE=[master]
drop user siga
CREATE USER [siga] FOR LOGIN [siga]
CREATE USER [consultas] FOR LOGIN [consultas]
CREATE USER [VINHOS-ALIANCA\robert.koch] FOR LOGIN [VINHOS-ALIANCA\robert.koch]
CREATE USER [VINHOS-ALIANCA\sandra.sugari] FOR LOGIN [VINHOS-ALIANCA\sandra.sugari]
ALTER USER [siga] WITH DEFAULT_SCHEMA=[dbo]
ALTER USER [VINHOS-ALIANCA\robert.koch] WITH DEFAULT_SCHEMA=[dbo]
ALTER USER [VINHOS-ALIANCA\sandra.sugari] WITH DEFAULT_SCHEMA=[dbo]
GRANT SELECT ON [dbo].RHCONTASPAGARHIST TO [siga]     -- integracao financeira
GRANT UPDATE ON [dbo].RHCONTASPAGARHIST TO [siga]     -- integracao financeira
GRANT SELECT ON [dbo].RHCONTASPAGARHISTLOG TO [siga]  -- integracao financeira
GRANT INSERT ON [dbo].RHCONTASPAGARHISTLOG TO [siga]  -- integracao financeira
GRANT SELECT ON [dbo].RHDEPOSITOSANALITICO TO [siga]  -- integracao financeira
GRANT SELECT ON [dbo].RHDARFANALITICO TO [siga]       -- integracao financeira
GRANT SELECT ON [dbo].RHLANCTOSCONTABCONTR TO [siga]  -- integracao contabil
GRANT SELECT ON [dbo].[VA_VFUNCIONARIOS] TO [siga]    -- integracao funcionarios para vendas lojas
GRANT SELECT ON [dbo].[VA_VFUNCIONARIOS] TO [VINHOS-ALIANCA\sandra.sugari]
GRANT SELECT ON [dbo].[VA_VFORNECEDORES] TO [siga]    -- integracao funcionarios para vendas lojas
GRANT SELECT ON [dbo].[VA_VTITULOS_CPAGAR] TO [siga]    -- monitor integracao contas a pagar
--GRANT SELECT ON [sys].[tables] TO [consultas]  -- monitoramento de tamanho/qt tabelas por database
GRANT SELECT ON [dbo].[VA_VFUNCIONARIOS] TO [consultas]  -- monitoramento de contas de usuarios em ferias/afastados/demitidos
GRANT SELECT ON [dbo].[VA_FVERIFICAHORARIO] TO [consultas]  -- monitoramento de contas de usuarios em ferias/afastados/demitidos
GRANT SELECT ON [dbo].[VA_FVERIFICAHORARIO2] TO [consultas]  -- monitoramento de contas de usuarios em ferias/afastados/demitidos
--GRANT SELECT, ALTER ON SCHEMA::dbo TO [VINHOS-ALIANCA\robert.koch]
--GRANT SELECT, CREATE FUNCTION TO [VINHOS-ALIANCA\robert.koch]
--GRANT SELECT, CREATE VIEW TO [VINHOS-ALIANCA\robert.koch]
GRANT SELECT, SHOWPLAN, INSERT, UPDATE, DELETE, VIEW DEFINITION, VIEW DATABASE STATE, EXECUTE, CREATE VIEW, CREATE TABLE, CREATE PROCEDURE TO [VINHOS-ALIANCA\robert.koch]


-- Novos databases que o protheus precise acessar:
USE [TI]
CREATE USER [consultas] FOR LOGIN [consultas]
CREATE USER [VINHOS-ALIANCA\robert.koch] FOR LOGIN [VINHOS-ALIANCA\robert.koch]
CREATE USER [VINHOS-ALIANCA\claudia.lionco] FOR LOGIN [VINHOS-ALIANCA\claudia.lionco]
CREATE USER [VINHOS-ALIANCA\sandra.sugari] FOR LOGIN [VINHOS-ALIANCA\sandra.sugari]
CREATE USER [VINHOS-ALIANCA\daiana.ribas] FOR LOGIN [VINHOS-ALIANCA\daiana.ribas]
ALTER USER [consultas] WITH DEFAULT_SCHEMA=[dbo]
ALTER USER [VINHOS-ALIANCA\robert.koch] WITH DEFAULT_SCHEMA=[dbo]
ALTER USER [VINHOS-ALIANCA\claudia.lionco] WITH DEFAULT_SCHEMA=[dbo]
ALTER USER [VINHOS-ALIANCA\sandra.sugari] WITH DEFAULT_SCHEMA=[dbo]
ALTER USER [VINHOS-ALIANCA\daiana.ribas] WITH DEFAULT_SCHEMA=[dbo]
-- tabela vai ser eliminada GRANT SELECT ON [dbo].[VA_VUSUARIOS] TO [consultas]
GRANT SELECT ON [dbo].[MONITOR_PEDIDOS_MERCANET] TO [consultas]
GRANT select, insert, update, delete ON [dbo].[USUARIOS_AD] TO [consultas]
GRANT SELECT, SHOWPLAN, INSERT, UPDATE, DELETE, VIEW DEFINITION, VIEW DATABASE STATE, EXECUTE, CREATE VIEW, CREATE TABLE, CREATE PROCEDURE, ALTER TO [VINHOS-ALIANCA\daiana.ribas]
GRANT SELECT, SHOWPLAN, INSERT, UPDATE, DELETE, VIEW DEFINITION, VIEW DATABASE STATE, EXECUTE, CREATE VIEW, CREATE TABLE, CREATE PROCEDURE, ALTER TO [VINHOS-ALIANCA\claudia.lionco]



USE [MercanetPRD]
DROP USER [siga]
DROP USER [VINHOS-ALIANCA\robert.koch]
DROP USER [VINHOS-ALIANCA\claudia.lionco]
DROP USER [VINHOS-ALIANCA\sandra.sugari]
CREATE USER [siga] FOR LOGIN [siga]
CREATE USER [consultas] FOR LOGIN [consultas]
CREATE USER [VINHOS-ALIANCA\robert.koch] FOR LOGIN [VINHOS-ALIANCA\robert.koch]
CREATE USER [VINHOS-ALIANCA\claudia.lionco] FOR LOGIN [VINHOS-ALIANCA\claudia.lionco]
CREATE USER [VINHOS-ALIANCA\sandra.sugari] FOR LOGIN [VINHOS-ALIANCA\sandra.sugari]
ALTER USER [siga] WITH DEFAULT_SCHEMA=[dbo]
ALTER USER [VINHOS-ALIANCA\robert.koch] WITH DEFAULT_SCHEMA=[dbo]
ALTER USER [VINHOS-ALIANCA\claudia.lionco] WITH DEFAULT_SCHEMA=[dbo]
ALTER USER [VINHOS-ALIANCA\sandra.sugari] WITH DEFAULT_SCHEMA=[dbo]
GRANT SELECT TO [siga]
GRANT INSERT ON [dbo].[DB_INTERFACE_PROTHEUS] TO [siga]
GRANT update ON [dbo].[ZC5010] TO [siga], [VINHOS-ALIANCA\robert.koch], [VINHOS-ALIANCA\claudia.lionco], [VINHOS-ALIANCA\sandra.sugari]
GRANT update ON [dbo].[ZA1010] TO [siga], [VINHOS-ALIANCA\robert.koch], [VINHOS-ALIANCA\claudia.lionco], [VINHOS-ALIANCA\sandra.sugari]
GRANT SELECT ON [dbo].[ZC5010] TO [consultas]
GRANT SELECT, SHOWPLAN, EXECUTE, VIEW DEFINITION, VIEW DATABASE STATE, CREATE PROCEDURE, ALTER TO [VINHOS-ALIANCA\robert.koch]
GRANT SELECT, SHOWPLAN, EXECUTE, VIEW DEFINITION, VIEW DATABASE STATE, CREATE PROCEDURE, ALTER TO [VINHOS-ALIANCA\claudia.lionco]
GRANT SELECT, SHOWPLAN, EXECUTE, VIEW DEFINITION, VIEW DATABASE STATE, CREATE PROCEDURE TO [VINHOS-ALIANCA\sandra.sugari]

-- PRECISA LIBERAR AS PROCEDURES UMA A UMA
GRANT ALTER ON [dbo].[MERCP_CC2010] TO [VINHOS-ALIANCA\robert.koch], [VINHOS-ALIANCA\claudia.lionco]
GRANT ALTER ON [dbo].[MERCP_CC3010] TO [VINHOS-ALIANCA\robert.koch], [VINHOS-ALIANCA\claudia.lionco]
GRANT ALTER ON [dbo].[MERCP_CONCORRENTE_INTEGRACOES] TO [VINHOS-ALIANCA\robert.koch], [VINHOS-ALIANCA\claudia.lionco]
GRANT ALTER ON [dbo].[MERCP_DA0010] TO [VINHOS-ALIANCA\robert.koch], [VINHOS-ALIANCA\claudia.lionco]
GRANT ALTER ON [dbo].[MERCP_DA1010] TO [VINHOS-ALIANCA\robert.koch], [VINHOS-ALIANCA\claudia.lionco]
GRANT ALTER ON [dbo].[MERCP_INTEGRA_REGRAS_FISCAIS] TO [VINHOS-ALIANCA\robert.koch], [VINHOS-ALIANCA\claudia.lionco]
GRANT ALTER ON [dbo].[MERCP_SA1010] TO [VINHOS-ALIANCA\robert.koch], [VINHOS-ALIANCA\claudia.lionco]
GRANT ALTER ON [dbo].[MERCP_SA3010] TO [VINHOS-ALIANCA\robert.koch], [VINHOS-ALIANCA\claudia.lionco]
GRANT ALTER ON [dbo].[MERCP_SA4010] TO [VINHOS-ALIANCA\robert.koch], [VINHOS-ALIANCA\claudia.lionco]
GRANT ALTER ON [dbo].[MERCP_SA6010] TO [VINHOS-ALIANCA\robert.koch], [VINHOS-ALIANCA\claudia.lionco]
GRANT ALTER ON [dbo].[MERCP_SB1010] TO [VINHOS-ALIANCA\robert.koch], [VINHOS-ALIANCA\claudia.lionco]
GRANT ALTER ON [dbo].[MERCP_SBM010] TO [VINHOS-ALIANCA\robert.koch], [VINHOS-ALIANCA\claudia.lionco]
GRANT ALTER ON [dbo].[MERCP_SC5010] TO [VINHOS-ALIANCA\robert.koch], [VINHOS-ALIANCA\claudia.lionco]
GRANT ALTER ON [dbo].[MERCP_SC6010] TO [VINHOS-ALIANCA\robert.koch], [VINHOS-ALIANCA\claudia.lionco]
GRANT ALTER ON [dbo].[MERCP_SD1010] TO [VINHOS-ALIANCA\robert.koch], [VINHOS-ALIANCA\claudia.lionco]
GRANT ALTER ON [dbo].[MERCP_SD2010] TO [VINHOS-ALIANCA\robert.koch], [VINHOS-ALIANCA\claudia.lionco]
GRANT ALTER ON [dbo].[MERCP_SE1010] TO [VINHOS-ALIANCA\robert.koch], [VINHOS-ALIANCA\claudia.lionco]
GRANT ALTER ON [dbo].[MERCP_SE3010] TO [VINHOS-ALIANCA\robert.koch], [VINHOS-ALIANCA\claudia.lionco]
GRANT ALTER ON [dbo].[MERCP_SE4010] TO [VINHOS-ALIANCA\robert.koch], [VINHOS-ALIANCA\claudia.lionco]
GRANT ALTER ON [dbo].[MERCP_SE5010] TO [VINHOS-ALIANCA\robert.koch], [VINHOS-ALIANCA\claudia.lionco]
GRANT ALTER ON [dbo].[MERCP_SF1010] TO [VINHOS-ALIANCA\robert.koch], [VINHOS-ALIANCA\claudia.lionco]
GRANT ALTER ON [dbo].[MERCP_SF2010] TO [VINHOS-ALIANCA\robert.koch], [VINHOS-ALIANCA\claudia.lionco]
GRANT ALTER ON [dbo].[MERCP_SF4010] TO [VINHOS-ALIANCA\robert.koch], [VINHOS-ALIANCA\claudia.lionco]
GRANT ALTER ON [dbo].[MERCP_SX5010] TO [VINHOS-ALIANCA\robert.koch], [VINHOS-ALIANCA\claudia.lionco]
GRANT ALTER ON [dbo].[MERCP_SYA010] TO [VINHOS-ALIANCA\robert.koch], [VINHOS-ALIANCA\claudia.lionco]
GRANT ALTER ON [dbo].[MERCP_ZAZ010] TO [VINHOS-ALIANCA\robert.koch], [VINHOS-ALIANCA\claudia.lionco]
GRANT ALTER ON [dbo].[MERCP_ZX5010] TO [VINHOS-ALIANCA\robert.koch], [VINHOS-ALIANCA\claudia.lionco]


-- Cria linked server para outros databases consultarem o Metadados.
USE [master]
EXEC master.dbo.sp_addlinkedserver @server = N'LKSRV_SIRH', @srvproduct=N'sql_server', @provider=N'SQLNCLI', @datasrc=N'SRVMETA', @provstr=N'Provider=SQLNCLI10.1;Password=siga;Persist Security Info=True;User ID=siga;Initial Catalog=SIRH', @catalog=N'SIRH'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_SIRH', @optname=N'collation compatible', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_SIRH', @optname=N'data access', @optvalue=N'true'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_SIRH', @optname=N'dist', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_SIRH', @optname=N'pub', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_SIRH', @optname=N'rpc', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_SIRH', @optname=N'rpc out', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_SIRH', @optname=N'sub', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_SIRH', @optname=N'connect timeout', @optvalue=N'0'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_SIRH', @optname=N'collation name', @optvalue=null
EXEC master.dbo.sp_serveroption @server=N'LKSRV_SIRH', @optname=N'lazy schema validation', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_SIRH', @optname=N'query timeout', @optvalue=N'0'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_SIRH', @optname=N'use remote collation', @optvalue=N'true'
EXEC master.dbo.sp_addlinkedsrvlogin @rmtsrvname = N'LKSRV_SIRH', @locallogin = 'siga' , @useself = N'True', @rmtuser = N'siga'
EXEC master.dbo.sp_addlinkedsrvlogin @rmtsrvname = N'LKSRV_SIRH', @locallogin = 'consultas' , @useself = N'True', @rmtuser = N'consultas'
EXEC master.dbo.sp_addlinkedsrvlogin @rmtsrvname = N'LKSRV_SIRH', @locallogin = 'genexus', @useself = N'False', @rmtuser = N'consultas', @rmtpassword = N'consultas'
EXEC master.dbo.sp_addlinkedsrvlogin @rmtsrvname = N'LKSRV_SIRH', @locallogin = N'VINHOS-ALIANCA\robert.koch', @useself = N'False', @rmtuser = N'consultas', @rmtpassword = N'consultas'
EXEC master.dbo.sp_addlinkedsrvlogin @rmtsrvname = N'LKSRV_SIRH', @locallogin = N'VINHOS-ALIANCA\claudia.lionco', @useself = N'False', @rmtuser = N'consultas', @rmtpassword = N'consultas'
EXEC master.dbo.sp_addlinkedsrvlogin @rmtsrvname = N'LKSRV_SIRH', @locallogin = N'VINHOS-ALIANCA\sandra.sugari', @useself = N'False', @rmtuser = N'consultas', @rmtpassword = N'consultas'
EXEC master.dbo.sp_addlinkedsrvlogin @rmtsrvname = N'LKSRV_SIRH', @locallogin = N'VINHOS-ALIANCA\daiana.ribas', @useself = N'False', @rmtuser = N'consultas', @rmtpassword = N'consultas'
EXEC master.dbo.sp_addlinkedsrvlogin @rmtsrvname = N'LKSRV_SIRH', @locallogin = N'NT SERVICE\SQLSERVERAGENT', @useself = N'False', @rmtuser = N'consultas', @rmtpassword = N'consultas'  -- para que o job diario de historicos consiga acessar.


-- Cria linked server para o MercanetHML consultar o protheus_teste
USE [master]
EXEC master.dbo.sp_addlinkedserver @server = N'LKSRV_PROTHEUS_TESTE', @srvproduct=N'sql_server', @provider=N'SQLNCLI', @datasrc=N'serverSQL', @provstr=N'Provider=SQLNCLI11;Password=Mnet#;Persist Security Info=True;User ID=mercanet;Initial Catalog=protheus_teste;Data Source=192.168.1.8', @catalog=N'protheus_teste'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_PROTHEUS_TESTE', @optname=N'collation compatible', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_PROTHEUS_TESTE', @optname=N'data access', @optvalue=N'true'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_PROTHEUS_TESTE', @optname=N'dist', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_PROTHEUS_TESTE', @optname=N'pub', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_PROTHEUS_TESTE', @optname=N'rpc', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_PROTHEUS_TESTE', @optname=N'rpc out', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_PROTHEUS_TESTE', @optname=N'sub', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_PROTHEUS_TESTE', @optname=N'connect timeout', @optvalue=N'0'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_PROTHEUS_TESTE', @optname=N'collation name', @optvalue=null
EXEC master.dbo.sp_serveroption @server=N'LKSRV_PROTHEUS_TESTE', @optname=N'lazy schema validation', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_PROTHEUS_TESTE', @optname=N'query timeout', @optvalue=N'0'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_PROTHEUS_TESTE', @optname=N'use remote collation', @optvalue=N'true'
USE [master]
EXEC master.dbo.sp_addlinkedsrvlogin @rmtsrvname = N'LKSRV_PROTHEUS_TESTE', @locallogin = NULL , @useself = N'False', @rmtuser = N'mercanet', @rmtpassword = N'Mnet#'

-- Cria linked server para o protheus consultar o Mercanet
USE [master]
EXEC master.dbo.sp_addlinkedserver @server = N'LKSRV_MERCANETPRD', @srvproduct=N'sql_server', @provider=N'SQLNCLI', @datasrc=N'SERVER02\SQL2014', @provstr=N'Provider=SQLNCLI10.1;Password=Mnet#;Persist Security Info=True;User ID=mercanet;Initial Catalog=MercanetHML;Data Source=192.168.1.2', @catalog=N'MercanetPrd'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_MERCANETPRD', @optname=N'collation compatible', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_MERCANETPRD', @optname=N'data access', @optvalue=N'true'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_MERCANETPRD', @optname=N'dist', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_MERCANETPRD', @optname=N'pub', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_MERCANETPRD', @optname=N'rpc', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_MERCANETPRD', @optname=N'rpc out', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_MERCANETPRD', @optname=N'sub', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_MERCANETPRD', @optname=N'connect timeout', @optvalue=N'0'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_MERCANETPRD', @optname=N'collation name', @optvalue=null
EXEC master.dbo.sp_serveroption @server=N'LKSRV_MERCANETPRD', @optname=N'lazy schema validation', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_MERCANETPRD', @optname=N'query timeout', @optvalue=N'0'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_MERCANETPRD', @optname=N'use remote collation', @optvalue=N'true'
EXEC master.dbo.sp_addlinkedsrvlogin @rmtsrvname = N'LKSRV_MERCANETPRD', @locallogin = NULL , @useself = N'False', @rmtuser = N'siga', @rmtpassword = N'siga'

-- Cria linked server para o protheus_teste consultar o MercanetHML
USE [master]  ---> executar isto no 192.168.1.7 onde estah o database do protheus_teste!!!
EXEC master.dbo.sp_addlinkedserver @server = N'LKSRV_MERCANETHML', @srvproduct=N'sql_server', @provider=N'SQLNCLI', @datasrc=N'serverSQL', @provstr=N'Provider=SQLNCLI10.1;Password=Mnet#;Persist Security Info=True;User ID=mercanet;Initial Catalog=MercanetHML;Data Source=192.168.1.4', @catalog=N'MercanetHML'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_MERCANETHML', @optname=N'collation compatible', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_MERCANETHML', @optname=N'data access', @optvalue=N'true'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_MERCANETHML', @optname=N'dist', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_MERCANETHML', @optname=N'pub', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_MERCANETHML', @optname=N'rpc', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_MERCANETHML', @optname=N'rpc out', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_MERCANETHML', @optname=N'sub', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_MERCANETHML', @optname=N'connect timeout', @optvalue=N'0'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_MERCANETHML', @optname=N'collation name', @optvalue=null
EXEC master.dbo.sp_serveroption @server=N'LKSRV_MERCANETHML', @optname=N'lazy schema validation', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_MERCANETHML', @optname=N'query timeout', @optvalue=N'0'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_MERCANETHML', @optname=N'use remote collation', @optvalue=N'true'
EXEC master.dbo.sp_addlinkedsrvlogin @rmtsrvname = N'LKSRV_MERCANETHML', @locallogin = NULL , @useself = N'False', @rmtuser = N'siga', @rmtpassword = N'siga'

-- Cria linked server para o Mercanet consultar o Protheus
USE [master]
EXEC master.dbo.sp_addlinkedserver @server = N'LKSRV_PROTHEUS', @srvproduct=N'sql_server', @provider=N'SQLNCLI', @datasrc=N'serverSQL', @provstr=N'Provider=SQLNCLI11;Password=Mnet#;Persist Security Info=True;User ID=mercanet;Initial Catalog=protheus;Data Source=192.168.1.4', @catalog=N'protheus'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_PROTHEUS', @optname=N'collation compatible', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_PROTHEUS', @optname=N'data access', @optvalue=N'true'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_PROTHEUS', @optname=N'dist', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_PROTHEUS', @optname=N'pub', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_PROTHEUS', @optname=N'rpc', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_PROTHEUS', @optname=N'rpc out', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_PROTHEUS', @optname=N'sub', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_PROTHEUS', @optname=N'connect timeout', @optvalue=N'0'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_PROTHEUS', @optname=N'collation name', @optvalue=null
EXEC master.dbo.sp_serveroption @server=N'LKSRV_PROTHEUS', @optname=N'lazy schema validation', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_PROTHEUS', @optname=N'query timeout', @optvalue=N'0'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_PROTHEUS', @optname=N'use remote collation', @optvalue=N'true'
USE [master]
EXEC master.dbo.sp_addlinkedsrvlogin @rmtsrvname = N'LKSRV_PROTHEUS', @locallogin = NULL , @useself = N'False', @rmtuser = N'mercanet', @rmtpassword = N'Mnet#'


-- Cria linked server para o Mercanet consultar o BI_ALIANCA
USE [master]
EXEC master.dbo.sp_addlinkedserver @server = N'LKSRV_BI_ALIANCA', @srvproduct=N'sql_server', @provider=N'SQLNCLI', @datasrc=N'serverSQL', @provstr=N'Provider=SQLNCLI11;Password=consultas;Persist Security Info=True;User ID=consultas;Initial Catalog=BI_ALIANCA;Data Source=192.168.1.4', @catalog=N'BI_ALIANCA'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_BI_ALIANCA', @optname=N'collation compatible', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_BI_ALIANCA', @optname=N'data access', @optvalue=N'true'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_BI_ALIANCA', @optname=N'dist', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_BI_ALIANCA', @optname=N'pub', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_BI_ALIANCA', @optname=N'rpc', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_BI_ALIANCA', @optname=N'rpc out', @optvalue=N'true'  -- usar TRUE para permitir aos batches de geracao de tabelas do Protheus apagarem elas antes de gerar novamente.
EXEC master.dbo.sp_serveroption @server=N'LKSRV_BI_ALIANCA', @optname=N'sub', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_BI_ALIANCA', @optname=N'connect timeout', @optvalue=N'0'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_BI_ALIANCA', @optname=N'collation name', @optvalue=null
EXEC master.dbo.sp_serveroption @server=N'LKSRV_BI_ALIANCA', @optname=N'lazy schema validation', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_BI_ALIANCA', @optname=N'query timeout', @optvalue=N'0'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_BI_ALIANCA', @optname=N'use remote collation', @optvalue=N'true'
USE [master]
--EXEC master.dbo.sp_addlinkedsrvlogin @rmtsrvname = N'LKSRV_BI_ALIANCA', @locallogin = NULL , @useself = N'False', @rmtuser = N'mercanet', @rmtpassword = N'Mnet#'


-- Cria linked server para o protheus_medio (ambiente temporario de simulacoes de custo medio) consultar o BI_ALIANCA_teste
USE [master]
-- As alternative solution you can use the parameter @datasrc instead of @provstr. @dataSrc works without setting the User ID (https://stackoverflow.com/questions/32084453/sql-linked-server-returns-error-no-login-mapping-exists-when-non-admin-account)
EXEC master.dbo.sp_addlinkedserver
	@server = N'LKSRV_BI_ALIANCA_teste',
	@srvproduct=N'sql_server',
	@provider=N'SQLNCLI',
	@datasrc=N'SERVER17',
	@catalog=N'BI_ALIANCA_teste'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_BI_ALIANCA_teste', @optname=N'collation compatible', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_BI_ALIANCA_teste', @optname=N'data access', @optvalue=N'true'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_BI_ALIANCA_teste', @optname=N'dist', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_BI_ALIANCA_teste', @optname=N'pub', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_BI_ALIANCA_teste', @optname=N'rpc', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_BI_ALIANCA_teste', @optname=N'rpc out', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_BI_ALIANCA_teste', @optname=N'sub', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_BI_ALIANCA_teste', @optname=N'connect timeout', @optvalue=N'0'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_BI_ALIANCA_teste', @optname=N'collation name', @optvalue=null
EXEC master.dbo.sp_serveroption @server=N'LKSRV_BI_ALIANCA_teste', @optname=N'lazy schema validation', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_BI_ALIANCA_teste', @optname=N'query timeout', @optvalue=N'0'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_BI_ALIANCA_teste', @optname=N'use remote collation', @optvalue=N'true'
-- Set up the Linked server to pass along login credentials
EXEC master.dbo.sp_addlinkedsrvlogin
    @rmtsrvname='LKSRV_BI_ALIANCA_teste',
    @useself='true', -- Optional. This is the default
    @locallogin=NULL; -- Optional. This is the default


-- Cria linked server para o Protheus consultar o FullWMS (base quente logistica)
-- Para isso deve ter um client Oracle instalado no servidor e o Net Manager do oracle deve ter sido executado para criar um nome de serviço.
USE [master]
EXEC master.dbo.sp_addlinkedserver @server = N'LKSRV_FULLWMS_LOGISTICA', @srvproduct=N'fullwms', @provider=N'OraOLEDB.Oracle', @datasrc=N'fullwms', @provstr=N'(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.11)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=fullwms)))'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_FULLWMS_LOGISTICA', @optname=N'collation compatible', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_FULLWMS_LOGISTICA', @optname=N'data access', @optvalue=N'true'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_FULLWMS_LOGISTICA', @optname=N'dist', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_FULLWMS_LOGISTICA', @optname=N'pub', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_FULLWMS_LOGISTICA', @optname=N'rpc', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_FULLWMS_LOGISTICA', @optname=N'rpc out', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_FULLWMS_LOGISTICA', @optname=N'sub', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_FULLWMS_LOGISTICA', @optname=N'connect timeout', @optvalue=N'0'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_FULLWMS_LOGISTICA', @optname=N'collation name', @optvalue=null
EXEC master.dbo.sp_serveroption @server=N'LKSRV_FULLWMS_LOGISTICA', @optname=N'lazy schema validation', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_FULLWMS_LOGISTICA', @optname=N'query timeout', @optvalue=N'0'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_FULLWMS_LOGISTICA', @optname=N'use remote collation', @optvalue=N'true'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_FULLWMS_LOGISTICA', @optname=N'remote proc transaction promotion', @optvalue=N'true'
EXEC master.dbo.sp_addlinkedsrvlogin @rmtsrvname = N'LKSRV_FULLWMS_LOGISTICA', @locallogin = NULL , @useself = N'False', @rmtuser = N'alianca', @rmtpassword = N'v1n1c0l4'


-- Cria linked server para o protheus consultar o naweb (mesmo que, no momento, estejam no mesmo servidor)
USE [master]
EXEC master.dbo.sp_addlinkedserver @server = N'LKSRV_NAWEB', @srvproduct=N'sql_server', @provider=N'SQLNCLI', @datasrc=N'SERVERSQL', @provstr=N'Provider=SQLNCLI10.1;Password=siga;Persist Security Info=True;User ID=siga;Initial Catalog=naweb;Data Source=192.168.1.4', @catalog=N'naweb'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_NAWEB', @optname=N'collation compatible', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_NAWEB', @optname=N'data access', @optvalue=N'true'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_NAWEB', @optname=N'dist', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_NAWEB', @optname=N'pub', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_NAWEB', @optname=N'rpc', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_NAWEB', @optname=N'rpc out', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_NAWEB', @optname=N'sub', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_NAWEB', @optname=N'connect timeout', @optvalue=N'0'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_NAWEB', @optname=N'collation name', @optvalue=null
EXEC master.dbo.sp_serveroption @server=N'LKSRV_NAWEB', @optname=N'lazy schema validation', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_NAWEB', @optname=N'query timeout', @optvalue=N'0'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_NAWEB', @optname=N'use remote collation', @optvalue=N'true'
EXEC master.dbo.sp_addlinkedsrvlogin @rmtsrvname = N'LKSRV_NAWEB', @locallogin = NULL , @useself = N'False', @rmtuser = N'siga', @rmtpassword = N'siga'


-- Cria linked server para o protheus_teste consultar o naweb_teste
USE [master]  ---> executar isto no 192.168.1.7 onde estah o database do protheus_teste!!!
EXEC master.dbo.sp_addlinkedserver @server = N'LKSRV_NAWEB_TESTE', @srvproduct=N'sql_server', @provider=N'SQLNCLI', @datasrc=N'SERVERSQL', @provstr=N'Provider=SQLNCLI10.1;Password=siga;Persist Security Info=True;User ID=siga;Initial Catalog=naweb_teste;Data Source=192.168.1.4', @catalog=N'naweb_teste'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_NAWEB_TESTE', @optname=N'collation compatible', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_NAWEB_TESTE', @optname=N'data access', @optvalue=N'true'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_NAWEB_TESTE', @optname=N'dist', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_NAWEB_TESTE', @optname=N'pub', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_NAWEB_TESTE', @optname=N'rpc', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_NAWEB_TESTE', @optname=N'rpc out', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_NAWEB_TESTE', @optname=N'sub', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_NAWEB_TESTE', @optname=N'connect timeout', @optvalue=N'0'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_NAWEB_TESTE', @optname=N'collation name', @optvalue=null
EXEC master.dbo.sp_serveroption @server=N'LKSRV_NAWEB_TESTE', @optname=N'lazy schema validation', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_NAWEB_TESTE', @optname=N'query timeout', @optvalue=N'0'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_NAWEB_TESTE', @optname=N'use remote collation', @optvalue=N'true'
EXEC master.dbo.sp_addlinkedsrvlogin @rmtsrvname = N'LKSRV_NAWEB_TESTE', @locallogin = NULL , @useself = N'False', @rmtuser = N'siga', @rmtpassword = N'siga'



-- Cria linked server para os outros databases gravarem logs no database TI (mesmo que, no momento, estejam no mesmo servidor)
USE [master]
-- As alternative solution you can use the parameter @datasrc instead of @provstr. @dataSrc works without setting the User ID (https://stackoverflow.com/questions/32084453/sql-linked-server-returns-error-no-login-mapping-exists-when-non-admin-account)
EXEC master.dbo.sp_addlinkedserver
	@server = N'LKSRV_TI',
	@srvproduct=N'sql_server',
	@provider=N'SQLNCLI',
	@datasrc=N'SERVERSQL',
	@catalog=N'TI'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_TI', @optname=N'collation compatible', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_TI', @optname=N'data access', @optvalue=N'true'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_TI', @optname=N'dist', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_TI', @optname=N'pub', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_TI', @optname=N'rpc', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_TI', @optname=N'rpc out', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_TI', @optname=N'sub', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_TI', @optname=N'connect timeout', @optvalue=N'0'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_TI', @optname=N'collation name', @optvalue=null
EXEC master.dbo.sp_serveroption @server=N'LKSRV_TI', @optname=N'lazy schema validation', @optvalue=N'false'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_TI', @optname=N'query timeout', @optvalue=N'0'
EXEC master.dbo.sp_serveroption @server=N'LKSRV_TI', @optname=N'use remote collation', @optvalue=N'true'
-- Set up the Linked server to pass along login credentials
EXEC master.dbo.sp_addlinkedsrvlogin
    @rmtsrvname='LKSRV_TI',
    @useself='true', -- Optional. This is the default
    @locallogin=NULL; -- Optional. This is the default



-- Cria usuarios para manutencao da KB do Genexus no ServerProtheus
use master
CREATE LOGIN [VINHOS-ALIANCA\guilherme.oliveira] FROM WINDOWS WITH DEFAULT_DATABASE=[master]
CREATE LOGIN [VINHOS-ALIANCA\daiana.ribas] FROM WINDOWS WITH DEFAULT_DATABASE=[master]
ALTER LOGIN [VINHOS-ALIANCA\guilherme.oliveira] WITH DEFAULT_DATABASE=[GX_KB_NAWeb_1], DEFAULT_LANGUAGE=[us_english]
ALTER LOGIN [VINHOS-ALIANCA\daiana.ribas] WITH DEFAULT_DATABASE=[GX_KB_NAWeb], DEFAULT_LANGUAGE=[us_english]
--
use GX_KB_NAWeb
CREATE USER [VINHOS-ALIANCA\guilherme.oliveira] FOR LOGIN [VINHOS-ALIANCA\guilherme.oliveira]
CREATE USER [VINHOS-ALIANCA\daiana.ribas] FOR LOGIN [VINHOS-ALIANCA\daiana.ribas]
ALTER USER [VINHOS-ALIANCA\guilherme.oliveira] WITH DEFAULT_SCHEMA=[dbo]
ALTER USER [VINHOS-ALIANCA\daiana.ribas] WITH DEFAULT_SCHEMA=[dbo]
GRANT SELECT, SHOWPLAN, INSERT, UPDATE, DELETE, VIEW DEFINITION, VIEW DATABASE STATE, EXECUTE, CREATE VIEW, CREATE TABLE, CREATE PROCEDURE TO [VINHOS-ALIANCA\guilherme.oliveira]
GRANT SELECT, SHOWPLAN, INSERT, UPDATE, DELETE, VIEW DEFINITION, VIEW DATABASE STATE, EXECUTE, CREATE VIEW, CREATE TABLE, CREATE PROCEDURE TO [VINHOS-ALIANCA\daiana.ribas]



-- Database para importação do BL01 (leitura grau uva - Maseli)
USE BL01
CREATE USER [siga] FOR LOGIN [siga]
CREATE USER [VINHOS-ALIANCA\robert.koch] FOR LOGIN [VINHOS-ALIANCA\robert.koch]
CREATE USER [VINHOS-ALIANCA\guilherme.oliveira] FOR LOGIN [VINHOS-ALIANCA\guilherme.oliveira]
ALTER USER [siga] WITH DEFAULT_SCHEMA=[dbo]
ALTER USER [VINHOS-ALIANCA\robert.koch] WITH DEFAULT_SCHEMA=[dbo]
ALTER USER [VINHOS-ALIANCA\guilherme.oliveira] WITH DEFAULT_SCHEMA=[dbo]
GRANT SELECT, INSERT, ALTER, DELETE, UPDATE TO [VINHOS-ALIANCA\robert.koch]
GRANT SELECT TO [VINHOS-ALIANCA\guilherme.oliveira]
GRANT SELECT, DELETE, UPDATE TO [siga]


-- database de uso generico pela TI da Nova Alianca
USE [TI]
CREATE USER [VINHOS-ALIANCA\robert.koch] FOR LOGIN [VINHOS-ALIANCA\robert.koch]
CREATE USER [VINHOS-ALIANCA\claudia.lionco] FOR LOGIN [VINHOS-ALIANCA\claudia.lionco]
CREATE USER [VINHOS-ALIANCA\sandra.sugari] FOR LOGIN [VINHOS-ALIANCA\sandra.sugari]
CREATE USER [VINHOS-ALIANCA\daiana.ribas] FOR LOGIN [VINHOS-ALIANCA\daiana.ribas]
CREATE USER [siga]  FOR LOGIN [siga]
CREATE USER [mercanet]  FOR LOGIN [mercanet]
CREATE USER [genexus]  FOR LOGIN [genexus]
CREATE USER [consultas]  FOR LOGIN [consultas]
ALTER USER [VINHOS-ALIANCA\robert.koch] WITH DEFAULT_SCHEMA=[dbo]
ALTER USER [VINHOS-ALIANCA\claudia.lionco] WITH DEFAULT_SCHEMA=[dbo]
ALTER USER [VINHOS-ALIANCA\sandra.sugari] WITH DEFAULT_SCHEMA=[dbo]
ALTER USER [VINHOS-ALIANCA\daiana.ribas] WITH DEFAULT_SCHEMA=[dbo]
ALTER USER [siga] WITH DEFAULT_SCHEMA=[dbo]
ALTER USER [mercanet] WITH DEFAULT_SCHEMA=[dbo]
ALTER USER [genexus] WITH DEFAULT_SCHEMA=[dbo]
GRANT CONNECT, SELECT, INSERT, EXECUTE TO [siga] -- Necessario para executar funcoes dentro de queries
GRANT CONNECT, SELECT, INSERT, EXECUTE TO [mercanet] -- Necessario para executar funcoes dentro de queries
GRANT CONNECT, SELECT, INSERT, EXECUTE TO [genexus] -- Necessario para executar funcoes dentro de queries
GRANT ALTER TO [VINHOS-ALIANCA\robert.koch]
GRANT SELECT ON [MONITOR_DATABASES] TO [consultas]
GRANT SELECT, SHOWPLAN, INSERT, UPDATE, DELETE, VIEW DEFINITION, VIEW DATABASE STATE, EXECUTE, CREATE VIEW, CREATE TABLE, CREATE PROCEDURE TO [VINHOS-ALIANCA\claudia.lionco]
GRANT SELECT, SHOWPLAN, INSERT, UPDATE, DELETE, VIEW DEFINITION, VIEW DATABASE STATE, EXECUTE, CREATE VIEW, CREATE TABLE, CREATE PROCEDURE TO [VINHOS-ALIANCA\sandra.sugari]
GRANT SELECT, SHOWPLAN, INSERT, UPDATE, DELETE, VIEW DEFINITION, VIEW DATABASE STATE, EXECUTE, CREATE VIEW, CREATE TABLE, CREATE PROCEDURE TO [VINHOS-ALIANCA\daiana.ribas]
