
-- Descricao: Retorna tabela com movimentacao de produtos (kardex) associados a determinado codigo CR do SISDEVIN.
-- Autor....: Robert Koch
-- Data.....: 27/09/2019
--
-- Historico de alteracoes:
-- 05/02/2020 - Incluído case de filial para o campo B5_VACSDXX
--

ALTER FUNCTION [dbo].[VA_FKARDEX_SISDEVIN]
-- PARAMETROS DE CHAMADA
(
	@FILIAL    AS VARCHAR(2),
	@CODIGO_CR AS VARCHAR(12),
	@DATAINI   AS VARCHAR(8),
	@DATAFIM   AS VARCHAR(8)
)
RETURNS TABLE
AS

	RETURN

WITH KARDEX
AS
(SELECT
		SB2.B2_FILIAL AS FILIAL
	   ,K.DATA
	   ,K.DOC
	   ,K.TES
	   ,SB2.B2_COD AS PRODUTO_ERP
	   ,B1_DESC AS DESCRICAO
	   ,SB2.B2_LOCAL AS ALMOX
	   ,LOTE
	   ,K.MOVIMENTO
	   ,K.MOTIVO
	   ,K.NOME AS CLIENTE_FORNEC
	   ,K.OP
	   ,K.QT_ENTRADA * SB1.B1_LITROS AS LITROS_ENTRADA
	   ,K.QT_SAIDA * SB1.B1_LITROS AS LITROS_SAIDA
	FROM SB1010 SB1
		,SB2010 SB2
		 CROSS APPLY (SELECT
				 *
			 FROM dbo.VA_FKARDEX(B2_FILIAL, B2_COD, B2_LOCAL, @DATAINI, @DATAFIM)
			 WHERE LINHA > 1
			 AND (QT_ENTRADA != 0
			 OR QT_SAIDA != 0)) AS K
	WHERE SB2.D_E_L_E_T_ = ''
	AND SB2.B2_FILIAL = @FILIAL

	-- GERA LISTA DE PRODUTOS (PROTHEUS) RELACIONADOS AO CODIGO CR SOLICITADO: BUSCA NO SB5 E SB8
	AND B2_COD IN (SELECT
			B5_COD
		FROM SB5010 SB5
		WHERE SB5.D_E_L_E_T_ = ''
		AND SB5.B5_FILIAL = '  '
		AND
		CASE
			WHEN @FILIAL = '01' THEN SB5.B5_VACSD01
			WHEN @FILIAL = '03' THEN SB5.B5_VACSD03
			WHEN @FILIAL = '07' THEN SB5.B5_VACSD07
			WHEN @FILIAL = '09' THEN SB5.B5_VACSD09
			WHEN @FILIAL = '10' THEN SB5.B5_VACSD10
			WHEN @FILIAL = '11' THEN SB5.B5_VACSD11
			WHEN @FILIAL = '13' THEN SB5.B5_VACSD13
		END = @CODIGO_CR

		UNION
		SELECT
			B8_PRODUTO
		FROM SB8010 SB8
		WHERE SB8.D_E_L_E_T_ = ''
		AND SB8.B8_FILIAL = @FILIAL
		AND SB8.B8_VACRSIS = @CODIGO_CR)

	AND SB1.D_E_L_E_T_ = ''
	AND SB1.B1_FILIAL = '  '
	AND SB1.B1_COD = SB2.B2_COD)
SELECT
	FILIAL
   ,DATA
   ,DOC
   ,MOVIMENTO +
	CASE
		WHEN MOTIVO != '' THEN ' (Motivo: ' + RTRIM(MOTIVO) + ')'
		ELSE ''
	END AS MOVIMENTO
   ,TES
   ,CASE ISNULL(SF4.F4_PODER3, 'N')
		WHEN 'R' THEN 'REMESSA'
		WHEN 'D' THEN 'DEVOLUCAO'
		WHEN 'N' THEN 'NAO MOVIMENTA'
		ELSE ISNULL(SF4.F4_PODER3, 'N')
	END AS TERCEIROS
   ,PRODUTO_ERP
   ,DESCRICAO
   ,ALMOX
   ,LOTE
   ,CLIENTE_FORNEC
   ,SUM(LITROS_ENTRADA) AS LITROS_ENTRADA
   ,SUM(LITROS_SAIDA) AS LITROS_SAIDA
   ,OP
   ,ISNULL(SC2.C2_PRODUTO, '') AS PRODUTO_DA_OP
   ,ISNULL(SB5.B5_VACSD01, '') AS CR_PRODUTO_DA_OP
FROM KARDEX
LEFT JOIN SC2010 SC2
LEFT JOIN SB5010 SB5
	ON (SB5.D_E_L_E_T_ = ''
			AND SB5.B5_FILIAL = '  '
			AND SB5.B5_COD = SC2.C2_PRODUTO)
	ON (SC2.D_E_L_E_T_ = ''
			AND SC2.C2_FILIAL = KARDEX.FILIAL
			AND SC2.C2_NUM + SC2.C2_ITEM + SC2.C2_SEQUEN + SC2.C2_ITEMGRD = KARDEX.OP)
LEFT JOIN SF4010 SF4
	ON (SF4.D_E_L_E_T_ = ''
			AND SF4.F4_FILIAL = '  '
			AND SF4.F4_CODIGO = KARDEX.TES)
GROUP BY FILIAL
		,DATA
		,DOC
		,MOVIMENTO
		,MOTIVO
		,TES
		,SF4.F4_PODER3
		,PRODUTO_ERP
		,DESCRICAO
		,ALMOX
		,LOTE

		,CLIENTE_FORNEC
		,OP
		,SC2.C2_PRODUTO
		,SB5.B5_VACSD01



