
-- Descricao: Retorna tabela com dados de fretes CFI sobre notas de saida
-- Autor....: Robert Koch
-- Data.....: 27/01/2013
--
-- Historico de alteracoes:
-- 

ALTER FUNCTION [dbo].[VA_FFRETES_SAIDAS]
-- PARAMETROS DE CHAMADA
(
	@FILIALINI     AS VARCHAR(2),
	@FILIALFIM     AS VARCHAR(2),
	@DATASAIDAINI  AS VARCHAR(8),
	@DATASAIDAFIM  AS VARCHAR(8),
	@CLIENTEINI    AS VARCHAR(6),
	@LOJAINI       AS VARCHAR (2),
	@CLIENTEFIM    AS VARCHAR(6),
	@LOJAFIM       AS VARCHAR (2),
	@PRODUTOINI    AS VARCHAR(15),
	@PRODUTOFIM    AS VARCHAR(15),
	@DOCINI        AS VARCHAR (9),
	@SERIEINI      AS VARCHAR (3),
	@DOCFIM        AS VARCHAR (9),
	@SERIEFIM      AS VARCHAR (3)
)
RETURNS TABLE
AS
RETURN                 
SELECT SD2.D2_FILIAL,
       SD2.D2_EMISSAO,
       SD2.D2_SERIE,
       SD2.D2_DOC,
       SD2.D2_ITEM,
       SD2.D2_COD,
       SD2.D2_QUANT,
       SD2.D2_CLIENTE,
       SD2.D2_LOJA,
       SZH.ZH_FORNECE,
       SZH.ZH_LOJA,
       SZH.ZH_NFFRETE,
       SZH.ZH_SERFRET,
       SZH.ZH_TPDESP,
       SZH.ZH_RATEIO AS VALOR_FRETE,
       SD2.D2_CUSTO1 AS CUSTO_FRETE
FROM   SD2010 SD2,
       SZH010 SZH,
       SD1010 SD1
WHERE  SD2.D_E_L_E_T_ = ''
       AND SD2.D2_FILIAL BETWEEN @FILIALINI AND @FILIALFIM
       AND SD2.D2_EMISSAO BETWEEN @DATASAIDAINI AND @DATASAIDAFIM
       AND SD2.D2_CLIENTE BETWEEN @CLIENTEINI AND @CLIENTEFIM  -- CLAUSULA MANTIDA APENAS PARA QUE O BANCO NAO DEIXE DE USAR O INDICE
       AND SD2.D2_CLIENTE + SD2.D2_LOJA BETWEEN @CLIENTEINI + @LOJAINI AND @CLIENTEFIM + @LOJAFIM
       AND SD2.D2_COD BETWEEN @PRODUTOINI AND @PRODUTOFIM
       AND SD2.D2_DOC BETWEEN @DOCINI AND @DOCFIM  -- CLAUSULA MANTIDA APENAS PARA QUE O BANCO NAO DEIXE DE USAR O INDICE
       AND SD2.D2_DOC + SD2.D2_SERIE BETWEEN @DOCINI + @SERIEINI AND @DOCFIM + @SERIEFIM
       AND SZH.D_E_L_E_T_ = ''
       AND SZH.ZH_FILIAL = SD2.D2_FILIAL
       AND SZH.ZH_NFSAIDA = SD2.D2_DOC
       AND SZH.ZH_SERNFS = SD2.D2_SERIE
       AND SZH.ZH_ITNFS = SD2.D2_ITEM
       AND SD1.D_E_L_E_T_ = ''
       AND SD1.D1_FILIAL = SZH.ZH_FILIAL
       AND SD1.D1_FORNECE = SZH.ZH_FORNECE
       AND SD1.D1_LOJA = SZH.ZH_LOJA
       AND SD1.D1_DOC = SZH.ZH_NFFRETE
       AND SD1.D1_SERIE = SZH.ZH_SERFRET

