-- Descricao: Retorna estrutura de produto conforme revisão no B1
-- Autor....: Cláudia Lionço
-- Data.....: 06/12/2019
--
-- Historico de alteracoes:

ALTER FUNCTION [dbo].[VA_PRODESTRUT]
-- PARAMETROS DE CHAMADA
(
	@PRODUTO  AS VARCHAR(15),
	@DATAINI  AS VARCHAR(8),
	@DATAFIM  AS VARCHAR(8)
)
RETURNS TABLE
AS

	RETURN

WITH ESTRUT (CODIGO, COD_PAI, COD_COMP, QTD, DT_INI, DT_FIM, NIVEL, REVINI, REVFIM)
AS
(SELECT
		G1_COD PAI
	   ,G1_COD
	   ,G1_COMP
	   ,G1_QUANT
	   ,G1_INI
	   ,G1_FIM
	   ,1 AS NIVEL
	   ,G1_REVINI
	   ,G1_REVFIM
	FROM SG1010 SG1
	WHERE SG1.D_E_L_E_T_ = ''
	AND G1_FILIAL = ''
	AND SG1.G1_INI <= @DATAINI
	AND SG1.G1_FIM >= @DATAFIM

	UNION ALL

	SELECT
		CODIGO
	   ,G1_COD
	   ,G1_COMP
	   ,QTD * G1_QUANT
	   ,G1_INI
	   ,G1_FIM
	   ,NIVEL + 1
	   ,G1_REVINI
	   ,G1_REVFIM
	FROM SG1010 SG1
	INNER JOIN ESTRUT EST
		ON G1_COD = COD_COMP
	WHERE SG1.D_E_L_E_T_ = ''
	AND SG1.G1_FILIAL = ''
	AND SG1.G1_INI <= @DATAINI
	AND SG1.G1_FIM >= @DATAFIM)
SELECT
	E1.CODIGO
   ,E1.COD_PAI
   ,E1.COD_COMP
   ,E1.QTD
   ,E1.DT_INI
   ,E1.DT_FIM
   ,E1.NIVEL
   ,E1.REVINI
   ,E1.REVFIM
   ,SB1.B1_COD
   ,SB1.B1_REVATU
FROM ESTRUT E1
	,SB1010 SB1
WHERE E1.CODIGO = @PRODUTO
AND SB1.D_E_L_E_T_ = ''
AND SB1.B1_COD = COD_PAI
AND E1.REVINI <= SB1.B1_REVATU
AND E1.REVFIM >= SB1.B1_REVATU


