
-- Descricao: Retorna tabela com dados de fretes sobre notas de entrada
-- Autor....: Robert Koch
-- Data.....: 27/01/2013
--
-- Historico de alteracoes:
-- 

ALTER FUNCTION [dbo].[VA_FFRETES_ENTRADAS]
-- PARAMETROS DE CHAMADA
(
	@FILIALINI      AS VARCHAR(2),
	@FILIALFIM      AS VARCHAR(2),
	@NFEDTDIGITINI  AS VARCHAR(8),
	@NFEDTDIGITFIM  AS VARCHAR(8),
	@NFEFORNECEINI  AS VARCHAR(6),
	@NFELOJAINI     AS VARCHAR(2),
	@NFEFORNECEFIM  AS VARCHAR(6),
	@NFELOJAFIM     AS VARCHAR(2),
	@NFEPRODUTOINI  AS VARCHAR(15),
	@NFEPRODUTOFIM  AS VARCHAR(15),
	@NFEDOCINI      AS VARCHAR(9),
	@NFESERIEINI    AS VARCHAR(3),
	@NFEDOCFIM      AS VARCHAR(9),
	@NFESERIEFIM    AS VARCHAR(3),
	@FRTFORNECEINI  AS VARCHAR(6),
	@FRTLOJAINI     AS VARCHAR(2),
	@FRTFORNECEFIM  AS VARCHAR(6),
	@FRTLOJAFIM     AS VARCHAR(2),
	@FRTDOCINI      AS VARCHAR(9),
	@FRTSERIEINI    AS VARCHAR(3),
	@FRTDOCFIM      AS VARCHAR(9),
	@FRTSERIEFIM    AS VARCHAR(3)
)
RETURNS TABLE
AS



	RETURN
WITH CTE
AS
(SELECT
		SD1.D1_FILIAL
	   ,SD1.D1_DTDIGIT
	   ,SD1.D1_SERIE
	   ,SD1.D1_DOC
	   ,SD1.D1_ITEM
	   ,SD1.D1_COD
	   ,SD1.D1_QUANT
	   ,SD1.D1_TOTAL
	   ,SD1.D1_FORNECE
	   ,SD1.D1_LOJA
	   ,SF8.F8_TRANSP
	   ,SF8.F8_LOJTRAN
	   ,SF8.F8_NFDIFRE
	   ,SF8.F8_SEDIFRE
	   ,
		-- VALOR DO FRETE:
		-- MULTIPLICA VALOR DO FRETE PELA QUANTIDADE DO ITEM E DIVIDE PELA QUANT.TOTAL DA NF DE
		-- COMPRA PARA ATENDER CASOS ONDE O MESMO PRODUTO CONSTA MAIS DE UMA VEZ NA NF DE ENTRADA
		-- E O FRETE DEVE SER RATEADO ENTRE TODOS ELES, POIS O CONHECIMENTO DE FRETE EH AMARRADO
		-- COM A NF ORIGINAL APENAS PELO CODIGO DO PRODUTO E NAO PELO ITEM DA NOTA. Ex: NF 003741
		SUM(SD1F.D1_TOTAL) OVER (
		PARTITION BY SD1.D1_FILIAL,
		SD1.D1_DTDIGIT,
		SD1.D1_SERIE,
		SD1.D1_DOC,
		SD1.D1_ITEM,
		SD1.D1_COD,
		SD1.D1_QUANT,
		SD1.D1_FORNECE,
		SD1.D1_LOJA,
		SF8.F8_TRANSP,
		SF8.F8_LOJTRAN,
		SF8.F8_NFDIFRE,
		SF8.F8_SEDIFRE
		) * SD1.D1_QUANT
		/ SUM(SD1.D1_QUANT)
		OVER (
		PARTITION BY SD1.D1_FILIAL,
		SD1.D1_DTDIGIT,
		SD1.D1_SERIE,
		SD1.D1_DOC,
		SD1.D1_FORNECE,
		SD1.D1_LOJA,
		SD1.D1_COD,
		SD1.D1_TES,
		SF8.F8_TRANSP,
		SF8.F8_LOJTRAN,
		SF8.F8_NFDIFRE,
		SF8.F8_SEDIFRE
		) AS VALOR_FRETE
	   ,SUM(
		SD1F.D1_TOTAL -
		CASE SF4F.F4_CREDICM -- CREDITA ICMS CFE. PARAMETRIZADO NO TES
			WHEN 'S' THEN SD1F.D1_VALICM
			ELSE 0
		END
		) OVER (
		PARTITION BY SD1.D1_FILIAL,
		SD1.D1_DTDIGIT,
		SD1.D1_SERIE,
		SD1.D1_DOC,
		SD1.D1_ITEM,
		SD1.D1_COD,
		SD1.D1_QUANT,
		SD1.D1_FORNECE,
		SD1.D1_LOJA,
		SF8.F8_TRANSP,
		SF8.F8_LOJTRAN,
		SF8.F8_NFDIFRE,
		SF8.F8_SEDIFRE
		) * SD1.D1_QUANT
		/ SUM(SD1.D1_QUANT)
		OVER (
		PARTITION BY SD1.D1_FILIAL,
		SD1.D1_DTDIGIT,
		SD1.D1_SERIE,
		SD1.D1_DOC,
		SD1.D1_FORNECE,
		SD1.D1_LOJA,
		SD1.D1_COD,
		SD1.D1_TES,
		SF8.F8_TRANSP,
		SF8.F8_LOJTRAN,
		SF8.F8_NFDIFRE,
		SF8.F8_SEDIFRE
		) AS CUSTO_FRETE
	FROM SD1010 AS SD1
		,SF8010 AS SF8
		,SD1010 AS SD1F
		,SF4010 AS SF4F
	WHERE SD1.D_E_L_E_T_ = ''
	AND SD1.D1_FILIAL BETWEEN @FILIALINI AND @FILIALFIM
	AND SD1.D1_DTDIGIT BETWEEN @NFEDTDIGITINI AND @NFEDTDIGITFIM
	AND SD1.D1_FORNECE BETWEEN @NFEFORNECEINI AND @NFEFORNECEFIM -- CLAUSULA MANTIDA PARA QUE O INDICE POR FORNECEDOR NAO SEJA DESCONSIDERADO.
	AND SD1.D1_FORNECE + SD1.D1_LOJA BETWEEN @NFEFORNECEINI + @NFELOJAINI
	AND @NFEFORNECEFIM + @NFELOJAFIM
	AND SD1.D1_COD BETWEEN @NFEPRODUTOINI AND @NFEPRODUTOFIM
	AND SD1.D1_DOC BETWEEN @NFEDOCINI AND @NFEDOCFIM -- CLAUSULA MANTIDA PARA QUE O INDICE POR DOC NAO SEJA DESCONSIDERADO.
	AND SD1.D1_DOC + SD1.D1_SERIE BETWEEN @NFEDOCINI + @NFESERIEINI
	AND @NFEDOCFIM + @NFESERIEFIM
	AND SF8.D_E_L_E_T_ = ''
	AND SF8.F8_FILIAL = SD1.D1_FILIAL
	AND SF8.F8_NFORIG = SD1.D1_DOC
	AND SF8.F8_SERORIG = SD1.D1_SERIE
	AND SF8.F8_FORNECE = SD1.D1_FORNECE
	AND SF8.F8_LOJA = SD1.D1_LOJA
	AND SF8.F8_TIPO = 'F'
	AND SF8.F8_TRANSP BETWEEN @FRTFORNECEINI AND @FRTFORNECEFIM -- CLAUSULA MANTIDA PARA QUE O INDICE POR FORNECEDOR NAO SEJA DESCONSIDERADO.
	AND SF8.F8_TRANSP + SF8.F8_LOJTRAN BETWEEN @FRTFORNECEINI
	+ @FRTLOJAINI AND @FRTFORNECEFIM + @FRTLOJAFIM
	AND SF8.F8_NFDIFRE BETWEEN @FRTDOCINI AND @FRTDOCFIM -- CLAUSULA MANTIDA PARA QUE O INDICE POR DOC NAO SEJA DESCONSIDERADO.
	AND SF8.F8_NFDIFRE BETWEEN @FRTDOCINI + @FRTSERIEINI AND
	@FRTDOCFIM + @FRTSERIEFIM
	AND SD1F.D_E_L_E_T_ = ''
	AND SD1F.D1_TIPO = 'C'
	AND SD1F.D1_FILIAL = SF8.F8_FILIAL
	AND SD1F.D1_DOC = SF8.F8_NFDIFRE
	AND SD1F.D1_SERIE = SF8.F8_SEDIFRE
	AND SD1F.D1_FORNECE = SF8.F8_TRANSP
	AND SD1F.D1_LOJA = SF8.F8_LOJTRAN
	AND SD1F.D1_COD = SD1.D1_COD
	AND SF4F.D_E_L_E_T_ = ''
	AND SF4F.F4_FILIAL = '  '
	AND SF4F.F4_CODIGO = SD1F.D1_TES)

-- PROPORCIONALIZA PELO TOTAL DO PRODUTO NOS DEMAIS DOCUMENTOS DE ENTRADA REFERENCIADOS PELO CONHECIMENTO DE FRETE.
SELECT
	D1_FILIAL
   ,D1_DTDIGIT
   ,D1_SERIE
   ,D1_DOC
   ,D1_ITEM
   ,D1_COD
   ,D1_QUANT
   ,D1_TOTAL
   ,D1_FORNECE
   ,D1_LOJA
   ,F8_TRANSP
   ,F8_LOJTRAN
   ,F8_NFDIFRE
   ,F8_SEDIFRE
   ,'' AS TPDESP -- APENAS PARA MANTER AS COLUNAS IGUAIS A FUNCAO VA_FRETES_SAIDAS.
   ,VALOR_FRETE / (SELECT
			SUM(D1_TOTAL) AS TOTAL
		FROM SD1010 AS SD1
			,SF8010 AS SF8
		WHERE SF8.D_E_L_E_T_ = ''
		AND SF8.F8_FILIAL = CTE.D1_FILIAL
		AND SF8.F8_NFDIFRE = CTE.F8_NFDIFRE
		AND SF8.F8_SEDIFRE = CTE.F8_SEDIFRE
		AND SF8.F8_TRANSP = CTE.F8_TRANSP
		AND SF8.F8_LOJTRAN = CTE.F8_LOJTRAN
		AND SF8.F8_TIPO = 'F'
		AND SD1.D_E_L_E_T_ = ''
		AND SD1.D1_FILIAL = SF8.F8_FILIAL
		AND SD1.D1_FORNECE = SF8.F8_FORNECE
		AND SD1.D1_LOJA = SF8.F8_LOJA
		AND SD1.D1_DOC = SF8.F8_NFORIG
		AND SD1.D1_SERIE = SF8.F8_SERORIG
		AND SD1.D1_COD = CTE.D1_COD)
	* CTE.D1_TOTAL AS VALOR_FRETE
   ,CUSTO_FRETE / (
		-- ENCONTRA OUTRAS NOTAS DE ENTRADA REFERENCIADAS POR ESTE CONHECIMENTO DE FRETE.
		SELECT
			SUM(D1_TOTAL) AS TOTAL
		FROM SD1010 AS SD1
			,SF8010 AS SF8
		WHERE SF8.D_E_L_E_T_ = ''
		AND SF8.F8_FILIAL = CTE.D1_FILIAL
		AND SF8.F8_NFDIFRE = CTE.F8_NFDIFRE
		AND SF8.F8_SEDIFRE = CTE.F8_SEDIFRE
		AND SF8.F8_TRANSP = CTE.F8_TRANSP
		AND SF8.F8_LOJTRAN = CTE.F8_LOJTRAN
		AND SF8.F8_TIPO = 'F'
		AND SD1.D_E_L_E_T_ = ''
		AND SD1.D1_FILIAL = SF8.F8_FILIAL
		AND SD1.D1_FORNECE = SF8.F8_FORNECE
		AND SD1.D1_LOJA = SF8.F8_LOJA
		AND SD1.D1_DOC = SF8.F8_NFORIG
		AND SD1.D1_SERIE = SF8.F8_SERORIG
		AND SD1.D1_COD = CTE.D1_COD)
	* CTE.D1_TOTAL AS
	CUSTO_FRETE
FROM CTE
       
       /* VERSAO ATEH 11/02/2013
       ALTER FUNCTION [dbo].[VA_FRETES_ENTRADAS]
       -- PARAMETROS DE CHAMADA
       (
       @FILIALINI     AS VARCHAR(2),
       @FILIALFIM     AS VARCHAR(2),
       @DATADIGITINI  AS VARCHAR(8),
       @DATADIGITFIM  AS VARCHAR(8),
       @FORNECEINI    AS VARCHAR(6),
       @LOJAINI       AS VARCHAR (2),
       @FORNECEFIM    AS VARCHAR(6),
       @LOJAFIM       AS VARCHAR (2),
       @PRODUTOINI    AS VARCHAR(15),
       @PRODUTOFIM    AS VARCHAR(15),
       @DOCINI        AS VARCHAR (9),
       @SERIEINI      AS VARCHAR (3),
       @DOCFIM        AS VARCHAR (9),
       @SERIEFIM      AS VARCHAR (3)
       )
       RETURNS TABLE
       AS
       
       RETURN                 
       
       SELECT SD1.D1_FILIAL,
       SD1.D1_DTDIGIT,
       SD1.D1_SERIE,
       SD1.D1_DOC,
       SD1.D1_ITEM,
       SD1.D1_COD,
       SD1.D1_QUANT,
       SD1.D1_FORNECE,
       SD1.D1_LOJA,
       SF8.F8_TRANSP,
       SF8.F8_LOJTRAN,
       SF8.F8_NFDIFRE,
       SF8.F8_SEDIFRE,
       '' AS TPDESP	-- APENAS PARA MANTER AS COLUNAS IGUAIS A FUNCAO VA_FRETES_SAIDAS.
       ,       
       -- VALOR DO FRETE:
       -- MULTIPLICA VALOR DO FRETE PELA QUANTIDADE DO ITEM E DIVIDE PELA QUANT.TOTAL DA NF DE
       -- COMPRA PARA ATENDER CASOS ONDE O MESMO PRODUTO CONSTA MAIS DE UMA VEZ NA NF DE ENTRADA
       -- E O FRETE DEVE SER RATEADO ENTRE TODOS ELES, POIS O CONHECIMENTO DE FRETE EH AMARRADO
       -- COM A NF ORIGINAL APENAS PELO CODIGO DO PRODUTO E NAO PELO ITEM DA NOTA. Ex: NF 003741
       SUM(
       SD1F.D1_TOTAL
       ) OVER(
       PARTITION BY SD1.D1_FILIAL,
       SD1.D1_DTDIGIT,
       SD1.D1_SERIE,
       SD1.D1_DOC,
       SD1.D1_ITEM,
       SD1.D1_COD,
       SD1.D1_QUANT,
       SD1.D1_FORNECE,
       SD1.D1_LOJA,
       SF8.F8_TRANSP,
       SF8.F8_LOJTRAN,
       SF8.F8_NFDIFRE,
       SF8.F8_SEDIFRE
       )* SD1.D1_QUANT
       / SUM(SD1.D1_QUANT)
       OVER(
       PARTITION BY SD1.D1_FILIAL,
       SD1.D1_DTDIGIT,
       SD1.D1_SERIE,
       SD1.D1_DOC,
       SD1.D1_FORNECE,
       SD1.D1_LOJA,
       SD1.D1_COD,
       SD1.D1_TES,
       SF8.F8_TRANSP,
       SF8.F8_LOJTRAN,
       SF8.F8_NFDIFRE,
       SF8.F8_SEDIFRE
       ) AS VALOR_FRETE,
       SUM(
       SD1F.D1_TOTAL - 
       CASE SF4F.F4_CREDICM -- CREDITA ICMS CFE. PARAMETRIZADO NO TES
       WHEN 'S' THEN SD1F.D1_VALICM
       ELSE 0
       END
       ) OVER(
       PARTITION BY SD1.D1_FILIAL,
       SD1.D1_DTDIGIT,
       SD1.D1_SERIE,
       SD1.D1_DOC,
       SD1.D1_ITEM,
       SD1.D1_COD,
       SD1.D1_QUANT,
       SD1.D1_FORNECE,
       SD1.D1_LOJA,
       SF8.F8_TRANSP,
       SF8.F8_LOJTRAN,
       SF8.F8_NFDIFRE,
       SF8.F8_SEDIFRE
       )* SD1.D1_QUANT
       / SUM(SD1.D1_QUANT)
       OVER(
       PARTITION BY SD1.D1_FILIAL,
       SD1.D1_DTDIGIT,
       SD1.D1_SERIE,
       SD1.D1_DOC,
       SD1.D1_FORNECE,
       SD1.D1_LOJA,
       SD1.D1_COD,
       SD1.D1_TES,
       SF8.F8_TRANSP,
       SF8.F8_LOJTRAN,
       SF8.F8_NFDIFRE,
       SF8.F8_SEDIFRE
       ) AS CUSTO_FRETE
       FROM   SD1010 AS SD1,
       SF8010 AS SF8,
       SD1010 AS SD1F,
       SF4010 AS SF4F
       WHERE  SD1.D_E_L_E_T_ = ''
       AND SD1.D1_FILIAL BETWEEN @FILIALINI AND @FILIALFIM
       AND SD1.D1_DTDIGIT BETWEEN @DATADIGITINI AND @DATADIGITFIM
       AND SD1.D1_FORNECE BETWEEN @FORNECEINI AND @FORNECEFIM  -- CLAUSULA MANTIDA PARA QUE O INDICE POR FORNECEDOR NAO SEJA DESCONSIDERADO.
       AND SD1.D1_FORNECE + SD1.D1_LOJA BETWEEN @FORNECEINI + @LOJAINI AND @FORNECEFIM + @LOJAFIM
       AND SD1.D1_COD BETWEEN @PRODUTOINI AND @PRODUTOFIM
       AND SD1.D1_DOC BETWEEN @DOCINI AND @DOCFIM  -- CLAUSULA MANTIDA PARA QUE O INDICE POR DOC NAO SEJA DESCONSIDERADO.
       AND SD1.D1_DOC + SD1.D1_SERIE BETWEEN @DOCINI + @SERIEINI AND @DOCFIM + @SERIEFIM
       AND SF8.D_E_L_E_T_ = ''
       AND SF8.F8_FILIAL = SD1.D1_FILIAL
       AND SF8.F8_NFORIG = SD1.D1_DOC
       AND SF8.F8_SERORIG = SD1.D1_SERIE
       AND SF8.F8_FORNECE = SD1.D1_FORNECE
       AND SF8.F8_LOJA = SD1.D1_LOJA
       AND SF8.F8_TIPO = 'F'
       AND SD1F.D_E_L_E_T_ = ''
       AND SD1F.D1_TIPO = 'C'
       AND SD1F.D1_FILIAL = SF8.F8_FILIAL
       AND SD1F.D1_DOC = SF8.F8_NFDIFRE
       AND SD1F.D1_SERIE = SF8.F8_SEDIFRE
       AND SD1F.D1_FORNECE = SF8.F8_TRANSP
       AND SD1F.D1_LOJA = SF8.F8_LOJTRAN
       AND SD1F.D1_COD = SD1.D1_COD
       AND SF4F.D_E_L_E_T_ = ''
       AND SF4F.F4_FILIAL = '  '
       AND SF4F.F4_CODIGO = SD1F.D1_TES
       
       */


