
-- Descricao: Retorna tabela saldos de / em terceiros
-- Autor....: Robert Koch
-- Data.....: 01/06/2018
--
-- Historico de alteracoes:
-- 13/09/2018 - Robert - Incluida coluna LOCAL
-- 17/09/2018 - Robert - Incluida coluna CUSTO_UNIT
--

ALTER FUNCTION [dbo].[VA_FSALDOS_TERCEIROS]
-- PARAMETROS DE CHAMADA
(
	@DATAREF  AS VARCHAR(8)
)
RETURNS TABLE
AS
RETURN
WITH C
AS
(SELECT
		B6_TIPO
	   ,B6_FILIAL
	   ,B6_PRODUTO
	   ,B6_LOCAL
	   ,B6_DOC
	   ,B6_SERIE
	   ,B6_TES

		-- BUSCA NOTA DE ENTRADA OU DE SAIDA CONFORME O TES USADO
	   ,CASE
			WHEN REMESSA.B6_TES < '5' THEN ISNULL((SELECT
						D1_TIPO
					FROM SD1010 SD1
					WHERE SD1.D_E_L_E_T_ = ''
					AND SD1.D1_FILIAL = REMESSA.B6_FILIAL
					AND SD1.D1_DOC = REMESSA.B6_DOC
					AND SD1.D1_SERIE = REMESSA.B6_SERIE
					AND SD1.D1_FORNECE = REMESSA.B6_CLIFOR
					AND SD1.D1_LOJA = REMESSA.B6_LOJA
					AND SD1.D1_IDENTB6 = REMESSA.B6_IDENT)
				, '')
			ELSE ISNULL((SELECT
						D2_TIPO
					FROM SD2010 SD2
					WHERE SD2.D_E_L_E_T_ = ''
					AND SD2.D2_FILIAL = REMESSA.B6_FILIAL
					AND SD2.D2_DOC = REMESSA.B6_DOC
					AND SD2.D2_SERIE = REMESSA.B6_SERIE
					AND SD2.D2_CLIENTE = REMESSA.B6_CLIFOR
					AND SD2.D2_LOJA = REMESSA.B6_LOJA
					AND SD2.D2_IDENTB6 = REMESSA.B6_IDENT)
				, '')
		END
		AS TIPO_NF

	   ,B6_CLIFOR
	   ,B6_LOJA
	   ,B6_DTDIGIT
	   ,B6_QUANT
	   ,B6_QUANT - ISNULL((SELECT
				SUM(B6_QUANT)
			FROM SB6010 DEVOL
			WHERE DEVOL.D_E_L_E_T_ = ''
			AND DEVOL.B6_FILIAL = REMESSA.B6_FILIAL
			AND DEVOL.B6_IDENT = REMESSA.B6_IDENT
			AND DEVOL.B6_DTDIGIT <= @DATAREF
			AND DEVOL.B6_PODER3 = 'D')
		, 0) AS SALDO
		,REMESSA.B6_CUSTO1 / REMESSA.B6_QUANT AS CUSTO_UNIT
	FROM SB6010 REMESSA
	WHERE REMESSA.D_E_L_E_T_ = ''
	AND REMESSA.B6_DTDIGIT <= @DATAREF
	AND B6_PODER3 = 'R'  -- REMESSA
)
SELECT B6_TIPO AS TIPO
	   ,B6_FILIAL AS FILIAL
	   ,B6_PRODUTO AS PRODUTO
	   ,B6_LOCAL AS LOCAL
	   ,B6_DOC AS NF
	   ,B6_SERIE AS SERIE
		,TIPO_NF
	   ,B6_CLIFOR AS CLIFOR
	   ,B6_LOJA AS LOJA
	   ,CASE WHEN (B6_TES < '5' AND TIPO_NF IN ('D', 'B')) OR (B6_TES >= '5' AND TIPO_NF NOT IN ('B', 'D'))
	    THEN 
	   ISNULL ((SELECT A1_NOME FROM SA1010 SA1 WHERE SA1.D_E_L_E_T_ = ''
	   AND A1_FILIAL = '  ' AND A1_COD = B6_CLIFOR AND A1_LOJA = B6_LOJA), '')
	   ELSE
	   ISNULL ((SELECT A2_NOME FROM SA2010 SA2 WHERE SA2.D_E_L_E_T_ = ''
	   AND A2_FILIAL = '  ' AND A2_COD = B6_CLIFOR AND A2_LOJA = B6_LOJA), '')
	   END AS NOME_CLIFOR
	   ,B6_DTDIGIT AS DT_DIGIT
	   ,B6_QUANT AS QT_ORIG
	   ,SALDO
	   ,CUSTO_UNIT
FROM C
WHERE SALDO != 0


