
-- Cooperativa Vinicola Nova Alianca Ltda
-- Busca prazos medios de pagamento (financeiro)
-- Autor: Robert Koch
-- Data:  14/06/2019
-- Historico de alteracoes:
--

ALTER FUNCTION [dbo].[VA_FPRAZOS_MEDIOS_PAGAR]
-- PARAMETROS DE CHAMADA
(
	@FILIAL_INI  AS VARCHAR(2),
	@FILIAL_FIM  AS VARCHAR(2),
	@EMISSAO_INI AS VARCHAR(8),
	@EMISSAO_FIM AS VARCHAR(8)
)
RETURNS TABLE
AS
	RETURN 

-- BUSCA AS COMPRAS (NOTAS FISCAIS COM DUPLICATAS A PAGAR)
WITH COMPRAS
AS
(SELECT
		SE2.E2_FORNECE AS CLIFOR
	   ,SE2.E2_LOJA AS LOJA
	   ,SA2.A2_NOME AS NOME
		-- CAMPO INDICANDO SE EH ASSOCIADO PESSOA FISICA, PARA AGRUPAR POSTERIORMENTE
	   ,CASE
			WHEN SA2.A2_TIPO = 'F' AND
				EXISTS (SELECT
						*
					FROM SZI010 SZI
					WHERE SZI.D_E_L_E_T_ = ''
					AND SZI.ZI_ASSOC = SE2.E2_FORNECE
					AND SZI.ZI_LOJASSO = SE2.E2_LOJA) THEN 'S'
			ELSE 'N'
		END AS ASSOCIADO
	   ,SE2.E2_VALOR AS VALOR
	   ,DATEDIFF(DAY, CAST(SE2.E2_EMISSAO + ' 00:00' AS DATETIME), CAST(SE2.E2_VENCREA + ' 00:00' AS DATETIME)) AS PRAZO
	FROM SE2010 SE2
	LEFT JOIN SA2010 SA2
		ON (SA2.D_E_L_E_T_ = ''
		AND A2_FILIAL = '  '
		AND SA2.A2_COD = SE2.E2_FORNECE
		AND SA2.A2_LOJA = SE2.E2_LOJA)
	WHERE SE2.D_E_L_E_T_ = ''
	AND SE2.E2_FATURA != 'NOTFAT'  -- NOTFAT eh a propria fatura (quero os titulos originais)

	-- SOMENTE AS NOTAS DE COMPRA
	AND EXISTS (SELECT
			*
		FROM SD1010 SD1
			,SF4010 SF4
			,SF1010 SF1
		WHERE SF1.D_E_L_E_T_ = ''
		AND SF1.F1_FILIAL = SD1.D1_FILIAL
		AND SF1.F1_DOC = SD1.D1_DOC
		AND SF1.F1_SERIE = SD1.D1_SERIE
		AND SF1.F1_FORNECE = SD1.D1_FORNECE
		AND SF1.F1_LOJA = SD1.D1_LOJA
		AND SF4.D_E_L_E_T_ = ''
		AND SF4.F4_FILIAL = '  '
		AND SF4.F4_CODIGO = SD1.D1_TES
		AND SF4.F4_DUPLIC = 'S'
		AND SD1.D_E_L_E_T_ = ''
		AND SD1.D1_FILIAL BETWEEN @FILIAL_INI AND @FILIAL_FIM
		AND SD1.D1_EMISSAO BETWEEN @EMISSAO_INI AND @EMISSAO_FIM
		AND SD1.D1_TIPO NOT IN ('B', 'D')
		AND SF1.F1_FILIAL = SE2.E2_FILIAL
		AND SF1.F1_DOC = SE2.E2_NUM
		AND SF1.F1_SERIE = SE2.E2_PREFIXO
		AND SF1.F1_FORNECE = SE2.E2_FORNECE
		AND SF1.F1_LOJA = SE2.E2_LOJA))
-- NOVA CTE COM O PRAZO MEDIO PONDERADO DE CADA FORNECEDOR
-- APROVEITA PARA AGLUTINAR TODOS OS ASSOCIADOS COMO SE FOSSE UM MESMO FORNECEDOR
,
COMPRAS2
AS
(SELECT
		CASE
			WHEN ASSOCIADO = 'S' THEN 'XXXXXX'
			ELSE CLIFOR
		END AS CLIFOR
	   ,CASE
			WHEN ASSOCIADO = 'S' THEN 'XX'
			ELSE LOJA
		END AS LOJA
	   ,CASE
			WHEN ASSOCIADO = 'S' THEN 'ASSOCIADOS (PESSOA FISICA)'
			ELSE NOME
		END AS NOME
	   ,SUM(VALOR) AS TOT_VALOR
	   ,COUNT(*) AS QT_TITULOS
	   ,MIN(VALOR) AS MENOR_VALOR
	   ,MAX(VALOR) AS MAIOR_VALOR
	   ,MIN(PRAZO) AS MENOR_PRAZO
	   ,MAX(PRAZO) AS MAIOR_PRAZO
	   ,ROUND(SUM(VALOR * PRAZO) / SUM(VALOR), 0) AS PRZ_MED_PONDERADO
	FROM COMPRAS
	GROUP BY CASE
				 WHEN ASSOCIADO = 'S' THEN 'XXXXXX'
				 ELSE CLIFOR
			 END
			,CASE
				 WHEN ASSOCIADO = 'S' THEN 'XX'
				 ELSE LOJA
			 END
			,CASE
				 WHEN ASSOCIADO = 'S' THEN 'ASSOCIADOS (PESSOA FISICA)'
				 ELSE NOME
			 END)

-- NOVA CTE PARA CRIAR UMA LINHA ADICIONAL COM OS TOTAIS GERAIS
,
TUDO
AS
(SELECT
		*
	FROM COMPRAS2
	UNION ALL
	SELECT
		'ZZZZZZ'
	   ,'ZZ'
	   ,'TOTAL GERAL'
	   ,SUM(TOT_VALOR)
	   ,SUM(QT_TITULOS)
	   ,MIN(MENOR_VALOR)
	   ,MAX(MAIOR_VALOR)
	   ,MIN(MENOR_PRAZO)
	   ,MAX(MAIOR_PRAZO)
	   ,ROUND(SUM(TOT_VALOR * PRZ_MED_PONDERADO) / SUM(TOT_VALOR), 0)
	FROM COMPRAS2)
SELECT
	TOP 100 PERCENT *
FROM TUDO
ORDER BY TOT_VALOR DESC

