

-- Descricao: Retorno dos valores da view para realizar pivot dos dados
-- Autor....: Cláudia Lionço
-- Data.....: 18/12/2019
--
-- Historico de alteracoes:

ALTER FUNCTION [dbo].[VA_ZBCMAT]
-- PARAMETROS DE CHAMADA
(
	@DATAINI     AS VARCHAR(8),
	@DATAFIM     AS VARCHAR(8),
	@EVEINI      AS VARCHAR(4),
	@EVEFIM      AS VARCHAR(4),
	@ANOINI      AS VARCHAR(4),
	@ANOFIM      AS VARCHAR(4),
	@NIVELINI    AS VARCHAR(1),
	@NIVELFIM    AS VARCHAR(1)
)
RETURNS TABLE
AS

	RETURN

WITH C (COD_PAI, COMPONENTE, MES, ANO, DTPLANEJ, QTD_PLANEJ, QTD_ESTRUT, QNT_PROD)
AS
(SELECT
		COD_PAI
	   ,COMPONENTE
	   ,MES
	   ,ANO
	   ,DTPLANEJ
	   ,SUM(QTD_PLANEJ)
	   ,SUM(QTD_ESTRUT)
	   ,SUM(QNT_PROD)
	FROM dbo.VA_PLANCOMP(@DATAINI, @DATAFIM, @EVEINI, @EVEFIM , @ANOINI, @ANOFIM, @NIVELINI, @NIVELFIM)
	GROUP BY COD_PAI
			,COMPONENTE
			,MES
			,ANO
			,DTPLANEJ
	UNION ALL SELECT
		COD_PAI
	   ,COMPONENTE
	   ,MES
	   ,ANO
	   ,DTPLANEJ
	   ,SUM(QTD_PLANEJ)
	   ,SUM(QTD_ESTRUT)
	   ,SUM(QNT_PROD)
	FROM dbo.VA_PLANOPC(@DATAINI, @DATAFIM, @EVEINI, @EVEFIM , @ANOINI, @ANOFIM)
	GROUP BY COD_PAI
			,COMPONENTE
			,MES
			,ANO
			,DTPLANEJ)
SELECT
	COD_PAI
   ,COMPONENTE
   ,MES
   ,ANO
   ,DTPLANEJ
   ,SUM(QTD_PLANEJ) AS QTD_PLANEJ
   ,SUM(QTD_ESTRUT) AS QTD_ESTRUT
   ,SUM(QNT_PROD) AS QNT_PROD
FROM C
GROUP BY COD_PAI
		,COMPONENTE
		,MES
		,ANO
		,DTPLANEJ


