
-- Cooperativa Vinicola Nova Alianca Ltda
-- Busca prazos medios de recebimento (financeiro)
-- Autor: Robert Koch
-- Data:  14/06/2019
-- Historico de alteracoes:
-- 09/12/2019 - Robert - Passa a receber o parametro @AGRUPAR_POR para poder agrupar por representante
--

ALTER FUNCTION [dbo].[VA_FPRAZOS_MEDIOS_RECEBER]
-- PARAMETROS DE CHAMADA
(
	@FILIAL_INI  AS VARCHAR(2),
	@FILIAL_FIM  AS VARCHAR(2),
	@EMISSAO_INI AS VARCHAR(8),
	@EMISSAO_FIM AS VARCHAR(8),
	@AGRUPAR_POR AS VARCHAR(1)
)
RETURNS TABLE
AS
	RETURN 
	
-- BUSCA NOTAS DE VENDA E SUAS DUPLICATAS
WITH VENDAS
AS
(SELECT CASE WHEN @AGRUPAR_POR = 'C' THEN SE1.E1_CLIENTE + '/' + SE1.E1_LOJA
			ELSE CASE WHEN @AGRUPAR_POR = 'R' THEN SE1.E1_VEND1
				ELSE '' 
			END
		END AS CODIGO
		,CASE WHEN @AGRUPAR_POR = 'C' THEN ISNULL (SA1.A1_NOME, '')
			ELSE CASE WHEN @AGRUPAR_POR = 'R' THEN ISNULL (SA3.A3_NOME, '')
				ELSE '' 
			END
		END AS NOME
	   ,SE1.E1_VALOR AS VALOR
	   ,DATEDIFF(DAY, CAST(SE1.E1_EMISSAO + ' 00:00' AS DATETIME), CAST(SE1.E1_VENCREA + ' 00:00' AS DATETIME)) AS PRAZO
	FROM SE1010 SE1
	LEFT JOIN SA1010 SA1
		ON (SA1.D_E_L_E_T_ = ''
		AND SA1.A1_FILIAL = '  '
		AND SA1.A1_COD = SE1.E1_CLIENTE
		AND SA1.A1_LOJA = SE1.E1_LOJA)
	LEFT JOIN SA3010 SA3
		ON (SA3.D_E_L_E_T_ = ''
		AND SA3.A3_FILIAL = '  '
		AND SA3.A3_COD = SE1.E1_VEND1)
	WHERE SE1.D_E_L_E_T_ = ''
	AND SE1.E1_VALOR > 0
	AND SE1.E1_FATURA != 'NOTFAT' -- NOTFAT eh a propria fatura (quero os titulos originais)

	-- SOMENTE AS NOTAS DE VENDA, PARA MANTER CONSISTENCIA COM O ML_FATMES (REL. ANALISE DE SAIDAS)
	AND EXISTS (SELECT
			*
		FROM SD2010 SD2
			,SF4010 SF4
			,SF2010 SF2
		WHERE SF2.D_E_L_E_T_ = ''
		AND SF2.F2_FILIAL = SD2.D2_FILIAL
		AND SF2.F2_DOC = SD2.D2_DOC
		AND SF2.F2_SERIE = SD2.D2_SERIE
		AND SF4.D_E_L_E_T_ = ''
		AND SF4.F4_FILIAL = '  '
		AND SF4.F4_CODIGO = SD2.D2_TES
		AND SF4.F4_MARGEM = '1'
		AND SD2.D_E_L_E_T_ = ''
		AND SD2.D2_FILIAL BETWEEN @FILIAL_INI AND @FILIAL_FIM
		AND SD2.D2_EMISSAO BETWEEN @EMISSAO_INI AND @EMISSAO_FIM
		AND SD2.D2_TIPO != 'D'
		AND SF2.F2_FILIAL = SE1.E1_FILIAL
		AND SF2.F2_DOC = SE1.E1_NUM
		AND SF2.F2_SERIE = SE1.E1_PREFIXO))

-- NOVA CTE COM O PRAZO MEDIO PONDERADO DE CADA CLIENTE
,
VENDAS2
AS
(SELECT
	   CODIGO
	   ,NOME
	   ,SUM(VALOR) AS TOT_VALOR
	   ,COUNT(*) AS QT_TITULOS
	   ,MIN(VALOR) AS MENOR_VALOR
	   ,MAX(VALOR) AS MAIOR_VALOR
	   ,MIN(PRAZO) AS MENOR_PRAZO
	   ,MAX(PRAZO) AS MAIOR_PRAZO
	   ,ROUND(SUM(VALOR * PRAZO) / SUM(VALOR), 0) AS PRZ_MED_PONDERADO
	FROM VENDAS
	GROUP BY CODIGO
			,NOME)

-- NOVA CTE PARA CRIAR UMA LINHA ADICIONAL COM OS TOTAIS GERAIS
,
TUDO
AS
(SELECT
		*
	FROM VENDAS2
	UNION ALL
	SELECT
		'ZZZZZZ'
	   ,'TOTAL GERAL'
	   ,SUM(TOT_VALOR)
	   ,SUM(QT_TITULOS)
	   ,MIN(MENOR_VALOR)
	   ,MAX(MAIOR_VALOR)
	   ,MIN(MENOR_PRAZO)
	   ,MAX(MAIOR_PRAZO)
	   ,ROUND(SUM(TOT_VALOR * PRZ_MED_PONDERADO) / SUM(TOT_VALOR), 0)
	FROM VENDAS2)
SELECT
	top 100 percent *  -- Usa TOP 100 PERCENT para poder usar ORDER BY
FROM TUDO
ORDER BY TOT_VALOR DESC


