

-- Descricao: Retorna estrutura de componentes opcionais planejados com quantidades planejado * qnt. estrutura
-- Autor....: Cláudia Lionço
-- Data.....: 18/12/2019
--
-- Historico de alteracoes:

ALTER FUNCTION [dbo].[VA_PLANOPC]
-- PARAMETROS DE CHAMADA
(
	@DATAINI     AS VARCHAR(8),
	@DATAFIM     AS VARCHAR(8),
	@EVEINI      AS VARCHAR(4),
	@EVEFIM      AS VARCHAR(4),
	@ANOINI      AS VARCHAR(4),
	@ANOFIM      AS VARCHAR(4)
)
RETURNS TABLE
AS

	RETURN

SELECT
	ZBD.ZBD_PROD AS COD_PAI
   ,ZBD.ZBD_CODOPC AS COMPONENTE
   ,MONTH(SHC.HC_DATA) AS MES
   ,YEAR(SHC.HC_DATA) AS ANO
   ,SHC.HC_DATA AS DTPLANEJ
   ,SUM(SHC.HC_QUANT) AS QTD_PLANEJ
   ,SUM(SG1.G1_QUANT) AS QTD_ESTRUT
   ,SUM(SG1.G1_QUANT * SHC.HC_QUANT) AS QNT_PROD
FROM ZBD010 ZBD
LEFT JOIN SHC010 SHC
	ON (SHC.D_E_L_E_T_ = ''
			AND SHC.HC_PRODUTO = ZBD.ZBD_PROD
			AND SHC.HC_DATA = ZBD.ZBD_DATA
			AND SHC.HC_VAEVENT = ZBD.ZBD_VAEVE
			AND SHC.HC_ANO = ZBD.ZBD_ANO)
LEFT JOIN SB1010 SB1
	ON (SB1.D_E_L_E_T_ = ''
			AND SB1.B1_COD = ZBD.ZBD_PROD)
LEFT JOIN SG1010 SG1
	ON (SG1.D_E_L_E_T_ = ''
			AND SG1.G1_COD = ZBD.ZBD_PROD
			AND SG1.G1_COMP = ZBD.ZBD_CODOPC
			AND SG1.G1_REVINI <= SB1.B1_REVATU
			AND SG1.G1_REVFIM >= SB1.B1_REVATU)
WHERE ZBD.D_E_L_E_T_ = ''
AND ZBD.ZBD_DATA BETWEEN @DATAINI  AND @DATAFIM
AND ZBD.ZBD_VAEVE BETWEEN @EVEINI AND @EVEFIM
AND ZBD.ZBD_ANO BETWEEN @ANOINI  AND @ANOFIM 
GROUP BY ZBD.ZBD_PROD
		,ZBD.ZBD_CODOPC
		,MONTH(SHC.HC_DATA)
		,YEAR(SHC.HC_DATA)
		,SHC.HC_DATA 


