

-- Descricao: Retorna tabela para consulta de orcado X realizado no NaWeb. Implementado em forma de funcao por que,
--            com query simples usando CTE, ficava muito pesado para fazer os acumulados.
-- Autor....: Robert Koch
-- Data.....: 02/12/2019
--
-- Historico de alteracoes:
--

ALTER FUNCTION [dbo].[VA_FCONS_ORCAMENTO]
-- PARAMETROS DE CHAMADA
(
	@FILINI   AS VARCHAR(2),
	@FILFIM   AS VARCHAR(2),
	@ANO      AS VARCHAR(4),
	@MESINI   AS VARCHAR(2),
	@MESFIM   AS VARCHAR(2)
)

-- RETORNA TABELA TEMPORARIA
		RETURNS @RET TABLE (ORDEM INT
                    ,DESC_N1 VARCHAR (30)
                    ,DESC_N2 VARCHAR (60)
                    ,CONTA VARCHAR (20)
                    ,DESCRICAO VARCHAR (40)
					,CC VARCHAR (9)
					,FILIAL VARCHAR (2)
					,ORC_ANO FLOAT
					,ORC FLOAT
                    ,REA FLOAT
					,REA_ANT FLOAT
					,PAG_FIN_BANC VARCHAR (1)  -- INDICA SE EH PAGTO.FINANCIAMENTOS BANCARIOS (LINHA APENAS INFORMATIVA, NAO DEVE SER COMPUTADA NOS TOTAIS)
					,EH_DEPRECIACAO VARCHAR (1)  -- INDICA SE EH DEPRECIACAO, PARA POSTERIOR CALCULO DE EBITDA.
					unique NONCLUSTERED (ORDEM, DESC_N1, DESC_N2, CONTA, FILIAL, CC)
					)
AS
BEGIN


	DECLARE @DATAINI VARCHAR (8) = @ANO + @MESINI + '01';
	DECLARE @DATAFIM VARCHAR (8) = @ANO + @MESFIM + '31';
	DECLARE @VISAO VARCHAR (3) = '524'
	DECLARE @ANO_ANT VARCHAR (4) = @ANO - 1;
	DECLARE @DATAINIANT VARCHAR (8) = @ANO_ANT + SUBSTRING (@DATAINI, 5, 4);
	DECLARE @DATAFIMANT VARCHAR (8) = @ANO_ANT + SUBSTRING (@DATAFIM, 5, 4);

	-- GERA UM CTE DA TABELA CTS CONTENDO OS CAMPOS PRINCIPAIS, JAH FILTRADO PELA VISAO QUE ME INTERESSA.
	;WITH CTS AS (
	SELECT CTS.CTS_VAGRP, RTRIM (CTS.CTS_DESCCG) + RTRIM (CTS_DETHCG) AS DESC_N2, CTS.CTS_NORMAL, CTS.CTS_CT1INI, CTS.CTS_CT1FIM, CTS.CTS_CTTINI, CTS.CTS_CTTFIM
			, CASE WHEN CTS.CTS_ORDEM = '0000070102' THEN 'S' ELSE 'N' END AS PAGTO_FIN_BANC
			, CASE WHEN CTS.CTS_ORDEM IN ('0000021211','0000031102','0000031203') THEN 'S' ELSE 'N' END AS EH_DEPRECIACAO
	  FROM CTS010 CTS
	WHERE CTS.D_E_L_E_T_ = ''
	  AND CTS.CTS_FILIAL = '  '
	  AND CTS.CTS_CODPLA = @VISAO
	  AND CTS.CTS_CLASSE = '2'
	)

	-- GERA UMA CTE AGRUPANDO CONTAS E NIVEIS PARA POSTERIOR VISUALIZACAO
	, NIVEIS AS (SELECT 1  AS ORDEM, 'RECEITA BRUTA'                AS DESC_N1, CTS.* FROM CTS WHERE CTS.CTS_VAGRP = 1
	   UNION ALL SELECT 2  AS ORDEM, 'IPI/ST'                       AS DESC_N1, CTS.* FROM CTS WHERE CTS.CTS_VAGRP = 2
	   UNION ALL SELECT 4  AS ORDEM, 'DEDUCOES'                     AS DESC_N1, CTS.* FROM CTS WHERE CTS.CTS_VAGRP = 4
	   UNION ALL SELECT 6  AS ORDEM, 'CPV'                          AS DESC_N1, CTS.* FROM CTS WHERE CTS.CTS_VAGRP = 6
	   UNION ALL SELECT 7  AS ORDEM, 'DESPESAS INDUL.(INFORMATIVO)' AS DESC_N1, CTS.* FROM CTS WHERE CTS.CTS_VAGRP = 7
	   UNION ALL SELECT 8  AS ORDEM, 'LUCRO BRUTO'                  AS DESC_N1, CTS.* FROM CTS WHERE CTS.CTS_VAGRP = 8
	   UNION ALL SELECT 9  AS ORDEM, 'DESPESAS ADMINISTRATIVAS'     AS DESC_N1, CTS.* FROM CTS WHERE CTS.CTS_VAGRP = 9
	   UNION ALL SELECT 10 AS ORDEM, 'DESPESAS COMERCIAIS'          AS DESC_N1, CTS.* FROM CTS WHERE CTS.CTS_VAGRP = 10
	   UNION ALL SELECT 12 AS ORDEM, 'RESULTADO FINANCEIRO'         AS DESC_N1, CTS.* FROM CTS WHERE CTS.CTS_VAGRP = 12
	   UNION ALL SELECT 13 AS ORDEM, 'INCENTIVOS FISCAIS'           AS DESC_N1, CTS.* FROM CTS WHERE CTS.CTS_VAGRP = 13
	)

	-- GERA UMA CTE COM 'SALDOS' POR CONTA E CC, PARA POSTERIORMENTE JUNTAR COM OS GRUPOS DA VISAO GERENCIAL.
	, SALDOS AS (
	SELECT  CQ3_FILIAL AS FILIAL,
			CQ3_CONTA AS CONTA,
			'01' + SUBSTRING (CQ3_CCUSTO, 3, 7) AS CC, --CQ3_CCUSTO AS CC,
			ISNULL (SUM (CASE WHEN CQ3_TPSALD = '0' AND CQ3_DATA BETWEEN @ANO + '0101' AND @ANO + '1231' THEN CQ3_DEBITO - CQ3_CREDIT ELSE 0 END), 0) * CASE WHEN CQ3_CONTA IN ('401010102002', '401010102005') THEN -1 ELSE 1 END AS ORCADO_ANO,
			ISNULL (SUM (CASE WHEN CQ3_TPSALD = '0' AND CQ3_DATA BETWEEN @DATAINI      AND @DATAFIM      THEN CQ3_DEBITO - CQ3_CREDIT ELSE 0 END), 0) * CASE WHEN CQ3_CONTA IN ('401010102002', '401010102005') THEN -1 ELSE 1 END AS ORCADO,
			ISNULL (SUM (CASE WHEN CQ3_TPSALD = '1' AND CQ3_DATA BETWEEN @DATAINI      AND @DATAFIM      THEN CQ3_DEBITO - CQ3_CREDIT ELSE 0 END), 0) AS REALIZADO,
			ISNULL (SUM (CASE WHEN CQ3_TPSALD = '1' AND CQ3_DATA BETWEEN @DATAINIANT   AND @DATAFIMANT   THEN CQ3_DEBITO - CQ3_CREDIT ELSE 0 END), 0) AS REALIZADO_ANOANT
		FROM CQ3010
		WHERE D_E_L_E_T_ = ''
		AND CQ3_DATA BETWEEN @ANO_ANT + '0101' AND @ANO + '1231'
		AND CQ3_FILIAL BETWEEN @FILINI AND @FILFIM
		AND (CQ3_CONTA like '4%' or CQ3_CONTA like '7%') AND (CQ3_CONTA < '701011001005' OR CQ3_CONTA > '7010110011039')  -- CONTAS TIPO 'CC' DEVEM SER DESCONSIDERADAS.
		GROUP BY CQ3_FILIAL, CQ3_CONTA, '01' + SUBSTRING (CQ3_CCUSTO, 3, 7) --CQ3_CCUSTO

		UNION ALL

		-- PAGAMENTOS DE FINANCIAMENTOS: NAO TEM CC (BUSCA DE OUTRA TABELA)
		SELECT CQ1_FILIAL AS FILIAL,
			   CQ1_CONTA AS CONTA,
				'' AS CC,
			   ISNULL (SUM (CASE WHEN CQ1_TPSALD = '0' AND CQ1_DATA BETWEEN @ANO + '0101' AND @ANO + '1231' THEN CQ1_DEBITO - CQ1_CREDIT ELSE 0 END), 0) AS ORCADO_ANO,
			   ISNULL (SUM (CASE WHEN CQ1_TPSALD = '0' AND CQ1_DATA BETWEEN @DATAINI      AND @DATAFIM      THEN CQ1_DEBITO - CQ1_CREDIT ELSE 0 END), 0) AS ORCADO,
			   ISNULL (SUM (CASE WHEN CQ1_TPSALD = '1' AND CQ1_DATA BETWEEN @DATAINIANT   AND @DATAFIMANT   THEN CQ1_DEBITO ELSE 0 END)             , 0) AS REALIZADO,
			   ISNULL (SUM (CASE WHEN CQ1_TPSALD = '1' AND CQ1_DATA BETWEEN @DATAINIANT   AND @DATAFIMANT   THEN CQ1_DEBITO - CQ1_CREDIT ELSE 0 END), 0) AS REALIZADO_ANOANT
		  FROM CQ1010 CQ1
		 WHERE D_E_L_E_T_ = ''
		   AND CQ1_DATA BETWEEN @ANO_ANT + '0101' AND @ANO + '1231'
					   AND CQ1_FILIAL BETWEEN @FILINI AND @FILFIM
					   AND CQ1_CONTA like '2%'
					   AND EXISTS (SELECT *
						FROM CTS
						WHERE CTS.CTS_VAGRP = 12 AND CTS.PAGTO_FIN_BANC = 'S'
						AND CQ1.CQ1_CONTA BETWEEN CTS.CTS_CT1INI AND CTS.CTS_CT1FIM)
		 GROUP BY CQ1_FILIAL, CQ1_CONTA
	)

	-- GERA CTE COM GRUPOS E SALDOS DAS SUAS CONTAS PARA POSTERIOR GERACAO DE LINHAS CALCULADAS.
	,GRUPOS_COM_SALDOS AS (
	SELECT ISNULL (NIVEIS.ORDEM,   99) AS ORDEM,
		   ISNULL (NIVEIS.DESC_N1, 'SEM CLASSIFICACAO') AS DESC_N1,
		   ISNULL (NIVEIS.DESC_N2, 'SEM CLASSIFICACAO') AS DESC_N2,
		   SALDOS.CONTA,
		   LTRIM (RTRIM (CT1.CT1_DESC01)) AS CT1_DESC01,
		   SALDOS.CC,
		   SALDOS.FILIAL,
		   SUM (ORCADO_ANO       * CASE NIVEIS.CTS_NORMAL WHEN '1' THEN 1 ELSE -1 END) AS ORC_ANO,
		   SUM (ORCADO           * CASE NIVEIS.CTS_NORMAL WHEN '1' THEN 1 ELSE -1 END) AS ORC,
		   SUM (REALIZADO        * CASE NIVEIS.CTS_NORMAL WHEN '1' THEN 1 ELSE -1 END * CASE WHEN NIVEIS.ORDEM IN (4,6) THEN -1 ELSE 1 END) AS REA,
		   SUM (REALIZADO_ANOANT * CASE NIVEIS.CTS_NORMAL WHEN '1' THEN 1 ELSE -1 END * CASE WHEN NIVEIS.ORDEM IN (4,6) THEN -1 ELSE 1 END) AS REA_ANT,
		   NIVEIS.PAGTO_FIN_BANC,
		   NIVEIS.EH_DEPRECIACAO
		FROM CT1010 CT1, SALDOS
			LEFT JOIN NIVEIS ON (SALDOS.CONTA BETWEEN NIVEIS.CTS_CT1INI AND NIVEIS.CTS_CT1FIM AND SALDOS.CC BETWEEN NIVEIS.CTS_CTTINI AND NIVEIS.CTS_CTTFIM)
		WHERE CT1.D_E_L_E_T_ = ''
		AND CT1.CT1_FILIAL = '  '
		AND CT1.CT1_CONTA = SALDOS.CONTA
		AND (SALDOS.ORCADO != 0 OR SALDOS.REALIZADO != 0 OR REALIZADO_ANOANT != 0)
		GROUP BY NIVEIS.ORDEM, NIVEIS.DESC_N1, NIVEIS.DESC_N2, SALDOS.CONTA, CT1.CT1_DESC01, SALDOS.FILIAL, SALDOS.CC, NIVEIS.PAGTO_FIN_BANC, NIVEIS.EH_DEPRECIACAO
	)

	INSERT INTO @RET SELECT * FROM GRUPOS_COM_SALDOS

	-- CALCULA RECEITA BASE ICMS
	INSERT INTO @RET SELECT 3 AS ORDEM,
			'RECEITA BASE ICMS' AS DESC_N1,
			'RECEITA BASE ICMS' AS DESC_N2,
			'' AS CONTA,
			'' AS CT1_DESC01,
			'' AS CC,
			'' AS FILIAL,
			(SELECT SUM (ORC_ANO) FROM @RET WHERE ORDEM IN (1, 2)) AS ORC_ANO,
			(SELECT SUM (ORC)     FROM @RET WHERE ORDEM IN (1, 2)) AS ORC,
			(SELECT SUM (REA)     FROM @RET WHERE ORDEM IN (1, 2)) AS REA,
			(SELECT SUM (REA_ANT) FROM @RET WHERE ORDEM IN (1, 2)) AS REA_ANT,
			'N', 'N'

	-- CALCULA RECEITA LIQUIDA
	INSERT INTO @RET SELECT 5 AS ORDEM,
			'RECEITA LIQUIDA' AS DESC_N1,
			'RECEITA LIQUIDA' AS DESC_N2,
			'' AS CONTA,
			'' AS CT1_DESC01,
			'' AS CC,
			'' AS FILIAL,
			(SELECT SUM (ORC_ANO) FROM @RET WHERE ORDEM IN (3, 4)) AS ORC_ANO,
			(SELECT SUM (ORC    ) FROM @RET WHERE ORDEM IN (3, 4)) AS ORC,
			(SELECT SUM (REA    ) FROM @RET WHERE ORDEM IN (3, 4)) AS REA,
			(SELECT SUM (REA_ANT) FROM @RET WHERE ORDEM IN (3, 4)) AS REA_ANT,
			'N', 'N'

	-- CALCULA LUCRO BRUTO
	INSERT INTO @RET SELECT 8 AS ORDEM,
			'LUCRO BRUTO' AS DESC_N1,
			'LUCRO BRUTO' AS DESC_N2,
			'' AS CONTA,
			'' AS CT1_DESC01,
			'' AS CC,
			'' AS FILIAL,
			(SELECT SUM (ORC_ANO) FROM @RET WHERE ORDEM IN (5, 6)) AS ORC_ANO,
			(SELECT SUM (ORC    ) FROM @RET WHERE ORDEM IN (5, 6)) AS ORC,
			(SELECT SUM (REA    ) FROM @RET WHERE ORDEM IN (5, 6)) AS REA,
			(SELECT SUM (REA_ANT) FROM @RET WHERE ORDEM IN (5, 6)) AS REA_ANT,
			'N', 'N'

	-- CALCULO DO RESULTADO OPERACIONAL
	INSERT INTO @RET SELECT 11 AS ORDEM,
        'RESULTADO OPERACIONAL' AS DESC_N1,
        'RESULTADO OPERACIONAL' AS DESC_N2,
        '' AS CONTA,
        '' AS CT1_DESC01,
        '' AS CC,
        '' AS FILIAL,
        (SELECT SUM (ORC_ANO) FROM @RET WHERE ORDEM IN (8,9,10)) AS ORC_ANO,
        (SELECT SUM (ORC    ) FROM @RET WHERE ORDEM IN (8,9,10)) AS ORC,
        (SELECT SUM (REA    ) FROM @RET WHERE ORDEM IN (8,9,10)) AS REA,
        (SELECT SUM (REA_ANT) FROM @RET WHERE ORDEM IN (8,9,10)) AS REA_ANT,
		'N', 'N'

		-- CALCULO DAS SOBRAS
		INSERT INTO @RET SELECT 14 AS ORDEM,
        'SOBRAS/RESULTADO' AS DESC_N1,
        'SOBRAS/RESULTADO' AS DESC_N2,
        '' AS CONTA,
        '' AS CT1_DESC01,
        '' AS CC,
        '' AS FILIAL,
        (SELECT SUM (ORC_ANO) FROM @RET WHERE ORDEM IN (11,12,13) AND PAG_FIN_BANC != 'S') AS ORC_ANO,
        (SELECT SUM (ORC    ) FROM @RET WHERE ORDEM IN (11,12,13) AND PAG_FIN_BANC != 'S') AS ORC,
        (SELECT SUM (REA    ) FROM @RET WHERE ORDEM IN (11,12,13) AND PAG_FIN_BANC != 'S') AS REA,
        (SELECT SUM (REA_ANT) FROM @RET WHERE ORDEM IN (11,12,13) AND PAG_FIN_BANC != 'S') AS REA_ANT,
		'N', 'N'


		-- CRIA O NIVEL DE 'EBTDA'
		INSERT INTO @RET SELECT 15 AS ORDEM,
        'EBITDA' AS DESC_N1,
        'EBITDA' AS DESC_N2,
        '' AS CONTA,
        '' AS CT1_DESC01,
        '' AS CC,
        '' AS FILIAL,
        (SELECT SUM (ORC_ANO) FROM @RET WHERE ORDEM = 11) - (SELECT SUM (ORC_ANO) FROM @RET WHERE EH_DEPRECIACAO = 'S') AS ORC_ANO,
        (SELECT SUM (ORC)     FROM @RET WHERE ORDEM = 11) - (SELECT SUM (ORC)     FROM @RET WHERE EH_DEPRECIACAO = 'S') AS ORC,
        (SELECT SUM (REA)     FROM @RET WHERE ORDEM = 11) - (SELECT SUM (REA)     FROM @RET WHERE EH_DEPRECIACAO = 'S') AS REA,
        (SELECT SUM (REA_ANT) FROM @RET WHERE ORDEM = 11) - (SELECT SUM (REA_ANT) FROM @RET WHERE EH_DEPRECIACAO = 'S') AS REA_ANT,
		'N', 'N'

RETURN
END


