




-- Descricao: Retorna estrutura do produto planejado com quantidades planejado * qnt. estrutura
-- Autor....: Cláudia Lionço
-- Data.....: 18/12/2019
--
-- Historico de alteracoes:
-- 20/01/2020 - Claudia - Ajustada a query para realizar consulta com a revisão do evento produtivo

ALTER FUNCTION [dbo].[VA_PLANCOMP]
-- PARAMETROS DE CHAMADA
(
	@DATAINI     AS VARCHAR(8),
	@DATAFIM     AS VARCHAR(8),
	@EVEINI      AS VARCHAR(4),
	@EVEFIM      AS VARCHAR(4),
	@ANOINI      AS VARCHAR(4),
	@ANOFIM      AS VARCHAR(4),
	@NIVELINI    AS VARCHAR(1),
	@NIVELFIM    AS VARCHAR(1)
)
RETURNS TABLE
AS

	RETURN

WITH ESTRUT (CODIGO, COD_PAI, COD_COMP, QTD, DT_INI, DT_FIM, NIVEL, REVINI, REVFIM, GRPOPC)
AS
(SELECT
		G1_COD PAI
	   ,G1_COD
	   ,G1_COMP
	   ,G1_QUANT
	   ,G1_INI
	   ,G1_FIM
	   ,1 AS NIVEL
	   ,G1_REVINI
	   ,G1_REVFIM
	   ,G1_GROPC
	FROM SG1010 SG1
	WHERE SG1.D_E_L_E_T_ = ''
	AND G1_FILIAL = '  '
	AND SG1.G1_INI <= @DATAINI
	AND SG1.G1_FIM >= @DATAFIM UNION ALL SELECT
		CODIGO
	   ,G1_COD
	   ,G1_COMP
	   ,QTD * G1_QUANT
	   ,G1_INI
	   ,G1_FIM
	   ,NIVEL + 1
	   ,G1_REVINI
	   ,G1_REVFIM
	   ,G1_GROPC
	FROM SG1010 SG1
	INNER JOIN ESTRUT EST
		ON G1_COD = COD_COMP
	WHERE SG1.D_E_L_E_T_ = ''
	AND SG1.G1_FILIAL = '  '
	AND SG1.G1_INI <= @DATAINI
	AND SG1.G1_FIM >= @DATAFIM)
SELECT
	E1.COD_PAI
   ,E1.COD_COMP AS COMPONENTE
   ,MONTH(SHC.HC_DATA) AS MES
   ,YEAR(SHC.HC_DATA) AS ANO
   ,SHC.HC_DATA AS DTPLANEJ
   ,SUM(SHC.HC_QUANT) AS QTD_PLANEJ
   ,SUM(E1.QTD) AS QTD_ESTRUT
   ,SUM(E1.QTD * SHC.HC_QUANT) AS QNT_PROD
FROM ESTRUT E1
	,SB1010 SB1
	,SHC010 SHC
WHERE SB1.D_E_L_E_T_ = ''
AND SHC.D_E_L_E_T_ = ''
AND SB1.B1_COD = COD_PAI
--AND E1.REVINI <= SB1.B1_REVATU
--AND E1.REVFIM >= SB1.B1_REVATU
AND E1.REVINI <= SHC.HC_REVISAO
AND E1.REVFIM >= SHC.HC_REVISAO
AND SHC.HC_PRODUTO = CODIGO
AND SHC.HC_DATA BETWEEN @DATAINI AND @DATAFIM
AND SHC.HC_VAEVENT BETWEEN @EVEINI AND @EVEFIM
AND SHC.HC_ANO BETWEEN @ANOINI AND @ANOFIM
AND E1.NIVEL BETWEEN @NIVELINI AND @NIVELFIM
AND E1.GRPOPC = ''
GROUP BY COD_PAI
		,E1.COD_COMP
		,MONTH(SHC.HC_DATA)
		,YEAR(SHC.HC_DATA)
		,SHC.HC_DATA


