
ALTER PROCEDURE [dbo].[VA_BUSCA_QTD_ESTOQUE]
(
	 @IN_FILIAL VARCHAR (2)
	,@IN_PRODUTO VARCHAR (15)
	,@IN_ALMOX VARCHAR (2)
	,@IN_TIPO VARCHAR (2)
	,@IN_GRUPO VARCHAR (4)
	,@IN_ENDER VARCHAR (15)
) AS
BEGIN
	-- DEFINE VARIAVEIS PARA USO NAS QUERIES, PERMITINDO QUE A PROCEDURE RECEBA PARAMETROS 'NULL' E RETORNE TODAS AS SITUACOES.
	DECLARE @FILIAL   VARCHAR (2)  = @IN_FILIAL
	DECLARE @PRODINI  VARCHAR (15) = CASE WHEN @IN_PRODUTO IS NOT NULL THEN @IN_PRODUTO ELSE ''   END
	DECLARE @PRODFIM  VARCHAR (15) = CASE WHEN @IN_PRODUTO IS NOT NULL THEN @IN_PRODUTO ELSE 'zzzzzzzzzzzzzzz' END
	DECLARE @ALMOXINI VARCHAR (2)  = CASE WHEN @IN_ALMOX   IS NOT NULL THEN @IN_ALMOX   ELSE ''   END
	DECLARE @ALMOXFIM VARCHAR (2)  = CASE WHEN @IN_ALMOX   IS NOT NULL THEN @IN_ALMOX   ELSE 'zz' END
	DECLARE @TIPOINI  VARCHAR (2)  = CASE WHEN @IN_TIPO    IS NOT NULL THEN @IN_TIPO    ELSE ''   END
	DECLARE @TIPOFIM  VARCHAR (2)  = CASE WHEN @IN_TIPO    IS NOT NULL THEN @IN_TIPO    ELSE 'zz' END
	DECLARE @GRUPOINI VARCHAR (4)  = CASE WHEN @IN_GRUPO   IS NOT NULL THEN @IN_GRUPO   ELSE ''   END
	DECLARE @GRUPOFIM VARCHAR (4)  = CASE WHEN @IN_GRUPO   IS NOT NULL THEN @IN_GRUPO   ELSE 'zzzz' END
	DECLARE @ENDERINI VARCHAR (15) = CASE WHEN @IN_ENDER   IS NOT NULL THEN @IN_ENDER ELSE ''   END
	DECLARE @ENDERFIM VARCHAR (15) = CASE WHEN @IN_ENDER   IS NOT NULL THEN @IN_ENDER ELSE 'zzzzzzzzzzzzzzz' END
;


-- LISTA DE ITENS PARA SABER QUE TIPO DE CONTROLE ELES USAM
WITH ITENS
AS
(SELECT
		B1_COD
	   ,B1_RASTRO
	   ,B1_LOCALIZ
	   ,B1_DESC
	   ,B1_TIPO
	   ,B1_GRUPO
	FROM SB1010 SB1
	WHERE SB1.D_E_L_E_T_ = ''
	AND SB1.B1_FILIAL = '  '
	AND SB1.B1_TIPO NOT IN ('MO')
	AND SB1.B1_GRUPO BETWEEN @GRUPOINI AND @GRUPOFIM
	AND SB1.B1_TIPO BETWEEN @TIPOINI AND @TIPOFIM
	AND SB1.B1_COD BETWEEN @PRODINI AND @PRODFIM)
-- ITENS QUE NAO CONTROLAM LOTE NEM ENDERECO
SELECT
	'N' AS TIPO_CONTROLE
   ,ITENS.*
   ,B2_FILIAL
   ,B2_LOCAL
   ,'' AS B8_LOTE
   ,B2_QATU
   ,0 AS B8_SALDO
   ,'' AS BF_LOCALIZ
   ,0 AS BF_QUANT
FROM ITENS
JOIN SB2010 SB2  -- TIRAR 'LEFT' SE QUISER SOMENTE ITENS COM SALDO
	ON (SB2.D_E_L_E_T_ = ''
			AND SB2.B2_FILIAL = '01'
			AND SB2.B2_COD = ITENS.B1_COD
			AND SB2.B2_LOCAL BETWEEN @ALMOXINI AND @ALMOXFIM
			AND SB2.B2_QATU != 0)
WHERE ITENS.B1_LOCALIZ = 'N'
AND ITENS.B1_RASTRO = 'N'

-- ITENS QUE CONTROLAM APENAS LOTE
UNION ALL
SELECT
	'L' AS TIPO_CONTROLE
   ,ITENS.*
   ,B2_FILIAL
   ,B2_LOCAL
   ,B8_LOTECTL
   ,B2_QATU
   ,B8_SALDO
   ,'' AS BF_LOCALIZ
   ,0 AS BF_QUANT
FROM ITENS
JOIN SB2010 SB2
LEFT JOIN SB8010 SB8
	ON (SB8.D_E_L_E_T_ = ''
			AND SB8.B8_FILIAL = SB2.B2_FILIAL
			AND SB8.B8_PRODUTO = SB2.B2_COD
			AND SB8.B8_LOCAL = SB2.B2_LOCAL
			AND SB8.B8_SALDO != 0)
	ON (SB2.D_E_L_E_T_ = ''
			AND SB2.B2_FILIAL = @FILIAL
			AND SB2.B2_COD = ITENS.B1_COD
			AND SB2.B2_LOCAL BETWEEN @ALMOXINI AND @ALMOXFIM
			AND SB2.B2_QATU != 0)
WHERE ITENS.B1_LOCALIZ = 'N'
AND ITENS.B1_RASTRO = 'L'

-- ITENS QUE CONTROLAM APENAS ENDERECO
UNION ALL
SELECT
	'E' AS TIPO_CONTROLE
   ,ITENS.*
   ,B2_FILIAL
   ,B2_LOCAL
   ,'' AS B8_LOTECTL
   ,B2_QATU
   ,0 AS B8_SALDO
   ,BF_LOCALIZ
   ,BF_QUANT
FROM ITENS
JOIN SB2010 SB2
LEFT JOIN SBF010 SBF
	ON (SBF.D_E_L_E_T_ = ''
			AND SBF.BF_FILIAL = SB2.B2_FILIAL
			AND SBF.BF_PRODUTO = SB2.B2_COD
			AND SBF.BF_LOCAL = SB2.B2_LOCAL
			AND SBF.BF_QUANT != 0)
	ON (SB2.D_E_L_E_T_ = ''
			AND SB2.B2_FILIAL = @FILIAL
			AND SB2.B2_COD = ITENS.B1_COD
			AND SB2.B2_LOCAL BETWEEN @ALMOXINI AND @ALMOXFIM
			AND SB2.B2_QATU != 0)
WHERE ITENS.B1_LOCALIZ = 'S'
AND ITENS.B1_RASTRO = 'N'

-- ITENS QUE CONTROLAM LOTE E ENDERECO
UNION ALL
SELECT
	'LE' AS TIPO_CONTROLE
   ,ITENS.*
   ,B2_FILIAL
   ,B2_LOCAL
   ,B8_LOTECTL
   ,B2_QATU
   ,B8_SALDO
   ,BF_LOCALIZ
   ,BF_QUANT
FROM ITENS
JOIN SB2010 SB2
LEFT JOIN SB8010 SB8
LEFT JOIN SBF010 SBF
	ON (SBF.D_E_L_E_T_ = ''
			AND SBF.BF_FILIAL = SB8.B8_FILIAL
			AND SBF.BF_PRODUTO = SB8.B8_PRODUTO
			AND SBF.BF_LOCAL = SB8.B8_LOCAL
			AND SBF.BF_LOTECTL = SB8.B8_LOTECTL)
	ON (SB8.D_E_L_E_T_ = ''
			AND SB8.B8_FILIAL = SB2.B2_FILIAL
			AND SB8.B8_PRODUTO = SB2.B2_COD
			AND SB8.B8_LOCAL = SB2.B2_LOCAL
			AND SB8.B8_SALDO != 0)
	ON (SB2.D_E_L_E_T_ = ''
			AND SB2.B2_FILIAL = @FILIAL
			AND SB2.B2_COD = ITENS.B1_COD
			AND SB2.B2_LOCAL BETWEEN @ALMOXINI AND @ALMOXFIM
			AND SB2.B2_QATU != 0)
WHERE ITENS.B1_LOCALIZ = 'S'
AND ITENS.B1_RASTRO = 'L'
ORDER BY B1_COD

END

