
-- Descricao: Verifica problemas de integridade em etiquetas de producao / integracao com FullWMS
-- Autor....: Robert Koch
-- Data.....: 21/01/2022
--
-- Historico de alteracoes:
--

ALTER PROCEDURE [dbo].[VA_SP_VERIFICA_ETIQ_PRODUCAO]
(
	@IN_FILIAL    VARCHAR (2)
	,@IN_ETIQ     VARCHAR (10)
	,@IN_PRODUTO  VARCHAR (15)
	,@IN_DATA_INI VARCHAR (8)
	,@IN_DATA_FIM VARCHAR (8)
	,@IN_OP_INI   VARCHAR (14)
	,@IN_OP_FIM   VARCHAR (14)
) AS
BEGIN
	-- DEFINE VARIAVEIS PARA USO NAS QUERIES, PERMITINDO QUE A PROCEDURE RECEBA PARAMETROS 'NULL' E RETORNE TODAS AS SITUACOES.
	DECLARE @PRODINI VARCHAR (15) = CASE WHEN @IN_PRODUTO  IS NOT NULL THEN @IN_PRODUTO  ELSE ''   END
	DECLARE @PRODFIM VARCHAR (15) = CASE WHEN @IN_PRODUTO  IS NOT NULL THEN @IN_PRODUTO  ELSE 'zzzzzzzzzzzzzzz' END
	DECLARE @ETIQINI VARCHAR (10) = CASE WHEN @IN_ETIQ     IS NOT NULL THEN @IN_ETIQ     ELSE ''   END
	DECLARE @ETIQFIM VARCHAR (10) = CASE WHEN @IN_ETIQ     IS NOT NULL THEN @IN_ETIQ     ELSE 'zzzzzzzzzz' END
	DECLARE @DATAINI VARCHAR (8)  = CASE WHEN @IN_DATA_INI IS NOT NULL THEN @IN_DATA_INI ELSE ''   END
	DECLARE @DATAFIM VARCHAR (8)  = CASE WHEN @IN_DATA_FIM IS NOT NULL THEN @IN_DATA_FIM ELSE 'zzzzzzzz' END
	DECLARE @OPINI   VARCHAR (14) = CASE WHEN @IN_OP_INI   IS NOT NULL THEN @IN_OP_INI   ELSE ''   END
	DECLARE @OPFIM   VARCHAR (14) = CASE WHEN @IN_OP_FIM   IS NOT NULL THEN @IN_OP_FIM   ELSE 'zzzzzzzzzzzzzz' END

-- GERA LISTA DAS ETIQUETAS QUE INTERESSAM, BASEANDO-SE NOS DEMAIS FILTROS (OP, DATA, ETC)
;WITH ETIQ AS (
	SELECT ZA1_CODIGO, ZA1_QUANT, C2_VAOPESP
	FROM ZA1010 ZA1
	LEFT JOIN SC2010 SC2
		ON (SC2.D_E_L_E_T_ = ''
		AND SC2.C2_FILIAL = ZA1.ZA1_FILIAL
		AND SC2.C2_NUM = SUBSTRING (ZA1_OP, 1, 6)
		AND SC2.C2_ITEM = SUBSTRING (ZA1_OP, 7, 2)
		AND SC2.C2_SEQUEN = SUBSTRING (ZA1_OP, 9, 3)
		AND SC2.C2_ITEMGRD = SUBSTRING (ZA1_OP, 12, 2))
	WHERE ZA1.D_E_L_E_T_ = ''
	AND ZA1_FILIAL = @IN_FILIAL
	AND ZA1_CODIGO BETWEEN @ETIQINI AND @ETIQFIM
	AND ZA1_PROD   BETWEEN @PRODINI AND @PRODFIM
	AND ZA1_OP     BETWEEN @OPINI   AND @OPFIM
	AND EXISTS (SELECT * FROM SD3010 SD3
				WHERE SD3.D_E_L_E_T_ = ''
				AND SD3.D3_FILIAL = @IN_FILIAL
				AND SD3.D3_VAETIQ BETWEEN @ETIQINI AND @ETIQFIM
				AND SD3.D3_ESTORNO != 'S')

), MOVIMENTOS AS (
SELECT
	D3.D3_VAETIQ AS ETIQUETA
	, CASE ETIQ.C2_VAOPESP
		WHEN 'N' THEN 'Normal'
		WHEN 'R' THEN 'Reprocesso'
		WHEN 'E' THEN 'Externa(em 3os)'
		WHEN 'T' THEN 'Terceirizacao(para 3os)'
		WHEN 'F' THEN 'Filtracao'
		ELSE '' END AS TIPO_OP
	, CASE ETIQ.C2_VAOPESP WHEN 'R' THEN ZA1_QUANT ELSE 0 END AS TR_ESPERADA_92_11
	, CASE ETIQ.C2_VAOPESP WHEN 'R' THEN ZA1_QUANT ELSE ZA1_QUANT END AS TR_ESPERADA_11_01
	, CASE ETIQ.C2_VAOPESP WHEN 'R' THEN 0 ELSE ZA1_QUANT END AS PROD_ESPERADA_11
	, CASE ETIQ.C2_VAOPESP WHEN 'R' THEN ZA1_QUANT ELSE 0 END AS PERDA_ESPERADA_11
	, D3.PROD_ENCONTRADA_11
	, D3.PERDA_ENCONTRADA_11
	, D3.TR_ENCONTRADA_11_01
	, D3.TR_ENCONTRADA_92_11
FROM (SELECT  -- FAZ UMA SUBQUERY NO SD3 PARA PODER ACUMULAR OS MOVIMENTOS DE CADA ETIQUETA
		  SD3.D3_VAETIQ
		, SUM (CASE WHEN SD3.D3_CF LIKE 'PR%' AND SD3.D3_LOCAL = '11' THEN SD3.D3_QUANT ELSE 0 END) AS PROD_ENCONTRADA_11
		, SUM (CASE WHEN SD3.D3_CF LIKE 'PR%' AND SD3.D3_LOCAL = '11' THEN SD3.D3_PERDA ELSE 0 END) AS PERDA_ENCONTRADA_11
		, SUM (CASE WHEN SD3.D3_CF LIKE 'RE4' AND SD3.D3_LOCAL = '11' AND CONTRAPARTIDA.D3_LOCAL = '01' THEN SD3.D3_QUANT ELSE 0 END) AS TR_ENCONTRADA_11_01
		, SUM (CASE WHEN SD3.D3_CF LIKE 'RE4' AND SD3.D3_LOCAL = '92' AND CONTRAPARTIDA.D3_LOCAL = '11' THEN SD3.D3_QUANT ELSE 0 END) AS TR_ENCONTRADA_92_11
		FROM SD3010 SD3
			LEFT JOIN SD3010 CONTRAPARTIDA -- ORIGEM/DESTINO, QUANDO FOR TRANSFERENCIA
			ON (
				CONTRAPARTIDA.D_E_L_E_T_ != '*'
				AND CONTRAPARTIDA.D3_FILIAL = SD3.D3_FILIAL
				AND CONTRAPARTIDA.D3_ESTORNO != 'S'
				AND CONTRAPARTIDA.D3_NUMSEQ = SD3.D3_NUMSEQ
				AND SUBSTRING(CONTRAPARTIDA.D3_CF, 3, 1) = '4'
				AND CONTRAPARTIDA.R_E_C_N_O_ != SD3.R_E_C_N_O_
			)
		WHERE SD3.D_E_L_E_T_ = ''
		AND SD3.D3_FILIAL  = @IN_FILIAL
		AND SD3.D3_VAETIQ IN (SELECT ZA1_CODIGO FROM ETIQ)
		AND SD3.D3_ESTORNO != 'S'
		GROUP BY SD3.D3_VAETIQ
		) AS D3, ETIQ
		WHERE D3.D3_VAETIQ = ETIQ.ZA1_CODIGO
)
, PROBLEMAS AS (
SELECT RTRIM (CASE WHEN PROD_ENCONTRADA_11  != PROD_ESPERADA_11  THEN 'APONT.PRODUCAO ENCONTRADO (' + FORMAT (PROD_ENCONTRADA_11, 'G')  + ') DIFERENTE DO ESPERADO (' + FORMAT (PROD_ESPERADA_11,  'G') + ')' ELSE ' ' END
			+ CASE WHEN PERDA_ENCONTRADA_11 != PERDA_ESPERADA_11 THEN 'APONT.PERDA ENCONTRADO ('    + FORMAT (PERDA_ENCONTRADA_11, 'G') + ') DIFERENTE DO ESPERADO (' + FORMAT (PERDA_ESPERADA_11, 'G') + ')' ELSE ' ' END
			+ CASE WHEN TR_ENCONTRADA_11_01 != TR_ESPERADA_11_01 THEN 'TRANSF.11->01 ENCONTRADA ('  + FORMAT (TR_ENCONTRADA_11_01, 'G') + ') DIFERENTE DA ESPERADA (' + FORMAT (TR_ESPERADA_11_01, 'G') + ')' ELSE ' ' END
			+ CASE WHEN TR_ENCONTRADA_92_11 != TR_ESPERADA_92_11 THEN 'TRANSF.92->11 ENCONTRADA ('  + FORMAT (TR_ENCONTRADA_92_11, 'G') + ') DIFERENTE DA ESPERADA (' + FORMAT (TR_ESPERADA_92_11, 'G') + ')' ELSE ' ' END
	) AS PROBLEMAS
	, *
FROM MOVIMENTOS
)
SELECT *
FROM PROBLEMAS
WHERE PROBLEMAS != ''
ORDER BY ETIQUETA

END

