-- Descricao: Retorna tabela com totais de pagamento de safra
-- Autor....: Robert Koch
-- Data.....: 24/07/2023
--
-- Historico de alteracoes:
--

CREATE  PROCEDURE VA_SP_PAGTOS_SAFRA
-- PARAMETROS DE CHAMADA
(
	@IN_SAFRA AS VARCHAR(4)
)
AS
BEGIN
	
	-- CRIA TABELA TEMPORARIA COM OS TOTAIS DE PAGAMENTOS
	SELECT SUBSTRING (SE2.E2_VENCREA, 1, 6) AS ANO_MES
		--, SUM (E2_VALOR) AS VALOR_SAFRA
		, SUM (E2_VALOR - dbo.VA_FSE2_CONSUMIDO_EM_FATURA (SE2.R_E_C_N_O_, 'z')) AS VALOR_SAFRA
		, CAST (0 AS FLOAT) AS PERCENT_PARTICIP
		, SUM (E2_SALDO) AS SALDO_SAFRA
	INTO #TIT
	FROM SE2010 SE2
	WHERE SE2.D_E_L_E_T_ = ''
	AND SE2.E2_FILIAL  = '01'
	AND SE2.E2_VASAFRA = @IN_SAFRA
	AND SE2.E2_TIPO IN ('NF ', 'DP ', 'FAT')
	GROUP BY SUBSTRING (SE2.E2_VENCREA, 1, 6)

	DECLARE @TOT_SAFRA FLOAT = (SELECT SUM (VALOR_SAFRA) FROM #TIT)
	UPDATE #TIT SET PERCENT_PARTICIP = VALOR_SAFRA * 100 / @TOT_SAFRA

	-- ACRESCENTA UMA LINHA DE TOTAIS
	SELECT * FROM #TIT
	UNION ALL
	SELECT 'TOTAIS', SUM (VALOR_SAFRA), SUM (PERCENT_PARTICIP), SUM (SALDO_SAFRA)
	FROM #TIT
	ORDER BY ANO_MES
END

-- EXEC VA_SP_PAGTOS_SAFRA '2023'


