-- Descricao: Retorna tabela com totais de pagamento / saldos de safra
-- Autor....: Robert Koch
-- Data.....: 26/07/2023
--
-- Historico de alteracoes:
--

CREATE  PROCEDURE [dbo].[VA_SP_SALDOS_SAFRA]
-- PARAMETROS DE CHAMADA
(
	@IN_SAFRA AS VARCHAR(4)
	,@IN_FORNECE_INI AS VARCHAR (6)
	,@IN_LOJA_FORN_INI AS VARCHAR (2)
	,@IN_FORNECE_FIM AS VARCHAR (6)
	,@IN_LOJA_FORN_FIM AS VARCHAR (2)
)
AS
BEGIN

WITH SE2 AS (
	SELECT SUBSTRING (E2_VENCREA, 1, 6) AS ANO_MES_VCTO
		, E2_VALOR
		, dbo.VA_FSE2_CONSUMIDO_EM_FATURA (R_E_C_N_O_, 'z') AS CONSUMIDO_EM_FATURA
		, E2_SALDO
	FROM SE2010
	WHERE D_E_L_E_T_ = ''
	AND E2_FILIAL  = '01'
	AND E2_VASAFRA = @IN_SAFRA
	AND E2_TIPO IN ('NF ', 'DP ', 'FAT')
	AND E2_FORNECE + E2_LOJA BETWEEN @IN_FORNECE_INI + @IN_LOJA_FORN_INI AND @IN_FORNECE_FIM + @IN_LOJA_FORN_FIM
)

	-- CRIA TABELA TEMPORARIA COM OS TOTAIS DE PAGAMENTOS MAIS ABERTOS.
	-- POSTERIORMENTE SERAO FEITOS AGRUPAMENTOS CFE NECESSARIO.
	SELECT ANO_MES_VCTO
		, SUM (E2_VALOR - CONSUMIDO_EM_FATURA) AS VALOR_SAFRA
		, CAST (0 AS FLOAT) AS PERCENT_PARTICIP
		, CAST (0 AS FLOAT) AS PERCENT_ACUMULADO
		, SUM (E2_SALDO) AS SALDO_SAFRA
	INTO #TIT
	FROM SE2
	GROUP BY ANO_MES_VCTO

	DECLARE @TOT_SAFRA FLOAT = (SELECT SUM (VALOR_SAFRA) FROM #TIT)
	UPDATE #TIT SET PERCENT_PARTICIP = VALOR_SAFRA * 100 / @TOT_SAFRA
	UPDATE #TIT SET PERCENT_ACUMULADO = (SELECT SUM (PERCENT_PARTICIP)
										FROM #TIT T2
										WHERE T2.ANO_MES_VCTO <= #TIT.ANO_MES_VCTO)

	-- ACRESCENTA UMA LINHA DE TOTAIS
	SELECT * FROM #TIT
	UNION ALL
	SELECT 'TOTAIS', SUM (VALOR_SAFRA), SUM (PERCENT_PARTICIP), 0, SUM (SALDO_SAFRA)
	FROM #TIT
	ORDER BY ANO_MES_VCTO
END

