
-- Descricao: Verifica diferencas de estoques entre Protheus e FullWMS
-- Autor....: Robert Koch
-- Data.....: 31/05/2023
--
-- Historico de alteracoes:
--

ALTER PROCEDURE [dbo].[VA_SP_VERIFICA_ESTOQUES_FULLWMS]
(
	@IN_PRODUTO VARCHAR (15)
) AS
BEGIN
	-- DEFINE VARIAVEIS PARA USO NAS QUERIES, PERMITINDO QUE A PROCEDURE RECEBA PARAMETROS 'NULL' E RETORNE TODAS AS SITUACOES.
	DECLARE @PRODINI  VARCHAR (15) = CASE WHEN @IN_PRODUTO IS NOT NULL THEN @IN_PRODUTO ELSE ''   END
	DECLARE @PRODFIM  VARCHAR (15) = CASE WHEN @IN_PRODUTO IS NOT NULL THEN @IN_PRODUTO ELSE 'zzzzzzzzzzzzzzz' END
	DECLARE @QRY_FULL VARCHAR (MAX);

	SET @QRY_FULL = 'SELECT *'
	SET @QRY_FULL += ' FROM V_ALIANCA_ESTOQUES'
	SET @QRY_FULL += ' WHERE EMPR_CODEMP = 1'
	SET @QRY_FULL += ' AND ITEM_COD_ITEM_LOG BETWEEN ''' + @PRODINI + ''' AND ''' + @PRODFIM + ''''
	PRINT @QRY_FULL


-- GERA CTE COM ESTOQUES DO FULL ABERTOS
;WITH F AS (
	select *
	FROM OPENQUERY(LKSRV_FULLWMS_LOGISTICA, 'SELECT *
		FROM V_ALIANCA_ESTOQUES
		WHERE EMPR_CODEMP = 1'
		)
		--AND SITUACAO_RUA LIKE ''9%''')
)
	--	AND ITEM_COD_ITEM_LOG BETWEEN ''' + @PRODINI + ''' AND ''' + @PRODFIM + '')

--SELECT ITEM_COD_ITEM_LOG, LOTE, SUM (QTD)
--FROM F
--GROUP BY ITEM_COD_ITEM_LOG, LOTE

-- CTE COM OS ESTOQUES DO FULL ACUMULADOS POR ITEM
, ACUM_F AS (
	SELECT ITEM_COD_ITEM_LOG
		, SUM (CASE WHEN SITUACAO_LOTE LIKE 'B%' THEN QTD ELSE 0 END) AS FULL_LOTE_BLOQ
		, SUM (QTD) AS TOTAL_FULL
	FROM F
	GROUP BY ITEM_COD_ITEM_LOG
)

-- CTE COM OS ESTOQUES DO PROTHEUS ACUMULADOS POR ITEM
,ACUM_P AS (
	SELECT B2_COD, SB1.B1_TIPO, SB1.B1_DESC
		, SUM (CASE WHEN B2_LOCAL = '01' THEN B2_QATU ELSE 0 END) AS QTD_AX01
		, SUM (CASE WHEN B2_LOCAL = '10' THEN B2_QATU ELSE 0 END) AS QTD_AX10
		, SUM (CASE WHEN B2_LOCAL = '90' THEN B2_QATU ELSE 0 END) AS QTD_AX90
		, SUM (B2_QATU) AS TOTAL_PROTHEUS
	FROM SB1010 SB1
		, SB2010 SB2
	WHERE SB2.D_E_L_E_T_ = ''
	AND SB2.B2_FILIAL = '01'
	AND (SB2.B2_LOCAL IN ('01', '10', '91') OR (SB1.B1_TIPO = 'PA' AND B2_LOCAL = '90'))
	AND SB1.D_E_L_E_T_ = ''
	AND SB1.B1_FILIAL = '  '
	AND SB1.B1_COD = SB2.B2_COD
	AND SB1.B1_TIPO NOT IN ('MO','GF','AP')
	AND SB1.B1_VAFULLW = 'S'
	GROUP BY SB2.B2_COD, SB1.B1_TIPO, SB1.B1_DESC
)

-- JUNTA ESTOQUES DOS DOIS SISTEMAS PARA COMPARATIVO
SELECT ACUM_P.B1_TIPO, ACUM_P.B2_COD, ACUM_P.B1_DESC
	, ACUM_P.QTD_AX01, ACUM_P.QTD_AX10, ACUM_P.QTD_AX90, ACUM_P.TOTAL_PROTHEUS
	, ACUM_F.FULL_LOTE_BLOQ
	, ACUM_F.TOTAL_FULL
	, ACUM_P.TOTAL_PROTHEUS - ISNULL (ACUM_F.TOTAL_FULL, 0) AS DIF
FROM ACUM_P
		LEFT JOIN ACUM_F ON (ACUM_F.ITEM_COD_ITEM_LOG = ACUM_P.B2_COD)
WHERE ACUM_P.TOTAL_PROTHEUS - ISNULL (ACUM_F.TOTAL_FULL, 0) != 0

--and ACUM_F.TOTAL_FULL = 350

--	exec VA_SP_VERIFICA_ESTOQUES_FULLWMS null

end

