




CREATE view [dbo].[GX0017_ALMOXARIFADOS]
AS
SELECT
	NNR_FILIAL AS GX0017_FILIAL,
	NNR_CODIGO AS GX0017_CODIGO,
	NNR_CODIGO + ' - ' + NNR_DESCRI AS GX0017_DESCRICAO
FROM 
	NNR010 
WHERE 
	D_E_L_E_T_ = '' AND 
	NOT NNR_DESCRI LIKE '%(BLOQ)%'


