
ALTER VIEW [dbo].[v_wms_bloqueios]
AS
-- Cooperativa Vinicola Nova Alianca Ltda
-- View para integracao de bloqueios de estoque com o FullWMS.
-- Autor: Robert Koch
-- Data:  26/09/2023
-- Historico de alteracoes:
-- 

WITH C
AS
(
/*
	SELECT
		DD_FILIAL + DD_IDSDD as bloqueio_id
		,DD_PRODUTO as cod_item
		,DD_LOTECTL as lote
		,CASE WHEN DD_SALDO > 0 THEN 'B' ELSE 'L' END as operacao
		,DD_VAPOSF as endereco
		,DD_QUANT as quant
		,1 AS empresa
		,1 AS cd
	FROM SDD010 SDD
	WHERE SDD.D_E_L_E_T_  = ''
	  AND SDD.DD_FILIAL   = '01'  -- Nao usamos FullWMS nas filiais
	  AND SDD.DD_LOCAL    = '01'  -- Nao usamos FullWMS em outros almox
	  AND SDD.DD_VAPOSF  != ''
	  AND SDD.DD_LOTECTL != ''
	  AND SDD.DD_QUANT   > 0
*/
	SELECT
		ZBH_FILIAL + ZBH_IDOPER as bloqueio_id
		,ZBH_PRODUT as cod_item
		,ZBH_LOTE as lote
		,ZBH_OPER as operacao
		,ZBH_POSF as endereco
		,ZBH_QUANT as quant
		,1 AS empresa
		,1 AS cd
	FROM ZBH010 ZBH
	WHERE ZBH.D_E_L_E_T_  = ''
	  AND ZBH.ZBH_FILIAL  = '01'  -- Nao usamos FullWMS nas filiais
	  AND ZBH.ZBH_IDOPER >= '000022'  -- As primeiras eram testes
)
SELECT *
FROM C

-- Se ja consta na tabela de retorno, nao posso mais mostrar na view.
WHERE NOT EXISTS (SELECT *
	FROM tb_wms_bloqueios T
	WHERE T.bloqueio_id = C.bloqueio_id)


