


ALTER VIEW [dbo].[GX0065_PEDIDOS_EM_ABERTO_ITENS] AS
SELECT
	CASE C5_TPFRETE
		WHEN 'C' THEN 'CIF'
		WHEN 'F' THEN 'FOB'
	END AS GX0065_PEDIDOS_EM_ABERTO_C5_TPFRETE
   ,SC5010.C5_NUM AS GX0065_PEDIDOS_EM_ABERTO_C5_NUM
   ,dbo.VA_DTOC(C5_EMISSAO) AS GX0065_PEDIDOS_EM_ABERTO_C5_EMISSAO
   ,C5_VAUSER AS GX0065_PEDIDOS_EM_ABERTO_C5_VAUSER
   ,C5_CLIENTE AS GX0065_PEDIDOS_EM_ABERTO_C5_CLIENTE
   ,ISNULL(A1_NOME, ISNULL(A2_NOME, '')) AS GX0065_PEDIDOS_EM_ABERTO_A2_NOME
   ,C5_VAEST AS GX0065_PEDIDOS_EM_ABERTO_C5_VAEST
   ,C5_PBRUTO AS GX0065_PEDIDOS_EM_ABERTO_C5_PBRUTO
   ,C5_VAVLFAT AS GX0065_PEDIDOS_EM_ABERTO_C5_VAVLFAT
   ,(SELECT
			dbo.VA_FSTATUS_PED_VENDA(C5_FILIAL, C5_NUM))
	AS GX0065_PEDIDOS_EM_ABERTO_STATUS
   ,C5_TRANSP AS GX0065_PEDIDOS_EM_ABERTO_C5_TRANSP
   ,C5_VAOBSLG AS GX0065_PEDIDOS_EM_ABERTO_C5_VAOSLG
   ,C5_VEND1 AS GX0065_PEDIDOS_EM_ABERTO_C5_VEND1
   ,A3_VAGEREN AS GX0065_PEDIDOS_EM_ABERTO_A3_VAGEREN
   ,CASE C5_TIPO
		WHEN 'N' THEN 'Normal'
		WHEN 'C' THEN 'Compl.Preco/Quantidade'
		WHEN 'I' THEN 'Compl.ICMS'
		WHEN 'P' THEN 'Compl.IPI'
		WHEN 'D' THEN 'Dev.Compras'
		WHEN 'B' THEN 'Utiliza Fornecedor'
	END AS GX0065_PEDIDOS_EM_ABERTO_C5_TIPO
   ,ISNULL(A1_MUN, ISNULL(A2_MUN, '')) AS GX0065_PEDIDOS_EM_ABERTO_A2_MUN
   ,C5_TRANSP + ' - ' + ISNULL(A4_NOME, '') AS GX0065_PEDIDOS_EM_ABERTO_TRANSPORTADORA
   ,C5_PEDCLI AS GX0065_PEDIDOS_EM_ABERTO_C5_PEDCLI
   ,C5_FILIAL AS GX0065_PEDIDOS_EM_ABERTO_C5_FILIAL
   ,C5_MVFRE AS GX0065_PEDIDOS_EM_ABERTO_C5_MVFRE
   ,C5_VAMCONT AS GX0065_PEDIDOS_EM_ABERTO_C5_VAMCONT
   ,C6_QTDVEN AS GX0065_QUANTIDADE
   ,C6_PRODUTO AS GX0026_PRODUTO
   ,C6_DESCRI AS GX0065_DESCRICAO
   ,C6_PRCVEN AS GX0065_VALOR_CAIXA
   ,C6_VALOR AS GX0065_VALOR_TOTAL
   ,ZC1_SEQ AS GX0065_SEQUENCIA
   ,ZC1_PRC AS GX0065_VALOR_PRODUTO
   ,ZC1_VVEN AS GX0065_VALOR_VENDA 
   ,ZC1_VCUS AS GX0065_CUSTO
   ,ZC1_PCUS AS GX0065_PERCENTUAL_CUSTO
   ,ZC1_VCOM AS GX0065_COMISSAO
   ,ZC1_PCOM AS GX0065_PERCENTUAL_COMISSAO
   ,ZC1_VICMS AS GX0065_ICMS
   ,ZC1_PICMS AS GX0065_PERCENTUAL_ICMS
   ,ZC1_VPC AS GX0065_PIS_COFINS
   ,ZC1_PPC AS GX0065_PERCENTUAL_PIS_COFINS
   ,ZC1_VRAP AS GX0065_RAPEL
   ,ZC1_PRAP AS GX0065_PERCENTUAL_RAPEL
   ,ZC1_VFRE AS GX0065_FRETE
   ,ZC1_PFRE AS GX0065_PERCENTUAL_FRETE
   ,ZC1_VFIN AS GX0065_FINANCEIRO
   ,ZC1_PFIN AS GX0065_PERCENTUAL_FINANCEIRO
   ,ZC1_VMAR AS GX0065_MARGEM
   ,ZC1_PMAR AS GX0065_PERCENTUAL_MARGEM
FROM SC5010
LEFT JOIN SA1010
	ON (SA1010.D_E_L_E_T_ = ''
			AND SA1010.A1_FILIAL = ''
			AND SA1010.A1_COD = SC5010.C5_CLIENTE
			AND SA1010.A1_LOJA = SC5010.C5_LOJACLI)
LEFT JOIN SA2010
	ON (SA2010.D_E_L_E_T_ = ''
			AND SA2010.A2_FILIAL = ''
			AND SA2010.A2_COD = SC5010.C5_CLIENTE
			AND SA2010.A2_LOJA = SC5010.C5_LOJACLI)
LEFT JOIN SA4010
	ON (SA4010.D_E_L_E_T_ = ''
			AND SA4010.A4_FILIAL = ''
			AND SA4010.A4_COD = SC5010.C5_TRANSP)
JOIN SA3010
	ON (SA3010.D_E_L_E_T_ = ''
			AND SA3010.A3_FILIAL = ''
			AND SA3010.A3_COD = SC5010.C5_VEND1)
INNER JOIN SC6010
	ON (SC6010.D_E_L_E_T_ = ''
			AND SC5010.C5_FILIAL = SC6010.C6_FILIAL
			AND SC5010.C5_NUM = SC6010.C6_NUM
			AND SC6010.C6_QTDVEN > C6_QTDENT
			AND SC6010.C6_BLQ NOT IN ('R', 'S')
		)
LEFT JOIN ZC1010
	ON (ZC1010.D_E_L_E_T_ = ''
			AND ZC1010.ZC1_FILIAL = SC6010.C6_FILIAL
			AND ZC1010.ZC1_PED = SC6010.C6_NUM
			AND ZC1010.ZC1_PROD = SC6010.C6_PRODUTO
			AND ZC1010.ZC1_SEQ = (SELECT
					MAX(ZC1.ZC1_SEQ)
				FROM ZC1010 ZC1
				WHERE ZC1.D_E_L_E_T_ = ''
				AND ZC1.ZC1_FILIAL = SC6010.C6_FILIAL
				AND ZC1.ZC1_PED = SC6010.C6_NUM
				AND ZC1.ZC1_PROD = SC6010.C6_PRODUTO)
		)

