

CREATE view [dbo].[GX0055_EMPENHOS_TANQUES]
AS

SELECT 
	DC_FILIAL AS GX0055_EMPTAN_FILIAL, 
	DC_PRODUTO AS GX0055_EMPTAN_PRODUTO, 
	DC_LOCALIZ AS GX0055_EMPTAN_LOCALIZACAO, 
	
	(SELECT NNR_CODIGO + ' - ' + NNR_DESCRI FROM NNR010 WHERE NNR010.D_E_L_E_T_ = '' 
	AND NOT NNR_DESCRI LIKE '%(BLOQ)%' 
	AND NNR_CODIGO = DC_LOCAL) AS GX0055_EMPTAN_ALMOXARIFADO, 
	
	CAST(CAST(DC_QUANT AS DECIMAL(15,7)) AS VARCHAR) AS GX0055_EMPTAN_QUANTIDADE, 
	DC_LOTECTL AS GX0055_EMPTAN_LOTE,
	DC_OP AS GX0055_EMPTAN_OP, 
	DC_PEDIDO AS GX0055_EMPTAN_PEDIDO
FROM 
	SDC010--, SB1010 
WHERE 
	SDC010.D_E_L_E_T_ = '' AND 
	--SB1010.D_E_L_E_T_ = '' AND 
	DC_QUANT != 0 --AND 
	--B1_COD = DC_PRODUTO 
