
ALTER VIEW [dbo].[GX0036_MEDICOES] AS

SELECT 
ZS_SAFRA       AS GX0036_MEDICOES_SAFRA,
ZS_FILIAL      AS GX0036_MEDICOES_FILIAL,
ZS_CARGA       AS GX0036_MEDICOES_CARGA,
ZS_ITEM        AS GX0036_MEDICOES_ITEM_CARGA, 
count(ZS_HORA) AS GX0036_MEDICOES_MEDICOES,
min(ZS_GRAU)   AS GX0036_MEDICOES_GRAU_MIN,
max(ZS_GRAU)   AS GX0036_MEDICOES_GRAU_MAX,
avg(ZS_GRAU)   AS GX0036_MEDICOES_GRAU_MED,
min(ZS_HORA)   AS GX0036_MEDICOES_HORA_INI_MED,
max(ZS_HORA)   AS GX0036_MEDICOES_HORA_FIM_MED
FROM SZS010
GROUP BY ZS_CARGA, ZS_FILIAL, ZS_ITEM, ZS_SAFRA



