


ALTER VIEW GX0058_CLIENTES_REG_ESPECIAL
AS
   select 
   A1_FILIAL as GX0058_FILIAL,
   A1_COD as GX0058_COD,
   A1_CGC as GX0058_CNPJ,
   A1_NOME as GX0058_NOME,
   A1_PESSOA as GX0058_TIPO_PESSOA,
   A1_LOJA as GX0058_LOJA,
   A1_EST as GX0058_UF,
   A1_VAREGE as GX0058_TIPO_REGIME, 
   A1_VAVENRE  as GX0058_VENCIMENTO
   from SA1010
   where A1_VAVENRE <> ''
   AND D_E_L_E_T_ = ''



