


ALTER VIEW [dbo].[GX0040_FATURA_CTE] AS 

SELECT
	D2_DOC AS GX0040_FATURA_CTE_DANFE_NUMERO,
	D2_EMISSAO AS GX0040_FATURA_CTE_DANFE_DATA_EMISSAO,
	(select SUM(ZH_RATEIO) from SZH010 WHERE ZH_FILIAL = D2_FILIAL AND ZH_NFSAIDA = D2_DOC AND ZH_SERNFS = D2_SERIE and SZH010.D_E_L_E_T_ = '') as GX0040_FATURA_CTE_FRETE_COBRADO,
	C5_MVFRE AS GX0040_FATURA_CTE_FRETE_CALCULADO,
	ISNULL(ZN_DATA, '') AS GX0040_FATURA_CTE_FRETE_DATA_ENTREGA,
	ZH_NFFRETE AS GX0040_FATURA_CTE_FRETE_NUMERO,
	SE2.E2_NUM AS GX0040_FATURA_CTE_FATURA_NUMERO,
	SE2.E2_VENCREA AS GX0040_FATURA_CTE_FATURA_DATA_VCTO,
	SE2.E2_BAIXA AS GX0040_FATURA_CTE_FATURA_DATA_PAGAMENTO,
	D2_SERIE AS GX0040_FATURA_CTE_DANFE_SERIE,
	D2_FILIAL AS GX0040_FATURA_CTE_DANFE_FILIAL,	
	MAX(D2_PEDIDO) as GX0040_FATURA_CTE_PEDIDO,
	ZH_FORNECE AS GX0040_FATURA_CTE_TRANSP,
	A2_NOME AS GX0040_FATURA_CTE_TRANSP_NOME,
	A2_CGC AS GX0040_FATURA_CTE_TRANSP_CNPJ,
	ZH_LOJA AS GX0040_FATURA_CTE_LJ_TRANSP,
	ZH_SERFRET AS GX0040_FATURA_CTE_SERIE,
	C5_TPFRETE AS GX0040_FATURA_CTE_TIPO_FRETE

FROM SD2010
	LEFT JOIN SC5010 ON (SC5010.D_E_L_E_T_ = '' AND C5_FILIAL = D2_FILIAL AND C5_NUM = D2_PEDIDO)
	LEFT JOIN SZH010 ON (SZH010.D_E_L_E_T_ = '' AND ZH_FILIAL = D2_FILIAL AND ZH_NFSAIDA = D2_DOC AND ZH_SERNFS = D2_SERIE)
	LEFT JOIN SA2010 ON (SA2010.D_E_L_E_T_ = '' AND A2_COD = ZH_FORNECE)
	LEFT JOIN SZN010 ON (SZN010.D_E_L_E_T_ = '' AND ZN_FILIAL = C5_FILIAL AND ZN_PEDVEND = C5_NUM AND ZN_CODPROC = '01')
	LEFT JOIN SE2010 AS SE1 ON (SE1.D_E_L_E_T_ = '' AND E2_FILIAL = ZH_FILIAL AND E2_PREFIXO = ZH_SERFRET AND  E2_NUM = ZH_NFFRETE AND E2_FORNECE = ZH_FORNECE AND  E2_LOJA = ZH_LOJA)
	LEFT JOIN SE2010 AS SE2 ON (SE2.D_E_L_E_T_ = '' AND SE2.E2_FILIAL = SE1.E2_FILIAL AND SE2.E2_PREFIXO = SE1.E2_FATPREF AND SE2.E2_NUM = SE1.E2_FATURA AND SE2.E2_FORNECE = SE1.E2_FORNECE AND SE2.E2_LOJA = SE1.E2_LOJA)
Where SD2010.D_E_L_E_T_ = ''
GROUP BY D2_DOC, D2_SERIE, D2_FILIAL, D2_EMISSAO, C5_MVFRE, ZH_FORNECE, A2_NOME, A2_CGC, ZH_LOJA, ZH_NFFRETE, ZH_SERFRET, ZN_DATA, SE2.E2_VENCREA, SE2.E2_BAIXA, SE2.E2_NUM, C5_TPFRETE




