ALTER VIEW GX0033_ORDEM_SERVICO AS 

SELECT

STJ.TJ_FILIAL AS GX0033_ORDEM_SERVICO_TJ_FILIAL,
STJ.TJ_ORDEM AS GX0033_ORDEM_SERVICO_TJ_ORDEM,
STJ.TJ_TIPO AS GX0033_ORDEM_SERVICO_TJ_TIPO, 
STJ.TJ_CODBEM AS GX0033_ORDEM_SERVICO_TJ_CODBEM,
ST9.T9_NOME AS GX0033_ORDEM_SERVICO_T9_NOME,
ST9.T9_CCUSTO AS GX0033_ORDEM_SERVICO_T9_CCUSTO,
STJ.TJ_DTORIGI AS GX0033_ORDEM_SERVICO_TJ_DTORIGI

FROM STJ010 AS STJ LEFT JOIN ST9010 AS ST9 ON (STJ.TJ_CODBEM = ST9.T9_CODBEM AND ST9.D_E_L_E_T_ = '')
WHERE STJ.D_E_L_E_T_ = ''
