


ALTER VIEW [dbo].[GX0023_ESTOQUE_X_PEDIDOS] AS



SELECT
	C6_FILIAL AS GX0023_ESTOQUE_X_PEDIDOS_C6_FILIAL
   ,C6_LOCAL AS GX0023_ESTOQUE_X_PEDIDOS_C6_LOCAL
   ,C6_PRODUTO AS GX0023_ESTOQUE_X_PEDIDOS_C6_PRODUTO
   ,SC5010.C5_NUM AS GX0023_ESTOQUE_X_PEDIDOS_C5_NUM
   ,ISNULL((SELECT TOP 1
			'Liberação Comercial: ' + RTRIM(LTRIM(ZN_USUARIO))
			+ ' - ' + SUBSTRING(ZN_DATA, 7, 2)
			+ '/' + SUBSTRING(ZN_DATA, 5, 2)
			+ '/' + SUBSTRING(ZN_DATA, 1, 4)
			+ ' - ' + ZN_HORA
		FROM SZN010
		WHERE ZN_FILIAL = C6_FILIAL
		AND ZN_PEDVEND = C6_NUM
		AND ZN_CODEVEN = 'SC9001'
		AND D_E_L_E_T_ = ''
		ORDER BY R_E_C_N_O_ DESC)
	, '') AS GX0023_ESTOQUE_X_PEDIDOS_INFO
   ,(SELECT
			dbo.VA_FSTATUS_PED_VENDA(C5_FILIAL, C5_NUM))
	AS GX0023_ESTOQUE_X_PEDIDOS_STATUS
   ,dbo.VA_DTOC(C5_EMISSAO) AS GX0023_ESTOQUE_X_PEDIDOS_C5_EMISSAO
   ,C6_CLI AS GX0023_ESTOQUE_X_PEDIDOS_C6_CLI
   ,A1_NOME AS GX0023_ESTOQUE_X_PEDIDOS_A1_NOME
   ,A1_EST AS GX0023_ESTOQUE_X_PEDIDOS_A1_EST
   ,A1_MUN AS GX0023_ESTOQUE_X_PEDIDOS_A1_MUN
   ,C6_VALOR AS GX0023_ESTOQUE_X_PEDIDOS_C6_VALOR
   ,C5_VAMCONT AS GX0023_ESTOQUE_X_PEDIDOS_C5_VAMCONT
   ,C6_QTDVEN AS GX0023_ESTOQUE_X_PEDIDOS_C6_QTDVEN
   ,C5_VEND1 AS GX0023_ESTOQUE_X_PEDIDOS_C5_VEND1
   , --representante
	A3_NOME AS GX0023_ESTOQUE_X_PEDIDOS_A3_NOME
   , --nome representante
	C5_TPFRETE AS GX0023_ESTOQUE_X_PEDIDOS_C5_TPFRETE
   , --tipo de frete CIF/FOB
	A3_VAGEREN AS GX0023_ESTOQUE_X_PEDIDOS_A3_VAGEREN --SUPERVISOR


FROM SC6010
	,SA1010
	,SC5010
	,SA3010

WHERE C6_QTDVEN > C6_QTDENT
AND C6_BLQ NOT IN ('R', 'S')
AND SC6010.D_E_L_E_T_ = ''
AND SA1010.D_E_L_E_T_ = ''
AND SC5010.D_E_L_E_T_ = ''
AND C5_FILIAL = C6_FILIAL
AND C5_NUM = C6_NUM
AND C6_CLI = A1_COD
AND C5_TIPO <> 'B' -- SOLICITADO PELO CESAR PARA NÃO INCLUIR NO PROMPT PEDIDO NAWEB
AND A3_COD = C5_VEND1





