--USE [protheus]
--GO

--/****** Object:  View [dbo].[GX0063_CICLO_COMPRAS]    Script Date: 18/07/2023 08:28:18 ******/
--SET ANSI_NULLS ON
--GO

--SET QUOTED_IDENTIFIER ON
--GO



ALTER VIEW [dbo].[GX0063_CICLO_COMPRAS]
AS

 SELECT DISTINCT
	
    CLIENTE	AS GX0063_A1_COD
    ,SA1.A1_NOME AS GX0063_A1_NOME
    ,A3_NOME AS GX0063_A3_NOME
    ,VEND1 AS GX0063_A3_COD
    ,A3_VAGEREN AS GX0063_A3_VAGEREN
    ,EST AS GX0063_A1_EST
    ,MAX(EMISSAO) AS GX0063_A1_ULTCOM
    ,A1_VADTINC AS GX0063_A1_VADTINC
    ,A1_MSBLQL AS GX0063_A1_MSBLQL
	,DATEDIFF(day, CONCAT(SUBSTRING(MAX(EMISSAO), 1, 4), '-', SUBSTRING(MAX(EMISSAO), 5, 2),
	'-', SUBSTRING(MAX(EMISSAO), 7, 2)), GETDATE ()) AS GX0063_DiasSemCompra
    
 FROM [BI_ALIANCA].dbo.[VA_FATDADOS] FAT

 INNER JOIN protheus.dbo.SA1010 SA1
 	ON SA1.D_E_L_E_T_ = ''
 		AND SA1.A1_COD = FAT.CLIENTE
 		AND SA1.A1_LOJA = FAT.LOJA
 		AND TIPONFSAID = 'N'
 INNER JOIN protheus.dbo.SA3010 REP
 ON A3_COD = A1_VEND
 
 WHERE 
 CLIENTE <> '000000'  
 --and CLIENTE = '000017'
 --AND EMISSAO BETWEEN '20230701' AND '20230718'
 
 GROUP BY 
 
	CLIENTE
    ,SA1.A1_NOME
    ,LOJA
    ,A3_NOME
    ,VEND1
    ,A3_VAGEREN
    ,EST
    ,TIPONFSAID
    ,A1_VADTINC
    ,A1_MSBLQL 

