
CREATE view [dbo].[GX0003_CLIENTES]
AS

SELECT
	A1_COD AS GX0003_CLIENTE_CODIGO,
	A1_NOME AS GX0003_CLIENTE_NOME,
	A1_LOJA AS GX0003_LOJA_CODIGO
FROM
	SA1010
WHERE 
	A1_FILIAL = '' AND
	D_E_L_E_T_ = ''


