







ALTER VIEW [dbo].[GX0032_PEDIDO_COMPRA] AS 
SELECT
    DISTINCT
	C7_VAPROSE AS GX0032_PEDIDO_COMPRA_C7_VAPROSE,
    C7_DATPRF AS GX0032_PEDIDO_COMPRA_C7_DATPRF,
    C7_EMISSAO AS GX0032_PEDIDO_COMPRA_C7_EMISSAO,
    C7_FILIAL AS GX0032_PEDIDO_COMPRA_C7_FILIAL,
    C7_NUM AS GX0032_PEDIDO_COMPRA_C7_NUM,
    C7_ITEM AS GX0032_PEDIDO_COMPRA_C7_ITEM,
    C7_FORNECE AS GX0032_PEDIDO_COMPRA_C7_FORNECE,
    C7_VAFNOME AS GX0032_PEDIDO_COMPRA_C7_VAFNOME,
    C7_PRODUTO AS GX0032_PEDIDO_COMPRA_C7_PRODUTO,
    C7_DESCRI AS GX0032_PEDIDO_COMPRA_C7_DESCRI,
    C7_UM AS GX0032_PEDIDO_COMPRA_C7_UM,
    C7_QUANT AS GX0032_PEDIDO_COMPRA_C7_QUANT,
    C7_QUJE AS GX0032_PEDIDO_COMPRA_C7_QUJE,
    C7_PRECO AS GX0032_PEDIDO_COMPRA_C7_PRECO,
    C7_TOTAL AS GX0032_PEDIDO_COMPRA_C7_TOTAL,
    C7_RESIDUO AS GX0032_PEDIDO_COMPRA_C7_RESIDUO,
    USR.USR_NOME AS GX0032_PEDIDO_COMPRA_USUARIO,
    C7_TPFRETE AS GX0032_PEDIDO_COMPRA_C7_TPFRETE,
    SC1.C1_SOLICIT AS GX0032_PEDIDO_COMPRA_C1_SOLICIT,
    SC1.C1_NUM AS GX0032_PEDIDO_COMPRA_C1_NUM,
    C7_EMAIL AS GX0032_PEDIDO_COMPRA_C7_EMAIL,
    C7_CONAPRO AS GX0032_PEDIDO_COMPRA_C7_CONAPRO,
	C7_ACCPROC  AS GX0032_PEDIDO_COMPRA_C7_ACCPROC,
	SE4.E4_CODIGO +' - '+ SE4.E4_DESCRI As GX0032_PEDIDO_COMPRA_C7_COND, --DayRibas - 08/07/2021 - Add condição de pagamento
	
	----DayRibas - filtro em pedidos rejeitados - 06/11/2020
	CASE
        WHEN C7_ACCPROC <> '0' and C7_CONAPRO = 'R' and C7_QUJE < C7_QUANT 
			THEN 'REJ'
        ELSE
			''
	END AS GX0032_PEDIDO_COMPRA_REJEITADO,

	  CASE
		WHEN (substring(CR_CC,3,4) IN ('2009','2010','2011','3001','3002','3003') OR (CR_CC = '' AND CR_TIPOPRO IN ('AI','EP','GG','II','MA','MB','ME','MP','MT','PA','PI','PP','PS','VC','VA','VD','BN','UC','ML','MX','PS','AN','AT','SG','SL')))
			THEN 'ADMINISTRATIVO'
		WHEN (substring(CR_CC,3,4) IN ('4001','4002','4003','4004','4005','4006','4007','4008','4009','4010','4011','4012','4013','4014') OR (CR_CC = '' AND CR_TIPOPRO IN ('MR')))
			THEN 'COMERCIAL'
		WHEN (substring(CR_CC,3,4) IN ('1101','1102','1201','1202','1301','1302','1303','1304','1401','1402','1403','1404','1405','1406','1410','1901','2001','2002','2003','2004','2005','2006','2007','2008','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021','2022','2023','2024','2027','2999','1408','1409') OR (CR_CC= '' AND CR_TIPOPRO IN ('MM','AP','CL','GF','IA','MO','RE','SM','SP','MC')))
			THEN 'INDUSTRIAL'

    END AS GX0032_PEDIDO_COMPRA_LIBERADOR

FROM SC7010 AS SC7
    INNER JOIN SYS_USR AS USR 
	ON (USR.USR_ID =  SC7.C7_USER 
	AND USR.D_E_L_E_T_ = '')

	INNER JOIN SE4010 as SE4
	ON (SE4.D_E_L_E_T_ = '' 
	AND E4_FILIAL = '  ' 
	AND E4_CODIGO = SC7.C7_COND)

    LEFT JOIN SC1010 AS SC1 
	ON (SC7.C7_FILIAL = SC1.C1_FILIAL 
        AND SC7.C7_NUMSC  = SC1.C1_NUM
        AND SC7.C7_ITEMSC = SC1.C1_ITEM 
        AND SC7.C7_NUM    = SC1.C1_PEDIDO
		AND SC1.D_E_L_E_T_ = '')
    
	LEFT JOIN SCR010 
	ON (CR_NUM = SC7.C7_NUM 
	AND CR_FILIAL = SC7.C7_FILIAL 
	AND SCR010.D_E_L_E_T_ = '')
			
		  
WHERE SC7.D_E_L_E_T_ = ''




