



CREATE   VIEW [dbo].[GX0062_EVENTOS_PRODUTIVOS]
AS
SELECT
	HC_FILIAL AS FILIAL
   ,HC_ANO AS ANO
   ,HC_DOC AS DOCUMENTO
   ,HC_ITEM AS ITEM
   ,HC_PRODUTO AS PRODUTO
   ,SB1.B1_DESC AS DESC_PROD
   ,HC_DATA AS DT_EMISSAO
   ,HC_QUANT AS QUANTIDADE
   ,SB1.B1_LITROS * HC_QUANT AS QTD_LITROS
   ,HC_GRPOPC AS GRUPO_OPC
   ,HC_OPCITEM AS ITEM_OPC
   ,HC_TPOPRD AS PARADAS_PROD
   ,SHC.HC_TPOPRD AS DESC_PARADAS
   ,HC_OBS AS OBSERVACAO
   ,HC_LOCAL AS ALMOX
   ,HC_VALINEN AS LINHA_ENVASE
   ,SH1.H1_DESCRI AS DESC_LINHA
FROM SHC010 SHC
INNER JOIN SB1010 SB1
	ON SB1.D_E_L_E_T_ = ''
		AND SB1.B1_COD = HC_PRODUTO
LEFT JOIN SH1010 SH1
	ON SH1.D_E_L_E_T_ = ''
		AND SH1.H1_CODIGO = HC_VALINEN 
WHERE SHC.D_E_L_E_T_ = ''

				

