
CREATE view [dbo].[GX0012_CELULAS_X_MAQUINAS]
AS
SELECT 
	ZAH_FILIAL AS GX0012_FILIAL, 
	ZAH_CELCOD AS GX0012_CELULA_CODIGO,
	ZAH_CELDES AS GX0012_CELULA_DESCRICAO,
	ZAH_BEMCOD AS GX0012_MAQUINA_CODIGO
FROM 
	ZAH010
WHERE
	D_E_L_E_T_ = ''


