


ALTER VIEW [dbo].[VA_VEMPENHOS_TANQUES] AS

SELECT 
	DC_FILIAL AS VA_VEMPENHOS_TANQUES_FILIAL, 
	DC_PRODUTO AS VA_VEMPENHOS_TANQUES_PRODUTO, 
	DC_LOCALIZ AS VA_VEMPENHOS_TANQUES_LOCALIZACAO, 
	(SELECT NNR_CODIGO + ' - ' + NNR_DESCRI FROM NNR010 WHERE NNR010.D_E_L_E_T_ = '' AND NOT NNR_DESCRI LIKE '%(BLOQ)%' AND NNR_CODIGO = DC_LOCAL) AS VA_VEMPENHOS_TANQUES_ALMOXARIFADO, 
	CAST(CAST(DC_QUANT AS DECIMAL(15,7)) AS VARCHAR) AS VA_VEMPENHOS_TANQUES_QUANTIDADE, 
	DC_LOTECTL AS VA_VEMPENHOS_TANQUES_LOTE,
	DC_OP AS VA_VEMPENHOS_TANQUES_OP, 
	DC_PEDIDO AS VA_VEMPENHOS_TANQUES_PEDIDO
FROM 
	SDC010, SB1010 
WHERE 
	SDC010.D_E_L_E_T_ = '' AND 
	SB1010.D_E_L_E_T_ = '' AND 
	DC_QUANT != 0 AND 
	B1_COD = DC_PRODUTO 
UNION
SELECT 
	C6_FILIAL AS FILIAL, 
	C6_PRODUTO AS PRODUTO, 
	C6_LOCALIZ AS LOCALIZACAO, 
	(SELECT NNR_CODIGO + ' - ' + NNR_DESCRI FROM NNR010 WHERE NNR010.D_E_L_E_T_ = '' AND NOT NNR_DESCRI LIKE '%(BLOQ)%' AND NNR_CODIGO = C6_LOCAL) ALMOXARIFADO, 
	CAST(CAST((C6_QTDVEN - C6_QTDENT) AS DECIMAL(15,7)) AS VARCHAR) AS QUANTIDADE, 
	C6_LOTECTL AS LOTE,
	'' AS OP, 
	C6_NUM AS PEDIDO
FROM 
	SC6010, SB1010 
WHERE 
	SC6010.D_E_L_E_T_ = '' AND 
	SB1010.D_E_L_E_T_ = '' AND 
	B1_COD = C6_PRODUTO AND 
	C6_QTDVEN > C6_QTDENT AND 
	C6_BLQ NOT IN ('R', 'S') AND 
	C6_LOCALIZ <> ''



