
CREATE view [dbo].[GX0010_CCUSTO]
AS

SELECT
	CTT_CUSTO  AS GX0010_CCUSTO,
	CTT_DESC01 AS GX0010_DESCRICAO
FROM 
	CTT010
WHERE 
	D_E_L_E_T_ = '' AND
	CTT_CUSTO LIKE '01%' AND
	CTT_DESC01 <> 'INATIVO'


