

CREATE view [dbo].[GX0046_CARGA_EVENTOS]
AS
WITH CARGA
AS
(SELECT
		DAK010.R_E_C_N_O_ AS GX0046_CARGAEVENTOS_R_E_C_N_O
	   ,DAK_FILIAL AS GX0046_CARGAEVENTOS_FILIAL
	   ,DAK_COD AS GX0046_CARGAEVENTOS_CARGA
	   ,DAK_VATRAN AS GX0046_CARGAEVENTOS_TRANSP
	   ,A4_NOME AS GX0046_CARGAEVENTOS_TRASPNOME
	   ,DAK_PESO AS GX0046_CARGAEVENTOS_PESO
	   ,DAK_FEZNF AS GX0046_CARGAEVENTOS_TEMNF
	   ,DAK_DATA AS GX0046_CARGAEVENTOS_DATA
	FROM DAK010
	LEFT JOIN SA4010
		ON (SA4010.D_E_L_E_T_ = ''
		AND SA4010.A4_FILIAL = ''
		AND SA4010.A4_COD = DAK_VATRAN)
	WHERE DAK010.D_E_L_E_T_ = '')

SELECT
	*
   ,STUFF((SELECT
			', ' + DAI_PEDIDO
		FROM DAI010
		WHERE (DAI_FILIAL = GX0046_CARGAEVENTOS_FILIAL
		AND DAI_COD = GX0046_CARGAEVENTOS_CARGA)
		FOR XML PATH (''), TYPE)
	.value('(./text())[1]', 'VARCHAR(MAX)'), 1, 2, '') AS GX0046_CARGAEVENTOS_PEDIDOS
	
	,STUFF((SELECT DISTINCT
		' //   Pedido:' + DAI_PEDIDO +' - Cliente:'+ TRIM(A1_NOME) +' - Peso:'+ CAST(DAI_PESO AS VARCHAR(20))
			
		FROM DAI010
		INNER JOIN SA1010
		ON DAI_CLIENT = A1_COD
		WHERE (DAI_FILIAL = GX0046_CARGAEVENTOS_FILIAL
		AND DAI_COD = GX0046_CARGAEVENTOS_CARGA)
		FOR XML PATH (''), TYPE)
	.value('(./text())[1]', 'VARCHAR(MAX)'), 1, 2, '') AS GX0046_CARGAEVENTOS_CLIENTES


FROM CARGA

GROUP BY GX0046_CARGAEVENTOS_R_E_C_N_O
		,GX0046_CARGAEVENTOS_FILIAL
		,GX0046_CARGAEVENTOS_CARGA
		,GX0046_CARGAEVENTOS_TRANSP
		,GX0046_CARGAEVENTOS_TRASPNOME
		,GX0046_CARGAEVENTOS_PESO
		,GX0046_CARGAEVENTOS_TEMNF
		,GX0046_CARGAEVENTOS_DATA   

