CREATE view [dbo].[GX0016_EVENTOS]
AS
SELECT
	ZAM_FILIAL AS GX0016_FILIAL,
	ZAM_DATAPT AS GX0016_DATAPT,
	ZAM_MAQCOD AS GX0016_MAQCOD,
	ZAM_DATINI AS GX0016_DATINI,
	ZAM_DATFIM AS GX0016_DATFIM,
	ZAM_HORINI AS GX0016_HORINI,
	ZAM_HORFIM AS GX0016_HORFIM,
	ZAM_TEMPO  AS GX0016_TEMPO,
	ZAM_TIPCOD AS GX0016_TIPCOD,
	ZAM_OBS    AS GX0016_OBS,
	ZAM_USUCOD AS GX0016_USUCOD
FROM 
	ZAM010 
WHERE 
	D_E_L_E_T_ = ''

