




CREATE view [dbo].[GX0020_CELULAS_X_EMBALAGENS]
AS
SELECT DISTINCT
	ZAH_CELCOD AS GX0020_CELULA_CODIGO,
	ZAH_CELDES AS GX0020_CELULA_DESCRICAO, 
	B1_GRPEMB  AS GX0020_EMBALAGEM_CODIGO, 
	X5_DESCRI  AS GX0020_EMBALAGEM_DESCRICAO,
	CASE
		WHEN CHARINDEX('SUCO', BM_DESC) > 0 THEN 'SUCO'
		WHEN CHARINDEX('VINHO', BM_DESC) > 0 THEN 'VINHO'
		WHEN CHARINDEX('ESPU', BM_DESC) > 0 THEN 'ESPUMANTE'
		WHEN CHARINDEX('ESPE', BM_DESC) > 0 THEN 'SUCO'
		WHEN CHARINDEX('PREP', BM_DESC) > 0 THEN 'PREPARADO'
		WHEN CHARINDEX('FILTR', BM_DESC) > 0 THEN 'FILTRADO'
		WHEN CHARINDEX('SUCO', B1_DESC) > 0 THEN 'SUCO'
		WHEN CHARINDEX('VINHO', B1_DESC) > 0 THEN 'VINHO'
		WHEN CHARINDEX('ESP', B1_DESC) > 0 THEN 'ESPUMANTE'
		WHEN CHARINDEX('PREP', B1_DESC) > 0 THEN 'PREPARADO'
		WHEN CHARINDEX('FILTR', B1_DESC) > 0 THEN 'FILTRADO'
		WHEN CHARINDEX('NECTAR', B1_DESC) > 0 AND CHARINDEX('TP', B1_DESC) > 0 THEN 'SUCO'
		WHEN CHARINDEX('BEBIDA', B1_DESC) > 0 AND CHARINDEX('TP', B1_DESC) > 0 THEN 'SUCO'
		ELSE 'SUCO'
	END AS GX0020_PRODUTO,
	CAST((SELECT TOP 1 ZAH_PRONOM FROM ZAH010 WHERE ZAH_CELCOD = B1_CELCOD AND D_E_L_E_T_ = '') / B1_LITROS AS INT) AS GX0020_CAPACIDADE
FROM
	ZAH010, SB1010
LEFT JOIN SBM010 ON (
	BM_GRUPO = B1_GRUPO
)
JOIN SX5010 ON (
	X5_TABELA = '98'
	AND X5_CHAVE = B1_GRPEMB
	AND X5_CHAVE <> '00'
)
WHERE
	B1_CELCOD = ZAH_CELCOD
	AND B1_TIPO = 'PA'
	AND B1_MSBLQL = '2'
	AND B1_COD < '8000'
	AND B1_CELCOD <> ''
	AND ZAH010.D_E_L_E_T_ = ''
	AND SB1010.D_E_L_E_T_ = ''




