



CREATE view [dbo].[GX0018_RATEIOS]
AS

SELECT DISTINCT
	ZAHa.ZAH_CENCUS AS GX0018_CCUSTO_CODIGO,
	CTTa.CTT_DESC01 AS GX0018_CCUSTO_DESCRICAO,
	ZAHa.ZAH_CELCOD AS GX0018_CELULA_CODIGO,
	ZAHa.ZAH_CELDES AS GX0018_CELULA_DESCRICAO,
	ZAHa.ZAH_BEMCOD AS GX0018_MAQUINA_CODIGO, 
	SN1a.N1_DESCRIC AS GX0018_MAQUINA_DESCRICAO,
	SN3a.N3_VRDMES1 AS GX0018_RATEIO_VALOR,
	(
	CASE SN3a.N3_VRDMES1 * 100 / (SELECT SUM(SN3b.N3_VRDMES1) FROM ZAH010 ZAHb, SN1010 SN1b, SN3010 SN3b WHERE ZAHb.ZAH_FILIAL = '01' AND ZAHb.ZAH_BEMCOD = SN1b.N1_CBASE AND ZAHb.ZAH_BEMCOD = SN3b.N3_CBASE AND SN1b.N1_ITEM = '   0' AND SN1b.N1_ITEM = SN3b.N3_ITEM AND SN3b.N3_TIPO = '10' AND SN1b.N1_FILIAL  = '01' AND SN3b.N3_FILIAL  = '01' AND SN1b.D_E_L_E_T_ = '' AND SN3b.D_E_L_E_T_ = '' AND ZAHb.ZAH_CELCOD = ZAHa.ZAH_CELCOD)
	WHEN 0 THEN 0 
	ELSE ROUND(SN3a.N3_VRDMES1 * 100 / (SELECT SUM(SN3b.N3_VRDMES1) FROM ZAH010 ZAHb, SN1010 SN1b, SN3010 SN3b WHERE ZAHb.ZAH_FILIAL = '01' AND ZAHb.ZAH_BEMCOD = SN1b.N1_CBASE AND ZAHb.ZAH_BEMCOD = SN3b.N3_CBASE AND SN1b.N1_ITEM = '   0' AND SN1b.N1_ITEM = SN3b.N3_ITEM AND SN3b.N3_TIPO = '10' AND SN1b.N1_FILIAL  = '01' AND SN3b.N3_FILIAL  = '01' AND SN1b.D_E_L_E_T_ = '' AND SN3b.D_E_L_E_T_ = '' AND ZAHb.ZAH_CELCOD = ZAHa.ZAH_CELCOD), 2)
	END
	) As GX0018_RATEIO_PERCENTUAL
FROM 
	ZAH010 ZAHa, 
	SN1010 SN1a,
	SN3010 SN3a,
	CTT010 CTTa
WHERE
	ZAHa.ZAH_FILIAL = '01' AND
	ZAHa.ZAH_BEMCOD = SN1a.N1_CBASE AND
	ZAHa.ZAH_BEMCOD = SN3a.N3_CBASE AND
	SN1a.N1_ITEM    = '   0' AND
	SN1a.N1_ITEM    = SN3a.N3_ITEM  AND
	SN3a.N3_TIPO    = '10' AND
	SN1a.N1_FILIAL  = '01' AND
	SN3a.N3_FILIAL  = '01' AND
	SN1a.D_E_L_E_T_ = '' AND
	SN3a.D_E_L_E_T_ = '' AND
	CTTa.CTT_CUSTO  = ZAHa.ZAH_CENCUS




