ALTER VIEW GX0038_LOTES AS 

SELECT 
lote AS GX0038_LOTES_LOTE,
C9_PRODUTO AS GX0038_LOTES_C9_PRODUTO,
C9_PEDIDO AS GX0038_LOTES_C9_PEDIDO
FROM tb_wms_lotes, DAK010 DAK, SC9010 SC9
WHERE DAK.D_E_L_E_T_ = ''
	AND DAK.DAK_FILIAL = '01'
	AND documento_id = 'DAK' + DAK.DAK_FILIAL + DAK.DAK_COD + '01'
	AND SC9.D_E_L_E_T_ = ''
	AND SC9.C9_FILIAL = DAK.DAK_FILIAL
	AND SC9.C9_CARGA = DAK.DAK_COD
	AND SC9.C9_PRODUTO = cod_item
