--USE [protheus]
--GO

--/****** Object:  View [dbo].[GX0051_FOLLOWUP_NOTAS]    Script Date: 10/08/2023 15:35:52 ******/
--SET ANSI_NULLS ON
--GO

--SET QUOTED_IDENTIFIER ON
--GO


-----16/08/21 - incluido campo de tipo de frete - DayRibas
-----03/08/23 - incluido filtro serie '10'      - DayRibas


			



CREATE   view [dbo].[GX0051_FOLLOWUP_NOTAS]
AS
SELECT
    SF2.R_E_C_N_O_ AS GX0051_CHAVE
   ,F2_FILIAL AS GX0051_FILIAL
   ,F2_DOC AS GX0051_NOTA_FISCAL
   ,F2_SERIE AS GX0051_SERIE_NOTA
   ,C5_NUM AS GX0051_PEDIDO
   ,F2_CLIENTE AS GX0051_COD_CLIENTE
   ,A1_NOME AS GX0051_NOME_CLIENTE
   ,F2_EST AS GX0051_UF_CLIENTE
   ,F2_EMISSAO AS GX0051_EMISSAO_NF
   ,SF2.F2_TPFRETE AS GX0051_TIPO_FRETE
   ,SF2.F2_VADPENT AS GX0051_PREVISAO_ENTRGA
   ,F2_DTENTR AS GX0051_ENTREGA_EFETIVA

   ,F2_VEND1 AS GX0051_REPRESENTANTE
   ,A3_NOME AS GX0051_NOME_REPRES
   ,A3_VAGEREN AS GX0051_COD_SUPERV
   ,F2_LOJA AS GX0051_LOJA
   ,0 GX0051_DIAS_ATRASO
  	,ISNULL(A4_COD +' - '+ A4_NOME, '') as GX0051_TRANSPORTADORA
	,ISNULL(A4_COD, '') as GX0051_TRANSPORCOD
	,F2_VADAGEN as GX0051_DATA_AGEND_ENTREGA

	, CASE WHEN EXISTS(SELECT CODEVENTO from VA_VEVENTOS  
                Where SERIE_NF_SAIDA = F2_SERIE AND  
                      FILIAL		 = F2_FILIAL AND     
                      NF_SAIDA		 = F2_DOC AND 
					  CLIENTE		 = F2_CLIENTE AND
					  CODEVENTO		 = 'SF2019') then 'sim' else 'nao' end as GX0051_TEM_DEVOLUCAO 


FROM SF2010 AS SF2


INNER JOIN SA1010
    ON SA1010.D_E_L_E_T_ = ''
        AND A1_FILIAL = ''
        AND A1_COD = F2_CLIENTE
        AND A1_LOJA = SF2.F2_LOJA
	
LEFT JOIN SA4010 SA4
    ON SA4.D_E_L_E_T_ = ''
        AND SA4.A4_FILIAL = ' '
        AND SA4.A4_COD = SF2.F2_TRANSP

LEFT JOIN SC5010
    ON SC5010.D_E_L_E_T_ = ''
        AND C5_FILIAL = F2_FILIAL
        AND C5_NOTA = F2_DOC
        AND C5_SERIE = F2_SERIE
        AND C5_CLIENTE = SF2.F2_CLIENTE
        AND C5_LOJACLI = SF2.F2_LOJA

LEFT JOIN SA3010
    ON SA3010.D_E_L_E_T_ = ''
        AND A3_FILIAL = '  '
        AND A3_COD = F2_VEND1

WHERE SF2.D_E_L_E_T_ = ''  and 
SF2.F2_SERIE = '10'
--AND SF2.F2_EMISSAO BETWEEN '20230601' AND '20230810'


