--USE [protheus]
--GO

--/****** Object:  View [dbo].[GX0008_ETIQUETAS]    Script Date: 11/08/2021 09:40:29 ******/
--SET ANSI_NULLS ON
--GO

--SET QUOTED_IDENTIFIER ON
--GO
---- DayRibas -  11/08/2021 - incluido filtro de B1_FILIAL e retrocesso de 6 meses em ZA1_DATA
CREATE view [dbo].[GX0008_ETIQUETAS]
AS
SELECT
	RTrim(ZA1_FILIAL) + RTrim(ZA1_CODIGO) AS GX0008_CHAVE,
	ZA1_PROD   AS GX0008_PRODUTO,
    B1_DESC    AS GX0008_PRODUTO_DES,
	ZA1_FILIAL AS GX0008_FILIAL,
	ZA1_CODIGO AS GX0008_ETIQUETA,
	ZA1_OP     AS GX0008_OP,
	ZA1_SERIEE AS GX0008_SERIE,
	ZA1_DOCE   AS GX0008_DOCUMENTO
FROM ZA1010, SB1010
WHERE 
	ZA1_PROD = B1_COD AND 
	ZA1_DATA >= format (DATEADD (MONTH, -3, CURRENT_TIMESTAMP), 'yyyyMMdd') AND
	--ZA1_DATA >= '20200101' AND
	B1_FILIAL = '' AND 
	ZA1010.D_E_L_E_T_ = '' AND 
	SB1010.D_E_L_E_T_ = ''
	--and ZA1_CODIGO = '2000411589'



