











ALTER VIEW [dbo].[GX0028_ITENS] AS

SELECT
	SB1.B1_VAMARCM  AS GX0028_ITENS_MARCA
   ,ZX5.ZX5_40DESC  AS GX0028_ITENS_MARCA_DESC
   ,SB1.B1_COD      AS GX0028_ITENS_CODIGO_CX
   ,SB1.B1_DESC     AS GX0028_ITENS_DESCRICAO_CX
   ,SB1A.B1_COD     AS GX0028_ITENS_CODIGO_UN
   ,SB1A.B1_DESC    AS GX0028_ITENS_DESCRICAO_UN
   ,SB1.B1_TIPO     AS GX0028_ITENS_TIPO
   ,SB5.B5_2CODBAR  AS GX0028_ITENS_COD_EAN
   ,SB1.B1_CODBAR   AS GX0028_ITENS_COD_DUN
   ,SB5.B5_ALTURLC  AS GX0028_ITENS_ALTURA
   ,SB5.B5_LARGLC   AS GX0028_ITENS_LARGURA
   ,SB5.B5_COMPRLC  AS GX0028_ITENS_COMPRIMENTO
   ,SB1.B1_VAPLLAS  AS GX0028_ITENS_LASTRO
   ,SB1.B1_VAPLCAM  AS GX0028_ITENS_CAMADAS
   ,SB1.B1_PESBRU   AS GX0028_ITENS_PESO_BRUTO
   ,SB1.B1_PESO     AS GX0028_ITENS_PESO_LIQ
   ,SB1.B1_POSIPI   AS GX0028_ITENS_CLASS_FISCAL
   ,SB1.B1_GRPEMB   AS GX0028_ITENS_EMBALAGEM_CX
   ,SB1.B1_CEST     AS GX0028_ITENS_B1_CEST
   ,SB1.B1_POSIPI   AS GX0028_ITENS_B1_POSIPI
   ,SB1.B1_VARMAAL  AS GX0028_ITENS_B1_VARMAAL
   ,ZX5A.ZX5_50DESC AS GX0028_ITENS_EMBALAGEM_DESC_CX
   ,SB1A.B1_GRPEMB  AS GX0028_ITENS_EMBALAGEM_UN
   ,ZX5B.ZX5_50DESC AS GX0028_ITENS_EMBALAGEM_DESC_UN
   ,SB1.B1_CODLIN   AS GX0028_ITENS_CODIGO_LINHA
   ,SB1.B1_LINHA    AS GX0028_ITENS_DESCRICAO_LINHA
FROM SB1010 SB1

LEFT JOIN SB1010 SB1A
	ON SB1.B1_COD = SB1A.B1_CODPAI

LEFT JOIN SB5010 SB5
	ON SB1.B1_COD = SB5.B5_COD AND SB1.B1_FILIAL = SB5.B5_FILIAL AND SB5.D_E_L_E_T_ = ''

LEFT JOIN ZX5010 ZX5
	ON ZX5.ZX5_40COD = SB1.B1_VAMARCM AND ZX5_TABELA = '40' AND ZX5.D_E_L_E_T_ = ''

LEFT JOIN ZX5010 ZX5A
	ON ZX5A.ZX5_50COD = SB1.B1_GRPEMB AND ZX5A.ZX5_TABELA = '50' AND ZX5A.D_E_L_E_T_ = ''

LEFT JOIN ZX5010 ZX5B
	ON ZX5B.ZX5_50COD = SB1A.B1_GRPEMB AND ZX5B.ZX5_TABELA = '50' AND ZX5A.D_E_L_E_T_ = ''

WHERE SB1.D_E_L_E_T_ = ''
AND SB1.B1_MSBLQL = '2'
AND SB1.B1_TIPO IN ('PA','PI')
AND SB1.B1_VAFORAL = 'N'
--AND SB1.B1_COD NOT LIKE '8%'

