
-- Cooperativa Agroindustrial Nova Alianca Ltda
-- View para buscar dados de eventos customizados do Protheus.
-- Autor: Robert Koch
-- Data:  04/08/2017
-- Historico de alteracoes:
-- 17/11/2017 - Robert - Passa a usar a funcao VA_FLE_MEMO.
-- 26/06/2019 - Robert - Uso de memos via SYP vai ser descontinuado.
--                     - Todos os campos do SZN passam a ter nomes amigaveis de colunas.
-- 11/08/2019 - Robert - Incluida colun AMBIENTE.
-- 21/05/2021 - Robert - Incluida coluna ORIGEM.
-- 27/05/2021 - Daiana - incluida coluna SZNRECNO.
-- 20/07/2022 - Robert - Incluidas colunas DIAS_VALIDADE e CHAVE_NFE (GLPI 12336)
-- 01/08/2022 - Robert - Incluida coluna MOT_PRORROG_TIT
-- 24/02/2023 - Robert - Incluidas colunas SAFRA e CARGA_SAFRA
--

ALTER VIEW [dbo].[VA_VEVENTOS] AS

SELECT
	SZN.ZN_FILIAL AS FILIAL,
	SZN.ZN_DATA AS DATA,
	SZN.ZN_HORA AS HORA,
	CAST(CAST (SZN.ZN_TXT AS VARBINARY (8000)) AS VARCHAR (8000)) AS DESCRITIVO,
	SZN.ZN_USUARIO AS USUARIO,
	SZN.ZN_CODEVEN AS CODEVENTO,
	SZN.ZN_PRODUTO AS PRODUTO,
	SZN.ZN_PEDVEND AS PEDVENDA,
	SZN.ZN_CLIENTE AS CLIENTE,
	SZN.ZN_LOJACLI AS LOJA_CLIENTE,
	SZN.ZN_NFS AS NF_SAIDA,
	SZN.ZN_SERIES AS SERIE_NF_SAIDA,
	SZN.ZN_PARCTIT AS PARCELA_TITULO,
	SZN.ZN_FORNECE AS FORNECEDOR,
	SZN.ZN_LOJAFOR AS LOJA_FORNECEDOR,
	SZN.ZN_NFE AS NF_ENTRADA,
	SZN.ZN_SERIEE AS SERIE_NF_ENTRADA,
	SZN.ZN_ESTACAO AS ESTACAO,
	--SZN.ZN_PILHA AS PILHA_CHAMADAS,
	SZN.ZN_ALIAS AS ALIAS_TABELA,
	SZN.ZN_COD AS CODIGO_ALIAS,
	SZN.ZN_RECNO AS RECNO_ALIAS,
	SZN.ZN_OP AS OP,
	SZN.ZN_ETIQ AS ETIQUETA,
	SZN.ZN_TRANSP AS TRANSPORTADORA,
	SZN.ZN_REDESP AS TRANSP_REDESP,
	SZN.ZN_CODPROC AS COD_PROCEDA,
	SZN.ZN_HISTNF AS HISTORICO_NF,
	SZN.ZN_STATUS AS STATUS_ENTREGA_NF,
	SZN.ZN_SUBSTS AS SUBSTATUS_NF,
	SZN.ZN_DTENT AS DT_PREV_ENTREGA_NF,
	SZN.ZN_AMBIENT AS AMBIENTE,
	SZN.ZN_CHAVE AS CHAVE,
	SZN.ZN_ORIGEM AS ORIGEM,
	SZN.R_E_C_N_O_ AS SZNRECNO
	,SZN.ZN_DIASVLD AS DIAS_VALIDADE
	,SZN.ZN_CHVNFE AS CHAVE_NFE
	,SZN.ZN_MOTPROR AS MOT_PRORROG_TIT
	,SZN.ZN_SAFRA AS SAFRA
	,SZN.ZN_CARGSAF AS CARGA_SAFRA
FROM SZN010 SZN
WHERE SZN.D_E_L_E_T_ = '' 


