
CREATE view [dbo].[GX0007_OPS]
AS
SELECT
	RTrim(C2_FILIAL) + RTrim(C2_NUM) + RTrim(C2_ITEM) + Rtrim(C2_SEQUEN) + RTrim(C2_ITEMGRD) AS GX0007_CHAVE,
	C2_PRODUTO AS GX0007_PRODUTO,
    	B1_DESC    AS GX0007_PRODUTO_DES,
	C2_FILIAL  AS GX0007_FILIAL,
	C2_NUM     AS GX0007_OP,
	C2_ITEM    AS GX0007_ITEM,
	C2_SEQUEN  AS GX0007_SEQUENCIA,
	C2_ITEMGRD AS GX0007_ITEM_GRADE
FROM SC2010, SB1010
WHERE 
	C2_PRODUTO = B1_COD AND 
	/* C2_EMISSAO >= '20170101' AND */
	SC2010.D_E_L_E_T_ = '' AND 
	SB1010.D_E_L_E_T_ = ''

