
-- Cooperativa Agroindustrial Nova Alianca Ltda
-- View para buscar dados de rapel padrao, inicialmente a ser exportado para o Mercanet.
-- Autor: Robert Koch
-- Data:  15/03/2018
-- Historico de alteracoes:
-- 

ALTER VIEW [dbo].[VA_VRAPEL_PADRAO] AS

WITH C
AS
(SELECT
		SA1.A1_VACBASE + '/' + SA1.A1_VALBASE AS MATRIZ_CLIENTE
	   ,ZAX_CLIENT AS CLIENTE
	   ,ZAX_LOJA AS LOJA
	   ,RTRIM(SA1.A1_NOME) AS NOME_CLIENTE
	   ,SA1.A1_EST AS UF
	   ,CASE SA1.A1_MSBLQL
			WHEN '1' THEN 'N'
			ELSE 'S'
		END AS ATIVO
	   ,CASE SA1.A1_VABARAP
			WHEN '0' THEN 'NAO TEM RAPEL'
			WHEN '1' THEN 'VALOR NOTA'
			WHEN '2' THEN 'VALOR MERCADORIA'
			ELSE ''
		END AS BASE_RAPEL
	   ,ZAX.ZAX_LINHA AS LINHA
	   ,RTRIM(ISNULL(ZAZ.ZAZ_NLINF, '')) AS NOME_LINHA
	   ,ISNULL(SB1.B1_COD, '') AS PRODUTO
	   ,RTRIM(ISNULL(SB1.B1_DESC, '')) AS DESCRICAO
	   ,dbo.VA_FRAPELPADRAO(ZAX.ZAX_CLIENT, ZAX.ZAX_LOJA, SB1.B1_COD) AS PERC_RAPEL
	FROM SA1010 SA1
		,ZAX010 ZAX
		 LEFT JOIN ZAZ010 ZAZ
			 ON (ZAZ.D_E_L_E_T_ = ''
			 AND ZAZ.ZAZ_FILIAL = '  '
			 AND ZAZ.ZAZ_CLINF = ZAX.ZAX_LINHA)
		 LEFT JOIN SB1010 SB1
			 ON (SB1.D_E_L_E_T_ = ''
			 AND SB1.B1_FILIAL = '  '
			 AND (SB1.B1_COD = ZAX.ZAX_ITEM
			 OR (ZAX.ZAX_LINHA != ''
			 AND SB1.B1_CLINF = ZAX.ZAX_LINHA))
			 )
	WHERE ZAX.D_E_L_E_T_ = ''
	AND SA1.D_E_L_E_T_ = ''
	AND SA1.A1_FILIAL = '  '
	AND SA1.A1_COD = ZAX.ZAX_CLIENT
	AND SA1.A1_LOJA = ZAX.ZAX_LOJA)
SELECT
	*
FROM C
--ORDER BY MATRIZ_CLIENTE, NOME_CLIENTE, CLIENTE, LOJA, LINHA, DESCRICAO

