
CREATE view [dbo].[GX0053_VA_FATDADOS]
AS

SELECT
	EMPRESA
	,FILIAL
	,EMISSAO
	,EST
	,PRODUTO
	,QUANTIDADE as QUANTIDADE
	,F4_MARGEM as MARGEM
	,(Trim(FILIAL) + Trim(EMISSAO) + Trim(DOC) + tRIM(PRODUTO) + trim(ITEMPDVEND)+ Trim(EST)) AS CHAVE
	--,*
FROM BI_ALIANCA.dbo.VA_FATDADOS
