



CREATE view [dbo].[GX0024_MARCAS_PRODUTOS]
AS

SELECT 
	ZX5_40COD    AS GX0024_MARCAS_PRODUTOS_CODIGO, 
	ZX5_40DESC   AS GX0024_MARCAS_PRODUTOS_DESCRICAO
FROM 
	ZX5010
WHERE
	 ZX5_TABELA = '40'
	 AND D_E_L_E_T_ = ''


