
CREATE view [dbo].[GX0052_ASSOC_BANCOS]
as
WITH c
AS
(SELECT DISTINCT
		SA2.A2_COD AS GX0052_COD
	   ,SA2.A2_CGC AS GX0052_CPF
	   ,dbo.VA_ASSOC_DT_ENTRADA(A2_COD, A2_LOJA, FORMAT(GETDATE(), 'yyyyMMdd')) AS GX0052_ENTRADA	
	   ,dbo.VA_ASSOC_DT_SAIDA(A2_COD, A2_LOJA, FORMAT(GETDATE(), 'yyyyMMdd')) AS GX0052_SAIDA

	   ,dbo.VA_FTIPO_FORNECEDOR_UVA(A2_COD, A2_LOJA, FORMAT(GETDATE(), 'yyyyMMdd')) AS GX0052_SIT 	-- 0=Falta mapeamento;1=Associado ativo;2=Nao associado (fornecedor de uva);3=Ex associado

	   ,SA2.A2_CEP AS GX0052_CEP
	   ,SA2.A2_VASEXO as GX0052_GERNERO

	   ,CASE WHEN TRIM(SA2.A2_BANCO) = '' THEN FIL010.FIL_BANCO
			ELSE SA2.A2_BANCO 
		END	AS GX0052_BANCO
		,CASE
			WHEN TRIM(SA2.A2_AGENCIA) = '' THEN FIL010.FIL_AGENCI 
			ELSE TRIM(SA2.A2_AGENCIA) +'-'+ TRIM(SA2.A2_DVAGE) 
		END	AS GX0052_AGENCIA
		,CASE
			WHEN TRIM(SA2.A2_NUMCON) = '' THEN FIL010.FIL_CONTA
			ELSE TRIM(SA2.A2_NUMCON) +'-'+ TRIM(SA2.A2_DVCTA) 
		END	AS GX0052_CONTA
	   ,CASE
			WHEN FIL010.FIL_VACTER IS NULL THEN ''
			ELSE TRIM(FIL010.FIL_VACTER)
		END AS GX0052_CPF_TERCEIRO
		,CASE
			WHEN FIL010.FIL_VANTER IS NULL THEN ''
			ELSE TRIM(FIL010.FIL_VANTER)
		END AS GX0052_NOME_TERCEIRO


	FROM SA2010 AS SA2
	LEFT JOIN FIL010 
		ON (FIL010.FIL_FORNEC = A2_COD
		AND FIL010.FIL_LOJA = A2_LOJA)

	WHERE SA2.D_E_L_E_T_ = ''
	AND A2_CGC <> ''
	AND A2_CGC <> '.')

SELECT
	GX0052_COD
   ,GX0052_CPF
   ,GX0052_BANCO
   ,GX0052_AGENCIA
   ,GX0052_CONTA
   ,GX0052_ENTRADA
   ,GX0052_SAIDA
   ,GX0052_CEP
   ,GX0052_GERNERO
   ,GX0052_CPF_TERCEIRO
   ,GX0052_NOME_TERCEIRO
 --  ,CASE
	--	WHEN GX0052_ENTRADA <> '' THEN 1 --'ASSOCIADO'   - 04/01/2023 - DayRibas - alterado para chamar a função VA_FTIPO_FORNECEDOR_UVA
	--	WHEN GX0052_SAIDA <> '' THEN 3 --'EX ASSOCIADO'  
	--	WHEN (GX0052_ENTRADA = '' AND
	--		GX0052_SAIDA = '') THEN 2 --'FORNECEDOR/NÃO ASSOCIADO' 
	--END AS GX0052_SITUACAO
	,CASE
		WHEN SUBSTRING(GX0052_SIT, 1, 1)  = '1' THEN 1 --'ASSOCIADO'
		WHEN SUBSTRING(GX0052_SIT, 1, 1)  = '2' THEN 2 --'FORNECEDOR/NÃO ASSOCIADO'   
		WHEN SUBSTRING(GX0052_SIT, 1, 1)  = '3' THEN 3 --'EX ASSOCIADO'  
		WHEN SUBSTRING(GX0052_SIT, 1, 1)  = '4' THEN 4 --'PROD. PROPRIA'  
		WHEN SUBSTRING(GX0052_SIT, 1, 1)  = '5' THEN 5 --'NÃO ASSOC INATIVO'  
		WHEN SUBSTRING(GX0052_SIT, 1, 1)  = '6' THEN 6 --'NÃO FORNECE UVA'  
		
	END AS GX0052_SITUACAO
FROM c
  Where SUBSTRING(GX0052_SIT, 1, 1) In ('1','2','3','4')

