
CREATE view [dbo].[GX0002_VARIEDADE_SAFRA]
AS

SELECT DISTINCT 
	GX0001_PRODUTO_CODIGO    AS GX0002_PRODUTO_CODIGO, 
	GX0001_PRODUTO_DESCRICAO AS GX0002_PRODUTO_DESCRICAO
FROM 
	GX0001_AGENDA_SAFRA
WHERE
	GX0001_PRODUTO_CODIGO <> ''



