

-- Cooperativa Nova Alianca Ltda
-- View para buscar os responsaveis ('donos') de cada almoxarifado, agrupados por filial (GLPI 14601)
-- Autor: Robert Koch
-- Data:  09/12/2023
-- Historico de alteracoes:
--

ALTER VIEW [dbo].[VA_VDONOS_ALMOX] AS
SELECT
	SUBSTRING(ZZU.ZZU_GRUPO, 2, 2) AS ALMOX
   ,SYS_COMPANY.M0_CODFIL AS FILIAL
   ,STRING_AGG(UPPER(RTRIM(SYS_USR.USR_ID)), ', ') AS USUARIOS
   ,STRING_AGG(UPPER(RTRIM(SYS_USR.USR_CODIGO)), ', ') AS NOMES
FROM ZZU010 ZZU
	,SYS_USR
	,SYS_COMPANY
WHERE ZZU.D_E_L_E_T_ = ''
AND ZZU.ZZU_FILIAL = '  '
AND ZZU.ZZU_VALID >= FORMAT (CURRENT_TIMESTAMP, 'yyyyMMdd')
AND ZZU.ZZU_GRUPO LIKE 'A%'
AND SYS_USR.D_E_L_E_T_ = ''
AND SYS_USR.USR_ID = ZZU.ZZU_USER
AND SYS_COMPANY.D_E_L_E_T_ = ''
AND SYS_COMPANY.M0_CODIGO = '01'  -- SE CRIARMOS OUTRA EMPRESA, PRECISA DAR TRATAMENTO AQUI
AND (SYS_COMPANY.M0_CODFIL = ZZU.ZZU_FIL
OR ZZU.ZZU_FIL = '*')
GROUP BY SUBSTRING(ZZU.ZZU_GRUPO, 2, 2)
	,M0_CODFIL

