



CREATE view [dbo].[GX0019_CARGAS]
AS
SELECT
	FILIAL AS GX0019_FILIAL,
	SAFRA AS GX0019_SAFRA,
	CARGA AS GX0019_CARGA,
	ASSOCIADO AS GX0019_ASSOCIADO_CODIDO,
	NOME_ASSOC AS GX0019_ASSOCIADO_NOME,
	PRODUTO AS GX0019_PRODUTO_CODIGO,
	DESCRICAO AS GX0019_PRODUTO_DESCRICAO,
	CAD_VITIC AS GX0019_CAD_VITIC
FROM
	VA_VCARGAS_SAFRA



