
ALTER VIEW [dbo].[GX0006_ITENS_NOTAS]
AS
SELECT
	RTrim(D1_FILIAL) + RTrim(D1_DOC) + RTrim(D1_SERIE) AS GX0006_CHAVE,
	D1_COD     AS GX0006_PRODUTO,
    B1_DESC    AS GX0006_PRODUTO_DES,
	D1_FILIAL  AS GX0006_FILIAL,
	D1_SERIE   AS GX0006_SERIE,
	D1_DOC     AS GX0006_DOCUMENTO,
	D1_FORNECE AS GX0006_FORNECEDOR,
	D1_ITEM    AS GX0006_ITEM,
	D1_LOTECTL AS GX0006_LOTE,
	D1_NUMSEQ  AS GX0006_NUMSEQ
FROM SD1010, SB1010
WHERE 
	D1_COD = B1_COD AND 
	D1_EMISSAO >= '20170601' AND
	SD1010.D_E_L_E_T_ = '' AND 
	SB1010.D_E_L_E_T_ = ''


