

CREATE view [dbo].[GX0009_MAQUINAS]
AS

SELECT 
    N1_FILIAL  AS GX0009_FILIAL,
	N1_CBASE   AS GX0009_MAQUINA_CODIGO, 
	N1_DESCRIC AS GX0009_MAQUINA_DESCRICAO, 
	(SELECT TOP 1 N3_CCUSTO FROM SN3010 WHERE N3_CBASE = N1_CBASE ORDER BY N3_SEQ DESC) AS GX0009_CCUSTO
FROM 
	SN1010
WHERE 
	N1_ITEM = '   0' AND 
	(SELECT TOP 1 N3_CCUSTO FROM SN3010 WHERE N3_CBASE = N1_CBASE ORDER BY N3_SEQ DESC) > '' AND
	N1_GRUPO IN (SELECT NG_GRUPO FROM SNG010 WHERE NG_INDUSTR = 'S') AND
	D_E_L_E_T_ = ''



