
--
-- Descricao: Busca movimentos de baixa e geracao de faturas dos titulos de
--            pagamento de safra, para emissao de relatorio de fechamento que
--            poderia ser chamado "onde foi o dinheiro da minha safra?"
-- Autor....: Robert Koch
-- Data.....: 09/04/2023
--
-- Historico de alteracoes:
--

CREATE view [dbo].[VA_VPAGTO_SAFRA] AS

SELECT
	SE2_PAGTO.E2_VASAFRA
	,SE2_PAGTO.E2_FILIAL
	,SE2_PAGTO.E2_FORNECE
	,SE2_PAGTO.E2_LOJA
	,SE2_PAGTO.E2_NUM
	,SE2_PAGTO.E2_PREFIXO
	,SE2_PAGTO.E2_PARCELA
	,SE2_PAGTO.E2_VENCREA
	,SE2_PAGTO.E2_VAFRSAF
	,SE2_PAGTO.E2_VALOR
	,SE2_PAGTO.E2_SALDO
--	,SE2_PAGTO.R_E_C_N_O_  -- AS SE2_PAGTO_RECNO
	,SZI_PAGTO.ZI_TM
	--,FK7_PAGTO.FK7_IDDOC
	--,SZI_PAGTO.R_E_C_N_O_  AS RECNO_SZI
	,ISNULL (FK2_FATURA.FK2_VALOR, 0) AS FATURA_VALOR
	--,ISNULL (FK2_FATURA.FK2_HISTOR, '') AS FATURA_HIST
	,ISNULL (dbo.VA_DTOC (FK2_FATURA.FK2_DATA), '') AS FATURA_EMISSAO
	,ISNULL (FK2_COMP.FK2_VALOR, 0)   AS COMPENSACAO_VALOR
	--,ISNULL (FK2_COMP.FK2_HISTOR, '') AS COMPENSACAO_HIST
	,ISNULL (dbo.VA_DTOC (FK2_COMP.FK2_DATA), '') AS COMPENSACAO_DATA
	,ISNULL (SZI_CONTRAPARTIDA.ZI_TM, '') AS CONTRAPARTIDA_TM
	,ISNULL (RTRIM (SE2_CONTRAPARTIDA.E2_HIST), '') AS CONTRAPARTIDA_HIST
	,ISNULL (FK2_BAIXAS.FK2_VALOR, 0)   AS PAGAMENTO_VALOR
	,ISNULL (RTRIM (FK2_BAIXAS.FK2_HISTOR), '') AS PAGAMENTO_HIST
	,ISNULL (dbo.VA_DTOC (FK2_BAIXAS.FK2_DATA), '') AS PAGAMENTO_DATA
	,ISNULL (FK2_DACOES.FK2_VALOR, 0)   AS DACAO_VALOR
	,ISNULL (RTRIM (FK2_DACOES.FK2_HISTOR), '') AS DACAO_HIST
	,ISNULL (dbo.VA_DTOC (FK2_DACOES.FK2_DATA), '') AS DACAO_DATA
	--,FK2_FATURA.R_E_C_N_O_ AS FATURA_RECNO_FK2
	--,FK2_COMP.R_E_C_N_O_  AS COMPENSACAO_RECNO_FK2
	--,SE2_CONTRAPARTIDA.R_E_C_N_O_   AS COMPENSACAO_RECNO_SE2
	--,SZI_CONTRAPARTIDA.R_E_C_N_O_   AS COMPENSACAO_RECNO_SZI
	--,FK2_FATURA.*
FROM SE2010 SE2_PAGTO

	-- BUSCA MOVIMENTACAO DO TITULO (LEFT JOIN POR QUE OS TITULOS PODEM AINDA NAO TER MOVIMENTACAO)
	LEFT JOIN FK7010 FK7_PAGTO  -- PARA AMARRAR COM FK2 (MOVTOS DO TITULO)

		-- PROCURA FATURAS GERADAS A PARTIR DESTE TITULO (OU DE PARTE DE SEU SALDO)
		LEFT JOIN FK2010 FK2_FATURA
		ON (FK2_FATURA.D_E_L_E_T_ = ''
			AND FK2_FATURA.FK2_FILIAL = FK7_PAGTO.FK7_FILIAL
			AND FK2_FATURA.FK2_IDDOC  = FK7_PAGTO.FK7_IDDOC
			AND FK2_FATURA.FK2_MOTBX  = 'FAT'
			AND FK2_FATURA.FK2_TPDOC != 'ES'  -- ES=Movimento de estorno
			AND dbo.VA_FESTORNADO_FK2 (FK2_FATURA.FK2_FILIAL, FK2_FATURA.FK2_IDFK2) = 0)

		-- PROCURA PAGAMENTOS (BAIXAS) DESTE TITULO.
		LEFT JOIN FK2010 FK2_BAIXAS
		ON (FK2_BAIXAS.D_E_L_E_T_ = ''
			AND FK2_BAIXAS.FK2_FILIAL = FK7_PAGTO.FK7_FILIAL
			AND FK2_BAIXAS.FK2_IDDOC = FK7_PAGTO.FK7_IDDOC
			AND dbo.VA_FESTORNADO_FK2(FK2_BAIXAS.FK2_FILIAL, FK2_BAIXAS.FK2_IDFK2) != 1
			AND FK2_BAIXAS.FK2_TPDOC != 'ES'
			AND FK2_BAIXAS.FK2_MOTBX != 'FAT'
			AND FK2_BAIXAS.FK2_MOTBX != 'CMP'
			AND FK2_BAIXAS.FK2_TPDOC != 'BA')

		-- PROCURA DACOES (BAIXAS) DESTE TITULO.
		LEFT JOIN FK2010 FK2_DACOES
		ON (FK2_DACOES.D_E_L_E_T_ = ''
			AND FK2_DACOES.FK2_FILIAL = FK7_PAGTO.FK7_FILIAL
			AND FK2_DACOES.FK2_IDDOC = FK7_PAGTO.FK7_IDDOC
			AND dbo.VA_FESTORNADO_FK2(FK2_DACOES.FK2_FILIAL, FK2_DACOES.FK2_IDFK2) != 1
			AND FK2_DACOES.FK2_TPDOC != 'ES'
			AND FK2_DACOES.FK2_MOTBX = 'DAC')

		-- PROCURA COMPENSACOES FEITAS CONTRA ESTE TITULO.
		LEFT JOIN FK2010 FK2_COMP

			-- TENTA LOCALIZAR TITULOS QUE FORAM COMPENSADOS COM ESTE MOVIMENTO
			-- A PESQUISA EH INVERSA AGORA: DO FK2 VOU PARA O FK7 E, DALI, PARA O SE2.
			LEFT JOIN FK2010 FK2_CONTRAPARTIDA
				LEFT JOIN FK7010 FK7_CONTRAPARTIDA
					LEFT JOIN SE2010 SE2_CONTRAPARTIDA
						LEFT JOIN SZI010 SZI_CONTRAPARTIDA
						ON (SZI_CONTRAPARTIDA.D_E_L_E_T_ = ''
						AND SZI_CONTRAPARTIDA.ZI_FILIAL  = SE2_CONTRAPARTIDA.E2_FILIAL
						AND SZI_CONTRAPARTIDA.ZI_SERIE   = SE2_CONTRAPARTIDA.E2_PREFIXO
						AND SZI_CONTRAPARTIDA.ZI_DOC     = SE2_CONTRAPARTIDA.E2_NUM
						AND SZI_CONTRAPARTIDA.ZI_PARCELA = SE2_CONTRAPARTIDA.E2_PARCELA
						AND SZI_CONTRAPARTIDA.ZI_ASSOC   = SE2_CONTRAPARTIDA.E2_FORNECE
						AND SZI_CONTRAPARTIDA.ZI_LOJASSO = SE2_CONTRAPARTIDA.E2_LOJA)
					ON (SE2_CONTRAPARTIDA.D_E_L_E_T_ = ''
						AND FK7_CONTRAPARTIDA.FK7_FILIAL = SE2_CONTRAPARTIDA.E2_FILIAL
						AND FK7_CONTRAPARTIDA.FK7_ALIAS = 'SE2'
						AND FK7_CONTRAPARTIDA.FK7_CHAVE = SE2_CONTRAPARTIDA.E2_FILIAL + '|' + SE2_CONTRAPARTIDA.E2_PREFIXO + '|' + SE2_CONTRAPARTIDA.E2_NUM + '|' + SE2_CONTRAPARTIDA.E2_PARCELA + '|' + SE2_CONTRAPARTIDA.E2_TIPO + '|' + SE2_CONTRAPARTIDA.E2_FORNECE + '|' + SE2_CONTRAPARTIDA.E2_LOJA)
				ON (FK7_CONTRAPARTIDA.D_E_L_E_T_ = ''
				AND FK7_CONTRAPARTIDA.FK7_FILIAL = FK2_CONTRAPARTIDA.FK2_FILIAL
				AND FK7_CONTRAPARTIDA.FK7_IDDOC  = FK2_CONTRAPARTIDA.FK2_IDDOC)
			ON (FK2_CONTRAPARTIDA.D_E_L_E_T_ = ''
			AND FK2_CONTRAPARTIDA.FK2_FILIAL = FK2_COMP.FK2_FILIAL
			AND FK2_CONTRAPARTIDA.FK2_IDDOC  = FK2_COMP.FK2_IDCOMP
			AND FK2_CONTRAPARTIDA.FK2_SEQ    = FK2_COMP.FK2_SEQ
			AND dbo.VA_FESTORNADO_FK2(FK2_CONTRAPARTIDA.FK2_FILIAL, FK2_CONTRAPARTIDA.FK2_IDFK2) != 1
			AND FK2_CONTRAPARTIDA.FK2_TPDOC != 'ES'
			AND FK2_CONTRAPARTIDA.FK2_MOTBX  = 'CMP'
			AND FK2_CONTRAPARTIDA.FK2_TPDOC  = 'BA'
			AND FK2_COMP.FK2_MOTBX = 'CMP'
			AND FK2_COMP.FK2_TPDOC = 'CP')

		-- COMPENSACOES DO TITULO ORIGINAL. NAO VALIDAR FILIAL POR QUE POSSO COMPENSAR COM TITULOS DE OUTRAS FILIAIS.
		ON (FK2_COMP.D_E_L_E_T_ = ''
			AND FK2_COMP.FK2_IDDOC = FK7_PAGTO.FK7_IDDOC
			AND dbo.VA_FESTORNADO_FK2(FK2_COMP.FK2_FILIAL, FK2_COMP.FK2_IDFK2) != 1
			AND FK2_COMP.FK2_TPDOC != 'ES'
			AND FK2_COMP.FK2_MOTBX = 'CMP'
			AND FK2_COMP.FK2_TPDOC != 'BA')
	
	-- FK7 DO TITULO ORIGINAL. SERVE PARA RELACIONAR COM FK2 (TANTO BAIXAS, COMO COMPENSACOES E FATURAS)
	ON (FK7_PAGTO.D_E_L_E_T_ = ''
		AND FK7_PAGTO.FK7_FILIAL = SE2_PAGTO.E2_FILIAL
		AND FK7_PAGTO.FK7_ALIAS  = 'SE2'
		AND FK7_PAGTO.FK7_CHAVE  = SE2_PAGTO.E2_FILIAL + '|' + SE2_PAGTO.E2_PREFIXO + '|' + SE2_PAGTO.E2_NUM + '|' + SE2_PAGTO.E2_PARCELA + '|' + SE2_PAGTO.E2_TIPO + '|' + SE2_PAGTO.E2_FORNECE + '|' + SE2_PAGTO.E2_LOJA)

	-- RELACIONAR COM A CONTA CORRENTE (SZI E ZX5) USANDO LEFT JOIN POR QUE
	-- NEM TODOS OS FORNECEDORES DE SAFRA SOA ASSOCIADOS E, PORTANTO, NAO TEM CONTA CORRENTE.
	LEFT JOIN SZI010 SZI_PAGTO
		JOIN ZX5010 ZX5_PAGTO
		ON (ZX5_PAGTO.D_E_L_E_T_ = ''
		AND ZX5_PAGTO.ZX5_TABELA = '10'
		AND ZX5_PAGTO.ZX5_FILIAL = '  '
		AND ZX5_PAGTO.ZX5_10COD  = SZI_PAGTO.ZI_TM)
	ON (SZI_PAGTO.D_E_L_E_T_ = ''
	AND SZI_PAGTO.ZI_TM IN ('13', '16')  -- TIPOS DE MOVIMENTO QUE SAO ENTENDIDOS COMO 'RENDIMENTO DE SAFRA'
	AND SZI_PAGTO.ZI_FILIAL  = SE2_PAGTO.E2_FILIAL
	AND SZI_PAGTO.ZI_SERIE   = SE2_PAGTO.E2_PREFIXO
	AND SZI_PAGTO.ZI_DOC     = SE2_PAGTO.E2_NUM
	AND SZI_PAGTO.ZI_PARCELA = SE2_PAGTO.E2_PARCELA
	AND SZI_PAGTO.ZI_ASSOC   = SE2_PAGTO.E2_FORNECE
	AND SZI_PAGTO.ZI_LOJASSO = SE2_PAGTO.E2_LOJA)

WHERE SE2_PAGTO.D_E_L_E_T_ = ''

