


ALTER VIEW [dbo].[GX0027_PEDIDOS_FATURADOS] AS 

SELECT
    CASE C5_TPFRETE 
        WHEN 'C' THEN 'CIF' 
        WHEN 'F' THEN 'FOB' 
    END AS GX0027_PEDIDOS_FATURADOS_C5_TPFRETE,
	SC5010.C5_NUM AS GX0027_PEDIDOS_FATURADOS_C5_NUM,
    C5_EMISSAO AS GX0027_PEDIDOS_FATURADOS_C5_EMISSAO,
	C5_VAUSER AS GX0027_PEDIDOS_FATURADOS_C5_VAUSER,
	C5_CLIENTE AS GX0027_PEDIDOS_FATURADOS_C5_CLIENTE,
    IsNull(A1_NOME,IsNull(A2_NOME,'')) AS GX0027_PEDIDOS_FATURADOS_A2_NOME,
    C5_VAEST AS GX0027_PEDIDOS_FATURADOS_C5_VAEST,
    C5_PBRUTO AS GX0027_PEDIDOS_FATURADOS_C5_PBRUTO,
    C5_VAVLFAT AS GX0027_PEDIDOS_FATURADOS_C5_VAVLFAT,
    (SELECT dbo.VA_FSTATUS_PED_VENDA(C5_FILIAL,C5_NUM)) AS GX0027_PEDIDOS_FATURADOS_STATUS,
    C5_TRANSP AS GX0027_PEDIDOS_FATURADOS_C5_TRANSP,
    C5_VAOBSLG AS GX0027_PEDIDOS_FATURADOS_C5_VAOSLG,
    C5_VEND1 AS GX0027_PEDIDOS_FATURADOS_C5_VEND1,
	SA3010.A3_NOME AS GX0027_PEDIDOS_FATURADOS_C5_VEND1_NOME,
    A3_VAGEREN AS GX0027_PEDIDOS_FATURADOS_A3_VAGEREN,
	SX5010.X5_DESCRI AS GX0027_PEDIDOS_FATURADOS_A3_VAGEREN_NOME,
    CASE C5_TIPO 
        WHEN 'N' THEN 'Normal' 
        WHEN 'C' THEN 'Compl.Preco/Quantidade' 
        WHEN 'I' THEN 'Compl.ICMS' 
        WHEN 'P' THEN 'Compl.IPI'
        WHEN 'D' THEN 'Dev.Compras'
        WHEN 'B' THEN 'Utiliza Fornecedor'
    END AS GX0027_PEDIDOS_FATURADOS_C5_TIPO,
    IsNull(A1_MUN,IsNull(A2_MUN,'')) AS GX0027_PEDIDOS_FATURADOS_A2_MUN,
    C5_TRANSP + ' - ' + IsNull(A4_NOME,'') as GX0027_PEDIDOS_FATURADOS_TRANSPORTADORA,
    C5_PEDCLI AS GX0027_PEDIDOS_FATURADOS_C5_PEDCLI,
    C5_FILIAL AS GX0027_PEDIDOS_FATURADOS_C5_FILIAL,
	C5_MVFRE AS GX0027_PEDIDOS_FATURADOS_C5_MVFRE,
	C5_VAMCONT AS GX0027_PEDIDOS_FATURADOS_C5_VAMCONT
	
    FROM SC5010 
    LEFT JOIN SA1010 ON (SA1010.D_E_L_E_T_ = '' 
        AND SA1010.A1_FILIAL = '' 
        AND SA1010.A1_COD = SC5010.C5_CLIENTE
        AND SA1010.A1_LOJA = SC5010.C5_LOJACLI) 
    LEFT JOIN SA2010 ON (SA2010.D_E_L_E_T_ = '' 
        AND SA2010.A2_FILIAL = ''
        AND SA2010.A2_COD = SC5010.C5_CLIENTE 
        AND SA2010.A2_LOJA = SC5010.C5_LOJACLI)
    LEFT JOIN SA4010 ON (SA4010.D_E_L_E_T_ = '' 
        AND SA4010.A4_FILIAL = ''
        AND SA4010.A4_COD = SC5010.C5_TRANSP)
    JOIN SA3010 ON (SA3010.D_E_L_E_T_ = '' 
        AND SA3010.A3_FILIAL = ''
        AND SA3010.A3_COD = SC5010.C5_VEND1 )
	LEFT JOIN SX5010 ON (A3_VAGEREN = X5_CHAVE
		AND SX5010.D_E_L_E_T_ = ''
		AND SX5010.X5_TABELA = '80')
	WHERE 
		EXISTS(
			SELECT * FROM SC6010 
			WHERE SC5010.C5_FILIAL = SC6010.C6_FILIAL 
			AND SC5010.C5_NUM = SC6010.C6_NUM 
			AND SC6010.C6_QTDVEN = C6_QTDENT 
			AND SC6010.C6_BLQ NOT IN ('R', 'S') 
			AND SC6010.D_E_L_E_T_ = '')
			

