





ALTER VIEW [dbo].[GX0029_NOTAS_FATURADAS] AS

SELECT
	SM0.M0_NOME AS GX0029_NOTAS_FATURADAS_EMPRESA
   ,SM0.M0_CODFIL AS GX0029_NOTAS_FATURADAS_FILIAL
   ,V.DOC AS GX0029_NOTAS_FATURADAS_NF
   ,TRFAT.TrnFatNotaFiscalDataEntrega AS GX0029_NOTAS_FATURADAS_DTENTREGA
   ,dbo.VA_DTOC(V.EMISSAO) AS GX0029_NOTAS_FATURADAS_EMISSAO
   ,V.EMISSAO AS GX0029_NOTAS_FATURADAS_EMISSAOSTR
   ,PEDVENDA AS GX0029_NOTAS_FATURADAS_PEDVENDA
   ,CASE
		WHEN V.ORIGEM = 'SD1' THEN 'DEVOLUCAO'
		WHEN V.F4_MARGEM = '1' THEN 'FATURADO'
		WHEN V.F4_MARGEM = '3' THEN 'BONIFICADO'
		WHEN V.F4_MARGEM = '4' THEN 'COMODATO'
		WHEN V.F4_MARGEM = '5' THEN 'RET.COMODATO'
		WHEN V.F4_MARGEM = '9' THEN 'NAO SE APLICA'
		ELSE V.F4_MARGEM
	END AS GX0029_NOTAS_FATURADAS_FAT_BONIF
   ,V.CLIENTE AS GX0029_NOTAS_FATURADAS_CODCLI
   ,RTRIM(SA1.A1_NOME) AS GX0029_NOTAS_FATURADAS_CLIENTE
   ,V.PRODUTO AS GX0029_NOTAS_FATURADAS_CODIGO
   ,RTRIM(SB1.B1_DESC) AS GX0029_NOTAS_FATURADAS_DESCRICAO
   ,SA1.A1_EST AS GX0029_NOTAS_FATURADAS_ESTADO
   ,RTRIM(SA1.A1_MUN) AS GX0029_NOTAS_FATURADAS_MUNICIPIO
   ,V.QTCAIXAS *
	CASE V.ORIGEM
		WHEN 'SD1' THEN -1
		ELSE 1
	END AS GX0029_NOTAS_FATURADAS_QT_CAIXAS
   ,V.QTLITROS *
	CASE V.ORIGEM
		WHEN 'SD1' THEN -1
		ELSE 1
	END AS GX0029_NOTAS_FATURADAS_QT_LITROS
   ,V.QUANTIDADE *
	CASE V.ORIGEM
		WHEN 'SD1' THEN -1
		ELSE 1
	END AS GX0029_NOTAS_FATURADAS_QTD
   ,V.VEND1 AS GX0029_NOTAS_FATURADAS_COD_REPRES
   ,RTRIM(A3_NOME) AS GX0029_NOTAS_FATURADAS_REPRES
   ,(V.TOTAL + V.PVCOND * V.D2_VALFRE) *
	CASE V.ORIGEM
		WHEN 'SD1' THEN -1
		ELSE 1
	END AS GX0029_NOTAS_FATURADAS_VALMERC
   ,(V.TOTAL + V.VALIPI + V.SEGURO + V.DESPESA + V.PVCOND + V.ICMSRET + V.D2_VALFRE) *
	CASE V.ORIGEM
		WHEN 'SD1' THEN -1
		ELSE 1
	END AS GX0029_NOTAS_FATURADAS_VALBRUT
   ,V.PESOBRUTO AS GX0029_NOTAS_FATURADAS_PESOBRUTO
   ,A3_VAGEREN AS GX0029_NOTAS_FATURADAS_A3_VAGEREN
   ,SA1.A1_PESSOA AS GX0029_NOTAS_FATURADAS_A1_PESSOA
   ,SC5.C5_VAIDT AS GX0029_ID_PAGARME
   ,SC5.C5_VANSU AS GX0029_NSU
   ,CASE SA4.A4_COD
		WHEN ISNULL(SA4.A4_COD, '')  THEN SA4.A4_COD +' - '+ SA4.A4_NOME 
		ELSE ''
	END AS GX0029_NOTAS_FATURADAS_TRANSP
   ,V.RAPELPREV AS GX0029_NOTAS_FATURADAS_RAPEL
   ,V.CHAVENFE	AS GX0029_NOTAS_FATURADAS_CHAVENFE
 
   
FROM SB1010 SB1
	,SA1010 SA1
	 LEFT JOIN SA1010 SA1BASE
		 ON (SA1BASE.D_E_L_E_T_ != '*'
				 AND SA1BASE.A1_FILIAL = SA1.A1_FILIAL
				 AND SA1BASE.A1_COD = SA1.A1_VACBASE
				 AND SA1BASE.A1_LOJA = SA1.A1_VALBASE)
	,VA_VFAT AS V
	 LEFT JOIN SA3010 SA3
		 ON (SA3.D_E_L_E_T_ != '*'
				 AND SA3.A3_FILIAL = ' '
				 AND SA3.A3_COD = V.VEND1)
	 LEFT JOIN SA4010 SA4
		 ON (SA4.D_E_L_E_T_ != '*'
				 AND SA4.A4_FILIAL = ' '
				 AND SA4.A4_COD = V.TRANSP)
	 LEFT JOIN VA_SM0 SM0
		 ON (SM0.D_E_L_E_T_ != '*'
				 AND SM0.M0_CODIGO = V.EMPRESA
				 AND SM0.M0_CODFIL = V.FILIAL)
	 LEFT JOIN ZX5010 ZX5_39
		 ON (ZX5_39.D_E_L_E_T_ != '*'
				 AND ZX5_39.ZX5_FILIAL = ' '
				 AND ZX5_39.ZX5_TABELA = '39'
				 AND ZX5_39.ZX5_39COD = V.CODLINHA)
	 LEFT JOIN SX5010 SX5_98
		 ON (SX5_98.D_E_L_E_T_ != '*'
				 AND SX5_98.X5_FILIAL = ' '
				 AND SX5_98.X5_TABELA = '98'
				 AND SX5_98.X5_CHAVE = V.GRPEMB)
	 LEFT JOIN ZX5010 ZX5_40
		 ON (ZX5_40.D_E_L_E_T_ != '*'
				 AND ZX5_40.ZX5_FILIAL = ' '
				 AND ZX5_40.ZX5_TABELA = '40'
				 AND ZX5_40.ZX5_40COD = V.MARCA)
	 LEFT JOIN SF4010 SF4
		 ON (SF4.D_E_L_E_T_ != '*'
				 AND SF4.F4_FILIAL = ' '
				 AND SF4.F4_CODIGO = V.TES)
	 LEFT JOIN naweb.dbo.TrnFatNotaFiscal TRFAT
		 ON (TRFAT.TrnFatNotaFiscalNf = V.DOC
				 AND TRFAT.TrnFatNotaFiscalFilial = SM0.M0_CODFIL
				 AND TRFAT.TrnFatNotaFiscalPedido = PEDVENDA)
	 LEFT JOIN SC5010 SC5
		 ON (SC5.D_E_L_E_T_ != '*'
				 AND SC5.C5_FILIAL = V.FILIAL
				 AND SC5.C5_NUM = V.PEDVENDA)
WHERE SB1.D_E_L_E_T_ != '*'
AND SB1.B1_FILIAL = ' '
AND SB1.B1_COD = V.PRODUTO
AND SA1.D_E_L_E_T_ != '*'
AND SA1.A1_FILIAL = ' '
AND SA1.A1_COD = V.CLIENTE
AND SA1.A1_LOJA = V.LOJA
AND V.TIPONFSAID != 'B'
AND V.TIPONFSAID != 'D'
AND (V.F4_MARGEM = '2'
AND V.ORIGEM = 'SD1'
AND V.TIPONFENTR = 'D'
OR (V.ORIGEM = 'SD2'
AND V.F4_MARGEM IN ('1', '3')))
--AND V.EMISSAO BETWEEN '20200101' AND '20200818'


