
ALTER VIEW [dbo].[VA_VGRUPOS_UVAS_SAFRA]
AS

-- Cooperativa Agroindustriala Nova Alianca Ltda
-- View para buscar agrupamentos de variedades de uvas em cada safra.
-- Autor: Robert Koch
-- Data:  01/12/2018
-- Historico de alteracoes:
--

WITH BASE
AS
(SELECT
		ZX5_13.ZX5_13SAFR AS SAFRA
	   ,ZX5_13.ZX5_13GRUP AS GRUPO
	   ,ZX5_13.ZX5_13DESC AS DESC_GRUPO
	   ,STRING_AGG(RTRIM(ZX5_14.ZX5_14PROD), ', ') AS PRODUTOS
	   ,STRING_AGG(RTRIM(ZX5_14.ZX5_14PROD) + '-' + RTRIM(SB5.B5_CEME), ', ') AS DESCRICOES
	FROM ZX5010 ZX5_13
	JOIN ZX5010 ZX5_14
	JOIN SB5010 SB5
		ON (SB5.D_E_L_E_T_ = ''
		AND SB5.B5_FILIAL = '  '
		AND SB5.B5_COD = ZX5_14.ZX5_14PROD)
		ON (ZX5_14.D_E_L_E_T_ = ''
		AND ZX5_14.ZX5_FILIAL = ZX5_13.ZX5_FILIAL
		AND ZX5_14.ZX5_TABELA = '14'
		AND ZX5_14.ZX5_14SAFR = ZX5_13.ZX5_13SAFR
		AND ZX5_14.ZX5_14GRUP = ZX5_13.ZX5_13GRUP)
	WHERE ZX5_13.D_E_L_E_T_ = ''
	AND ZX5_13.ZX5_FILIAL = '  '
	AND ZX5_13.ZX5_TABELA = '13'
	GROUP BY ZX5_13.ZX5_13SAFR
			,ZX5_13.ZX5_13GRUP
			,ZX5_13.ZX5_13DESC)
SELECT
	BASE.SAFRA
   ,BASE.GRUPO
   ,(SELECT
			ZX5_13DESC
		FROM ZX5010
		WHERE D_E_L_E_T_ = ''
		AND ZX5_FILIAL = '  '
		AND ZX5_TABELA = '13'
		AND ZX5_13SAFR = BASE.SAFRA
		AND ZX5_13GRUP = SUBSTRING(BASE.GRUPO, 1, 1)) AS NIVEL1
   ,(SELECT
			LTRIM (ZX5_13DESC)
		FROM ZX5010
		WHERE D_E_L_E_T_ = ''
		AND ZX5_FILIAL = '  '
		AND ZX5_TABELA = '13'
		AND ZX5_13SAFR = BASE.SAFRA
		AND ZX5_13GRUP = SUBSTRING(BASE.GRUPO, 1, 2)) AS NIVEL2
   ,(SELECT
			LTRIM (ZX5_13DESC)
		FROM ZX5010
		WHERE D_E_L_E_T_ = ''
		AND ZX5_FILIAL = '  '
		AND ZX5_TABELA = '13'
		AND ZX5_13SAFR = BASE.SAFRA
		AND ZX5_13GRUP = BASE.GRUPO) AS NIVEL3
   ,BASE.PRODUTOS, BASE.DESCRICOES
FROM BASE

