
ALTER VIEW [dbo].[GX0037_ASSOCIADOS] AS 

SELECT DISTINCT
	A2_CGC AS GX0037_ASSOCIADOS_CPF,
	ZI_NOMASSO AS GX0037_ASSOCIADOS_NOME,
	ZI_ASSOC AS GX0037_ASSOCIADOS_CODIGO,
	ZI_LOJASSO AS GX0037_ASSOCIADOS_LOJA,
	A2_INSCR AS GX0037_ASSOCIADOS_INSCR
FROM SZI010 as SZI inner join SA2010 as SA2 
	ON (SZI.ZI_ASSOC = A2_COD and ZI_LOJASSO = A2_LOJA)
WHERE A2_CGC <> '' and  A2_CGC <> '.' 

