

ALTER VIEW [dbo].[GX0044_IND_PROD]  as

SELECT
	D3_FILIAL AS GX0044_IND_PROD_FILIAL,
	D3_COD AS GX0044_IND_PROD_CODIGO,
	B1_DESC AS GX0044_IND_PROD_PRODUTO,
	B1_VALINEN AS GX0044_IND_PROD_LINHA_ENV,
	SH1010.H1_DESCRI AS GX0044_IND_PROD_LINHA_ENV_DESC,
	B1_GRPEMB AS GX0044_IND_PROD_EMB,
	ZX5_50DESC AS GX0044_IND_PROD_EMB_DESC,
	D3_OP AS GX0044_IND_PROD_OP,
	D3_VADTPRD AS GX0044_IND_PROD_DATA_OP,
	CAST((SELECT TOP 1 ZAH_PRONOM FROM ZAH010 WHERE ZAH_CELCOD = B1_CELCOD AND D_E_L_E_T_ = '') / B1_LITROS AS INT) AS GX0044_IND_PROD_CAP_100,
	SUM(HC_QUANT) AS GX0044_IND_PROD_PROG_PM,
	C2_QUANT AS GX0044_IND_PROD_PREV_OP,
	SUM(D3_QUANT) AS GX0044_IND_PROD_PROD,
	C4_DOC AS GX0044_IND_PROD_CENARIO,
	SUM(C4_QUANT) AS GX0044_IND_PROD_PREV_VENDA_MES, 
	D3_VATURNO AS GX0044_IND_PROD_TURNO,
	C2_VAEVENT as GX0044_IND_PROD_EVENTO
	
FROM SD3010
	LEFT JOIN SB1010 ON (SB1010.D_E_L_E_T_ = '' AND B1_COD = D3_COD)
	LEFT JOIN SH1010 ON (SH1010.D_E_L_E_T_ = '' AND SB1010.B1_VALINEN = SH1010.H1_CODIGO)
	LEFT JOIN ZX5010 ON (ZX5010.D_E_L_E_T_ = '' AND ZX5010.ZX5_50COD = B1_GRPEMB)
	LEFT JOIN SHC010 ON (SHC010.D_E_L_E_T_ = '' AND HC_FILIAL = D3_FILIAL AND HC_PRODUTO = D3_COD AND SUBSTRING(HC_DATA, 1, 6) = SUBSTRING(D3_VADTPRD, 1, 6))
	LEFT JOIN SC2010 ON (SC2010.D_E_L_E_T_ = '' AND C2_NUM + C2_ITEM + C2_SEQUEN + C2_ITEMGRD = D3_OP AND C2_PRODUTO = D3_COD AND C2_FILIAL = D3_FILIAL)
	LEFT JOIN SC4010 ON (SC4010.D_E_L_E_T_ = '' AND SUBSTRING(C4_DATA, 1, 6) = SUBSTRING(D3_VADTPRD, 1, 6) AND C4_FILIAL = D3_FILIAL AND C4_PRODUTO = D3_COD)
WHERE 
D3_CF like 'PR%'
AND D3_ESTORNO <> 'S'
AND SD3010.D_E_L_E_T_ = ''

GROUP BY D3_FILIAL, D3_COD, B1_DESC, B1_VALINEN, H1_DESCRI, B1_GRPEMB, ZX5_50DESC, D3_OP, D3_VADTPRD, C2_QUANT, C4_DOC, D3_VATURNO, B1_CELCOD, B1_LITROS, C2_VAEVENT
--ORDER BY D3_FILIAL, D3_COD, D3_VADTPRD, D3_VATURNO

