

CREATE view [dbo].[GX0045_IMPRESSORAS]
AS
SELECT
	R_E_C_N_O_ AS GX0045_R_E_C_N_O_,
	ZX5_FILIAL AS GX0045_FILIAL,
	ZX5_49COD  AS GX0045_CODIGO,
	ZX5_49DESC AS GX0045_DESCRICAO,
	ZX5_49LING AS GX0045_MARCA, 
	ZX5_CHAVE  AS GX0045_CHAVE
	
FROM ZX5010
WHERE 
	D_E_L_E_T_ = '' AND 
	ZX5_TABELA = '49' --AND	ZX5_49LING = 3

