

ALTER VIEW [dbo].[GX0059_VENDAS_ENTREGAS_FUTURAS] as

WITH C AS (
SELECT V.ROW_NUMBER,
V.FILIAL,
V.CONTRATO,
V.OBS,
V.ITEM_CONTR,
V.PRODUTO,
V.TIPO_MOVTO,
V.NF,
V.ITEM_NF,
V.EMISSAO_NF,
V.QUANT_NF,
V.SALDO_QT,
V.SALDO_VALOR,
V.SALDO_CUSTO,
V.ALMOX,
SA1.A1_NOME,
SB1.B1_DESC,
SB1.B1_UM,
SUM(QUANT_NF) OVER(PARTITION BY FILIAL, CONTRATO, ITEM_CONTR) AS QT_NA_DATABASE

FROM VA_VVENDA_ENT_FUTURA V,
SA1010 SA1,
SB1010 SB1
WHERE SA1.D_E_L_E_T_ = ''
AND SA1.A1_FILIAL = ' '
AND SA1.A1_COD = V.CLIENTE
AND SA1.A1_LOJA = V.LOJA
AND SB1.D_E_L_E_T_ = ''
AND SB1.B1_FILIAL = ' '
AND SB1.B1_COD = V.PRODUTO

)
SELECT 
ROW_NUMBER as GX0059_ROW,
'GERAL' AS GX0059_GERAL,
FILIAL  AS GX0059_FILIAL,
CONTRATO + '/' + ITEM_CONTR AS GX0059_CONTRATO,
CASE WHEN OBS = '' THEN '' ELSE '(Obs.: ' + RTRIM (OBS) + ')' END AS GX0059_OBS,
PRODUTO as GX0059_PRODUTO,
CASE TIPO_MOVTO
WHEN 'F' THEN 'Faturam'
WHEN 'R' THEN 'Remessa'
ELSE '?'
END AS GX0059_TIPO_MOVTO,
NF as GX0059_NF,
ALMOX AS GX0059_ALMOX,
EMISSAO_NF AS GX0059_EMISSAO_NF,
QUANT_NF as GX0059_QTDE_NF, 
SALDO_QT as GX0059_SALDO_QT,
SALDO_VALOR as GX0059_SALDO_VALOR,
SALDO_CUSTO as GX0059_SALDO_CUSTO,
RTRIM(A1_NOME) AS GX0059_NOME_CLIENTE ,
RTRIM(B1_DESC) AS GX0059_DESCRI_PROD,
B1_UM as GX0059_UNIDADE 
FROM C





