
-- Cooperativa Vinicola Nova Alianca Ltda
-- View para buscar dados dos promotores
-- Autor: ------------
-- Data:  24/02/2021
-- Historico de alteracoes:
-- 24/02/2021 - Claudia - Incluida a coluna de valor da mercadoria. GLPI: 9292


CREATE view [dbo].[GX0047_PROMOTORES]
AS
SELECT
	'NF_ENTRADA' AS TIPO
   ,SF1.F1_FORNECE AS PROMOTOR
   ,SF1.F1_LOJA AS LOJA_PROMOTOR
   ,SA2.A2_NOME AS NOME_PROMOTOR
   ,SF1.F1_EMISSAO AS EMISSAO
   ,SF1.F1_DOC AS NOTA
   ,SF1.F1_SERIE AS SERIE
   ,SF1.F1_VALBRUT AS VALOR_BRUTO
   ,SF1.F1_VALMERC AS VALOR_MERC
   ,'-' AS VENDEDOR
   ,'-' AS NOME_VENDEDOR
   ,'-' AS SUPERVISOR
   ,'-' AS SUPERVISOR_NOME
   ,'-' AS CLIENTE
   ,'-' AS NOME_CLIENTE
   ,'-' AS C_BASE
   ,'-' AS L_BASE
   ,'-' AS N_BASE
FROM SF1010 SF1
INNER JOIN SA2010 SA2
	ON (SA2.D_E_L_E_T_ = ''
			AND SA2.A2_COD = SF1.F1_FORNECE
			AND SA2.A2_LOJA = SF1.F1_LOJA
			AND SA2.A2_VAPROMO = '2')
WHERE SF1.D_E_L_E_T_ = ''
--AND SF1.F1_EMISSAO BETWEEN '20201101' AND '20201130'

UNION ALL

SELECT
	'NF_SAIDA' AS TIPO
   ,SA1.A1_VAPROMO AS PROMOTOR
   ,SA1.A1_VAPRLOJ AS LOJA_PROMOTOR
   ,SA2.A2_NOME AS NOME_PROMOTOR
   ,SF2.F2_EMISSAO AS EMISSAO
   ,SF2.F2_DOC AS NOTA
   ,SF2.F2_SERIE AS SERIE
   ,SF2.F2_VALBRUT AS VALOR_BRUTO
   ,SF2.F2_VALMERC AS VALOR_MERC
   ,SF2.F2_VEND1 AS VENDEDOR
   ,SA3.A3_NOME AS NOME_VENDEDOR
   ,SA3.A3_VAGEREN AS SUPERVISOR
   ,ZAE.ZAE_NOME AS SUPERVISOR_NOME
   ,SF2.F2_CLIENTE AS CLIENTE
   ,SA1.A1_NOME AS NOME_CLIENTE
   ,SA1.A1_VACBASE AS C_BASE
   ,SA1.A1_VALBASE AS L_BASE
   ,SA1A.A1_NOME AS N_BASE
FROM SF2010 SF2
INNER JOIN SA1010 SA1
	ON (SA1.D_E_L_E_T_ = ''
			AND SA1.A1_COD = SF2.F2_CLIENTE
			AND SA1.A1_LOJA = SF2.F2_LOJA)
INNER JOIN SA1010 SA1A
	ON (SA1A.D_E_L_E_T_ = ''
			AND SA1A.A1_COD = SA1.A1_VACBASE
			AND SA1A.A1_LOJA = SA1.A1_VALBASE)
INNER JOIN SA2010 SA2
	ON (SA2.D_E_L_E_T_ = ''
			AND SA2.A2_COD = SA1.A1_VAPROMO
			AND SA2.A2_LOJA = SA1.A1_VAPRLOJ
			AND SA2.A2_VAPROMO = '2')
INNER JOIN SA3010 SA3
	ON (SA3.D_E_L_E_T_ = ''
			AND SA3.A3_FILIAL = '  '
			AND A3_COD = F2_VEND1)
INNER JOIN ZAE010 ZAE
	ON (ZAE.D_E_L_E_T_ = ''
			AND ZAE.ZAE_FILIAL = SA3.A3_FILIAL
			AND ZAE.ZAE_CCORD = SA3.A3_VAGEREN)
WHERE SF2.D_E_L_E_T_ = ''
--AND SF2.F2_EMISSAO BETWEEN '20201101' AND '20201130'


