CREATE view [dbo].[GX0015_EVENTOS_TIPOS]
AS
SELECT
	ZX5_45COD  AS GX0015_CODIGO,
	ZX5_45DESC AS GX0015_DESCRICAO,
	ZX5_45TIPO AS GX0015_TIPO
FROM 
	ZX5010 
WHERE 
	ZX5_TABELA = '45' AND
	D_E_L_E_T_ = ''

