-- Cooperativa Vinicola Nova Alianca Ltda
-- View para buscar movimentos de compensacoes de titulos no financeiro, gerando cada linha
-- contendo dados do movimento de compensacao e a contrapartida.
-- Cada compensacao aparece duas vezes (cada vez um dos registros eh o original e o outro a contrapartida).
-- Esta view nao contempla compensacoes entre carteiras (caso onde o C5_IDENTEE eh usado)
--
-- Autor: Robert Koch
-- Data:  28/08/2012
-- Historico de alteracoes:
--
ALTER VIEW [dbo].[VA_VCOMPENSACOES] AS (
SELECT ORIG.E5_FILIAL AS FILIAL,
       ORIG.E5_CLIFOR AS CLIFOR,
       ORIG.E5_LOJA AS LOJA,
       ORIG.E5_NUMERO AS NUMERO,
       ORIG.E5_PREFIXO AS PREFIXO,
       ORIG.E5_PARCELA AS PARCELA,
       ORIG.E5_SEQ AS SEQ,
       ORIG.E5_TIPODOC AS TIPODOC,
       ORIG.R_E_C_N_O_ AS RECNO,
       ORIG.E5_DOCUMEN AS DOCUMENTO,
       ORIG.E5_HISTOR AS HIST,
       dbo.VA_SE5_ESTORNO (ORIG.R_E_C_N_O_) AS RECNO_ESTORNO,
       ORIG.E5_VALOR AS VALOR,
       ORIG.E5_DATA AS DATA,
       COMP.E5_DATA AS DATA_COMP,
       ORIG.E5_FORNADT AS FORNADT,
       ORIG.E5_LOJAADT AS LOJAADT,
       ORIG.E5_VACHVEX AS CHVEXT,
       COMP.R_E_C_N_O_ AS RECNO_COMP,
       ORIG.E5_CLIFOR AS CLIFOR_COMP,
       COMP.E5_LOJA AS LOJA_COMP,
       COMP.E5_NUMERO AS NUMERO_COMP,
       COMP.E5_PREFIXO AS PREFIXO_COMP,
       COMP.E5_PARCELA AS PARCELA_COMP,
       COMP.E5_SEQ AS SEQ_COMP,
       COMP.E5_TIPODOC AS TIPODOC_COMP,
       dbo.VA_SE5_ESTORNO (COMP.R_E_C_N_O_) AS RECNO_ESTORNO_COMP,
       COMP.E5_DOCUMEN AS DOCUMENTO_COMP,
       COMP.E5_HISTOR AS HIST_COMP,
       COMP.E5_VACHVEX AS CHVEXT_COMP
FROM   SE5010 ORIG,
       SE5010 COMP
WHERE  ORIG.D_E_L_E_T_ = '' -- OS REGISTROS SAO DELETADOS QUANDO SE 'CANCELA' O MOVIMENTO.
       AND COMP.D_E_L_E_T_ = '' -- OS REGISTROS SAO DELETADOS QUANDO SE 'CANCELA' O MOVIMENTO.
       AND COMP.E5_FILIAL = ORIG.E5_FILIAL
       AND COMP.E5_PREFIXO = SUBSTRING(ORIG.E5_DOCUMEN, 1, 3)
       AND COMP.E5_NUMERO = SUBSTRING(ORIG.E5_DOCUMEN, 4, 6)
       AND COMP.E5_PARCELA = SUBSTRING(ORIG.E5_DOCUMEN, 10, 1)
       AND COMP.E5_TIPO = SUBSTRING(ORIG.E5_DOCUMEN, 11, 3)
       AND COMP.E5_CLIFOR = SUBSTRING(ORIG.E5_DOCUMEN, 14, 6)
       AND COMP.E5_LOJA = SUBSTRING(ORIG.E5_DOCUMEN, 20, 2)
       AND ORIG.E5_PREFIXO = SUBSTRING(COMP.E5_DOCUMEN, 1, 3)
       AND ORIG.E5_NUMERO = SUBSTRING(COMP.E5_DOCUMEN, 4, 6)
       AND ORIG.E5_PARCELA = SUBSTRING(COMP.E5_DOCUMEN, 10, 1)
       AND ORIG.E5_TIPO = SUBSTRING(COMP.E5_DOCUMEN, 11, 3)
       AND COMP.E5_SEQ = ORIG.E5_SEQ
       AND ORIG.E5_MOTBX = 'CMP'
       AND COMP.E5_MOTBX = 'CMP'
       AND ORIG.E5_SITUACA != 'C'
       AND COMP.E5_SITUACA != 'C'
           -- HABILITAR AS LINHAS ABAIXO CASO NAO QUEIRA MAIS BUSCAR MOVIMENTOS ESTORNADOS.
           --       AND dbo.VA_SE5_ESTORNO (ORIG.R_E_C_N_O_) = 0 -- REGISTRO GERADO QUANDO SE 'ESTORNA' O MOVIMENTO.
           --       AND dbo.VA_SE5_ESTORNO (COMP.R_E_C_N_O_) = 0 -- REGISTRO GERADO QUANDO SE 'ESTORNA' O MOVIMENTO.
)

