CREATE view [dbo].[GX0011_CELULAS]
AS
SELECT 
	DISTINCT 
	ZAH_FILIAL AS GX0011_FILIAL, 
	ZAH_CELCOD AS GX0011_CELULA_CODIGO,
	ZAH_CELDES AS GX0011_CELULA_DESCRICAO
FROM 
	ZAH010
WHERE
	D_E_L_E_T_ = ''

