
ALTER VIEW [dbo].[GX0013_TRANSFERENCIAS]
AS
SELECT
	RTrim(ZAG_FILIAL) + RTrim(ZAG_DOC) + RTrim(ZAG_SEQ) AS GX0013_CHAVE, 
	ZAG_PROD AS GX0013_PRODUTO_CODIGO, 
	B1_DESC  AS GX0013_PRODUTO_DESCRICAO,
	ZAG_DOC  AS GX0013_DOCUMENTO, 
	ZAG_SEQ  AS GX0013_SEQUENCIA, 
	ZAG_LOTO AS GX0013_LOTE,
	ZAG_FILIAL AS GX0013_FILIAL
FROM 
	ZAG010, SB1010
WHERE 
	ZAG_PROD = B1_COD AND
	ZAG010.D_E_L_E_T_ = '' AND 
	SB1010.D_E_L_E_T_ = ''


