


CREATE   VIEW [dbo].[GX0061_EVENTOS_ASSOCIADO]
AS
select 
CCAssociadoInscricoes.CCAssociadoCPF AS GX0061_EVENTOS_CPF,
FORNECEDOR AS GX0061_EVENTOS_COD,
CCAssocIEGrpFamCod AS GX0061_EVENTOS_GRPFAM,
--ZX5_54DESC AS GX0061_EVENTOS_DESC1,
DESCRITIVO AS GX0061_EVENTOS_DESC2,
FILIAL AS GX0061_EVENTOS_FILIAL,
DATA AS GX0061_EVENTOS_DATA,
HORA AS GX0061_EVENTOS_HORA,
USUARIO AS GX0061_EVENTOS_USUARIO,
CODEVENTO AS GX0061_EVENTOS_CODEVENTO,
NF_ENTRADA AS GX0061_EVENTOS_NFENTRADA, 
SERIE_NF_ENTRADA AS GX0061_EVENTOS_NFSERIE,
ESTACAO AS GX0061_EVENTOS_COMPUTADOR,
SZNRECNO AS GX0061_EVENTOS_SEQUENCIA, 
SAFRA AS GX0061_EVENTOS_SAFRA,
CARGA_SAFRA AS GX0061_EVENTOS_CARGA	,
CCAssociadoNome AS GX0061_EVENTOS_NOME, 
CCAssociadoGrpFam AS GX0061_EVENTOS_DESC_GRPFAM

--,* 
from naweb.dbo.CCAssociadoInscricoes 

Inner join naweb.dbo.CCAssociado
on CCAssociadoInscricoes.CCAssociadoCPF = CCAssociado.CCAssociadoCPF

Inner join naweb.dbo.CCAssociadoGrpFam
On CCAssociadoInscricoes.CCAssocIEGrpFamCod = CCAssociadoGrpFam.CCAssociadoGrpFamCod
			
Inner join VA_VEVENTOS
on FORNECEDOR = naweb.dbo.CCAssociadoInscricoes.CCAssociadoCod

--left join ZX5010
--on CODEVENTO =  ZX5_54COD

--where 	   DATA = '20230601'
--SAFRA = '2023'   and USUARIO = 'daiana.ribas'
--and FILIAL = '01'
--and CCAssociadoCod = '002074'




				

