
ALTER VIEW [dbo].[GX0031_CONTRATOS] AS 

SELECT

ZA7010.ZA7_CLI AS GX0030_CONTRATOS_CLIENTE,
SA1010.A1_NOME AS GX0030_CONTRATOS_RAZAO_SOCIAL,
SA1010.A1_EST AS GX0030_CONTRATOS_UF,
SA3010.A3_NOME AS GX0030_CONTRATOS_NOME_VEND,
SA3010.A3_VAGEREN AS GX0030_CONTRATOS_SUPERVISOR, 
ZA7010.ZA7_CONT AS GX0030_CONTRATOS_CONTRATO,
ZA7010.ZA7_SEQ AS GX0030_CONTRATOS_SEQ,
ZA7010.ZA7_VINI AS GX0030_CONTRATOS_VIGENCIAINI,
ZA7010.ZA7_VFIM AS GX0030_CONTRATOS_VIGENCIAFIM,
CAST (CAST (ZA7_O_OBS AS VARBINARY (8000)) AS VARCHAR (8000)) as GX0030_CONTRATOS_OBS

FROM ZA7010 
LEFT JOIN SA1010 ON (SA1010.A1_COD = ZA7_CLI AND SA1010.D_E_L_E_T_ = '') 
LEFT JOIN SA3010 ON (SA1010.A1_VEND = SA3010.A3_COD AND SA3010.D_E_L_E_T_ = '')

WHERE ZA7010.D_E_L_E_T_  = ''



