
ALTER VIEW [dbo].[GX0022_NOTA_X_CTE]
AS
WITH C AS (SELECT        'SAI' AS TIPO, SZH.ZH_NFSAIDA AS NOTA, SZH.ZH_SERNFS AS SERIE, SF2.F2_TIPO AS TIPO_NF, dbo.VA_DTOC(SD2.D2_EMISSAO) AS DATA, SD2.D2_CLIENTE AS COD_CLIFOR, SD2.D2_LOJA AS LJ_CLIFOR, 
                                                   SZH.ZH_NFFRETE AS NRO_CONH, SZH.ZH_SERFRET AS SER_CONH, dbo.VA_DTOC(SF1.F1_DTDIGIT) AS DIG_CONH, SZH.ZH_FORNECE AS FORN_CONH, SZH.ZH_LOJA AS LOJA_CONH, 
                                                   SF1.F1_VAFLAG AS VAFLAG, SF1.F1_VAUSER AS INCLUIDO, SF2.F2_PBRUTO AS PESO_BRUTO, SUM(SZH.ZH_RATEIO) AS VLR_FRETE, SUM(SD2.D2_TOTAL) + SUM(SD2.D2_VALIPI) + SUM(SD2.D2_ICMSRET) 
                                                   AS VLR_BRUT, CASE WHEN SF2.F2_PBRUTO > 0 THEN ROUND(SUM(SZH.ZH_RATEIO) / SF2.F2_PBRUTO, 2) ELSE 0 END AS FRETE_KG, SZH.ZH_TPDESP AS TP_DESP, SF2.F2_EST AS ESTADO, SF2.F2_EMISSAO, 
                                                   SZH.ZH_DATA
                          FROM            dbo.SZH010 AS SZH INNER JOIN
                                                   dbo.SD2010 AS SD2 ON SD2.D_E_L_E_T_ = '' AND SD2.D2_FILIAL = SZH.ZH_FILIAL AND SD2.D2_DOC = SZH.ZH_NFSAIDA AND SD2.D2_SERIE = SZH.ZH_SERNFS AND SD2.D2_ITEM = SZH.ZH_ITNFS INNER JOIN
                                                   dbo.SF2010 AS SF2 ON SF2.D_E_L_E_T_ = '' AND SF2.F2_FILIAL = SD2.D2_FILIAL AND SF2.F2_DOC = SD2.D2_DOC AND SF2.F2_SERIE = SD2.D2_SERIE AND SF2.F2_CLIENTE = SD2.D2_CLIENTE AND 
                                                   SF2.F2_CLIENTE BETWEEN '' AND 'ZZZZZZ' AND SF2.F2_EMISSAO = SD2.D2_EMISSAO INNER JOIN
                                                   dbo.SF4010 AS SF4 ON SF4.D_E_L_E_T_ = '' AND SF4.F4_CODIGO = SD2.D2_TES AND SF4.F4_MARGEM IN ('1', '3') LEFT OUTER JOIN
                                                   dbo.SF1010 AS SF1 ON SF1.D_E_L_E_T_ = '' AND SF1.F1_FILIAL = SZH.ZH_FILIAL AND SF1.F1_DOC = SZH.ZH_NFFRETE AND SF1.F1_SERIE = SZH.ZH_SERFRET AND 
                                                   SF1.F1_FORNECE = SZH.ZH_FORNECE
                          WHERE        (SZH.D_E_L_E_T_ = '') AND (SZH.ZH_FILIAL = '01') AND (SZH.ZH_TPFRE = 'S') AND (SZH.ZH_NFSAIDA BETWEEN '' AND 'ZZZZZZZZZ') AND (SZH.ZH_NFFRETE BETWEEN '' AND 'ZZZZZZZZZ')
                          GROUP BY SZH.ZH_NFSAIDA, SZH.ZH_SERNFS, SF2.F2_TIPO, SD2.D2_EMISSAO, SD2.D2_CLIENTE, SD2.D2_LOJA, SF2.F2_PBRUTO, SZH.ZH_NFFRETE, SZH.ZH_SERFRET, SZH.ZH_TPDESP, SF1.F1_DTDIGIT, 
                                                   SZH.ZH_FORNECE, SZH.ZH_LOJA, SF1.F1_VAFLAG, SF1.F1_VAUSER, SF2.F2_EST, SF2.F2_EMISSAO, SZH.ZH_DATA
                          UNION ALL
                          SELECT        'ENT' AS TIPO, SZH.ZH_NFENTR AS NOTA, SZH.ZH_SRNFENT AS SERIE, SF1N.F1_TIPO AS TIPO_NF, dbo.VA_DTOC(SD1.D1_DTDIGIT) AS DATA, SZH.ZH_CLIFOR AS COD_CLIFOR, SZH.ZH_LJCLIFO AS LJ_CLIFOR, 
                                                   SZH.ZH_NFFRETE AS NRO_CONH, SZH.ZH_SERFRET AS SER_CONH, dbo.VA_DTOC(SF1C.F1_DTDIGIT) AS DIG_CONH, SZH.ZH_FORNECE AS FORN_CONH, SZH.ZH_LOJA AS LOJA_CONH, 
                                                   SF1C.F1_VAFLAG AS VAFLAG, SF1C.F1_VAUSER AS INCLUIDO, SF1N.F1_PBRUTO AS PESO_BRUTO, SUM(SZH.ZH_RATEIO) AS VLR_FRETE, SUM(SD1.D1_TOTAL) + SUM(SD1.D1_VALIPI) + SUM(SD1.D1_ICMSRET) 
                                                   AS VLR_BRUT, CASE WHEN SF1N.F1_PBRUTO > 0 THEN ROUND(SUM(SZH.ZH_RATEIO) / SF1N.F1_PBRUTO, 2) ELSE 0 END AS FRETE_KG, SZH.ZH_TPDESP AS TP_DESP, SF1N.F1_EST AS ESTADO, 
                                                   SF1N.F1_DTDIGIT, SZH.ZH_DATA
                          FROM            dbo.SZH010 AS SZH INNER JOIN
                                                   dbo.SD1010 AS SD1 ON SD1.D_E_L_E_T_ = '' AND SD1.D1_FILIAL = SZH.ZH_FILIAL AND SD1.D1_DOC = SZH.ZH_NFENTR AND SD1.D1_FORNECE = SZH.ZH_CLIFOR AND SD1.D1_SERIE = SZH.ZH_SRNFENT AND 
                                                   SD1.D1_ITEM = '00' + SZH.ZH_ITNFE INNER JOIN
                                                   dbo.SF1010 AS SF1N ON SF1N.D_E_L_E_T_ = '' AND SF1N.F1_FILIAL = SD1.D1_FILIAL AND SF1N.F1_DOC = SD1.D1_DOC AND SF1N.F1_SERIE = SD1.D1_SERIE AND SF1N.F1_FORNECE = SD1.D1_FORNECE AND 
                                                   SF1N.F1_FORNECE BETWEEN ' ' AND 'ZZZZZZ' AND SF1N.F1_DTDIGIT = SD1.D1_DTDIGIT LEFT OUTER JOIN
                                                   dbo.SF1010 AS SF1C ON SF1C.D_E_L_E_T_ = '' AND SF1C.F1_FILIAL = SZH.ZH_FILIAL AND SF1C.F1_DOC = SZH.ZH_NFFRETE AND SF1C.F1_SERIE = SZH.ZH_SERFRET AND 
                                                   SF1C.F1_FORNECE = SZH.ZH_FORNECE
                          WHERE        (SZH.D_E_L_E_T_ = '') AND (SZH.ZH_FILIAL = '01') AND (SZH.ZH_TPFRE = 'E') AND (SZH.ZH_CLIFOR BETWEEN '' AND 'ZZZZZZ') AND (SZH.ZH_NFENTR BETWEEN '' AND 'ZZZZZZZZZ') AND 
                                                   (SZH.ZH_NFFRETE BETWEEN '' AND 'ZZZZZZZZZ')
                          GROUP BY SZH.ZH_NFENTR, SZH.ZH_SRNFENT, SF1N.F1_TIPO, SD1.D1_DTDIGIT, SZH.ZH_CLIFOR, SZH.ZH_LJCLIFO, SF1N.F1_PBRUTO, SZH.ZH_NFFRETE, SZH.ZH_SERFRET, SZH.ZH_TPDESP, SF1C.F1_DTDIGIT, 
                                                   SZH.ZH_FORNECE, SZH.ZH_LOJA, SF1C.F1_VAFLAG, SF1C.F1_VAUSER, SF1N.F1_EST, SF1N.F1_DTDIGIT, SZH.ZH_DATA)
    SELECT        C.TIPO AS GX022_NOTA_X_CTE_TIPO, C.NOTA AS GX022_NOTA_X_CTE_NOTA, C.SERIE AS GX022_NOTA_X_CTE_SERIE, CASE C.TIPO WHEN 'ENT' THEN CASE WHEN C.TIPO_NF = 'N' AND 
                              C.ESTADO = 'EX' THEN 'I' WHEN C.TIPO_NF = 'N' AND SUBSTRING(SA2.A2_CGC, 1, 8) = '88612486' THEN 'T' ELSE C.TIPO_NF END WHEN 'SAI' THEN CASE WHEN C.TIPO_NF = 'N' AND 
                              C.ESTADO = 'EX' THEN 'E' WHEN C.TIPO_NF = 'N' AND SUBSTRING(SA1.A1_CGC, 1, 8) = '88612486' THEN 'T' ELSE C.TIPO_NF END END AS GX022_NOTA_X_CTE_TIPO_NF, C.DATA AS GX022_NOTA_X_CTE_DATA, 
                              C.COD_CLIFOR AS GX022_NOTA_X_CTE_COD_CLIFOR, C.LJ_CLIFOR AS GX022_NOTA_X_CTE_LJ_CLIFOR, 
                              CASE C.TIPO WHEN 'ENT' THEN CASE WHEN C.TIPO_NF = 'N' THEN SA2.A2_NOME ELSE SA1.A1_NOME END WHEN 'SAI' THEN CASE WHEN C.TIPO_NF = 'N' THEN SA1.A1_NOME ELSE SA2.A2_NOME END END AS GX022_NOTA_X_CTE_NOME,
                               CASE C.TIPO WHEN 'ENT' THEN CASE WHEN C.TIPO_NF = 'N' THEN SA2.A2_MUN ELSE SA1.A1_MUN END WHEN 'SAI' THEN CASE WHEN C.TIPO_NF = 'N' THEN SA1.A1_MUN ELSE SA2.A2_MUN END END AS GX022_NOTA_X_CTE_CIDADE,
                               CASE C.TIPO WHEN 'ENT' THEN CASE WHEN C.TIPO_NF = 'N' THEN SA2.A2_EST ELSE SA1.A1_EST END WHEN 'SAI' THEN CASE WHEN C.TIPO_NF = 'N' THEN SA1.A1_EST ELSE SA2.A2_EST END END AS GX022_NOTA_X_CTE_ESTADO,
                               C.NRO_CONH AS GX022_NOTA_X_CTE_NRO_CONH, C.SER_CONH AS GX022_NOTA_X_CTE_SER_CONH, C.DIG_CONH AS GX022_NOTA_X_CTE_DIG_CONH, C.FORN_CONH AS GX022_NOTA_X_CTE_FORN_CONH, 
                              C.LOJA_CONH AS GX022_NOTA_X_CTE_LOJA_CNH, SA2F.A2_NOME AS GX022_NOTA_X_CTE_NOME_FORN, SA2F.A2_EST AS GX022_NOTA_X_CTE_UF_FORN, 
                              ISNULL(CASE C.VAFLAG WHEN 'S' THEN 'EDI' WHEN 'X' THEN 'XML' END, 'DIG') AS GX022_NOTA_X_CTE_IMPORTADO, C.INCLUIDO AS GX022_NOTA_X_CTE_INCLUIDO, 
                              CASE WHEN C.TP_DESP = '1' THEN 'ENTREGA' WHEN C.TP_DESP = '2' THEN 'REENTREGA' WHEN C.TP_DESP = '3' THEN 'REDESPACHO' WHEN C.TP_DESP = '4' THEN 'PALETIZACAO' WHEN C.TP_DESP = '5' THEN 'TRANSFERENCIA'
                               END AS GX022_NOTA_X_CTE_TP_DESP, C.PESO_BRUTO AS GX022_NOTA_X_CTE_PESO_BRUTO, C.VLR_FRETE AS GX022_NOTA_X_CTE_VLR_FRETE, C.VLR_BRUT AS GX022_NOTA_X_CTE_VLR_BRUT, 
                              C.FRETE_KG AS GX022_NOTA_X_CTE_FRETE_KG, CASE WHEN C.VLR_BRUT > 0 THEN ROUND(C.VLR_FRETE /C.VLR_BRUT * 100, 2) ELSE 0 END AS GX022_NOTA_X_CTE_PERCENT_VLR_BRUT, C.ZH_DATA AS GX022_NOTA_X_CTE_ZH_DATA, 
                              C.F2_EMISSAO AS GX022_NOTA_X_CTE_F2_EMISSAO, SZ1.ZB_MESO AS GX022_NOTA_X_CTE_ZB_MESO
     FROM            C AS C LEFT OUTER JOIN
                              dbo.SA1010 AS SA1 ON SA1.D_E_L_E_T_ = '' AND SA1.A1_COD = C.COD_CLIFOR AND SA1.A1_LOJA = C.LJ_CLIFOR LEFT OUTER JOIN
                              dbo.SA2010 AS SA2 ON SA2.D_E_L_E_T_ = '' AND SA2.A2_COD = C.COD_CLIFOR AND SA2.A2_LOJA = C.LJ_CLIFOR INNER JOIN
                              dbo.SA2010 AS SA2F ON SA2F.D_E_L_E_T_ = '' AND SA2F.A2_COD = C.FORN_CONH AND SA2F.A2_LOJA = C.LOJA_CONH INNER JOIN
                              dbo.SZB010 AS SZ1 ON SZ1.D_E_L_E_T_ = '' AND SZ1.ZB_EST = C.ESTADO AND 
                              SZ1.ZB_NOME = (CASE C.TIPO WHEN 'ENT' THEN CASE WHEN C.TIPO_NF = 'N' THEN SA2.A2_MUN ELSE SA1.A1_MUN END WHEN 'SAI' THEN CASE WHEN C.TIPO_NF = 'N' THEN SA1.A1_MUN ELSE SA2.A2_MUN END END)

