

ALTER VIEW [dbo].[GX0041_LCTO_CONTABIL] as
-- Cooperativa Vinicola Nova Alianca Ltda
-- View para buscar dados de lancamentos contabeis
-- Autor: Guilherme Oliveira (provavelmente)
-- Data:  22/10/2019
-- Historico de alteracoes:
-- 18/08/2021 - Robert - Incluida leitura da sequencia 002 para mais detalhes no historico do lcto (GLPI 10769)
-- 23/08/2021 - Robert - Incluidas colunas de descaicao das contas
--                     - Reordenadas colunas.
--

SELECT
	CT2_FILIAL AS GX0041_LCTO_CONTABIL_FILIAL,
	CT2_DATA AS GX0041_LCTO_CONTABIL_DATA,
	CT2_DC AS GX0041_LCTO_CONTABIL_CT2_DC,
	CASE
		WHEN CT2_DC in (1, 3)
			THEN CT2_VALOR
		ELSE 0
	END AS GX0041_LCTO_CONTABIL_VALOR_DEBITO,
	CASE
		WHEN CT2_DC in (2, 3)
			THEN CT2_VALOR
		ELSE 0
	END AS GX0041_LCTO_CONTABIL_VALOR_CREDITO,
	CT2.CT2_HIST  + ISNULL((SELECT CT2_HIST
							FROM CT2010 AS HIST1
							WHERE HIST1.D_E_L_E_T_ = ''
							 AND HIST1.CT2_FILIAL = CT2.CT2_FILIAL
							 AND HIST1.CT2_DATA = CT2.CT2_DATA
							 AND HIST1.CT2_LOTE = CT2.CT2_LOTE
							 AND HIST1.CT2_SBLOTE = CT2.CT2_SBLOTE
							 AND HIST1.CT2_DOC = CT2.CT2_DOC
							 AND HIST1.CT2_SEQLAN = CT2.CT2_SEQLAN
							 AND HIST1.CT2_SEQUEN = CT2.CT2_SEQUEN
							 AND HIST1.CT2_EMPORI = CT2.CT2_EMPORI
							 AND HIST1.CT2_FILORI = CT2.CT2_FILORI
							 AND HIST1.CT2_SEQHIS = '002'), '') as GX0041_LCTO_CONTABIL_CT2_HIST,
	CASE
		WHEN CT2_DC in (1, 3)
			THEN CT2_DEBITO
		ELSE ''
	END AS GX0041_LCTO_CONTABIL_DEBITO,
	ISNULL (RTRIM (CT1_D.CT1_DESC01), '') AS GX0041_LCTO_CONTABIL_DESCR_CTA_DEB,
	CASE
		WHEN CT2_DC in (2, 3)
			THEN CT2_CREDIT
		ELSE ''
	END AS GX0041_LCTO_CONTABIL_CREDITO,
	ISNULL (RTRIM (CT1_C.CT1_DESC01), '') AS GX0041_LCTO_CONTABIL_DESCR_CTA_CRED,
	CASE
		WHEN CT2_DC in (1, 3)
			THEN CT2_CCD
		ELSE ''
	END AS GX0041_LCTO_CONTABIL_C_CUSTO_DEB,
	ISNULL (RTRIM (CTT_D.CTT_DESC01), '') AS GX0041_LCTO_CONTABIL_DESCRI_CCD,
	CASE
		WHEN CT2_DC in (2, 3)
			THEN CT2_CCC
		ELSE ''
	END AS GX0041_LCTO_CONTABIL_C_CUSTO_CRED,
	ISNULL (RTRIM (CTT_C.CTT_DESC01), '') AS GX0041_LCTO_CONTABIL_DESCRI_CCC,
	CT2_ORIGEM AS GX0041_LCTO_CONTABIL_ORIGEM
FROM CT2010 AS CT2
	LEFT JOIN CTT010 CTT_D
		ON (CTT_D.D_E_L_E_T_ = ''
		AND CTT_D.CTT_FILIAL = ' '
		AND CTT_D.CTT_CUSTO = CT2.CT2_CCD)
	LEFT JOIN CTT010 CTT_C
		ON (CTT_C.D_E_L_E_T_ = ''
		AND CTT_C.CTT_FILIAL = ' '
		AND CTT_C.CTT_CUSTO = CT2.CT2_CCC)
	LEFT JOIN CT1010 CT1_D
		ON (CT1_D.D_E_L_E_T_ = ''
		AND CT1_D.CT1_FILIAL = ' '
		AND CT1_D.CT1_CONTA = CT2.CT2_DEBITO)
	LEFT JOIN CT1010 CT1_C
		ON (CT1_C.D_E_L_E_T_ = ''
		AND CT1_C.CT1_FILIAL = ' '
		AND CT1_C.CT1_CONTA = CT2.CT2_CREDIT)
WHERE CT2.D_E_L_E_T_ = '' AND CT2_DC in (1, 2, 3)

