
ALTER VIEW [dbo].[VA_VFAIXAS_GRAU_UVAS] AS

-- Cooperativa Agroindustrial Nova Alianca Ltda
-- View para buscar as faixas de graus MINs das uvas para classificacao durante a safra.
-- Autor: Robert Koch
-- Data:  11/12/2021
-- Historico de alteracoes:
--

SELECT ZX5_52.ZX5_52SAFR AS SAFRA, 'L' AS SIST_CONDUCAO
	, ZX5_52.ZX5_52GRUP AS GRUPO
	, RTRIM (ZX5_52.ZX5_52DESC) AS DESC_GRP
	, ZX5_53.ZX5_53PROD AS PRODUTO
	, RTRIM (SB1.B1_DESC) AS DESCRICAO
	, SB1.B1_VAUVAES AS UVA_PARA_ESPUMANTE
	, ZX5_52.ZX5_52GIA AS LATADA_GRAU_MIN_A
	, ZX5_52.ZX5_52GIB AS LATADA_GRAU_MIN_B
	, ZX5_52.ZX5_52GIC AS LATADA_GRAU_MIN_C
	, '' AS ESPALD_GRAU_MIN_PR
	, '' AS ESPALD_GRAU_MIN_AA
	, '' AS ESPALD_GRAU_MIN_A
	, '' AS ESPALD_GRAU_MIN_B
	, '' AS ESPALD_GRAU_MIN_C
	, '' AS ESPALD_GRAU_MIN_D
	, '' AS ESPALD_GRAU_MIN_ESPUMANTE
	, '' AS ESPALD_GRAU_MAX_ESPUMANTE
FROM ZX5010 ZX5_52
	,ZX5010 ZX5_53
	, SB1010 SB1
WHERE ZX5_52.D_E_L_E_T_ = ''
	AND ZX5_52.ZX5_FILIAL = '  '
	AND ZX5_52.ZX5_TABELA = '52'
	AND ZX5_53.D_E_L_E_T_ = ''
	AND ZX5_53.ZX5_FILIAL = '  '
	AND ZX5_53.ZX5_TABELA = '53'
	AND ZX5_53.ZX5_53SAFR = ZX5_52.ZX5_52SAFR
	AND ZX5_53.ZX5_53GRUP = ZX5_52.ZX5_52GRUP
	AND SB1.D_E_L_E_T_ = ''
	AND SB1.B1_FILIAL = '  '
	AND SB1.B1_COD = ZX5_53.ZX5_53PROD

UNION ALL

SELECT ZX5_17.ZX5_17SAFR AS SAFRA
	, 'E' AS SIST_CONDUCAO
	, '' AS GRUPO
	, '' AS DESC_GRP
	, ZX5_17.ZX5_17PROD AS PRODUTO
	, RTRIM (SB1.B1_DESC) AS DESCRICAO
	, SB1.B1_VAUVAES AS UVA_PARA_ESPUMANTE
	, '' AS LATADA_GRAU_MIN_A
	, '' AS LATADA_GRAU_MIN_B
	, '' AS LATADA_GRAU_MIN_C
	, ZX5_17GIPR AS ESPALD_GRAU_MIN_PR
	, ZX5_17GIAA AS ESPALD_GRAU_MIN_AA
	, ZX5_17GIA AS ESPALD_GRAU_MIN_A
	, ZX5_17GIB AS ESPALD_GRAU_MIN_B
	, ZX5_17GIC AS ESPALD_GRAU_MIN_C
	, ZX5_17GID AS ESPALD_GRAU_MIN_D
	, ZX5_17.ZX5_17GIES AS ESPALD_GRAU_MIN_ESPUMANTE
	, ZX5_17.ZX5_17GFES AS ESPALD_GRAU_MAX_ESPUMANTE
FROM ZX5010 ZX5_17
	, SB1010 SB1
WHERE ZX5_17.D_E_L_E_T_ = ''
	AND ZX5_17.ZX5_FILIAL = '  '
	AND ZX5_17.ZX5_TABELA = '17'
	AND SB1.D_E_L_E_T_ = ''
	AND SB1.B1_FILIAL = '  '
	AND SB1.B1_COD = ZX5_17.ZX5_17PROD


