
-- Cooperativa Vinicola Nova Alianca Ltda
-- View para buscar os Produtos do Protheus.
-- Autor: ------------
-- Data:  23/05/2017
-- Historico de alteracoes:
-- 07/08/2020 - Claudia - Incluidos vendedores de verba e NF pela ZA5. GLPI:8270
-- 01/09/2020 - Claudia - Alterado supervisor. GLPI: 8404
-- 24/02/2021 - Claudia - Vendedor da verba e supervisor buscando da ZA4. GLPI: 9460
-- 06/04/2021 - Cláudia - Incluido os códigos de representantes e dt geração.


ALTER VIEW [dbo].[GX0030_VERBAS] AS 

SELECT DISTINCT
	Z4.ZA4_NUM AS GX0030_VERBAS_NUM_VERBA,
	Z4.ZA4_CLI AS GX0030_VERBAS_CLIENTE,
	Z5.ZA5_CLI AS GX0030_VERBAS_CLIENTE_ZA5,
	SA1.A1_VACBASE AS GX0030_VERBAS_MATRIZ,
	SA1.A1_NOME AS GX0030_VERBAS_RAZAO_SOCIAL,
	SA1.A1_EST AS GX0030_VERBAS_UF,
	ISNULL(ZA5_VLR,0) AS GX0030_VERBAS_VALOR,
	Z4.ZA4_VLR - (select ISNULL(SUM(ZA5_VLR),0) from ZA5010 where ZA5_NUM = Z4.ZA4_NUM AND D_E_L_E_T_ = '') AS GX0030_VERBAS_SALDO,
	A31.A3_COD AS GX0030_VERBAS_COD_VEND,
	A31.A3_NOME AS GX0030_VERBAS_NOME_VEND, -- no naweb é o rep verba
	--A3VERB.A3_NOME AS GX0030_VERBAS_NOME_VEND, -- no naweb é o rep verba
	A3NF.A3_COD AS GX0030_VERBAS_COD_VEND_NF,
	A3NF.A3_NOME AS GX0030_VERBAS_NOME_VEND_NF, -- no naweb é o rep nf
	A31.A3_VAGEREN AS GX0030_VERBAS_SUPERVISOR,
	--A3VERB.A3_VAGEREN  AS GX0030_VERBAS_SUPERVISOR,
	Z3.ZA3_DES AS GX0030_VERBAS_DESCRICAO,
	Z4.ZA4_SGER AS GX0030_VERBAS_TIPO,
	ISNULL(ZA4_TLIB, '0') AS GX0030_VERBAS_TIPO_LIBERACAO,
	Z4.ZA4_SUTL AS GX0030_VERBAS_STATUS,
	Z4.ZA4_DLIB AS GX0030_VERBAS_DATA_LIB,
	Z4.ZA4_DGER AS GX0030_VERBAS_DATA_GER,
	Z5.ZA5_DTA AS GX0030_VERBAS_DATA_UTILI,
	Z4.ZA4_VENCTO AS GX0030_VERBAS_DATA_VCTO, 
	Z5.ZA5_DOC AS GX0030_VERBAS_DOCUMENTO,
	Z5.ZA5_SEQ AS GX0030_VERBAS_SEQUENCIA,
	CAST (CAST (ZA4_HG_OBS AS VARBINARY (8000)) AS VARCHAR (8000)) as GX0030_VERBAS_OBSHG,
	CAST (CAST (ZA4_HL_OBS AS VARBINARY (8000)) AS VARCHAR (8000)) as GX0030_VERBAS_OBSHL,
	Z4.ZA4_DOC AS GX0030_VERBAS_DOCUMENTOZ4
FROM ZA4010 AS Z4
LEFT JOIN ZA5010 AS Z5  ON (Z5.ZA5_NUM = Z4.ZA4_NUM AND Z5.D_E_L_E_T_ = '')
LEFT JOIN SA1010 AS S1  ON (S1.A1_COD = Z5.ZA5_CLI AND S1.D_E_L_E_T_ = '')
LEFT JOIN SA3010 AS A3  ON (S1.A1_VEND = A3.A3_COD AND A3.D_E_L_E_T_ = '')
LEFT JOIN ZA3010 AS Z3  ON (ZA4_COD = ZA3_COD AND Z3.D_E_L_E_T_ = '')
LEFT JOIN SA1010 AS SA1 ON (SA1.A1_COD = Z4.ZA4_CLI AND SA1.D_E_L_E_T_ = '')
LEFT JOIN SA3010 AS A31 ON (A31.A3_COD = Z4.ZA4_VEND AND A31.D_E_L_E_T_ = '')
--LEFT JOIN SA3010 AS A3VERB ON (A3VERB.A3_COD = Z5.ZA5_VENVER AND A3VERB.D_E_L_E_T_ = '')
LEFT JOIN SA3010 AS A3NF ON (A3NF.A3_COD = Z5.ZA5_VENNF AND A3NF.D_E_L_E_T_ = '')
LEFT JOIN GX0029_NOTAS_FATURADAS AS GX29 ON (GX29.GX0029_NOTAS_FATURADAS_CODCLI = Z5.ZA5_CLI AND GX29.GX0029_NOTAS_FATURADAS_NF = Z5.ZA5_DOC)

WHERE Z4.D_E_L_E_T_ = ''

