


ALTER VIEW [dbo].[VA_VBUSCA_QTD_ESTOQUE] AS

WITH ITENS
AS
(SELECT
		B1_COD AS PRODUTO
	   ,B1_RASTRO AS TEM_LOTE
	   ,B1_LOCALIZ AS TEM_ENDERECO
	   ,B1_DESC AS DESCRICAO
	   ,B1_TIPO AS TIPO
	   ,B1_GRUPO AS GRUPO
	FROM SB1010 SB1
	WHERE SB1.D_E_L_E_T_ = ''
	AND SB1.B1_TIPO NOT IN ('MO'))
SELECT
	'N' AS TIPO_CONTROLE
   ,ITENS.*
   ,B2_FILIAL AS FILIAL
   ,B2_LOCAL AS ALMOX
   ,'' AS LOTE
   ,'' AS ENDERECO
   ,B2_QATU AS QTD
   ,0 AS QTD_LOTE
   ,0 AS QTD_ENDER
   ,'' AS DT_VALIDADE
FROM ITENS
JOIN SB2010 SB2  -- TIRAR 'LEFT' SE QUISER SOMENTE ITENS COM SALDO
	ON (SB2.D_E_L_E_T_ = ''
			AND SB2.B2_COD = ITENS.PRODUTO
			AND SB2.B2_QATU != 0)
WHERE ITENS.TEM_ENDERECO = 'N'
AND (ITENS.TEM_LOTE = 'N' OR ITENS.TEM_LOTE = ' ') 

-- ITENS QUE CONTROLAM APENAS LOTE
UNION ALL
SELECT
	'L' AS TIPO_CONTROLE
   ,ITENS.*
   ,B2_FILIAL AS FILIAL
   ,B2_LOCAL AS ALMOX
   ,B8_LOTECTL AS LOTE
   ,'' AS ENDERECO
   ,B2_QATU AS QTD
   ,B8_SALDO AS QTD_LOTE
   ,0 AS QTD_ENDER
   ,B8_DTVALID AS DT_VALIDADE
FROM ITENS
JOIN SB2010 SB2
LEFT JOIN SB8010 SB8
	ON (SB8.D_E_L_E_T_ = ''
			AND SB8.B8_FILIAL = SB2.B2_FILIAL
			AND SB8.B8_PRODUTO = SB2.B2_COD
			AND SB8.B8_LOCAL = SB2.B2_LOCAL
			AND SB8.B8_SALDO != 0)
	ON (SB2.D_E_L_E_T_ = ''
			AND SB2.B2_COD = ITENS.PRODUTO
			AND SB2.B2_QATU != 0)
WHERE ITENS.TEM_ENDERECO = 'N'
AND ITENS.TEM_LOTE = 'L'

-- ITENS QUE CONTROLAM APENAS ENDERECO
UNION ALL
SELECT
	'E' AS TIPO_CONTROLE
   ,ITENS.*
   ,B2_FILIAL AS FILIAL
   ,B2_LOCAL AS ALMOX
   ,'' AS LOTE
   ,BF_LOCALIZ AS ENDERECO
   ,B2_QATU AS QTD
   ,0 AS QTD_LOTE
   ,BF_QUANT AS QTD_ENDER
   ,'' AS DT_VALIDADE
FROM ITENS
JOIN SB2010 SB2
LEFT JOIN SBF010 SBF
	ON (SBF.D_E_L_E_T_ = ''
			AND SBF.BF_FILIAL = SB2.B2_FILIAL
			AND SBF.BF_PRODUTO = SB2.B2_COD
			AND SBF.BF_LOCAL = SB2.B2_LOCAL
			AND SBF.BF_QUANT != 0)
	ON (SB2.D_E_L_E_T_ = ''
			AND SB2.B2_COD = ITENS.PRODUTO
			AND SB2.B2_QATU != 0)
WHERE ITENS.TEM_ENDERECO = 'S'
AND (ITENS.TEM_LOTE = 'N' OR ITENS.TEM_LOTE = ' ') 

-- ITENS QUE CONTROLAM LOTE E ENDERECO
UNION ALL
SELECT
	'LE' AS TIPO_CONTROLE
   ,ITENS.*
   ,B2_FILIAL AS FILIAL
   ,B2_LOCAL AS ALMOX
   ,B8_LOTECTL AS LOTE
   ,BF_LOCALIZ AS ENDERECO
   ,B2_QATU AS QTD
   ,B8_SALDO AS QTD_LOTE
   ,BF_QUANT AS QTD_ENDER
   ,B8_DTVALID AS DT_VALIDADE
FROM ITENS
JOIN SB2010 SB2
LEFT JOIN SB8010 SB8
LEFT JOIN SBF010 SBF
	ON (SBF.D_E_L_E_T_ = ''
			AND SBF.BF_FILIAL = SB8.B8_FILIAL
			AND SBF.BF_PRODUTO = SB8.B8_PRODUTO
			AND SBF.BF_LOCAL = SB8.B8_LOCAL
			AND SBF.BF_LOTECTL = SB8.B8_LOTECTL)
	ON (SB8.D_E_L_E_T_ = ''
			AND SB8.B8_FILIAL = SB2.B2_FILIAL
			AND SB8.B8_PRODUTO = SB2.B2_COD
			AND SB8.B8_LOCAL = SB2.B2_LOCAL
			AND SB8.B8_SALDO != 0)
	ON (SB2.D_E_L_E_T_ = ''
			AND SB2.B2_COD = ITENS.PRODUTO
			AND SB2.B2_QATU != 0)
WHERE ITENS.TEM_ENDERECO = 'S'
AND ITENS.TEM_LOTE = 'L'
--ORDER BY B1_COD


