
ALTER VIEW [dbo].[GX0054_SOLICSERVICO] AS 

select 
TQB010.R_E_C_N_O_ as GX0054_SOLSER_CHAVE,
TQB_FILIAL as GX0054_SOLSER_FILIAL,--filial,
TQB_SOLICI as GX0054_SOLSER_NRSOLIC,--solicitação manutenção, 
TQB_ORDEM as GX0054_SOLSER_ORDEM,--ordem de manutenção (se já o tiver), 
TQB_DTABER as GX0054_SOLSER_DTABERTURA,--data de abertura, 

TQB_CDSOLI as GX0054_SOLSER_CODSOLICITANTE,--COD solicitante, 
TQB_USUARI as GX0054_SOLSER_NOMSOLICITANTE,--solicitante do serviço, 

TQB_CODMSS as GX0054_SOLSER_CODSERVICO,--o que foi solicitado, 
dbo.VA_FLE_MEMO (TQB_FILIAL,TQB_CODMSS) as GX0054_SOLSER_DESCSERVICO,

TQB_CDEXEC as GX0054_SOLSER_CODEXECUTANTE,--executante (se já o tiver),
TQ4.TQ4_NMEXEC as GX0054_SOLSER_NOMEXECUTANTE,

TQB_CODBEM as GX0054_SOLSER_CODBEM,--bem, 
ST9.T9_NOME as GX0054_SOLSER_DESCBEM,--DESC_BEM

TQB_CODMSO as GX0054_SOLSER_CODSOLUC,--o que foi realizado (se já o tiver), 
dbo.VA_FLE_MEMO (TQB_FILIAL,TQB_CODMSO) as GX0054_SOLSER_DESCSOLUC,

TQ3.TQ3_NMSERV as GX0054_SOLSER_TIPO, -- DayRibas 23/05/22 - 12005


STJ.TJ_DTMRFIM AS GX0054_SOLSER_DTFIMORDEM, --Data de fechamento da ordem (a pedido do Fabiano) 29/09/21 - DayRibas

CASE
	WHEN STJ.TJ_TERMINO ='N' THEN
	'ABERTO'
	WHEN STJ.TJ_TERMINO ='S' THEN
	'ENCERRADO'
 END AS GX0054_SOLSER_STATUSORD,

 CASE
	WHEN TQB_PARADA ='N' THEN
	'NAO'
	WHEN TQB_PARADA ='S' THEN
	'SIM'
 END AS GX0054_SOLSER_BEMPARADO,

 CASE
		WHEN TQB_SOLUCA ='A' THEN
		'Aguardando Analise'
		WHEN TQB_SOLUCA ='D' THEN
		'Distribuida'
		WHEN TQB_SOLUCA ='E' THEN
		'Encerrada'
		WHEN TQB_SOLUCA ='C' THEN
		'Cancelada'
		ELSE TQB_SOLUCA
    END AS GX0054_SOLSER_SITUACAO, --A=Aguardando Analise;D=Distribuida;E=Encerrada;C=Cancelada  
TQB_DTFECH as GX0054_SOLSER_DTFECHAMENTO--data fechamento (se já o tiver)


 from TQB010 -- solicitação de serviço

 LEFT JOIN ST9010 AS ST9 -- cad. bem
ON (TQB_CODBEM = ST9.T9_CODBEM AND ST9.D_E_L_E_T_ = '')

LEFT JOIN TQ4010 as TQ4 -- executante da SS
on TQ4_CDEXEC = TQB_CDEXEC 

LEFT JOIN STJ010 STJ
ON TQB_FILIAL = STJ.TJ_FILIAL AND
TQB_ORDEM = STJ.TJ_ORDEM

LEFT JOIN TQ3010 TQ3 
ON TQ3.D_E_L_E_T_ = '' AND 
TQ3.TQ3_FILIAL  = TQB_FILIAL AND  
TQ3.TQ3_CDSERV = TQB_CDSERV

--Where TQB_ORDEM = '024858'









