
ALTER VIEW [dbo].[GX0026_RAPEL] AS

SELECT 
SA1.A1_VACBASE + '-' + SA1.A1_VALBASE AS GX0026_RAPEL_A1_VACBASE,
SA1.A1_VACBASE AS GX0026_RAPEL_MATRIZ, 
ZAX_CLIENT AS GX0026_RAPEL_ZAX_CLIENT,
ZAX_LOJA AS GX0026_RAPEL_ZAX_LOJA,
SA1.A1_NOME AS GX0026_RAPEL_A1_NOME,
SA1.A1_VEND AS GX0026_RAPEL_A1_VEND,
SA1.A1_EST AS GX0026_RAPEL_A1_EST,
CASE SA1.A1_MSBLQL
    WHEN '1' THEN 'Não' 
	ELSE 'Sim' 
END AS GX0026_RAPEL_A1_MSBLQL,
CASE SA1.A1_VABARAP 
    WHEN '0' THEN 'NÃO TEM RAPEL' 
    WHEN '1' THEN 'VALOR NOTA' 
    WHEN '2' THEN 'VALOR MERCADORIA' 
    WHEN '3' THEN 'TOTAL NF - ST' 
    ELSE '' 
END AS GX0026_RAPEL_A1_VABARAP,
ZAX.ZAX_LINHA AS GX0026_RAPEL_ZAX_LINHA, 
ZAZ.ZAZ_NLINF AS GX0026_RAPEL_ZAZ_NLINF, 
ZAX.ZAX_ITEM AS GX0026_RAPEL_ZAX_ITEM, 
SB1.B1_DESC AS GX0026_RAPEL_B1_DESC,
dbo.VA_FRAPELPADRAO(ZAX.ZAX_CLIENT, ZAX.ZAX_LOJA, ZAX.ZAX_ITEM) AS GX0026_RAPEL_PERCENTUAL_RAPEL

FROM SA1010 SA1, ZAX010 ZAX
	 LEFT JOIN ZAZ010 ZAZ ON (
		ZAZ.D_E_L_E_T_ = '' 
		AND ZAZ.ZAZ_FILIAL = '  ' 
		AND ZAZ.ZAZ_CLINF = ZAX.ZAX_LINHA)
	 LEFT JOIN SB1010 SB1 ON (
		SB1.D_E_L_E_T_ = ''
		AND SB1.B1_FILIAL = '  '
		AND SB1.B1_COD = ZAX.ZAX_ITEM)
WHERE ZAX.D_E_L_E_T_ = ''
AND SA1.D_E_L_E_T_ = ''
AND SA1.A1_FILIAL = '  '
AND SA1.A1_COD = ZAX.ZAX_CLIENT
AND SA1.A1_LOJA = ZAX.ZAX_LOJA


