


ALTER VIEW [dbo].[GX0042_HIST_SAFRA] AS

SELECT 
	SAFRA AS GX0042_HIST_SAFRA_SAFRA,
	ASSOCIADO AS GX0042_HIST_SAFRA_ASSOCIADO,
	PRODUTO AS GX0042_HIST_SAFRA_PRODUTO,
	DESCRICAO AS GX0042_HIST_SAFRA_DESCRICAO,
	ROUND((SUM(PESO_LIQ * GRAU) / SUM(PESO_LIQ)), 1) AS GX0042_HIST_SAFRA_GRAU_MEDIO,
	SUM(PESO_LIQ) AS GX0042_HIST_SAFRA_PESO_LIQ,
	SUM(CONVERT(float, GRAU)) AS GX0042_HIST_SAFRA_GRAU
FROM VA_VNOTAS_SAFRA
WHERE TIPO_NF = 'E'
GROUP BY SAFRA, ASSOCIADO, PRODUTO, DESCRICAO

