ALTER FUNCTION [DBO].[MERCF_PIECE](@PLISTA     VARCHAR(3000),
@PDELIMITADOR VARCHAR(5),
@PPOSICAO     NUMERIC ) RETURNS VARCHAR(255)
BEGIN
DECLARE @VSTRING VARCHAR(2000)
DECLARE @VIND    INT SELECT @VIND = 1
DECLARE @VPOSCOR NUMERIC
IF @PLISTA IS NULL
BEGIN
SET @VSTRING = NULL;
END
IF @PLISTA IS NOT NULL
BEGIN
IF PATINDEX('%'+@PDELIMITADOR+'%',@PLISTA) = 0
BEGIN
IF @PPOSICAO = 1
BEGIN
SET @VSTRING = @PLISTA;
END
ELSE
BEGIN
SET @VSTRING = NULL;
END
END
IF @VSTRING IS NULL
BEGIN
SET @VSTRING = '';
SET @VPOSCOR = 1;
WHILE @VIND <= LEN(@PLISTA)
BEGIN
IF SUBSTRING(@PLISTA, @VIND, LEN(@PDELIMITADOR)) = @PDELIMITADOR
BEGIN
SET @VPOSCOR = @VPOSCOR + 1;
END
ELSE IF @PPOSICAO = @VPOSCOR
BEGIN
SET @VSTRING = @VSTRING + SUBSTRING(@PLISTA,@VIND,1);
END
SET @VIND = @VIND + 1
END
END
END
RETURN @VSTRING;
END
