ALTER PROCEDURE [dbo].[MERCP_INSERE_MPV06_TEMP] (@P_TABELA        VARCHAR(20),
                                          @P_LISTA_VALORES VARCHAR(512),
                                          @P_ID            INT
                                         ) AS

DECLARE @V_SITUACAO    VARCHAR(2);
DECLARE @V_UTILBASERED FLOAT;
DECLARE @VQTDE_VALORES INT;
DECLARE @V_VALOR       VARCHAR(255);
DECLARE @V_SQL         NVARCHAR(1024);
DECLARE @V_COUNT       INT;
DECLARE @VERRO         VARCHAR(512);
DECLARE @V_AUX         INT = 0;

BEGIN

BEGIN TRY
  SET @V_SQL = 'DELETE TEMP_MPV06_' + @P_TABELA + ' WHERE ID = ' + CAST(@P_ID AS VARCHAR);

  EXEC sp_executeSQL @V_SQL;

  SET @VQTDE_VALORES = ISNULL(LEN(@P_LISTA_VALORES) - RTRIM(LTRIM(LEN(REPLACE(@P_LISTA_VALORES, ',', '')))), 0) + 1;

  SET @V_COUNT = 0;

  WHILE @V_AUX < @VQTDE_VALORES
  BEGIN

    SET @V_COUNT = @V_COUNT + 1;

    SET @V_VALOR = SUBSTRING(DBO.MERCF_PIECE(@P_LISTA_VALORES, ',', @V_COUNT), 1, 255);

    SET @V_SQL = 'INSERT INTO TEMP_MPV06_' + @P_TABELA +
                 ' (ID, SEQ, VALOR) VALUES (' + CAST(@P_ID AS VARCHAR) + ',' + CAST(@V_COUNT AS VARCHAR) +
                 ',''' + RTRIM(LTRIM(@V_VALOR)) + ''')';

    EXEC sp_executeSQL @V_SQL;

    SET @V_AUX = @V_AUX + 1;

  END
END TRY

BEGIN CATCH
  SET @VERRO = 'ERRO: ' + ERROR_MESSAGE();
  INSERT INTO DBS_ERROS_TRIGGERS
    (DBS_ERROS_ERRO, DBS_ERROS_DATA, DBS_ERROS_OBJETO)
  VALUES
    (@VERRO, GETDATE(), 'MERCP_INSERE_MPV06_TEMP');
END CATCH

END
