ALTER PROCEDURE dbo.MERCP_CALCULA_ACOES (@PCODIGO INT) AS
DECLARE @VENCONTROU_ROTA           FLOAT;
DECLARE @VCLIENTE_OLD              FLOAT;
DECLARE @VDIASEMANA                FLOAT;
DECLARE @VDIAS_INTERVALO           FLOAT;
DECLARE @VDIFERENCA                FLOAT;
DECLARE @VDATA_PRIMEIRO_DIA_SEMANA DATETIME;
DECLARE @VEXISTE_PERIODO           FLOAT;
DECLARE @VEXISTE_ACAO_CLIENTE      FLOAT;
DECLARE @VDATA_FINAL               DATETIME;
DECLARE @VATRIBUTO                 INT;
DECLARE @VSEQ_CODIGO               INT;
DECLARE @VCODIGO                   INT;
DECLARE @VTIPO_PESQUISA            INT;
DECLARE @VVALIDADE_INICIAL         DATETIME;
DECLARE @VVALIDADE_FINAL           DATETIME;
DECLARE @VTIPO_RECORRENCIA         INT;
DECLARE @VTEMPO_RESPOSTA           INT;
DECLARE @VPERIODICIDADE            INT;
DECLARE @VDIAS_SEMANA              VARCHAR(7);
DECLARE @VPERIODO                  INT;
DECLARE @VUSUARIO                  VARCHAR(20);
DECLARE @VCODIGO_CLIEN             FLOAT;
DECLARE @VID                       VARCHAR(30);
DECLARE @VCOD_ATRIB                VARCHAR(30);
DECLARE @VCLIENTE                  FLOAT;
DECLARE @VDATA                     DATETIME;
DECLARE @SEPARADOR                 VARCHAR(1) SELECT @SEPARADOR = ';';
DECLARE @POS                       INT;
DECLARE @BUFFER                    VARCHAR(8000);
DECLARE @VVALOR                    VARCHAR(8000)
, @V_DIASPARAEXPURGO         INT;
DECLARE @V_DELETE_OCORRENCIAS      INT;
set @PCODIGO = ISNULL(@PCODIGO, 0)
SET @V_DELETE_OCORRENCIAS = 0;
SET @VTEMPO_RESPOSTA = 1
SELECT @VTEMPO_RESPOSTA = DB_PRMS_VALOR
FROM DB_PARAM_SISTEMA
WHERE DB_PRMS_ID = 'ACAO_NUMERODIASACOES'
UPDATE DB_ACOES
SET PROCESSADO_ROTINA = 0
WHERE DATA_FINAL >= cast(GETDATE() as date)
DECLARE C_ACOES CURSOR
FOR SELECT CODIGO, TIPO_PESQUISA, VALIDADE_INICIAL, VALIDADE_FINAL, TIPO_RECORRENCIA, TEMPO_RESPOSTA, PERIODICIDADE, DIAS_SEMANA, PERIODO
FROM DB_PESQ_APLICADAS
WHERE VALIDADE_INICIAL <= cast(GETDATE() + @VTEMPO_RESPOSTA  as date)
AND VALIDADE_FINAL   >= cast(GETDATE() as date)
AND (CODIGO = @PCODIGO OR @PCODIGO = 0)
OPEN C_ACOES
FETCH NEXT FROM C_ACOES
INTO @VCODIGO, @VTIPO_PESQUISA, @VVALIDADE_INICIAL, @VVALIDADE_FINAL, @VTIPO_RECORRENCIA, @VTEMPO_RESPOSTA, @VPERIODICIDADE, @VDIAS_SEMANA, @VPERIODO
WHILE @@FETCH_STATUS = 0
BEGIN
DECLARE C_USUARIOS CURSOR
FOR SELECT USU.USUARIO
FROM DB_PESQ_APLICADAS_PROMOTORES PESQ_USU,
DB_PESQ_APLICADAS PA,
DB_USUARIO        USU
WHERE PESQ_USU.CODIGO     = @VCODIGO
AND PA.CODIGO           = PESQ_USU.CODIGO
AND PA.SELECAO_PROMOTOR = 1
AND ((PESQ_USU.USUARIO = USU.USUARIO AND PESQ_USU.USUARIO IS NOT NULL)
OR PESQ_USU.GRUPO_USUARIO = USU.GRUPO_USUARIO AND PESQ_USU.GRUPO_USUARIO IS NOT NULL AND PESQ_USU.USUARIO IS NULL)
UNION
SELECT USU.USUARIO
FROM DB_ESTRUT_VENDA   X,
DB_ESTRUT_VENDA   Y,
DB_ESTRUT_REGRA   Z,
DB_ESTRUT_REGRA   Z1,
DB_USUARIO        USU,
DB_PESQ_APLICADAS_PROMOTORES PESQ_USU,
DB_PESQ_APLICADAS PA
WHERE X.DB_EVDA_ESTRUTURA  = Y.DB_EVDA_ESTRUTURA
AND Y.DB_EVDA_CODIGO     LIKE (X.DB_EVDA_CODIGO + '%')
AND X.DB_EVDA_ESTRUTURA  = Z.DB_EREG_ESTRUTURA
AND Y.DB_EVDA_ID         = Z.DB_EREG_ID
AND X.DB_EVDA_ESTRUTURA  = Z1.DB_EREG_ESTRUTURA
AND X.DB_EVDA_ID         = Z1.DB_EREG_ID
AND Z1.DB_EREG_ESTRUTURA = PESQ_USU.ESTRUTURA
AND Z1.DB_EREG_ID        = PESQ_USU.REPRESENTANTE
AND USU.CODIGO_ACESSO    = Z.DB_EREG_REPRES
AND PESQ_USU.CODIGO      = @VCODIGO
AND PA.SELECAO_PROMOTOR  = 2
AND PA.CODIGO            = PESQ_USU.CODIGO
OPEN C_USUARIOS
FETCH NEXT FROM C_USUARIOS
INTO @VUSUARIO
WHILE @@FETCH_STATUS = 0
BEGIN
IF @VTIPO_PESQUISA = 1
BEGIN
DELETE FROM PESQ_APLICADAS_CLIENTES_A_TMP;
DECLARE C_PESQ CURSOR
FOR SELECT ID, VALOR
FROM DB_PESQ_APLICADAS_CLIENTES
WHERE CODIGO = @VCODIGO
OPEN C_PESQ
FETCH NEXT FROM C_PESQ
INTO @VID, @VVALOR
WHILE @@FETCH_STATUS = 0
BEGIN
WHILE CHARINDEX(@SEPARADOR, @VVALOR) > 0
BEGIN
SET @POS = CHARINDEX(@SEPARADOR,@VVALOR)
SET @BUFFER = LEFT(@VVALOR,@POS - 1)
SET @VVALOR = RIGHT(@VVALOR,LEN(RTRIM(@VVALOR)) - @POS)
SET @BUFFER = REPLACE(@BUFFER, CHAR(254), @SEPARADOR)
SET @BUFFER = REPLACE(@BUFFER, CHAR(253), ';')
INSERT INTO PESQ_APLICADAS_CLIENTES_A_TMP (CODIGO, ID, VALOR)
VALUES (@VCODIGO, @VID, @BUFFER)
END
IF @VVALOR <> ''
BEGIN
SET @BUFFER = REPLACE(@VVALOR,@SEPARADOR,'')
INSERT INTO PESQ_APLICADAS_CLIENTES_A_TMP (CODIGO, ID, VALOR)
VALUES (@VCODIGO, @VID, @BUFFER)
END
FETCH NEXT FROM C_PESQ
INTO @VID, @VVALOR
END
CLOSE C_PESQ
DEALLOCATE C_PESQ
EXEC SP_EXECUTESQL N'TRUNCATE TABLE MVA_CLIENTE_ACOES_TMP';
INSERT INTO MVA_CLIENTE_ACOES_TMP
(
USUARIO,
CODIGO_CLIEN,
RAMOATIVIDADE_CLIEN,
RAMOATIVIDADEII_CLIEN,
AREAATUACAO_CLIEN,
CLASSIFICACAOCOMERCIAL_CLIEN,
REGIAOCOMERCIAL_CLIEN,
ESTADO_CLIEN,
CIDADE_CLIEN,
VINCULO_CLIEN,
CNPJ_CLIEN
)
SELECT USUARIO,
CODIGO_CLIEN,
RAMOATIVIDADE_CLIEN,
RAMOATIVIDADEII_CLIEN,
AREAATUACAO_CLIEN,
CLASSIFICACAOCOMERCIAL_CLIEN,
REGIAOCOMERCIAL_CLIEN,
ESTADO_CLIEN,
CIDADE_CLIEN,
VINCULO_CLIEN,
CNPJ_CLIEN
FROM MVA_CLIENTE
WHERE USUARIO = @VUSUARIO
DECLARE C_CLIENTES CURSOR
FOR SELECT CODIGO_CLIEN
FROM MVA_CLIENTE_ACOES_TMP MCLI
WHERE USUARIO = @VUSUARIO
AND (MCLI.RAMOATIVIDADE_CLIEN IN (SELECT VALOR FROM PESQ_APLICADAS_CLIENTES_A_TMP
WHERE CODIGO = @VCODIGO
AND ID     = 'RAMO')
OR NOT EXISTS (SELECT 1 FROM DB_PESQ_APLICADAS_CLIENTES
WHERE CODIGO = @VCODIGO
AND ID     = 'RAMO')
)
AND (MCLI.RAMOATIVIDADEII_CLIEN IN (SELECT VALOR FROM PESQ_APLICADAS_CLIENTES_A_TMP
WHERE CODIGO = @VCODIGO
AND ID     = 'RAMOII')
OR NOT EXISTS (SELECT 1 FROM DB_PESQ_APLICADAS_CLIENTES
WHERE CODIGO = @VCODIGO
AND ID     = 'RAMOII')
)
AND (MCLI.AREAATUACAO_CLIEN IN (SELECT VALOR FROM PESQ_APLICADAS_CLIENTES_A_TMP
WHERE CODIGO = @VCODIGO
AND ID     = 'AREAATU')
OR NOT EXISTS (SELECT 1 FROM DB_PESQ_APLICADAS_CLIENTES
WHERE CODIGO = @VCODIGO
AND ID     = 'AREAATU')
)
AND (MCLI.CLASSIFICACAOCOMERCIAL_CLIEN IN (SELECT VALOR FROM PESQ_APLICADAS_CLIENTES_A_TMP
WHERE CODIGO = @VCODIGO
AND ID     = 'CLASCOMCLI')
OR NOT EXISTS (SELECT 1 FROM DB_PESQ_APLICADAS_CLIENTES
WHERE CODIGO = @VCODIGO
AND ID     = 'CLASCOMCLI')
)
AND (MCLI.REGIAOCOMERCIAL_CLIEN IN (SELECT VALOR FROM PESQ_APLICADAS_CLIENTES_A_TMP
WHERE CODIGO = @VCODIGO
AND ID     = 'REGIAOCOM')
OR NOT EXISTS (SELECT 1 FROM DB_PESQ_APLICADAS_CLIENTES
WHERE CODIGO = @VCODIGO
AND ID     = 'REGIAOCOM')
)
AND (MCLI.ESTADO_CLIEN IN (SELECT VALOR FROM PESQ_APLICADAS_CLIENTES_A_TMP
WHERE CODIGO = @VCODIGO
AND ID     = 'ESTADO')
OR NOT EXISTS (SELECT 1 FROM DB_PESQ_APLICADAS_CLIENTES
WHERE CODIGO = @VCODIGO
AND ID     = 'ESTADO')
)
AND (MCLI.CIDADE_CLIEN IN (SELECT VALOR FROM PESQ_APLICADAS_CLIENTES_A_TMP
WHERE CODIGO = @VCODIGO
AND ID     = 'CIDADE')
OR NOT EXISTS (SELECT 1 FROM DB_PESQ_APLICADAS_CLIENTES
WHERE CODIGO = @VCODIGO
AND ID     = 'CIDADE')
)
AND (CAST(MCLI.CODIGO_CLIEN AS VARCHAR) IN (SELECT VALOR FROM PESQ_APLICADAS_CLIENTES_A_TMP
WHERE CODIGO = @VCODIGO
AND ID     = 'CLIENTE')
OR NOT EXISTS (SELECT 1 FROM DB_PESQ_APLICADAS_CLIENTES
WHERE CODIGO = @VCODIGO
AND ID     = 'CLIENTE')
)
AND (CAST(SUBSTRING(MCLI.CNPJ_CLIEN,1,8) AS VARCHAR) IN (SELECT SUBSTRING(VALOR,1,8) FROM PESQ_APLICADAS_CLIENTES_A_TMP
WHERE CODIGO = @VCODIGO
AND ID     = 'CNPJ')
OR NOT EXISTS (SELECT 1 FROM DB_PESQ_APLICADAS_CLIENTES
WHERE CODIGO = @VCODIGO
AND ID     = 'CNPJ')
)
AND (CAST(MCLI.VINCULO_CLIEN AS VARCHAR) IN (SELECT VALOR FROM PESQ_APLICADAS_CLIENTES_A_TMP
WHERE CODIGO = @VCODIGO
AND ID     = 'REDE')
OR NOT EXISTS (SELECT 1 FROM DB_PESQ_APLICADAS_CLIENTES
WHERE CODIGO = @VCODIGO
AND ID     = 'REDE')
)
OPEN C_CLIENTES
FETCH NEXT FROM C_CLIENTES
INTO @VCODIGO_CLIEN
WHILE @@FETCH_STATUS = 0
BEGIN
SET @VATRIBUTO = 1
DECLARE C_ATRIB CURSOR
FOR SELECT DISTINCT CODIGO,
ID,
SUBSTRING(ID, 4, LEN(ID) - 1)
FROM PESQ_APLICADAS_CLIENTES_A_TMP
WHERE CODIGO = @VCODIGO
AND ID     LIKE 'ATC%'
OPEN C_ATRIB
FETCH NEXT FROM C_ATRIB
INTO @VCODIGO, @VID, @VCOD_ATRIB
WHILE @@FETCH_STATUS = 0 AND @VATRIBUTO = 1
BEGIN
SET @VATRIBUTO = 0
SELECT @VATRIBUTO = 1
FROM DB_CLIENTE_ATRIB
WHERE DB_CLIA_CODIGO  = @VCODIGO_CLIEN
AND DB_CLIA_ATRIB   = @VCOD_ATRIB
AND DB_CLIA_VALOR  IN (SELECT PESQ_TMP.VALOR
FROM PESQ_APLICADAS_CLIENTES_A_TMP PESQ_TMP
WHERE PESQ_TMP.CODIGO = @VCODIGO
AND PESQ_TMP.ID     = @VID)
FETCH NEXT FROM C_ATRIB
INTO @VCODIGO, @VID, @VCOD_ATRIB
END
CLOSE C_ATRIB
DEALLOCATE C_ATRIB
IF @VATRIBUTO = 1
BEGIN
SET @VENCONTROU_ROTA = 0
DECLARE C_ROTAS CURSOR
FOR SELECT CLIENTE, DATA
FROM DB_ROTAS_CLIENTES
WHERE USUARIO  = @VUSUARIO
AND CLIENTE  = @VCODIGO_CLIEN
AND DATA    >= @VVALIDADE_INICIAL
AND isnull(EXCLUIDO, 0) <> 1
AND DATA    BETWEEN CONVERT(VARCHAR(25), GETDATE(), 23)
AND CONVERT(VARCHAR(25), GETDATE() + 7, 23)
ORDER BY CLIENTE, DATA
OPEN C_ROTAS
FETCH NEXT FROM C_ROTAS
INTO @VCLIENTE, @VDATA
WHILE @@FETCH_STATUS = 0
BEGIN
SET @VENCONTROU_ROTA = 1
IF @VTIPO_RECORRENCIA = 0
BEGIN
IF ISNULL(@VCLIENTE_OLD, 0) <> @VCLIENTE
BEGIN
SET @VCLIENTE_OLD = @VCLIENTE
SET @VEXISTE_ACAO_CLIENTE = 0
SELECT @VEXISTE_ACAO_CLIENTE = 1
FROM DB_ACOES
WHERE USUARIO          = @VUSUARIO
AND CLIENTE          = @VCLIENTE
AND APLICAR_PESQUISA = @VCODIGO;
IF @VEXISTE_ACAO_CLIENTE = 0
BEGIN
SET @VDATA_FINAL = CASE WHEN @VDATA + @VTEMPO_RESPOSTA - 1 > @VVALIDADE_FINAL
THEN @VVALIDADE_FINAL
ELSE @VDATA + @VTEMPO_RESPOSTA - 1
END
SELECT @VSEQ_CODIGO = ISNULL(MAX(CODIGO), 0) + 1
FROM DB_ACOES
MERGE DB_ACOES
USING (SELECT @VUSUARIO    AS MRG_USUARIO,
@VCLIENTE    AS MRG_CLIENTE,
@VCODIGO     AS MRG_CODIGO,
@VDATA       AS MRG_DATA,
@VDATA_FINAL AS MRG_DATA_FINAL,
@VSEQ_CODIGO AS MRG_SEQ_CODIGO
) AS SOURCE
ON (    USUARIO          = SOURCE.MRG_USUARIO
AND CLIENTE          = SOURCE.MRG_CLIENTE
AND APLICAR_PESQUISA = SOURCE.MRG_CODIGO
AND DATA_INICIAL     = SOURCE.MRG_DATA
)
WHEN MATCHED THEN
UPDATE SET PROCESSADO_ROTINA = 1,
DATA_FINAL        = SOURCE.MRG_DATA_FINAL
WHEN NOT MATCHED THEN
INSERT
(
CODIGO,
USUARIO,
CLIENTE,
APLICAR_PESQUISA,
DATA_INICIAL,
DATA_FINAL,
SITUACAO,
DATA_SITUACAO,
PROCESSADO_ROTINA
)
VALUES
(
SOURCE.MRG_SEQ_CODIGO,
SOURCE.MRG_USUARIO,
SOURCE.MRG_CLIENTE,
SOURCE.MRG_CODIGO,
SOURCE.MRG_DATA,
SOURCE.MRG_DATA_FINAL,
0,
GETDATE(),
1
);
END
ELSE
BEGIN
UPDATE DB_ACOES
SET PROCESSADO_ROTINA = 1
WHERE USUARIO          = @VUSUARIO
AND CLIENTE          = @VCLIENTE
AND APLICAR_PESQUISA = @VCODIGO;
END
END
END
ELSE IF @VTIPO_RECORRENCIA = 1
BEGIN
IF DATEDIFF(DAY, @VDATA, @VVALIDADE_INICIAL) % @VPERIODICIDADE = 0
BEGIN
SET @VDATA_FINAL = CASE WHEN @VDATA + @VTEMPO_RESPOSTA - 1 > @VVALIDADE_FINAL
THEN @VVALIDADE_FINAL
ELSE @VDATA + @VTEMPO_RESPOSTA - 1
END
SELECT @VSEQ_CODIGO = ISNULL(MAX(CODIGO), 0) + 1
FROM DB_ACOES
MERGE DB_ACOES
USING (SELECT @VUSUARIO    AS MRG_USUARIO,
@VCLIENTE    AS MRG_CLIENTE,
@VCODIGO     AS MRG_CODIGO,
@VDATA       AS MRG_DATA,
@VDATA_FINAL AS MRG_DATA_FINAL,
@VSEQ_CODIGO AS MRG_SEQ_CODIGO
) AS SOURCE
ON (    USUARIO          = SOURCE.MRG_USUARIO
AND CLIENTE          = SOURCE.MRG_CLIENTE
AND APLICAR_PESQUISA = SOURCE.MRG_CODIGO
AND DATA_INICIAL     = SOURCE.MRG_DATA
)
WHEN MATCHED THEN
UPDATE SET PROCESSADO_ROTINA = 1,
DATA_FINAL        = SOURCE.MRG_DATA_FINAL
WHEN NOT MATCHED THEN
INSERT
(
CODIGO,
USUARIO,
CLIENTE,
APLICAR_PESQUISA,
DATA_INICIAL,
DATA_FINAL,
SITUACAO,
DATA_SITUACAO,
PROCESSADO_ROTINA
)
VALUES
(
SOURCE.MRG_SEQ_CODIGO,
SOURCE.MRG_USUARIO,
SOURCE.MRG_CLIENTE,
SOURCE.MRG_CODIGO,
SOURCE.MRG_DATA,
SOURCE.MRG_DATA_FINAL,
0,
GETDATE(),
1
);
END
END
ELSE IF @VTIPO_RECORRENCIA = 2
BEGIN
SET @VDIASEMANA = CASE DATEPART(DW, @VDATA) WHEN 1 THEN 7
WHEN 2 THEN 1
WHEN 3 THEN 2
WHEN 4 THEN 3
WHEN 5 THEN 4
WHEN 6 THEN 5
WHEN 7 THEN 6
END
IF CHARINDEX(CAST(@VDIASEMANA AS VARCHAR), @VDIAS_SEMANA) > 0
BEGIN
SET @VDATA_PRIMEIRO_DIA_SEMANA = @VVALIDADE_INICIAL;
WHILE DATEPART(DW, @VDATA_PRIMEIRO_DIA_SEMANA) <> DATEPART(DW, @VDATA)
BEGIN
SET @VDATA_PRIMEIRO_DIA_SEMANA = @VDATA_PRIMEIRO_DIA_SEMANA + 1;
END
IF DATEDIFF(DAY, @VDATA, @VDATA_PRIMEIRO_DIA_SEMANA) % @VPERIODICIDADE = 0
BEGIN
SET @VDATA_FINAL = CASE WHEN @VDATA + @VTEMPO_RESPOSTA - 1 > @VVALIDADE_FINAL
THEN @VVALIDADE_FINAL
ELSE @VDATA + @VTEMPO_RESPOSTA - 1
END
SELECT @VSEQ_CODIGO = ISNULL(MAX(CODIGO), 0) + 1
FROM DB_ACOES
MERGE DB_ACOES
USING (SELECT @VUSUARIO    AS MRG_USUARIO,
@VCLIENTE    AS MRG_CLIENTE,
@VCODIGO     AS MRG_CODIGO,
@VDATA       AS MRG_DATA,
@VDATA_FINAL AS MRG_DATA_FINAL,
@VSEQ_CODIGO AS MRG_SEQ_CODIGO
) AS SOURCE
ON (    USUARIO          = SOURCE.MRG_USUARIO
AND CLIENTE          = SOURCE.MRG_CLIENTE
AND APLICAR_PESQUISA = SOURCE.MRG_CODIGO
AND DATA_INICIAL     = SOURCE.MRG_DATA
)
WHEN MATCHED THEN
UPDATE SET PROCESSADO_ROTINA = 1,
DATA_FINAL        = SOURCE.MRG_DATA_FINAL
WHEN NOT MATCHED THEN
INSERT
(
CODIGO,
USUARIO,
CLIENTE,
APLICAR_PESQUISA,
DATA_INICIAL,
DATA_FINAL,
SITUACAO,
DATA_SITUACAO,
PROCESSADO_ROTINA
)
VALUES
(
SOURCE.MRG_SEQ_CODIGO,
SOURCE.MRG_USUARIO,
SOURCE.MRG_CLIENTE,
SOURCE.MRG_CODIGO,
SOURCE.MRG_DATA,
SOURCE.MRG_DATA_FINAL,
0,
GETDATE(),
1
);
END
END
END
ELSE IF @VTIPO_RECORRENCIA = 3
BEGIN
SET @VEXISTE_PERIODO = 0
SELECT @VEXISTE_PERIODO = 1
FROM DB_PERIODOS_TEMPO
WHERE CODIGO = @VPERIODO
AND DATA   = @VDATA
IF @VEXISTE_PERIODO = 1
BEGIN
SET @VDATA_FINAL = CASE WHEN @VDATA + @VTEMPO_RESPOSTA - 1 > @VVALIDADE_FINAL
THEN @VVALIDADE_FINAL
ELSE @VDATA + @VTEMPO_RESPOSTA - 1
END
SELECT @VSEQ_CODIGO = ISNULL(MAX(CODIGO), 0) + 1
FROM DB_ACOES
MERGE DB_ACOES
USING (SELECT @VUSUARIO    AS MRG_USUARIO,
@VCLIENTE    AS MRG_CLIENTE,
@VCODIGO     AS MRG_CODIGO,
@VDATA       AS MRG_DATA,
@VDATA_FINAL AS MRG_DATA_FINAL,
@VSEQ_CODIGO AS MRG_SEQ_CODIGO
) AS SOURCE
ON (    USUARIO          = SOURCE.MRG_USUARIO
AND CLIENTE          = SOURCE.MRG_CLIENTE
AND APLICAR_PESQUISA = SOURCE.MRG_CODIGO
AND DATA_INICIAL     = SOURCE.MRG_DATA
)
WHEN MATCHED THEN
UPDATE SET PROCESSADO_ROTINA = 1,
DATA_FINAL        = SOURCE.MRG_DATA_FINAL
WHEN NOT MATCHED THEN
INSERT
(
CODIGO,
USUARIO,
CLIENTE,
APLICAR_PESQUISA,
DATA_INICIAL,
DATA_FINAL,
SITUACAO,
DATA_SITUACAO,
PROCESSADO_ROTINA
)
VALUES
(
SOURCE.MRG_SEQ_CODIGO,
SOURCE.MRG_USUARIO,
SOURCE.MRG_CLIENTE,
SOURCE.MRG_CODIGO,
SOURCE.MRG_DATA,
SOURCE.MRG_DATA_FINAL,
0,
GETDATE(),
1
);
END
END
FETCH NEXT FROM C_ROTAS
INTO @VCLIENTE, @VDATA
END
CLOSE C_ROTAS
DEALLOCATE C_ROTAS
IF @VENCONTROU_ROTA = 0
BEGIN
IF ISNULL(@VCODIGO_CLIEN,'') <> ''
BEGIN
SELECT @VSEQ_CODIGO = ISNULL(MAX(CODIGO), 0) + 1
FROM DB_ACOES
MERGE DB_ACOES
USING (SELECT @VUSUARIO          AS MRG_USUARIO,
@VCODIGO_CLIEN          AS MRG_CLIENTE,
@VCODIGO           AS MRG_CODIGO,
@VVALIDADE_INICIAL AS MRG_DATA,
@VVALIDADE_FINAL   AS MRG_DATA_FINAL,
@VSEQ_CODIGO       AS MRG_SEQ_CODIGO
) AS SOURCE
ON (    USUARIO          = SOURCE.MRG_USUARIO
AND CLIENTE          = SOURCE.MRG_CLIENTE
AND APLICAR_PESQUISA = SOURCE.MRG_CODIGO
AND DATA_INICIAL     = SOURCE.MRG_DATA
)
WHEN MATCHED THEN
UPDATE SET PROCESSADO_ROTINA = 1,
DATA_FINAL        = SOURCE.MRG_DATA_FINAL
WHEN NOT MATCHED THEN
INSERT
(
CODIGO,
USUARIO,
CLIENTE,
APLICAR_PESQUISA,
DATA_INICIAL,
DATA_FINAL,
SITUACAO,
DATA_SITUACAO,
PROCESSADO_ROTINA
)
VALUES
(
SOURCE.MRG_SEQ_CODIGO,
SOURCE.MRG_USUARIO,
SOURCE.MRG_CLIENTE,
SOURCE.MRG_CODIGO,
SOURCE.MRG_DATA,
SOURCE.MRG_DATA_FINAL,
0,
GETDATE(),
1
);
END
END
END
FETCH NEXT FROM C_CLIENTES
INTO @VCODIGO_CLIEN
END
CLOSE C_CLIENTES
DEALLOCATE C_CLIENTES
END
ELSE IF @VTIPO_PESQUISA = 2 OR @VTIPO_PESQUISA = 3
BEGIN
IF @V_DELETE_OCORRENCIAS = 0
BEGIN
IF @PCODIGO = 0
BEGIN
DELETE FROM DB_PESQ_OCORRENCIAS;
SET @V_DELETE_OCORRENCIAS = 1;
END
ELSE
BEGIN
DELETE FROM DB_PESQ_OCORRENCIAS
WHERE APLICAR_PESQUISA = @PCODIGO;
SET @V_DELETE_OCORRENCIAS = 1;
END
END
SELECT @VSEQ_CODIGO = ISNULL(MAX(CODIGO), 0) + 1
FROM DB_PESQ_OCORRENCIAS
MERGE DB_PESQ_OCORRENCIAS
USING (SELECT @VUSUARIO          AS MRG_USUARIO,
@VCODIGO           AS MRG_CODIGO,
@VVALIDADE_INICIAL AS MRG_DATA,
@VVALIDADE_FINAL   AS MRG_DATA_FINAL,
@VSEQ_CODIGO       AS MRG_SEQ_CODIGO
) AS SOURCE
ON (APLICAR_PESQUISA = SOURCE.MRG_CODIGO AND USUARIO = SOURCE.MRG_USUARIO)
WHEN NOT MATCHED THEN
INSERT
(
CODIGO,
APLICAR_PESQUISA,
USUARIO,
DATA_INICIAL,
DATA_FINAL
)
VALUES
(
SOURCE.MRG_SEQ_CODIGO,
SOURCE.MRG_CODIGO,
SOURCE.MRG_USUARIO,
SOURCE.MRG_DATA,
SOURCE.MRG_DATA_FINAL
);
END
FETCH NEXT FROM C_USUARIOS
INTO @VUSUARIO
END
CLOSE C_USUARIOS
DEALLOCATE C_USUARIOS
FETCH NEXT FROM C_ACOES
INTO @VCODIGO, @VTIPO_PESQUISA, @VVALIDADE_INICIAL, @VVALIDADE_FINAL, @VTIPO_RECORRENCIA, @VTEMPO_RESPOSTA, @VPERIODICIDADE, @VDIAS_SEMANA, @VPERIODO
END
CLOSE C_ACOES
DEALLOCATE C_ACOES
DELETE DB_ACOES
WHERE SITUACAO          = 0
AND PROCESSADO_ROTINA = 0
AND (APLICAR_PESQUISA = @PCODIGO OR @PCODIGO = 0)
SET @V_DIASPARAEXPURGO = 1
select @V_DIASPARAEXPURGO = db_prms_valor
from db_param_sistema
where db_prms_id = 'ACAO_DIASPARAEXPURGO'
IF ISNULL(@V_DIASPARAEXPURGO, 0) <> 0
BEGIN
DELETE DB_ACOES
WHERE DATA_FINAL < cast(GETDATE() - @V_DIASPARAEXPURGO as date);
END;
