







ALTER PROCEDURE [dbo].[MERCP_SA3010] (  @VEVENTO      FLOAT,
                                        @VA3_FILIAL     VARCHAR(50),
										@VA3_COD        VARCHAR(50),
										@VA3_NOME       VARCHAR(50),
										@VA3_NREDUZ     VARCHAR(50),
										@VA3_END        VARCHAR(50),
										@VA3_BAIRRO     VARCHAR(50),
										@VA3_MUN        VARCHAR(50),
										@VA3_EST        VARCHAR(50),
										@VA3_CEP        VARCHAR(50),
										@VA3_FORNECE    VARCHAR(50),
										@VA3_LOJA       VARCHAR(50),
										@VA3_GERASE2    VARCHAR(50),
										@VA3_BCO1       VARCHAR(50),
										@VA3_REGIAO     VARCHAR(50),
										@VA3_CGC        VARCHAR(50),
										@VA3_COMIS      FLOAT,
										@VA3_FAX        VARCHAR(50),
										@VA3_TEL        VARCHAR(50),
										@VA3_TELEX      VARCHAR(50),
										@VA3_INSCRM     VARCHAR(50),
										@VA3_INSCR      VARCHAR(50),
										@VA3_FRETE      VARCHAR(50),
										@VA3_ICM        VARCHAR(50),
										@VA3_IPI        VARCHAR(50),
										@VA3_ICMSRET    VARCHAR(50),
										@VA3_ACREFIN    VARCHAR(50),
										@VA3_ALBAIXA    FLOAT,
										@VA3_ALEMISS    FLOAT,
										@VA3_TIPO       VARCHAR(50),
										@VA3_GEREN      VARCHAR(50),
										@VA3_SUPER      VARCHAR(50),
										@VA3_PERDESC    FLOAT,
										@VA3_DIARESE    FLOAT,
										@VA3_EMAIL      VARCHAR(50),
										@VA3_HPAGE      VARCHAR(50),
										@VA3_DIA        FLOAT,
										@VA3_DDD        VARCHAR(50),
										@VA3_CLIFIM     VARCHAR(50),
										@VA3_CLIINI     VARCHAR(50),
										@VA3_CODUSR     VARCHAR(50),
										@VA3_PEDFIM     VARCHAR(50),
										@VA3_PEDINI     VARCHAR(50),
										@VA3_PROXCLI    VARCHAR(50),
										@VA3_PROXPED    VARCHAR(50),
										@VA3_SENHA      VARCHAR(50),
										@VA3_GRPREP     VARCHAR(50),
										@VA3_ISS        VARCHAR(50),
										@VA3_FAT_RH     VARCHAR(50),
										@VA3_GRUPSAN    VARCHAR(50),
										@VA3_DEPEND     VARCHAR(50),
										@VA3_PEN_ALI    FLOAT,
										@VA3_TIPVEND    VARCHAR(50),
										@VD_E_L_E_T_    VARCHAR(50),
										@VR_E_C_N_O_    FLOAT,
										@VR_E_C_D_E_L_  FLOAT,
										@VA3_DDDTEL     VARCHAR(50),
										@VA3_NUMRA      VARCHAR(50),
										@VA3_ATIVO		VARCHAR(1)
										) AS

BEGIN

DECLARE @VDATA              DATETIME;
DECLARE @VCOD_ERRO          VARCHAR(1000);
DECLARE @VERRO              VARCHAR(255);
DECLARE @VCODIGO            FLOAT;
DECLARE @VCOUNT             FLOAT;
DECLARE @VOBJETO            VARCHAR(15) SELECT @VOBJETO = 'MERCP_SA3010 ';
DECLARE	@VINSERE            FLOAT SELECT @VINSERE = 0;
DECLARE @VINSERE_COMIS      FLOAT SELECT @VINSERE_COMIS = 0;
DECLARE @VDB_TBREP_TRANSP   VARCHAR(100);
DECLARE @VDB_TBREP_PORT     VARCHAR(100);
DECLARE @VDB_TBREP_CPGTO    VARCHAR(100);
DECLARE @VDB_TBREP_OPER     VARCHAR(100);
DECLARE @VDB_TBREP_LPRECO   VARCHAR(100);
DECLARE @VDB_TBREP_CVENDA   VARCHAR(255);
DECLARE @VDB_TBREP_REPCONJ  VARCHAR(100);
DECLARE @VDB_TBREP_FAMPROD  VARCHAR(100);
DECLARE @VDB_TBREP_MARCA    VARCHAR(100);
DECLARE @VDB_TBREP_TPPROD   VARCHAR(100);
DECLARE @VDB_TBREP_EMPRESAS VARCHAR(100);
DECLARE @VDB_TBREP_CLASSCOM VARCHAR(255);
DECLARE @VDB_TBREP_CLIENTES VARCHAR(255);
DECLARE @VDB_TBREP_ROTAS    VARCHAR(255);
DECLARE @VDB_TBREP_TPPEDIDO VARCHAR(100);
DECLARE @VDB_TBREP_PREPOSTO VARCHAR(100);
DECLARE @VDB_TBREP_ESTADOS  VARCHAR(255);
DECLARE @VDB_TBREP_PREDPRZ  FLOAT;
--DECLARE @VDB_TBREP_CODIGO   NUMERIC;
--DECLARE @VDB_TBREP_SUPERIOR   VARCHAR(20);
DECLARE @VDB_TBREP_SIT_VENDA  INT;
--DECLARE @VDB_TBREP_SIT_VENDA VARCHAR(1);


--------------------------------------------------------------------------------
--- VERSÃO     DATA     ALTERAÇÃO
--- 1.00001 13/08/2007  SEMPRE QUE UM REPRESENTANTE É INCLUÍDO CARREGA OS
---                     DADOS DAS COMISSÕES E ESPECIFICAÇÕES DO REPRESENTANTE 1
--- 1.00002 21/10/2008  EDER - INCLUIDO A GRAVACAO DO CAMPO DB_TBREP_PREDPRZ A
---                            PARTIR DO VENDEDOR 1
--- 1.00003 02/02/2016  ALENCAR - Integra o campo db_tbrep_email
---                             - Avalia o campo customizado A3_ZZMERCA, que define se o repres deve ou não ser carregado no Mercanet
--- 1.00004 17/05/2016  ALENCAR  Numeracao dos novos repres deve ser avaliada menor que 5000
--- 1.00005 21/06/2016  ALENCAR  Nao deve eliminar os representantes que estiverem com o campo A3_ZZMERCA = N, deve apenas inativa-los
--- 1.00006 24/06/2016  ALENCAR  Grava o cognome com a mesma informacao do nome
--- 1.00007 30/09/2016  ALENCAR  No insert grava o campo DB_TBREP_CAD_CLI=1, para permitir que o repres somente inclua clientes
--- 1.00008 11/10/2016  ALENCAR  Conversão Nova Aliança
--- 1.00009 10/11/2016  ALENCAR  Nao importar o repres 000001	VENDEDOR PADRAO
--- 1.00010 11/06/2021  CLAUDIA  Gravação da situação do representante
---
--------------------------------------------------------------------------------

BEGIN TRY 

	IF @VA3_COD LIKE '%TEST%'
	 OR @VA3_COD ='000001'   -- VENDEDOR PADRAO
	BEGIN
	   RETURN;
	END

	IF @VEVENTO = 2 OR @VD_E_L_E_T_ <> ' ' --OR @VA3_ZZMERCA <> 'S'
	BEGIN

	   DELETE FROM DB_TB_REPRES1 WHERE DB_TBREP1_CODIGO IN (SELECT DB_TBREP_CODIGO FROM DB_TB_REPRES  WHERE DB_TBREP_CODORIG  = @VA3_COD);
	   DELETE FROM DB_TB_REPRES  WHERE DB_TBREP_CODORIG  = @VA3_COD;

	END
	ELSE
	BEGIN

	   SELECT @VINSERE = 1, @VCODIGO = DB_TBREP_CODIGO
		 FROM DB_TB_REPRES
		WHERE DB_TBREP_CODORIG = @VA3_COD;
	   SET @VCOD_ERRO = @@ERROR;
	   IF @VCOD_ERRO > 0
	   BEGIN
		  SET  @VINSERE = 0;
	   END

	   IF @VINSERE = 0
	   BEGIN

		  SELECT @VCODIGO = MAX(DB_TBREP_CODIGO) + 1
			FROM DB_TB_REPRES
		   WHERE DB_TBREP_CODIGO < 5000;
		  SET @VCOD_ERRO = @@ERROR;
		  IF @VCOD_ERRO > 0
		  BEGIN
			 SET  @VCODIGO = 1;
		  END

		  -- BUSCA O SUPERIOR
		  --SELECT @VDB_TBREP_SUPERIOR = B.DB_TBREP_CODIGO
		--	FROM DB_TB_REPRES B, DB_TB_REPRES A
		  -- WHERE B.DB_TBREP_CODORIG   = RTRIM(LTRIM(@VA3_SUPER))


		  IF @VCODIGO = 0 OR @VCODIGO IS NULL 
		  BEGIN
			 SET @VCODIGO = 1;
		  END

		  INSERT INTO DB_TB_REPRES
			(
			 DB_TBREP_CODIGO,
			 DB_TBREP_NOME,
			 DB_TBREP_COGNOME,
			-- DB_TBREP_SUPERIOR,
			 DB_TBREP_COMIS_MAX,
			 DB_TBREP_TIPO,
			 DB_TBREP_SITUACAO,
			 DB_TBREP_ENDER,
			 DB_TBREP_BAIRRO,
			 DB_TBREP_CIDADE,
			 DB_TBREP_UF,
			 DB_TBREP_CEP,
			 DB_TBREP_FONE,
			 DB_TBREP_FAX,
			 DB_TBREP_CNPJ,
			 DB_TBREP_INSCEST,
			 DB_TBREP_CODORIG,
			 db_tbrep_cad_cli,
			 DB_TBREP_COMPACT,
			 DB_TBREP_MEIO_COM,
			 DB_TBREP_APL_PROM,
			 DB_TBREP_ALT_DESC,
			 DB_TBREP_ALT_COMI,
			 DB_TBREP_SIT_VENDA,
			 DB_TBREP_NOMEFIS,
			 db_tbrep_email
			)
		  VALUES  --  SA3010
			(
					@VCODIGO,
			  		SUBSTRING(RTRIM(@VA3_NOME),1,40),
			  		SUBSTRING(RTRIM(@VA3_NOME),1,12),   --@VA3_NREDUZ
					--@VDB_TBREP_SUPERIOR,
			  		@VA3_COMIS,
					6,
					2,
					SUBSTRING(RTRIM(LTRIM(@VA3_END)),1,40),
					SUBSTRING(RTRIM(LTRIM(@VA3_BAIRRO)),1,30),
					SUBSTRING(RTRIM(LTRIM(@VA3_MUN)),1,30),
					SUBSTRING(RTRIM(LTRIM(@VA3_EST)),1,2),
					ISNULL(RTRIM(LTRIM(REPLACE(@VA3_CEP, '-', ''))), 0),
					RTRIM(LTRIM(@VA3_TEL)),
					RTRIM(LTRIM(@VA3_FAX)),
					RTRIM(LTRIM(@VA3_CGC)),
					REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(RTRIM(LTRIM(@VA3_INSCR)), '.', ''), '-', ''), '/', ''), '\', ''), 'CPF', ''), ' ', ''),
					@VA3_COD,
					1,
					4,
					'2',
					1,
					1,
					1,
					1,
					SUBSTRING(RTRIM(@VA3_NOME),1, 40),
					@VA3_EMAIL
			);

		  SET @VCOD_ERRO = @@ERROR;
		  IF @VCOD_ERRO > 0
		  BEGIN
			 SET @VERRO = '1 - ERRO INSERT DB_TB_REPRES:' + @VCODIGO + ' - ERRO BANCO: ' + @VCOD_ERRO;
		  END


	/* retirado conforme definido com Prux - Alencar 07/02/2011
	   os superiores serão cadastrados corretamente no Protheus


		  UPDATE DB_TB_REPRES
			 SET DB_TBREP_SUPERIOR = @VDB_TBREP_CODIGO
		   WHERE DB_TBREP_CODIGO = @VCODIGO

		  UPDATE DB_TB_REPRES
			 SET DB_TBREP_SUPERIOR = 9999
		   WHERE DB_TBREP_TIPO = 5
			 AND (DB_TBREP_SUPERIOR = 0 OR DB_TBREP_SUPERIOR IS NULL);

		  SET @VCOUNT = 0;
		  SELECT @VCOUNT = COUNT(*)
			FROM DB_TB_REPRES
		   WHERE DB_TBREP_SUPERIOR = 9998;
           
		  IF @VCOUNT < 999 
		  BEGIN
			 UPDATE DB_TB_REPRES
				SET DB_TBREP_SUPERIOR = 9998
			  WHERE DB_TBREP_TIPO = 6
				AND (DB_TBREP_SUPERIOR = 0 OR DB_TBREP_SUPERIOR IS NULL);
		  END
		  ELSE
		  BEGIN
			 SET @VCOUNT = 0;
			 SELECT @VCOUNT = COUNT(*)
			   FROM DB_TB_REPRES
			  WHERE DB_TBREP_SUPERIOR = 9997;
                 
			 IF @VCOUNT < 999
			 BEGIN
				UPDATE DB_TB_REPRES
				   SET DB_TBREP_SUPERIOR = 9997
				 WHERE DB_TBREP_TIPO = 6
				  AND (DB_TBREP_SUPERIOR = 0 OR DB_TBREP_SUPERIOR IS NULL);
			 END
			 ELSE
			 BEGIN
				SET @VCOUNT = 0;
				SELECT @VCOUNT = COUNT(*)
				  FROM DB_TB_REPRES
				 WHERE DB_TBREP_SUPERIOR = 9996;

				IF @VCOUNT < 999
				BEGIN
				   UPDATE DB_TB_REPRES
					  SET DB_TBREP_SUPERIOR = 9996
					WHERE DB_TBREP_TIPO = 6
					  AND (DB_TBREP_SUPERIOR = 0 OR DB_TBREP_SUPERIOR IS NULL);
				END
			 END
		  END
	********/




		  --- SEMPRE QUE UM REPRESENTANTE É INCLUÍDO CARREGA OS DADOS DAS COMISSÕES E
		  --- ESPECIFICAÇÕES DO REPRESENTANTE 1
		  DECLARE CUR CURSOR FOR 
		  SELECT DB_TBREP_TRANSP, DB_TBREP_PORT, DB_TBREP_CPGTO, DB_TBREP_OPER, DB_TBREP_LPRECO,
				 DB_TBREP_CVENDA, DB_TBREP_REPCONJ, DB_TBREP_FAMPROD, DB_TBREP_MARCA, DB_TBREP_TPPROD,
				 DB_TBREP_EMPRESAS, DB_TBREP_CLASSCOM, DB_TBREP_CLIENTES, DB_TBREP_ROTAS, DB_TBREP_TPPEDIDO,
				 DB_TBREP_PREPOSTO, DB_TBREP_ESTADOS, DB_TBREP_PREDPRZ 
			FROM DB_TB_REPRES
		   WHERE DB_TBREP_CODIGO = 1
		  OPEN CUR
		  FETCH NEXT FROM CUR
			INTO @VDB_TBREP_TRANSP, @VDB_TBREP_PORT, @VDB_TBREP_CPGTO, @VDB_TBREP_OPER, @VDB_TBREP_LPRECO,
				 @VDB_TBREP_CVENDA, @VDB_TBREP_REPCONJ, @VDB_TBREP_FAMPROD, @VDB_TBREP_MARCA, @VDB_TBREP_TPPROD,
				 @VDB_TBREP_EMPRESAS, @VDB_TBREP_CLASSCOM, @VDB_TBREP_CLIENTES, @VDB_TBREP_ROTAS, @VDB_TBREP_TPPEDIDO,
				 @VDB_TBREP_PREPOSTO, @VDB_TBREP_ESTADOS, @VDB_TBREP_PREDPRZ
		   WHILE @@FETCH_STATUS = 0
		  BEGIN

			INSERT INTO dbo.VA_LOGS (DATAHORA, ORIGEM, TEXTO)
			VALUES (GETDATE(), 'UPDATE REPRESENTANTE - SA3', 'REP.:'+ cast(@VCODIGO as varchar) +'  SITUACAO:'+ @VA3_ATIVO)

			UPDATE DB_TB_REPRES
			   SET DB_TBREP_TRANSP    = @VDB_TBREP_TRANSP
							, DB_TBREP_PORT      = @VDB_TBREP_PORT
							, DB_TBREP_CPGTO     = @VDB_TBREP_CPGTO
							, DB_TBREP_OPER      = @VDB_TBREP_OPER
							, DB_TBREP_LPRECO    = @VDB_TBREP_LPRECO
							, DB_TBREP_CVENDA    = @VDB_TBREP_CVENDA
							, DB_TBREP_REPCONJ   = @VDB_TBREP_REPCONJ
							, DB_TBREP_FAMPROD   = @VDB_TBREP_FAMPROD
							, DB_TBREP_MARCA     = @VDB_TBREP_MARCA
							, DB_TBREP_TPPROD    = @VDB_TBREP_TPPROD
							, DB_TBREP_EMPRESAS  = @VDB_TBREP_EMPRESAS
							, DB_TBREP_CLASSCOM  = @VDB_TBREP_CLASSCOM
							, DB_TBREP_CLIENTES  = @VDB_TBREP_CLIENTES
							, DB_TBREP_ROTAS     = @VDB_TBREP_ROTAS
							, DB_TBREP_TPPEDIDO  = @VDB_TBREP_TPPEDIDO
							, DB_TBREP_PREPOSTO  = @VDB_TBREP_PREPOSTO
							, DB_TBREP_ESTADOS   = @VDB_TBREP_ESTADOS
							, DB_TBREP_PREDPRZ   = @VDB_TBREP_PREDPRZ
						   -- , DB_TBREP_SUPERIOR  = RTRIM(LTRIM(@VA3_SUPER))
							, db_tbrep_email     = @VA3_EMAIL
							, DB_TBREP_SIT_VENDA = CASE WHEN @VA3_ATIVO = 'S' THEN 1 ELSE 2 END
						WHERE DB_TBREP_CODIGO = @VCODIGO;
                  
						SET @VCOD_ERRO = @@ERROR;
						IF @VCOD_ERRO > 0
						BEGIN
							SET @VERRO = '1 - ERRO UPDATE DB_TB_REPRES:' + @VCODIGO + ' - ERRO BANCO: ' + @VCOD_ERRO;
						END   
				    
		  FETCH NEXT FROM CUR
			INTO @VDB_TBREP_TRANSP, @VDB_TBREP_PORT, @VDB_TBREP_CPGTO, @VDB_TBREP_OPER, @VDB_TBREP_LPRECO,
				 @VDB_TBREP_CVENDA, @VDB_TBREP_REPCONJ, @VDB_TBREP_FAMPROD, @VDB_TBREP_MARCA, @VDB_TBREP_TPPROD,
				 @VDB_TBREP_EMPRESAS, @VDB_TBREP_CLASSCOM, @VDB_TBREP_CLIENTES, @VDB_TBREP_ROTAS, @VDB_TBREP_TPPEDIDO,
				 @VDB_TBREP_PREPOSTO, @VDB_TBREP_ESTADOS, @VDB_TBREP_PREDPRZ
		  END
		  CLOSE CUR
		  DEALLOCATE CUR

		  --- SEMPRE QUE UM REPRESENTANTE É INCLUÍDO CARREGA OS DADOS DAS COMISSÕES E
		  --- ESPECIFICAÇÕES DO REPRESENTANTE 1
 
		  SELECT @VINSERE_COMIS = 1
			FROM DB_TB_REPRES_COMIS
		   WHERE DB_TBREPC_CODIGO  = @VCODIGO;
		  SET @VCOD_ERRO = @@ERROR;
		  IF @VCOD_ERRO > 0
		  BEGIN
			 SET @VINSERE_COMIS  = 0;
		  END 

		  IF @VINSERE_COMIS  = 0
		  BEGIN
			
			 INSERT INTO DB_TB_REPRES_COMIS
							  (
								DB_TBREPC_CODIGO,
								DB_TBREPC_SEQ,
								DB_TBREPC_RAMO_ATI,
								DB_TBREPC_LPRECO,
								DB_TBREPC_DCTOMED,
								DB_TBREPC_COMISSAO,
								DB_TBREPC_CVI,
								DB_TBREPC_CLIENTE,
								DB_TBREPC_PROD,
								DB_TBREPC_PRZMED,
								DB_TBREPC_FAMPROD,
								DB_TBREPC_CLCOCLI,
								DB_TBREPC_UF,
								DB_TBREPC_LPRECO1,
								DB_TBREPC_EMPRESA,
								DB_TBREPC_PREDCOM
							   )
							  ( SELECT @VCODIGO,
									   DB_TBREPC_SEQ,
									   DB_TBREPC_RAMO_ATI,
									   DB_TBREPC_LPRECO,
									   DB_TBREPC_DCTOMED,
									   DB_TBREPC_COMISSAO,
									   DB_TBREPC_CVI,
									   DB_TBREPC_CLIENTE,
									   DB_TBREPC_PROD,
									   DB_TBREPC_PRZMED,
									   DB_TBREPC_FAMPROD,
									   DB_TBREPC_CLCOCLI,
									   DB_TBREPC_UF,
									   DB_TBREPC_LPRECO1,
									   DB_TBREPC_EMPRESA,
									   DB_TBREPC_PREDCOM
								  FROM DB_TB_REPRES_COMIS
								 WHERE DB_TBREPC_CODIGO  = 1);

		  END

		  SELECT @VINSERE = 1
			FROM DB_TB_REPRES1
		   WHERE DB_TBREP1_CODIGO = @VCODIGO;
		  SET @VCOD_ERRO = @@ERROR;
		  IF @VCOD_ERRO > 0
		  BEGIN
			 SET @VINSERE = 0;
		  END

		  IF @VINSERE = 0
		  BEGIN
			 INSERT INTO DB_TB_REPRES1 (DB_TBREP1_CODIGO)
			 VALUES (@VCODIGO);
		  END

	   END
	   ELSE
	   BEGIN


				-- BUSCA O SUPERIOR
				--SELECT @VDB_TBREP_SUPERIOR = B.DB_TBREP_CODIGO
		 		--  FROM DB_TB_REPRES B, DB_TB_REPRES A
				-- WHERE B.DB_TBREP_CODORIG   = RTRIM(LTRIM(@VA3_SUPER))

				INSERT INTO dbo.VA_LOGS (DATAHORA, ORIGEM, TEXTO)
				VALUES (GETDATE(), 'UPDATE REPRESENTANTE - SA3', 'REP.:'+ cast(@VCODIGO as varchar) +'  SITUACAO:'+ @VA3_ATIVO)


				UPDATE DB_TB_REPRES
				   SET DB_TBREP_NOME    = SUBSTRING(RTRIM(@VA3_NOME),1,40),
					   DB_TBREP_COGNOME = SUBSTRING(RTRIM(@VA3_NOME),1,12),   --@VA3_NREDUZ
					   DB_TBREP_ENDER   = SUBSTRING(RTRIM(LTRIM(@VA3_END)),1,40),
					   DB_TBREP_BAIRRO  = SUBSTRING(RTRIM(LTRIM(@VA3_BAIRRO)),1,30),
					   DB_TBREP_CIDADE  = SUBSTRING(RTRIM(LTRIM(@VA3_MUN)),1,30),
					   DB_TBREP_UF      = SUBSTRING(RTRIM(LTRIM(@VA3_EST)),1,2),
					   DB_TBREP_CEP     = ISNULL(RTRIM(LTRIM(REPLACE(@VA3_CEP, '-', ''))), 0),
					   DB_TBREP_FONE2   = RTRIM(LTRIM(@VA3_TEL)),
					   DB_TBREP_FAX     = RTRIM(LTRIM(@VA3_FAX)),
					   DB_TBREP_CNPJ    = RTRIM(LTRIM(@VA3_CGC)),
					   DB_TBREP_NOMEFIS = SUBSTRING(RTRIM(@VA3_NOME),1, 40),
					   DB_TBREP_INSCEST = REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(RTRIM(LTRIM(@VA3_INSCR)), '.', ''), '-', ''), '/', ''), '\', ''), 'CPF', ''), ' ', ''),
					  -- DB_TBREP_SUPERIOR = @VDB_TBREP_SUPERIOR,			
					   DB_TBREP_SIT_VENDA= CASE WHEN @VA3_ATIVO = 'S' THEN 1 ELSE 2 END
					   
				 WHERE DB_TBREP_CODIGO = @VCODIGO;
			
				SET @VCOD_ERRO = @@ERROR;
				IF @VCOD_ERRO > 0
				BEGIN
					SET @VERRO = '1 - ERRO UPDATE DB_TB_REPRES:' + @VCODIGO + ' - ERRO BANCO: ' + @VCOD_ERRO;
				END


	/* retirado conforme definido com Prux - Alencar 07/02/2011
	   os superiores serão cadastrados corretamente no Protheus

				SELECT @VDB_TBREP_CODIGO = B.DB_TBREP_CODIGO
				  FROM DB_TB_REPRES B, DB_TB_REPRES A
				 WHERE A.DB_TBREP_SUPERIOR = B.DB_TBREP_CODORIG

				UPDATE DB_TB_REPRES
				   SET DB_TBREP_SUPERIOR = @VDB_TBREP_CODIGO
				 WHERE DB_TBREP_CODIGO = @VCODIGO

				UPDATE DB_TB_REPRES
				   SET DB_TBREP_SUPERIOR = 9999
				 WHERE DB_TBREP_TIPO = 5
				   AND (DB_TBREP_SUPERIOR = 0 OR DB_TBREP_SUPERIOR IS NULL);

				SET @VCOUNT = 0;
				SELECT @VCOUNT = COUNT(*)
				  FROM DB_TB_REPRES
				 WHERE DB_TBREP_SUPERIOR = 9998;
				IF @VCOUNT < 999
				BEGIN
					UPDATE DB_TB_REPRES
					   SET DB_TBREP_SUPERIOR = 9998
					 WHERE DB_TBREP_TIPO = 6
					   AND (DB_TBREP_SUPERIOR = 0 OR DB_TBREP_SUPERIOR IS NULL);
				END
				ELSE
				BEGIN
					SET @VCOUNT = 0;
					SELECT @VCOUNT = COUNT(*)
					  FROM DB_TB_REPRES
					 WHERE DB_TBREP_SUPERIOR = 9997;
					IF @VCOUNT < 999
					BEGIN
						UPDATE DB_TB_REPRES
						   SET DB_TBREP_SUPERIOR = 9997
						 WHERE DB_TBREP_TIPO = 6
						   AND (DB_TBREP_SUPERIOR = 0 OR DB_TBREP_SUPERIOR IS NULL);
					END
					ELSE
					BEGIN
						SET @VCOUNT = 0;
						SELECT @VCOUNT = COUNT(*)
						  FROM DB_TB_REPRES
						 WHERE DB_TBREP_SUPERIOR = 9996;
						IF @VCOUNT < 999
						BEGIN
							UPDATE DB_TB_REPRES
							   SET DB_TBREP_SUPERIOR = 9996
							  WHERE DB_TBREP_TIPO = 6
							   AND (DB_TBREP_SUPERIOR = 0 OR DB_TBREP_SUPERIOR IS NULL);

						END
					END
				END 
	*******/
		  END
	   END

	   IF @VERRO IS NOT NULL
	   BEGIN
		  SET @VDATA = GETDATE();
		  INSERT INTO DBS_ERROS_TRIGGERS
			(DBS_ERROS_ERRO, DBS_ERROS_DATA, DBS_ERROS_OBJETO)
		  VALUES
			(@VERRO, @VDATA, @VOBJETO );
	   END
END TRY

BEGIN CATCH
   SELECT @VERRO = cast(ERROR_NUMBER() as varchar) + ERROR_MESSAGE()

   INSERT INTO DBS_ERROS_TRIGGERS
  		(DBS_ERROS_ERRO, DBS_ERROS_DATA, DBS_ERROS_OBJETO)
		VALUES
  		( @VERRO, getdate(), @VOBJETO );			
END CATCH

END

