ALTER PROCEDURE MERCP_INSERE_REPRES_USU  ( @P_USUARIO    VARCHAR(27)) AS
DECLARE @V_SQL								NVARCHAR(4000);
DECLARE @V_TIPO_AVALIACAO					INT;
DECLARE @V_CODIGO_USUARIO					INT;
DECLARE @V_GRUPO_USUARIO					INT;
DECLARE @V_NOVOSCORPORATIVO					INT;
DECLARE @V_FILTRO_UF						INT;
DECLARE @V_SQL_REPRES						VARCHAR(4000);
DECLARE @V_ESTRUTURA_NIVEL_REPRESENTANTE    VARCHAR(25);
DECLARE @V_NIVEL_REPRESENTANTE				VARCHAR(25);
DECLARE @V_SQL_WITH							VARCHAR(4000);
DECLARE @V_SQL_WEHRE						VARCHAR(4000);
DECLARE @V_CODIGO_ACESSO                    FLOAT;
DECLARE @VERRO					            VARCHAR(150);
DECLARE @TEMP_REPUSU TABLE (CODREPRES INT, USUARIO VARCHAR(20));
BEGIN
SET NOCOUNT ON;
SET FMTONLY OFF;
BEGIN TRY
SELECT @V_CODIGO_USUARIO				= CODIGO,
@V_GRUPO_USUARIO					= GRUPO_USUARIO,
@V_ESTRUTURA_NIVEL_REPRESENTANTE = ESTRUTURA_NIVEL_REPRESENTANTE,
@V_NIVEL_REPRESENTANTE           = NIVEL_REPRESENTANTE,
@V_CODIGO_ACESSO					= CODIGO_ACESSO
FROM DB_USUARIO
WHERE USUARIO = @P_USUARIO
SELECT @V_TIPO_AVALIACAO = ISNULL(VALOR_NUM, 0)
FROM DB_FILTRO_USUARIO
WHERE CODIGO_USUARIO = @V_CODIGO_USUARIO
AND ID_FILTRO = 'CLIENTESUSUARIO'
IF @V_TIPO_AVALIACAO = 2
BEGIN
SELECT @V_FILTRO_UF		= COUNT(*)
FROM DB_FILTRO_GRUPOUSU
WHERE ID_FILTRO = 'UF'
AND CODIGO_GRUPO = @V_GRUPO_USUARIO;
SELECT @V_NOVOSCORPORATIVO = DB_PRMS_VALOR
FROM DB_PARAM_SISTEMA
WHERE DB_PARAM_SISTEMA.DB_PRMS_ID = 'PED_CLI_NOVOSCORPORATIVO';
SET @V_SQL_WITH =
'WITH CLI_CARTEIRA AS (
SELECT DISTINCT  CLIENTES_CARTEIRA.CLIENTE C_CLIENTE
FROM (
SELECT (DB_CARTEIRAS_CLIENTES.CLIENTE) CLIENTE
FROM DB_CARTEIRAS_USUARIOS,
DB_CARTEIRAS_CLIENTES,
DB_CARTEIRAS
WHERE DB_CARTEIRAS_USUARIOS.USUARIO = ''' + @P_USUARIO + '''
AND DB_CARTEIRAS.ID = DB_CARTEIRAS_USUARIOS.CARTEIRA
AND DB_CARTEIRAS_CLIENTES.CARTEIRA = DB_CARTEIRAS_USUARIOS.CARTEIRA
AND DB_CARTEIRAS.SITUACAO = 1
AND (ISNULL(DB_CARTEIRAS_CLIENTES.DATA_FINAL, '''') = '''' OR DB_CARTEIRAS_CLIENTES.DATA_FINAL >= (CAST((GETDATE() - 7) AS DATE)))
AND (ISNULL(DB_CARTEIRAS_USUARIOS.DATA_FINAL, '''') = '''' OR DB_CARTEIRAS_USUARIOS.DATA_FINAL >= (CAST((GETDATE() - 7) AS DATE)))
) AS CLIENTES_CARTEIRA ),
CLI_EMPRESAS AS(
SELECT EMP.DB_TBEMP_CODIGO EMPRESA_CLIENTE
FROM DB_GRUPO_USU_EMP  GRUPO_EMP,
DB_TB_EMPRESA     EMP
WHERE GRUPO_EMP.GRUPO_USUARIO = ' + CAST(@V_GRUPO_USUARIO AS VARCHAR) +
' AND EMP.DB_TBEMP_CODIGO     = GRUPO_EMP.EMPRESA ) '
SET @V_SQL_WEHRE =
' WHERE DB_CLIR_EMPRESA IN (SELECT CLI_EMPRESAS.EMPRESA_CLIENTE FROM CLI_EMPRESAS)
AND DB_CLIR_CLIENTE = CLI_CARTEIRA.C_CLIENTE
AND DB_CLI_CODIGO = DB_CLIR_CLIENTE ';
IF @V_FILTRO_UF > 0
BEGIN
SET @V_SQL_WEHRE = @V_SQL_WEHRE +
' AND EXISTS(SELECT 1 FROM DB_FILTRO_GRUPOUSU
WHERE ID_FILTRO = ''UF''
AND CODIGO_GRUPO = ' +  CAST(@V_GRUPO_USUARIO AS VARCHAR) + '
AND DB_CLI_ESTADO = VALOR_STRING)';
END;
IF @V_NOVOSCORPORATIVO = '0'
BEGIN
SET @V_SQL_WEHRE = @V_SQL_WEHRE +
' AND NOT (DB_CLI_SITUACAO =0 AND DB_CLI_ALT_CORP IS NULL)';
END;
SET @V_SQL_REPRES = ' SELECT DISTINCT REP.CODIGO_REPRES CODIGO_REPRES, ''' + @P_USUARIO + ''' USUARIO_REPRES FROM (
SELECT DB_CLIR_REPRES CODIGO_REPRES FROM DB_CLIENTE_REPRES, CLI_CARTEIRA, DB_CLIENTE '  + @V_SQL_WEHRE
+ ' UNION
SELECT  ' + CAST(@V_CODIGO_ACESSO AS VARCHAR) + ' CODIGO_REPRES
) AS REP WHERE REP.CODIGO_REPRES <> 0 ';
SET @V_SQL = @V_SQL_WITH ++ @V_SQL_REPRES;
END
ELSE
BEGIN
SET @V_SQL_REPRES =
'SELECT DISTINCT REPRESENTANTES.CODIGO_REPRES CODIGO_REPRES
, ''' + @P_USUARIO + ''' USUARIO_REPRES
FROM (
SELECT DB_TBREP_CODIGO CODIGO_REPRES
FROM DB_ESTRUT_VENDA X,
DB_ESTRUT_VENDA Y,
DB_ESTRUT_REGRA Z,
DB_TB_REPRES REP,
DB_TB_REPRES1 REP1
WHERE X.DB_EVDA_ESTRUTURA = Y.DB_EVDA_ESTRUTURA
AND Y.DB_EVDA_CODIGO LIKE (X.DB_EVDA_CODIGO + ''%'')
AND X.DB_EVDA_ESTRUTURA = Z.DB_EREG_ESTRUTURA
AND Y.DB_EVDA_ID = Z.DB_EREG_ID
AND X.DB_EVDA_ESTRUTURA = ''' + @V_ESTRUTURA_NIVEL_REPRESENTANTE + '''
AND X.DB_EVDA_ID = ''' + @V_NIVEL_REPRESENTANTE + '''
AND REP.DB_TBREP_CODIGO = Z.DB_EREG_REPRES
AND REP1.DB_TBREP1_CODIGO = Z.DB_EREG_REPRES
UNION ALL
SELECT DB_TBREP_CODIGO  CODIGO_REPRES
FROM DB_USUARIO USU
, DB_USUARIO_ESTRUTU
, DB_ESTRUT_REGRA Z
, DB_TB_REPRES REP
, DB_TB_REPRES1 REP1
WHERE DB_USUARIO_ESTRUTU.USUARIO = ' + CAST(@V_CODIGO_USUARIO AS VARCHAR) + '
AND DB_USUARIO_ESTRUTU.ESTRUTURA = ''' + @V_ESTRUTURA_NIVEL_REPRESENTANTE + '''
AND ''' + @V_ESTRUTURA_NIVEL_REPRESENTANTE + ''' = Z.DB_EREG_ESTRUTURA
AND DB_USUARIO_ESTRUTU.ID_NIVEL = Z.DB_EREG_ID
AND REP.DB_TBREP_CODIGO = Z.DB_EREG_REPRES
AND REP1.DB_TBREP1_CODIGO = Z.DB_EREG_REPRES
) AS REPRESENTANTES ';
SET @V_SQL= @V_SQL_REPRES;
END
INSERT INTO @TEMP_REPUSU (CODREPRES, USUARIO)
EXEC SP_EXECUTESQL @V_SQL;
INSERT INTO DB_REPRES_USUARIO(REPRESENTANTE, USUARIO)
SELECT A.CODREPRES, A.USUARIO
FROM @TEMP_REPUSU A
WHERE NOT EXISTS(SELECT * FROM DB_REPRES_USUARIO
WHERE DB_REPRES_USUARIO.REPRESENTANTE = A.CODREPRES AND DB_REPRES_USUARIO.USUARIO = A.USUARIO);
DELETE FROM DB_REPRES_USUARIO
WHERE DB_REPRES_USUARIO.USUARIO = @P_USUARIO
AND NOT EXISTS(SELECT * FROM @TEMP_REPUSU A
WHERE DB_REPRES_USUARIO.REPRESENTANTE = A.CODREPRES AND DB_REPRES_USUARIO.USUARIO = A.USUARIO);
END TRY
BEGIN CATCH
SET @VERRO = 'ERRO: ' + ERROR_MESSAGE() + ' , LINHA: ' + CAST(ISNULL(ERROR_LINE(), 0) AS VARCHAR) + ' ' + @P_USUARIO
INSERT INTO DBS_ERROS_TRIGGERS
(DBS_ERROS_OBJETO, DBS_ERROS_ERRO, DBS_ERROS_DATA)
VALUES
('MERCP_INSERE_REPRES_USU', ISNULL(@VERRO, 'NULL'), GETDATE())
END CATCH
END;
