ALTER VIEW MVA_LAJE_PADRAO_ABA AS
SELECT PRODUTO			produto_PABA,
	   TAMANHO_INICIAL	tamanhoInicial_PABA,
	   TAMANHO_FINAL	tamanhoFinal_PABA,
	   SEQUENCIA		sequencia_PABA
  FROM DB_LAJE_PADRAO_ABA
