ALTER VIEW MVA_AREASABASPEDIDO  AS
SELECT ABA.GRUPO_USUARIO	GRUPOUSUARIO_AREAPED,
ABA.ABA				ABA_AREAPED,
ABA.AREA				AREA_AREAPED,
ABA.COLUNAS			COLUNAS_AREAPED,
SUBAREA              SUBAREA_AREAPED,
LABEL                LABEL_AREAPED,
APRESENTA_PEDIDO     APRESENTAPEDIDO_AREAPED,
APRESENTA_RECOLHIDO  APRESENTARECOLHIDO_AREAPED,
APRESENTA_IMAGEM		APRESENTAIMAGEM_AREAPED,
USU.USUARIO
FROM DB_MOB_AREAS_ABAS_PEDIDO ABA, DB_USUARIO USU, DB_GRUPO_USUARIOS GRUPO
WHERE USU.GRUPO_USUARIO = GRUPO.CODIGO
AND ABA.GRUPO_USUARIO = USU.GRUPO_USUARIO
AND ABA.ABA IN (SELECT ABA
FROM MVA_ABASPEDIDO ABA2
WHERE USU.USUARIO = ABA2.USUARIO)
