ALTER VIEW MVA_GRUPOSOCORRENCIAS AS
select DB_OC_GRUPOS_USUARIOS.CODIGO_GRUPO	codigo_GROC,
DB_USUARIO.USUARIO
from DB_OC_GRUPOS_USUARIOS, DB_USUARIO
where DB_USUARIO.CODIGO = DB_OC_GRUPOS_USUARIOS.USUARIO
