ALTER VIEW MVA_CONSULTAEXPOSITOR AS
SELECT CODIGO				CODIGO_CONEX,
NOME					NOME_CONEX,
CONSULTA				CONSULTA_CONEX,
COLUNA_EXP			COLUNAEXP_CONEX,
COLUNA_CONSULTA		COLUNACONSULTA_CONEX
FROM DB_MOB_CONS_EXP
