ALTER VIEW MVA_PESQUISASSEQUENCIA AS
SELECT CODIGO_PESQUISA		CODIGOPESQUISA_PESSEQ,
SEQUENCIA			SEQUENCIA_PESSEQ,
CODIGO_PERGUNTA		CODIGOPERGUNTA_PESSEQ,
TITULO_SEPARADOR		TITULOSEPARADOR_PESSEQ,
CAMPO_SEPARADOR		CAMPOSEPARADOR_PESSEQ,
USU.USUARIO
FROM DB_PESQ_PESQUISA_SEQUENCIA PS, DB_USUARIO USU
WHERE EXISTS (SELECT 1
FROM MVA_PESQUISAS P
WHERE P.CODIGO_PES = PS.CODIGO_PESQUISA
AND USU.USUARIO = P.USUARIO)
