ALTER VIEW MVA_PRODUTOSCLIENTEEMPRESA AS
 select DB_PRDCLI_CLIENTE			cliente_PRODCLIEMP,
		DB_PRDCLI_SEQ				sequencia_PRODCLIEMP,
		DB_PRDCLI_PRODUTO			produto_PRODCLIEMP,
		DB_PRDCLI_VDAWEB			vendaWeb_PRODCLIEMP,
		DB_PRDCLI_VDAEXTRA			vendaExtra_PRODCLIEMP,
		isnull(DB_PRDCLI_PADRAO, 0)	padrao_PRODCLIEMP,
		DB_PrdCli_Empresa			empresa_PRODCLIEMP,
		DB_PRDCLI_LEMBARQ			lembarq_PRODCLIEMP,
		DB_PRDCLI_CPGTO				cpgto_PRODCLIEMP,
		prod.USUARIO,
		prod.DATAALTER
   from DB_VINC_PRODCLIENTE,
        MVA_PRODUTOS prod,
		MVA_CLIENTE cli
  where prod.CODIGO_PRODU = DB_PRDCLI_PRODUTO
    and cli.USUARIO = prod.USUARIO
	and cli.CODIGO_CLIEN = DB_PRDCLI_CLIENTE
