ALTER VIEW MVA_PEDIDOMOTALTERACAO AS
SELECT MOT.PEDIDO				pedido_MOTALT,
MOT.DATA_ALTERACAO		dataAlteracao_MOTALT,
MOT.MOTIVO_ALTERACAO	motivoAlteracao_MOTALT,
MOT.JUSTIFICATIVA		justificativa_MOTALT,
MOT.USUARIO				usuario_MOTALT,
MOT.SISTEMA				sistema_MOTALT,
MVA_PEDIDOS.USUARIO,
MVA_PEDIDOS.DATAALTER
FROM DB_PEDIDO_MOTALT MOT,
MVA_PEDIDOS
WHERE CODIGO_PEDID = PEDIDO
