---------------------------------------------------------------------------------------------------
-- VERSAO	DATA		AUTOR			ALTERACAO
-- 1.0001	12/12/2014	TIAGO PRADELLA	CRIACAO
-- 1.0002   20/04/2016  tiago           retirado config PRAZOMINCUSTOFINANCEIRO
---------------------------------------------------------------------------------------------------
ALTER VIEW  MVA_CONFIGURACOESLUCRATIVIDADE AS
SELECT 'ANALISARLUCRATIVIDADE'                               NOME_CONFIG,
       CONVERT ( VARCHAR, ISNULL(PAR.DB_PRM_LCPED_ANAL, 0))  VALOR_CONFIG,
       USU.USUARIO                                           USUARIO
  FROM DB_PARAMETRO PAR, DB_USUARIO USU
 WHERE DB_PRM_CHAVE = 'PARAM'
UNION ALL
SELECT 'TAXAFINANCEIRADIARIA'                                 NOME_CONFIG,
       CONVERT ( VARCHAR, ISNULL(PAR.DB_PRM_TXFI_DIARIA, 0))  VALOR_CONFIG,
       USU.USUARIO                                            USUARIO
  FROM DB_PARAMETRO PAR, DB_USUARIO USU
 WHERE DB_PRM_CHAVE = 'PARAM'
UNION ALL
SELECT 'CUSTOFIXOPOR'                                         NOME_CONFIG,
       CONVERT ( VARCHAR, ISNULL(PAR.DB_PRM_CUSTOFX_POR, 0))  VALOR_CONFIG,
       USU.USUARIO                                            USUARIO
  FROM DB_PARAMETRO PAR, DB_USUARIO USU
 WHERE DB_PRM_CHAVE = 'PARAM'
UNION ALL
SELECT 'CUSTOFIXOITEM'                                       NOME_CONFIG,
       CONVERT ( VARCHAR, ISNULL(PAR.DB_PRM_CUSTO_FIXO, 0))  VALOR_CONFIG,
       USU.USUARIO                                           USUARIO
  FROM DB_PARAMETRO PAR, DB_USUARIO USU
 WHERE DB_PRM_CHAVE = 'PARAM'
UNION ALL
SELECT 'CALCULACUSTOIND'                                      NOME_CONFIG,
        CONVERT ( VARCHAR, ISNULL(PAR.DB_PRM_CUSTO_IND, 0))   VALOR_CONFIG,
        USU.USUARIO                                           USUARIO
   FROM DB_PARAMETRO1 PAR, DB_USUARIO USU
  WHERE DB_PRM1_CHAVE = 'PARAM'
UNION ALL
SELECT 'CALCULACUSTOCOM'                                      NOME_CONFIG,
        CONVERT ( VARCHAR, ISNULL(PAR.DB_PRM_CUSTO_COM, 0))   VALOR_CONFIG,
        USU.USUARIO                                           USUARIO
    FROM DB_PARAMETRO1 PAR, DB_USUARIO USU
WHERE DB_PRM1_CHAVE = 'PARAM'
UNION ALL
SELECT 'CALCULACUSTOADM'                                      NOME_CONFIG,
        CONVERT ( VARCHAR, ISNULL(PAR.DB_PRM_CUSTO_ADM, 0))   VALOR_CONFIG,
        USU.USUARIO                                           USUARIO
    FROM DB_PARAMETRO1 PAR, DB_USUARIO USU
WHERE DB_PRM1_CHAVE = 'PARAM'
UNION ALL
SELECT 'AVALIARCONCEITOS'                                      NOME_CONFIG,
        CONVERT ( VARCHAR, ISNULL(PAR.DB_PRM_AVCONCLUCR, 0))   VALOR_CONFIG,
        USU.USUARIO                                            USUARIO
    FROM DB_PARAMETRO1 PAR, DB_USUARIO USU
WHERE DB_PRM1_CHAVE = 'PARAM'
UNION ALL
SELECT 'AVALIARLUCRATIVIDADE'                                NOME_CONFIG,
        CONVERT ( VARCHAR, ISNULL(PAR.DB_PRM_AVALLUCR, 0))   VALOR_CONFIG,
        USU.USUARIO                                          USUARIO
   FROM DB_PARAMETRO1 PAR, DB_USUARIO USU
  WHERE DB_PRM1_CHAVE = 'PARAM'
UNION ALL 
SELECT 'LUCFAIXA1PERCENTUAL'                                 NOME_CONFIG,
       CONVERT ( VARCHAR, ISNULL(PAR.DB_PRM_LCPED_PER1, 0))  VALOR_CONFIG,
       USU.USUARIO                                           USUARIO
  FROM DB_PARAMETRO PAR, DB_USUARIO USU
 WHERE DB_PRM_CHAVE = 'PARAM'
UNION ALL
SELECT 'LUCFAIXA2PERCENTUAL'                                 NOME_CONFIG,
       CONVERT ( VARCHAR, ISNULL(PAR.DB_PRM_LCPED_PER2, 0))  VALOR_CONFIG,
       USU.USUARIO                                           USUARIO
  FROM DB_PARAMETRO PAR, DB_USUARIO USU
 WHERE DB_PRM_CHAVE = 'PARAM'
UNION ALL
SELECT 'LUCFAIXA3PERCENTUAL'                                 NOME_CONFIG,
       CONVERT ( VARCHAR, ISNULL(PAR.DB_PRM_LCPED_PER3, 0))  VALOR_CONFIG,
       USU.USUARIO                                           USUARIO
  FROM DB_PARAMETRO PAR, DB_USUARIO USU
 WHERE DB_PRM_CHAVE = 'PARAM'
UNION ALL
SELECT 'LUCFAIXA4PERCENTUAL'                                 NOME_CONFIG,
       CONVERT ( VARCHAR, ISNULL(PAR.DB_PRM_LCPED_PER4, 0))  VALOR_CONFIG,
       USU.USUARIO                                           USUARIO
  FROM DB_PARAMETRO PAR, DB_USUARIO USU
 WHERE DB_PRM_CHAVE = 'PARAM'
UNION ALL
SELECT 'LUCFAIXA5PERCENTUAL'                                 NOME_CONFIG,
       CONVERT ( VARCHAR, ISNULL(PAR.DB_PRM_LCPED_PER5, 0))  VALOR_CONFIG,
       USU.USUARIO                                           USUARIO
  FROM DB_PARAMETRO PAR, DB_USUARIO USU
 WHERE DB_PRM_CHAVE = 'PARAM'
UNION ALL
SELECT 'LUCFAIXA1CONCEITO'                                   NOME_CONFIG,
       CONVERT ( VARCHAR, ISNULL(PAR.DB_PRM_LCPED_CON1, 0))  VALOR_CONFIG,
       USU.USUARIO                                           USUARIO
  FROM DB_PARAMETRO PAR, DB_USUARIO USU
 WHERE DB_PRM_CHAVE = 'PARAM'
UNION ALL
SELECT 'LUCFAIXA2CONCEITO'                                   NOME_CONFIG,
       CONVERT ( VARCHAR, ISNULL(PAR.DB_PRM_LCPED_CON2, 0))  VALOR_CONFIG,
       USU.USUARIO                                           USUARIO
  FROM DB_PARAMETRO PAR, DB_USUARIO USU
 WHERE DB_PRM_CHAVE = 'PARAM'
UNION ALL
SELECT 'LUCFAIXA3CONCEITO'                                   NOME_CONFIG,
       CONVERT ( VARCHAR, ISNULL(PAR.DB_PRM_LCPED_CON3, 0))  VALOR_CONFIG,
       USU.USUARIO                                           USUARIO
  FROM DB_PARAMETRO PAR, DB_USUARIO USU
 WHERE DB_PRM_CHAVE = 'PARAM'
UNION ALL
SELECT 'LUCFAIXA4CONCEITO'                                   NOME_CONFIG,
       CONVERT ( VARCHAR, ISNULL(PAR.DB_PRM_LCPED_CON4, 0))  VALOR_CONFIG,
       USU.USUARIO                                           USUARIO
  FROM DB_PARAMETRO PAR, DB_USUARIO USU
 WHERE DB_PRM_CHAVE = 'PARAM'
UNION ALL
SELECT 'LUCFAIXA5CONCEITO'                                   NOME_CONFIG,
       CONVERT ( VARCHAR, ISNULL(PAR.DB_PRM_LCPED_CON5, 0))  VALOR_CONFIG,
       USU.USUARIO                                           USUARIO
  FROM DB_PARAMETRO PAR, DB_USUARIO USU
 WHERE DB_PRM_CHAVE = 'PARAM'
UNION ALL
SELECT 'LUCFAIXA1COR'                                          NOME_CONFIG,
        CONVERT ( VARCHAR, ISNULL(PAR.DB_PRM_LCPED_COR1, 0))   VALOR_CONFIG,
        USU.USUARIO                                            USUARIO
   FROM DB_PARAMETRO1 PAR, DB_USUARIO USU
  WHERE DB_PRM1_CHAVE = 'PARAM'
UNION ALL
SELECT 'LUCFAIXA2COR'                                          NOME_CONFIG,
        CONVERT ( VARCHAR, ISNULL(PAR.DB_PRM_LCPED_COR2, 0))   VALOR_CONFIG,
        USU.USUARIO                                            USUARIO
   FROM DB_PARAMETRO1 PAR, DB_USUARIO USU
  WHERE DB_PRM1_CHAVE = 'PARAM'
UNION ALL
SELECT 'LUCFAIXA3COR'                                          NOME_CONFIG,
        CONVERT ( VARCHAR, ISNULL(PAR.DB_PRM_LCPED_COR3, 0))   VALOR_CONFIG,
        USU.USUARIO                                            USUARIO
   FROM DB_PARAMETRO1 PAR, DB_USUARIO USU
  WHERE DB_PRM1_CHAVE = 'PARAM'
UNION ALL
SELECT 'LUCFAIXA4COR'                                          NOME_CONFIG,
        CONVERT ( VARCHAR, ISNULL(PAR.DB_PRM_LCPED_COR4, 0))   VALOR_CONFIG,
        USU.USUARIO                                            USUARIO
   FROM DB_PARAMETRO1 PAR, DB_USUARIO USU
  WHERE DB_PRM1_CHAVE = 'PARAM'
UNION ALL
SELECT 'LUCFAIXA5COR'                                          NOME_CONFIG,
        CONVERT ( VARCHAR, ISNULL(PAR.DB_PRM_LCPED_COR5, 0))   VALOR_CONFIG,
        USU.USUARIO                                            USUARIO
   FROM DB_PARAMETRO1 PAR, DB_USUARIO USU
  WHERE DB_PRM1_CHAVE = 'PARAM'
UNION ALL
SELECT 'LUCFAIXA1DESCRICAO'                                   NOME_CONFIG,
       CONVERT ( VARCHAR, ISNULL(PAR.DB_PRM_LCPED_DESC1, 0))  VALOR_CONFIG,
       USU.USUARIO                                            USUARIO
  FROM DB_PARAMETRO PAR, DB_USUARIO USU
 WHERE DB_PRM_CHAVE = 'PARAM'
UNION ALL
SELECT 'LUCFAIXA2DESCRICAO'                                   NOME_CONFIG,
       CONVERT ( VARCHAR, ISNULL(PAR.DB_PRM_LCPED_DESC2, 0))  VALOR_CONFIG,
       USU.USUARIO                                            USUARIO
  FROM DB_PARAMETRO PAR, DB_USUARIO USU
 WHERE DB_PRM_CHAVE = 'PARAM'
UNION ALL
SELECT 'LUCFAIXA3DESCRICAO'                                   NOME_CONFIG,
       CONVERT ( VARCHAR, ISNULL(PAR.DB_PRM_LCPED_DESC3, 0))  VALOR_CONFIG,
       USU.USUARIO                                            USUARIO
  FROM DB_PARAMETRO PAR, DB_USUARIO USU
 WHERE DB_PRM_CHAVE = 'PARAM'
UNION ALL
SELECT 'LUCFAIXA4DESCRICAO'                                   NOME_CONFIG,
       CONVERT ( VARCHAR, ISNULL(PAR.DB_PRM_LCPED_DESC4, 0))  VALOR_CONFIG,
       USU.USUARIO                                            USUARIO
  FROM DB_PARAMETRO PAR, DB_USUARIO USU
 WHERE DB_PRM_CHAVE = 'PARAM'
UNION ALL
SELECT 'LUCFAIXA5DESCRICAO'                                   NOME_CONFIG,
       CONVERT ( VARCHAR, ISNULL(PAR.DB_PRM_LCPED_DESC5, 0))  VALOR_CONFIG,
       USU.USUARIO                                            USUARIO
  FROM DB_PARAMETRO PAR, DB_USUARIO USU
 WHERE DB_PRM_CHAVE = 'PARAM'
UNION ALL
SELECT 'LUCFAIXA1SITUACAO'                                   NOME_CONFIG,
       CONVERT ( VARCHAR, ISNULL(PAR.DB_PRM_LCPED_SIT1, 0))  VALOR_CONFIG,
       USU.USUARIO                                           USUARIO
  FROM DB_PARAMETRO PAR, DB_USUARIO USU
 WHERE DB_PRM_CHAVE = 'PARAM'
UNION ALL
SELECT 'LUCFAIXA2SITUACAO'                                   NOME_CONFIG,
       CONVERT ( VARCHAR, ISNULL(PAR.DB_PRM_LCPED_SIT2, 0))  VALOR_CONFIG,
       USU.USUARIO                                           USUARIO
  FROM DB_PARAMETRO PAR, DB_USUARIO USU
 WHERE DB_PRM_CHAVE = 'PARAM'
UNION ALL
SELECT 'LUCFAIXA3SITUACAO'                                   NOME_CONFIG,
       CONVERT ( VARCHAR, ISNULL(PAR.DB_PRM_LCPED_SIT3, 0))  VALOR_CONFIG,
       USU.USUARIO                                           USUARIO
  FROM DB_PARAMETRO PAR, DB_USUARIO USU
 WHERE DB_PRM_CHAVE = 'PARAM'
UNION ALL
SELECT 'LUCFAIXA4SITUACAO'                                   NOME_CONFIG,
       CONVERT ( VARCHAR, ISNULL(PAR.DB_PRM_LCPED_SIT4, 0))  VALOR_CONFIG,
       USU.USUARIO                                           USUARIO
  FROM DB_PARAMETRO PAR, DB_USUARIO USU
 WHERE DB_PRM_CHAVE = 'PARAM'
UNION ALL
SELECT 'LUCFAIXA5SITUACAO'                                   NOME_CONFIG,
       CONVERT ( VARCHAR, ISNULL(PAR.DB_PRM_LCPED_SIT5, 0))  VALOR_CONFIG,
       USU.USUARIO                                           USUARIO
  FROM DB_PARAMETRO PAR, DB_USUARIO USU
 WHERE DB_PRM_CHAVE = 'PARAM'
UNION ALL
SELECT 'EXIBEFAIXALUCRABLOQ'                     NOME_CONFIG,
        DB_PARAM_SISTEMA.DB_PRMS_VALOR           VALOR_CONFIG,
        USU.USUARIO                              USUARIO
   FROM DB_PARAM_SISTEMA, DB_USUARIO USU
  WHERE DB_PARAM_SISTEMA.DB_PRMS_ID = 'PED_EXIBEFAIXALUCRABLOQUEIO'
UNION ALL	
SELECT 'VARIAVELLUCRATIV'         NOME_CONFIG,
	   VARIAVEL_LUCRATIVIDADE     VALOR_CONFIG,
	   USU.USUARIO                USUARIO
  FROM DB_USUARIO USU, DB_LUC_CALC_MODELOS, DB_LUC_VIS_GRUPOS, DB_LUC_VISUALIZACAO
 WHERE DB_LUC_CALC_MODELOS.MODELO = DB_LUC_VISUALIZACAO.MODELO
   AND DB_LUC_VISUALIZACAO.ID = DB_LUC_VIS_GRUPOS.ID
   AND DB_LUC_VIS_GRUPOS.GRUPO_USUARIO = USU.GRUPO_USUARIO
   and DB_LUC_VISUALIZACAO.MODELO = (select top 1 modelo from DB_LUC_CALC_MODELOS where tipo = 1 )
   UNION ALL	
SELECT 'PRECOLIQMARGEMDESEJADA'   NOME_CONFIG,
	   PRECO_LIQUIDO              VALOR_CONFIG,
	   USU.USUARIO                USUARIO
  FROM DB_USUARIO USU, DB_LUC_CALC_MODELOS, DB_LUC_VIS_GRUPOS, DB_LUC_VISUALIZACAO
 WHERE DB_LUC_CALC_MODELOS.MODELO = DB_LUC_VISUALIZACAO.MODELO
   AND DB_LUC_VISUALIZACAO.ID = DB_LUC_VIS_GRUPOS.ID
   AND DB_LUC_VIS_GRUPOS.GRUPO_USUARIO = USU.GRUPO_USUARIO
   and DB_LUC_VISUALIZACAO.MODELO = (select top 1 modelo from DB_LUC_CALC_MODELOS where tipo = 1 )
