ALTER VIEW MVA_USUARIOS AS 
---------------------------------------------------------------------------------------------------
-- VERSAO	DATA		AUTOR	ALTERACAO
-- 1.0001	15/05/2013	BRUNO	CRIACAO
-- 1.0002   08/07/2015  TIAGO   VALIDA RESTRICAO DA TABELA DB_GRUPOMSG_RESTRICOES
---------------------------------------------------------------------------------------------------
 SELECT RET.USUARIO    USUARIO_USU, 
	      RET.NOME       NOME_USU, 
	      ISNULL((SELECT GCM_ID FROM DB_USUARIO_MOBILE WHERE DB_USUARIO_MOBILE.CODIGO = RET.CODIGO), '') GCMID_USU,
         USU.USUARIO    USUARIO
   FROM DB_USUARIO RET, DB_USUARIO USU
  WHERE (RET.CODIGO IN (SELECT DB_GRUPOMSG_RESTRICOES.USUARIO_PERMCONVERSA
                          FROM DB_GRUPOMSG_RESTRICOES
                         WHERE DB_GRUPOMSG_RESTRICOES.USUARIO = USU.CODIGO)
      OR (SELECT TOP 1 1
            FROM DB_GRUPOMSG_RESTRICOES
           WHERE DB_GRUPOMSG_RESTRICOES.USUARIO =  USU.CODIGO) IS NULL)
  UNION ALL
   SELECT USU.USUARIO    USUARIO_USU, 
           USU.NOME       NOME_USU, 
        ISNULL((SELECT GCM_ID FROM DB_USUARIO_MOBILE WHERE DB_USUARIO_MOBILE.CODIGO = USU.CODIGO), '') GCMID_USU,
         USU.USUARIO    USUARIO
   FROM DB_USUARIO USU
