ALTER VIEW  MVA_PRODUTOSQTDEPALET AS
SELECT p.PRODUTO				PRODUTO_PALET
     , p.EMPRESA				EMPRESA_PALET
	 , p.QUANTIDADE_NO_PALET	QUANTIDADENOPALET_PALET
	 , DB_PRODUTO_USUARIO.USUARIO
  FROM DB_PRODUTO_QTDEPALET p
     , DB_PRODUTO_USUARIO
	 , DB_USUARIO        USU     
     , DB_GRUPO_USU_EMP  GRUPO_EMP
 WHERE p.PRODUTO				= DB_PRODUTO_USUARIO.PRODUTO   
   AND USU.GRUPO_USUARIO	    = GRUPO_EMP.GRUPO_USUARIO
   AND p.EMPRESA				= GRUPO_EMP.EMPRESA
   AND USU.USUARIO				= DB_PRODUTO_USUARIO.USUARIO
   UNION ALL
SELECT p.PRODUTO				PRODUTO_PALET
     , p.EMPRESA				EMPRESA_PALET
	 , p.QUANTIDADE_NO_PALET	QUANTIDADENOPALET_PALET
	 , DB_PRODUTO_USUARIO.USUARIO
  FROM DB_PRODUTO_QTDEPALET p
     , DB_PRODUTO_USUARIO
	 , DB_USUARIO        USU
 WHERE p.PRODUTO	= DB_PRODUTO_USUARIO.PRODUTO   
   AND USU.USUARIO	= DB_PRODUTO_USUARIO.USUARIO
   AND NOT EXISTS (SELECT 1 FROM DB_GRUPO_USU_EMP GRUPO_EMP WHERE USU.GRUPO_USUARIO	    = GRUPO_EMP.GRUPO_USUARIO)
