ALTER VIEW MVA_ORCAMENTOLUCRA AS
 select 
		ORCAMENTO					orcamento_OCLUC,
		ITEM						item_OCLUC,
		LUCPIS						pis_OCLUC,
		LUCCOFINS					cofins_OCLUC,
		LUCOUTROS					outrosImpostos_OCLUC,
		LUCCORRETAGEM				corretagem_OCLUC,
		LUCPUBLICIDADE				publicidade_OCLUC,
		LUCOUTRASINCIDENCIAS		outrasIncidencias_OCLUC,
		LUCCPMF						cpmf_OCLUC,
		LUCVLRICMS					valorIcms_OCLUC,
		LUCFRETE					frete_OCLUC,
		LUCVLRCUSTOFRETE			valorCustoFrete_OCLUC,
		LUCCUSTOFINANCEIRO			custoFinanceiro_OCLUC,
		LUCCUSTOTRANSFERENCIA		custoTransferencia_OCLUC,
		LUCDEBITOSCLIENTE			debitosCliente_OCLUC,
		LUCCUSTOMATERIAPRIMA		custoMateriaPrima_OCLUC,
		LUCCUSTOMAODEOBRA			custoMaoObra_OCLUC,
		LUCCUSTOFIXOINDUSTRIAL		custoFixoIndustrial_OCLUC,
		LUCCUSTOCOMERCIAL			custoComercial_OCLUC,
		LUCCUSTOADMINISTRATIVO		custoAdministrativo_OCLUC,
		LUCDESCONTOTROCA			descontoTroca_OCLUC,
		LUCDESCONTOPROMOCIONAL		descontoPromocional_OCLUC,
		LUCDESCONTOFISCAL			descontoFiscal_OCLUC,
		LUCVLRDESCONTOFISCAL		valorDescontoFiscal_OCLUC,
		LUCADVALOREM				adValorem_OCLUC,
		LUCTAXAFRETE				taxaFrete_OCLUC,
		LUCFATOR					fator_OCLUC,
		LUCVALOR1					valor1_OCLUC,
		LUCVALOR2					valor2_OCLUC,
		LUCVALOR3					valor3_OCLUC,
		LUCVALOR4					valor4_OCLUC,
		LUCVALOR5					valor5_OCLUC,
		MVA_ORCAMENTOS.dataalter,
		MVA_ORCAMENTOS.usuario
   from DB_ORCAMENTO_LUCRA,
        MVA_ORCAMENTOS
  where ORCAMENTO = numero_ORC
