ALTER VIEW MVA_RESTRICAODATASPERIODOSPROD AS
  select SEQUENCIA			sequencia_RESTPER,
		 VALIDADE_INICIAL	validadeIni_RESTPER,
		 VALIDADE_FINAL		validadeFim_RESTPER,
		 EMPRESA_ITEM		empresa_RESTPER,
		 DIAS_FAT			diasFat_RESTPER
	from DB_RESTRICAO_PERIODOS_PROD
