ALTER VIEW MVA_PRODUTOSEMP  AS
select
DB_PRODE_PRODUTO		produto_PEMP,
DB_PRODE_EMPRESA		empresa_PEMP,
DB_PRODE_PRAZO		prazo_EMP,
DB_PRODE_ORDBUSCA	tipo_PEMP,
VPROD.USUARIO
FROM DB_PRODUTO_EMP,
DB_PRODUTO_USUARIO VPROD
WHERE VPROD.PRODUTO = DB_PRODE_PRODUTO
