ALTER VIEW MVA_CONTEUDOATRIBUTOSVINC AS
SELECT ATRIBUTO                 atributo_CATRIVINC,
       CODIGO_CONTEUDOATRIB     codigoAtrib_CATRIVINC,
       ATRIBUTO_VINCULADO       atribVinc_CATRIVINC,
       CODIGO_CONTEUDO_ATRIBVINC   codigoContAtrib_CATRIVINC
  FROM DB_CONTEUDO_ATRIBVINC
