ALTER VIEW MVA_CLIENTEDADOSFINANCEIROS AS
SELECT 	DB_CLIF_CODIGO    CLIENTE_CLIFIN,
DB_CLIF_OPCAO     OPCAO_CLIFIN,
DB_CLIF_TIPO      TIPO_CLIFIN,
DB_CLIF_DESCR     DESCRICAO_CLIFIN,
DB_CLIF_ANO       ANO_CLIFIN,
DB_CLIF_VALOR     VALOR_CLIFIN,
DB_CLIF_SITUACAO  SITUACAO_CLIFIN,
DB_CLIF_SEQ       SEQUENCIA_CLIFIN,
0                   MOBILE_CLIFIN ,
CLI.USUARIO
FROM	DB_CLIENTE_FINANC,
MVA_CLIENTE CLI
WHERE CLI.CODIGO_CLIEN = DB_CLIF_CODIGO
