ALTER VIEW MVA_CONSULTAS AS
SELECT C.CODIGO           CODIGO_CONSU,
C.NOME             NOME_CONSU,
C.DESCRICAO        DESCRICAO_CONSU,
C.COLUNA_RETORNO   COLUNARETORNO_CONSU,
C.RETORNO_MULTIPLO RETORNOMULTIPLO_CONSU,
C.RETORNO_IMEDIATO RETORNOIMEDIATO_CONSU,
C.LOCAL            LOCAL_CONSU,
C.TIPO_RETORNO     TIPORETORNO_CONSU,
C.ALERTA           ALERTA_CONSU,
PROCESSAMENTO      PROCESSAMENTO_CONSU,
CASE WHEN PROCESSAMENTO = 1
THEN QUERY ELSE '' END         QUERY_CONSU,
latitude            latitude_CONSU,
longitude           longitude_CONSU,
CODIGO_ATRIBUTO     codigoAtributo_CONSU,
PERMITE_EXPORTAR    permiteExportar_CONSU,
FORMA_APRESENTACAO  formaApresentacao_CONSU,
NUMERO_COLUNAS      numeroColunas_CONSU,
(select top 1 DB_CONS_CARD.CARD from DB_CONS_CARD where DB_CONS_CARD.CONSULTA =  c.CODIGO)                card_CONSU,
EXPANDIR_AGRUPA     expandirAgrupa_CONSU,
C.FORMATO_ORDENACAO formatoOrdenacao_CONSU,
MANTER_ORDENACAO    manterOrdenacao_CONSU,
ISNULL(C.FILTRO_COLUNAS, 0)	FiltroColunas_CONSU,
EXECUTA_FILTRO_PADRAO    ExecutaFiltroPadrao_CONSU,
USU.USUARIO
FROM DB_CONS_DINAMICAS C,
DB_USUARIO    USU,
DB_MOB_TRANSMI_CONS B
WHERE USU.CODIGO = B.USUARIO
AND C.CODIGO = B.CONSULTA
