-- 1.003    15/09/2015  tiago          alterado join entre as tabelas, colocando um like, pois agora o valor pode vir no formato 'DADOS_1', 'DADOS_2'
ALTER VIEW MVA_AREARELATORIO  AS
   SELECT AREA.MODELO        MODELO_AREAREL,
          AREA.AREA          AREA_AREAREL,
          AREA.COLUNAS       COLUNAS_AREAREL,
          AREA.ORDEM         ORDEM_AREAREL,
          AREA.LABEL         LABEL_AREAREL,
          AREA.COR_FUNDO     CORFUNDO_AREAREL,
          AREASIS.TIPO_AREA  TIPOAREA_AREAREL,
          AREASIS.EXIBE_OBRIGATORIO   EXIBEOBRIGATORIO_AREAREL,
          AREASIS.GRUPO_AREA GRUPOAREA_AREAREL,
		  area.AGRUPAMENTO    AGRUPAMENTO_AREAREL,
          USU.USUARIO AS USUARIO
     FROM DB_AREA_RELATORIO AREA, DB_SIS_AREA_REL AREASIS, DB_USUARIO USU
    WHERE AREA.MODELO IN (SELECT MODELO_MODREL
                           FROM MVA_MODELORELATORIO
                          WHERE USUARIO = USU.USUARIO
						    and AREASIS.TIPO_MODELO = tipomodelo_modrel)
	  and AREA.AREA like AREASIS.AREA + '%'
