ALTER VIEW MVA_CAPAVISTRADUCAO AS
SELECT
DB_VICTR_CATALOGO	 CATALOGO_CPVTRA,
DB_VICTR_SEQUENCIA	 SEQUENCIA_CPVTRA,
DB_VICTR_VISAO		 VISAO_CPVTRA,
DB_VICTR_VALOR	     VALORVISAO_CPVTRA,
DB_VICTR_CHAVE	     CHAVE_CPVTRA,
DB_VICTR_IDIOMA	     IDIOMA_CPVTRA,
replace(replace(replace(replace(DB_VICTR_TRADUCAO, '.png', '.PNGM'), '.jpg','.PNGM'), '\', '/'), '.mp4', '.MP4M')   TRADUCAO_CPVTRA,
C.USUARIO,
DB_VICTR_DATAALTER     DATAALTER
FROM DB_VISAO_CAPA_TRAD, MVA_CATALOGOS C
WHERE C.CODIGO_CAT = DB_VICTR_CATALOGO
