ALTER VIEW MVA_CONTACORRENTEREP AS
WITH paramWeb AS (SELECT DB_PRMS_VALOR valor FROM DB_PARAM_SISTEMA WHERE DB_PRMS_ID = 'PED_PERIODOSALDOCC')
SELECT DB_ECON_REPRES 	representante_SALCC,
DB_ECON_PRODUTO 	produto_SALCC,
SUM(DB_ECON_VALOR) saldoContaCorrente_SALCC,
PROD.USUARIO
FROM DB_ECONOMIA 		ECON,
MVA_PRODUTOS 	    PROD
WHERE DB_ECON_DATA BETWEEN DATEFROMPARTS(YEAR(GETDATE()),MONTH(GETDATE()),1) AND DATEADD(MM,DATEDIFF(MM,-1,GETDATE()),-1)
AND (SELECT valor FROM paramWeb) = 0
AND DB_ECON_REPRES IN (SELECT CODIGO_REPRES FROM MVA_REPRESENTANTES WHERE MVA_REPRESENTANTES.USUARIO = PROD.USUARIO)
AND DB_ECON_PRODUTO = PROD.CODIGO_PRODU
GROUP BY DB_ECON_REPRES, DB_ECON_PRODUTO, PROD.USUARIO
UNION ALL
SELECT DB_ECON_REPRES 	representante_SALCC,
DB_ECON_PRODUTO 	produto_SALCC,
SUM(DB_ECON_VALOR) saldoContaCorrente_SALCC,
PROD.USUARIO
FROM DB_ECONOMIA 		ECON,
MVA_PRODUTOS 	    PROD
WHERE DB_ECON_DATA BETWEEN GETDATE() - 60 AND GETDATE()
AND (SELECT valor FROM paramWeb) = 1
AND DB_ECON_REPRES IN (SELECT CODIGO_REPRES FROM MVA_REPRESENTANTES WHERE MVA_REPRESENTANTES.USUARIO = PROD.USUARIO)
AND DB_ECON_PRODUTO = PROD.CODIGO_PRODU
GROUP BY DB_ECON_REPRES, DB_ECON_PRODUTO, PROD.USUARIO
UNION ALL
SELECT DB_ECON_REPRES 	representante_SALCC,
DB_ECON_PRODUTO 	produto_SALCC,
SUM(DB_ECON_VALOR) saldoContaCorrente_SALCC,
PROD.USUARIO
FROM DB_ECONOMIA 		ECON,
MVA_PRODUTOS 	    PROD
WHERE DB_ECON_DATA BETWEEN GETDATE() - 90 AND GETDATE()
AND (SELECT valor FROM paramWeb) = 2
AND DB_ECON_REPRES IN (SELECT CODIGO_REPRES FROM MVA_REPRESENTANTES WHERE MVA_REPRESENTANTES.USUARIO = PROD.USUARIO)
AND DB_ECON_PRODUTO = PROD.CODIGO_PRODU
GROUP BY DB_ECON_REPRES, DB_ECON_PRODUTO, PROD.USUARIO
