ALTER VIEW MVA_CONCEITOSLUCRAFAIXASATRIB AS
SELECT CODIGO_CONCEITO		conceitoLucratividade_CLFATRIB,
SEQUENCIA_CONCEITO	sequenciaConceito_CLFATRIB,
SEQUENCIA			sequencia_CLFATRIB,
CODIGO_ATRIB		codigoAtributo_CLFATRIB,
VALOR_ATRIB			valorAtributo_CLFATRIB
FROM DB_CONC_LUCRAT_FX_ATRIB,
MVA_CONCEITOSLUCRATIVIDADE COM
WHERE COM.CODIGO_CONLUC = CODIGO_CONCEITO
