ALTER VIEW MVA_AREASABASCLIENTE  AS
---------------------------------------------------------------------------------------------------
-- VERSAO	DATA		AUTOR			ALTERACAO
-- 1.0001	15/07/2013	TIAGO PRADELLA	CRIACAO
---------------------------------------------------------------------------------------------------
SELECT ABA.GRUPO_USUARIO	GRUPOUSUARIO_AREACLI,
	   ABA.ABA				ABA_AREACLI,
	   ABA.AREA				AREA_AREACLI,
	   ABA.COLUNAS			COLUNAS_AREACLI,
	   ABA.ORDEM            ORDEM_AREACLI,
	   USU.USUARIO
  FROM DB_MOB_AREAS_ABAS_CLIENTE ABA, DB_USUARIO USU, DB_GRUPO_USUARIOS GRUPO
 WHERE USU.GRUPO_USUARIO = GRUPO.CODIGO
   AND ABA.GRUPO_USUARIO = USU.GRUPO_USUARIO
   AND ABA.ABA IN (SELECT ABA 
                     FROM MVA_ABASCLIENTE ABA2
					WHERE USU.USUARIO = ABA2.USUARIO)
