ALTER VIEW MVA_PERIODOCOMUNICACAODIAS AS
SELECT PERCD.CODIGO			   CODIGO_PERCD,
PERCD.DIA_SEMANA	   	   DIASEMANA_PERCD,
PERCD.SEQUENCIA		   SEQUENCIA_PERCD,
PERCD.HORA_INICIAL	   HORAINICIAL_PERCD,
PERCD.HORA_FINAL	   	   HORAFINAL_PERCD,
PERC.USUARIO
FROM DB_PERIODO_COMUNICACAO_DIAS 	   PERCD,
MVA_PERIODOCOMUNICACAO 	       PERC
