---------------------------------------------------------------------------------------------------
-- VERSAO	DATA		AUTOR			ALTERACAO
-- 1.0000	16/12/2013	TIAGO PRADELLA	CRIACAO
-- 1.0001   13/10/2014  TIAGO           INCLUIDO CAMPO COLUNAORIGEMSUBVISAO_VISA
-- 1.0002   24/02/2015  TIAGO           INCLUIDO CAMPO DATAALTER
---------------------------------------------------------------------------------------------------
ALTER VIEW MVA_CATALOGOSVISOES AS
SELECT DB_CATVIS_CATALOGO	   CATALOGO_VISA,
	   DB_CATVIS_NOME	       NOME_VISA,
	   DB_CATVIS_COLORIGEM	   COLUNAORIGEM_VISA,
	   DB_CATVIS_TIPO	       TIPO_VISA,
	   DB_CATVIS_ORDEM	       ORDEM_VISA,
	   DB_CATVIS_DESCRICAO     DESCRICAO_VISA,
	   DB_CATVIS_COLORIGSUBVIS COLUNAORIGEMSUBVISAO_VISA,
	   C.USUARIO,
	   C.DATAALTER
  FROM DB_CATALOGO_VISAO, MVA_CATALOGOS C
 WHERE C.CODIGO_CAT = DB_CATVIS_CATALOGO
