ALTER VIEW MVA_ALIQUOTASOPERACOESVENDA AS
SELECT DB_TBOPSI_COD      OPERACAOVENDA_AOPER ,
DB_TBOPSI_UF_ORIG  UFORIGEM_AOPER  ,
DB_TBOPSI_UF       UFDESTINO_AOPER   ,
DB_TBOPSI_ICMS     ALIQUOTA_AOPER   ,
DB_TBOPSI_BASERED  BASE_AOPER,
DB_TBOPSI_BONIF    BONIFICACAO_AOPER,
DB_TBOPSI_CFOP     CFOP_AOPER,
DB_TBOPSI_ICMSDSCTO  ICMSDescontado_AOPER,
oper.USUARIO USUARIO
FROM DB_TB_OPERS_UF,
MVA_OPERACOESVENDA OPER
WHERE DB_TBOPSI_COD = OPER.CODIGO_OPERV
AND DB_TBOPSI_UF IN (SELECT (VALOR_STRING)
FROM DB_FILTRO_GRUPOUSU  FILTRO
, db_usuario   usu2
WHERE FILTRO.CODIGO_GRUPO = USU2.GRUPO_USUARIO
AND FILTRO.ID_FILTRO = 'UF'
AND OPER.USUARIO = USU2.USUARIO)
union all
SELECT DB_TBOPSI_COD      OPERACAOVENDA_AOPER ,
DB_TBOPSI_UF_ORIG  UFORIGEM_AOPER  ,
DB_TBOPSI_UF       UFDESTINO_AOPER   ,
DB_TBOPSI_ICMS     ALIQUOTA_AOPER   ,
DB_TBOPSI_BASERED  BASE_AOPER,
DB_TBOPSI_BONIF    BONIFICACAO_AOPER,
DB_TBOPSI_CFOP     CFOP_AOPER,
DB_TBOPSI_ICMSDSCTO  ICMSDescontado_AOPER,
oper.USUARIO USUARIO
FROM DB_TB_OPERS_UF ,
MVA_OPERACOESVENDA OPER
WHERE DB_TBOPSI_COD = OPER.CODIGO_OPERV
AND not exists (SELECT UPPER(VALOR_STRING)
FROM DB_FILTRO_GRUPOUSU  FILTRO
, db_usuario   usu2
WHERE FILTRO.CODIGO_GRUPO = USU2.GRUPO_USUARIO
AND FILTRO.ID_FILTRO = 'UF'
AND OPER.USUARIO = USU2.USUARIO)
