ALTER VIEW MVA_RESTRICOES_VENDA  AS
WITH politica as ( select distinct CODIGOPOLITICA_POLIT from MVA_POLITICAS )
select DB_RESR_CODIGO		codigo_RESVDA,
DB_RESR_SEQ			sequencia_RESVDA,
DB_RESR_SEQPAI      regra_RESVDA,
DB_RESR_TAGFILTRO   tagFiltro_RESVDA,
DB_RESR_VARIAVEL    variavel_RESVDA
from DB_RESTR_REGRAS, politica   pol
where cast(DB_RESR_CODIGO as varchar) = pol.CODIGOPOLITICA_POLIT
and isnull(DB_RESR_VARIAVEL, '') <> ''
