ALTER VIEW MVA_SHOPPINGRESPOSTAS AS
SELECT DB_SHOP_PESQUISA    SHOPPINGPESQUISA_SHRES,
DB_SHOP_CLIENTE     CLIENTE_SHRES,
DB_SHOP_DATA  DATA_SHRES,
DB_SHOP_CONCOR      CONCORRENTE_SHRES,
DB_SHOP_PRECO       PRECO_SHRES,
DB_SHOP_FRENTES     FRENTES_SHRES,
DB_SHOP_POSICAO     POSICAO_SHRES,
DB_SHOP_PROMOTOR    PROMOTOR_SHRES,
DB_SHOP_OBSERV      OBSERVACAO_SHRES,
DB_SHOP_OCORRENCIA  OCORRENCIA_SHRES,
DB_SHOP_ESTOQUE     ESTOQUE_SHRES,
USU.USUARIO
FROM DB_SHOPPING,
DB_USUARIO   USU
