ALTER VIEW MVA_POLITICASBONIPRINCIPAL AS
SELECT PRINCIPAL.POLITICA        POLITICA_POLBONI,
DESCRICAO                 DESCRICAO_POLBONI,
PRINCIPAL.DATA_INICIAL    DATAINICIAL_POLBONI,
PRINCIPAL.DATA_FINAL      DATAFINAL_POLBONI,
CONTROLE.PESO             PESO_POLBONI,
MOTIVO_BONIFICACAO        motivoBonificacao_POLBONI,
PRINCIPAL.DATAALTER
FROM DB_POLBONI_PRINCIPAL PRINCIPAL,
DB_POLITICA_CONTROLE   CONTROLE
WHERE PRINCIPAL.CONTROLE = CONTROLE.CONTROLE
AND PRINCIPAL.DATA_FINAL >= GETDATE()
