ALTER VIEW  MVA_PEDIDO_ATRIB_CP AS
SELECT ATRIB_CP.PEDIDO     pedido_PEDCP,
	   ATRIB_CP.SEQ_ITEM   seqItem_PEDCP,
	   ATRIB_CP.ATRIBUTO   atributo_PEDCP,
	   ATRIB_CP.ORDEM      ordem_PEDCP,
	   ATRIB_CP.VALOR      valor_PEDCP,
	   PED_ITEM.dataalter  dataalter,
	   PED_ITEM.usuario    usuario
  FROM DB_PEDIDO_ATRIB_CP  ATRIB_CP,
	   MVA_PEDIDO_ITENS    PED_ITEM
 WHERE ATRIB_CP.PEDIDO = PED_ITEM.pedido_PEDIT
   AND ATRIB_CP.SEQ_ITEM = PED_ITEM.sequencia_PEDIT
