ALTER VIEW MVA_INSTITUCIONALCATTRADUCAO AS
SELECT
DB_INSTT_CODIGO	      CODIGO_INSTR,
DB_INSTT_SEQUENCIA	  SEQUENCIA_INSTR,
DB_INSTT_CHAVE	      CHAVE_INSTR,
DB_INSTT_IDIOMA	      IDIOMA_INSTR,
replace(replace(replace(replace(DB_INSTT_TRADUCAO, '.png', '.PNGM'), '.jpg','.PNGM'), '\', '/'), '.mp4', '.MP4M') TRADUCAO_INSTR,
I.USUARIO,
I.DATAALTER
FROM DB_INST_TRADUCAO, MVA_INSTITUCIONALCATALOGO I
WHERE I.CODIGO_INST = DB_INSTT_CODIGO
AND I.SEQUENCIA_INST = DB_INSTT_SEQUENCIA
