ALTER VIEW MVA_CATALOGOSPRODRELAC AS
SELECT DB_CATR_CATALOGO	  CATALOGO_CPREL,
DB_CATR_COLUNA	  COLUNA_CPREL,
DB_CATR_ORDEM	  ORDEM_CPREL,
C.USUARIO,
C.DATAALTER
FROM DB_CATALOGO_RELAC, MVA_CATALOGOS C
WHERE C.CODIGO_CAT = DB_CATR_CATALOGO
