ALTER VIEW MVA_LISTAPRECOPRODUTOS_V4 AS
SELECT DB_PRECOP_CODIGO   LISTAPRECO_LIPRP,
DB_PRECOP_PRODUTO  PRODUTO_LIPRP,
DB_PRECOP_VALOR    PRECO_LIPRP,
cast(DB_PRECOP_SEQ as varchar)      SEQUENCIA_LIPRP,
DB_PRECOP_DTVALI   DATAINICIAL_LIPRP,
DB_PRECOP_DTVALF   DATAFINAL_LIPRP,
CASE  WHEN isnull(DB_PRECOP_DTALTER, 0) > isnull(DB_PRECOP_ALT_CORP, 0) THEN DB_PRECOP_DTALTER ELSE DB_PRECOP_ALT_CORP END DATAALTER,
DB_PRECOP_DESCTO   DESCONTO_LIPRP,
DB_PRECOP_ESTADO   UF_LIPRP,
DB_PRECOP_EMPFAT   EMPRESAFATURAMENTO_LIPRP,
DB_PRECOP_VLRMIN   PRECOMINIMO_LIPRP,
isnull(DB_PRECOP_INFCOMIS, 0)	informaComissao_LIPRP,
DB_PRECOP_PERCCOMIS			percentualComissao_LIPRP,
isnull(DB_PRECOP_DESCMAX, 0) descontoMaximo_LIPRP,
DB_PRECOP_EMPRESAS EMPRESA,
PRODUSU.USUARIO
FROM DB_PRECO_PROD PRECO,
DB_PRODUTO_USUARIO PRODUSU,
MVA_LISTAPRECO
WHERE DB_PRECOP_DTVALF >= cast(getdate() as date)
AND DB_PRECOP_SITUACAO in('A', 'a')
AND MVA_LISTAPRECO.CODIGO_LIPRE = DB_PRECOP_CODIGO
AND MVA_LISTAPRECO.usuario      = PRODUSU.usuario
AND DB_PRECOP_PRODUTO           = PRODUSU.produto
