-- 1.003    15/09/2015  tiago          alterado join entre as tabelas, colocando um like, pois agora o valor pode vir no formato 'DADOS_1', 'DADOS_2'
ALTER VIEW MVA_CAMPORELATORIODETALHE  AS
   SELECT distinct CAMPO.AREA AS AREA_CAMPORELDET,
          CAMPODET.CAMPO AS CAMPO_CAMPORELDET,
          CAMPODET.CAMPO_DADO AS CAMPODADO_CAMPORELDET,
          CAMPODET.ORDEM AS ORDEM_CAMPORELDET,
          CAMPODET.TIPO_DADO AS TIPODADO_CAMPORELDET,
          CAMPODET.MASCARA AS MASCARA_CAMPORELDET,
          CAMPODET.ARREDONDA AS ARREDONDA_CAMPORELDET,
          CAMPODET.CASAS_ARREDONDAR AS CASASARREDONDAR_CAMPORELDET,
          CAMPODET.SEPARADOR AS SEPARADOR_CAMPORELDET,
          USU.USUARIO AS USUARIO
     FROM DB_CAMPO_RELATORIO CAMPO,
          DB_SIS_DETALHE_CAMPOS_REL CAMPODET,
          DB_USUARIO USU
    WHERE     CAMPO.MODELO IN (SELECT MODELO_MODREL
                                 FROM MVA_MODELORELATORIO
                                WHERE USUARIO = USU.USUARIO
								 and CAMPODET.TIPO_MODELO = tipomodelo_modrel
								 and CAMPODET.TIPO_MODELO in(1,2,3))
	  AND CAMPO.AREA like CAMPODET.AREA + '%'
	  AND CAMPODET.CAMPO = CAMPO.CAMPO
