---------------------------------------------------------------------------------------------------
-- VERSAO	DATA		AUTOR			ALTERACAO
-- 1.0001	27/05/2016	TIAGO PRADELLA	CRIACAO
---------------------------------------------------------------------------------------------------
ALTER VIEW MVA_PESQUISASPERGUNTASVALOR AS
SELECT CODIGO_PESQUISA		CODIGOPESQUISA_PESPERVAL,
	   CODIGO_PERGUNTA		CODIGOPERGUNTA_PESPERVAL,
	   RESPOSTA				RESPOSTA_PESPERVAL,
	   CONDICAO				CONDICAO_PESPERVAL,
	   SEQUENCIA			SEQUENCIA_PESPERVAL,
	   VALOR				VALOR_PESPERVAL,
	   USU.USUARIO
  FROM DB_PESQ_PESQUISA_VALORES_RESP PV, DB_USUARIO USU
 WHERE EXISTS (SELECT 1
                 FROM MVA_PESQUISASPERGUNTAS
				WHERE CODIGOPESQUISA_PESPERG = PV.CODIGO_PESQUISA
				  AND CODIGOPERGUNTA_PESPERG = PV.CODIGO_PERGUNTA
				  AND USU.USUARIO = MVA_PESQUISASPERGUNTAS.USUARIO)
