ALTER VIEW MVA_ORCAMENTOMOTBLOQ AS
select
DB_ORCM_ORCAMENTO	ORCAMENTO,
DB_ORCM_IDBLOQ		IDBLOQUEIO,
DB_ORCM_OPERCLI		OPERACAOCLIENTE,
DB_ORCM_VLRMAXBON	VALORMAXIMOBONIFICACAO,
DB_ORCM_PRZMEDCLI	PRAZOMAXPAGAMENTO,
DB_ORCM_PRZMEDPRM	PRAZOMEDIOCLIENTE,
DB_ORCM_VDUPLMIN	VALORMINDUPLICATA,
DB_ORCM_FATMINPRM	VALORMINPEDIDO,
DB_ORCM_FATMINLP	VALORMINLISTAPRECO,
DB_ORCM_SITCLI		SITUACAOCLIENTE,
DB_ORCM_RESTRCLI	RESTRICAOCLIENTE,
DB_ORCM_SALDDISP	SALDODISPONIVEL,
DB_ORCM_DTLIMCRED	DATALIMITEDECREDITO,
DB_ORCM_VDUPLATR	VALORTITULOATRASO,
DB_ORCM_JUROSATR	VALORJUROATRASO,
DB_ORCM_DTULTCOMP	DATAULTIMACOMPRA,
DB_ORCM_ATRMED		ATRASOMEDIO,
DB_ORCM_FATMINCV	VALORMINFATURAMENTOCV,
DB_ORCM_TRANSPCF	TRANSPORTADORCF,
DB_ORCM_TPFRETCF	TIPOFRETECF,
DB_ORCM_TXFRETCF    TAXAFRETECF,
DB_ORCM_DTULTFATUR	DATAULTIMOFATURAMENTO,
DB_ORCM_EMPPADRAO	EMPRESAPADRAO,
DB_ORCM_PRZMEDCV	PRAZOMEDIOCONDICAOVENDA,
DB_ORCM_PERCL_MIN	FAIXAINICIALLUCRA,
DB_ORCM_PERCL_MAX	FAIXAFINALLUCRA,
MVA_ORCAMENTOS.dataalter,
MVA_ORCAMENTOS.usuario
from DB_ORCAM_MOTBLOQ,
MVA_ORCAMENTOS
where DB_ORCM_ORCAMENTO = numero_ORC
