
---------------------------------------------------------------------------------------------------
-- VERSAO	DATA		AUTOR			ALTERACAO
-- 1.0001	15/10/2012	TIAGO PRADELLA	CRIACAO
-- 1.0002   08/11/2012  TIAGO PRADELLA  INCLUIDO DATA ATERACAO
-- 1.0003   04/12/2012  TIAGO PRADELLA  INCLUIDO CAMPO ACEITA FRACAO|
-- 1.0004   11/12/2012  TIAGO PRADELLA  INCLUIDO CAMPO SEGUENCIA VISUALIZACAO, COD BARRA,
-- 1.0005   22/01/2013  TIAGO PRADELLA  INCLUIDO CAMPOS PARA O SERVER
-- 1.0006   05/03/2013  TIAGO           CONCATENADO EMPRESA COM EMPRESA1
-- 1.0007   22/03/2013  TIAGO           INCLUSAO CAMPO AGRUPAMENTO
-- 1.0008   25/06/2013  TIAGO           INCLUIDO CAMPO DE GRADE
-- 1.0009   11/07/2013  TIAGO           INCLUIDO CAMPOS DB_PROD_TOL_SUG, DB_PROD_TOL_QTDE
-- 1.0010   16/08/2103  TIAGO           RETIRADO CASE DA DATA, UTILIZA O CAMPO DB_PROD_ULT_ALTER
-- 1.0011   07/11/2013  ALENCAR         RETIRADO DISTINCT NA SUBQUERY MVA_LISTAPRECOPRODUTOS (DISTINCT PRODUTO_LIPRP FROM MVA_LISTAPRECOPRODUTOS)
-- 1.0011   11/11/2013  TIAGO           INCLUIDO CAMPO LINHA PRODUTO
-- 1.0012   27/11/2013  TIAGO           INCLUIDO CAMPO QUANTIDADE EMBALAGEM COMPLEMENTAR
-- 1.0012   13/12/2013  TIAGO           INCLUIDO CAMPO DE COR
-- 1.0013   07/02/2014  TIAGO           INCLUIDO CAMPO DE DIMENSAO
-- 1.0014   24/06/2014  TIAGO           INCLUIDO CAMPOS AGRUPAMENTOEMBALAGEM_PRODU E ACEITAQTDEFORAEMBAL_PRODU
-- 1.0015   11/12/2014  tiago           incluido novos campos DB_PROD_NTRIBPISC, DB_PROD_CUSTO_FIXO, DB_PROD_CUSTO_MO, DB_PROD_CUSTO	
-- 1.0016   28/01/2014  tiago           incluido novos campo tarefa 13173
-- 1.0017   29/05/2015  tiago           incluido campo situacao
-- 1.0018   08/06/2015  tiago           valida parametro MOB_SITUACAOPRODUTO, para a situacao do produto
-- 1.0019   24/09/2015  tiago           incluido filtro de representante
-- 1.0020   26/10/2015  tiago           incluido campo lancamento
---------------------------------------------------------------------------------------------------

ALTER VIEW MVA_PRODUTOS_V3 AS


with
     sitprod as (  select substring(db_prms_valor,1,1)  valor from DB_PARAM_SISTEMA where db_prms_id = 'MOB_SITUACAOPRODUTO'
                union all select substring(db_prms_valor,3,1)  valor from DB_PARAM_SISTEMA where db_prms_id = 'MOB_SITUACAOPRODUTO'
                union all select substring(db_prms_valor,5,1)  valor from DB_PARAM_SISTEMA where db_prms_id = 'MOB_SITUACAOPRODUTO')

,
USU_SESSION  AS (select top 1 usuario
						from DB_USUARIO_SESSIONID
					   where session_id in (select session_id from sys.dm_exec_sessions where session_id = @@SPID))
,

listaprecoproduto as ( SELECT DISTINCT(PRODUTO_LIPRP) PRODUTO
                             FROM MVA_LISTAPRECOPRODUTOS_V3 where usuario = (select usuario from USU_SESSION))


SELECT DB_PROD_CODIGO		    CODIGO_PRODU,
       DB_PROD_DESCRICAO	    DESCRICAO_PRODU,
       DB_PROD_UNID_MEDID	    UNIDADEMEDIDA_PRODU,
       DB_PROD_QTDE_EMB		    QUANTIDADEEMBALAGEM_PRODU,
       DB_PROD_IPI_INF		    TIPOIPI_PRODU,
       DB_PROD_IPI			    IPI_PRODU,
       DB_PROD_PESO_BRU		    PESOBRUTO_PRODU,
       DB_PROD_PESO_LIQ		    PESOLIQUIDO_PRODU,
       DB_PROD_VOLUME		    VOLUME_PRODU,
       DB_PROD_TPPROD		    TIPO_PRODU,
       DB_PROD_MARCA		    MARCA_PRODU,
       DB_PROD_FAMILIA		    FAMILIA_PRODU,
       DB_PROD_GRUPO		    GRUPO_PRODU,
       DB_PROD_CONDPGTO		    CONDICAO_PRODU,
	   DB_PROD_CASASDEC         CASASDECIMAIS_PRODU,
	   DB_PROD_CLASFIS          CLASSIFICACAOFISCAL_PRODU,
       DB_PROD_GRPITCONT        GRUPOITENSCONTROLADOS_PRODU,
       DB_PROD_CLASSIF          CLASSIFICACAOCOMERCIAL_PRODU,
       DB_PROD_FCEST            FATORCONVERSAO1_PRODU,
       DB_PROD_FCEST1           FATORCONVERSAO2_PRODU,
       DB_PROD_FCEST2           FATORCONVERSAO3_PRODU,
       DB_PROD_FCEST3           FATORCONVERSAO4_PRODU,
       DB_PROD_FCEST4           FATORCONVERSAO5_PRODU,
       DB_PROD_TPVENDA          TIPOVENDA_PRODU,
	   DB_PROD_SUG_VENDA        SUGESTAOVENDA_PRODU,
	   DB_PROD_ACAOBXGIRO       ACAOBAIXOGIRO_PRODU,
	   DB_PROD_BAIXOGIRO        BAIXOGIRO_PRODU,
	   DB_PROD_ULT_ALTER        DATAALTER,
	   ISNULL(DB_PROD_PERMFRACAO, 0)   ACEITAFRACAO_PRODU,
	   DB_PROD_SEQORD           SEQUENCIAVISUALIZACAO_PRODU,
	   DB_PROD_COD_BARRA        EAN_PRODU,
	   DB_PROD_TGRADE           GRADE_PRODU,
	   ISNULL(DBO.MERCF_RETORNA_LISTA ('', 'PRODUTO', ',', DB_PROD_CODIGO), '')   LISTAEAN_PRODU,
	   ------------------------------
	   DB_PROD_CONDPGTO         CONDICAOPAGAMENTO,
       DB_PROD_RAMATIV          RAMOATIVIDADE,
       DB_PROD_LSTTPPED         TIPOPEDIDO,
       ISNULL(DB_PROD_EMPRESAS, '') + ISNULL(DB_PROD_EMPRESAS1,'')        EMPRESA,
	   DB_PROD_AGRUPA           AGRUPAMENTO_PRODU,
	   DB_PROD_COMPL            DESCRICAOCOMPLEMENTO_PRODU,
       DB_PROD_REFER            REFERENCIA_PRODU,
	   DB_PROD_TOL_SUG          PERCTOLERANCIASUG_PRODU,
       DB_PROD_TOL_QTDE         QTDETOLERANCIASUG_PRODU,
	   DB_PROD_LINPROD          LINHA_PRODU,
	   DB_PROD_QTDEMBCOMP       QTDEEMBCOMPLEMENTAR_PRODU,
	   DB_PROD_COR              COR_PRODU,
	   DB_PROD_DIMENSOES        DIMENSOES_PRODU, 
	   DB_PROD_AGRUPAEMBAL      AGRUPAMENTOEMBALAGEM_PRODU,
       DB_PROD_AQTDFEMB         ACEITAQTDEFORAEMBAL_PRODU,
	   DB_PROD_NTRIBPISC        NAOTRIBUTAPISCOFINS_PRODU,
	   DB_PROD_CUSTO_FIXO		CUSTOFIXO_PRODU,
	   DB_PROD_CUSTO_MO		    CUSTOMAOOBRA_PRODU,
	   DB_PROD_CUSTO            CUSTOMATERIAPRIMA_PRODU,
	   DB_PROD_LSTOPER          OPERACAOVENDA,
	   DB_PROD_GRPPRVEST        GRUPOESTOQUE_PRODU,
	   DB_PROD_CONFIG           CONFIGURACAO_PRODU,
	   DB_PROD_SITUACAO            SITUACAO_PRODU,
	   DB_PROD_LANCAMENTO       lancamento_PRODU,
	   DB_PROD_QTDE_MIN         quantidadeMinima_PRODU,
	   DB_PROD_ESTADOS			ESTADOS,
	   DB_PROD_EXCESTADOS		EXCETOESTADOS,
	   DB_PROD_PRVENTFOR        tipoCalculoFrete_PRODU,
	   DB_PROD_ESPESSURA        espessura_PRODU,
	   DB_PROD_CESTOQUE			controlaEstoque_PRODU,
	   DB_PROD_MODELO			modelo_PRODU,
	   DB_PROD_QTDE_MIN			qtdeMinima_PRODU, 
	   DB_PROD_GRPPRVEST        grpprvest_PRODU,
	   DB_PROD_EMPRESAS			empresas_PRODU,
       usu.USUARIO
  FROM DB_PRODUTO, DB_USUARIO USU, sitprod, listaprecoproduto, USU_SESSION
 WHERE DB_PROD_SITUACAO = sitprod.valor
   and DB_PROD_CODIGO = listaprecoproduto.PRODUTO
   and USU_SESSION.usuario = usu.usuario

  and (case when isnull(DB_PRODUTO.DB_PROD_REPRES, '')  <> ''
      then         
        case when 1 in (select 1 from mva_representantes r where r.usuario = usu.usuario and dbo.MERCF_VALIDA_LISTA (r.CODIGO_REPRES, replace(DB_PROD_REPRES, ';', ','), isnull(DB_PROD_EXCREPRES,0), ',') = 1)
           then 1
           else 0 end                
      else 1 end )
       = 1
