ALTER VIEW MVA_CONSULTAOCOPEDIDO AS
SELECT	CODIGO				codigo_OCOPED,
NOME				nome_OCOPED,
TIPO				tipo_OCOPED,
TIPO_AGRUPAMENTO	tipoAgrupamento_OCOPED,
CONSULTA			consulta_OCOPED,
COLUNA_OCORRENCIA	colunaOcorrencia_OCOPED,
COLUNA_CONSULTA		colunaConsulta_OCOPED
FROM DB_CONS_OCO_PEDIDO
