---------------------------------------------------------------------------------------------------
-- VERSAO	DATA		AUTOR			ALTERACAO
-- 1.0001	27/05/2016	TIAGO PRADELLA	CRIACAO
---------------------------------------------------------------------------------------------------
ALTER VIEW MVA_PESQUISASAPLICADAS AS
SELECT DISTINCT P.CODIGO             CODIGO_PESAPLI,
       P.CODIGO_PESQUISA    CODIGOPESQUISA_PESAPLI,
	   P.MINIMO_FOTOS       MINIMOFOTOS_PESAPLI,
	   P.MAXIMO_FOTOS       MAXIMOFOTOS_PESAPLI,
	   P.FOTOS_PERGUNTAS    FOTOSPERGUNTAS_PESAPLI,
	   TIPO_PESQUISA        TIPO_PESAPLI,
	   O.DATA_INICIAL       DATAINICIAL_PESAPLI,
	   O.DATA_FINAL         DATAFINAL_PESAPLI,
	   APRESENTACAO         apresentacao_PESAPLI,
	   isnull(APRESENTACAO_DESCRICAO, 0) apresentacaoDescricao_PESAPLI,
	   DESCRICAO			descricao_PESAPLI,
	   isnull(OBRIGATORIO_CHECKOUT, 0) obrigaCheckout_PESAPLI,
	   P.PERM_RESPOSTA      permiteRespostas_PESAPLI,
	   P.FOTO_ANTES_DEPOIS	exigeFotoAntesDepois_PESAPLI,
	   (select top 1 VALOR from DB_PESQ_APLICADAS_CLIENTES where DB_PESQ_APLICADAS_CLIENTES.CODIGO = P.CODIGO and DB_PESQ_APLICADAS_CLIENTES.ID = 'RAMO') as RAMO,
	   (select top 1 VALOR from DB_PESQ_APLICADAS_CLIENTES where DB_PESQ_APLICADAS_CLIENTES.CODIGO = P.CODIGO and DB_PESQ_APLICADAS_CLIENTES.ID = 'RAMOII') as RAMOII,
	   (select top 1 VALOR from DB_PESQ_APLICADAS_CLIENTES where DB_PESQ_APLICADAS_CLIENTES.CODIGO = P.CODIGO and DB_PESQ_APLICADAS_CLIENTES.ID = 'AREAATU') as AREAATU,
	   (select top 1 VALOR from DB_PESQ_APLICADAS_CLIENTES where DB_PESQ_APLICADAS_CLIENTES.CODIGO = P.CODIGO and DB_PESQ_APLICADAS_CLIENTES.ID = 'CLASCOMCLI') as CLASCOMCLI,
	   (select top 1 VALOR from DB_PESQ_APLICADAS_CLIENTES where DB_PESQ_APLICADAS_CLIENTES.CODIGO = P.CODIGO and DB_PESQ_APLICADAS_CLIENTES.ID = 'REGIAOCOM') as REGIAOCOM,
	   (select top 1 VALOR from DB_PESQ_APLICADAS_CLIENTES where DB_PESQ_APLICADAS_CLIENTES.CODIGO = P.CODIGO and DB_PESQ_APLICADAS_CLIENTES.ID = 'ESTADO') as ESTADO,
	   (select top 1 VALOR from DB_PESQ_APLICADAS_CLIENTES where DB_PESQ_APLICADAS_CLIENTES.CODIGO = P.CODIGO and DB_PESQ_APLICADAS_CLIENTES.ID = 'CIDADE') as CIDADE,
	   (select top 1 VALOR from DB_PESQ_APLICADAS_CLIENTES where DB_PESQ_APLICADAS_CLIENTES.CODIGO = P.CODIGO and DB_PESQ_APLICADAS_CLIENTES.ID = 'CLIENTE') as CLIENTE,
	   (select top 1 VALOR from DB_PESQ_APLICADAS_CLIENTES where DB_PESQ_APLICADAS_CLIENTES.CODIGO = P.CODIGO and DB_PESQ_APLICADAS_CLIENTES.ID = 'CNPJ') as CNPJ,
	   (select top 1 VALOR from DB_PESQ_APLICADAS_CLIENTES where DB_PESQ_APLICADAS_CLIENTES.CODIGO = P.CODIGO and DB_PESQ_APLICADAS_CLIENTES.ID = 'REDE') as  REDE,
	   DATAALTER,
	   USU.USUARIO
  FROM DB_PESQ_APLICADAS P,    
       DB_USUARIO USU,
	   DB_PESQ_OCORRENCIAS O
 WHERE USU.USUARIO = O.USUARIO
   AND O.APLICAR_PESQUISA = P.CODIGO
   AND CAST(O.DATA_FINAL AS DATE) >= CAST(GETDATE() AS DATE)
UNION
SELECT P.CODIGO             CODIGO_PESAPLI,
       P.CODIGO_PESQUISA    CODIGOPESQUISA_PESAPLI,
	   P.MINIMO_FOTOS		MINIMOFOTOS_PESAPLI,
	   P.MAXIMO_FOTOS		MAXIMOFOTOS_PESAPLI,
	   P.FOTOS_PERGUNTAS	FOTOSPERGUNTAS_PESAPLI,
	   TIPO_PESQUISA        TIPO_PESAPLI,
	   NULL                 DATAINICIAL_PESAPLI,
	   NULL                 DATAFINAL_PESAPLI,
	   APRESENTACAO         apresentacao_PESAPLI,
	   isnull(APRESENTACAO_DESCRICAO, 0) apresentacaoDescricao_PESAPLI,
	   DESCRICAO			descricao_PESAPLI,
	   isnull(OBRIGATORIO_CHECKOUT, 0) obrigaCheckout_PESAPLI,
	   P.PERM_RESPOSTA      permiteRespostas_PESAPLI,
	   P.FOTO_ANTES_DEPOIS	exigeFotoAntesDepois_PESAPLI,
	   (select top 1 VALOR from DB_PESQ_APLICADAS_CLIENTES where DB_PESQ_APLICADAS_CLIENTES.CODIGO = P.CODIGO and DB_PESQ_APLICADAS_CLIENTES.ID = 'RAMO') as RAMO,
	   (select top 1 VALOR from DB_PESQ_APLICADAS_CLIENTES where DB_PESQ_APLICADAS_CLIENTES.CODIGO = P.CODIGO and DB_PESQ_APLICADAS_CLIENTES.ID = 'RAMOII') as RAMOII,
	   (select top 1 VALOR from DB_PESQ_APLICADAS_CLIENTES where DB_PESQ_APLICADAS_CLIENTES.CODIGO = P.CODIGO and DB_PESQ_APLICADAS_CLIENTES.ID = 'AREAATU') as AREAATU,
	   (select top 1 VALOR from DB_PESQ_APLICADAS_CLIENTES where DB_PESQ_APLICADAS_CLIENTES.CODIGO = P.CODIGO and DB_PESQ_APLICADAS_CLIENTES.ID = 'CLASCOMCLI') as CLASCOMCLI,
	   (select top 1 VALOR from DB_PESQ_APLICADAS_CLIENTES where DB_PESQ_APLICADAS_CLIENTES.CODIGO = P.CODIGO and DB_PESQ_APLICADAS_CLIENTES.ID = 'REGIAOCOM') as REGIAOCOM,
	   (select top 1 VALOR from DB_PESQ_APLICADAS_CLIENTES where DB_PESQ_APLICADAS_CLIENTES.CODIGO = P.CODIGO and DB_PESQ_APLICADAS_CLIENTES.ID = 'ESTADO') as ESTADO,
	   (select top 1 VALOR from DB_PESQ_APLICADAS_CLIENTES where DB_PESQ_APLICADAS_CLIENTES.CODIGO = P.CODIGO and DB_PESQ_APLICADAS_CLIENTES.ID = 'CIDADE') as CIDADE,
	   (select top 1 VALOR from DB_PESQ_APLICADAS_CLIENTES where DB_PESQ_APLICADAS_CLIENTES.CODIGO = P.CODIGO and DB_PESQ_APLICADAS_CLIENTES.ID = 'CLIENTE') as CLIENTE,
	   (select top 1 VALOR from DB_PESQ_APLICADAS_CLIENTES where DB_PESQ_APLICADAS_CLIENTES.CODIGO = P.CODIGO and DB_PESQ_APLICADAS_CLIENTES.ID = 'CNPJ') as CNPJ,
	   (select top 1 VALOR from DB_PESQ_APLICADAS_CLIENTES where DB_PESQ_APLICADAS_CLIENTES.CODIGO = P.CODIGO and DB_PESQ_APLICADAS_CLIENTES.ID = 'REDE') as  REDE,
	   DATAALTER,
	   USU.USUARIO
  FROM DB_PESQ_APLICADAS P, DB_USUARIO USU
 WHERE EXISTS (SELECT 1
                 FROM MVA_ACOES
				WHERE MVA_ACOES.USUARIO = USU.USUARIO
				  AND MVA_ACOES.PESQUISAAPLICADA_ACAO = P.CODIGO)
