ALTER VIEW MVA_MOEDA AS
SELECT DB_MOE_CODIGO			codigo_MOE,
DB_MOE_DESCRICAO			descricao_MOE,
DB_MOE_ABREV				abrev_MOE,
DB_MOE_BLOQPED			bloqPed_MOE,
DB_MOE_INCLUIROBSTEXTO   incluirObsTexto_MOE,
DB_MOE_OBSPED			obsPed_MOE,
DB_MOE_TEXTONF			textoNF_MOE,
lista.USUARIO
FROM DB_MOEDA, DB_USUARIO lista
WHERE EXISTS (SELECT 1 FROM MVA_LISTAPRECO WHERE MVA_LISTAPRECO.USUARIO = LISTA.USUARIO
AND ',' + moedas_LIPRE + ',' like '%,' + CAST(DB_MOE_CODIGO AS VARCHAR) + ',%')
