ALTER VIEW MVA_FILTROSACAOCOLUNACADASTRO AS
SELECT CONSULTA		CONSULTA_FILACC,
COLUNA			COLUNA_FILACC,
FILTRO_DESTINO	FILTRODESTINO_FILACC,
COLUNA_ORIGEM	COLUNAORIGEM_FILACC,
ACAO			ACAO_FILACC,
MVA_CONSULTAS.USUARIO
FROM DB_CONS_FILTR_ACAO_CADASTRO,
MVA_CONSULTAS
WHERE CONSULTA = MVA_CONSULTAS.CODIGO_CONSU
