ALTER VIEW MVA_POLITICASBONIREGRASFILTROS AS
SELECT REGRA         REGRA_POLBONIRF,
FILTRO        FILTRO_POLBONIRF
FROM DB_POLBONI_REGRAS_FILTROS, MVA_POLITICASBONIFILTROSPROD
WHERE DB_POLBONI_REGRAS_FILTROS.FILTRO = FILTRO_POLBONIF
