ALTER VIEW MVA_PERIODOTRABALHO AS
SELECT PERT.CODIGO			   CODIGO_PERT,
PERT.VALIDADE_INICIAL   VALIDADEINICIAL_PERT,
PERT.VALIDADE_FINAL	   VALIDADEFINAL_PERT,
USU.USUARIO
FROM DB_PERIODO_TRABALHO 	   PERT,
DB_GRUPO_USUARIOS 	   GUSU,
DB_PERFIL_SEGUR 		   PSEG,
DB_USUARIO			   USU
WHERE GUSU.PERFIL_SEGURANCA = PSEG.CODIGO
AND PSEG.PERIODO_TRABALHO = PERT.CODIGO
AND USU.GRUPO_USUARIO	 = GUSU.CODIGO
AND CONVERT(VARCHAR, GETDATE(), 23) BETWEEN CONVERT(VARCHAR, PERT.VALIDADE_INICIAL, 23) AND CONVERT(VARCHAR, PERT.VALIDADE_FINAL, 23)
