ALTER VIEW MVA_REGRAFRETEESTFILTROS AS
SELECT RFEF.CODIGO    			codigo_FESTF,
RFEF.SEQUENCIA       	sequencia_FESTF,
RFEF.DATA_INICIAL        dataInicial_FESTF,
RFEF.DATA_FINAL    		dataFinal_FESTF,
RFEF.CONSIDERA_REDE      consideraRede_FESTF,
RFEF.PERCENTUAL_BASE     percentualBase_FESTF,
RFEF.TOTALPEDMIN         totalPedMin_FESTF,
RFEF.TOTALPEDMAX    		totalPedMax_FESTF,
RFEF.PESO       			peso_FESTF,
USU.USUARIO,
RFEF.EMPRESA				EMPRESA,
RFEF.CLIENTE	     		CLIENTE,
RFEF.REPRESENTANTE	 	REPRESENTANTE,
RFEF.UF_DESTINO	 		UF_DESTINO,
RFEF.CIDADE_DESTINO	 	CIDADE_DESTINO
FROM DB_REGRAFRETEEST_FILTROS	RFEF,
MVA_REGRAFRETEESTIMADO	RFE,
DB_USUARIO    			USU
WHERE RFEF.CODIGO = RFE.codigo_FEST
AND RFEF.DATA_INICIAL <= GETDATE()
AND RFEF.DATA_FINAL >= GETDATE()
AND RFEF.BASE_CALCULO = 1
AND USU.USUARIO = RFE.USUARIO
AND (exists (select 1 from DB_GRUPO_USU_EMP
where GRUPO_USUARIO = USU.GRUPO_USUARIO
and ',' + RFEF.EMPRESA + ',' like '%,' + DB_GRUPO_USU_EMP.EMPRESA + ',%')
or not exists ( select 1
from DB_GRUPO_USU_EMP GRUPO
where GRUPO_USUARIO = USU.GRUPO_USUARIO ) or isnull(RFEF.EMPRESA, '') = '' )
AND (exists (select 1 from MVA_REPRESENTANTES REP where REP.USUARIO = RFE.USUARIO
and ',' + RFEF.REPRESENTANTE + ',' like '%,' + CAST(REP.CODIGO_REPRES as VARCHAR) + ',%' ) or (isnull(RFEF.REPRESENTANTE, '') = '') )
