ALTER VIEW MVA_VALORITEMPEDIDO AS
SELECT VLRITEM.CODIGO		codigo_VLRITEM,
       VLRITEM.NOME         nome_VLRITEM,
       VLRITEM.DESCRICAO    descricao_VLRITEM,
       VLRITEM.PESQUISA     pesquisa_VLRITEM
  FROM DB_MOB_VALOR_ITEM	VLRITEM
