ALTER VIEW MVA_CONSULTAVINCULOPEDIDOS AS
SELECT CODIGO            CODIGO_VINPED,
NOME              NOME_VINPED,
CONSULTA          CONSULTA_VINPED,
SUBCONSULTA       SUBCONSULTA_VINPED,
COLUNA_VINCULO    COLUNAVINCULO_VINPED,
COLUNA_CONSULTA   COLUNACONSULTA_VINPED,
V.TIPO            TIPO_VINPED,
V.TIPO_VINCULO    TIPOVINCULO_VINPED,
USUARIO
FROM DB_CONS_VINCULO_PEDIDOS V,
MVA_CONSULTAS C
WHERE (C.CODIGO_CONSU = V.CONSULTA or C.CODIGO_CONSU = V.subconsulta)
