---------------------------------------------------------------------------------------------------
-- VERSAO	DATA		AUTOR   ALTERACAO
-- 1.0001	15/10/2012	TIAGO 	CRIACAO
-- 1.0002   07/01/2013  TIAGO   INCLUIDO CAMPO DE VALIDADE
-- 1.0003   21/03/2013  tiago   alterado nome do campo desconto medio minimo
-- 1.0004   18/06/2013  tiago   incluido campo participacao
-- 1.0005   03/09/2013  tiago   incluido campos PV06_DATA_INI, PV06_DATA_FIM, PV06_FATCONV, PV06_UMQTDE
-- 1.0006   28/11/2013  tiago   incluido campo NAOCALCULACOMISSAO
-- 1.0007   12/03/2014  tiago   incluido campo dataalter
-- 1.0008   08/09/2014  tiago   incluido campo mix excecao
-- 1.0009   16/03/2015  tiago   incluido campo desconsiderarCondVenda
-- 1.0010   05/04/2016  tiago   incluido campo motivoDesconto_POLIT
-- 1.0011   14/07/2016  tiago   incluido campos de cubagem
-- 1.0012   12/12/2016  tiago   verifica parametro POL_DIASCACHEDATAFIM
---------------------------------------------------------------------------------------------------
ALTER VIEW MVA_POLITICAS AS
SELECT  PV06_TIPO         TIPO_POLIT,
	    PV06_CONTROLE     CONTROLE_POLIT,
		PV06_SEQ          SEQUENCIA_POLIT,
		PV06_POLITICA      CODIGOPOLITICA_POLIT,
	   CASE PV06_TIPO WHEN 'C' THEN  (ISNULL((SELECT CAST(DB_TBCV_DESCR as varchar(255))  FROM DB_TB_COND_VENDA WHERE DB_TBCV_CODIGO  = PV06_POLITICA), (SELECT DESCRICAO FROM DB_POLCOM_PRINCIPAL WHERE POLITICA = PV06_POLITICA AND TIPO = 'C' ))) 
				      WHEN 'D' THEN  (ISNULL((SELECT CAST(DB_TBCV_DESCR  as varchar(255))  FROM DB_TB_COND_VENDA WHERE DB_TBCV_CODIGO  = PV06_POLITICA), (SELECT DESCRICAO FROM DB_POLCOM_PRINCIPAL WHERE POLITICA = PV06_POLITICA AND TIPO = 'D' ))) 
					  WHEN 'V' THEN  (ISNULL((SELECT CAST(DB_TBCV_DESCR  as varchar(255))  FROM DB_TB_COND_VENDA WHERE DB_TBCV_CODIGO  = PV06_POLITICA), (SELECT DESCRICAO FROM DB_POLCOM_PRINCIPAL WHERE POLITICA = PV06_POLITICA AND TIPO = 'V' ))) 
					  WHEN 'P' THEN  (ISNULL((SELECT CAST(DB_TBPRM_DESCR  as varchar(255)) FROM DB_TB_PROMOCAO   WHERE DB_TBPRM_CODIGO = PV06_POLITICA), (SELECT DESCRICAO FROM DB_POLCOM_PRINCIPAL WHERE POLITICA = PV06_POLITICA AND TIPO = 'P' )))
					  WHEN 'R' THEN  (ISNULL((SELECT CAST(DB_RES_DESC  as varchar(255))   FROM DB_RESTRICAO     WHERE DB_RES_CODIGO   = PV06_POLITICA), (SELECT DESCRICAO FROM DB_POLCOM_PRINCIPAL WHERE POLITICA = PV06_POLITICA AND TIPO = 'R' ))) 
					  WHEN 'E' THEN  (ISNULL((SELECT CAST(DB_RES_DESC  as varchar(255))   FROM DB_RESTRICAO     WHERE DB_RES_CODIGO   = PV06_POLITICA), (SELECT DESCRICAO FROM DB_POLCOM_PRINCIPAL WHERE POLITICA = PV06_POLITICA AND TIPO = 'E' ))) 
					  WHEN 'B' THEN  (ISNULL((SELECT CAST(DB_RES_DESC  as varchar(255))   FROM DB_RESTRICAO     WHERE DB_RES_CODIGO   = PV06_POLITICA), (SELECT DESCRICAO FROM DB_POLCOM_PRINCIPAL WHERE POLITICA = PV06_POLITICA AND TIPO = 'B' ))) 
					  ELSE '' END DESCRICAO_POLIT,
	   MPV04.PV04_TIPO        TIPOAPLICACAO_POLIT,
	   PV06_PRAZOMIN          PRAZOMINIMO_POLIT,
	   PV06_PRAZOMAX          PRAZOMAXIMO_POLIT,
	   PV06_QTDEMIN           QUANTIDADEMINIMA_POLIT,
	   PV06_QTDEMAX           QUANTIDADEMAXIMA_POLIT,
	   PV06_COMIS             COMISSAO_POLIT,
	   PV06_MIX               MIX_POLIT,
	   PV06_PRECOLIQ          PRECOLIQUIDO_POLIT,
	   PV06_PEDMIN            PEDIDOMINIMO_POLIT,
	   PV06_PARTIC            PARTICIPACAOMINFISICA_POLIT,
	   PV06_PARTMAX           PARTICIPACAOMAX_POLIT,
	   PV06_ACRVLR            ACRESCIMO_POLIT,
	   PV06_VALMIN            VALORMINIMO_POLIT,
	   PV06_VALMAX            VALORMAXIMO_POLIT,
	   PV06_DESCTO            DESCONTO_POLIT,
	   PV06_AVALIACAO         AVALIACAO_POLIT,
	   PV06_QTDEMULT          QUANTIDADEMULTIPLA_POLIT,
	   PV06_PARTMAXFIS        PARTICIPACAOMAXFISICA_POLIT,
	   PV06_FATCONV           FATORCONVERSAO_POLIT,
	   PV06_APLICBRUTO        APLICABRUTO_POLIT,
	   PV06_APLICACAO         APLICACAO_POLIT,
	   PV06_TPAVALIACAO       TIPOAVALIACAO_POLIT,
	   PV06_DIASAMAIS         DIASAMAIS_POLIT,
	   PV06_VALMIX			  VALIDAMIX_POLIT,
	   PV06_CLICONTRIB		  CLIENTECONTRIBUINTE_POLIT,
	   PV06_CLIIE			  CLIENTEIE_POLIT,
	   PV06_CLIVENDOR		  CLIENTEVENDOR_POLIT,
	   PV06_CLISUFRAMA        CLIENTESUFRAMA_POLIT,
	   MPV04.PV04_INDDESCTO   INDICE_POLIT,
	   CASE WHEN PV06_PROMOCAO_PRODUTO = 2 THEN MPV04.PV04_PESO + (SELECT TOP 1 PV07_PESO FROM MPV07 WHERE PV07_TAGFILTRO = 'MIXVENDA' ) ELSE MPV04.PV04_PESO END   PESO_POLIT,
	   PV06_DATA_INI          DATAINICIAL_POLIT,
       PV06_DATA_FIM          DATAFINAL_POLIT,
	   ISNULL(PV06_VALIDADE, 0) VALIDADE_POLIT,
	   PV06_DCTOMEDIOMIN      DESCONTOMEDIOMINIMO_POLIT,
	   PV06_MSGERRO           MENSAGEM_POLIT,
	   PV06_PARTSOBRE         PARTICIPACAOSOBRE_POLIT,
	   PV06_APRESCLI          APRESENTACLIENTE_POLIT,	   
	   PV06_diaini            DIAINICIAL_POLIT,
	   PV06_diafin		      DIAFINAL_POLIT, 
	   PV06_UMQTDE            UNIDADEMEDIDAQTDE_POLIT,
	   PV06_NCALCCOMIS        NAOCALCULACOMISSAO_POLIT,
	   PV06_DESCTOMIN         DESCONTOMINIMO_POLIT,
       PV06_DESCTOMAX         DESCONTOMAXIMO_POLIT,
	   PV06_DATA_ALTER        DATAALTER,
	   PV06_MIXEXCECAO        MIXEXCECAO_POLIT,
	   PV06_DESCONSCONDVDA    desconsiderarCondVenda_POLIT,
	   PV06_MOTIVODESCTO      motivoDesconto_POLIT,
	   PV06_CUBAGEMMIN		  cubagemmin_POLIT,
	   PV06_CUBAGEMMAX		  cubagemmax_POLIT,
	   PV06_PESO_RESTRICAO    pesoRestricao_POLIT,
       PV06_REGRA             regra_POLIT,
	   PV06_DOC_TIPO		  docTipo_POLIT,
	   PV06_DOC_VALIDADE 	  docValidade_POLIT,
	   PV06_DOC_AUTORIZACAO   docAutorizacao_POLIT,
	   PV06_BLOQUEIO		  bloqueio_POLIT,
	   PV06_VALIDAGRPITEMCONTROL validaGrpItemControl_POLIT,
	   PV06_PROMOCAO_PRODUTO  promocaoProdutos_POLIT,
	   PV06_BASEDESCTOFINANC  baseDescontoFinanceiro_POLIT,
	   PV06_CALCULA_MARGEM		calculoMargem_POLIT,
	   PV06_DEFINE_COMISSAO		defineComissao_POLIT,
	   PV06_PERCENTUAL_COMISSAO percentualComissao_POLIT,
	   PV06_FORMATO_PRECO       formatoPreco_POLIT,
	   PV06_DESCONSIDERAR_INDICE desconsiderarPolitica_POLIT,
	   PV06_MARGEM_DESEJADA      margemDesejada_POLIT,
	   PV06_VALOR_UNITARIO		 valorUnitario_POLIT,
	   isnull(PV06_FORMATO_PEDMIN, 0)		formatoPedidoMinimo_POLIT,
	   isnull(PV06_FORMATO_VLRMINMAX, 0)	formatoVlrMinVlrMax_POLIT,
	   isnull(PV06_CATEGORIA, 0)  categoria_POLIT,
	   PV06_DCTOMEDIOMAXITEM      descontoMedioItem_POLIT,
	   PV06_AGRUPAMENTO		      agrupamento_POLIT,
	   PV06_DESCMAXLISTA		  desconsideraDescMaxLista_POLIT,
	   PV06_QTDEMINCAMP			  quantidadeMinimaCampanha_POLIT,
	   PV06_QTDEMAXCAMP			  quantidadeMaximaCampanha_POLIT,
	   PV06_ANEXO				  anexo_POLIT,
	   PV06_APLICA_MANUAL         aplicacaoManual_POLIT,
	   PV06_AVALIA_FAIXA		  avaliaFaixa_POLIT,
	   PV06_INDICE_AVALIA_FAIXA   indiceAvaliaFaixa_POLIT,
	   PV06_FAIXAMIN			  faixaMin_POLIT,
	   PV06_FAIXAMAX			  faixaMax_POLIT,
	   PV06_FAIXAMAX_AVALIAR	  faixaMaxAvaliar_POLIT,
	   PV06_AVALIA_CLIVDAORD	  avaliaCliVdaOrd_POLIT 
  FROM MPV06,
	   MPV04
 WHERE PV06_CONTROLE = MPV04.PV04_CONTROLE
   AND PV06_DATA_FIM >= CONVERT( DATE, GETDATE() - cast(isnull((SELECT isnull(DB_PRMS_VALOR, 0) FROM DB_PARAM_SISTEMA WHERE DB_PARAM_SISTEMA.DB_PRMS_ID = 'POL_DIASCACHEDATAFIM'), 0) as int), 130)
   and ((pv06_tipo = 'R' and (1 = (select 1 
                                     from db_restricao 
									where DB_RES_TIPO <> 1 
									  and db_res_codigo = PV06_POLITICA)))  
			             or (pv06_tipo <> 'R') )
