ALTER VIEW MVA_AJUDACATTEMPLATE AS
SELECT	DB_AJUCT_SEQUENCIA	  SEQUENCIA_AJUTE,
DB_AJUCT_CHAVE	      CHAVE_AJUTE,
replace(replace(replace(replace(DB_AJUCT_VALOR, '.png', '.PNGM'), '.jpg','.PNGM'), '\', '/'), '.mp4', '.MP4M')     VALOR_AJUTE,
DB_AJUCT_CODIGO	      CODIGO_AJUTE,
A.USUARIO,
a.dataalter
FROM DB_AJUDA_CAT_TMPL, MVA_AJUDACATALOGO A
WHERE A.CODIGO_AJUD = DB_AJUCT_CODIGO
AND A.SEQUENCIA_AJUD = DB_AJUCT_SEQUENCIA
