ALTER VIEW MVA_ATIVIDADESGRUPOS AS
select CODIGO_FLUXO		fluxo_AGVIS,
CODIGO_ETAPA		etapa_AGVIS,
CODIGO_ATIVIDADE	atividade_AGVIS,
SEQUENCIA			sequencia_AGVIS,
CODIGO_GRUPO		grupo_AGVIS,
(select DESCRICAO from DB_OC_GRUPOS where CODIGO = CODIGO_GRUPO)	descricaoGrupo_AGVIS
from DB_FLU_ETA_GRUPOS_VISUALIZA
