---------------------------------------------------------------------------------------------------
-- VERSAO   DATA	AUTOR		        ALTERACAO
-- 1.0001   15/10/2012	TIAGO PRADELLA	 CRIACAO
-- 1.0002   21/11/2012  TIAGO PRADELLA   INCLUCAO DE QUANTIDADE FORA EMBALAGEM
-- 1.0003   26/11/2012  ALENCAR		     AJUSTE NO CAMPO DB_EP_PRMSIDTAG = 'TAG'
-- 1.0004   07/05/2014  TIAGO            INCLUIDO OS CAMPOS: DB_TBEMP_HORACORTE E DB_TBEMP_LPRECOTRC
-- 1.0005   12/08/2014  TIAGO            INCLUIDO CAMPO RAZAO SOCIAL
-- 1.0006   02/09/2014  TIAGO            INCLUIDO CAMPO CNPJ
-- 1.0007   11/12/2014  tiago            incluido novos campo: percentualTransferencia_EMPRE, empresaCusto_EMPRE, tipoCusto_EMPRE, custoIndustrialProduzido_EMPRE
--                                       custoIndustrialRevenda_EMPRE, custoAdministrativo_EMPRE, custoComercial_EMPRE
-- 1.0008   28/01/2015  tiago           incluido novos campo, empresaCota_EMPRE e permitedivdeposito_EMPRE
---------------------------------------------------------------------------------------------------
ALTER VIEW MVA_EMPRESAS AS
  SELECT EMP.DB_TBEMP_CODIGO         CODIGO_EMPRE,
         EMP.DB_TBEMP_NOME             DESCRICAO_EMPRE,
         ISNULL (DB_TBEMP_DUPLMIM,0) VALORMINIMODUPLICATA_EMPRE,
         DB_TBEMP_ENDERECO           ENDERECO_EMPRE,
         ISNULL(DB_TBEMP_CEP, 0)     CEP_EMPRE,
         DB_TBEMP_CIDADE             CIDADE_EMPRE,
         DB_TBEMP_UF                 UF_EMPRE,
         DB_TBEMP_FONE               TELEFONE_EMPRE,
         DB_TBEMP_OBSPED             OBSERVACAOPEDIDO_EMPRE,
         ISNULL((SELECT DB_EP_VALOR FROM DB_TB_EMP_PARAM
           WHERE DB_EP_PRMSIDTAG = 'PED_QTDEFORAEMBALVENDA' 
             AND DB_EP_EMPRESA = EMP.DB_TBEMP_CODIGO),4)    QTDEFORAEMBVENDA_EMPRE,
         ISNULL((SELECT DB_EP_VALOR FROM DB_TB_EMP_PARAM
           WHERE DB_EP_PRMSIDTAG = 'PED_QTDEFORAEMBALBONIF' 
             AND DB_EP_EMPRESA = EMP.DB_TBEMP_CODIGO),4)    QTDEFORAEMBBONIF_EMPRE,
         ISNULL((SELECT DB_EP_VALOR FROM DB_TB_EMP_PARAM
           WHERE DB_EP_PRMSIDTAG = 'PED_QTDEFORAEMBALOUTROS' 
             AND DB_EP_EMPRESA = EMP.DB_TBEMP_CODIGO),4)    QTDEFORAEMBOUTROS_EMPRE,
         ISNULL((SELECT DB_EP_VALOR FROM DB_TB_EMP_PARAM
           WHERE DB_EP_PRMSIDTAG = 'PED_QTDEFORAEMBALTRANSF' 
             AND DB_EP_EMPRESA = EMP.DB_TBEMP_CODIGO),4)    QTDEFORAEMBTRANSF_EMPRE,
		 DB_TBEMP_HORACORTE         HORACORTE_EMPRE,
         DB_TBEMP_LPRECOTRC         LISTAPRECOTROCA_EMPRE,
		 DB_TBEMP_RAZAOSOC          RAZAOSOCIAL_EMPRE,
		 DB_TBEMP_CNPJ              CNPJ_EMPRE,
		 DB_TBEMP_PCTRANSF			PERCENTUALTRANSFERENCIA_EMPRE,
		 DB_TBEMP_EMPCUSTO		    EMPRESACUSTO_EMPRE,
 		 DB_TBEMP_TPCUSTO		    TIPOCUSTO_EMPRE,
		 CASE WHEN (SELECT ISNULL(DB_PRM_CUSTO_IND, 0) FROM DB_PARAMETRO1) = 0
		      THEN DB_TBEMP_CUSTO_IND
			  ELSE DB_TBEMP_CFFAT_IND END			 CUSTOINDUSTRIALPRODUZIDO_EMPRE,
		 CASE WHEN (SELECT ISNULL(DB_PRM_CUSTO_IND, 0) FROM DB_PARAMETRO1) = 0
		      THEN DB_TBEMP_CUSTO_INR
			  ELSE DB_TBEMP_CFFAT_INR END			 CUSTOINDUSTRIALREVENDA_EMPRE,
		 CASE WHEN (SELECT ISNULL(DB_PRM_CUSTO_ADM, 0) FROM DB_PARAMETRO1) = 0
		      THEN DB_TBEMP_CUSTO_ADM
			  ELSE DB_TBEMP_CFFAT_ADM END			 CUSTOADMINISTRATIVO_EMPRE,
		 CASE WHEN (SELECT ISNULL(DB_PRM_CUSTO_COM, 0) FROM DB_PARAMETRO1) = 0
		      THEN DB_TBEMP_CUSTO_COM
			  ELSE DB_TBEMP_CFFAT_COM END			 CUSTOCOMERCIAL_EMPRE,
		 DB_TBEMP_VINCCOTA         empresaCota_EMPRE,
		 isnull((SELECT DB_EP_VALOR FROM DB_TB_EMP_PARAM
           WHERE Db_EP_PrmSIDTag = 'PED_PERMITEDIVDEPOSITO' 
             AND DB_EP_EMPRESA = EMP.DB_TBEMP_CODIGO),0)    permitedivdeposito_EMPRE,
		 Db_TbEmp_INSCREST      inscricaoEstadual_EMPRE,
		 Db_TbEmp_MOTNBLOQ   motivosNaoBloqueia_EMPRE,
		 DB_TBEMP_EMPESTOQ   empresaEstoque_EMPRE,
		 (select top 1 DB_EP_VALOR from DB_TB_EMP_PARAM where DB_EP_PRMSIDTAG = 'EMP_MERCHANTIDEMPFATUR' and db_ep_empresa = EMP.DB_TBEMP_CODIGO)    merchantIDEmpresaFatur_EMPRE,
		 (select top 1 DB_EP_VALOR from DB_TB_EMP_PARAM where DB_EP_PRMSIDTAG = 'EMP_MERCHANTKEYEMPFATUR' and db_ep_empresa = EMP.DB_TBEMP_CODIGO)   merchantKeyEmpresaFatur_EMPRE,
		 (select top 1 DB_EP_VALOR from DB_TB_EMP_PARAM where DB_EP_PRMSIDTAG = 'EMP_MERCHANTIDCOBFRETE' and db_ep_empresa = EMP.DB_TBEMP_CODIGO)   merchantIDCobrancaFrete_EMPRE,
		 (select top 1 DB_EP_VALOR from DB_TB_EMP_PARAM where DB_EP_PRMSIDTAG = 'EMP_MERCHANTKEYCOBFRETE' and db_ep_empresa = EMP.DB_TBEMP_CODIGO)  merchantKeyCobrancaFrete_EMPRE,
         DB_TBEMP_LATITUDE			 LATITUDE_EMPRE,
		 DB_TBEMP_LONGITUDE 		 LONGITUDE_EMPRE,
		 DB_TBEMP_LOCEMBARQ          locEmbarque_EMPRE,
         isnull((SELECT DB_EP_VALOR FROM DB_TB_EMP_PARAM WHERE DB_EP_PRMSIDTAG = 'PED_PERMITEAGRUPARDEPOSITODIF' AND DB_EP_EMPRESA = EMP.DB_TBEMP_CODIGO), 0) permiteAgrupDepositoDif_EMPRE,
         (SELECT DB_EP_VALOR FROM DB_TB_EMP_PARAM WHERE DB_EP_PRMSIDTAG = 'PED_TPPEDEXCDEPOSITODIF' AND DB_EP_EMPRESA = EMP.DB_TBEMP_CODIGO) tpPedExcDepositoDif_EMPRE,
         (SELECT DB_EP_VALOR FROM DB_TB_EMP_PARAM WHERE DB_EP_PRMSIDTAG = 'PED_REPEXCDEPOSITODIF' AND DB_EP_EMPRESA = EMP.DB_TBEMP_CODIGO) repExcDepositoDif_EMPRE,
         USU.USUARIO 
    FROM DB_USUARIO        USU,
         DB_GRUPO_USUARIOS GRUPO_USU,
         DB_GRUPO_USU_EMP  GRUPO_EMP,
         DB_TB_EMPRESA     EMP    
   WHERE GRUPO_USU.CODIGO        = USU.GRUPO_USUARIO
     AND GRUPO_EMP.GRUPO_USUARIO = GRUPO_USU.CODIGO
     AND EMP.DB_TBEMP_CODIGO     = GRUPO_EMP.EMPRESA
