ALTER VIEW MVA_FILTROSACAOCOLUNACONSULTA   AS
SELECT 	CONSULTA               CONSULTA_FILAC,
COLUNA                 COLUNA_FILAC,
CONSULTA_DESTINO       CONSULTADESTINO_FILAC,
COLUNA_DESTINO         COLUNADESTINO_FILAC,
COLUNA_ORIGEM          COLUNAORIGEM_FILAC ,
USU.USUARIO
FROM DB_CONS_FILTR_ACAO,
DB_USUARIO    USU
