ALTER VIEW MVA_PRODUTOSEMP_V4  AS
SELECT DB_PRODE_PRODUTO		PRODUTO_PEMP,
DB_PRODE_EMPRESA		EMPRESA_PEMP,
DB_PRODE_PRAZO		PRAZO_EMP,
DB_PRODE_ORDBUSCA	TIPO_PEMP,
VPROD.USUARIO
FROM DB_PRODUTO_EMP,
DB_PRODUTO_USUARIO VPROD
WHERE VPROD.PRODUTO = DB_PRODE_PRODUTO
