ALTER VIEW MVA_TOTAISAGRUP_ATRIBUTO AS
SELECT FILTRO.CODIGO_GRUPO  grupoUsu_TOTAGPATRIB,
FILTRO.VALOR_STRING  atributo_TOTAGPATRIB,
USUARIO
FROM DB_FILTRO_GRUPOUSU FILTRO, DB_USUARIO
WHERE ID_FILTRO = 'ATRIBPROD'
AND DB_USUARIO.GRUPO_USUARIO = FILTRO.CODIGO_GRUPO
