ALTER VIEW MVA_MIXATRIBUTOS AS
SELECT ATRIB.CODIGO_MIX	codigoMix_MIXA,
ATRIB.SEQUENCIA		sequencia_MIXA,
ATRIB.ATRIBUTO		atributo_MIXA,
ATRIB.VALOR			valor_MIXA
FROM DB_MIXVENDA_ATRIB ATRIB, MVA_MIX MX
WHERE MX.CODIGO_MIXV = ATRIB.CODIGO_MIX
