ALTER VIEW MVA_CONCEITOSLUCRAATRIB AS
 select CODIGO_CONCEITO conceitoLucratividade_CLATRIB,
		SEQUENCIA		sequencia_CLATRIB,
		CODIGO_ATRIB	codigoAtributo_CLATRIB,
		VALOR_ATRIB		valorAtributo_CLATRIB
   from DB_CONC_LUCRAT_ATRIB, MVA_CONCEITOSLUCRATIVIDADE
  where CODIGO_CONCEITO = CODIGO_CONLUC
