ALTER VIEW MVA_DOC_CATEGORIA AS
 SELECT CAT.CATEGORIA			categoria_DOCCAT,
	    CAT.NOME				nome_DOCCAT,
		CAT.DESCRICAO			descricao_DOCCAT,
	    CAT.ORDEM				ordem_DOCCAT,
	    CAT.DATA_ALTERACAO		dataAlteracao_DOCCAT,
        CAT.DATA_ALTERACAO		dataalter,
		USU.USUARIO				usuario
   FROM DB_DOC_CATEGORIA CAT,
		DB_DOC_CATEGORIA_PERMISSAO PERM,
		DB_USUARIO USU
  WHERE CAT.SITUACAO = 1
    AND CAT.EXCLUIDO = 0
	AND CAT.CATEGORIA = PERM.CATEGORIA
	AND (PERM.USUARIO = USU.CODIGO OR (PERM.USUARIO = 0 AND PERM.GRUPO_USUARIO = USU.GRUPO_USUARIO))
	AND PERM.VISUALIZAR = 1
