CREATE  VIEW MVA_PRODUTOSATRIBUTOSPIVOT AS
---------------------------------------------------------------------------------------------------
-- VERSAO	DATA		AUTOR    ALTERACAO
-- 1.0000	04/11/2013 	ALENCAR	 CRIACAO
---------------------------------------------------------------------------------------------------
SELECT CODIGO_PRODU   PRODUTO_CODIGO,
    (SELECT DB_PRODA_VALOR FROM DB_PRODUTO_ATRIB WHERE DB_PRODA_CODIGO = CODIGO_PRODU AND DB_PRODA_ATRIB = '2000') AT_2000,
    (SELECT DB_PRODA_VALOR FROM DB_PRODUTO_ATRIB WHERE DB_PRODA_CODIGO = CODIGO_PRODU AND DB_PRODA_ATRIB = '2001') AT_2001,
    (SELECT DB_PRODA_VALOR FROM DB_PRODUTO_ATRIB WHERE DB_PRODA_CODIGO = CODIGO_PRODU AND DB_PRODA_ATRIB = '2002') AT_2002,
    (SELECT DB_PRODA_VALOR FROM DB_PRODUTO_ATRIB WHERE DB_PRODA_CODIGO = CODIGO_PRODU AND DB_PRODA_ATRIB = '2003') AT_2003,
    (SELECT DB_PRODA_VALOR FROM DB_PRODUTO_ATRIB WHERE DB_PRODA_CODIGO = CODIGO_PRODU AND DB_PRODA_ATRIB = '2004') AT_2004,
    (SELECT DB_PRODA_VALOR FROM DB_PRODUTO_ATRIB WHERE DB_PRODA_CODIGO = CODIGO_PRODU AND DB_PRODA_ATRIB = '2005') AT_2005,
    (SELECT DB_PRODA_VALOR FROM DB_PRODUTO_ATRIB WHERE DB_PRODA_CODIGO = CODIGO_PRODU AND DB_PRODA_ATRIB = '2007') AT_2007,
    (SELECT DB_PRODA_VALOR FROM DB_PRODUTO_ATRIB WHERE DB_PRODA_CODIGO = CODIGO_PRODU AND DB_PRODA_ATRIB = '2008') AT_2008,
    (SELECT DB_PRODA_VALOR FROM DB_PRODUTO_ATRIB WHERE DB_PRODA_CODIGO = CODIGO_PRODU AND DB_PRODA_ATRIB = '2009') AT_2009,
    (SELECT DB_PRODA_VALOR FROM DB_PRODUTO_ATRIB WHERE DB_PRODA_CODIGO = CODIGO_PRODU AND DB_PRODA_ATRIB = '2010') AT_2010,
    (SELECT DB_PRODA_VALOR FROM DB_PRODUTO_ATRIB WHERE DB_PRODA_CODIGO = CODIGO_PRODU AND DB_PRODA_ATRIB = '2011') AT_2011,
    (SELECT DB_PRODA_VALOR FROM DB_PRODUTO_ATRIB WHERE DB_PRODA_CODIGO = CODIGO_PRODU AND DB_PRODA_ATRIB = '2012') AT_2012,
    (SELECT DB_PRODA_VALOR FROM DB_PRODUTO_ATRIB WHERE DB_PRODA_CODIGO = CODIGO_PRODU AND DB_PRODA_ATRIB = '2013') AT_2013,
    (SELECT DB_PRODA_VALOR FROM DB_PRODUTO_ATRIB WHERE DB_PRODA_CODIGO = CODIGO_PRODU AND DB_PRODA_ATRIB = '2014') AT_2014,
    (SELECT DB_PRODA_VALOR FROM DB_PRODUTO_ATRIB WHERE DB_PRODA_CODIGO = CODIGO_PRODU AND DB_PRODA_ATRIB = '2015') AT_2015,
    (SELECT DB_PRODA_VALOR FROM DB_PRODUTO_ATRIB WHERE DB_PRODA_CODIGO = CODIGO_PRODU AND DB_PRODA_ATRIB = '2016') AT_2016,
    (SELECT DB_PRODA_VALOR FROM DB_PRODUTO_ATRIB WHERE DB_PRODA_CODIGO = CODIGO_PRODU AND DB_PRODA_ATRIB = '2017') AT_2017,
    (SELECT DB_PRODA_VALOR FROM DB_PRODUTO_ATRIB WHERE DB_PRODA_CODIGO = CODIGO_PRODU AND DB_PRODA_ATRIB = '2018') AT_2018,
    (SELECT DB_PRODA_VALOR FROM DB_PRODUTO_ATRIB WHERE DB_PRODA_CODIGO = CODIGO_PRODU AND DB_PRODA_ATRIB = '2019') AT_2019,
    (SELECT DB_PRODA_VALOR FROM DB_PRODUTO_ATRIB WHERE DB_PRODA_CODIGO = CODIGO_PRODU AND DB_PRODA_ATRIB = '2020') AT_2020,
    (SELECT DB_PRODA_VALOR FROM DB_PRODUTO_ATRIB WHERE DB_PRODA_CODIGO = CODIGO_PRODU AND DB_PRODA_ATRIB = '2021') AT_2021,
    (SELECT MAX(DB_PRODA_DATA_ALTER) FROM DB_PRODUTO_ATRIB WHERE DB_PRODA_CODIGO = CODIGO_PRODU) DATAALTER,
    USU.USUARIO
     FROM DB_USUARIO USU, MVA_PRODUTOS VPROD
    WHERE USU.USUARIO = VPROD.USUARIO
