ALTER VIEW MVA_ITENSCATIDIOMARESTR AS
SELECT CATALOGO   CATALOGO_IREST,
PRODUTO	   PRODUTO_IREST,
IDIOMA	   IDIOMA_IREST,
i.DATAALTER,
I.USUARIO
FROM DB_ITEM_IDIOMARESTR, MVA_ITENSCATALOGO  I
WHERE CATALOGO = I.CATALOGO_ITCAT
AND PRODUTO  = I.PRODUTO_ITCAT
