ALTER VIEW MVA_ESTADOS AS
SELECT DB_TBUF_SIGLA     SIGLA_ESTAD,
DB_TBUF_NOME      NOME_ESTAD,
DB_TBUF_PAIS      PAIS_ESTAD,
DB_TBUF_UF        UF_ESTAD,
USU.USUARIO
FROM DB_TB_ESTADO       EST,
DB_USUARIO		  USU,
DB_GRUPO_USUARIOS  GRUPO_USU,
DB_FILTRO_GRUPOUSU FILTRO
WHERE GRUPO_USU.CODIGO = USU.GRUPO_USUARIO
AND FILTRO.CODIGO_GRUPO = USU.GRUPO_USUARIO
AND FILTRO.ID_FILTRO = 'UF'
AND UPPER(FILTRO.VALOR_STRING) = EST.DB_TBUF_UF
UNION
SELECT DB_TBUF_SIGLA     SIGLA_ESTAD,
DB_TBUF_NOME      NOME_ESTAD,
DB_TBUF_PAIS      PAIS_ESTAD,
DB_TBUF_UF        UF_ESTAD,
USU.USUARIO
FROM DB_USUARIO		 USU,
DB_TB_ESTADO      EST
WHERE
NOT EXISTS (SELECT 1
FROM DB_FILTRO_GRUPOUSU
WHERE ID_FILTRO = 'UF'
AND USU.GRUPO_USUARIO = CODIGO_GRUPO)
UNION
SELECT DB_TBUF_SIGLA     SIGLA_ESTAD,
DB_TBUF_NOME      NOME_ESTAD,
DB_TBUF_PAIS      PAIS_ESTAD,
DB_TBUF_UF        UF_ESTAD,
EMP.USUARIO
FROM DB_TB_ESTADO       EST,
MVA_EMPRESAS EMP
WHERE EMP.UF_EMPRE = DB_TBUF_SIGLA
