ALTER VIEW MVA_POLITICASBONIREGRAS AS
SELECT REGRA                     REGRA_POLBONIR,
POLITICA                  POLITICA_POLBONIR,
NOME						 NOME_POLBONIR,
DESCRICAO				 DESCRICAO_POLBONIR,
QUANTIDADE_MINIMA		 QUANTIDADEMINIMA_POLBONIR,
QUANTIDADE_MAXIMA		 QUANTIDADEMAXIMA_POLBONIR,
VALOR_MINIMO				 VALORMINIMO_POLBONIR,
VALOR_MAXIMO				 VALORMAXIMO_POLBONIR,
NUMERO_MINIMO_REGRAS	     NUMEROMINIMOREGRAS_POLBONIR,
VALOR_PEDIDO				 VALORPEDIDO_POLBONIR,
VALOR_MINIMO_TOTAL_PED	 VALORMINIMOTOTALPED_POLBONIR,
VALOR_MAXIMO_TOTAL_PED	 VALORMAXIMOTOTALPED_POLBONIR
FROM DB_POLBONI_REGRAS, MVA_POLITICASBONIREGRASFILTROS
WHERE REGRA = REGRA_POLBONIRF
