ALTER VIEW MVA_HISTORICOSCONTACORRENTE AS
SELECT DB_TBHC_CODIGO	    CODIGO_HISTC,
DB_TBHC_DESCRICAO	DESCRICAO_HISTC,
DB_TBHC_TPCONTRAT	TIPO_HISTC,
DB_TBHC_BASECALC     baseCalculo_HISTC
FROM DB_TB_HISTCC
