ALTER VIEW MVA_INSTRUCOES AS
SELECT  ID              ID_INSTRU,
INSTRUCAO       INSTRUCAO_INSTRU,
ACAO            ACAO_INSTRU,
DATA_INSTRUCAO  DATAINSTRUCAO_INSTRU ,
USU.USUARIO
FROM DB_SIS_MOB_INSTRUCAO INS, DB_USUARIO USU
WHERE INS.USUARIO = usu.USUARIO
AND (INS.TRANSMITIDO = 0 OR INS.TRANSMITIDO IS NULL)
UNION ALL
SELECT ID              ID_INSTRU,
INSTRUCAO       INSTRUCAO_INSTRU,
ACAO            ACAO_INSTRU,
DATA_INSTRUCAO  DATAINSTRUCAO_INSTRU ,
USU.USUARIO
FROM DB_SIS_MOB_INSTRUCAO INS, DB_USUARIO USU
WHERE INS.USUARIO IS NULL
AND (INS.TRANSMITIDO = 0 OR INS.TRANSMITIDO IS NULL)
