---------------------------------------------------------------------------------------------------
-- VERSAO	DATA		AUTOR			ALTERACAO
-- 1.0001	05/03/2015	TIAGO PRADELLA	CRIACAO
---------------------------------------------------------------------------------------------------
ALTER VIEW MVA_TARIFASFRETEITENS  AS
 SELECT DB_TBTVL_TRANSP	      TRANSPORTADOR_TARFI,
		DB_TBTVL_CONDFRETE	  CONDICAOFRETE_TARFI,
		DB_TBTVL_SEQ	      SEQUENCIATARIFA_TARFI,
		DB_TBTVL_SEQGRD	      SEQUENCIA_TARFI,
		DB_TBTVL_VALOR	      VALOR_TARFI,
		DB_TBTVL_TIPO	      TIPOCALCULO_TARFI,
		DB_TBTVL_KMMAX	      QUILOMETRAGEMMAX_TARFI,
		DB_TBTVL_NRENTMAX	  NROENTREGASMAX_TARFI,
		DB_TBTVL_ISENTO       valorIsentoKmEnt_TARFI,
		T.USUARIO
   FROM DB_TB_FRETE_TARVLR,
        MVA_TARIFASFRETE   T
   WHERE T.TRANSPORTADOR_TARF  = DB_TBTVL_TRANSP
    AND t.CONDICAOFRETE_TARF = DB_TBTVL_CONDFRETE
	AND t.SEQUENCIA_TARF       = DB_TBTVL_SEQ
