ALTER VIEW MVA_PEDIDOAUTOMATICOCOLUNAS AS
SELECT  CODIGO             CODIGO_PEAUC,
PEDIDO_AUTOMATICO  PEDIDOAUTOMATICO_PEAUC,
COLUNA_PEDIDO      COLUNAPEDIDO_PEAUC,
COLUNA_CONSULTA    COLUNACONSULTA_PEAUC
FROM  DB_MOB_PED_AUT_COL
