ALTER VIEW MVA_LISTAPRECOPRODUTOS AS
SELECT DB_PRECOP_CODIGO   LISTAPRECO_LIPRP,
DB_PRECOP_PRODUTO  PRODUTO_LIPRP,
DB_PRECOP_VALOR    PRECO_LIPRP,
CAST(DB_PRECOP_SEQ AS VARCHAR)      SEQUENCIA_LIPRP,
DB_PRECOP_DTVALI   DATAINICIAL_LIPRP,
DB_PRECOP_DTVALF   DATAFINAL_LIPRP,
CASE  WHEN ISNULL(DB_PRECOP_DTALTER, 0) > ISNULL(DB_PRECOP_ALT_CORP, 0) THEN DB_PRECOP_DTALTER ELSE DB_PRECOP_ALT_CORP END DATAALTER,
DB_PRECOP_DESCTO   DESCONTO_LIPRP,
DB_PRECOP_ESTADO   UF_LIPRP,
DB_PRECOP_EMPFAT   EMPRESAFATURAMENTO_LIPRP,
DB_PRECOP_VLRMIN   PRECOMINIMO_LIPRP,
ISNULL(DB_PRECOP_INFCOMIS, 0)	INFORMACOMISSAO_LIPRP,
DB_PRECOP_PERCCOMIS			PERCENTUALCOMISSAO_LIPRP,
isnull(DB_PRECOP_DESCMAX, 0) descontoMaximo_LIPRP,
DB_PRECOP_EMPRESAS EMPRESA,
PRODUSU.USUARIO
FROM DB_PRECO_PROD PRECO,
DB_PRODUTO_USUARIO PRODUSU,
MVA_LISTAPRECO
WHERE DB_PRECOP_DTVALF >= CAST(GETDATE() AS DATE)
AND DB_PRECOP_SITUACAO in('A', 'a')
AND MVA_LISTAPRECO.CODIGO_LIPRE = DB_PRECOP_CODIGO
AND MVA_LISTAPRECO.USUARIO      = PRODUSU.USUARIO
AND DB_PRECOP_PRODUTO           = PRODUSU.PRODUTO
