---------------------------------------------------------------------------------------------------
-- VERSAO	DATA		AUTOR			ALTERACAO
-- 1.0001	06/02/2012	TIAGO PRADELLA	CRIACAO
---------------------------------------------------------------------------------------------------
ALTER VIEW MVA_CONDPAGAMENTOFORMAPGTO AS
 WITH FORMAS AS (SELECT CAST(DB_FOPG_CODIGO AS VARCHAR) FORMA FROM DB_TB_FORMA_PGTO),
 COUNT_FORMAS AS (SELECT COUNT(1) VALOR FROM FORMAS),
TEMPNUMBER AS
(
  SELECT VALOR = 1
  WHERE 1 < (SELECT VALOR FROM COUNT_FORMAS)
  UNION ALL
  SELECT  VALOR + 1
  FROM TEMPNUMBER
  WHERE VALOR + 1 <= (SELECT VALOR FROM COUNT_FORMAS)
)
SELECT DB_TBPGTO_COD                                    CONDICAOPAGAMENTO_CPFPG,
       SUBSTRING(DB_TBPGTO_FPGTO, TEMPNUMBER.VALOR, 1)  FORMAPAGAMENTO_CPFPG,
	   USU.USUARIO
  FROM DB_TB_CPGTO, DB_USUARIO USU, TEMPNUMBER
   WHERE SUBSTRING(DB_TBPGTO_FPGTO, TEMPNUMBER.VALOR, 1) <> ''
     and CHARINDEX(',', DB_TBPGTO_FPGTO) = 0 
	 union all
SELECT DB_TBPGTO_COD         CONDICAOPAGAMENTO_CPFPG,
       FORMAS.FORMA		 FORMAPAGAMENTO_CPFPG,
	   USU.USUARIO
  FROM DB_TB_CPGTO, DB_USUARIO USU, FORMAS
   WHERE ',' + DB_TBPGTO_FPGTO + ',' LIKE '%,' + FORMAS.FORMA + ',%'
     AND CHARINDEX(',', DB_TBPGTO_FPGTO) > 0
