ALTER VIEW MVA_REPRES_DISTRIB AS
    SELECT DB_TBREP_CODIGO		codRepres_REPDISTRIB,
           DB_TBREP_NOME      	nomeRepres_REPDISTRIB,
		   DB_TBREP_CNPJ     	cgcmfRepres_REPDISTIB
      FROM DB_TB_REPRES
     WHERE DB_TBREP_DISTRIBORC = 1
