ALTER VIEW MVA_CONCEITOSLUCRAFAIXAS AS
SELECT DB_CONL_CODIGO     CONCEITOLUCRATIVIDADE_COLUCF,
DB_CONL_SEQ        SEQUENCIA_COLUCF,
DB_CONL_FXINI      FAIXAINICIAL_COLUCF,
DB_CONL_FXFIN      FAIXAFINAL_COLUCF,
DB_CONL_CONCEITO   CONCEITO_COLUCF,
DB_CONL_DESCR      DESCRICAO_COLUCF,
DB_CONL_SITPED     SITUACAO_COLUCF,
DB_CONL_COR        COR_COLUCF,
DB_CONL_PESO       PESO_COLUCF,
DB_CONL_PRODUTO    PRODUTO,
DB_CONL_FAMILIA    FAMILIA,
DB_CONL_TIPOPRD    TIPOPRODUTO,
DB_CONL_MARCA	   MARCA,
DB_CONL_GRUPO	   GRUPOPROD
FROM DB_CONC_LUCRAT_FX,
MVA_CONCEITOSLUCRATIVIDADE COM
WHERE COM.CODIGO_CONLUC = DB_CONL_CODIGO
