ALTER VIEW  MVA_IMAGENSITENSCONFIG AS
SELECT CODIGO               codigo_ITCONF,
	   DESCRICAO        	descricao_ITCONF,
	   DATA_ATUALIZACAO     dataalter
  FROM DB_IMAGEM_ITEM_CONFIG
 WHERE EXCLUIDO <> 1
