ALTER VIEW MVA_RAMOSATIVLUCRATIVIDADE AS
SELECT DB_RAMC_RAMO			RAMO_RAMOLUC,
DB_RAMC_SEQ				SEQUENCIA_RAMOLUC,
DB_RAMC_FXINI			FAIXAINICIAL_RAMOLUC,
DB_RAMC_FXFIN			FAIXAFINAL_RAMOLUC,
DB_RAMC_CONCEITO		CONCEITO_RAMOLUC,
DB_RAMC_DESCR			DESCRICAO_RAMOLUC,
DB_RAMC_SITPED			SITUACAOPEDIDO_RAMOLUC,
DB_RAMC_COR	            COR_RAMOLUC
FROM DB_RAMO_CONCLUCR, MVA_RAMOSATIVIDADES RA
WHERE RA.CODIGO_RAMO = DB_RAMC_RAMO
AND (SELECT ISNULL(DB_PRM_LCPED_ANAL, 0) FROM DB_PARAMETRO) <> 0
