ALTER VIEW MVA_CLIENTESALTERADOS AS
 SELECT CLIENTE_ANTIGO		CLIENTEANTIGO_CLIAL,
		CLIENTE_NOVO		CLIENTENOVO_CLIAL,
		USUARIO				USUARIO_CLIAL,
		USUARIO				USUARIO
   FROM DB_CLIENTE_ALTERA
  WHERE TRANSMITIDO = 0
