ALTER VIEW MVA_SUGESTAOVENDA  AS
SELECT SV30_VISAO      VISAO_SUGVDA,
SV30_ESTVDAID  NIVEL_SUGVDA,
SV30_ANO       ANO_SUGVDA,
SV30_MES       MES_SUGVDA,
SV30_DIA       DIA_SUGVDA,
SV30_SEQ       SEQUENCIA_SUGVDA,
SV30_DTFIM     DATAFINAL_SUGVDA,
SV30_CODMIX    MIX_SUGVDA,
SV30_SUGQTD    SUGESTAOQUANTIDADE_SUGVDA,
SV30_SUGVLR    SUGESTAOVALOR_SUGVDA,
SV30_FATQTD    FATURADOQUANTIDADE_SUGVDA,
SV30_FATVLR    FATURADOVALOR_SUGVDA,
SV30_PEDQTD    PEDIDOQUANTIDADE_SUGVDA,
SV30_PEDVLR    PEDIDOVALOR_SUGVDA,
SV30_PERC      PERCENTUAL_SUGVDA,
SV30_DATAALTER dataAtualizacao_SUGVDA,
usu.USUARIO
FROM MSV30, DB_TB_REPRES, db_usuario usu
WHERE DB_TBREP_VISAO     = MSV30.SV30_VISAO
AND DB_TBREP_ESTVDAID  = MSV30.SV30_ESTVDAID
AND MSV30.SV30_DTFIM  >= GETDATE()
and exists (select 1 from MVA_REPRESENTANTES where DB_TBREP_CODIGO  = CODIGO_REPRES and usu.usuario = MVA_REPRESENTANTES.USUARIO)
