ALTER VIEW MVA_CLIENTESAGENDAMENTOS AS
 SELECT CLIENTE			cliente_CLIA,
		EMPRESA			empresa_CLIA,
		AGENDA_ENTREGA	agendaEntrega_CLIA,
		MVA_CLIENTE.USUARIO
   FROM DB_CLIENTE_AGENDAENT,
        MVA_CLIENTE
  WHERE CODIGO_CLIEN = CLIENTE
