ALTER VIEW MVA_ORCAMENTOS AS
with situacaoParam as (select db_prms_valor situacao from DB_PARAM_SISTEMA where db_prms_id = 'MOB_SITUACAOORCRETORNO')
 select 
		DB_ORC_NUMERO			numero_ORC,
		DB_ORC_DATA 			dataEmissao_ORC,
		DB_ORC_CLIENTE			cliente_ORC,
		DB_ORC_EMPRESA			empresa_ORC,
		DB_ORC_PEDIDO			pedido_ORC,
		DB_ORC_REPRES			representante_ORC,
		DB_ORC_OPERACAO			operacaoVenda_ORC,
		DB_ORC_COND_PGTO		condicaoPagamento_ORC,
		DB_ORC_PRAZO_PRECO		prazoPreco_ORC,
		DB_ORC_COMISI 			comissaoInformada_ORC,
		DB_ORC_COMISO			comissaoCalculada_ORC,
		DB_ORC_MOD_COMIS		modoComissao_ORC,
		DB_ORC_ORD_COMPRA		ordemCompra_ORC,
		DB_ORC_PORTADOR			portador_ORC,
		DB_ORC_VENDOR			vendor_ORC,
		DB_ORC_CPGTO_VEND		condicaoPagamentoVendor_ORC,
		DB_ORC_TAXA_FIN			taxaFinanceira_ORC,
		DB_ORC_TIPOPED			tipo_ORC,
		DB_ORC_PREV_ENTREG 		data1_ORC,
		DB_ORC_DT_PREVEFET 		previsaoEfetivacao_ORC,
		DB_ORC_DATA_EXPIRA 		dataValidade_ORC,
		DB_ORC_FORMA_PGTO		formaPagamento_ORC,
		DB_ORC_OPC_FATUR		opcaoFaturamento_ORC,
		DB_ORC_DIASPARC1		numeroDiasParc1_ORC,
		DB_ORC_TIPO_FRETE		tipoFrete_ORC,
		DB_ORC_PERC_FRETE		taxaFrete_ORC,
		DB_ORC_COD_TRANSP		transportador_ORC,
		DB_ORC_COD_REDESP		redespacho_ORC,
		DB_ORC_REDESP			redespachoTXT_ORC,
		DB_ORC_REDESP2			redespachoII_ORC,
		DB_ORC_CIDADE_REDESP	cidadeRedespacho_ORC,
		DB_ORC_UF_REDESP		ufRedespacho_ORC,
		DB_ORC_ENT_ENDER		enderecoEntrega_ORC,
		DB_ORC_ENT_BAIRRO		bairroEntrega_ORC,
		DB_ORC_ENT_CEP			cepEntrega_ORC,
		DB_ORC_ENT_UF			estadoEntrega_ORC,
		DB_ORC_ENT_CIDADE		cidadeEntrega_ORC,
		DB_ORC_ENT_RAZAO		razaoSocialEntrega_ORC,
		DB_ORC_ENT_CGCMF		cnpjEntrega_ORC,
		DB_ORC_ENT_CGCTE		inscricaoEstadualEntrega_ORC,
		DB_ORC_SEQ_ENT			sequenciaEnderecoEntrega_ORC,
		DB_ORC_LPRECO			listaPreco_ORC,
		DB_ORC_MIX_VENDA		mix_ORC,
		(DB_ORC_OBSERV + isnull(DB_ORC_OBSERV1, ''))	observacoes_ORC,
		DB_ORC_TEXTO			textoNotaFiscal_ORC,
		DB_ORC_MOTIVO_BLOQ		motivosBloqueio_ORC,
		DB_ORC_SITUACAO			situacao_ORC,
		DB_ORC_VLR_FRETE		valorFrete_ORC,
		DB_ORC_COTACAO			cotacao_ORC,
		DB_ORC_DATA_ALTER		dataAlteracao_ORC,
		DB_ORC_USU_ALTER		usuarioAlteracao_ORC,
		DB_ORC_USU_CRIA			usuarioDigitacao_ORC,
		1						status_ORC,
        getdate()				dataRecebimento_ORC,
		getdate()				dataEnvio_ORC,
		isnull(orc.DB_ORC_DATA_ALTER, cast(orc.DB_ORC_DATA + '23:59:59' AS DATETIME)) dataalter,
		DB_ORC_ENT_COMPL		complementoEntrega_ORC,
		DB_ORC_ENT_PONTOREFER	pontoReferenciaEntrega_ORC,
		DB_ORC_ENT_CXPOSTAL		caixaPostalEntrega_ORC,
		DB_ORC_ENT_PAIS			paisEntrega_ORC,
		DB_ORC_ENT_TELEFONE		telefoneEntrega_ORC,
		DB_ORC_ENT_RAMAL		ramalEntrega_ORC,
		DB_ORC_COND_FRETE       condicaoFrete_ORC,
		DB_ORC_MOT_CANC         motivoCanc_ORC,
        DB_ORC_OBSERV_CANC      observacoesCanc_ORC,
        DB_ORC_DATA_CANC        dataCanc_ORC,
        DB_ORC_USU_CANC         usuarioCanc_ORC,
		DB_ORC_NVALIDA_CPGTO	naovalidaCPGTO_ORC,
		DB_ORC_TIPOTAXAFRETE    tipoTaxaFrete_ORC,
		DB_ORC_FATOR_TAXAFRETE  fatorTaxaFrete_ORC,
		DB_ORC_OBSTRANSP		observacoesLog_ORC,
		DB_ORC_PERC_FRETE_CALC  valorFreteCalc_ORC,
		DB_ORC_DISTRIB_COD		distribCod_ORC,
		DB_ORC_DISTRIB_CGCMF	distribCGCMF_ORC,
		DB_ORC_TV_CONTATO		contato_ORC,
		DB_ORC_TV_TELEFONE		telefone_ORC,
		DB_ORC_TV_RAMAL			ramal_ORC,
		DB_ORC_TV_EMAIL			email_ORC,
		DB_ORC_CONSULTOR		consultor_ORC,
		DB_ORC_MARKUP			markup_ORC,
		DB_ORC_DTDIGI           dataDigitacaoInicio_ORC,
        DB_ORC_DTDIGF           dataDigitacaoFim_ORC,
		DB_ORC_VLRSEG           valorSeguro_ORC,
		DB_ORC_PERCRESERVATEC	percReservaTecnica_ORC,
		DB_ORC_VLRDESCFINANC 	valorDescFinanceiro_ORC,
		DB_ORC_LSTDISTR		    listaDistribuidores_ORC,
		cli.usuario
   from DB_ORCAMENTO orc, 
        MVA_CLIENTE cli, 
		situacaoParam
  where cli.CODIGO_CLIEN = orc.DB_ORC_CLIENTE
    and isnull(orc.DB_ORC_DATA_ALTER, orc.DB_ORC_DATA) >= (select getdate() - cast(db_prms_valor as int) from DB_PARAM_SISTEMA where db_prms_id = 'MOB_NUMERODIASRETORCAMENTO')
	and charindex(cast(orc.DB_Orc_SITUACAO as varchar), situacaoParam.situacao) > 0
	and DB_ORC_REPRES in (select CODIGO_REPRES from mva_representantes where mva_representantes.usuario = cli.usuario)
