ALTER VIEW MVA_ATIVIDADES_ETAPA AS
 select FLU.CODIGO_FLUXO			fluxo_ATVET,
		FLU.CODIGO_ETAPA			etapa_ATVET,
		FLU.CODIGO_ATIVIDADE		atividade_ATVET,
		FLU.ORDEM					ordem_ATVET,
		FLU.NOME					nome_ATVET,
		FLU.NOME_ETAPA				nomeEtapa_ATVET,
		FLU.TIPOS_PERMITIDOS		tiposPermitidos_ATVET,
		FLU.PERMISSAO_EDICAO		permissaoEdicao_ATVET,
		FLU.PERMISSAO_VISUALIZACAO	permissaoVisualizacao_ATVET,
		PREVISAO_ESFORCO			previsaoEsforco_ATVET,
		PREVISAO_PRAZO				previsaoPrazo_ATVET,
		TEL.USUARIO
   from DB_FLU_ETA_ATIVIDADES		FLU
      , MVA_TELAS					TEL
	  , DB_FLU_ETA_ATIV_RESPON		RES
	  , DB_USUARIO					USU
  WHERE FLU.CODIGO_FLUXO = TEL.FLUXO_TELA
    AND USU.USUARIO = TEL.USUARIO
	AND RES.CODIGO_FLUXO = FLU.CODIGO_FLUXO
	AND RES.CODIGO_ETAPA = FLU.CODIGO_ETAPA
	AND RES.CODIGO_ATIVIDADE = FLU.CODIGO_ATIVIDADE
    AND (RES.USUARIO = USU.CODIGO OR (RES.USUARIO = 0 AND EXISTS (SELECT * FROM DB_OC_GRUPOS_USUARIOS GRU WHERE GRU.USUARIO = USU.CODIGO AND GRU.CODIGO_GRUPO = RES.GRUPO_USUARIO)))
