ALTER VIEW MVA_LAYOUT_SLIDE_IMAGEM AS
SELECT LSIMG.GRUPO_USUARIO 	  grupoUsuario_LSIMG,
LSIMG.SEQUENCIA 	   	  sequencia_LSIMG,
LSIMG.VALIDADE_INICIAL validadeInicial_LSIMG,
LSIMG.VALIDADE_FINAL   validadeFinal_LSIMG,
LSIMG.ORDEM 			  ordem_LSIMG,
LSIMG.EXCLUIDO 		  excluido_LSIMG,
LSIMG.DATA_ATUALIZACAO dataalter,
USU.USUARIO
FROM DB_MOB_LAYOUT_SLIDE_IMAGEM  LSIMG,
DB_USUARIO				   USU
WHERE LSIMG.GRUPO_USUARIO = USU.GRUPO_USUARIO
