ALTER VIEW MVA_PRODUTOSGRADETAM AS
 select DB_PRDGT_PRODUTO	produto_PRGRDTAM,
		DB_PRDGT_GRADE		grade_PRGRDTAM,
		DB_PRDGT_SEQ		sequencia_PRGRDTAM,
		DB_PRDGT_TAMANHO	tamanho_PRGRDTAM,
		DB_PRDGT_QTDE		quantidade_PRGRDTAM,
		DB_PRDGT_DESCR		descricao_PRGRDTAM,
		DB_PRDGT_DATAALTER  dataalter
   from DB_PROD_GRADE_TAM
