ALTER VIEW MVA_MODELOSGRADE AS
select DB_MODG_MODELO	modelo_MODGRD,
DB_MODG_GRADE	grade_MODGRD,
DB_MODG_COR		cor_MODGRD,
MVA_MODELOS.DATAALTER
from DB_MODELO_GRADE, MVA_MODELOS
where DB_MODG_MODELO = MVA_MODELOS.CODIGO_MODEL
