ALTER VIEW MVA_REGRASEMPITEMATRIB AS
SELECT RIA.CODIGO_REGRA    		CODIGOREGRA_EMPAT,
RIA.SEQUENCIA       		SEQUENCIA_EMPAT,
RIA.ATRIBUTO         	ATRIBUTO_EMPAT,
RIA.VALOR_ATRIBUTO       VALORATRIBUTO_EMPAT
FROM   DB_REGEMP_ITEM_ATRIB		RIA,
DB_REGRAS_EMP_ITEM		REI
WHERE  RIA.CODIGO_REGRA    		= REI.CODIGO
AND  REI.SITUACAO 	   		= 0
