ALTER VIEW MVA_CONSULTACANCELAMENTO  AS
select codigo					codigo_CONCAN,
nome					nome_CONCAN,
consulta				consulta_CONCAN,
coluna_cancelamento		colunaCancelamento_CONCAN,
coluna_consulta			colunaConsulta_CONCAN,
c.usuario
FROM MVA_CONSULTAS C
, DB_MOB_CONS_CANCELAMENTO
WHERE CONSULTA = CODIGO_CONSU
