ALTER VIEW MVA_PESQUISASPERGUNTAS AS
SELECT CODIGO_PESQUISA		CODIGOPESQUISA_PESPERG,
CODIGO_PERGUNTA		CODIGOPERGUNTA_PESPERG,
OBRIGATORIA			OBRIGATORIA_PESPERG,
MINIMO_FOTOS			MINIMOFOTOS_PESPERG,
MAXIMO_FOTOS			MAXIMOFOTOS_PESPERG,
LEITOR_CODBARRAS		LEITORCODBARRAS_PESPERG,
USU.USUARIO
FROM DB_PESQ_PESQUISA_PERGUNTAS PP, DB_USUARIO USU
WHERE EXISTS (SELECT 1
FROM MVA_PESQUISAS P
WHERE P.USUARIO = USU.USUARIO
AND P.CODIGO_PES = PP.CODIGO_PESQUISA)
and pp.OCULTA = 0
