ALTER VIEW MVA_CATALOGOSCAPA AS
SELECT DB_CATC_SEQUENCIA   SEQUENCIA_CAPC,
DB_CATC_CATALOGO	   CATALOGO_CAPC,
DB_CATC_TEMPLATE	   TEMPLATE_CAPC,
DB_CATC_ORDEM       ORDEM_CAPC,
DB_CATC_ESPECIDIOMA especificoIdioma_CAPC,
DB_CATC_IDIOMAS     idiomas_CAPC,
C.USUARIO,
C.DATAALTER
FROM DB_CATALOGO_CAPA, MVA_CATALOGOS C
WHERE C.CODIGO_CAT = DB_CATC_CATALOGO
