ALTER VIEW MVA_CONS_CONFIG_GRAFICO_FAIXA AS
SELECT PERCENTUAL_INICIAL	percentualInicial_COGRAF,
PERCENTUAL_FINAL	percentualFinal_COGRAF,
COR					cor_COGRAF,
CONSULTA			consulta_COGRAF,
SEQUENCIA			sequencia_COGRAF,
FORMATO_FAIXA       formatoFaixa_COGRAF,
MVA_CONSULTA_CONFIG_GRAFICO.USUARIO
FROM DB_CONS_GRAFICO_FAIXAS, MVA_CONSULTA_CONFIG_GRAFICO
WHERE CONSULTA = CONSULTA_COGRA
