ALTER VIEW MVA_ORCAMENTOITENS AS
select
DB_ORCI_ORCAMENTO		orcamento_ORCIT,
DB_ORCI_SEQUENCIA		sequencia_ORCIT,
DB_ORCI_PRODUTO			produto_ORCIT,
DB_ORCI_DESCRICAO		descricaoProduto_ORCIT,
DB_Orci_UnidMed			unidadeMedida_ORCIT,
DB_ORCI_QTDE_SOLIC		quantidadeSolicitada_ORCIT,
DB_ORCI_PRECO_UNIT 		precoBruto_ORCIT,
DB_ORCI_PRECO_LIQ		precoLiquido_ORCIT,
DB_ORCI_IPI				percentualIPI_ORCIT,
DB_ORCI_VLRIPI			valorIPI_ORCIT,
DB_ORCI_VLR_SUBST		valorST_ORCIT,
DB_ORCI_DT_PRENTR 		dataPrevisaoEntrega_ORCIT,
DB_ORCI_PERC_COMIS		comissao_ORCIT,
DB_ORCI_OPERACAO		Operacao_ORCIT,
DB_ORCI_COND_PGTO		condicaoPagamento_ORCIT,
DB_ORCI_TIPO			tipo_ORCIT,
DB_ORCI_OBRIGATORIO		obrigatorio_ORCIT,
DB_ORCI_PRECO_FIRME		precoFirme_ORCIT,
DB_ORCI_ORD_COMPRA		ordemCompra_ORCIT,
DB_ORCI_CUSTOMP			custoMateriaPrima_ORCIT,
DB_ORCI_CUSTOMO			custoMaoObra_ORCIT,
DB_ORCI_ECON_VLR		Economia_ORCIT,
DB_ORCI_MVA				Mva_ORCIT,
DB_ORCI_ICMSORIG		icmsOrigem_ORCIT,
DB_ORCI_ICMSDEST		icmsDestino_ORCIT,
DB_ORCI_ICMSDSCTO		icmsDescontado_ORCIT,
DB_ORCI_DESCTO_FISCAL	descontoFiscal_ORCIT,
DB_ORCI_DESCTOP 	    descontoItemEspecial_ORCIT,
DB_ORCI_ESPECIAL		itemEspecial_ORCIT,
DB_ORCI_BASEICMS		baseIcms_ORCIT,
DB_ORCI_BASEST			baseST_ORCIT,
DB_ORCI_OBSERV          observacao_ORCIT,
DB_ORCI_PRDCFGCAR       configuracao_ORCIT,
DB_ORCI_VLRFRETIT_RATEIO valorFreteItemRateio_ORCIT,
DB_ORCI_VLRFRETIT_RATEIO_CALC valorFreteItemRateioCalc_ORCIT,
DB_ORCI_COND_FRETE_IT	condicaoFreteItem_ORCIT,
DB_ORCI_PERC_MARKUP     percMarkup_ORCIT,
DB_ORCI_VLRUNIT_MARKUP  valorUnitMarkup_ORCIT,
DB_ORCI_VLRTOTAL_MARKUP valorTotalMarkup_ORCIT,
MVA_ORCAMENTOS.dataalter,
MVA_ORCAMENTOS.usuario
from DB_ORCAMENTO_PROD,
MVA_ORCAMENTOS
where DB_ORCI_ORCAMENTO = numero_ORC
