ALTER VIEW  MVA_ORCAMENTO_ATRIB_CP AS
SELECT ATRIB_CP.ORCAMENTO    orcamento_ORCCP,
	   ATRIB_CP.SEQ_ITEM     seqItem_ORCCP,
	   ATRIB_CP.ATRIBUTO     atributo_ORCCP,
	   ATRIB_CP.ORDEM        ordem_ORCCP,
	   ATRIB_CP.VALOR        valor_ORCCP,
	   ORC_ITEM.dataalter    dataalter,
	   ORC_ITEM.usuario      usuario
  FROM DB_ORCAMENTO_ATRIB_CP ATRIB_CP,
	   MVA_ORCAMENTOITENS   ORC_ITEM
 WHERE ATRIB_CP.ORCAMENTO = ORC_ITEM.orcamento_ORCIT
   AND ATRIB_CP.SEQ_ITEM = ORC_ITEM.sequencia_ORCIT
