ALTER VIEW  MVA_PRODUTOSQTDEPALETCLI AS
SELECT p.PRODUTO				PRODUTO_PALETCLI
     , p.CLIENTE				CLIENTE_PALETCLI
     , p.EMPRESA				EMPRESA_PALETCLI
	 , p.QUANTIDADE_NO_PALET	QUANTIDADENOPALET_PALETCLI
	 , DB_PRODUTO_USUARIO.USUARIO
  FROM DB_PRODUTO_QTDEPALET_CLI p
     , DB_PRODUTO_USUARIO
	 , DB_USUARIO        USU     
     , DB_GRUPO_USU_EMP  GRUPO_EMP
	 , DB_CLIENTE_USUARIO
 WHERE p.PRODUTO = DB_PRODUTO_USUARIO.PRODUTO
    AND USU.GRUPO_USUARIO			= GRUPO_EMP.GRUPO_USUARIO
    AND p.EMPRESA					= GRUPO_EMP.EMPRESA
    AND USU.USUARIO					= DB_PRODUTO_USUARIO.USUARIO
	AND DB_CLIENTE_USUARIO.USUARIO	= DB_PRODUTO_USUARIO.USUARIO
	AND p.CLIENTE					= DB_CLIENTE_USUARIO.CLIENTE
   UNION ALL
   SELECT p.PRODUTO				PRODUTO_PALETCLI
     , p.CLIENTE				CLIENTE_PALETCLI
     , p.EMPRESA				EMPRESA_PALETCLI
	 , p.QUANTIDADE_NO_PALET	QUANTIDADENOPALET_PALETCLI
	 , DB_PRODUTO_USUARIO.USUARIO
  FROM DB_PRODUTO_QTDEPALET_CLI p
     , DB_PRODUTO_USUARIO
	 , DB_USUARIO        USU 
	 , DB_CLIENTE_USUARIO
 WHERE p.PRODUTO = DB_PRODUTO_USUARIO.PRODUTO  
   AND USU.USUARIO	= DB_PRODUTO_USUARIO.USUARIO
   AND DB_CLIENTE_USUARIO.USUARIO	= DB_PRODUTO_USUARIO.USUARIO
   AND p.CLIENTE					= DB_CLIENTE_USUARIO.CLIENTE
   AND NOT EXISTS (SELECT 1 FROM DB_GRUPO_USU_EMP GRUPO_EMP WHERE USU.GRUPO_USUARIO	    = GRUPO_EMP.GRUPO_USUARIO)
