ALTER VIEW MVA_CAMPOSDEVOLUCAO AS
SELECT  DEV.GRUPO_USUARIO   GRUPOUSUARIO_CAMPODEV,
ABA                 ABA_CAMPODEV,
AREA                AREA_CAMPODEV,
CAMPO               CAMPO_CAMPODEV,
COLUNA              COLUNA_CAMPODEV,
ORDEM               ORDEM_CAMPODEV,
LABEL               LABEL_CAMPODEV,
OBRIGATORIO         OBRIGATORIO_CAMPODEV,
EDITAVEL            EDITAVEL_CAMPODEV,
DESTAQUE            DESTAQUE_CAMPODEV,
TIPO_COMPONENTE     TIPOCOMPONENTE_CAMPODEV,
TAMANHO             TAMANHO_CAMPODEV,
COR_FONTE           CORFONTE_CAMPODEV,
COR_FUNDO           CORFUNDO_CAMPODEV,
TIPO_CAMPO          TIPOCAMPO_CAMPODEV,
USU.USUARIO
FROM DB_MOB_CAMPOS_DEVOLUCAO DEV,
DB_USUARIO USU,
MVA_AREASABASDEVOLUCAO VA
WHERE DEV.GRUPO_USUARIO = USU.GRUPO_USUARIO
AND VA.ABA_AREADEV = DEV.ABA
AND VA.AREA_AREADEV = DEV.AREA
AND VA.USUARIO = USU.USUARIO
