ALTER VIEW MVA_CLIENTEREFERENCIAS AS
SELECT 	CLIENTE                 CLIENTE_CLREF,
ID                      SEQUENCIA_CLREF,
TIPO                    TIPO_CLREF,
REFERENCIA              REFERENCIA_CLREF,
CIDADE                  CIDADE_CLREF,
TELEFONE                TELEFONE_CLREF,
VOLUME_MES_COMPRAS      VOLUMEMENSALCOMPRAS_CLREF,
PERFIL_PAGAMENTO        PERFILPAGAMENTO_CLREF,
CREDITO                 CREDITO_CLREF,
IMPORTANCIA             IMPORTANCIA_CLREF,
0                       MOBILE_CLREF ,
AGENCIA                 AGENCIA_CLREF,
CLI.USUARIO
FROM DB_CLIENTE_REFERENCIA,
MVA_CLIENTE CLI
WHERE CLI.CODIGO_CLIEN = CLIENTE
