---------------------------------------------------------------------------------------------------
-- VERSAO	DATA		AUTOR			ALTERACAO
-- 1.0001	15/10/2012	TIAGO PRADELLA	CRIACAO
-- 1.0001   22/04/2013  tiago           mudado o filtro da operancao de venda trazendo o conteudo da view
--										menos a condi��o de ativa
-- 1.0002   26/11/2013  tiago           retirado filtro do campo DB_TBOPSR_UF_ORIG, alterado validacao do filtro DB_TBOPSR_UF_DEST
-- 1.0003   13/01/2016  tiago           valida campos null
-- 1.0004   20/01/2016  Ricardo         tratamento dos campos null no select
---------------------------------------------------------------------------------------------------
ALTER VIEW MVA_OPERACOESREFERENCIA_V4 AS
SELECT DB_TB_OPERS_REFER.DB_TBOPSR_SEQ			SEQUENCIA_OPREF,
       DB_TB_OPERS_REFER.DB_TBOPSR_OPER_REF		CODIGOOPERACAO_OPREF,
       DB_TB_OPERS_REFER.DB_TBOPSR_CLIENTE		CLIENTE_OPREF,
	   CASE WHEN ISNULL(DB_TBOPSR_RAMO, '') = '' OR DB_TBOPSR_RAMO = '' THEN '0' ELSE DB_TBOPSR_RAMO END RAMO_OPREF,
       --DB_TB_OPERS_REFER.DB_TBOPSR_RAMO			RAMO_OPREF,
	   CASE WHEN ISNULL(DB_TBOPSR_FAMILIA, '') = '' OR DB_TBOPSR_FAMILIA = '' THEN '0' ELSE DB_TBOPSR_FAMILIA END FAMILIA_OPREF,
       --DB_TB_OPERS_REFER.DB_TBOPSR_FAMILIA		FAMILIA_OPREF,
	   CASE WHEN ISNULL(DB_TBOPSR_MARCA, '') = '' OR DB_TBOPSR_MARCA = '' THEN '0' ELSE DB_TBOPSR_MARCA END MARCA_OPREF,
       --DB_TB_OPERS_REFER.DB_TBOPSR_MARCA		MARCA_OPREF,
	   CASE WHEN ISNULL(DB_TBOPSR_GRUPO, '') = '' OR DB_TBOPSR_GRUPO = '' THEN '0' ELSE DB_TBOPSR_GRUPO END GRUPO_OPREF,
       --DB_TB_OPERS_REFER.DB_TBOPSR_GRUPO		GRUPO_OPREF,
	   CASE WHEN ISNULL(DB_TBOPSR_TPPROD, '') = '' OR DB_TBOPSR_TPPROD = '' THEN '0' ELSE DB_TBOPSR_TPPROD END TIPOPRODUTO_OPREF,
       --DB_TB_OPERS_REFER.DB_TBOPSR_TPPROD		TIPOPRODUTO_OPREF,
	   CASE WHEN ISNULL(DB_TBOPSR_PRODUTO, '') = '' OR DB_TBOPSR_PRODUTO = '' THEN '0' ELSE DB_TBOPSR_PRODUTO END PRODUTO_OPREF,
       --DB_TB_OPERS_REFER.DB_TBOPSR_PRODUTO		PRODUTO_OPREF,
	   CASE WHEN ISNULL(DB_TBOPSR_UF_ORIG, '') = '' OR DB_TBOPSR_UF_ORIG = '' THEN '0' ELSE DB_TBOPSR_UF_ORIG END UFORIGEM_OPREF,
       --DB_TB_OPERS_REFER.DB_TBOPSR_UF_ORIG		UFORIGEM_OPREF,
	   CASE WHEN ISNULL(DB_TBOPSR_OPERACAO, '') = '' OR DB_TBOPSR_OPERACAO = '' THEN '0' ELSE DB_TBOPSR_OPERACAO END OPERACAO_OPREF,
       --DB_TB_OPERS_REFER.DB_TBOPSR_OPERACAO		OPERACAO_OPREF,
	   CASE WHEN ISNULL(DB_TBOPSR_UF_DEST, '') = '' OR DB_TBOPSR_UF_DEST = '' THEN '0' ELSE DB_TBOPSR_UF_DEST END UFDESTINO_OPREF,
       --DB_TB_OPERS_REFER.DB_TBOPSR_UF_DEST		UFDESTINO_OPREF,
       DB_TB_OPERS_REFER.DB_TBOPSR_TPPESSOA		TIPOPESSOA_OPREF,
	   CASE WHEN ISNULL(DB_TBOPSR_EMPRESA, '') = '' OR DB_TBOPSR_EMPRESA = '' THEN '0' ELSE DB_TBOPSR_EMPRESA END EMPRESA_OPREF,
       --DB_TB_OPERS_REFER.DB_TBOPSR_EMPRESA		EMPRESA_OPREF,
       DB_TB_OPERS_REFER.DB_TBOPSR_SUFRAMA		SUFRAMA_OPREF,
       DB_TB_OPERS_REFER.DB_TBOPSR_CLASSFIS		CLASSFISCALPRODUTO_OPREF,
       DB_TB_OPERS_REFER.DB_TBOPSR_TPPED		TIPOPEDIDO_OPREF,
       DB_TB_OPERS_REFER.DB_TBOPSR_CONDPGTO		CONDICAOPAGAMENTO_OPREF,
       DB_TB_OPERS_REFER.DB_TBOPSR_CLASSCOM		CLASSCOMERCIALCLIENTE_OPREF,
       DB_TB_OPERS_REFER.DB_TBOPSR_CCLFIS		CLASSFISCALCLIENTE_OPREF,
       DB_TB_OPERS_REFER.DB_TBOPSR_LPRECO		LISTAPRECO_OPREF,
       DB_TB_OPERS_REFER.DB_TBOPSR_CONTRIB		CLIENTECONTRIBUINTE_OPREF,
       DB_TB_OPERS_REFER.DB_TBOPSR_CIDADE		CIDADE_OPREF,
       DB_TB_OPERS_REFER.DB_TBOPSR_PESOFTR		PESO_OPREF,
       DB_TB_OPERS_REFER.DB_TBOPSR_FATUR		TIPOFATURAMENTO_OPREF,
	   CASE WHEN ISNULL(DB_TBOPSR_CLASSPRD, '') = '' OR DB_TBOPSR_CLASSPRD = '' THEN '0' ELSE DB_TBOPSR_CLASSPRD END CLASSCOMERCIALPRODUTO_OPREF,
       --DB_TB_OPERS_REFER.DB_TBOPSR_CLASSPRD		CLASSCOMERCIALPRODUTO_OPREF,
       DB_TB_OPERS_REFER.DB_TBOPSR_TPVDAPRD		TIPOVENDA_OPREF,
       USU.USUARIO
  FROM DB_TB_OPERS_REFER,
       DB_USUARIO USU
 WHERE     
       (   DB_TBOPSR_EMPRESA IN (SELECT CODIGO_EMPRE
                                       FROM MVA_EMPRESAS
                                      WHERE USU.USUARIO = USUARIO)
            OR (DB_TBOPSR_EMPRESA = '0' or isnull(DB_TBOPSR_EMPRESA, '') = '') )
       AND (   DB_TBOPSR_TPPROD IN (SELECT CODIGO_TPPRO
                                      FROM MVA_TIPOSPRODUTO
                                     WHERE USU.USUARIO = USUARIO)
            OR (DB_TBOPSR_TPPROD = '0' or isnull(DB_TBOPSR_TPPROD, '') = '' ))
       AND (   DB_TBOPSR_FAMILIA IN (SELECT CODIGO_FAPRO
                                       FROM MVA_FAMILIASPRODUTO_V4
                                      WHERE USU.USUARIO = USUARIO)
            OR (DB_TBOPSR_FAMILIA = '0' or isnull(DB_TBOPSR_FAMILIA, '') = '') )
       AND (   DB_TBOPSR_MARCA IN (SELECT CODIGO_MAPRO
                                     FROM MVA_MARCASPRODUTO
                                    WHERE USU.USUARIO = USUARIO)
            OR (DB_TBOPSR_MARCA = '0' or isnull(DB_TBOPSR_MARCA, '') = ''))
       AND (   DB_TBOPSR_PRODUTO IN (SELECT PRODUTO
                                       FROM DB_PRODUTO_USUARIO
                                      WHERE USU.USUARIO = USUARIO)
            OR (DB_TBOPSR_PRODUTO = '0' or isnull(DB_TBOPSR_PRODUTO, '') = ''))
       --AND DB_TBOPSR_UF_ORIG IN (SELECT SIGLA_ESTAD
       --                    FROM MVA_ESTADOS
       --                    WHERE usu.usuario = usuario)
       AND (DB_TBOPSR_UF_DEST IN (SELECT SIGLA_ESTAD
                           FROM MVA_ESTADOS
                           WHERE usu.usuario = usuario) or (isnull(DB_TBOPSR_UF_DEST, '0') = '0' or (isnull(DB_TBOPSR_UF_DEST, '') = '')))
