ALTER VIEW MVA_IMAGENS_V4 as
SELECT DISTINCT
ID               ID_IMG,
DESCRICAO        DESCRICAO_IMG,
TOOLTIP          TOOLTIP_IMG,
DATA_ALTER       DATAALTER,
P.USUARIO        USUARIO
FROM DB_IMAGEM, MVA_PRODUTOSIMAGENS_V4 P
WHERE P.PRODUTO_PRIMG = ID
