---------------------------------------------------------------------------------------------------
-- VERSAO	DATA		AUTOR			ALTERACAO
-- 1.0001	21/10/2014	TIAGO PRADELLA	CRIACAO
-- 1.0002   27/10/2014  tiago           retirado campo DESCRICAOMOBILE_MIXV
---------------------------------------------------------------------------------------------------
ALTER VIEW MVA_MIX AS
 SELECT CODIGO					CODIGO_MIXV,
		DESCRICAO				DESCRICAO_MIXV,
		DATA_VALINI				DATAINI_MIXV,
		DATA_VALFIM				DATAFIM_MIXV,
		TIPO_MIX				TIPO_MIXV,
		TIPO_AVALIACAO			TIPOAVALIACAO_MIXV,
		QTDE_MINIMA				QUANTIDADEMINIMA_MIXV,
		QTDE_MAXIMA				QUANTIDADEMAXIMA_MIXV,
		VALOR_MINIMO   			VALORMINIMO_MIXV,
		PERC_DESCTO_MAXIMO		PERCENTUALDESCMAXIMO_MIXV,
		PERC_MAXBONIF			PERCENTUALMAXBONIF_MIXV,
		PERCBONIFPRECO			PERCENTUALBONIFPRECO_MIXV,
		ITENS_PEDIDO			ITENSPEDIDO_MIXV,
		isnull(VALIDA_PEDIDO_MINIMO, 0) 	VALIDAPEDIDOMINIMO_MIXV,
		isnull(BLOQUEIA_LUCRATIVIDADE, 0)	BLOQUEIALUCRATIVIDADE_MIXV,
		APLICAMIX_CAMPANHA      aplicaMixCampanha_MIXV,
		ALTERA_PRECO	        alteraPreco_MIXV,
		INFORMA_PRECO			informaPreco_MIXV
   FROM DB_MIXVENDA
  WHERE cast(DATA_VALFIM as date) >= cast(GETDATE() as date)
