---------------------------------------------------------------------------------------------------
-- VERSAO	DATA		AUTOR			 ALTERACAO
-- 1.0001	11/12/2014	TIAGO PRADELLA	 CRIACAO
-- 1.0002   19/05/2015  tiago            incluido campo empresa
-- 1.0003   23/06/2016  tiago            retirado campo percentual redespacho, nao sera mais utilizado
-- 1.0004   06/09/2016  tiago            incluido campos TAXAFRETE_TRAFRE e ADVALOREM_TRAFRE
---------------------------------------------------------------------------------------------------
ALTER VIEW MVA_TRANSPORTADORESFRETES AS
 SELECT DB_TBTRAF_COD        TRANSPORTADOR_TRAFRE,
		DB_TBTRAF_SEQ        SEQUENCIA_TRAFRE,
		DB_TBTRAF_FRETE      PERCENTUALTRANSPORTADOR_TRAFRE	,		
		DB_TBTRAF_ESTADO     UF,
		DB_TBTRAF_CIDADE     CIDADE,
		DB_TBTRAF_EMPRESA    EMPRESA,
		DB_TBTRAF_ADVALOREM  ADVALOREM_TRAFRE,
		DB_TBTRAF_TAXAFRETE  TAXAFRETE_TRAFRE,
		TR.USUARIO					
   FROM DB_TB_TRANSP_FRE, MVA_TRANSPORTADORES TR
  WHERE TR.CODIGO_TRANS = DB_TBTRAF_COD
    AND (SELECT ISNULL(DB_PRM_LCPED_ANAL, 0) FROM DB_PARAMETRO) <> 0
	union 
	 SELECT DB_TBTRAF_COD    TRANSPORTADOR_TRAFRE,
		DB_TBTRAF_SEQ        SEQUENCIA_TRAFRE,
		DB_TBTRAF_FRETE      PERCENTUALTRANSPORTADOR_TRAFRE	,		
		DB_TBTRAF_ESTADO     UF,
		DB_TBTRAF_CIDADE     CIDADE,
		DB_TBTRAF_EMPRESA    EMPRESA,
		DB_TBTRAF_ADVALOREM  ADVALOREM_TRAFRE,
		DB_TBTRAF_TAXAFRETE  TAXAFRETE_TRAFRE,
		TR.USUARIO					
   FROM DB_TB_TRANSP_FRE, MVA_TRANSPORTADORES TR
  WHERE TR.CODIGO_TRANS = DB_TBTRAF_COD    
	and exists (select * from MVA_TARIFASFRETE where usuario = TR.USUARIO and TRANSPORTADOR_TARF = DB_TBTRAF_COD )
