ALTER VIEW MVA_PRODUTOS_V4 AS
SELECT DB_PROD_CODIGO		    CODIGO_PRODU,
DB_PROD_DESCRICAO	    DESCRICAO_PRODU,
DB_PROD_UNID_MEDID	    UNIDADEMEDIDA_PRODU,
DB_PROD_QTDE_EMB		    QUANTIDADEEMBALAGEM_PRODU,
DB_PROD_IPI_INF		    TIPOIPI_PRODU,
DB_PROD_IPI			    IPI_PRODU,
DB_PROD_PESO_BRU		    PESOBRUTO_PRODU,
DB_PROD_PESO_LIQ		    PESOLIQUIDO_PRODU,
DB_PROD_VOLUME		    VOLUME_PRODU,
DB_PROD_TPPROD		    TIPO_PRODU,
DB_PROD_MARCA		    MARCA_PRODU,
DB_PROD_FAMILIA		    FAMILIA_PRODU,
DB_PROD_GRUPO		    GRUPO_PRODU,
DB_PROD_CONDPGTO		    CONDICAO_PRODU,
DB_PROD_CASASDEC         CASASDECIMAIS_PRODU,
DB_PROD_CLASFIS          CLASSIFICACAOFISCAL_PRODU,
DB_PROD_GRPITCONT        GRUPOITENSCONTROLADOS_PRODU,
DB_PROD_CLASSIF          CLASSIFICACAOCOMERCIAL_PRODU,
DB_PROD_FCEST            FATORCONVERSAO1_PRODU,
DB_PROD_FCEST1           FATORCONVERSAO2_PRODU,
DB_PROD_FCEST2           FATORCONVERSAO3_PRODU,
DB_PROD_FCEST3           FATORCONVERSAO4_PRODU,
DB_PROD_FCEST4           FATORCONVERSAO5_PRODU,
DB_PROD_TPVENDA          TIPOVENDA_PRODU,
DB_PROD_SUG_VENDA        SUGESTAOVENDA_PRODU,
DB_PROD_ACAOBXGIRO       ACAOBAIXOGIRO_PRODU,
DB_PROD_BAIXOGIRO        BAIXOGIRO_PRODU,
DB_PROD_ULT_ALTER        DATAALTER,
ISNULL(DB_PROD_PERMFRACAO, 0)   ACEITAFRACAO_PRODU,
DB_PROD_SEQORD           SEQUENCIAVISUALIZACAO_PRODU,
DB_PROD_COD_BARRA        EAN_PRODU,
DB_PROD_TGRADE           GRADE_PRODU,
ISNULL(DBO.MERCF_RETORNA_LISTA ('', 'PRODUTO', ',', DB_PROD_CODIGO), '')   LISTAEAN_PRODU,
DB_PROD_CONDPGTO         CONDICAOPAGAMENTO,
DB_PROD_RAMATIV          RAMOATIVIDADE,
DB_PROD_LSTTPPED         TIPOPEDIDO,
ISNULL(DB_PROD_EMPRESAS, '') + ISNULL(DB_PROD_EMPRESAS1,'')        EMPRESA,
DB_PROD_AGRUPA           AGRUPAMENTO_PRODU,
DB_PROD_COMPL            DESCRICAOCOMPLEMENTO_PRODU,
DB_PROD_REFER            REFERENCIA_PRODU,
DB_PROD_TOL_SUG          PERCTOLERANCIASUG_PRODU,
DB_PROD_TOL_QTDE         QTDETOLERANCIASUG_PRODU,
DB_PROD_LINPROD          LINHA_PRODU,
DB_PROD_QTDEMBCOMP       QTDEEMBCOMPLEMENTAR_PRODU,
DB_PROD_COR              COR_PRODU,
DB_PROD_DIMENSOES        DIMENSOES_PRODU,
DB_PROD_AGRUPAEMBAL      AGRUPAMENTOEMBALAGEM_PRODU,
DB_PROD_AQTDFEMB         ACEITAQTDEFORAEMBAL_PRODU,
DB_PROD_NTRIBPISC        NAOTRIBUTAPISCOFINS_PRODU,
DB_PROD_CUSTO_FIXO		CUSTOFIXO_PRODU,
DB_PROD_CUSTO_MO		    CUSTOMAOOBRA_PRODU,
DB_PROD_CUSTO            CUSTOMATERIAPRIMA_PRODU,
DB_PROD_LSTOPER          OPERACAOVENDA,
DB_PROD_GRPPRVEST        GRUPOESTOQUE_PRODU,
DB_PROD_CONFIG           CONFIGURACAO_PRODU,
DB_PROD_SITUACAO            SITUACAO_PRODU,
DB_PROD_LANCAMENTO       lancamento_PRODU,
DB_PROD_QTDE_MIN         quantidadeMinima_PRODU,
DB_PROD_ESTADOS			ESTADOS,
DB_PROD_EXCESTADOS		EXCETOESTADOS,
DB_PROD_PRVENTFOR        tipoCalculoFrete_PRODU,
DB_PROD_ESPESSURA        espessura_PRODU,
DB_PROD_CESTOQUE			controlaEstoque_PRODU,
DB_PROD_MODELO			modelo_PRODU,
DB_PROD_QTDE_MIN			qtdeMinima_PRODU,
DB_PROD_GRPPRVEST        grpprvest_PRODU,
DB_PROD_EMPRESAS			empresas_PRODU,
DB_PROD_COD_BARRA		codigoBarra_PRODU,
DB_PROD_ACRESCIMO		acrescimo_PRODU,
DB_PROD_QTDEMBALERTA		qtdeEmbAlerta_PRODU,
DB_PROD_VINCPROD			produtoVinculado_PRODU,
DB_PROD_QTDEMINEXP		quantidadeMinExp_PRODU,
DB_PROD_FIXAEXP			fixaExpositor_PRODU,
DB_PROD_LCLASSCOMCLI		CLASSCOMCLI,
DB_PROD_GRPPRVEST2		grupoEstoque2_PRODU,
USUARIO
FROM DB_PRODUTO, DB_PRODUTO_USUARIO
WHERE PRODUTO = DB_PROD_CODIGO
