ALTER VIEW MVA_SERIEGRAFICOCONSMOB  AS
 select TIPO_GRAFICO	tipoGrafico_SERIEM,
		SERIE			serie_SERIEM,
		X				x_SERIEM,
		Y				y_SERIEM,
		ORDEM			ordem_SERIEM,
		CONSULTA		consulta_SERIEM,
		VALOR_MINIMO	valorMin_SERIEM,
		VALOR_MAXIMO	valorMax_SERIEM,
		ABERTURA		abertura_SERIEM,
		FECHAMENTO		fechamento_SERIEM,
		USUARIO
   from DB_CONS_GRAFICO_MOB, MVA_CONSULTAS
  where CODIGO_CONSU = CONSULTA
