ALTER VIEW MVA_CLICONFIGFORMAPAGAMENTO as
SELECT DB_CLIR_CLIENTE     CLIENTE_CCFPG,
DB_CLIR_EMPRESA     EMPRESA_CCFPG,
DB_CLIR_REPRES      REPRESENTANTE_CCFPG,
DB_CLIR_FORMA_PGTO  FORMAPAGAMENTO_CCFPG,
r.USUARIO
FROM DB_CLIENTE_REPRES, MVA_REPRESENTANTES r
WHERE DB_CLIR_REPRES = r.CODIGO_REPRES
and isnull(DB_CLIR_FORMA_PGTO, '') <> ''
