ALTER VIEW MVA_POLITICASBONIITENSNROMAX AS
SELECT ID					id_POLBONIIBM,
       REGRA				regra_POLBONIIBM,
	   NUMERO_MAXIMO_ITENS 	numeroMaxinoItens_POLBONIIBM
  FROM DB_POLBONI_ITENS_BONI_NRO_MAX
