ALTER VIEW MVA_PORTADORES AS
SELECT DB_TBPORT_COD     CODIGO_PORTA,
DB_TBPORT_DESCR   DESCRICAO_PORTA,
DB_TBPORT_REPRES  REPRESENTANTE,
DB_TBPORT_EMPRESA EMPRESA,
usu.USUARIO
FROM DB_TB_PORT, db_usuario usu
WHERE exists (select 1 from MVA_REPRESENTANTES where (dbo.MERCF_VALIDA_LISTA(CODIGO_REPRES, DB_TB_PORT.DB_TBPORT_REPRES, 0,',') = 1 OR isnull(DB_TBPORT_REPRES, '') = ''  ) and usu.usuario = usuario)
