ALTER VIEW MVA_ATRIBCPCONTEUDO AS
SELECT ATRIBUTO								atributo_ACPCONT,
       CONTEUDO_ATRIB						conteudoAtrib_ACPCONT,
	   CONTEUDO_ATRIB_DESCRICAO				conteudoAtribDesc_ACPCONT,
	   AUX_VALOR							auxValor_ACPCONT,
	   AUX_TEXTO							auxTexto_ACPCONT,
	   ISNULL(DATA_ALTERACAO, GETDATE())	dataalter
  FROM DB_ATRIB_CP_CONTEUDO
 WHERE SITUACAO = 1
