ALTER VIEW MVA_PEDIDO_MOT_BLOQ AS
WITH P_TEMPORARIA AS (
SELECT 1 AS NRO
UNION ALL
SELECT NRO+1
FROM P_TEMPORARIA
WHERE NRO < 100
)
SELECT  DB_PEDM_PEDIDO        PEDIDO_MOBLO,
P_TEMPORARIA.NRO    IDMOTIVOBLOQUEIO_MOBLO,
(CASE P_TEMPORARIA.NRO
WHEN 1 THEN 'SITUACAOCLIENTE'
WHEN 2 THEN 'RESTRICAOCLIENTE'
WHEN 5 THEN 'ATRASOMEDIO'
WHEN 6 THEN 'SALDODISPONIVEL'
WHEN 7 THEN 'DATALIMITECREDITO'
WHEN 8 THEN 'VALORTITULOSATRASO'
WHEN 9 THEN 'VALORJUROSATRASO'
WHEN 10 THEN 'DATAULTIMACOMPRA'
WHEN 12 THEN 'PRAZOMEDIOCLIENTE'
WHEN 13 THEN 'PRAZOMAXPAGAMENTO'
WHEN 15 THEN 'VALORMINIMODUPLICATA'
WHEN 23 THEN 'OPERACAOCLIENTE'
WHEN 27 THEN 'VALORMAXBONIFICACAO'
WHEN 33 THEN 'VALORMINPEDIDO'
WHEN 34 THEN 'VALORMINFATURAMENTOCV'
WHEN 35 THEN 'VALORMINLISTAPRECO'
WHEN 36 THEN 'VALORMAXPEDOPERLOGISITICA'
WHEN 14 THEN 'PRAZOMEDIOCONDICAOVENDA'
WHEN 73 THEN 'INDCABSEMMOTIVO'
WHEN 76 THEN 'ITEMBONISEMMOTIVO'
WHEN 70 THEN 'DATAULTIMOFATURAMENTO'
ELSE ''  END)    CAMPO_MOBLO,
(CASE P_TEMPORARIA.NRO
WHEN 1 THEN CAST(DB_PEDM_SITCLI AS VARCHAR)
WHEN 2 THEN CAST(DB_PEDM_RESTRCLI AS VARCHAR)
WHEN 5 THEN CAST(DB_PEDM_ATRMED AS VARCHAR)
WHEN 6 THEN CAST(DB_PEDM_SALDDISP AS VARCHAR)
WHEN 7 THEN CAST(DB_PEDM_DTLIMCRED AS VARCHAR)
WHEN 8 THEN CAST(DB_PEDM_VDUPLATR AS VARCHAR)
WHEN 9 THEN CAST(DB_PEDM_VDUPLATR AS VARCHAR)
WHEN 10 THEN CAST(DB_PEDM_DTULTCOMP AS VARCHAR)
WHEN 12 THEN CAST(DB_PEDM_PRZMEDCLI AS VARCHAR)
WHEN 13 THEN CAST(DB_PEDM_PRZMEDPRM AS VARCHAR)
WHEN 15 THEN CAST(DB_PEDM_VDUPLMIN AS VARCHAR)
WHEN 23 THEN CAST(DB_PEDM_OPERCLI AS VARCHAR)
WHEN 27 THEN CAST(DB_PEDM_VLRMAXBON AS VARCHAR)
WHEN 33 THEN CAST(DB_PEDM_FATMINPRM AS VARCHAR)
WHEN 34 THEN CAST(DB_PEDM_FATMINCV AS VARCHAR)
WHEN 35 THEN CAST(DB_PEDM_FATMINLP AS VARCHAR)
WHEN 36 THEN CAST(DB_PEDM_FATMINTP AS VARCHAR)
WHEN 14 THEN CAST(DB_PEDM_PRZMEDCV AS VARCHAR)
WHEN 73 THEN CAST(DB_PEDM_INDCABSEMMOTIVO AS VARCHAR)
WHEN 76 THEN CAST(DB_PEDM_ITEMBONISEMMOTIVO AS VARCHAR)
WHEN 70 THEN CAST(DB_PEDM_DTULTFATUR AS VARCHAR)
ELSE '' END)   VALOR_MOBLO,
''   SEQUENCIAITENS_MOBLO,
MVA_PEDIDOS.USUARIO,
MVA_PEDIDOS.DATAALTER
FROM MVA_PEDIDOS,
DB_PEDIDO_MOTBLOQ,
P_TEMPORARIA
WHERE MVA_PEDIDOS.CODIGO_PEDID = DB_PEDIDO_MOTBLOQ.DB_PEDM_PEDIDO
AND ';' + DB_PEDM_IDBLOQ + ';' like '%;' + cast(P_TEMPORARIA.NRO as varchar) + ';%'
AND ISNULL(RTRIM(DB_PEDM_IDBLOQ), '') != ''
AND P_TEMPORARIA.NRO NOT IN(46, 49, 39)
UNION ALL
SELECT DB_PEDM_PEDIDO        PEDIDO_MOBLO,
CASE WHEN DB_PEDM_IDBLOQ LIKE '%46%' THEN 46
WHEN DB_PEDM_IDBLOQ LIKE '%49%' THEN 49
WHEN DB_PEDM_IDBLOQ LIKE '%39%' THEN 39
END  IDMOTIVOBLOQUEIO_MOBLO,
CASE WHEN DB_PEDM_IDBLOQ LIKE '%46%' AND P_TEMPORARIA.NRO = 1 THEN 'FAIXAINICIALLUCRA'
WHEN DB_PEDM_IDBLOQ LIKE '%49%' AND P_TEMPORARIA.NRO = 1 THEN 'EMPRESADOPEDIDO'
WHEN DB_PEDM_IDBLOQ LIKE '%39%' AND P_TEMPORARIA.NRO = 1 THEN 'TIPOFRETECF'
WHEN DB_PEDM_IDBLOQ LIKE '%46%' AND P_TEMPORARIA.NRO = 2 THEN 'FAIXAFINALLUCRA'
WHEN DB_PEDM_IDBLOQ LIKE '%49%' AND P_TEMPORARIA.NRO = 2 THEN 'EMPRESAPADRAO'
WHEN DB_PEDM_IDBLOQ LIKE '%39%' AND P_TEMPORARIA.NRO = 2 THEN 'TIPOFRETECF'
END CAMPO_MOBLO,
CAST(DB_PEDM_PERCL_MIN AS VARCHAR)     VALOR_MOBLO,
''   SEQUENCIAITENS_MOBLO,
MVA_PEDIDOS.USUARIO,
MVA_PEDIDOS.DATAALTER
FROM MVA_PEDIDOS
,  DB_PEDIDO_MOTBLOQ
,  P_TEMPORARIA
WHERE MVA_PEDIDOS.CODIGO_PEDID = DB_PEDIDO_MOTBLOQ.DB_PEDM_PEDIDO
AND DB_PEDM_PERCL_MIN IS NOT NULL
AND (DB_PEDM_IDBLOQ LIKE '%46%'
OR DB_PEDM_IDBLOQ LIKE '%49%'
OR DB_PEDM_IDBLOQ LIKE '%39%')
AND P_TEMPORARIA.NRO   BETWEEN 1 AND 2
AND ISNULL((SELECT DB_PRMS_VALOR FROM DB_PARAM_SISTEMA WHERE DB_PRMS_ID = 'MOB_TRANSMITE_MOTIVOS'), 'NAO') = 'SIM'
UNION ALL
SELECT DB_PEDM_PEDIDO      PEDIDO_MOBLO,
39            IDMOTIVOBLOQUEIO_MOBLO,
'TRANSPORTADORCF'    CAMPO_MOBLO,
CAST(DB_PEDM_TRANSPCF AS VARCHAR)      VALOR_MOBLO,
''   SEQUENCIAITENS_MOBLO,
MVA_PEDIDOS.USUARIO,
MVA_PEDIDOS.DATAALTER
FROM MVA_PEDIDOS,  DB_PEDIDO_MOTBLOQ
WHERE MVA_PEDIDOS.CODIGO_PEDID = DB_PEDIDO_MOTBLOQ.DB_PEDM_PEDIDO
AND DB_PEDM_TRANSPCF IS NOT NULL
AND DB_PEDM_IDBLOQ LIKE '%39%'
AND ISNULL((SELECT DB_PRMS_VALOR FROM DB_PARAM_SISTEMA WHERE DB_PRMS_ID = 'MOB_TRANSMITE_MOTIVOS'), 'NAO') = 'SIM'
