---------------------------------------------------------------------------------------------------
-- VERSAO	DATA		AUTOR			ALTERACAO
-- 1.0001	06/02/2012	TIAGO PRADELLA	CRIACAO
-- 1.0002   28/11/2013  TIAGO           INCLUIDO CAMPO DE BLOQUEIO
-- 1.0003   15/08/2014  tiago           incluido campo tipo
---------------------------------------------------------------------------------------------------
ALTER VIEW MVA_OBSERVACOESCREDITO AS
SELECT CR03_CLIENTE				 CLIENTE_OBSCR,
	   CR03_SEQ					 SEQUENCIA_OBSCR,
	   CR03_DATA				 DATA_OBSCR,
	   CR03_USUARIO				 USUARIO_OBSCR,
       RTRIM(LTRIM(CR03_OBSERV)) DESCRICAO_OBSCR,
	   CR03_BLOQUEIO			 BLOQUEIO_OBSCR,
	   CR03_TIPO				 TIPO_OBSCR,
	   CR03_OBSERV_PED			 OBSERVACAOPEDIDO_OBSCR,
	   CR03_OBSERV_NOTA			 OBSERVACAONOTA_OBSCR,
	   USU.USUARIO				 USUARIO
FROM MCR03, DB_USUARIO  USU
WHERE CR03_CLIENTE IN (SELECT CODIGO_CLIEN FROM MVA_CLIENTE WHERE USUARIO = USU.USUARIO)
