ALTER VIEW MVA_POLITICASBONIFILTROSPROD AS
SELECT POLITICA                    POLITICA_POLBONIF,
FILTRO					   FILTRO_POLBONIF,
NOME						   NOME_POLBONIF,
TIPO						   TIPO_POLBONIF,
CODIGO					   CODIGO_POLBONIF,
SUBCODIGO				   SUBCODIGO_POLBONIF,
QUANTIDADE_MINIMA		   QUANTIDADEMINIMA_POLBONIF,
QUANTIDADE_MAXIMA		   QUANTIDADEMAXIMA_POLBONIF,
VALOR_MINIMO				   VALORMINIMO_POLBONIF,
VALOR_MAXIMO				   VALORMAXIMO_POLBONIF,
NUMERO_MINIMO_FILTROS	   NUMEROMINIMOFILTROS_POLBONIF,
VALOR_UNIT_MINIMO	       VALORUNITMINIMO_POLBONIF,
VALOR_UNIT_MAXIMO	       VALORUNITMAXIMO_POLBONIF,
VALOR_PEDIDO	               VALORPEDIDO_POLBONIF,
INDICE_DESC_ITEM            INDICEDESCITEM_POLBONIF,
AVALIA_INDICE_SEM_VALOR     AVALIAINDSEMVALOR_POLBONIF,
INDICE_DESC_ITEM_SEM_VALOR  INDDESCITEMSEMVALOR_POLBONIF
FROM DB_POLBONI_FILTROS_PROD
WHERE EXISTS (SELECT 1
FROM MVA_POLITICASBONIPRINCIPAL
WHERE POLITICA = POLITICA_POLBONI)
