---------------------------------------------------------------------------------------------------
-- VERSAO	DATA		AUTOR			ALTERACAO
-- 1.0001	27/05/2016	TIAGO PRADELLA	CRIACAO
---------------------------------------------------------------------------------------------------
ALTER VIEW MVA_PERGUNTASPARAPESQUISAS AS
SELECT P.CODIGO				  CODIGO_PESPER,
       P.IDENTIFICADOR		  IDENTIFICADOR_PESPER,
	   P.PERGUNTA			  PERGUNTA_PESPER,
	   P.DESCRICAO			  DESCRICAO_PESPER,
	   P.VINCULADO_PRODUTO	  VINCULADOPRODUTO_PESPER,
	   P.TIPO_RESPOSTA		  TIPORESPOSTA_PESPER,
	   P.TAMANHO_RESPOSTA	  TAMANHORESPOSTA_PESPER,
	   P.NUMERO_DECIMAIS	  NUMERODECIMAIS_PESPER,
	   P.ALINHAMENTO_RESPOSTA ALINHAMENTORESP_PESPER,
	   CASE WHEN P.IMAGEM_ILUSTRATIVA IS NOT NULL THEN 1 ELSE 0 END AS IMAGEMILUSTRATIVA_PESPER, 
	   USU.USUARIO
  FROM DB_PESQ_PERGUNTAS P, DB_USUARIO USU
 WHERE EXISTS (SELECT 1
                 FROM MVA_PESQUISASPERGUNTAS
			    WHERE CODIGOPERGUNTA_PESPERG = P.CODIGO
				  AND USU.USUARIO = MVA_PESQUISASPERGUNTAS.USUARIO)
