
--
-- Descricao: Gera relatorio de DRE industrial por linha de envase (dados ja previamente gerada por outra rotina)
-- Autor....: Robert Koch
-- Data.....: julho/2019
--
-- Historico de alteracoes:
-- 18/08/2019 - Robert - Passa a trabalhar com 'ID de analise' para permitir usar a mesma tabela para dados de diferentes analises.
-- 31/03/2020 - Robert - Criado grupo 3.5 (verbas) e suas subdivisoes.
-- 02/04/2020 - Robert - Grupo 3.5 nao estava sendo somado na composicao do 3.0
-- 12/04/2021 - Robert - Descritivo do grupo 3.5 alterado de 'VERBAS (REALIZADO)' para 'VERBAS' (GLPI 9802).
--                     - Descritivo do grupo 4.1.0 alterado de 'DESP.COML S/ RL' para 'DESP.ADM S/RL' (GLPI 9802).
-- 14/07/2023 - Robert - Criada linha 9.0 (Titulos recebidos) - GLPI 13907
--

-- dica de como passar tabela por parametro:  https://www.dirceuresende.com/blog/sql-server-como-passar-uma-tabela-como-parametro-para-stored-procedures-e-funcoes/

ALTER FUNCTION [dbo].[FDRE_INDL_LINCOM]
		-- PARAMETROS DE CHAMADA
		(@IN_ID_ANALISE INT
		,@FILINI VARCHAR (2)
		,@FILFIM VARCHAR (2)
		,@CLIBASEINI VARCHAR (6)
		,@LOJABASEINI VARCHAR (2)
		,@CLIBASEFIM VARCHAR (6)
		,@LOJABASEFIM VARCHAR (2)
		)

RETURNS @RET TABLE 
		(GRUPO varchar (10)
		,DESCRITIVO varchar (100)
		,SUCO_INTEGRAL FLOAT
		,ORGANICO FLOAT
		,SUCO_100 FLOAT
		,NECT_BEBID FLOAT
		,PREPARADOS FLOAT
		,VINHO_FINO FLOAT
		,ESPUMANTE FLOAT
		,VINHO_MESA FLOAT
		,FRISANTE FLOAT
		,FILTRADO FLOAT
		,SAGU_QUENTAO FLOAT
		,INDUSTRIALIZ FLOAT
		,REVENDA FLOAT
		,GRANEL FLOAT
		,OUTRAS FLOAT
		)

AS
BEGIN
	DECLARE @DATAINI      VARCHAR (8) = (SELECT DATA_INI_NF    FROM DRE_INDL WHERE ID_ANALISE = @IN_ID_ANALISE)
	DECLARE @DATAFIM      VARCHAR (8) = (SELECT DATA_FIM_NF    FROM DRE_INDL WHERE ID_ANALISE = @IN_ID_ANALISE)
	DECLARE @FORMA_RATEIO VARCHAR (1) = (SELECT FORMA_RATEIO   FROM DRE_INDL WHERE ID_ANALISE = @IN_ID_ANALISE)
	DECLARE @MESINI       VARCHAR (7) = SUBSTRING (@DATAINI, 5, 2) + '/' + SUBSTRING (@DATAINI, 1, 4);
	DECLARE @MESFIM       VARCHAR (7) = SUBSTRING (@DATAFIM, 5, 2) + '/' + SUBSTRING (@DATAFIM, 1, 4);


;WITH DADOS AS (  -- FILTRO INICIAL
	SELECT * FROM DRE_INDL_ITENS
	WHERE ID_ANALISE = @IN_ID_ANALISE
		AND FILIAL BETWEEN @FILINI AND @FILFIM
		AND CLIBASE + LOJABASE BETWEEN @CLIBASEINI + @LOJABASEINI AND @CLIBASEFIM + @LOJABASEFIM

), PIVOTAGEM AS  -- MONTA CONSULTA COM PIVOTAGEM
(
SELECT '0.1' AS GRUPO, 'LITRAGEM FATURADA' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN QTLITROS ELSE 0 END) AS COL01
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN QTLITROS ELSE 0 END) AS COL02
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN QTLITROS ELSE 0 END) AS COL03
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN QTLITROS ELSE 0 END) AS COL04
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN QTLITROS ELSE 0 END) AS COL05
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN QTLITROS ELSE 0 END) AS COL06
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN QTLITROS ELSE 0 END) AS COL07
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN QTLITROS ELSE 0 END) AS COL08
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN QTLITROS ELSE 0 END) AS COL09
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN QTLITROS ELSE 0 END) AS COL10
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN QTLITROS ELSE 0 END) AS COL11
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN QTLITROS ELSE 0 END) AS COL12
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN QTLITROS ELSE 0 END) AS COL13
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN QTLITROS ELSE 0 END) AS COL_N
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN QTLITROS ELSE 0 END) AS COL14
FROM DADOS
WHERE F4_MARGEM = '1'

UNION ALL SELECT '0.2' AS GRUPO, 'LITRAGEM BONIFICADA' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN QTLITROS ELSE 0 END) AS COL01
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN QTLITROS ELSE 0 END) AS COL02
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN QTLITROS ELSE 0 END) AS COL03
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN QTLITROS ELSE 0 END) AS COL04
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN QTLITROS ELSE 0 END) AS COL05
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN QTLITROS ELSE 0 END) AS COL06
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN QTLITROS ELSE 0 END) AS COL07
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN QTLITROS ELSE 0 END) AS COL08
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN QTLITROS ELSE 0 END) AS COL09
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN QTLITROS ELSE 0 END) AS COL10
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN QTLITROS ELSE 0 END) AS COL11
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN QTLITROS ELSE 0 END) AS COL12
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN QTLITROS ELSE 0 END) AS COL13
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN QTLITROS ELSE 0 END) AS COL_N
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN QTLITROS ELSE 0 END) AS COL14
FROM DADOS
WHERE F4_MARGEM = '3'

UNION ALL SELECT '1.0' AS GRUPO, 'FAT.BRUTO FL. ' + @FILINI + CASE WHEN @FILFIM != @FILINI THEN ' a ' + @FILFIM ELSE '' END + ' - ' + @MESINI + ' A ' + @MESFIM + ' (RAT.' + CASE @FORMA_RATEIO WHEN 'L' THEN 'LITRAG' WHEN 'V' THEN 'VALOR' ELSE @FORMA_RATEIO END + ')' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN VALORNF ELSE 0 END) AS COL01
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN VALORNF ELSE 0 END) AS COL02
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN VALORNF ELSE 0 END) AS COL03
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN VALORNF ELSE 0 END) AS COL04
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN VALORNF ELSE 0 END) AS COL05
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN VALORNF ELSE 0 END) AS COL06
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN VALORNF ELSE 0 END) AS COL07
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN VALORNF ELSE 0 END) AS COL08
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN VALORNF ELSE 0 END) AS COL09
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN VALORNF ELSE 0 END) AS COL10
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN VALORNF ELSE 0 END) AS COL11
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN VALORNF ELSE 0 END) AS COL12
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN VALORNF ELSE 0 END) AS COL13
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN VALORNF ELSE 0 END) AS COL_N
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN VALORNF ELSE 0 END) AS COL14
FROM DADOS
WHERE F4_MARGEM = '1'

UNION ALL SELECT '1.0.0.1' AS GRUPO, 'VALOR MERCADORIAS'
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN VALORMERC ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN VALORMERC ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN VALORMERC ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN VALORMERC ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN VALORMERC ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN VALORMERC ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN VALORMERC ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN VALORMERC ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN VALORMERC ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN VALORMERC ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN VALORMERC ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN VALORMERC ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN VALORMERC ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN VALORMERC ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN VALORMERC ELSE 0 END)
FROM DADOS
WHERE F4_MARGEM = '1'

UNION ALL SELECT '1.1' AS GRUPO ,'DEVOLUCOES' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN VALORNF ELSE 0 END) * -1
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN VALORNF ELSE 0 END) * -1
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN VALORNF ELSE 0 END) * -1
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN VALORNF ELSE 0 END) * -1
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN VALORNF ELSE 0 END) * -1
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN VALORNF ELSE 0 END) * -1
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN VALORNF ELSE 0 END) * -1
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN VALORNF ELSE 0 END) * -1
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN VALORNF ELSE 0 END) * -1
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN VALORNF ELSE 0 END) * -1
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN VALORNF ELSE 0 END) * -1
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN VALORNF ELSE 0 END) * -1
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN VALORNF ELSE 0 END) * -1
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN VALORNF ELSE 0 END) * -1
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN VALORNF ELSE 0 END) * -1
FROM DADOS
WHERE F4_MARGEM = '2'

UNION ALL SELECT '1.2' AS GRUPO ,'IMPOSTOS' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
FROM DADOS

UNION ALL SELECT '1.2.1.0' AS GRUPO ,'IMPOSTOS NF' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
FROM DADOS

UNION ALL SELECT '1.2.1.1' AS GRUPO ,'IMPOSTOS RATEIO' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
FROM DADOS

UNION ALL SELECT  '2.0' AS GRUPO, 'CPV TOTAL (B)' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
FROM DADOS

UNION ALL SELECT  '2.0.1' AS GRUPO, 'CPV NOTAS FISCAIS' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
FROM DADOS


UNION ALL SELECT  '2.0.2' AS GRUPO, 'CPV RATEIO' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
FROM DADOS


UNION ALL SELECT '2.1.1' AS GRUPO ,'MAT.EMBALAGEM (C)' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN CUSTO_TOT_ME ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN CUSTO_TOT_ME ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN CUSTO_TOT_ME ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN CUSTO_TOT_ME ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN CUSTO_TOT_ME ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN CUSTO_TOT_ME ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN CUSTO_TOT_ME ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN CUSTO_TOT_ME ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN CUSTO_TOT_ME ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN CUSTO_TOT_ME ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN CUSTO_TOT_ME ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN CUSTO_TOT_ME ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN CUSTO_TOT_ME ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN CUSTO_TOT_ME ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN CUSTO_TOT_ME ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.1.3' AS GRUPO ,'MAT.AUXILIARES' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.1.3.1' AS GRUPO ,'MAT.AUXILIARES RATEIO' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.1.4' AS GRUPO ,'MO TERCEIROS' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN CUSTO_TOT_BN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN CUSTO_TOT_BN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN CUSTO_TOT_BN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN CUSTO_TOT_BN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN CUSTO_TOT_BN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN CUSTO_TOT_BN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN CUSTO_TOT_BN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN CUSTO_TOT_BN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN CUSTO_TOT_BN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN CUSTO_TOT_BN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN CUSTO_TOT_BN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN CUSTO_TOT_BN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN CUSTO_TOT_BN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN CUSTO_TOT_BN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN CUSTO_TOT_BN ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.1.5' AS GRUPO ,'PERDAS (D)' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN CUSTO_TOT_PERDAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN CUSTO_TOT_PERDAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN CUSTO_TOT_PERDAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN CUSTO_TOT_PERDAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN CUSTO_TOT_PERDAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN CUSTO_TOT_PERDAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN CUSTO_TOT_PERDAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN CUSTO_TOT_PERDAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN CUSTO_TOT_PERDAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN CUSTO_TOT_PERDAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN CUSTO_TOT_PERDAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN CUSTO_TOT_PERDAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN CUSTO_TOT_PERDAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN CUSTO_TOT_PERDAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN CUSTO_TOT_PERDAS ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.2' AS GRUPO ,'GASTOS INDUSTRIAIS (E)' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.2.0.1' AS GRUPO ,'GASTOS INDUSTRIAIS ANTES DISTRIB' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN GASTOS_INDL ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN GASTOS_INDL ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN GASTOS_INDL ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN GASTOS_INDL ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN GASTOS_INDL ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN GASTOS_INDL ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN GASTOS_INDL ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN GASTOS_INDL ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN GASTOS_INDL ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN GASTOS_INDL ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN GASTOS_INDL ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN GASTOS_INDL ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN GASTOS_INDL ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN GASTOS_INDL ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN GASTOS_INDL ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.2.0.2' AS GRUPO ,'GASTOS INDUSTRIAIS DISTRIBUIDOS' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN GASTOS_INDL_RATEIO ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.2.1' AS GRUPO ,'COM PESSOAL' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN GASTOS_PESSOAL ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN GASTOS_PESSOAL ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN GASTOS_PESSOAL ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN GASTOS_PESSOAL ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN GASTOS_PESSOAL ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN GASTOS_PESSOAL ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN GASTOS_PESSOAL ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN GASTOS_PESSOAL ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN GASTOS_PESSOAL ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN GASTOS_PESSOAL ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN GASTOS_PESSOAL ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN GASTOS_PESSOAL ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN GASTOS_PESSOAL ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN GASTOS_PESSOAL ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN GASTOS_PESSOAL ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.2.3' AS GRUPO ,'ALUGUEIS TETRA' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.2.4' AS GRUPO ,'CREDITOS TETRA' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.2.5' AS GRUPO ,'MANUTENCAO' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN GASTOS_MANUT ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN GASTOS_MANUT ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN GASTOS_MANUT ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN GASTOS_MANUT ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN GASTOS_MANUT ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN GASTOS_MANUT ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN GASTOS_MANUT ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN GASTOS_MANUT ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN GASTOS_MANUT ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN GASTOS_MANUT ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN GASTOS_MANUT ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN GASTOS_MANUT ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN GASTOS_MANUT ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN GASTOS_MANUT ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN GASTOS_MANUT ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.2.7' AS GRUPO ,'COMBUST.E LUBRIF' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN GASTOS_COMBUST ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN GASTOS_COMBUST ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN GASTOS_COMBUST ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN GASTOS_COMBUST ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN GASTOS_COMBUST ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN GASTOS_COMBUST ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN GASTOS_COMBUST ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN GASTOS_COMBUST ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN GASTOS_COMBUST ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN GASTOS_COMBUST ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN GASTOS_COMBUST ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN GASTOS_COMBUST ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN GASTOS_COMBUST ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN GASTOS_COMBUST ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN GASTOS_COMBUST ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.2.8' AS GRUPO ,'EN.ELETRICA' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN GASTOS_EN_ELET ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN GASTOS_EN_ELET ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN GASTOS_EN_ELET ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN GASTOS_EN_ELET ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN GASTOS_EN_ELET ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN GASTOS_EN_ELET ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN GASTOS_EN_ELET ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN GASTOS_EN_ELET ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN GASTOS_EN_ELET ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN GASTOS_EN_ELET ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN GASTOS_EN_ELET ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN GASTOS_EN_ELET ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN GASTOS_EN_ELET ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN GASTOS_EN_ELET ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN GASTOS_EN_ELET ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.2.9' AS GRUPO ,'OUTRAS' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.1' AS GRUPO ,'BONIFICACOES' AS DESCRITIVO
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'A' THEN CUSTO + BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'B' THEN CUSTO + BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'C' THEN CUSTO + BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'D' THEN CUSTO + BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'E' THEN CUSTO + BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'F' THEN CUSTO + BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'G' THEN CUSTO + BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'H' THEN CUSTO + BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'I' THEN CUSTO + BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'J' THEN CUSTO + BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'K' THEN CUSTO + BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'L' THEN CUSTO + BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'M' THEN CUSTO + BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'N' THEN CUSTO + BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN CUSTO + BONIF_RATEIO ELSE 0 END), 0)
FROM DADOS
WHERE F4_MARGEM = '3'

UNION ALL SELECT '3.1.0.1' AS GRUPO ,'BONIFICACOES ORIG' AS DESCRITIVO
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'A' THEN CUSTO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'B' THEN CUSTO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'C' THEN CUSTO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'D' THEN CUSTO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'E' THEN CUSTO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'F' THEN CUSTO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'G' THEN CUSTO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'H' THEN CUSTO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'I' THEN CUSTO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'J' THEN CUSTO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'K' THEN CUSTO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'L' THEN CUSTO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'M' THEN CUSTO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'N' THEN CUSTO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN CUSTO ELSE 0 END), 0)
FROM DADOS
WHERE F4_MARGEM = '3'

UNION ALL SELECT '3.1.0.2' AS GRUPO ,'BONIFICACOES DISTRIBUIDAS' AS DESCRITIVO
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'A' THEN BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'B' THEN BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'C' THEN BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'D' THEN BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'E' THEN BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'F' THEN BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'G' THEN BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'H' THEN BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'I' THEN BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'J' THEN BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'K' THEN BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'L' THEN BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'M' THEN BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'N' THEN BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN BONIF_RATEIO ELSE 0 END), 0)
FROM DADOS
WHERE F4_MARGEM = '3'

UNION ALL SELECT '3.2' AS GRUPO ,'RAPEL(PREV)' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.2.0.1' AS GRUPO ,'RAPEL(PREV) ANTES DISTRIB' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV) ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.2.0.2' AS GRUPO ,'RAPEL(PREV) DISTRIBUIDO' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPEL_RATEIO) ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.3' AS GRUPO ,'FRETE' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.3.0.1' AS GRUPO ,'FRETE ORIG(PREV)' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN FRETEPREV ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN FRETEPREV ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN FRETEPREV ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN FRETEPREV ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN FRETEPREV ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN FRETEPREV ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN FRETEPREV ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN FRETEPREV ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN FRETEPREV ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN FRETEPREV ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN FRETEPREV ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN FRETEPREV ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN FRETEPREV ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN FRETEPREV ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN FRETEPREV ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.3.0.2' AS GRUPO ,'FRETE DISTRIBUIDO' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN FRETE_RATEIO ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.4' AS GRUPO ,'COMISSAO(PREV)' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.4.0.1' AS GRUPO ,'COMISSAO(PREV) ORIG' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV) ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.4.0.2' AS GRUPO ,'COMISSAO(PREV) DISTRIBUIDA' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMIS_RATEIO) ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.5' AS GRUPO ,'VERBAS' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS + VERBAS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS + VERBAS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS + VERBAS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS + VERBAS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS + VERBAS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS + VERBAS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS + VERBAS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS + VERBAS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS + VERBAS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS + VERBAS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS + VERBAS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS + VERBAS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS + VERBAS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS + VERBAS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS + VERBAS_RATEIO) ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.5.0.1' AS GRUPO ,'VERBAS (ORIG)' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS) ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.5.0.2' AS GRUPO ,'VERBAS (DISTRIBUIDA)' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (VERBAS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (VERBAS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (VERBAS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (VERBAS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (VERBAS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (VERBAS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (VERBAS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (VERBAS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (VERBAS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (VERBAS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (VERBAS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (VERBAS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (VERBAS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (VERBAS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (VERBAS_RATEIO) ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.9' AS GRUPO ,'OUTRAS' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN GASTOS_COML_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN GASTOS_COML_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN GASTOS_COML_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN GASTOS_COML_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN GASTOS_COML_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN GASTOS_COML_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN GASTOS_COML_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN GASTOS_COML_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN GASTOS_COML_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN GASTOS_COML_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN GASTOS_COML_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN GASTOS_COML_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN GASTOS_COML_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN GASTOS_COML_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN GASTOS_COML_OUTRAS ELSE 0 END)
FROM DADOS


UNION ALL SELECT '4.0' AS GRUPO ,'DESPESAS ADMINISTRATIVAS (G)' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN DESP_ADMIN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN DESP_ADMIN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN DESP_ADMIN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN DESP_ADMIN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN DESP_ADMIN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN DESP_ADMIN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN DESP_ADMIN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN DESP_ADMIN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN DESP_ADMIN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN DESP_ADMIN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN DESP_ADMIN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN DESP_ADMIN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN DESP_ADMIN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN DESP_ADMIN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN DESP_ADMIN ELSE 0 END)
FROM DADOS


UNION ALL SELECT '6.0' AS GRUPO ,'OUTROS INGRESSOS / DISPENDIOS (I)' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN OUTROS_INGRESSOS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN OUTROS_INGRESSOS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN OUTROS_INGRESSOS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN OUTROS_INGRESSOS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN OUTROS_INGRESSOS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN OUTROS_INGRESSOS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN OUTROS_INGRESSOS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN OUTROS_INGRESSOS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN OUTROS_INGRESSOS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN OUTROS_INGRESSOS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN OUTROS_INGRESSOS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN OUTROS_INGRESSOS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN OUTROS_INGRESSOS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN OUTROS_INGRESSOS ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN OUTROS_INGRESSOS ELSE 0 END)
FROM DADOS


UNION ALL SELECT '7.0' AS GRUPO ,'RESULTADO FINANCEIRO (J)' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN RESULT_FIN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN RESULT_FIN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN RESULT_FIN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN RESULT_FIN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN RESULT_FIN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN RESULT_FIN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN RESULT_FIN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN RESULT_FIN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN RESULT_FIN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN RESULT_FIN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN RESULT_FIN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN RESULT_FIN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN RESULT_FIN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN RESULT_FIN ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN RESULT_FIN ELSE 0 END)
FROM DADOS

UNION ALL SELECT '9.0' AS GRUPO ,'TITULOS RECEBIDOS' AS DESCRITIVO
		,SUM (CASE WHEN GRP_LIN_COML = 'A' THEN TITRECEB ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'B' THEN TITRECEB ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'C' THEN TITRECEB ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'D' THEN TITRECEB ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'E' THEN TITRECEB ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'F' THEN TITRECEB ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'G' THEN TITRECEB ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'H' THEN TITRECEB ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'I' THEN TITRECEB ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'J' THEN TITRECEB ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'K' THEN TITRECEB ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'L' THEN TITRECEB ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'M' THEN TITRECEB ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'N' THEN TITRECEB ELSE 0 END)
		,SUM (CASE WHEN GRP_LIN_COML = 'Z' THEN TITRECEB ELSE 0 END)
FROM DADOS

)

-- CALCULA LINHAS DE SUBTOTAIS
, SUBTOTAIS1 AS (
	SELECT * FROM PIVOTAGEM

	UNION ALL SELECT '0.3' AS GRUPO, 'LITRAGEM BONIF/FATUR' AS DESCRITIVO
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '0.1' THEN COL01 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '0.2' THEN COL01 ELSE 0 END) / SUM (CASE WHEN GRUPO = '0.1' THEN COL01 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '0.1' THEN COL02 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '0.2' THEN COL02 ELSE 0 END) / SUM (CASE WHEN GRUPO = '0.1' THEN COL02 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '0.1' THEN COL03 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '0.2' THEN COL03 ELSE 0 END) / SUM (CASE WHEN GRUPO = '0.1' THEN COL03 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '0.1' THEN COL04 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '0.2' THEN COL04 ELSE 0 END) / SUM (CASE WHEN GRUPO = '0.1' THEN COL04 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '0.1' THEN COL05 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '0.2' THEN COL05 ELSE 0 END) / SUM (CASE WHEN GRUPO = '0.1' THEN COL05 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '0.1' THEN COL06 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '0.2' THEN COL06 ELSE 0 END) / SUM (CASE WHEN GRUPO = '0.1' THEN COL06 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '0.1' THEN COL07 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '0.2' THEN COL07 ELSE 0 END) / SUM (CASE WHEN GRUPO = '0.1' THEN COL07 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '0.1' THEN COL08 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '0.2' THEN COL08 ELSE 0 END) / SUM (CASE WHEN GRUPO = '0.1' THEN COL08 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '0.1' THEN COL09 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '0.2' THEN COL09 ELSE 0 END) / SUM (CASE WHEN GRUPO = '0.1' THEN COL09 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '0.1' THEN COL10 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '0.2' THEN COL10 ELSE 0 END) / SUM (CASE WHEN GRUPO = '0.1' THEN COL10 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '0.1' THEN COL11 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '0.2' THEN COL11 ELSE 0 END) / SUM (CASE WHEN GRUPO = '0.1' THEN COL11 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '0.1' THEN COL12 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '0.2' THEN COL12 ELSE 0 END) / SUM (CASE WHEN GRUPO = '0.1' THEN COL12 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '0.1' THEN COL13 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '0.2' THEN COL13 ELSE 0 END) / SUM (CASE WHEN GRUPO = '0.1' THEN COL13 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '0.1' THEN COL_N ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '0.2' THEN COL_N ELSE 0 END) / SUM (CASE WHEN GRUPO = '0.1' THEN COL_N ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '0.1' THEN COL14 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '0.2' THEN COL14 ELSE 0 END) / SUM (CASE WHEN GRUPO = '0.1' THEN COL14 ELSE 0 END), 2) END
	FROM PIVOTAGEM
	WHERE GRUPO IN ('0.1', '0.2')

	UNION ALL SELECT '1.4' AS GRUPO, 'INGRESSOS/RECEITA LIQUIDA (A)' AS DESCRITIVO
		,SUM (COL01)
		,SUM (COL02)
		,SUM (COL03)
		,SUM (COL04)
		,SUM (COL05)
		,SUM (COL06)
		,SUM (COL07)
		,SUM (COL08)
		,SUM (COL09)
		,SUM (COL10)
		,SUM (COL11)
		,SUM (COL12)
		,SUM (COL13)
		,SUM (COL_N)
		,SUM (COL14)
	FROM PIVOTAGEM
	WHERE GRUPO IN ('1.0','1.1','1.2')

	UNION ALL SELECT '2.1' AS GRUPO, 'ESTRUTURA PRODUTO (=B-C-D-E)' AS DESCRITIVO
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL01)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL02)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL03)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL04)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL05)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL06)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL07)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL08)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL09)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL10)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL11)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL12)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL13)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL_N)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL14)
	FROM PIVOTAGEM
	WHERE GRUPO IN ('2.0', '2.1.1', '2.1.5', '2.2')

	UNION ALL SELECT '3.0' AS GRUPO, 'DESPESAS COMERCIAIS (F)' AS DESCRITIVO
		,SUM (COL01)
		,SUM (COL02)
		,SUM (COL03)
		,SUM (COL04)
		,SUM (COL05)
		,SUM (COL06)
		,SUM (COL07)
		,SUM (COL08)
		,SUM (COL09)
		,SUM (COL10)
		,SUM (COL11)
		,SUM (COL12)
		,SUM (COL13)
		,SUM (COL_N)
		,SUM (COL14)
	FROM PIVOTAGEM
	WHERE GRUPO IN ('3.1', '3.2', '3.3', '3.4', '3.5', '3.9')
)
, SUBTOTAIS2 AS
(
	SELECT * FROM SUBTOTAIS1

	UNION ALL SELECT '5.0' AS GRUPO, 'RESULTADO OPERACIONAL (H=A-B-F-G)' AS DESCRITIVO
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL01)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL02)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL03)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL04)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL05)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL06)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL07)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL08)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL09)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL10)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL11)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL12)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL13)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL_N)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL14)
	FROM SUBTOTAIS1
	WHERE GRUPO IN ('1.4', '2.0', '3.0', '4.0')
)
, SUBTOTAIS3 AS
(
	SELECT * FROM SUBTOTAIS2

	UNION ALL SELECT '2.0.0' AS GRUPO, 'CPV S/ RL' AS DESCRITIVO
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL01 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL01 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL01 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL02 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL02 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL02 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL03 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL03 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL03 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL04 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL04 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL04 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL05 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL05 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL05 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL06 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL06 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL06 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL07 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL07 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL07 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL08 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL08 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL08 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL09 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL09 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL09 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL10 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL10 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL10 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL11 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL11 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL11 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL12 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL12 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL12 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL13 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL13 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL13 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL_N ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL_N ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL_N ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL14 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL14 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL14 ELSE 0 END), 2) END
	FROM SUBTOTAIS2
	WHERE GRUPO IN ('1.4', '2.0')

	UNION ALL SELECT '3.0.0' AS GRUPO, 'DESP.COML S/ RL' AS DESCRITIVO
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL01 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL01 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL01 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL02 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL02 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL02 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL03 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL03 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL03 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL04 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL04 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL04 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL05 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL05 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL05 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL06 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL06 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL06 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL07 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL07 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL07 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL08 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL08 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL08 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL09 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL09 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL09 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL10 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL10 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL10 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL11 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL11 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL11 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL12 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL12 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL12 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL13 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL13 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL13 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL_N ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL_N ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL_N ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL14 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL14 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL14 ELSE 0 END), 2) END
	FROM SUBTOTAIS2
	WHERE GRUPO IN ('1.4', '3.0')

	UNION ALL SELECT '4.1.0' AS GRUPO, 'DESP.ADM S/ RL' AS DESCRITIVO
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL01 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL01 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL01 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL02 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL02 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL02 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL03 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL03 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL03 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL04 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL04 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL04 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL05 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL05 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL05 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL06 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL06 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL06 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL07 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL07 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL07 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL08 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL08 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL08 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL09 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL09 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL09 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL10 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL10 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL10 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL11 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL11 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL11 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL12 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL12 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL12 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL13 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL13 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL13 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL_N ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL_N ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL_N ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL14 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL14 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL14 ELSE 0 END), 2) END
	FROM SUBTOTAIS2
	WHERE GRUPO IN ('1.4', '4.0')

	UNION ALL SELECT '5.0.0' AS GRUPO, 'RO S/ RL' AS DESCRITIVO
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL01 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL01 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL01 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL02 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL02 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL02 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL03 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL03 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL03 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL04 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL04 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL04 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL05 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL05 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL05 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL06 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL06 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL06 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL07 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL07 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL07 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL08 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL08 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL08 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL09 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL09 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL09 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL10 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL10 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL10 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL11 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL11 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL11 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL12 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL12 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL12 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL13 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL13 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL13 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL_N ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL_N ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL_N ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL14 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL14 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL14 ELSE 0 END), 2) END
	FROM SUBTOTAIS2
	WHERE GRUPO IN ('1.4', '5.0')

	UNION ALL SELECT '8.0' AS GRUPO, 'TOTALIZADOR (=H+I+J)' AS DESCRITIVO
		,SUM (COL01)
		,SUM (COL02)
		,SUM (COL03)
		,SUM (COL04)
		,SUM (COL05)
		,SUM (COL06)
		,SUM (COL07)
		,SUM (COL08)
		,SUM (COL09)
		,SUM (COL10)
		,SUM (COL11)
		,SUM (COL12)
		,SUM (COL13)
		,SUM (COL_N)
		,SUM (COL14)
	FROM SUBTOTAIS2
	WHERE GRUPO IN ('5.0', '6.0', '7.0')

)

insert into @RET 
select GRUPO, DESCRITIVO
	,COL01
	,COL02
	,COL03
	,COL04
	,COL05
	,COL06
	,COL07
	,COL08
	,COL_N
	,COL09
	,COL10
	,COL11
	,COL12
	,COL13
	,COL14
FROM SUBTOTAIS3
--WHERE SUBSTRING (GRUPO, 6, 1) != '.'  -- PARA NAO LISTAR AS LINHAS DE DETALHAMENTO

RETURN
END


