
--
-- Descricao: Gera reletorio de DRE industrial por tabela de precos das lojas (dados ja previamente gerada por outra rotina)
-- Autor....: Robert Koch
-- Data.....: julho/2019
--
-- Historico de alteracoes:
-- 12/04/2021 - Robert - Descritivo do grupo 4.1.0 alterado de 'DESP.COML S/ RL' para 'DESP.ADM S/RL' (GLPI 9802).
--

ALTER FUNCTION [dbo].[FDRE_INDL_TABLOJ]
-- PARAMETROS DE CHAMADA
(@IN_ID_ANALISE INT
,@FILINI VARCHAR (2)
,@FILFIM VARCHAR (2)
)
RETURNS @RET TABLE 
(GRUPO varchar (10)
,DESCRITIVO varchar (100)
,GONDOLA FLOAT
,CX_FECHADA FLOAT
,ASSOC_FUNC FLOAT
,PARCEIR_REVD FLOAT
,FEIRINH_COMUNID FLOAT
,COML_EXT FLOAT
,COML_EXT2 FLOAT
,TUMELERO FLOAT
,PROMOCOES FLOAT
,OUTROS FLOAT
)

AS
BEGIN
	DECLARE @DATAINI  VARCHAR (8) = (SELECT DATA_INI_NF    FROM DRE_INDL WHERE ID_ANALISE = @IN_ID_ANALISE)
	DECLARE @DATAFIM  VARCHAR (8) = (SELECT DATA_FIM_NF    FROM DRE_INDL WHERE ID_ANALISE = @IN_ID_ANALISE)
	DECLARE @FORMA_RATEIO VARCHAR (1) = (SELECT FORMA_RATEIO   FROM DRE_INDL WHERE ID_ANALISE = @IN_ID_ANALISE)
	DECLARE @MESINI VARCHAR (7) = SUBSTRING (@DATAINI, 5, 2) + '/' + SUBSTRING (@DATAINI, 1, 4);
	DECLARE @MESFIM VARCHAR (7) = SUBSTRING (@DATAFIM, 5, 2) + '/' + SUBSTRING (@DATAFIM, 1, 4);

-- MONTA CONSULTA COM PIVOTAGEM
;WITH DADOS AS (
	SELECT * FROM DRE_INDL_ITENS
	WHERE ID_ANALISE = @IN_ID_ANALISE
		AND FILIAL BETWEEN @FILINI AND @FILFIM
), PIVOTAGEM AS
(
SELECT '1.0' AS GRUPO, 'FAT.BRUTO FL. ' + @FILINI + CASE WHEN @FILFIM != @FILINI THEN ' a ' + @FILFIM ELSE '' END + ' - ' + @MESINI + ' A ' + @MESFIM + ' (RAT.' + CASE @FORMA_RATEIO WHEN 'L' THEN 'LITRAG' WHEN 'V' THEN 'VALOR' ELSE @FORMA_RATEIO END + ')' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN VALORNF ELSE 0 END) AS COL01
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN VALORNF ELSE 0 END) AS COL02
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN VALORNF ELSE 0 END) AS COL03
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN VALORNF ELSE 0 END) AS COL04
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN VALORNF ELSE 0 END) AS COL05
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN VALORNF ELSE 0 END) AS COL06
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN VALORNF ELSE 0 END) AS COL07
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN VALORNF ELSE 0 END) AS COL08
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN VALORNF ELSE 0 END) AS COL09
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN VALORNF ELSE 0 END) AS COL10
FROM DADOS
WHERE F4_MARGEM = '1'

UNION ALL SELECT '1.0.0.1' AS GRUPO, 'VALOR MERCADORIAS'
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN VALORMERC ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN VALORMERC ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN VALORMERC ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN VALORMERC ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN VALORMERC ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN VALORMERC ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN VALORMERC ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN VALORMERC ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN VALORMERC ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN VALORMERC ELSE 0 END)
FROM DADOS
WHERE F4_MARGEM = '1'

UNION ALL SELECT '1.1' AS GRUPO ,'DEVOLUCOES' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN VALORNF ELSE 0 END) * -1
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN VALORNF ELSE 0 END) * -1
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN VALORNF ELSE 0 END) * -1
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN VALORNF ELSE 0 END) * -1
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN VALORNF ELSE 0 END) * -1
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN VALORNF ELSE 0 END) * -1
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN VALORNF ELSE 0 END) * -1
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN VALORNF ELSE 0 END) * -1
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN VALORNF ELSE 0 END) * -1
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN VALORNF ELSE 0 END) * -1
FROM DADOS
WHERE F4_MARGEM = '2'

UNION ALL SELECT '1.2' AS GRUPO ,'IMPOSTOS' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
FROM DADOS

UNION ALL SELECT '1.2.1.0' AS GRUPO ,'IMPOSTOS NF' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
FROM DADOS

UNION ALL SELECT '1.2.1.1' AS GRUPO ,'IMPOSTOS RATEIO' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
FROM DADOS

UNION ALL SELECT  '2.0' AS GRUPO, 'CPV TOTAL (B)' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
FROM DADOS

UNION ALL SELECT  '2.0.1' AS GRUPO, 'CPV NOTAS FISCAIS' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
FROM DADOS


UNION ALL SELECT  '2.0.2' AS GRUPO, 'CPV RATEIO' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
FROM DADOS


UNION ALL SELECT '2.1.1' AS GRUPO ,'MAT.EMBALAGEM (C)' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN CUSTO_TOT_ME ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN CUSTO_TOT_ME ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN CUSTO_TOT_ME ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN CUSTO_TOT_ME ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN CUSTO_TOT_ME ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN CUSTO_TOT_ME ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN CUSTO_TOT_ME ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN CUSTO_TOT_ME ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN CUSTO_TOT_ME ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN CUSTO_TOT_ME ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.1.3' AS GRUPO ,'MAT.AUXILIARES' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.1.3.1' AS GRUPO ,'MAT.AUXILIARES RATEIO' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.1.4' AS GRUPO ,'MO TERCEIROS' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN CUSTO_TOT_BN ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN CUSTO_TOT_BN ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN CUSTO_TOT_BN ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN CUSTO_TOT_BN ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN CUSTO_TOT_BN ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN CUSTO_TOT_BN ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN CUSTO_TOT_BN ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN CUSTO_TOT_BN ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN CUSTO_TOT_BN ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN CUSTO_TOT_BN ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.1.5' AS GRUPO ,'PERDAS (D)' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN CUSTO_TOT_PERDAS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN CUSTO_TOT_PERDAS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN CUSTO_TOT_PERDAS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN CUSTO_TOT_PERDAS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN CUSTO_TOT_PERDAS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN CUSTO_TOT_PERDAS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN CUSTO_TOT_PERDAS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN CUSTO_TOT_PERDAS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN CUSTO_TOT_PERDAS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN CUSTO_TOT_PERDAS ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.2' AS GRUPO ,'GASTOS INDUSTRIAIS (E)' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.2.0.1' AS GRUPO ,'GASTOS INDUSTRIAIS ANTES DISTRIB' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN GASTOS_INDL ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN GASTOS_INDL ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN GASTOS_INDL ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN GASTOS_INDL ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN GASTOS_INDL ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN GASTOS_INDL ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN GASTOS_INDL ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN GASTOS_INDL ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN GASTOS_INDL ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN GASTOS_INDL ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.2.0.2' AS GRUPO ,'GASTOS INDUSTRIAIS DISTRIBUIDOS' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN GASTOS_INDL_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN GASTOS_INDL_RATEIO ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.2.1' AS GRUPO ,'COM PESSOAL' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN GASTOS_PESSOAL ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN GASTOS_PESSOAL ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN GASTOS_PESSOAL ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN GASTOS_PESSOAL ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN GASTOS_PESSOAL ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN GASTOS_PESSOAL ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN GASTOS_PESSOAL ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN GASTOS_PESSOAL ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN GASTOS_PESSOAL ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN GASTOS_PESSOAL ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.2.3' AS GRUPO ,'ALUGUEIS TETRA' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.2.4' AS GRUPO ,'CREDITOS TETRA' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.2.5' AS GRUPO ,'MANUTENCAO' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN GASTOS_MANUT ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN GASTOS_MANUT ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN GASTOS_MANUT ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN GASTOS_MANUT ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN GASTOS_MANUT ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN GASTOS_MANUT ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN GASTOS_MANUT ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN GASTOS_MANUT ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN GASTOS_MANUT ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN GASTOS_MANUT ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.2.7' AS GRUPO ,'COMBUST.E LUBRIF' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN GASTOS_COMBUST ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN GASTOS_COMBUST ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN GASTOS_COMBUST ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN GASTOS_COMBUST ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN GASTOS_COMBUST ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN GASTOS_COMBUST ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN GASTOS_COMBUST ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN GASTOS_COMBUST ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN GASTOS_COMBUST ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN GASTOS_COMBUST ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.2.8' AS GRUPO ,'EN.ELETRICA' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN GASTOS_EN_ELET ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN GASTOS_EN_ELET ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN GASTOS_EN_ELET ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN GASTOS_EN_ELET ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN GASTOS_EN_ELET ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN GASTOS_EN_ELET ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN GASTOS_EN_ELET ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN GASTOS_EN_ELET ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN GASTOS_EN_ELET ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN GASTOS_EN_ELET ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.2.9' AS GRUPO ,'OUTRAS' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.1' AS GRUPO ,'BONIFICACOES' AS DESCRITIVO
		,ISNULL (SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN CUSTO + BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN CUSTO + BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN CUSTO + BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN CUSTO + BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN CUSTO + BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN CUSTO + BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN CUSTO + BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN CUSTO + BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN CUSTO + BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN CUSTO + BONIF_RATEIO ELSE 0 END), 0)
FROM DADOS
WHERE F4_MARGEM = '3'

UNION ALL SELECT '3.1.0.1' AS GRUPO ,'BONIFICACOES ORIG' AS DESCRITIVO
		,ISNULL (SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN CUSTO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN CUSTO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN CUSTO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN CUSTO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN CUSTO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN CUSTO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN CUSTO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN CUSTO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN CUSTO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN CUSTO ELSE 0 END), 0)
FROM DADOS
WHERE F4_MARGEM = '3'

UNION ALL SELECT '3.1.0.2' AS GRUPO ,'BONIFICACOES DISTRIBUIDAS' AS DESCRITIVO
		,ISNULL (SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN BONIF_RATEIO ELSE 0 END), 0)
		,ISNULL (SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN BONIF_RATEIO ELSE 0 END), 0)
FROM DADOS
WHERE F4_MARGEM = '3'

UNION ALL SELECT '3.2' AS GRUPO ,'RAPEL' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.2.0.1' AS GRUPO ,'RAPEL ANTES DISTRIB' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV) ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.2.0.2' AS GRUPO ,'RAPEL DISTRIBUIDO' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPEL_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPEL_RATEIO) ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.3' AS GRUPO ,'FRETE' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.3.0.1' AS GRUPO ,'FRETE ORIG' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN FRETEPREV ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN FRETEPREV ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN FRETEPREV ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN FRETEPREV ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN FRETEPREV ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN FRETEPREV ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN FRETEPREV ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN FRETEPREV ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN FRETEPREV ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN FRETEPREV ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.3.0.2' AS GRUPO ,'FRETE DISTRIBUIDO' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN FRETE_RATEIO ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN FRETE_RATEIO ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.4' AS GRUPO ,'COMISSAO' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.4.0.1' AS GRUPO ,'COMISSAO ORIG' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV) ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.4.0.2' AS GRUPO ,'COMISSAO DISTRIBUIDA' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMIS_RATEIO) ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMIS_RATEIO) ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.9' AS GRUPO ,'OUTRAS' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN GASTOS_COML_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN GASTOS_COML_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN GASTOS_COML_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN GASTOS_COML_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN GASTOS_COML_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN GASTOS_COML_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN GASTOS_COML_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN GASTOS_COML_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN GASTOS_COML_OUTRAS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN GASTOS_COML_OUTRAS ELSE 0 END)
FROM DADOS


UNION ALL SELECT '4.0' AS GRUPO ,'DESPESAS ADMINISTRATIVAS (G)' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN DESP_ADMIN ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN DESP_ADMIN ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN DESP_ADMIN ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN DESP_ADMIN ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN DESP_ADMIN ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN DESP_ADMIN ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN DESP_ADMIN ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN DESP_ADMIN ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN DESP_ADMIN ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN DESP_ADMIN ELSE 0 END)
FROM DADOS


UNION ALL SELECT '6.0' AS GRUPO ,'OUTROS INGRESSOS / DISPENDIOS (I)' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN OUTROS_INGRESSOS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN OUTROS_INGRESSOS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN OUTROS_INGRESSOS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN OUTROS_INGRESSOS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN OUTROS_INGRESSOS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN OUTROS_INGRESSOS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN OUTROS_INGRESSOS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN OUTROS_INGRESSOS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN OUTROS_INGRESSOS ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN OUTROS_INGRESSOS ELSE 0 END)
FROM DADOS


UNION ALL SELECT '7.0' AS GRUPO ,'RESULTADO FINANCEIRO (J)' AS DESCRITIVO
		,SUM (CASE WHEN TAB_PRC_LOJA = '1' THEN RESULT_FIN ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '2' THEN RESULT_FIN ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '3' THEN RESULT_FIN ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '4' THEN RESULT_FIN ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '5' THEN RESULT_FIN ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '6' THEN RESULT_FIN ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '7' THEN RESULT_FIN ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '8' THEN RESULT_FIN ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = '9' THEN RESULT_FIN ELSE 0 END)
		,SUM (CASE WHEN TAB_PRC_LOJA = ' ' THEN RESULT_FIN ELSE 0 END)
FROM DADOS

)

-- CALCULA LINHAS DE SUBTOTAIS
, SUBTOTAIS1 AS (
	SELECT * FROM PIVOTAGEM

	UNION ALL SELECT '1.4' AS GRUPO, 'INGRESSOS/RECEITA LIQUIDA (A)' AS DESCRITIVO
		,SUM (COL01)
		,SUM (COL02)
		,SUM (COL03)
		,SUM (COL04)
		,SUM (COL05)
		,SUM (COL06)
		,SUM (COL07)
		,SUM (COL08)
		,SUM (COL09)
		,SUM (COL10)
	FROM PIVOTAGEM
	WHERE GRUPO IN ('1.0','1.1','1.2')

	UNION ALL SELECT '2.1' AS GRUPO, 'ESTRUTURA PRODUTO (=B-C-D-E)' AS DESCRITIVO
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL01)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL02)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL03)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL04)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL05)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL06)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL07)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL08)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL09)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL10)
	FROM PIVOTAGEM
	WHERE GRUPO IN ('2.0', '2.1.1', '2.1.5', '2.2')

	UNION ALL SELECT '3.0' AS GRUPO, 'DESPESAS COMERCIAIS (F)' AS DESCRITIVO
		,SUM (COL01)
		,SUM (COL02)
		,SUM (COL03)
		,SUM (COL04)
		,SUM (COL05)
		,SUM (COL06)
		,SUM (COL07)
		,SUM (COL08)
		,SUM (COL09)
		,SUM (COL10)
	FROM PIVOTAGEM
	WHERE GRUPO IN ('3.1', '3.2', '3.3', '3.4', '3.9')
)
, SUBTOTAIS2 AS
(
	SELECT * FROM SUBTOTAIS1

	UNION ALL SELECT '5.0' AS GRUPO, 'RESULTADO OPERACIONAL (H=A-B-F-G)' AS DESCRITIVO
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL01)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL02)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL03)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL04)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL05)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL06)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL07)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL08)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL09)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL10)
	FROM SUBTOTAIS1
	WHERE GRUPO IN ('1.4', '2.0', '3.0', '4.0')
)
, SUBTOTAIS3 AS
(
	SELECT * FROM SUBTOTAIS2

	UNION ALL SELECT '2.0.0' AS GRUPO, 'CPV S/ RL' AS DESCRITIVO
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL01 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL01 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL01 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL02 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL02 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL02 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL03 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL03 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL03 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL04 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL04 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL04 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL05 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL05 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL05 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL06 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL06 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL06 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL07 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL07 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL07 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL08 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL08 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL08 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL09 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL09 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL09 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL10 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL10 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL10 ELSE 0 END), 2) END
	FROM SUBTOTAIS2
	WHERE GRUPO IN ('1.4', '2.0')

	UNION ALL SELECT '3.0.0' AS GRUPO, 'DESP.COML S/ RL' AS DESCRITIVO
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL01 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL01 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL01 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL02 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL02 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL02 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL03 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL03 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL03 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL04 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL04 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL04 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL05 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL05 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL05 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL06 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL06 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL06 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL07 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL07 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL07 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL08 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL08 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL08 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL09 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL09 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL09 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL10 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL10 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL10 ELSE 0 END), 2) END
	FROM SUBTOTAIS2
	WHERE GRUPO IN ('1.4', '3.0')

	UNION ALL SELECT '4.1.0' AS GRUPO, 'DESP.ADM S/ RL' AS DESCRITIVO
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL01 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL01 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL01 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL02 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL02 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL02 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL03 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL03 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL03 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL04 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL04 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL04 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL05 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL05 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL05 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL06 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL06 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL06 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL07 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL07 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL07 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL08 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL08 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL08 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL09 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL09 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL09 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL10 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL10 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL10 ELSE 0 END), 2) END
	FROM SUBTOTAIS2
	WHERE GRUPO IN ('1.4', '4.0')

	UNION ALL SELECT '5.0.0' AS GRUPO, 'RO S/ RL' AS DESCRITIVO
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL01 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL01 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL01 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL02 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL02 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL02 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL03 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL03 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL03 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL04 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL04 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL04 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL05 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL05 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL05 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL06 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL06 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL06 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL07 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL07 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL07 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL08 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL08 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL08 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL09 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL09 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL09 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL10 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL10 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL10 ELSE 0 END), 2) END
	FROM SUBTOTAIS2
	WHERE GRUPO IN ('1.4', '5.0')

	UNION ALL SELECT '8.0' AS GRUPO, 'TOTALIZADOR (=H+I+J)' AS DESCRITIVO
		,SUM (COL01)
		,SUM (COL02)
		,SUM (COL03)
		,SUM (COL04)
		,SUM (COL05)
		,SUM (COL06)
		,SUM (COL07)
		,SUM (COL08)
		,SUM (COL09)
		,SUM (COL10)
	FROM SUBTOTAIS2
	WHERE GRUPO IN ('5.0', '6.0', '7.0')

)

insert into @RET 
select GRUPO, DESCRITIVO
	,COL01
	,COL02
	,COL03
	,COL04
	,COL05
	,COL06
	,COL07
	,COL08
	,COL09
	,COL10
FROM SUBTOTAIS3
--WHERE SUBSTRING (GRUPO, 6, 1) != '.'  -- PARA NAO LISTAR AS LINHAS DE DETALHAMENTO

RETURN
END


