
--
-- Descricao: Gera reletorio de DRE industrial por linha de envase (dados ja previamente gerada por outra rotina)
-- Autor....: Robert Koch
-- Data.....: julho/2019
--
-- Historico de alteracoes:
-- 18/08/2019 - Robert - Passa a trabalhar com 'ID de analise' para permitir usar a mesma tabela para dados de diferentes analises.
-- 31/03/2020 - Robert - Criado grupo 3.5 (verbas) e suas subdivisoes (GLPI 7704).
-- 12/04/2021 - Robert - Descritivo do grupo 3.5 alterado de 'VERBAS (REALIZADO)' para 'VERBAS' (GLPI 9802).
--                     - Descritivo do grupo 4.1.0 alterado de 'DESP.COML S/ RL' para 'DESP.ADM S/RL' (GLPI 9802).
--

ALTER FUNCTION [dbo].[FDRE_INDL_LINENV]
-- PARAMETROS DE CHAMADA
(@IN_ID_ANALISE INT
,@FILINI VARCHAR (2)
,@FILFIM VARCHAR (2)
)
RETURNS @RET TABLE 
(GRUPO      varchar (10)
,DESCRITIVO varchar (100)
,VIDRO      FLOAT
,ISOBARICA  FLOAT
,EM_3OS     FLOAT
,PET        FLOAT
,TETRA_200  FLOAT
,TETRA_1000 FLOAT
,BAG        FLOAT
,FILIAL_09  FLOAT
,GRANEL     FLOAT
,OUTRAS     FLOAT
)

AS
BEGIN
	DECLARE @DATAINI  VARCHAR (8) = (SELECT DATA_INI_NF    FROM DRE_INDL WHERE ID_ANALISE = @IN_ID_ANALISE)
	DECLARE @DATAFIM  VARCHAR (8) = (SELECT DATA_FIM_NF    FROM DRE_INDL WHERE ID_ANALISE = @IN_ID_ANALISE)
	DECLARE @FORMA_RATEIO VARCHAR (1) = (SELECT FORMA_RATEIO   FROM DRE_INDL WHERE ID_ANALISE = @IN_ID_ANALISE)
	DECLARE @MESINI VARCHAR (7) = SUBSTRING (@DATAINI, 5, 2) + '/' + SUBSTRING (@DATAINI, 1, 4);
	DECLARE @MESFIM VARCHAR (7) = SUBSTRING (@DATAFIM, 5, 2) + '/' + SUBSTRING (@DATAFIM, 1, 4);

-- MONTA CONSULTA COM PIVOTAGEM
;WITH DADOS AS (
	SELECT * FROM DRE_INDL_ITENS --DET_CUSTO_VENDA
	WHERE ID_ANALISE = @IN_ID_ANALISE --EMISSAO BETWEEN @DATAINI AND @DATAFIM
		AND FILIAL BETWEEN @FILINI AND @FILFIM
), PIVOTAGEM_CC AS
(
SELECT '0.1' AS GRUPO, 'LITRAGEM FATURADA' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN QTLITROS ELSE 0 END) AS COL01
	,SUM (CASE WHEN CC = '011402' THEN QTLITROS ELSE 0 END) AS COL02
	,SUM (CASE WHEN CC = 'EM_3OS' THEN QTLITROS ELSE 0 END) AS COL03
	,SUM (CASE WHEN CC = '011403' THEN QTLITROS ELSE 0 END) AS COL04
	,SUM (CASE WHEN CC = '011404' THEN QTLITROS ELSE 0 END) AS COL05
	,SUM (CASE WHEN CC = '011405' THEN QTLITROS ELSE 0 END) AS COL06
	,SUM (CASE WHEN CC = '011406' THEN QTLITROS ELSE 0 END) AS COL07
	,SUM (CASE WHEN CC = 'F09'    THEN QTLITROS ELSE 0 END) AS COL08
	,SUM (CASE WHEN CC = 'GRANEL' THEN QTLITROS ELSE 0 END) AS COL09
	,SUM (CASE WHEN CC = 'OUTRAS' THEN QTLITROS ELSE 0 END) AS COL10
FROM DADOS
WHERE F4_MARGEM = '1'

UNION ALL SELECT '0.2' AS GRUPO, 'LITRAGEM BONIFICADA' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN QTLITROS ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN QTLITROS ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN QTLITROS ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN QTLITROS ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN QTLITROS ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN QTLITROS ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN QTLITROS ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN QTLITROS ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN QTLITROS ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN QTLITROS ELSE 0 END)
FROM DADOS
WHERE F4_MARGEM = '3'

UNION ALL SELECT '1.0' AS GRUPO, 'FAT.BRUTO FL. ' + @FILINI + CASE WHEN @FILFIM != @FILINI THEN ' a ' + @FILFIM ELSE '' END + ' - ' + @MESINI + ' A ' + @MESFIM + ' (RAT.' + CASE @FORMA_RATEIO WHEN 'L' THEN 'LITRAG' WHEN 'V' THEN 'VALOR' ELSE @FORMA_RATEIO END + ')' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN VALORNF ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN VALORNF ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN VALORNF ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN VALORNF ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN VALORNF ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN VALORNF ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN VALORNF ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN VALORNF ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN VALORNF ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN VALORNF ELSE 0 END)
FROM DADOS
WHERE F4_MARGEM = '1'

UNION ALL SELECT '1.0.0.1' AS GRUPO, 'VALOR MERCADORIAS'
	,SUM (CASE WHEN CC = '011401' THEN VALORMERC ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN VALORMERC ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN VALORMERC ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN VALORMERC ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN VALORMERC ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN VALORMERC ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN VALORMERC ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN VALORMERC ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN VALORMERC ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN VALORMERC ELSE 0 END)
FROM DADOS
WHERE F4_MARGEM = '1'

UNION ALL SELECT '1.1' AS GRUPO ,'DEVOLUCOES' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN VALORNF ELSE 0 END) * -1
	,SUM (CASE WHEN CC = '011402' THEN VALORNF ELSE 0 END) * -1
	,SUM (CASE WHEN CC = 'EM_3OS' THEN VALORNF ELSE 0 END) * -1
	,SUM (CASE WHEN CC = '011403' THEN VALORNF ELSE 0 END) * -1
	,SUM (CASE WHEN CC = '011404' THEN VALORNF ELSE 0 END) * -1
	,SUM (CASE WHEN CC = '011405' THEN VALORNF ELSE 0 END) * -1
	,SUM (CASE WHEN CC = '011406' THEN VALORNF ELSE 0 END) * -1
	,SUM (CASE WHEN CC = 'F09'    THEN VALORNF ELSE 0 END) * -1
	,SUM (CASE WHEN CC = 'GRANEL' THEN VALORNF ELSE 0 END) * -1
	,SUM (CASE WHEN CC = 'OUTRAS' THEN VALORNF ELSE 0 END) * -1
FROM DADOS
WHERE F4_MARGEM = '2'

UNION ALL SELECT '1.2' AS GRUPO ,'IMPOSTOS' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN CC = '011402' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN CC = '011403' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN CC = '011404' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN CC = '011405' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN CC = '011406' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN CC = 'F09'    THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
FROM DADOS

UNION ALL SELECT '1.2.1.0' AS GRUPO ,'IMPOSTOS NF' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN CC = '011402' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN CC = '011403' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN CC = '011404' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN CC = '011405' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN CC = '011406' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN CC = 'F09'    THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
FROM DADOS

UNION ALL SELECT '1.2.1.1' AS GRUPO ,'IMPOSTOS RATEIO' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN CC = '011402' THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN CC = '011403' THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN CC = '011404' THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN CC = '011405' THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN CC = '011406' THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN CC = 'F09'    THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN (IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
FROM DADOS

UNION ALL SELECT  '2.0' AS GRUPO, 'CPV TOTAL (B)' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN CC = '011402' THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN CC = '011403' THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN CC = '011404' THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN CC = '011405' THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN CC = '011406' THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN CC = 'F09'    THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN CPV + CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
FROM DADOS

UNION ALL SELECT  '2.0.1' AS GRUPO, 'CPV NOTAS FISCAIS' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN CC = '011402' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN CC = '011403' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN CC = '011404' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN CC = '011405' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN CC = '011406' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN CC = 'F09'    THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
FROM DADOS

UNION ALL SELECT  '2.0.2' AS GRUPO, 'CPV RATEIO' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN CC = '011402' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN CC = '011403' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN CC = '011404' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN CC = '011405' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN CC = '011406' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN CC = 'F09'    THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
FROM DADOS

UNION ALL SELECT '2.1.1' AS GRUPO ,'MAT.EMBALAGEM (C)' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN CUSTO_TOT_ME ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN CUSTO_TOT_ME ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN CUSTO_TOT_ME ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN CUSTO_TOT_ME ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN CUSTO_TOT_ME ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN CUSTO_TOT_ME ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN CUSTO_TOT_ME ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN CUSTO_TOT_ME ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN CUSTO_TOT_ME ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN CUSTO_TOT_ME ELSE 0 END)
FROM DADOS

UNION ALL SELECT '2.1.3' AS GRUPO ,'MAT.AUXILIARES' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
FROM DADOS

UNION ALL SELECT '2.1.3.1' AS GRUPO ,'MAT.AUXILIARES RATEIO' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
FROM DADOS

UNION ALL SELECT '2.1.4' AS GRUPO ,'MO TERCEIROS' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN CUSTO_TOT_BN ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN CUSTO_TOT_BN ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN CUSTO_TOT_BN ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN CUSTO_TOT_BN ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN CUSTO_TOT_BN ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN CUSTO_TOT_BN ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN CUSTO_TOT_BN ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN CUSTO_TOT_BN ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN CUSTO_TOT_BN ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN CUSTO_TOT_BN ELSE 0 END)
FROM DADOS

UNION ALL SELECT '2.1.5' AS GRUPO ,'PERDAS (D)' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN CUSTO_TOT_PERDAS ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN CUSTO_TOT_PERDAS ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN CUSTO_TOT_PERDAS ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN CUSTO_TOT_PERDAS ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN CUSTO_TOT_PERDAS ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN CUSTO_TOT_PERDAS ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN CUSTO_TOT_PERDAS ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN CUSTO_TOT_PERDAS ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN CUSTO_TOT_PERDAS ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN CUSTO_TOT_PERDAS ELSE 0 END)
FROM DADOS

UNION ALL SELECT '2.2' AS GRUPO ,'GASTOS INDUSTRIAIS (E)' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
FROM DADOS

UNION ALL SELECT '2.2.0.1' AS GRUPO ,'GASTOS INDUSTRIAIS ANTES DISTRIB' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN GASTOS_INDL ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN GASTOS_INDL ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN GASTOS_INDL ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN GASTOS_INDL ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN GASTOS_INDL ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN GASTOS_INDL ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN GASTOS_INDL ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN GASTOS_INDL ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN GASTOS_INDL ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN GASTOS_INDL ELSE 0 END)
FROM DADOS

UNION ALL SELECT '2.2.0.2' AS GRUPO ,'GASTOS INDUSTRIAIS DISTRIBUIDOS' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN GASTOS_INDL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN GASTOS_INDL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN GASTOS_INDL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN GASTOS_INDL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN GASTOS_INDL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN GASTOS_INDL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN GASTOS_INDL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN GASTOS_INDL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN GASTOS_INDL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN GASTOS_INDL_RATEIO ELSE 0 END)
FROM DADOS

UNION ALL SELECT '2.2.1' AS GRUPO ,'COM PESSOAL' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN GASTOS_PESSOAL ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN GASTOS_PESSOAL ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN GASTOS_PESSOAL ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN GASTOS_PESSOAL ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN GASTOS_PESSOAL ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN GASTOS_PESSOAL ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN GASTOS_PESSOAL ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN GASTOS_PESSOAL ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN GASTOS_PESSOAL ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN GASTOS_PESSOAL ELSE 0 END)
FROM DADOS

UNION ALL SELECT '2.2.3' AS GRUPO ,'ALUGUEIS TETRA' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL'  THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS'  THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
FROM DADOS

UNION ALL SELECT '2.2.4' AS GRUPO ,'CREDITOS TETRA' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
FROM DADOS

UNION ALL SELECT '2.2.5' AS GRUPO ,'MANUTENCAO' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN GASTOS_MANUT ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN GASTOS_MANUT ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN GASTOS_MANUT ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN GASTOS_MANUT ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN GASTOS_MANUT ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN GASTOS_MANUT ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN GASTOS_MANUT ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN GASTOS_MANUT ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN GASTOS_MANUT ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN GASTOS_MANUT ELSE 0 END)
FROM DADOS

UNION ALL SELECT '2.2.7' AS GRUPO ,'COMBUST.E LUBRIF' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN GASTOS_COMBUST ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN GASTOS_COMBUST ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN GASTOS_COMBUST ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN GASTOS_COMBUST ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN GASTOS_COMBUST ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN GASTOS_COMBUST ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN GASTOS_COMBUST ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN GASTOS_COMBUST ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN GASTOS_COMBUST ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN GASTOS_COMBUST ELSE 0 END)
FROM DADOS

UNION ALL SELECT '2.2.8' AS GRUPO ,'EN.ELETRICA' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN GASTOS_EN_ELET ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN GASTOS_EN_ELET ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN GASTOS_EN_ELET ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN GASTOS_EN_ELET ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN GASTOS_EN_ELET ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN GASTOS_EN_ELET ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN GASTOS_EN_ELET ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN GASTOS_EN_ELET ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN GASTOS_EN_ELET ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN GASTOS_EN_ELET ELSE 0 END)
FROM DADOS

UNION ALL SELECT '2.2.9' AS GRUPO ,'OUTRAS' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN GASTOS_INDL_OUTRAS ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
FROM DADOS

UNION ALL SELECT '3.1' AS GRUPO ,'BONIFICACOES' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN CUSTO + BONIF_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN CUSTO + BONIF_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN CUSTO + BONIF_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN CUSTO + BONIF_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN CUSTO + BONIF_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN CUSTO + BONIF_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN CUSTO + BONIF_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN CUSTO + BONIF_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN CUSTO + BONIF_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN CUSTO + BONIF_RATEIO ELSE 0 END)
FROM DADOS
WHERE F4_MARGEM = '3'

UNION ALL SELECT '3.1.0.1' AS GRUPO ,'BONIFICACOES ORIG' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN CUSTO ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN CUSTO ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN CUSTO ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN CUSTO ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN CUSTO ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN CUSTO ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN CUSTO ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN CUSTO ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN CUSTO ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN CUSTO ELSE 0 END)
FROM DADOS
WHERE F4_MARGEM = '3'

UNION ALL SELECT '3.1.0.2' AS GRUPO ,'BONIFICACOES DISTRIBUIDAS' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN BONIF_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN BONIF_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN BONIF_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN BONIF_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN BONIF_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN BONIF_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN BONIF_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN BONIF_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN BONIF_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN BONIF_RATEIO ELSE 0 END)
FROM DADOS
WHERE F4_MARGEM = '3'

UNION ALL SELECT '3.2' AS GRUPO ,'RAPEL' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
FROM DADOS

UNION ALL SELECT '3.2.0.1' AS GRUPO ,'RAPEL ANTES DISTRIB' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPELPREV ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPELPREV ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPELPREV ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPELPREV ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPELPREV ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPELPREV ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPELPREV ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPELPREV ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPELPREV ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPELPREV ELSE 0 END)
FROM DADOS

UNION ALL SELECT '3.2.0.2' AS GRUPO ,'RAPEL DISTRIBUIDO' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPEL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPEL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPEL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPEL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPEL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPEL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPEL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPEL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPEL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPEL_RATEIO ELSE 0 END)
FROM DADOS

UNION ALL SELECT '3.3' AS GRUPO ,'FRETE' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
FROM DADOS

UNION ALL SELECT '3.3.0.1' AS GRUPO ,'FRETE ORIG' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN FRETEPREV ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN FRETEPREV ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN FRETEPREV ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN FRETEPREV ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN FRETEPREV ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN FRETEPREV ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN FRETEPREV ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN FRETEPREV ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN FRETEPREV ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN FRETEPREV ELSE 0 END)
FROM DADOS

UNION ALL SELECT '3.3.0.2' AS GRUPO ,'FRETE DISTRIBUIDO' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN FRETE_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN FRETE_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN FRETE_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN FRETE_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN FRETE_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN FRETE_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN FRETE_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN FRETE_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN FRETE_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN FRETE_RATEIO ELSE 0 END)
FROM DADOS

UNION ALL SELECT '3.4' AS GRUPO ,'COMISSAO' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
FROM DADOS

UNION ALL SELECT '3.4.0.1' AS GRUPO ,'COMISSAO ORIG' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMISPREV ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMISPREV ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMISPREV ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMISPREV ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMISPREV ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMISPREV ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMISPREV ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMISPREV ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMISPREV ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMISPREV ELSE 0 END)
FROM DADOS

UNION ALL SELECT '3.4.0.2' AS GRUPO ,'COMISSAO DISTRIBUIDA' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMIS_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMIS_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMIS_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMIS_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMIS_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMIS_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMIS_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMIS_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMIS_RATEIO ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMIS_RATEIO ELSE 0 END)
FROM DADOS

UNION ALL SELECT '3.5' AS GRUPO ,'VERBAS' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS + VERBAS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS + VERBAS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS + VERBAS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS + VERBAS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS + VERBAS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS + VERBAS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS + VERBAS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS + VERBAS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS + VERBAS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS + VERBAS_RATEIO) ELSE 0 END)
FROM DADOS

UNION ALL SELECT '3.5.0.1' AS GRUPO ,'VERBAS (ORIG)' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS) ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS) ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS) ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS) ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS) ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS) ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS) ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS) ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS) ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS) ELSE 0 END)
FROM DADOS

UNION ALL SELECT '3.5.0.2' AS GRUPO ,'VERBAS (DISTRIBUIDA)' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (VERBAS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (VERBAS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (VERBAS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (VERBAS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (VERBAS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (VERBAS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (VERBAS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (VERBAS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (VERBAS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (VERBAS_RATEIO) ELSE 0 END)
FROM DADOS

UNION ALL SELECT '3.9' AS GRUPO ,'OUTRAS' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN GASTOS_COML_OUTRAS ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN GASTOS_COML_OUTRAS ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN GASTOS_COML_OUTRAS ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN GASTOS_COML_OUTRAS ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN GASTOS_COML_OUTRAS ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN GASTOS_COML_OUTRAS ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN GASTOS_COML_OUTRAS ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN GASTOS_COML_OUTRAS ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN GASTOS_COML_OUTRAS ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN GASTOS_COML_OUTRAS ELSE 0 END)
FROM DADOS

UNION ALL SELECT '4.0' AS GRUPO ,'DESPESAS ADMINISTRATIVAS (G)' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN DESP_ADMIN ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN DESP_ADMIN ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN DESP_ADMIN ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN DESP_ADMIN ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN DESP_ADMIN ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN DESP_ADMIN ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN DESP_ADMIN ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN DESP_ADMIN ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN DESP_ADMIN ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN DESP_ADMIN ELSE 0 END)
FROM DADOS

UNION ALL SELECT '6.0' AS GRUPO ,'OUTROS INGRESSOS / DISPENDIOS (I)' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN OUTROS_INGRESSOS ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN OUTROS_INGRESSOS ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN OUTROS_INGRESSOS ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN OUTROS_INGRESSOS ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN OUTROS_INGRESSOS ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN OUTROS_INGRESSOS ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN OUTROS_INGRESSOS ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN OUTROS_INGRESSOS ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN OUTROS_INGRESSOS ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN OUTROS_INGRESSOS ELSE 0 END)
FROM DADOS

UNION ALL SELECT '7.0' AS GRUPO ,'RESULTADO FINANCEIRO (J)' AS DESCRITIVO
	,SUM (CASE WHEN CC = '011401' THEN RESULT_FIN ELSE 0 END)
	,SUM (CASE WHEN CC = '011402' THEN RESULT_FIN ELSE 0 END)
	,SUM (CASE WHEN CC = 'EM_3OS' THEN RESULT_FIN ELSE 0 END)
	,SUM (CASE WHEN CC = '011403' THEN RESULT_FIN ELSE 0 END)
	,SUM (CASE WHEN CC = '011404' THEN RESULT_FIN ELSE 0 END)
	,SUM (CASE WHEN CC = '011405' THEN RESULT_FIN ELSE 0 END)
	,SUM (CASE WHEN CC = '011406' THEN RESULT_FIN ELSE 0 END)
	,SUM (CASE WHEN CC = 'F09'    THEN RESULT_FIN ELSE 0 END)
	,SUM (CASE WHEN CC = 'GRANEL' THEN RESULT_FIN ELSE 0 END)
	,SUM (CASE WHEN CC = 'OUTRAS' THEN RESULT_FIN ELSE 0 END)
FROM DADOS
)
-- CALCULA LINHAS DE SUBTOTAIS
, SUBTOTAIS1 AS (
	SELECT * FROM PIVOTAGEM_CC

	UNION ALL SELECT '0.3' AS GRUPO, 'LITRAGEM BONIF/FATUR' AS DESCRITIVO
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '0.1' THEN COL01 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '0.2' THEN COL01 ELSE 0 END) / SUM (CASE WHEN GRUPO = '0.1' THEN COL01 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '0.1' THEN COL02 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '0.2' THEN COL02 ELSE 0 END) / SUM (CASE WHEN GRUPO = '0.1' THEN COL02 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '0.1' THEN COL03 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '0.2' THEN COL03 ELSE 0 END) / SUM (CASE WHEN GRUPO = '0.1' THEN COL03 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '0.1' THEN COL04 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '0.2' THEN COL04 ELSE 0 END) / SUM (CASE WHEN GRUPO = '0.1' THEN COL04 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '0.1' THEN COL05 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '0.2' THEN COL05 ELSE 0 END) / SUM (CASE WHEN GRUPO = '0.1' THEN COL05 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '0.1' THEN COL06 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '0.2' THEN COL06 ELSE 0 END) / SUM (CASE WHEN GRUPO = '0.1' THEN COL06 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '0.1' THEN COL07 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '0.2' THEN COL07 ELSE 0 END) / SUM (CASE WHEN GRUPO = '0.1' THEN COL07 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '0.1' THEN COL08 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '0.2' THEN COL08 ELSE 0 END) / SUM (CASE WHEN GRUPO = '0.1' THEN COL08 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '0.1' THEN COL09 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '0.2' THEN COL09 ELSE 0 END) / SUM (CASE WHEN GRUPO = '0.1' THEN COL09 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '0.1' THEN COL10 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '0.2' THEN COL10 ELSE 0 END) / SUM (CASE WHEN GRUPO = '0.1' THEN COL10 ELSE 0 END), 2) END
	FROM PIVOTAGEM_CC
	WHERE GRUPO IN ('0.1', '0.2')

	UNION ALL
	SELECT '1.4' AS GRUPO, 'INGRESSOS/RECEITA LIQUIDA (A)' AS DESCRITIVO
		,SUM (COL01)
		,SUM (COL02)
		,SUM (COL03)
		,SUM (COL04)
		,SUM (COL05)
		,SUM (COL06)
		,SUM (COL07)
		,SUM (COL08)
		,SUM (COL09)
		,SUM (COL10)
	FROM PIVOTAGEM_CC
	WHERE GRUPO IN ('1.0','1.1','1.2')

	UNION ALL
	SELECT '2.1' AS GRUPO, 'ESTRUTURA PRODUTO (=B-C-D-E)' AS DESCRITIVO
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL01)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL02)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL03)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL04)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL05)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL06)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL07)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL08)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL09)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL10)
	FROM PIVOTAGEM_CC
	WHERE GRUPO IN ('2.0', '2.1.1', '2.1.5', '2.2')

	UNION ALL
	SELECT '3.0' AS GRUPO, 'DESPESAS COMERCIAIS (F)' AS DESCRITIVO
		,SUM (COL01)
		,SUM (COL02)
		,SUM (COL03)
		,SUM (COL04)
		,SUM (COL05)
		,SUM (COL06)
		,SUM (COL07)
		,SUM (COL08)
		,SUM (COL09)
		,SUM (COL10)
	FROM PIVOTAGEM_CC
--	WHERE GRUPO IN ('3.1', '3.2', '3.3', '3.4', '3.9')
	WHERE GRUPO IN ('3.1', '3.2', '3.3', '3.4', '3.5', '3.9')
)
, SUBTOTAIS2 AS
(
	SELECT * FROM SUBTOTAIS1

	UNION ALL
	SELECT '5.0' AS GRUPO, 'RESULTADO OPERACIONAL (H=A-B-F-G)' AS DESCRITIVO
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL01)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL02)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL03)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL04)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL05)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL06)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL07)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL08)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL09)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL10)
	FROM SUBTOTAIS1
	WHERE GRUPO IN ('1.4', '2.0', '3.0', '4.0')
)
, SUBTOTAIS3 AS
(
	SELECT * FROM SUBTOTAIS2

	UNION ALL SELECT '2.0.0' AS GRUPO, 'CPV S/ RL' AS DESCRITIVO
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL01 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL01 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL01 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL02 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL02 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL02 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL03 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL03 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL03 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL04 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL04 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL04 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL05 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL05 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL05 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL06 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL06 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL06 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL07 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL07 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL07 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL08 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL08 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL08 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL09 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL09 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL09 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL10 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL10 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL10 ELSE 0 END), 2) END
	FROM SUBTOTAIS2
	WHERE GRUPO IN ('1.4', '2.0')

	UNION ALL SELECT '3.0.0' AS GRUPO, 'DESP.COML S/ RL' AS DESCRITIVO
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL01 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL01 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL01 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL02 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL02 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL02 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL03 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL03 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL03 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL04 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL04 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL04 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL05 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL05 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL05 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL06 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL06 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL06 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL07 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL07 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL07 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL08 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL08 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL08 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL09 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL09 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL09 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL10 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL10 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL10 ELSE 0 END), 2) END
	FROM SUBTOTAIS2
	WHERE GRUPO IN ('1.4', '3.0')

	UNION ALL SELECT '4.1.0' AS GRUPO, 'DESP.ADM S/ RL' AS DESCRITIVO
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL01 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL01 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL01 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL02 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL02 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL02 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL03 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL03 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL03 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL04 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL04 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL04 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL05 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL05 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL05 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL06 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL06 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL06 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL07 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL07 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL07 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL08 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL08 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL08 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL09 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL09 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL09 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL10 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL10 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL10 ELSE 0 END), 2) END
	FROM SUBTOTAIS2
	WHERE GRUPO IN ('1.4', '4.0')

	UNION ALL SELECT '5.0.0' AS GRUPO, 'RO S/ RL' AS DESCRITIVO
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL01 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL01 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL01 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL02 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL02 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL02 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL03 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL03 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL03 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL04 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL04 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL04 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL05 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL05 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL05 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL06 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL06 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL06 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL07 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL07 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL07 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL08 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL08 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL08 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL09 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL09 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL09 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL10 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL10 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL10 ELSE 0 END), 2) END
	FROM SUBTOTAIS2
	WHERE GRUPO IN ('1.4', '5.0')

	UNION ALL
	SELECT '8.0' AS GRUPO, 'TOTALIZADOR (=H+I+J)' AS DESCRITIVO
		,SUM (COL01)
		,SUM (COL02)
		,SUM (COL03)
		,SUM (COL04)
		,SUM (COL05)
		,SUM (COL06)
		,SUM (COL07)
		,SUM (COL08)
		,SUM (COL09)
		,SUM (COL10)
	FROM SUBTOTAIS2
	WHERE GRUPO IN ('5.0', '6.0', '7.0')

)

insert into @RET 
select *
FROM SUBTOTAIS3
--WHERE SUBSTRING (GRUPO, 6, 1) != '.'  -- PARA NAO LISTAR AS LINHAS DE DETALHAMENTO

RETURN
END


