--
-- Descricao: Gera relatorio de DRE industrial por linha TetraPak (dados ja previamente gerada por outra rotina)
-- Autor....: Robert Koch
-- Data.....: julho/2019
--
-- Historico de alteracoes:
-- 06/08/2019 - Robert - Criado filtro por marca do terceiro
--                     - Tratamento (isnull) para quando nao houver movimento.
-- 18/08/2019 - Robert - Passa a trabalhar com 'ID de analise' para permitir usar a mesma tabela para dados de diferentes analises.
-- 06/03/2020 - Robert - Inseridas linhas no inicio com litragem faturada, bonificada e representatividade.
-- 31/03/2020 - Robert - Criado grupo 3.5 (verbas) e suas subdivisoes (GLPI 7704).
-- 02/04/2020 - Robert - Grupo 3.5 nao estava sendo somado na composicao do 3.0
-- 12/04/2021 - Robert - Descritivo do grupo 3.5 alterado de 'VERBAS (REALIZADO)' para 'VERBAS' (GLPI 9802).
--                     - Descritivo do grupo 4.1.0 alterado de 'DESP.COML S/ RL' para 'DESP.ADM S/RL' (GLPI 9802).
-- 19/07/2023 - Robert - Criado grupo 2.0.3 (CPV RATEIO PROV.VD.ENT.FUT) - GLPI 13929
--

ALTER FUNCTION [dbo].[FDRE_INDL_TETRAS]
	-- PARAMETROS DE CHAMADA
	(@IN_ID_ANALISE INT
	,@FILINI VARCHAR (2)
	,@FILFIM VARCHAR (2)
	,@MARCAINI VARCHAR (15)
	,@MARCAFIM VARCHAR (15)
)
RETURNS @RET TABLE 
	(GRUPO varchar (10)
	,DESCRITIVO varchar (100)
	,TT200_UVA_NOSSO FLOAT
	,TT200_UVA_3OS FLOAT
	,TT200_OUTROS_NOSSO FLOAT
	,TT200_OUTROS_3OS FLOAT
	,TT1000_UVA_NOSSO FLOAT
	,TT1000_UVA_3OS FLOAT
	,TT1000_OUTROS_NOSSO FLOAT
	,TT1000_OUTROS_3OS FLOAT
)

AS
BEGIN
	DECLARE @DATAINI  VARCHAR (8) = (SELECT DATA_INI_NF    FROM DRE_INDL WHERE ID_ANALISE = @IN_ID_ANALISE)
	DECLARE @DATAFIM  VARCHAR (8) = (SELECT DATA_FIM_NF    FROM DRE_INDL WHERE ID_ANALISE = @IN_ID_ANALISE)
	DECLARE @FORMA_RATEIO VARCHAR (1) = (SELECT FORMA_RATEIO   FROM DRE_INDL WHERE ID_ANALISE = @IN_ID_ANALISE)
	DECLARE @MESINI VARCHAR (7) = SUBSTRING (@DATAINI, 5, 2) + '/' + SUBSTRING (@DATAINI, 1, 4);
	DECLARE @MESFIM VARCHAR (7) = SUBSTRING (@DATAFIM, 5, 2) + '/' + SUBSTRING (@DATAFIM, 1, 4);

-- MONTA CONSULTA COM PIVOTAGEM
;WITH DADOS AS (
	SELECT * FROM DRE_INDL_ITENS --DET_CUSTO_VENDA
	WHERE ID_ANALISE = @IN_ID_ANALISE --EMISSAO BETWEEN @DATAINI AND @DATAFIM
		AND FILIAL BETWEEN @FILINI AND @FILFIM
		AND MARCA_TERCEIRO BETWEEN @MARCAINI AND @MARCAFIM
), PIVOTAGEM AS
(

SELECT '0.1' AS GRUPO, 'LITRAGEM FATURADA' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN QTLITROS ELSE 0 END) AS COL01
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN QTLITROS ELSE 0 END) AS COL02
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN QTLITROS ELSE 0 END) AS COL03
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN QTLITROS ELSE 0 END) AS COL04
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN QTLITROS ELSE 0 END) AS COL05
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN QTLITROS ELSE 0 END) AS COL06
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN QTLITROS ELSE 0 END) AS COL07
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN QTLITROS ELSE 0 END) AS COL08
FROM DADOS
WHERE F4_MARGEM = '1'

UNION ALL SELECT '0.2' AS GRUPO, 'LITRAGEM BONIFICADA' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN QTLITROS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN QTLITROS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN QTLITROS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN QTLITROS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN QTLITROS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN QTLITROS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN QTLITROS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN QTLITROS ELSE 0 END)
FROM DADOS
WHERE F4_MARGEM = '3'

UNION ALL SELECT '1.0' AS GRUPO, 'FAT.BRUTO FL.' + @FILINI + CASE WHEN @FILFIM != @FILINI THEN ' a ' + @FILFIM ELSE '' END + ' - ' + @MESINI + ' A ' + @MESFIM + ' (RAT.' + CASE @FORMA_RATEIO WHEN 'L' THEN 'LITRAG' WHEN 'V' THEN 'VALOR' ELSE @FORMA_RATEIO END + ')' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN VALORNF ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN VALORNF ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN VALORNF ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN VALORNF ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN VALORNF ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN VALORNF ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN VALORNF ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN VALORNF ELSE 0 END)
FROM DADOS
WHERE F4_MARGEM = '1'

UNION ALL SELECT '1.0.0.1' AS GRUPO, 'VLR.MERCAD. (marca ' + CASE WHEN @MARCAINI != @MARCAFIM THEN @MARCAINI + ' a ' + @MARCAFIM ELSE @MARCAINI END + ')'
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN VALORMERC ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN VALORMERC ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN VALORMERC ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN VALORMERC ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN VALORMERC ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN VALORMERC ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN VALORMERC ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN VALORMERC ELSE 0 END)
FROM DADOS
WHERE F4_MARGEM = '1'

UNION ALL SELECT '1.1' AS GRUPO ,'DEVOLUCOES' AS DESCRITIVO
	,ISNULL (SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN VALORNF ELSE 0 END) * -1, 0)
	,ISNULL (SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN VALORNF ELSE 0 END) * -1, 0)
	,ISNULL (SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN VALORNF ELSE 0 END) * -1, 0)
	,ISNULL (SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN VALORNF ELSE 0 END) * -1, 0)
	,ISNULL (SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN VALORNF ELSE 0 END) * -1, 0)
	,ISNULL (SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN VALORNF ELSE 0 END) * -1, 0)
	,ISNULL (SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN VALORNF ELSE 0 END) * -1, 0)
	,ISNULL (SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN VALORNF ELSE 0 END) * -1, 0)
FROM DADOS
WHERE F4_MARGEM = '2'

UNION ALL SELECT '1.2' AS GRUPO ,'IMPOSTOS' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN (PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF + IMPOSTOS_RATEIO) ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
FROM DADOS


UNION ALL SELECT '1.2.1.0' AS GRUPO ,'IMPOSTOS NF' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
FROM DADOS


UNION ALL SELECT '1.2.1.1' AS GRUPO ,'IMPOSTOS RATEIO' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN IMPOSTOS_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN IMPOSTOS_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN IMPOSTOS_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN IMPOSTOS_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN IMPOSTOS_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN IMPOSTOS_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN IMPOSTOS_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN IMPOSTOS_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN 1 ELSE -1 END)
FROM DADOS


UNION ALL SELECT  '2.0' AS GRUPO, 'CPV TOTAL (B)' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN CPV + CPV_RATEIO + CPV_RATEIO_VEF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN CPV + CPV_RATEIO + CPV_RATEIO_VEF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN CPV + CPV_RATEIO + CPV_RATEIO_VEF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN CPV + CPV_RATEIO + CPV_RATEIO_VEF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN CPV + CPV_RATEIO + CPV_RATEIO_VEF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN CPV + CPV_RATEIO + CPV_RATEIO_VEF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN CPV + CPV_RATEIO + CPV_RATEIO_VEF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN CPV + CPV_RATEIO + CPV_RATEIO_VEF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
FROM DADOS

UNION ALL SELECT  '2.0.1' AS GRUPO, 'CPV NOTAS FISCAIS' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN CPV ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
FROM DADOS


UNION ALL SELECT  '2.0.2' AS GRUPO, 'CPV RATEIO' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN CPV_RATEIO ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
FROM DADOS


UNION ALL SELECT  '2.0.3' AS GRUPO, 'CPV PROVISAO VD.ENT.FUT.' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN CPV_RATEIO_VEF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN CPV_RATEIO_VEF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN CPV_RATEIO_VEF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN CPV_RATEIO_VEF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN CPV_RATEIO_VEF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN CPV_RATEIO_VEF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN CPV_RATEIO_VEF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN CPV_RATEIO_VEF ELSE 0 END * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
FROM DADOS


UNION ALL SELECT '2.1.1' AS GRUPO ,'MAT.EMBALAGEM (C)' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN CUSTO_TOT_ME ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN CUSTO_TOT_ME ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN CUSTO_TOT_ME ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN CUSTO_TOT_ME ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN CUSTO_TOT_ME ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN CUSTO_TOT_ME ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN CUSTO_TOT_ME ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN CUSTO_TOT_ME ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.1.3' AS GRUPO ,'MAT.AUXILIARES' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN DESP_MAT_AUX + DESP_MAT_AUX_RATEIO ELSE 0 END)
FROM DADOS



UNION ALL SELECT '2.1.3.1' AS GRUPO ,'MAT.AUXILIARES RATEIO' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN DESP_MAT_AUX_RATEIO ELSE 0 END)
FROM DADOS



UNION ALL SELECT '2.1.4' AS GRUPO ,'MO TERCEIROS' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN CUSTO_TOT_BN ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN CUSTO_TOT_BN ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN CUSTO_TOT_BN ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN CUSTO_TOT_BN ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN CUSTO_TOT_BN ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN CUSTO_TOT_BN ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN CUSTO_TOT_BN ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN CUSTO_TOT_BN ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.1.5' AS GRUPO ,'PERDAS (D)' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN CUSTO_TOT_PERDAS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN CUSTO_TOT_PERDAS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN CUSTO_TOT_PERDAS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN CUSTO_TOT_PERDAS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN CUSTO_TOT_PERDAS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN CUSTO_TOT_PERDAS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN CUSTO_TOT_PERDAS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN CUSTO_TOT_PERDAS ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.2' AS GRUPO ,'GASTOS INDUSTRIAIS (E)' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN GASTOS_INDL + GASTOS_INDL_RATEIO ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.2.0.1' AS GRUPO ,'GASTOS INDUSTRIAIS ANTES DISTRIB' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN GASTOS_INDL ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN GASTOS_INDL ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN GASTOS_INDL ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN GASTOS_INDL ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN GASTOS_INDL ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN GASTOS_INDL ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN GASTOS_INDL ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN GASTOS_INDL ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.2.0.2' AS GRUPO ,'GASTOS INDUSTRIAIS DISTRIBUIDOS' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN GASTOS_INDL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN GASTOS_INDL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN GASTOS_INDL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN GASTOS_INDL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN GASTOS_INDL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN GASTOS_INDL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN GASTOS_INDL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN GASTOS_INDL_RATEIO ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.2.1' AS GRUPO ,'COM PESSOAL' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN GASTOS_PESSOAL ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN GASTOS_PESSOAL ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN GASTOS_PESSOAL ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN GASTOS_PESSOAL ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN GASTOS_PESSOAL ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN GASTOS_PESSOAL ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN GASTOS_PESSOAL ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN GASTOS_PESSOAL ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.2.3' AS GRUPO ,'ALUGUEIS TETRA' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.2.4' AS GRUPO ,'CREDITOS TETRA' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.2.5' AS GRUPO ,'MANUTENCAO' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN GASTOS_MANUT ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN GASTOS_MANUT ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN GASTOS_MANUT ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN GASTOS_MANUT ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN GASTOS_MANUT ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN GASTOS_MANUT ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN GASTOS_MANUT ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN GASTOS_MANUT ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.2.7' AS GRUPO ,'COMBUST.E LUBRIF' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN GASTOS_COMBUST ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN GASTOS_COMBUST ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN GASTOS_COMBUST ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN GASTOS_COMBUST ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN GASTOS_COMBUST ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN GASTOS_COMBUST ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN GASTOS_COMBUST ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN GASTOS_COMBUST ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.2.8' AS GRUPO ,'EN.ELETRICA' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN GASTOS_EN_ELET ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN GASTOS_EN_ELET ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN GASTOS_EN_ELET ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN GASTOS_EN_ELET ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN GASTOS_EN_ELET ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN GASTOS_EN_ELET ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN GASTOS_EN_ELET ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN GASTOS_EN_ELET ELSE 0 END)
FROM DADOS


UNION ALL SELECT '2.2.9' AS GRUPO ,'OUTRAS' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN GASTOS_INDL_OUTRAS ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.1' AS GRUPO ,'BONIFICACOES' AS DESCRITIVO
	,ISNULL (SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN CUSTO + BONIF_RATEIO ELSE 0 END), 0)
	,ISNULL (SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN CUSTO + BONIF_RATEIO ELSE 0 END), 0)
	,ISNULL (SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN CUSTO + BONIF_RATEIO ELSE 0 END), 0)
	,ISNULL (SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN CUSTO + BONIF_RATEIO ELSE 0 END), 0)
	,ISNULL (SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN CUSTO + BONIF_RATEIO ELSE 0 END), 0)
	,ISNULL (SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN CUSTO + BONIF_RATEIO ELSE 0 END), 0)
	,ISNULL (SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN CUSTO + BONIF_RATEIO ELSE 0 END), 0)
	,ISNULL (SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN CUSTO + BONIF_RATEIO ELSE 0 END), 0)
FROM DADOS
WHERE F4_MARGEM = '3'

UNION ALL SELECT '3.1.0.1' AS GRUPO ,'BONIFICACOES ORIG' AS DESCRITIVO
	,ISNULL (SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN CUSTO ELSE 0 END), 0)
	,ISNULL (SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN CUSTO ELSE 0 END), 0)
	,ISNULL (SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN CUSTO ELSE 0 END), 0)
	,ISNULL (SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN CUSTO ELSE 0 END), 0)
	,ISNULL (SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN CUSTO ELSE 0 END), 0)
	,ISNULL (SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN CUSTO ELSE 0 END), 0)
	,ISNULL (SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN CUSTO ELSE 0 END), 0)
	,ISNULL (SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN CUSTO ELSE 0 END), 0)
FROM DADOS
WHERE F4_MARGEM = '3'

UNION ALL SELECT '3.1.0.2' AS GRUPO ,'BONIFICACOES DISTRIBUIDAS' AS DESCRITIVO
	,ISNULL (SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN BONIF_RATEIO ELSE 0 END), 0)
	,ISNULL (SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN BONIF_RATEIO ELSE 0 END), 0)
	,ISNULL (SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN BONIF_RATEIO ELSE 0 END), 0)
	,ISNULL (SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN BONIF_RATEIO ELSE 0 END), 0)
	,ISNULL (SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN BONIF_RATEIO ELSE 0 END), 0)
	,ISNULL (SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN BONIF_RATEIO ELSE 0 END), 0)
	,ISNULL (SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN BONIF_RATEIO ELSE 0 END), 0)
	,ISNULL (SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN BONIF_RATEIO ELSE 0 END), 0)
FROM DADOS
WHERE F4_MARGEM = '3'

UNION ALL SELECT '3.2' AS GRUPO ,'RAPEL' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO) ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.2.0.1' AS GRUPO ,'RAPEL ANTES DISTRIB' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPELPREV ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPELPREV ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPELPREV ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPELPREV ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPELPREV ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPELPREV ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPELPREV ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPELPREV ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.2.0.2' AS GRUPO ,'RAPEL DISTRIBUIDO' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPEL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPEL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPEL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPEL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPEL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPEL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPEL_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPEL_RATEIO ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.3' AS GRUPO ,'FRETE' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN FRETEPREV + FRETE_RATEIO ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.3.0.1' AS GRUPO ,'FRETE ORIG' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN FRETEPREV ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN FRETEPREV ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN FRETEPREV ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN FRETEPREV ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN FRETEPREV ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN FRETEPREV ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN FRETEPREV ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN FRETEPREV ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.3.0.2' AS GRUPO ,'FRETE DISTRIBUIDO' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN FRETE_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN FRETE_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN FRETE_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN FRETE_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN FRETE_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN FRETE_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN FRETE_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN FRETE_RATEIO ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.4' AS GRUPO ,'COMISSAO' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO) ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.4.0.1' AS GRUPO ,'COMISSAO ORIG' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMISPREV ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMISPREV ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMISPREV ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMISPREV ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMISPREV ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMISPREV ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMISPREV ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMISPREV ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.4.0.2' AS GRUPO ,'COMISSAO DISTRIBUIDA' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMIS_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMIS_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMIS_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMIS_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMIS_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMIS_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMIS_RATEIO ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMIS_RATEIO ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.5' AS GRUPO ,'VERBAS' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS + VERBAS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS + VERBAS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS + VERBAS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS + VERBAS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS + VERBAS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS + VERBAS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS + VERBAS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS + VERBAS_RATEIO) ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.5.0.1' AS GRUPO ,'VERBAS (ORIG)' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS) ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.5.0.2' AS GRUPO ,'VERBAS (DISTRIBUIDA)' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (VERBAS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (VERBAS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (VERBAS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (VERBAS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (VERBAS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (VERBAS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (VERBAS_RATEIO) ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (VERBAS_RATEIO) ELSE 0 END)
FROM DADOS


UNION ALL SELECT '3.9' AS GRUPO ,'OUTRAS' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN GASTOS_COML_OUTRAS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN GASTOS_COML_OUTRAS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN GASTOS_COML_OUTRAS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN GASTOS_COML_OUTRAS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN GASTOS_COML_OUTRAS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN GASTOS_COML_OUTRAS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN GASTOS_COML_OUTRAS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN GASTOS_COML_OUTRAS ELSE 0 END)
FROM DADOS


UNION ALL SELECT '4.0' AS GRUPO ,'DESPESAS ADMINISTRATIVAS (G)' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN DESP_ADMIN ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN DESP_ADMIN ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN DESP_ADMIN ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN DESP_ADMIN ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN DESP_ADMIN ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN DESP_ADMIN ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN DESP_ADMIN ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN DESP_ADMIN ELSE 0 END)
FROM DADOS


UNION ALL SELECT '6.0' AS GRUPO ,'OUTROS INGRESSOS / DISPENDIOS (I)' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN OUTROS_INGRESSOS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN OUTROS_INGRESSOS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN OUTROS_INGRESSOS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN OUTROS_INGRESSOS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN OUTROS_INGRESSOS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN OUTROS_INGRESSOS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN OUTROS_INGRESSOS ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN OUTROS_INGRESSOS ELSE 0 END)
FROM DADOS


UNION ALL SELECT '7.0' AS GRUPO ,'RESULTADO FINANCEIRO (J)' AS DESCRITIVO
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'A' THEN RESULT_FIN ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'B' THEN RESULT_FIN ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'C' THEN RESULT_FIN ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA1 = 'D' THEN RESULT_FIN ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'E' THEN RESULT_FIN ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'F' THEN RESULT_FIN ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'G' THEN RESULT_FIN ELSE 0 END)
	,SUM (CASE WHEN GRP_ANALISE_TETRA2 = 'H' THEN RESULT_FIN ELSE 0 END)
FROM DADOS
)
-- CALCULA LINHAS DE SUBTOTAIS
, SUBTOTAIS1 AS (
	SELECT * FROM PIVOTAGEM

	UNION ALL SELECT '0.3' AS GRUPO, 'LITRAGEM BONIF/FATUR' AS DESCRITIVO
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '0.1' THEN COL01 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '0.2' THEN COL01 ELSE 0 END) / SUM (CASE WHEN GRUPO = '0.1' THEN COL01 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '0.1' THEN COL02 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '0.2' THEN COL02 ELSE 0 END) / SUM (CASE WHEN GRUPO = '0.1' THEN COL02 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '0.1' THEN COL03 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '0.2' THEN COL03 ELSE 0 END) / SUM (CASE WHEN GRUPO = '0.1' THEN COL03 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '0.1' THEN COL04 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '0.2' THEN COL04 ELSE 0 END) / SUM (CASE WHEN GRUPO = '0.1' THEN COL04 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '0.1' THEN COL05 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '0.2' THEN COL05 ELSE 0 END) / SUM (CASE WHEN GRUPO = '0.1' THEN COL05 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '0.1' THEN COL06 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '0.2' THEN COL06 ELSE 0 END) / SUM (CASE WHEN GRUPO = '0.1' THEN COL06 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '0.1' THEN COL07 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '0.2' THEN COL07 ELSE 0 END) / SUM (CASE WHEN GRUPO = '0.1' THEN COL07 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '0.1' THEN COL08 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '0.2' THEN COL08 ELSE 0 END) / SUM (CASE WHEN GRUPO = '0.1' THEN COL08 ELSE 0 END), 2) END
	FROM PIVOTAGEM
	WHERE GRUPO IN ('0.1', '0.2')

	UNION ALL
	SELECT '1.4' AS GRUPO, 'INGRESSOS/RECEITA LIQUIDA (A)' AS DESCRITIVO
		,SUM (COL01)
		,SUM (COL02)
		,SUM (COL03)
		,SUM (COL04)
		,SUM (COL05)
		,SUM (COL06)
		,SUM (COL07)
		,SUM (COL08)
	FROM PIVOTAGEM
	WHERE GRUPO IN ('1.0','1.1','1.2')

	UNION ALL
	SELECT '2.1' AS GRUPO, 'ESTRUTURA PRODUTO (=B-C-D-E)' AS DESCRITIVO
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL01)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL02)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL03)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL04)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL05)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL06)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL07)
		,SUM (CASE WHEN GRUPO = '2.0' THEN 1 ELSE -1 END * COL08)
	FROM PIVOTAGEM
	WHERE GRUPO IN ('2.0', '2.1.1', '2.1.5', '2.2')

	UNION ALL
	SELECT '3.0' AS GRUPO, 'DESPESAS COMERCIAIS (F)' AS DESCRITIVO
		,SUM (COL01)
		,SUM (COL02)
		,SUM (COL03)
		,SUM (COL04)
		,SUM (COL05)
		,SUM (COL06)
		,SUM (COL07)
		,SUM (COL08)
	FROM PIVOTAGEM
	WHERE GRUPO IN ('3.1', '3.2', '3.3', '3.4', '3.9')
)
, SUBTOTAIS2 AS
(
	SELECT * FROM SUBTOTAIS1

	UNION ALL
	SELECT '5.0' AS GRUPO, 'RESULTADO OPERACIONAL (H=A-B-F-G)' AS DESCRITIVO
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL01)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL02)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL03)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL04)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL05)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL06)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL07)
		,SUM (CASE WHEN GRUPO = '1.4' THEN 1 ELSE -1 END * COL08)
	FROM SUBTOTAIS1
	WHERE GRUPO IN ('1.4', '2.0', '3.0', '4.0')
)
, SUBTOTAIS3 AS
(
	SELECT * FROM SUBTOTAIS2

	UNION ALL SELECT '2.0.0' AS GRUPO, 'CPV S/ RL' AS DESCRITIVO
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL01 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL01 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL01 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL02 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL02 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL02 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL03 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL03 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL03 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL04 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL04 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL04 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL05 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL05 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL05 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL06 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL06 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL06 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL07 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL07 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL07 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL08 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '2.0' THEN COL08 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL08 ELSE 0 END), 2) END
	FROM SUBTOTAIS2
	WHERE GRUPO IN ('1.4', '2.0')

	UNION ALL SELECT '3.0.0' AS GRUPO, 'DESP.COML S/ RL' AS DESCRITIVO
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL01 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL01 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL01 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL02 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL02 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL02 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL03 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL03 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL03 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL04 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL04 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL04 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL05 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL05 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL05 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL06 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL06 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL06 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL07 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL07 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL07 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL08 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '3.0' THEN COL08 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL08 ELSE 0 END), 2) END
	FROM SUBTOTAIS2
	WHERE GRUPO IN ('1.4', '3.0')

	UNION ALL SELECT '4.1.0' AS GRUPO, 'DESP.ADM S/ RL' AS DESCRITIVO
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL01 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL01 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL01 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL02 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL02 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL02 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL03 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL03 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL03 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL04 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL04 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL04 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL05 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL05 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL05 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL06 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL06 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL06 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL07 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL07 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL07 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL08 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '4.0' THEN COL08 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL08 ELSE 0 END), 2) END
	FROM SUBTOTAIS2
	WHERE GRUPO IN ('1.4', '4.0')

	UNION ALL SELECT '5.0.0' AS GRUPO, 'RO S/ RL' AS DESCRITIVO
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL01 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL01 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL01 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL02 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL02 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL02 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL03 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL03 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL03 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL04 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL04 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL04 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL05 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL05 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL05 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL06 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL06 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL06 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL07 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL07 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL07 ELSE 0 END), 2) END
		,CASE WHEN ISNULL (SUM (CASE WHEN GRUPO = '1.4' THEN COL08 ELSE 0 END), 0) = 0 THEN 0 ELSE ROUND (SUM (CASE WHEN GRUPO = '5.0' THEN COL08 ELSE 0 END) / SUM (CASE WHEN GRUPO = '1.4' THEN COL08 ELSE 0 END), 2) END
	FROM SUBTOTAIS2
	WHERE GRUPO IN ('1.4', '5.0')

	UNION ALL
	SELECT '8.0' AS GRUPO, 'TOTALIZADOR (=H+I+J)' AS DESCRITIVO
		,SUM (COL01)
		,SUM (COL02)
		,SUM (COL03)
		,SUM (COL04)
		,SUM (COL05)
		,SUM (COL06)
		,SUM (COL07)
		,SUM (COL08)
	FROM SUBTOTAIS2
	WHERE GRUPO IN ('5.0', '6.0', '7.0')

)

INSERT INTO @RET
select GRUPO, DESCRITIVO
		, COL01
		, COL02
		, COL03
		, COL04
		, COL05
		, COL06
		, COL07
		, COL08
FROM SUBTOTAIS3
--WHERE SUBSTRING (GRUPO, 6, 1) != '.'  -- PARA NAO LISTAR AS LINHAS DE DETALHAMENTO

RETURN
END


