
-- Descricao: Gera dados para indicadores financeiros
-- Autor....: Robert Koch
-- Data.....: 14/09/2023
--
-- Historico de alteracoes:

CREATE procedure [dbo].[SP_INDIC_ECON_FIN]
(
	@in_ano varchar (4)
	,@in_mes varchar (2)
) as
begin

	if eomonth (@in_ano + @in_mes + '01') > eomonth (getdate ())
	begin
		raiserror ('Nao pode gerar data futura', 11, 1)
		return
	end

	-- Cria tabela para armazenamento dos indicadores
	if (not exists (select * from INFORMATION_SCHEMA.TABLES where table_name = 'indices_econ_financ'))
	begin
		print 'criando tabela'

		create table indices_econ_financ (
			ano        varchar (4)  not null
			,mes       varchar (2)  not null
			,indice    varchar (5)  not null
			,descricao varchar (50) not null
			,valor     float        default 0
		)
		create nonclustered index idx1 ON indices_econ_financ (ano, mes, indice)
	end

	-- Limpa todo o conteudo do ano/mes referencia para gerar novamente.
	delete indices_econ_financ
	where ano = @in_ano
	and mes = @in_mes

	-- Optei por gravar a descricao junto no arquivo. Apesar de ser nao normalizado,
	-- acho que com o tempo novos indices serao criados, e alguns substituidos, entao pode
	-- ser interessante manter um historico do que era cada um.
	-- Depois vou marcar a tabela para compressao no banco, entao essa repeticao de descricoes
	-- nao deverah ser um problema de tamanho de tabela.

	-- Gera tabela temporaria com saldos por conta, para uso nas queries posteriores.
	select CQ3_CONTA as conta
		, SUM (CQ3_DEBITO - CQ3_CREDIT) as valor
	into #saldos
	FROM protheus.dbo.CQ3010
	WHERE D_E_L_E_T_ = ''
	AND CQ3_DATA BETWEEN @in_ano + @in_mes + '01' AND @in_ano + @in_mes + '31'
	AND CQ3_TPSALD = '1'  -- REALIZADO
	AND CQ3_LP != 'Z' -- IGNORAR AS CONTAS DE ZERAMENTO (VIRADA DE EXERCICIO)
	GROUP BY CQ3_CONTA--, SUBSTRING (CQ3_DATA, 1, 6)
	create nonclustered index idx1 on #saldos (conta)


	insert into indices_econ_financ (ano, mes, indice, descricao, valor) values (@in_ano, @in_mes, '01', 'Índices de liquidez', NULL)
	insert into indices_econ_financ (ano, mes, indice, descricao, valor) values (@in_ano, @in_mes, '01.01', 'Liquidez Imediata', NULL)
	insert into indices_econ_financ (ano, mes, indice, descricao, valor) values (@in_ano, @in_mes, '01.02', 'Liquidez Corrente', NULL)
	-------------------------------------------------------------------------
	-------------------------------------------------------------------------
	-------------------------------------------------------------------------
	-------------------------------------------------------------------------



	-------------------------------------------------------------------------

	declare @folha_numero_funcionarios int
	declare @folha_gastos_com_folha    float

	select @folha_numero_funcionarios = count (*)
	from LKSRV_SIRH.SIRH.dbo.VA_VFUNCIONARIOS
	where DATAADMISSAO <= eomonth (@in_ano + @in_mes + '01')
	and (DATARESCISAO is null or DATARESCISAO > eomonth (@in_ano + @in_mes + '01'))


	select @folha_gastos_com_folha = sum (valor * case when conta in ('403010101002', '403010102004') then -1 else 1 end)
	from #saldos
	where  conta like '403010101%'
		or conta like '403010102%'
		or conta like '403010103%'
		or conta like '403010104%'
		or conta like '403010101002%'
		or conta like '403010102004%'
		or conta like '701010201%'
		or conta like '701010202%'
		or conta like '701010203%'
		or conta like '701010204%'




	-------------------------------------------------------------------------

	-- Manter consistencia com VA_XLS4 e BatPrDia do Protheus
	declare @litros_produzidos_op float
	declare @litros_envasados_op  float
	select @litros_produzidos_op = sum (D3_QUANT * B1_LITROS)
		,  @litros_envasados_op  = sum (case when B1_TIPO in ('PI', 'PA') then D3_QUANT * B1_LITROS else 0 end)
			from protheus.dbo.SD3010 SD3
				,protheus.dbo.SB1010 SB1
			where SD3.D_E_L_E_T_ = ''
			and D3_EMISSAO between @in_ano + '0101' AND @in_ano + '1231'
			and D3_ESTORNO != 'S'
			and D3_CF like 'PR%'
			and SB1.D_E_L_E_T_ = ''
			and B1_FILIAL = '  '
			and B1_COD = D3_COD






		
	
	-------------------------------------------------------------------------

	-- Busca dados de estoque no ultimo dia do periodo
	-- Manter consistencia com a consulta wpnestoquelitros do NaWeb
	declare @estq_litros_granel   float;
	declare @estq_litros_envasado float;
	declare @estq_litros_total    float;
	declare @custo_estq_envasado  float;
	SELECT @estq_litros_granel  = sum (ESTQ_LITROS_GRANEL)
		, @estq_litros_envasado = sum (ESTQ_LITROS_ENVASADO)
		, @estq_litros_total    = sum (ESTQ_LITROS_TOTAL)
		, @custo_estq_envasado  = sum (CUSTO_MEDIO_ENVASADO)
	FROM protheus.[dbo].[VA_FESTOQUES_LITROS] (format (eomonth (@in_ano + @in_mes + '01'), 'yyyyMMdd'), '', 'zz')
	

	-------------------------------------------------------------------------

	-- Busca dados de faturamento no mes.
	-- Manter consistencia com 'exporta dados' e PowerBI
	declare @fat_litros_vendidos_total  float;
	declare @fat_litros_vendidos_granel float;
	declare @fat_litros_bonificados     float;
	declare @fat_valor_faturado         float;
	declare @fat_indl_litros            float;
	declare @fat_indl_valor_faturado    float;
	select @fat_litros_vendidos_total  = sum (case when F4_MARGEM = '1' then QTLITROS else 0 end)
		,  @fat_litros_vendidos_granel = sum (case when F4_MARGEM = '1' and GRPEMB = '18' then QTLITROS else 0 end)
		,  @fat_litros_bonificados     = sum (case when F4_MARGEM = '3' then QTLITROS else 0 end)
		,  @fat_valor_faturado         = sum (case when F4_MARGEM = '1' then VALBRUT else 0 end)
		,  @fat_indl_litros            = sum (case when F4_MARGEM = '1' and CODLINHA = '21' then QTLITROS else 0 end)
		,  @fat_indl_valor_faturado    = sum (case when F4_MARGEM = '1' and CODLINHA = '21' then VALBRUT else 0 end)
	from VA_FATDADOS
	where EMPRESA = '01'
	and EMISSAO like @in_ano + @in_mes + '%'

	insert into indices_econ_financ (ano, mes, indice, descricao, valor) values (@in_ano, @in_mes, '09.08', 'Valor médio ind R$ / Litro'
		, case when @fat_indl_litros > 0
			then @fat_indl_valor_faturado / @fat_indl_litros
			else 0
			end)

	-------------------------------------------------------------------------

end


