
--
-- Descricao: Gera rateios de dados contabeis na tabela DRE_INDL_ITENS (ja previamente gerada por outra rotina) para consulta de DRE industrial
-- Royalties: https://stackoverflow.com/questions/6661505/declare-variable-in-table-valued-function
-- Autor....: Robert Koch
-- Data.....: julho/2019
--
-- Historico de alteracoes:
-- 18/08/2019 - Robert - Passa a trabalhar com 'ID de analise' para permitir usar a mesma tabela para dados de diferentes analises.
-- 04/03/2020 - Robert - Removidas algumas linhas comentariadas.
-- 30/03/2020 - Robert - Grupo contabil '3.0' passa a desconsiderar a conta 403010401007 (verbas) pois vai ter seu grupo (3.5) em separado (GLPI 7704).
-- 02/04/2020 - Robert - Aplicava (indevidamente) rateio de verbas (grupo 3.5) comerciais para itens a granel.
--                     - Nao descontava de GASTOS_COML_OUTRAS os valores jah rateados em verbas (grupo 3.5).
-- 13/07/2020 - Robert - Tratamento para situacao em que o campo VERBAS_RATEIO continha NULL.
-- 23/07/2020 - Robert - Tratamento para algumas variaveis que podiam receber NULL quando o select nao encontrasse nenhum dado (periodos curtos, etc.)
-- 22/01/2021 - Robert - Testa valor dos divisores em diversos calculos de rateio, para evitar divisao por zero.
-- 12/04/2021 - Robert - Gravacao do campo VERBAS_RATEIO ficava NULL em algumas situacoes. Criado tratamento com IsNull (GLPI 9802).
-- 28/06/2023 - Robert - Rateia verbas e rapel somente para clientes/notas que os utilizam (para nao penalizar outros clientes)
--

ALTER PROCEDURE [dbo].[SP_DRE_INDL_GERA_RATEIOS]
(
	@IN_ID_ANALISE INT
	,@FILINI VARCHAR (2)
	,@FILFIM VARCHAR (2)
) AS
BEGIN

	DECLARE @IN_DATA_INI_NF  VARCHAR (8) = (SELECT DATA_INI_NF    FROM DRE_INDL WHERE ID_ANALISE = @IN_ID_ANALISE)
	DECLARE @IN_DATA_FIM_NF  VARCHAR (8) = (SELECT DATA_FIM_NF    FROM DRE_INDL WHERE ID_ANALISE = @IN_ID_ANALISE)
	DECLARE @IN_FORMA_RATEIO VARCHAR (1) = (SELECT FORMA_RATEIO   FROM DRE_INDL WHERE ID_ANALISE = @IN_ID_ANALISE)

	PRINT '---------------------------'
	PRINT 'INICIANDO RATEIOS FILIAIS ENTRE ' + @FILINI + ' E ' + @FILFIM


	-- MONTA LISTA DOS CENTROS DE CUSTO QUE ESTAO EM ANALISE NESTE RELATORIO
	DROP TABLE IF EXISTS #CC_EM_ANALISE
	SELECT CC INTO #CC_EM_ANALISE FROM (VALUES ('011401'),('011402'),('011403'),('011404'),('011405'),('011406'),('091401'),('091403'),('011409')) AS MyTable(CC);
	CREATE NONCLUSTERED INDEX IND1 ON #CC_EM_ANALISE (CC)

	-- MONTA LISTA DE CONTAS CONTABEIS E GRUPOS ONDE DEVEM SER CLASSIFICADAS
	DROP TABLE IF EXISTS #CONTAS
	SELECT 1 AS LEITURA_CT2, CT1_CONTA AS CONTA, '2.2.1' AS GRUPO, 'COM PESSOAL' + space(20) AS DESCRITIVO, CT1_DESC01 INTO #CONTAS        FROM protheus.dbo.CT1010 WHERE D_E_L_E_T_ = '' AND CT1_CLASSE = '2' AND CT1_CONTA LIKE '7010102%'
	INSERT INTO #CONTAS (LEITURA_CT2, CONTA, GRUPO, DESCRITIVO, CT1_DESC01) SELECT 1, CT1_CONTA, '1.2.1', 'CRED.IMP.VENDA PRD.UVA'     , CT1_DESC01 FROM protheus.dbo.CT1010 WHERE D_E_L_E_T_ = '' AND CT1_CLASSE = '2' AND CT1_CONTA LIKE '401010102%'
	INSERT INTO #CONTAS (LEITURA_CT2, CONTA, GRUPO, DESCRITIVO, CT1_DESC01) SELECT 1, CT1_CONTA, '1.2.2', 'CRED.IMP.VENDA PRD.NAO UVA' , CT1_DESC01 FROM protheus.dbo.CT1010 WHERE D_E_L_E_T_ = '' AND CT1_CLASSE = '2' AND CT1_CONTA LIKE '401010202%'
	INSERT INTO #CONTAS (LEITURA_CT2, CONTA, GRUPO, DESCRITIVO, CT1_DESC01) SELECT 1, CT1_CONTA, '2.0',   'CPV'                        , CT1_DESC01 FROM protheus.dbo.CT1010 WHERE D_E_L_E_T_ = '' AND CT1_CLASSE = '2' AND CT1_CONTA LIKE '402%'
	INSERT INTO #CONTAS (LEITURA_CT2, CONTA, GRUPO, DESCRITIVO, CT1_DESC01) SELECT 1, CT1_CONTA, '2.1.3', 'MAT.AUXILIARES'             , CT1_DESC01 FROM protheus.dbo.CT1010 WHERE D_E_L_E_T_ = '' AND CT1_CLASSE = '2' AND CT1_CONTA IN ('701010301024')
	INSERT INTO #CONTAS (LEITURA_CT2, CONTA, GRUPO, DESCRITIVO, CT1_DESC01) SELECT 2, CT1_CONTA, '2.2',   'GASTOS INDUSTRIAIS (E)'     , CT1_DESC01 FROM protheus.dbo.CT1010 WHERE D_E_L_E_T_ = '' AND CT1_CLASSE = '2' AND (CT1_CONTA LIKE '7010102%' OR CT1_CONTA LIKE '7010103%')
	INSERT INTO #CONTAS (LEITURA_CT2, CONTA, GRUPO, DESCRITIVO, CT1_DESC01) SELECT 1, CT1_CONTA, '2.2.2', 'DEPRECIACAO'                , CT1_DESC01 FROM protheus.dbo.CT1010 WHERE D_E_L_E_T_ = '' AND CT1_CLASSE = '2' AND CT1_CONTA IN ('701010301014', '701010301015')
	INSERT INTO #CONTAS (LEITURA_CT2, CONTA, GRUPO, DESCRITIVO, CT1_DESC01) SELECT 1, CT1_CONTA, '2.2.3', 'ALUGUEL TETRA'              , CT1_DESC01 FROM protheus.dbo.CT1010 WHERE D_E_L_E_T_ = '' AND CT1_CLASSE = '2' AND CT1_CONTA IN ('701010301025')
	INSERT INTO #CONTAS (LEITURA_CT2, CONTA, GRUPO, DESCRITIVO, CT1_DESC01) SELECT 1, CT1_CONTA, '2.2.5', 'MANUTENCAO'                 , CT1_DESC01 FROM protheus.dbo.CT1010 WHERE D_E_L_E_T_ = '' AND CT1_CLASSE = '2' AND CT1_CONTA IN ('701010301011', '701010301010', '701010301033')
	INSERT INTO #CONTAS (LEITURA_CT2, CONTA, GRUPO, DESCRITIVO, CT1_DESC01) SELECT 1, CT1_CONTA, '2.2.6', 'MEIO AMBIENTE/ETE'          , CT1_DESC01 FROM protheus.dbo.CT1010 WHERE D_E_L_E_T_ = '' AND CT1_CLASSE = '2' AND CT1_CONTA IN ('701010301026', '701010301020')
	INSERT INTO #CONTAS (LEITURA_CT2, CONTA, GRUPO, DESCRITIVO, CT1_DESC01) SELECT 1, CT1_CONTA, '2.2.7', 'COMBUST.E LUBRIF.'          , CT1_DESC01 FROM protheus.dbo.CT1010 WHERE D_E_L_E_T_ = '' AND CT1_CLASSE = '2' AND CT1_CONTA IN ('701010301001', '701010301005')
	INSERT INTO #CONTAS (LEITURA_CT2, CONTA, GRUPO, DESCRITIVO, CT1_DESC01) SELECT 1, CT1_CONTA, '2.2.8', 'EN.ELETRICA'                , CT1_DESC01 FROM protheus.dbo.CT1010 WHERE D_E_L_E_T_ = '' AND CT1_CLASSE = '2' AND CT1_CONTA IN ('701010301002')
--	INSERT INTO #CONTAS (LEITURA_CT2, CONTA, GRUPO, DESCRITIVO, CT1_DESC01) SELECT 2, CT1_CONTA, '3.0',   'DESP COMERCIAIS'            , CT1_DESC01 FROM protheus.dbo.CT1010 WHERE D_E_L_E_T_ = '' AND CT1_CLASSE = '2' AND (CT1_CONTA LIKE '4030104%' OR CT1_CONTA IN ('403020101005'))
	INSERT INTO #CONTAS (LEITURA_CT2, CONTA, GRUPO, DESCRITIVO, CT1_DESC01) SELECT 2, CT1_CONTA, '3.0',   'DESP COMERCIAIS'            , CT1_DESC01 FROM protheus.dbo.CT1010 WHERE D_E_L_E_T_ = '' AND CT1_CLASSE = '2' AND (CT1_CONTA LIKE '4030104%' OR CT1_CONTA IN ('403020101005') AND CT1_CONTA != '403010401007')
	INSERT INTO #CONTAS (LEITURA_CT2, CONTA, GRUPO, DESCRITIVO, CT1_DESC01) SELECT 1, CT1_CONTA, '3.1',   'BONIFICACOES'               , CT1_DESC01 FROM protheus.dbo.CT1010 WHERE D_E_L_E_T_ = '' AND CT1_CLASSE = '2' AND CT1_CONTA IN ('403010401004')
	INSERT INTO #CONTAS (LEITURA_CT2, CONTA, GRUPO, DESCRITIVO, CT1_DESC01) SELECT 1, CT1_CONTA, '3.2',   'RAPEL'                      , CT1_DESC01 FROM protheus.dbo.CT1010 WHERE D_E_L_E_T_ = '' AND CT1_CLASSE = '2' AND CT1_CONTA IN ('403010401003')
	INSERT INTO #CONTAS (LEITURA_CT2, CONTA, GRUPO, DESCRITIVO, CT1_DESC01) SELECT 1, CT1_CONTA, '3.3',   'FRETE'                      , CT1_DESC01 FROM protheus.dbo.CT1010 WHERE D_E_L_E_T_ = '' AND CT1_CLASSE = '2' AND CT1_CONTA IN ('403010401002')
	INSERT INTO #CONTAS (LEITURA_CT2, CONTA, GRUPO, DESCRITIVO, CT1_DESC01) SELECT 1, CT1_CONTA, '3.4',   'COMISSOES'                  , CT1_DESC01 FROM protheus.dbo.CT1010 WHERE D_E_L_E_T_ = '' AND CT1_CLASSE = '2' AND CT1_CONTA IN ('403010401001')
	INSERT INTO #CONTAS (LEITURA_CT2, CONTA, GRUPO, DESCRITIVO, CT1_DESC01) SELECT 1, CT1_CONTA, '3.5',   'VERBAS'                     , CT1_DESC01 FROM protheus.dbo.CT1010 WHERE D_E_L_E_T_ = '' AND CT1_CLASSE = '2' AND CT1_CONTA IN ('403010401007')
	INSERT INTO #CONTAS (LEITURA_CT2, CONTA, GRUPO, DESCRITIVO, CT1_DESC01) SELECT 1, CT1_CONTA, '4.0',   'DESP ADMIN'                 , CT1_DESC01 FROM protheus.dbo.CT1010 WHERE D_E_L_E_T_ = '' AND CT1_CLASSE = '2' AND (CT1_CONTA LIKE '4030101%' OR CT1_CONTA LIKE '4030102%' OR CT1_CONTA LIKE '4030103%' OR CT1_CONTA LIKE '4030105%' OR CT1_CONTA LIKE '4030107%' OR CT1_CONTA IN ('403020101001', '403020101002','403020101003','403020101004','403020101007'))
	INSERT INTO #CONTAS (LEITURA_CT2, CONTA, GRUPO, DESCRITIVO, CT1_DESC01) SELECT 1, CT1_CONTA, '6.0',   'OUTROS INGRESSOS'           , CT1_DESC01 FROM protheus.dbo.CT1010 WHERE D_E_L_E_T_ = '' AND CT1_CLASSE = '2' AND CT1_CONTA LIKE '405%'
	INSERT INTO #CONTAS (LEITURA_CT2, CONTA, GRUPO, DESCRITIVO, CT1_DESC01) SELECT 1, CT1_CONTA, '7.0',   'RESULT FIN'                 , CT1_DESC01 FROM protheus.dbo.CT1010 WHERE D_E_L_E_T_ = '' AND CT1_CLASSE = '2' AND CT1_CONTA LIKE '406%'
	CREATE NONCLUSTERED INDEX IND1 ON #CONTAS (CONTA)
	CREATE NONCLUSTERED INDEX IND2 ON #CONTAS (LEITURA_CT2, CONTA)

	-- BUSCA VALORES CONTABEIS PARA POSTERIOR RATEIO
	PRINT 'LENDO DADOS DA CONTABILIDADE'
	DROP TABLE IF EXISTS CONTAB
	
	select FILIAL, GRUPO, DESCRITIVO  -- BUSCA VALORES DE "TODAS" AS CONTAS DE DESPESAS (TODO O GRUPO)
		,SUM (CASE WHEN CC = '011401' THEN VALOR ELSE 0 END) AS VIDRO
		,SUM (CASE WHEN CC = '011402' THEN VALOR ELSE 0 END) AS ISOBARICA
		,SUM (CASE WHEN CC = 'EM_3OS' THEN VALOR ELSE 0 END) AS EM_3OS
		,SUM (CASE WHEN CC = '011403' THEN VALOR ELSE 0 END) AS PET
		,SUM (CASE WHEN CC = '011404' THEN VALOR ELSE 0 END) AS TETRA_200
		,SUM (CASE WHEN CC = '011405' THEN VALOR ELSE 0 END) AS TETRA_1000
		,SUM (CASE WHEN CC = '011406' THEN VALOR ELSE 0 END) AS BAG
		,SUM (CASE WHEN CC = '011409' THEN VALOR ELSE 0 END) AS CAXIAS
		,SUM (CASE WHEN CC = 'F09'    THEN VALOR ELSE 0 END) AS FILIAL_09
		,SUM (CASE WHEN CC = 'GRANEL' THEN VALOR ELSE 0 END) AS GRANEL
		,SUM (CASE WHEN CC = 'OUTRAS' THEN VALOR ELSE 0 END) AS OUTRAS
	INTO CONTAB
	FROM (
		-- DEFINE DESCRITIVO COM BASE NAS CONTAS ENVOLVIDAS
		SELECT FILIAL
			,(select TOP 1 GRUPO      FROM #CONTAS WHERE #CONTAS.LEITURA_CT2 = 2 AND #CONTAS.CONTA = LCTOS_CT2.CONTA) AS GRUPO
			,(select TOP 1 DESCRITIVO FROM #CONTAS WHERE #CONTAS.LEITURA_CT2 = 2 AND #CONTAS.CONTA = LCTOS_CT2.CONTA) AS DESCRITIVO
			, CONTA, CC, VALOR
		FROM (
				-- JUNTA LCTOS A DEBITO E A CREDITO (NEGATIVO) NUMA MESMA TABELA
				SELECT CT2_FILIAL AS FILIAL, CT2_DEBITO AS CONTA
						, CASE WHEN CT2.CT2_CCD IN ('091401','091403') THEN 'F09'
							ELSE CASE WHEN SUBSTRING (CT2_CCD, 3, 4) IN ('1101','1102','1201','1202') THEN 'GRANEL'
								ELSE CASE WHEN CT2.CT2_CCD IN (SELECT * FROM #CC_EM_ANALISE) THEN CT2_CCD
									ELSE 'OUTRAS'
						END END END AS CC
						, SUM (CT2_VALOR) AS VALOR
				FROM protheus.dbo.CT2010 CT2 
				WHERE CT2.D_E_L_E_T_ = ''
					AND CT2_DATA BETWEEN @IN_DATA_INI_NF AND @IN_DATA_FIM_NF AND CT2.CT2_FILIAL BETWEEN @FILINI AND @FILFIM
					AND CT2_DC IN ('1', '3')
					AND CT2.CT2_DEBITO IN (SELECT CONTA FROM #CONTAS WHERE LEITURA_CT2 = 2)
					AND CT2_ROTINA != 'CTBA211'  -- LCTOS ENCERRAMENTO EXERCICIO
				--GROUP BY CT2.CT2_CCD, CT2.CT2_DEBITO
				GROUP BY CT2_FILIAL, CT2.CT2_CCD, CT2.CT2_DEBITO
				UNION ALL
				SELECT CT2_FILIAL AS FILIAL, CT2_CREDIT AS CONTA
						, CASE WHEN CT2.CT2_CCC IN ('091401','091403') THEN 'F09'
							ELSE CASE WHEN SUBSTRING (CT2_CCC, 3, 4) IN ('1101','1102','1201','1202') THEN 'GRANEL'
								ELSE CASE WHEN CT2.CT2_CCC IN (SELECT * FROM #CC_EM_ANALISE) THEN CT2_CCC
									ELSE 'OUTRAS'
						END END END AS CC
					, SUM (CT2_VALOR * -1)
				FROM protheus.dbo.CT2010 CT2 
				WHERE CT2.D_E_L_E_T_ = ''
					AND CT2_DATA BETWEEN @IN_DATA_INI_NF AND @IN_DATA_FIM_NF AND CT2.CT2_FILIAL BETWEEN @FILINI AND @FILFIM
					AND CT2_DC IN ('2', '3')
					AND CT2.CT2_CREDIT IN (SELECT CONTA FROM #CONTAS WHERE LEITURA_CT2 = 2)
					AND CT2_ROTINA != 'CTBA211'  -- LCTOS ENCERRAMENTO EXERCICIO
				--GROUP BY CT2.CT2_CCC, CT2.CT2_CREDIT
				GROUP BY CT2_FILIAL, CT2.CT2_CCC, CT2.CT2_CREDIT
			) AS LCTOS_CT2
		) AS MOVTOS
	--GROUP BY MOVTOS.GRUPO, MOVTOS.DESCRITIVO
	GROUP BY MOVTOS.FILIAL, MOVTOS.GRUPO, MOVTOS.DESCRITIVO
	UNION ALL
	SELECT FILIAL, GRUPO, DESCRITIVO  -- BUSCA VALORES DAS CONTAS PRINCIPAIS (APENAS PARA DEMONSTRATIVO)
		,SUM (CASE WHEN CC = '011401' THEN VALOR ELSE 0 END)
		,SUM (CASE WHEN CC = '011402' THEN VALOR ELSE 0 END)
		,SUM (CASE WHEN CC = 'EM_3OS' THEN VALOR ELSE 0 END)
		,SUM (CASE WHEN CC = '011403' THEN VALOR ELSE 0 END)
		,SUM (CASE WHEN CC = '011404' THEN VALOR ELSE 0 END)
		,SUM (CASE WHEN CC = '011405' THEN VALOR ELSE 0 END)
		,SUM (CASE WHEN CC = '011406' THEN VALOR ELSE 0 END)
		,SUM (CASE WHEN CC = '011409' THEN VALOR ELSE 0 END)
		,SUM (CASE WHEN CC = 'F09'    THEN VALOR ELSE 0 END)
		,SUM (CASE WHEN CC = 'GRANEL' THEN VALOR ELSE 0 END)
		,SUM (CASE WHEN CC = 'OUTRAS' THEN VALOR ELSE 0 END)
	FROM (
		-- DEFINE DESCRITIVO COM BASE NAS CONTAS ENVOLVIDAS
		SELECT FILIAL
			,(select TOP 1 GRUPO      FROM #CONTAS WHERE #CONTAS.LEITURA_CT2 = 1 AND #CONTAS.CONTA = LCTOS_CT2.CONTA) AS GRUPO
			,(select TOP 1 DESCRITIVO FROM #CONTAS WHERE #CONTAS.LEITURA_CT2 = 1 AND #CONTAS.CONTA = LCTOS_CT2.CONTA) AS DESCRITIVO
			, CONTA, CC, VALOR
		FROM (
				-- JUNTA LCTOS A DEBITO E A CREDITO (NEGATIVO) NUMA MESMA TABELA
				SELECT CT2_FILIAL AS FILIAL, CT2_DEBITO AS CONTA
						, CASE WHEN CT2.CT2_CCD IN ('091401','091403') THEN 'F09'
							ELSE CASE WHEN SUBSTRING (CT2_CCD, 3, 4) IN ('1101','1102','1201','1202') THEN 'GRANEL'
								ELSE CASE WHEN CT2.CT2_CCD IN (SELECT * FROM #CC_EM_ANALISE) THEN CT2_CCD
									ELSE 'OUTRAS'
						END END END AS CC
						, SUM (CT2_VALOR) AS VALOR
				FROM protheus.dbo.CT2010 CT2 
				WHERE CT2.D_E_L_E_T_ = ''
					AND CT2_DATA BETWEEN @IN_DATA_INI_NF AND @IN_DATA_FIM_NF AND CT2.CT2_FILIAL BETWEEN @FILINI AND @FILFIM
					AND CT2_DC IN ('1', '3')
					AND CT2.CT2_DEBITO IN (SELECT CONTA FROM #CONTAS WHERE LEITURA_CT2 = 1)
					AND CT2_ROTINA != 'CTBA211'  -- LCTOS ENCERRAMENTO EXERCICIO
				GROUP BY CT2_FILIAL, CT2.CT2_CCD, CT2.CT2_DEBITO
				UNION ALL
				SELECT CT2_FILIAL AS FILIAL, CT2_CREDIT AS CONTA
						, CASE WHEN CT2.CT2_CCC IN ('091401','091403') THEN 'F09'
							ELSE CASE WHEN SUBSTRING (CT2_CCC, 3, 4) IN ('1101','1102','1201','1202') THEN 'GRANEL'
								ELSE CASE WHEN CT2.CT2_CCC IN (SELECT * FROM #CC_EM_ANALISE) THEN CT2_CCC
									ELSE 'OUTRAS'
						END END END AS CC
						, SUM (CT2_VALOR * -1)
				FROM protheus.dbo.CT2010 CT2 
				WHERE CT2.D_E_L_E_T_ = ''
				AND CT2_DATA BETWEEN @IN_DATA_INI_NF AND @IN_DATA_FIM_NF AND CT2.CT2_FILIAL BETWEEN @FILINI AND @FILFIM
					AND CT2_DC IN ('2', '3')
					AND CT2.CT2_CREDIT IN (SELECT CONTA FROM #CONTAS WHERE LEITURA_CT2 = 1)
					AND CT2_ROTINA != 'CTBA211'  -- LCTOS ENCERRAMENTO EXERCICIO
				GROUP BY CT2_FILIAL, CT2.CT2_CCC, CT2.CT2_CREDIT
			) AS LCTOS_CT2
		) AS MOVTOS
	GROUP BY MOVTOS.FILIAL, MOVTOS.GRUPO, MOVTOS.DESCRITIVO


	-- BUSCA PROVISAO DE CPV DE VENDA PARA ENTREGA FUTURA SEPARADAMENTE DEVIDO A COMPLEXIDADE,
	-- MAS ACRESCENTA NA TABELA DA CONTABILIDADE PARA QUE SEJA USADO NOS RATEIOS.
/* CONFIGURAR PARA GERAR NO FORMATO DA TABELA 'CONTAB'
SELECT D2_DOC, D2_TOTAL, SD2.D2_CLIENTE, SD2.D2_LOJA, D2_COD, SD2.D2_ITEM, SD2.D2_CF, CT2.*
	FROM protheus.dbo.CT2010 CT2
	INNER JOIN protheus.dbo.SD2010 SD2
		ON (SD2.D_E_L_E_T_ = ''
		AND D2_FILIAL = SUBSTRING (CT2_KEY, 1, 2)
		AND D2_DOC = SUBSTRING (CT2_KEY, 3, 9)
		AND D2_SERIE = SUBSTRING (CT2_KEY, 12, 3)
		AND D2_CLIENTE = SUBSTRING (CT2_KEY, 15, 6)
		AND D2_LOJA = SUBSTRING (CT2_KEY, 21, 2)
		AND SD2.D2_CF LIKE '%922'
	)
	WHERE CT2.D_E_L_E_T_ = ''
	AND CT2.CT2_DEBITO LIKE '402%'
	AND CT2.CT2_DATA BETWEEN '20230101' AND '20230531'

ANTES DOS RATEIOS, ABATER DA LINHA 2.0
*/


	UPDATE DRE_INDL_ITENS SET FORMA_RATEIO = @IN_FORMA_RATEIO
							, PESO_PARA_RATEIO = CASE WHEN @IN_FORMA_RATEIO = 'L' THEN QTLITROS ELSE VALORMERC END
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND ID_ANALISE = @IN_ID_ANALISE



	-----------------------------------------------------------------------
	-- DISTRIBUICOES E RATEIOS DE VALORES QUE NAO CONSTAM NAS NOTAS FISCAIS
	-----------------------------------------------------------------------


	-- RATEIO CREDITOS TETRA
	DECLARE @TOT_CRED_TETRA FLOAT = ISNULL ((SELECT SUM (E2_VALOR)
									FROM protheus.dbo.SE2010 SE2
									WHERE SE2.D_E_L_E_T_ = ''
									AND SE2.E2_FILIAL BETWEEN @FILINI AND @FILFIM
									AND SE2.E2_TIPO = 'NDF'
									AND SE2.E2_FORNECE IN ('004098','004613','004996','005030')
									AND SE2.E2_EMIS1 BETWEEN @IN_DATA_INI_NF AND @IN_DATA_FIM_NF), 0)

	-- SE UMA DAS LINHAS TETRA NAO VENDEU NADA, PASSA OS CREDITOS TODOS PARA A OUTRA.
	DECLARE @TOT_LITR_VENDIDA_TETRA_200  FLOAT = ISNULL ((SELECT SUM (QTLITROS)
														FROM DRE_INDL_ITENS
														WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND ID_ANALISE = @IN_ID_ANALISE AND CC = '011404' AND F4_MARGEM IN ('1', '3')), 0)
	DECLARE @TOT_LITR_VENDIDA_TETRA_1000 FLOAT = ISNULL ((SELECT SUM (QTLITROS)
														FROM DRE_INDL_ITENS
														WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND ID_ANALISE = @IN_ID_ANALISE AND CC = '011405' AND F4_MARGEM IN ('1', '3')), 0)
	DECLARE @PERCENT_RATEIO_CRED_TETRA_200 INT = 50
	DECLARE @PERCENT_RATEIO_CRED_TETRA_1000 INT = 50
	IF (@TOT_LITR_VENDIDA_TETRA_200 = 0 AND @TOT_LITR_VENDIDA_TETRA_1000 > 0)
	BEGIN
		SET @PERCENT_RATEIO_CRED_TETRA_200 = 0
		SET @PERCENT_RATEIO_CRED_TETRA_1000 = 100
	END
	IF (@TOT_LITR_VENDIDA_TETRA_1000 = 0 AND @TOT_LITR_VENDIDA_TETRA_200 > 0)
	BEGIN
		SET @PERCENT_RATEIO_CRED_TETRA_200 = 100
		SET @PERCENT_RATEIO_CRED_TETRA_1000 = 0
	END

	PRINT '@TOT_LITR_VENDIDA_TETRA_200: ' + FORMAT (@TOT_LITR_VENDIDA_TETRA_200,  'G')
	PRINT '@TOT_CRED_TETRA: ' + FORMAT (@TOT_CRED_TETRA,  'G')
	PRINT '@PERCENT_RATEIO_CRED_TETRA_200: ' + FORMAT (@PERCENT_RATEIO_CRED_TETRA_200,  'G')

	IF (@TOT_LITR_VENDIDA_TETRA_200 > 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET CREDITOS_TETRA_200 = -1 * QTLITROS * @TOT_CRED_TETRA / @TOT_LITR_VENDIDA_TETRA_200 * @PERCENT_RATEIO_CRED_TETRA_200 / 100
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND ID_ANALISE = @IN_ID_ANALISE AND F4_MARGEM IN ('1', '3') AND CC = '011404'
	END

	IF (@TOT_LITR_VENDIDA_TETRA_1000 > 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET CREDITOS_TETRA_1000 = -1 * QTLITROS * @TOT_CRED_TETRA / @TOT_LITR_VENDIDA_TETRA_1000 * @PERCENT_RATEIO_CRED_TETRA_1000 / 100
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND ID_ANALISE = @IN_ID_ANALISE AND F4_MARGEM IN ('1', '3') AND CC = '011405'
	END

	DECLARE @BASE_PARA_RATEIO FLOAT = 0
	DECLARE @CUSTO_A_RATEAR   FLOAT = 0
	DECLARE @VALOR_A_RATEAR   FLOAT = 0

	-- CENTROS DE CUSTO SEM MOVIMENTO DEVEM TER SEUS CUSTOS DISTRIBUIDOS ENTRE OS DEMAIS.
	-- PARA ISSO, CALCULA A REPRESENTATIVIDADE DA MOVIMENTACAO DE CADA CENTRO DE CUSTO NO TOTAL
	DECLARE @TOT_VENDA_VIDRO   FLOAT = ISNULL ((SELECT SUM (PESO_PARA_RATEIO)
										FROM DRE_INDL_ITENS
										WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = '011401' AND F4_MARGEM IN ('1', '3') AND ID_ANALISE = @IN_ID_ANALISE), 0)
	DECLARE @TOT_VENDA_ISOB    FLOAT = ISNULL ((SELECT SUM (PESO_PARA_RATEIO)
										FROM DRE_INDL_ITENS
										WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = '011402' AND F4_MARGEM IN ('1', '3') AND ID_ANALISE = @IN_ID_ANALISE), 0)
	DECLARE @TOT_VENDA_3OS     FLOAT = ISNULL ((SELECT SUM (PESO_PARA_RATEIO)
										FROM DRE_INDL_ITENS
										WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = 'EM_3OS' AND F4_MARGEM IN ('1', '3') AND ID_ANALISE = @IN_ID_ANALISE), 0)
	DECLARE @TOT_VENDA_PET     FLOAT = ISNULL ((SELECT SUM (PESO_PARA_RATEIO)
										FROM DRE_INDL_ITENS
										WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = '011403' AND F4_MARGEM IN ('1', '3') AND ID_ANALISE = @IN_ID_ANALISE), 0)
	DECLARE @TOT_VENDA_TT200   FLOAT = ISNULL ((SELECT SUM (PESO_PARA_RATEIO)
										FROM DRE_INDL_ITENS
										WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = '011404' AND F4_MARGEM IN ('1', '3') AND ID_ANALISE = @IN_ID_ANALISE), 0)
	DECLARE @TOT_VENDA_TT1000  FLOAT = ISNULL ((SELECT SUM (PESO_PARA_RATEIO)
										FROM DRE_INDL_ITENS
										WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = '011405' AND F4_MARGEM IN ('1', '3') AND ID_ANALISE = @IN_ID_ANALISE), 0)
	DECLARE @TOT_VENDA_BAG     FLOAT = ISNULL ((SELECT SUM (PESO_PARA_RATEIO)
										FROM DRE_INDL_ITENS
										WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = '011406' AND F4_MARGEM IN ('1', '3') AND ID_ANALISE = @IN_ID_ANALISE), 0)
	DECLARE @TOT_VENDA_CAXIAS  FLOAT = ISNULL ((SELECT SUM (PESO_PARA_RATEIO)
										FROM DRE_INDL_ITENS
										WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = '011409' AND F4_MARGEM IN ('1', '3') AND ID_ANALISE = @IN_ID_ANALISE), 0)
	DECLARE @TOT_VENDA_F09     FLOAT = ISNULL ((SELECT SUM (PESO_PARA_RATEIO)
										FROM DRE_INDL_ITENS
										WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = 'F09'    AND F4_MARGEM IN ('1', '3') AND ID_ANALISE = @IN_ID_ANALISE), 0)
	DECLARE @TOT_VENDA_GRANEL  FLOAT = ISNULL ((SELECT SUM (PESO_PARA_RATEIO)
										FROM DRE_INDL_ITENS
										WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = 'GRANEL' AND F4_MARGEM IN ('1', '3') AND ID_ANALISE = @IN_ID_ANALISE), 0)
	DECLARE @TOT_VENDA_OUTRAS  FLOAT = ISNULL ((SELECT SUM (PESO_PARA_RATEIO)
										FROM DRE_INDL_ITENS
										WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = 'OUTRAS' AND F4_MARGEM IN ('1', '3') AND ID_ANALISE = @IN_ID_ANALISE), 0)
	PRINT 'TOT VENDA VIDRO: ' + FORMAT (@TOT_VENDA_VIDRO,  'G')
	PRINT 'TOT VENDA ISOB:  ' + FORMAT (@TOT_VENDA_ISOB,   'G')
	PRINT 'TOT VENDA 30S:   ' + FORMAT (@TOT_VENDA_3OS,    'G')
	PRINT 'TOT VENDA PET:   ' + FORMAT (@TOT_VENDA_PET,    'G')
	PRINT 'TOT VENDA TT200: ' + FORMAT (@TOT_VENDA_TT200,  'G')
	PRINT 'TOT VENDA TT1000:' + FORMAT (@TOT_VENDA_TT1000, 'G')
	PRINT 'TOT VENDA BAG:   ' + FORMAT (@TOT_VENDA_BAG,    'G')
	PRINT 'TOT VENDA CAXIAS:' + FORMAT (@TOT_VENDA_CAXIAS, 'G')
	PRINT 'TOT VENDA F09:   ' + FORMAT (@TOT_VENDA_F09,    'G')
	PRINT 'TOT VENDA GRAN:  ' + FORMAT (@TOT_VENDA_GRANEL, 'G')


	-- VALOR DE CPV TOTAL NAO FECHA COM A CONTABILIDADE EM CASOS ANTIGOS ONDE HOUVE AJUSTE MANUAL DOS LCTOS GERADOS PELO CUSTO MEDIO.
	-- COMO A VENDA NAO TEM CENTRO DE CUSTO, DISTRIBUI PELO TOTAL VENDIDO.
	SET @VALOR_A_RATEAR = ISNULL ((SELECT SUM (VIDRO + ISOBARICA + EM_3OS + PET + TETRA_200 + TETRA_1000 + BAG + CAXIAS + FILIAL_09 + GRANEL + OUTRAS)
							FROM CONTAB
							WHERE GRUPO = '2.0'), 0)
	PRINT 'CPV VALOR A RATEAR: ' + FORMAT (@VALOR_A_RATEAR, 'G')
	SET @VALOR_A_RATEAR -= ISNULL ((SELECT SUM (CPV * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND ID_ANALISE = @IN_ID_ANALISE), 0)
	PRINT 'CPV DESCONTEI O QUE JA TINHA: ' + FORMAT (@VALOR_A_RATEAR, 'G')
	SET @BASE_PARA_RATEIO = @TOT_VENDA_VIDRO + @TOT_VENDA_ISOB + @TOT_VENDA_3OS + @TOT_VENDA_PET + @TOT_VENDA_TT200 + @TOT_VENDA_TT1000 + @TOT_VENDA_BAG + @TOT_VENDA_CAXIAS + @TOT_VENDA_F09 + @TOT_VENDA_GRANEL + @TOT_VENDA_OUTRAS
	PRINT 'CPV BASE RATEIO: ' + FORMAT (@BASE_PARA_RATEIO, 'G')
	UPDATE DRE_INDL_ITENS SET CPV_RATEIO = 0
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND ID_ANALISE = @IN_ID_ANALISE
	UPDATE DRE_INDL_ITENS SET CPV_RATEIO = PESO_PARA_RATEIO * @VALOR_A_RATEAR / @BASE_PARA_RATEIO
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND ID_ANALISE = @IN_ID_ANALISE


	SET @VALOR_A_RATEAR = ISNULL ((SELECT SUM (OUTRAS)
									FROM CONTAB
									WHERE GRUPO IN ('1.2.1', '1.2.2')), 0)
	PRINT 'VALOR INICIAL DE IMPOSTOS A RATEAR: ' + FORMAT (@VALOR_A_RATEAR, 'G')
	DECLARE @IMPOSTOS_NF FLOAT = ISNULL ((SELECT SUM ((PIS_NF + COFINS_NF + ICMS_NF + IPI_NF + ST_NF) * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND ID_ANALISE = @IN_ID_ANALISE), 0)
	PRINT 'VALOR IMPOSTOS ENCONTRADOS NAS NF: ' + FORMAT (@IMPOSTOS_NF, 'G')
	SET @VALOR_A_RATEAR -= @IMPOSTOS_NF
	PRINT 'VALOR IMPOSTOS A RATEAR DESCONTADO O QUE JAH TINHA: ' + FORMAT (@VALOR_A_RATEAR, 'G')
	SET @BASE_PARA_RATEIO = ISNULL ((SELECT SUM (PESO_PARA_RATEIO)
										FROM DRE_INDL_ITENS
										WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND ID_ANALISE = @IN_ID_ANALISE), 0)
	PRINT 'BASE PARA RATEIO DE IMPOSTOS: ' + FORMAT (@BASE_PARA_RATEIO, 'G')
	UPDATE DRE_INDL_ITENS SET IMPOSTOS_RATEIO = 0
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND ID_ANALISE = @IN_ID_ANALISE
	UPDATE DRE_INDL_ITENS SET IMPOSTOS_RATEIO = PESO_PARA_RATEIO * (@VALOR_A_RATEAR * CASE WHEN F4_MARGEM = '2' THEN -1 ELSE 1 END) / @BASE_PARA_RATEIO
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND ID_ANALISE = @IN_ID_ANALISE



	-- ALUGUEIS TETRA: SOMENTE PARA AS LINHAS DA TETRA.
	UPDATE DRE_INDL_ITENS SET ALUGUEIS_TETRA_200  = PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (TETRA_200)
																FROM CONTAB
																WHERE GRUPO = '2.2.3'), 0)
													/ @TOT_VENDA_TT200
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011404' AND ID_ANALISE = @IN_ID_ANALISE
	UPDATE DRE_INDL_ITENS SET ALUGUEIS_TETRA_1000 = PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (TETRA_1000)
																FROM CONTAB
																WHERE GRUPO = '2.2.3'), 0)
													/ @TOT_VENDA_TT1000
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011405' AND ID_ANALISE = @IN_ID_ANALISE


	-- DISTRIBUICAO CUSTO MATERIAIS AUXILIARES NOS CC ORIGINAIS
	PRINT 'INICIANDO DISTRIBUICAO DE MATERIAIS AUXILIARES NOS CC ORIGINAIS'
	UPDATE DRE_INDL_ITENS SET DESP_MAT_AUX = 0
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND ID_ANALISE = @IN_ID_ANALISE

	IF (@TOT_VENDA_VIDRO != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET DESP_MAT_AUX += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (VIDRO)
																FROM CONTAB
																WHERE GRUPO = '2.1.3'), 0)
													/ @TOT_VENDA_VIDRO
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011401' AND ID_ANALISE = @IN_ID_ANALISE
	END
	PRINT '   VIDRO OK'

	IF (@TOT_VENDA_ISOB != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET DESP_MAT_AUX += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (ISOBARICA)
																FROM CONTAB
																WHERE GRUPO = '2.1.3'), 0)
													/ @TOT_VENDA_ISOB
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011402' AND ID_ANALISE = @IN_ID_ANALISE
	END
	PRINT '   ISOBARICA OK'

	IF (@TOT_VENDA_3OS != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET DESP_MAT_AUX += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (EM_3OS)
																FROM CONTAB
																WHERE GRUPO = '2.1.3'), 0)
													/ @TOT_VENDA_3OS
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = 'EM_3OS' AND ID_ANALISE = @IN_ID_ANALISE
	END
	PRINT '   EM_3os OK'

	IF (@TOT_VENDA_PET != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET DESP_MAT_AUX += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (PET)
																FROM CONTAB
																WHERE GRUPO = '2.1.3'), 0)
													/ @TOT_VENDA_PET
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011403' AND ID_ANALISE = @IN_ID_ANALISE
	END
	PRINT '   PET OK'

	IF (@TOT_VENDA_TT200 != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET DESP_MAT_AUX += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (TETRA_200)
																FROM CONTAB
																WHERE GRUPO = '2.1.3'), 0)
													/ @TOT_VENDA_TT200
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011404' AND ID_ANALISE = @IN_ID_ANALISE
	END
	PRINT '   TT200 OK'

	IF (@TOT_VENDA_TT1000 != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET DESP_MAT_AUX += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (TETRA_1000)
																FROM CONTAB
																WHERE GRUPO = '2.1.3'), 0)
													/ @TOT_VENDA_TT1000
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011405' AND ID_ANALISE = @IN_ID_ANALISE
	END
	PRINT '   TT1000 OK'

	IF (@TOT_VENDA_BAG != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET DESP_MAT_AUX += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (BAG)
																FROM CONTAB
																WHERE GRUPO = '2.1.3'), 0)
													/ @TOT_VENDA_BAG
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011406' AND ID_ANALISE = @IN_ID_ANALISE
	END
	PRINT '   BAG OK'

	IF (@TOT_VENDA_CAXIAS != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET DESP_MAT_AUX += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (CAXIAS)
																FROM CONTAB
																WHERE GRUPO = '2.1.3'), 0)
													/ @TOT_VENDA_CAXIAS
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011409' AND ID_ANALISE = @IN_ID_ANALISE
	END
	PRINT '   CAXIAS OK'

	IF (@TOT_VENDA_F09 != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET DESP_MAT_AUX += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (FILIAL_09)
																FROM CONTAB
																WHERE GRUPO = '2.1.3'), 0)
													/ @TOT_VENDA_F09
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = 'F09'    AND ID_ANALISE = @IN_ID_ANALISE
	END
	PRINT '   F09 OK'

	IF (@TOT_VENDA_GRANEL != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET DESP_MAT_AUX += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (GRANEL)
																FROM CONTAB
																WHERE GRUPO = '2.1.3'), 0)
													/ @TOT_VENDA_GRANEL
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = 'GRANEL' AND ID_ANALISE = @IN_ID_ANALISE
	END
	PRINT '   GRANEL OK'


	-- RATEIO CUSTOS AUXILIARES DO CC 'OUTRAS' PARA OS DEMAIS. GRANEL NAO RECEBE, POIS OS CC 'OUTRAS' SAO,
	-- EM TERMOS GERAIS, USADOS QUANDO O ITEM DESTINA-SE AO ENVASE.
	PRINT 'INICIANDO DISTRIBUICAO DE MATERIAIS AUXILIARES DO CC *OUTRAS*'
	UPDATE DRE_INDL_ITENS SET DESP_MAT_AUX_RATEIO = 0
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND ID_ANALISE = @IN_ID_ANALISE
	SET @BASE_PARA_RATEIO = @TOT_VENDA_VIDRO + @TOT_VENDA_ISOB + @TOT_VENDA_3OS + @TOT_VENDA_PET + @TOT_VENDA_TT200 + @TOT_VENDA_TT1000 + @TOT_VENDA_BAG + @TOT_VENDA_CAXIAS + @TOT_VENDA_F09
	PRINT '   BASE PARA RATEIO: ' + FORMAT (@BASE_PARA_RATEIO, 'G')
	IF (@BASE_PARA_RATEIO != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET DESP_MAT_AUX_RATEIO += PESO_PARA_RATEIO
														* ISNULL ((SELECT SUM (OUTRAS)
																	FROM CONTAB
																	WHERE GRUPO = '2.1.3'), 0)
																	/ @BASE_PARA_RATEIO
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM
			AND F4_MARGEM IN ('1', '3')
			AND CC IN ('011401', '011402', 'EM_3OS', '011403', '011404', '011405', '011406', '011409', 'F09')
			AND ID_ANALISE = @IN_ID_ANALISE
	END
	PRINT '   OUTRAS OK'


	-------------------------------------------------
	-- DISTRIBUICOES E RATEIOS DOS CUSTOS INDUSTRIAIS
	-------------------------------------------------

	-- DISTRIBUICAO CUSTOS INDUSTRIAIS (TOTAIS) NOS CC ORIGINAIS
	PRINT 'INICIANDO DISTRIBUICAO DE CUSTOS INDUSTRIAIS NOS CC ORIGINAIS'
	UPDATE DRE_INDL_ITENS SET GASTOS_INDL = 0
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND ID_ANALISE = @IN_ID_ANALISE

	IF (@TOT_VENDA_VIDRO != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_INDL += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (VIDRO)
																FROM CONTAB
																WHERE GRUPO = '2.2'), 0)
													/ @TOT_VENDA_VIDRO
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011401' AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_ISOB != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_INDL += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (ISOBARICA)
																FROM CONTAB
																WHERE GRUPO = '2.2'), 0)
													/ @TOT_VENDA_ISOB
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011402' AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_3OS != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_INDL += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (EM_3OS)
																FROM CONTAB
																WHERE GRUPO = '2.2'), 0)
													/ @TOT_VENDA_3OS
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = 'EM_3OS' AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_PET != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_INDL += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (PET)
																FROM CONTAB
																WHERE GRUPO = '2.2'), 0)
													/ @TOT_VENDA_PET
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011403' AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_TT200 != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_INDL += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (TETRA_200)
																FROM CONTAB
																WHERE GRUPO = '2.2'), 0)
													/ @TOT_VENDA_TT200
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011404' AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_TT1000 != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_INDL += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (TETRA_1000)
																FROM CONTAB
																WHERE GRUPO = '2.2'), 0)
													/ @TOT_VENDA_TT1000
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011405' AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_BAG != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_INDL += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (BAG)
																FROM CONTAB
																WHERE GRUPO = '2.2'), 0) 
													/ @TOT_VENDA_BAG
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011406' AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_CAXIAS != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_INDL += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (CAXIAS)
																FROM CONTAB
																WHERE GRUPO = '2.2'), 0) 
													/ @TOT_VENDA_CAXIAS
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM
			AND F4_MARGEM IN ('1', '3')
			AND CC = '011409'
			AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_F09 != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_INDL += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (FILIAL_09)
																FROM CONTAB
																WHERE GRUPO = '2.2'), 0)
													/ @TOT_VENDA_F09
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = 'F09'    AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_GRANEL != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_INDL += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (GRANEL)
																FROM CONTAB
																WHERE GRUPO = '2.2'), 0)
													/ @TOT_VENDA_GRANEL
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = 'GRANEL' AND ID_ANALISE = @IN_ID_ANALISE
	END

	-- GASTOS EM 'OUTRAS' DEVEM SER RATEADOS ENTRE AS LINHAS DE ENVASE.
	PRINT 'INICIANDO DISTRIBUICAO DE CUSTOS INDUSTRIAIS DO CC *OUTRAS*'
	SET @VALOR_A_RATEAR = ISNULL ((SELECT SUM (OUTRAS) FROM CONTAB WHERE GRUPO = '2.2'), 0)

	-- LINHAS DE ENVASE QUE NAO TIVERAM VENDA DEVEM TER SEUS CUSTOS RATEADOS ENTRE AS DEMAIS LINHAS.
	IF (@TOT_VENDA_VIDRO  = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (VIDRO)      FROM CONTAB WHERE GRUPO = '2.2'), 0)
	IF (@TOT_VENDA_ISOB   = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (ISOBARICA)  FROM CONTAB WHERE GRUPO = '2.2'), 0)
	IF (@TOT_VENDA_3OS    = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (EM_3OS)     FROM CONTAB WHERE GRUPO = '2.2'), 0)
	IF (@TOT_VENDA_PET    = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (PET)        FROM CONTAB WHERE GRUPO = '2.2'), 0)
	IF (@TOT_VENDA_TT200  = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (TETRA_200)  FROM CONTAB WHERE GRUPO = '2.2'), 0)
	IF (@TOT_VENDA_TT1000 = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (TETRA_1000) FROM CONTAB WHERE GRUPO = '2.2'), 0)
	IF (@TOT_VENDA_BAG    = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (BAG)        FROM CONTAB WHERE GRUPO = '2.2'), 0)
	IF (@TOT_VENDA_CAXIAS = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (CAXIAS)     FROM CONTAB WHERE GRUPO = '2.2'), 0)
	IF (@TOT_VENDA_F09    = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (FILIAL_09)  FROM CONTAB WHERE GRUPO = '2.2'), 0)
	IF (@TOT_VENDA_GRANEL = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (GRANEL)     FROM CONTAB WHERE GRUPO = '2.2'), 0)
	UPDATE DRE_INDL_ITENS SET GASTOS_INDL_RATEIO = 0
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND ID_ANALISE = @IN_ID_ANALISE
	SET @BASE_PARA_RATEIO = @TOT_VENDA_VIDRO + @TOT_VENDA_ISOB + @TOT_VENDA_3OS + @TOT_VENDA_PET + @TOT_VENDA_TT200 + @TOT_VENDA_TT1000 + @TOT_VENDA_BAG + @TOT_VENDA_CAXIAS + @TOT_VENDA_F09 + @TOT_VENDA_GRANEL
	UPDATE DRE_INDL_ITENS SET GASTOS_INDL_RATEIO = PESO_PARA_RATEIO * @VALOR_A_RATEAR / @BASE_PARA_RATEIO
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM
		AND F4_MARGEM IN ('1', '3')
		AND CC IN ('011401', '011402', 'EM_3OS', '011403', '011404', '011405', '011406', '011409', 'F09', 'GRANEL')
		AND ID_ANALISE = @IN_ID_ANALISE


	-- DISTRIBUICAO CUSTOS INDUSTRIAIS (COM PESSOAL) NOS CC ORIGINAIS
	PRINT 'INICIANDO DISTRIBUICAO DOS CUSTOS INDUSTRIAIS (COM PESSOAL) NOS CC ORIGINAIS'
	UPDATE DRE_INDL_ITENS SET GASTOS_PESSOAL = 0
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND ID_ANALISE = @IN_ID_ANALISE
	IF (@TOT_VENDA_VIDRO > 0)  -- ESTE TESTE DEVERIA EXISTIR EM CADA RATEIO, PARA EVITAR DIVISAO POR ZERO.
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_PESSOAL += PESO_PARA_RATEIO
												* ISNULL ((SELECT SUM (VIDRO)
															FROM CONTAB
															WHERE GRUPO = '2.2.1'), 0)
												/ @TOT_VENDA_VIDRO
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011401' AND ID_ANALISE = @IN_ID_ANALISE
	END
	PRINT '   VIDRO OK'

	IF (@TOT_VENDA_ISOB > 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_PESSOAL += PESO_PARA_RATEIO
												* ISNULL ((SELECT SUM (ISOBARICA)
															FROM CONTAB
															WHERE GRUPO = '2.2.1'), 0)
												/ @TOT_VENDA_ISOB
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011402' AND ID_ANALISE = @IN_ID_ANALISE
	END
	PRINT '   ISOBARICA OK'

	IF (@TOT_VENDA_3OS > 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_PESSOAL += PESO_PARA_RATEIO
												* ISNULL ((SELECT SUM (EM_3OS)
															FROM CONTAB
															WHERE GRUPO = '2.2.1'), 0)
												/ @TOT_VENDA_3OS
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = 'EM_3OS' AND ID_ANALISE = @IN_ID_ANALISE
	END
	PRINT '   EM_3os OK'

	IF (@TOT_VENDA_PET > 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_PESSOAL += PESO_PARA_RATEIO
												* ISNULL ((SELECT SUM (PET)
															FROM CONTAB
															WHERE GRUPO = '2.2.1'), 0)
												/ @TOT_VENDA_PET
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011403' AND ID_ANALISE = @IN_ID_ANALISE
	END
	PRINT '   PET OK'

	IF (@TOT_VENDA_TT200 > 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_PESSOAL += PESO_PARA_RATEIO
												* ISNULL ((SELECT SUM (TETRA_200)
															FROM CONTAB
															WHERE GRUPO = '2.2.1'), 0)
												/ @TOT_VENDA_TT200
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011404' AND ID_ANALISE = @IN_ID_ANALISE
	END
	PRINT '   TT200 OK'

	IF (@TOT_VENDA_TT1000 > 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_PESSOAL += PESO_PARA_RATEIO
												* ISNULL ((SELECT SUM (TETRA_1000)
															FROM CONTAB
															WHERE GRUPO = '2.2.1'), 0)
												/ @TOT_VENDA_TT1000
		WHERE F4_MARGEM IN ('1', '3') AND CC = '011405' AND ID_ANALISE = @IN_ID_ANALISE
	END
	PRINT '   TT1000 OK'

	IF (@TOT_VENDA_BAG > 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_PESSOAL += PESO_PARA_RATEIO
												* ISNULL ((SELECT SUM (BAG)
															FROM CONTAB
															WHERE GRUPO = '2.2.1'), 0)
												/ @TOT_VENDA_BAG
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011406' AND ID_ANALISE = @IN_ID_ANALISE
	END
	PRINT '   BAG OK'

	IF (@TOT_VENDA_CAXIAS > 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_PESSOAL += PESO_PARA_RATEIO
												* ISNULL ((SELECT SUM (CAXIAS)
															FROM CONTAB
															WHERE GRUPO = '2.2.1'), 0)
												/ @TOT_VENDA_CAXIAS
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM
		AND FILIAL BETWEEN @FILINI AND @FILFIM
		AND F4_MARGEM IN ('1', '3')
		AND CC = '011409'
		AND ID_ANALISE = @IN_ID_ANALISE
	END
	PRINT '   CAXIAS OK'

	IF (@TOT_VENDA_F09 > 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_PESSOAL += PESO_PARA_RATEIO
												* ISNULL ((SELECT SUM (FILIAL_09)
															FROM CONTAB
															WHERE GRUPO = '2.2.1'), 0)
												/ @TOT_VENDA_F09
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM
		AND F4_MARGEM IN ('1', '3')
		AND CC = 'F09'
		AND ID_ANALISE = @IN_ID_ANALISE
	END
	PRINT '   F09 OK'

	IF (@TOT_VENDA_GRANEL > 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_PESSOAL += PESO_PARA_RATEIO
												* ISNULL ((SELECT SUM (GRANEL)
															FROM CONTAB
															WHERE GRUPO = '2.2.1'), 0)
												/ @TOT_VENDA_GRANEL
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM
		AND F4_MARGEM IN ('1', '3')
		AND CC = 'GRANEL'
		AND ID_ANALISE = @IN_ID_ANALISE
	END
	PRINT '   GRANEL OK'


	-- GASTOS EM 'OUTRAS' DEVEM SER RATEADOS ENTRE AS LINHAS DE ENVASE.
	-- LINHAS DE ENVASE QUE NAO TIVERAM VENDA DEVEM TER SEUS CUSTOS RATEADOS ENTRE AS DEMAIS LINHAS.
	PRINT 'INICIANDO DISTRIBUICAO DOS CUSTOS INDUSTRIAIS (COM PESSOAL) NO CC *OUTRAS*'
	IF (@TOT_VENDA_VIDRO  = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (VIDRO)      FROM CONTAB WHERE GRUPO = '2.2.1'), 0)
	IF (@TOT_VENDA_ISOB   = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (ISOBARICA)  FROM CONTAB WHERE GRUPO = '2.2.1'), 0)
	IF (@TOT_VENDA_3OS    = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (EM_3OS)     FROM CONTAB WHERE GRUPO = '2.2.1'), 0)
	IF (@TOT_VENDA_PET    = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (PET)        FROM CONTAB WHERE GRUPO = '2.2.1'), 0)
	IF (@TOT_VENDA_TT200  = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (TETRA_200)  FROM CONTAB WHERE GRUPO = '2.2.1'), 0)
	IF (@TOT_VENDA_TT1000 = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (TETRA_1000) FROM CONTAB WHERE GRUPO = '2.2.1'), 0)
	IF (@TOT_VENDA_BAG    = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (BAG)        FROM CONTAB WHERE GRUPO = '2.2.1'), 0)
	IF (@TOT_VENDA_CAXIAS = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (CAXIAS)     FROM CONTAB WHERE GRUPO = '2.2.1'), 0)
	IF (@TOT_VENDA_F09    = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (FILIAL_09)  FROM CONTAB WHERE GRUPO = '2.2.1'), 0)
	IF (@TOT_VENDA_GRANEL = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (GRANEL)     FROM CONTAB WHERE GRUPO = '2.2.1'), 0)
	UPDATE DRE_INDL_ITENS SET GASTOS_PESSOAL_RATEIO = 0
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND ID_ANALISE = @IN_ID_ANALISE
	SET @BASE_PARA_RATEIO = @TOT_VENDA_VIDRO + @TOT_VENDA_ISOB + @TOT_VENDA_3OS + @TOT_VENDA_PET + @TOT_VENDA_TT200 + @TOT_VENDA_TT1000 + @TOT_VENDA_BAG + @TOT_VENDA_CAXIAS + @TOT_VENDA_F09 + @TOT_VENDA_GRANEL
	IF (@BASE_PARA_RATEIO != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_PESSOAL_RATEIO = PESO_PARA_RATEIO * @VALOR_A_RATEAR / @BASE_PARA_RATEIO
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM
			AND F4_MARGEM IN ('1', '3')
			AND CC IN ('011401', '011402', 'EM_3OS', '011403', '011404', '011405', '011406', '011409', 'F09', 'GRANEL')
			AND ID_ANALISE = @IN_ID_ANALISE
	END

	-- DISTRIBUICAO CUSTOS INDUSTRIAIS (MANUTENCAO) NOS CC ORIGINAIS
	PRINT 'INICIANDO DISTRIBUICAO DOS CUSTOS INDUSTRIAIS (MANUTENCAO) NOS CC ORIGINAIS'
	UPDATE DRE_INDL_ITENS SET GASTOS_MANUT = 0
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND ID_ANALISE = @IN_ID_ANALISE

	IF (@TOT_VENDA_VIDRO != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_MANUT += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (VIDRO)
																FROM CONTAB
																WHERE GRUPO = '2.2.5'), 0)
													/ @TOT_VENDA_VIDRO
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM
			AND F4_MARGEM IN ('1', '3')
			AND CC = '011401'
			AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_ISOB != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_MANUT += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (ISOBARICA)
																FROM CONTAB
																WHERE GRUPO = '2.2.5'), 0)
													/ @TOT_VENDA_ISOB
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM
			AND F4_MARGEM IN ('1', '3')
			AND CC = '011402'
			AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_3OS != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_MANUT += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (EM_3OS)
																FROM CONTAB
																WHERE GRUPO = '2.2.5'), 0)
													/ @TOT_VENDA_3OS
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = 'EM_3OS' AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_PET != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_MANUT += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (PET)
																FROM CONTAB
																WHERE GRUPO = '2.2.5'), 0)
													/ @TOT_VENDA_PET
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011403' AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_TT200 != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_MANUT += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (TETRA_200)
																FROM CONTAB
																WHERE GRUPO = '2.2.5'), 0)
													/ @TOT_VENDA_TT200
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011404' AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_TT1000 != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_MANUT += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (TETRA_1000)
																FROM CONTAB
																WHERE GRUPO = '2.2.5'), 0)
													/ @TOT_VENDA_TT1000
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011405' AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_BAG != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_MANUT += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (BAG)
																FROM CONTAB
																WHERE GRUPO = '2.2.5'), 0)
													/ @TOT_VENDA_BAG
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011406' AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_CAXIAS != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_MANUT += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (CAXIAS)
																FROM CONTAB
																WHERE GRUPO = '2.2.5'), 0)
													/ @TOT_VENDA_CAXIAS
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011409' AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_F09 != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_MANUT += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (FILIAL_09)
																FROM CONTAB
																WHERE GRUPO = '2.2.5'), 0)
													/ @TOT_VENDA_F09
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = 'F09'    AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_GRANEL != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_MANUT += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (GRANEL)
																FROM CONTAB
																WHERE GRUPO = '2.2.5'), 0)
													/ @TOT_VENDA_GRANEL
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = 'GRANEL' AND ID_ANALISE = @IN_ID_ANALISE
	END

	-- GASTOS EM 'OUTRAS' DEVEM SER RATEADOS ENTRE AS LINHAS DE ENVASE.
	PRINT 'INICIANDO DISTRIBUICAO DOS CUSTOS INDUSTRIAIS (MANUTENCAO) NO CC *OUTRAS*'
	SET @VALOR_A_RATEAR = ISNULL ((SELECT SUM (OUTRAS)     FROM CONTAB WHERE GRUPO = '2.2.5'), 0)

	-- LINHAS DE ENVASE QUE NAO TIVERAM VENDA DEVEM TER SEUS CUSTOS RATEADOS ENTRE AS DEMAIS LINHAS.
	IF (@TOT_VENDA_VIDRO  = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (VIDRO)      FROM CONTAB WHERE GRUPO = '2.2.5'), 0)
	IF (@TOT_VENDA_ISOB   = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (ISOBARICA)  FROM CONTAB WHERE GRUPO = '2.2.5'), 0)
	IF (@TOT_VENDA_3OS    = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (EM_3OS)     FROM CONTAB WHERE GRUPO = '2.2.5'), 0)
	IF (@TOT_VENDA_PET    = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (PET)        FROM CONTAB WHERE GRUPO = '2.2.5'), 0)
	IF (@TOT_VENDA_TT200  = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (TETRA_200)  FROM CONTAB WHERE GRUPO = '2.2.5'), 0)
	IF (@TOT_VENDA_TT1000 = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (TETRA_1000) FROM CONTAB WHERE GRUPO = '2.2.5'), 0)
	IF (@TOT_VENDA_BAG    = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (BAG)        FROM CONTAB WHERE GRUPO = '2.2.5'), 0)
	IF (@TOT_VENDA_CAXIAS = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (CAXIAS)     FROM CONTAB WHERE GRUPO = '2.2.5'), 0)
	IF (@TOT_VENDA_F09    = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (FILIAL_09)  FROM CONTAB WHERE GRUPO = '2.2.5'), 0)
	IF (@TOT_VENDA_GRANEL = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (GRANEL)     FROM CONTAB WHERE GRUPO = '2.2.5'), 0)
	UPDATE DRE_INDL_ITENS SET GASTOS_MANUT_RATEIO = 0
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND ID_ANALISE = @IN_ID_ANALISE
	SET @BASE_PARA_RATEIO = @TOT_VENDA_VIDRO + @TOT_VENDA_ISOB + @TOT_VENDA_3OS + @TOT_VENDA_PET + @TOT_VENDA_TT200 + @TOT_VENDA_TT1000 + @TOT_VENDA_BAG + @TOT_VENDA_CAXIAS + @TOT_VENDA_F09 + @TOT_VENDA_GRANEL
	IF (@BASE_PARA_RATEIO != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_MANUT_RATEIO = PESO_PARA_RATEIO * @VALOR_A_RATEAR / @BASE_PARA_RATEIO
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC IN ('011401', '011402', 'EM_3OS', '011403', '011404', '011405', '011406', '011409', 'F09', 'GRANEL')
			AND ID_ANALISE = @IN_ID_ANALISE
	END

	-- DISTRIBUICAO CUSTOS INDUSTRIAIS (COMBUSTIVEIS E LUBRIF) NOS CC ORIGINAIS
	PRINT 'INICIANDO DISTRIBUICAO DOS CUSTOS INDUSTRIAIS (COMBUSTIVEIS E LUBRIFICANTES) NOS CC ORIGINAIS'
	UPDATE DRE_INDL_ITENS SET GASTOS_COMBUST = 0
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND ID_ANALISE = @IN_ID_ANALISE

	IF (@TOT_VENDA_VIDRO != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_COMBUST += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (VIDRO)
																FROM CONTAB
																WHERE GRUPO = '2.2.7'), 0)
													/ @TOT_VENDA_VIDRO
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011401' AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_ISOB != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_COMBUST += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (ISOBARICA)
																FROM CONTAB
																WHERE GRUPO = '2.2.7'), 0)
													/ @TOT_VENDA_ISOB
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011402' AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_3OS != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_COMBUST += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (EM_3OS)
																FROM CONTAB
																WHERE GRUPO = '2.2.7'), 0)
													/ @TOT_VENDA_3OS
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = 'EM_3OS' AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_PET != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_COMBUST += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (PET)
																FROM CONTAB
																WHERE GRUPO = '2.2.7'), 0)
													/ @TOT_VENDA_PET
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011403' AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_TT200 != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_COMBUST += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (TETRA_200)
																FROM CONTAB
																WHERE GRUPO = '2.2.7'), 0)
													/ @TOT_VENDA_TT200
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011404' AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_TT1000 != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_COMBUST += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (TETRA_1000)
																FROM CONTAB
																WHERE GRUPO = '2.2.7'), 0)
													/ @TOT_VENDA_TT1000
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011405' AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_BAG != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_COMBUST += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (BAG)
																FROM CONTAB
																WHERE GRUPO = '2.2.7'), 0)
													/ @TOT_VENDA_BAG
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011406' AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_CAXIAS != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_COMBUST += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (CAXIAS)
																FROM CONTAB
																WHERE GRUPO = '2.2.7'), 0)
													/ @TOT_VENDA_CAXIAS
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011409' AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_F09 != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_COMBUST += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (FILIAL_09)
																FROM CONTAB
																WHERE GRUPO = '2.2.7'), 0)
													/ @TOT_VENDA_F09
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = 'F09'    AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_GRANEL != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_COMBUST += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (GRANEL)
																FROM CONTAB
																WHERE GRUPO = '2.2.7'), 0)
													/ @TOT_VENDA_GRANEL
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = 'GRANEL' AND ID_ANALISE = @IN_ID_ANALISE
	END


	-- GASTOS EM 'OUTRAS' DEVEM SER RATEADOS ENTRE AS LINHAS DE ENVASE.
	PRINT 'INICIANDO DISTRIBUICAO DOS CUSTOS INDUSTRIAIS (COMBUSTIVEIS E LUBRIFICANTES) NO CC *OUTRAS*'
	SET @VALOR_A_RATEAR = ISNULL ((SELECT SUM (OUTRAS)     FROM CONTAB WHERE GRUPO = '2.2.7'), 0)

	-- LINHAS DE ENVASE QUE NAO TIVERAM VENDA DEVEM TER SEUS CUSTOS RATEADOS ENTRE AS DEMAIS LINHAS.
	IF (@TOT_VENDA_VIDRO  = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (VIDRO)      FROM CONTAB WHERE GRUPO = '2.2.7'), 0)
	IF (@TOT_VENDA_ISOB   = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (ISOBARICA)  FROM CONTAB WHERE GRUPO = '2.2.7'), 0)
	IF (@TOT_VENDA_3OS    = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (EM_3OS)     FROM CONTAB WHERE GRUPO = '2.2.7'), 0)
	IF (@TOT_VENDA_PET    = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (PET)        FROM CONTAB WHERE GRUPO = '2.2.7'), 0)
	IF (@TOT_VENDA_TT200  = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (TETRA_200)  FROM CONTAB WHERE GRUPO = '2.2.7'), 0)
	IF (@TOT_VENDA_TT1000 = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (TETRA_1000) FROM CONTAB WHERE GRUPO = '2.2.7'), 0)
	IF (@TOT_VENDA_BAG    = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (BAG)        FROM CONTAB WHERE GRUPO = '2.2.7'), 0)
	IF (@TOT_VENDA_CAXIAS = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (CAXIAS)     FROM CONTAB WHERE GRUPO = '2.2.7'), 0)
	IF (@TOT_VENDA_F09    = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (FILIAL_09)  FROM CONTAB WHERE GRUPO = '2.2.7'), 0)
	IF (@TOT_VENDA_GRANEL = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (GRANEL)     FROM CONTAB WHERE GRUPO = '2.2.7'), 0)
	UPDATE DRE_INDL_ITENS SET GASTOS_COMBUST_RATEIO = 0
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND ID_ANALISE = @IN_ID_ANALISE
	SET @BASE_PARA_RATEIO = @TOT_VENDA_VIDRO + @TOT_VENDA_ISOB + @TOT_VENDA_3OS + @TOT_VENDA_PET + @TOT_VENDA_TT200 + @TOT_VENDA_TT1000 + @TOT_VENDA_BAG + @TOT_VENDA_CAXIAS + @TOT_VENDA_F09 + @TOT_VENDA_GRANEL
	IF (@BASE_PARA_RATEIO != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_COMBUST_RATEIO = PESO_PARA_RATEIO
															* @VALOR_A_RATEAR / @BASE_PARA_RATEIO
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC IN ('011401', '011402', 'EM_3OS', '011403', '011404', '011405', '011406', '011409', 'F09', 'GRANEL')
			AND ID_ANALISE = @IN_ID_ANALISE
	END

	-- DISTRIBUICAO CUSTOS INDUSTRIAIS (ENERGIA ELETRICA) NOS CC ORIGINAIS
	PRINT 'INICIANDO DISTRIBUICAO DOS CUSTOS INDUSTRIAIS (ENERGIA ELETRICA) NOS CC ORIGINAIS'
	UPDATE DRE_INDL_ITENS SET GASTOS_EN_ELET = 0
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND ID_ANALISE = @IN_ID_ANALISE

	IF (@TOT_VENDA_VIDRO != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_EN_ELET += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (VIDRO)
																FROM CONTAB
																WHERE GRUPO = '2.2.8'), 0)
													/ @TOT_VENDA_VIDRO
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011401' AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_ISOB != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_EN_ELET += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (ISOBARICA)
																FROM CONTAB
																WHERE GRUPO = '2.2.8'), 0)
													/ @TOT_VENDA_ISOB
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011402' AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_3OS != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_EN_ELET += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (EM_3OS)
																FROM CONTAB
																WHERE GRUPO = '2.2.8'), 0)
													/ @TOT_VENDA_3OS
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = 'EM_3OS' AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_PET != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_EN_ELET += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (PET)
																FROM CONTAB
																WHERE GRUPO = '2.2.8'), 0)
													/ @TOT_VENDA_PET
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011403' AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_TT200 != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_EN_ELET += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (TETRA_200)
																FROM CONTAB
																WHERE GRUPO = '2.2.8'), 0)
													/ @TOT_VENDA_TT200
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011404' AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_TT1000 != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_EN_ELET += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (TETRA_1000)
																FROM CONTAB
																WHERE GRUPO = '2.2.8'), 0)
													/ @TOT_VENDA_TT1000
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011405' AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_BAG != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_EN_ELET += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (BAG)
																FROM CONTAB
																WHERE GRUPO = '2.2.8'), 0)
													/ @TOT_VENDA_BAG
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011406' AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_CAXIAS != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_EN_ELET += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (CAXIAS)
																FROM CONTAB
																WHERE GRUPO = '2.2.8'), 0)
													/ @TOT_VENDA_CAXIAS
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = '011409' AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_F09  != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_EN_ELET += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (FILIAL_09)
																FROM CONTAB
																WHERE GRUPO = '2.2.8'), 0)
													/ @TOT_VENDA_F09
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = 'F09'    AND ID_ANALISE = @IN_ID_ANALISE
	END

	IF (@TOT_VENDA_GRANEL != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_EN_ELET += PESO_PARA_RATEIO
													* ISNULL ((SELECT SUM (GRANEL)
																FROM CONTAB
																WHERE GRUPO = '2.2.8'), 0)
													/ @TOT_VENDA_GRANEL
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC = 'GRANEL' AND ID_ANALISE = @IN_ID_ANALISE
	END

	-- GASTOS EM 'OUTRAS' DEVEM SER RATEADOS ENTRE AS LINHAS DE ENVASE.
	PRINT 'INICIANDO DISTRIBUICAO DOS CUSTOS INDUSTRIAIS (ENERGIA ELETRICA) NO CC *OUTRAS*'
	SET @VALOR_A_RATEAR = ISNULL ((SELECT SUM (OUTRAS)     FROM CONTAB WHERE GRUPO = '2.2.8'), 0)

	-- LINHAS DE ENVASE QUE NAO TIVERAM VENDA DEVEM TER SEUS CUSTOS RATEADOS ENTRE AS DEMAIS LINHAS.
	IF (@TOT_VENDA_VIDRO  = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (VIDRO)      FROM CONTAB WHERE GRUPO = '2.2.8'), 0)
	IF (@TOT_VENDA_ISOB   = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (ISOBARICA)  FROM CONTAB WHERE GRUPO = '2.2.8'), 0)
	IF (@TOT_VENDA_3OS    = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (EM_3OS)     FROM CONTAB WHERE GRUPO = '2.2.8'), 0)
	IF (@TOT_VENDA_PET    = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (PET)        FROM CONTAB WHERE GRUPO = '2.2.8'), 0)
	IF (@TOT_VENDA_TT200  = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (TETRA_200)  FROM CONTAB WHERE GRUPO = '2.2.8'), 0)
	IF (@TOT_VENDA_TT1000 = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (TETRA_1000) FROM CONTAB WHERE GRUPO = '2.2.8'), 0)
	IF (@TOT_VENDA_BAG    = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (BAG)        FROM CONTAB WHERE GRUPO = '2.2.8'), 0)
	IF (@TOT_VENDA_CAXIAS = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (CAXIAS)     FROM CONTAB WHERE GRUPO = '2.2.8'), 0)
	IF (@TOT_VENDA_F09    = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (FILIAL_09)  FROM CONTAB WHERE GRUPO = '2.2.8'), 0)
	IF (@TOT_VENDA_GRANEL = 0) SET @VALOR_A_RATEAR += ISNULL ((SELECT SUM (GRANEL)     FROM CONTAB WHERE GRUPO = '2.2.8'), 0)
	UPDATE DRE_INDL_ITENS SET GASTOS_EN_ELET_RATEIO = 0
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND ID_ANALISE = @IN_ID_ANALISE
	SET @BASE_PARA_RATEIO = @TOT_VENDA_VIDRO + @TOT_VENDA_ISOB + @TOT_VENDA_3OS + @TOT_VENDA_PET + @TOT_VENDA_TT200 + @TOT_VENDA_TT1000 + @TOT_VENDA_BAG + @TOT_VENDA_CAXIAS + @TOT_VENDA_F09 + @TOT_VENDA_GRANEL
	UPDATE DRE_INDL_ITENS SET GASTOS_EN_ELET_RATEIO = PESO_PARA_RATEIO * @VALOR_A_RATEAR / @BASE_PARA_RATEIO
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND CC IN ('011401', '011402', 'EM_3OS', '011403', '011404', '011405', '011406', '011409', 'F09', 'GRANEL')
		AND ID_ANALISE = @IN_ID_ANALISE


	-- GERA LINHA DE 'OUTRAS' COM A DIFERENCA DO TOTAL DE GASTOS INDUSTRIAIS MENOS AS CONTAS PRINCIPAIS
	-- QUE FORAM ABERTAS. DEVE FECHAR COM OS CC AUXILIARES DE PRODUCAO.
	PRINT 'GERANDO LINHA DE *OUTRAS* COM A DIFERENCA DO TOTAL DE GASTOS INDUSTRIAIS MENOS AS CONTAS PRINCIPAIS'
	UPDATE DRE_INDL_ITENS SET GASTOS_INDL_OUTRAS = 0 
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND ID_ANALISE = @IN_ID_ANALISE

	-- VALOR A RATEAR NA LINHA 'GASTOS INDUSTRIAIS OUTRAS' EH O TOTAL MENOS AS LINHAS QUE JA FORAM CONSIDERADAS.
	SET @VALOR_A_RATEAR = (SELECT SUM (GASTOS_INDL + GASTOS_INDL_RATEIO)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = '011401' AND ID_ANALISE = @IN_ID_ANALISE)
	SET @VALOR_A_RATEAR -= (SELECT SUM (GASTOS_PESSOAL + ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 + CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 + GASTOS_MANUT + GASTOS_EN_ELET + GASTOS_COMBUST)
							FROM DRE_INDL_ITENS 
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = '011401' AND F4_MARGEM IN ('1', '3') AND ID_ANALISE = @IN_ID_ANALISE)
	IF (@TOT_VENDA_VIDRO != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_INDL_OUTRAS = PESO_PARA_RATEIO * @VALOR_A_RATEAR / @TOT_VENDA_VIDRO
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = '011401' AND F4_MARGEM IN ('1', '3')	AND ID_ANALISE = @IN_ID_ANALISE
	END


	SET @VALOR_A_RATEAR = (SELECT SUM (GASTOS_INDL + GASTOS_INDL_RATEIO)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = '011402' AND ID_ANALISE = @IN_ID_ANALISE)
	SET @VALOR_A_RATEAR -= (SELECT SUM (GASTOS_PESSOAL + ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 + CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 + GASTOS_MANUT + GASTOS_EN_ELET + GASTOS_COMBUST)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = '011402' AND F4_MARGEM IN ('1', '3') AND ID_ANALISE = @IN_ID_ANALISE)
	IF (@TOT_VENDA_ISOB != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_INDL_OUTRAS = PESO_PARA_RATEIO * @VALOR_A_RATEAR / @TOT_VENDA_ISOB
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = '011402' AND F4_MARGEM IN ('1', '3')	AND ID_ANALISE = @IN_ID_ANALISE
	END


	SET @VALOR_A_RATEAR = (SELECT SUM (GASTOS_INDL + GASTOS_INDL_RATEIO)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = 'EM_3OS' AND ID_ANALISE = @IN_ID_ANALISE)
	SET @VALOR_A_RATEAR -= (SELECT SUM (GASTOS_PESSOAL + ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 + CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 + GASTOS_MANUT + GASTOS_EN_ELET + GASTOS_COMBUST)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = 'EM_3OS' AND F4_MARGEM IN ('1', '3') AND ID_ANALISE = @IN_ID_ANALISE)
	IF (@TOT_VENDA_ISOB != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_INDL_OUTRAS = PESO_PARA_RATEIO * @VALOR_A_RATEAR / @TOT_VENDA_ISOB
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = 'EM_3OS' AND F4_MARGEM IN ('1', '3')	AND ID_ANALISE = @IN_ID_ANALISE
	END


	SET @VALOR_A_RATEAR = (SELECT SUM (GASTOS_INDL + GASTOS_INDL_RATEIO)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = '011403' AND ID_ANALISE = @IN_ID_ANALISE)
	SET @VALOR_A_RATEAR -= (SELECT SUM (GASTOS_PESSOAL + ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 + CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 + GASTOS_MANUT + GASTOS_EN_ELET + GASTOS_COMBUST)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = '011403' AND F4_MARGEM IN ('1', '3') AND ID_ANALISE = @IN_ID_ANALISE)
	IF (@TOT_VENDA_PET != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_INDL_OUTRAS = PESO_PARA_RATEIO * @VALOR_A_RATEAR / @TOT_VENDA_PET
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = '011403' AND F4_MARGEM IN ('1', '3') AND ID_ANALISE = @IN_ID_ANALISE
	END


	SET @VALOR_A_RATEAR = (SELECT SUM (GASTOS_INDL + GASTOS_INDL_RATEIO)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = '011404' AND ID_ANALISE = @IN_ID_ANALISE)
	SET @VALOR_A_RATEAR -= (SELECT SUM (GASTOS_PESSOAL + ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 + CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 + GASTOS_MANUT + GASTOS_EN_ELET + GASTOS_COMBUST)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = '011404' AND F4_MARGEM IN ('1', '3') AND ID_ANALISE = @IN_ID_ANALISE)
	IF (@TOT_VENDA_TT200 != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_INDL_OUTRAS = PESO_PARA_RATEIO * @VALOR_A_RATEAR / @TOT_VENDA_TT200
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = '011404' AND F4_MARGEM IN ('1', '3') AND ID_ANALISE = @IN_ID_ANALISE
	END


	SET @VALOR_A_RATEAR = (SELECT SUM (GASTOS_INDL + GASTOS_INDL_RATEIO)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = '011405' AND ID_ANALISE = @IN_ID_ANALISE)
	SET @VALOR_A_RATEAR -= (SELECT SUM (GASTOS_PESSOAL + ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 + CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 + GASTOS_MANUT + GASTOS_EN_ELET + GASTOS_COMBUST)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = '011405' AND F4_MARGEM IN ('1', '3') AND ID_ANALISE = @IN_ID_ANALISE)
	IF (@TOT_VENDA_TT1000 != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_INDL_OUTRAS = PESO_PARA_RATEIO * @VALOR_A_RATEAR / @TOT_VENDA_TT1000
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = '011405' AND F4_MARGEM IN ('1', '3') AND ID_ANALISE = @IN_ID_ANALISE
	END


	SET @VALOR_A_RATEAR = (SELECT SUM (GASTOS_INDL + GASTOS_INDL_RATEIO)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = '011406' AND ID_ANALISE = @IN_ID_ANALISE)
	SET @VALOR_A_RATEAR -= (SELECT SUM (GASTOS_PESSOAL + ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 + CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 + GASTOS_MANUT + GASTOS_EN_ELET + GASTOS_COMBUST)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = '011406' AND F4_MARGEM IN ('1', '3') AND ID_ANALISE = @IN_ID_ANALISE)
	IF (@TOT_VENDA_BAG != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_INDL_OUTRAS = PESO_PARA_RATEIO * @VALOR_A_RATEAR / @TOT_VENDA_BAG
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = '011406' AND F4_MARGEM IN ('1', '3') AND ID_ANALISE = @IN_ID_ANALISE
	END


	SET @VALOR_A_RATEAR = (SELECT SUM (GASTOS_INDL + GASTOS_INDL_RATEIO)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = '011409' AND ID_ANALISE = @IN_ID_ANALISE)
	SET @VALOR_A_RATEAR -= (SELECT SUM (GASTOS_PESSOAL + ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 + CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 + GASTOS_MANUT + GASTOS_EN_ELET + GASTOS_COMBUST)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = '011409' AND F4_MARGEM IN ('1', '3') AND ID_ANALISE = @IN_ID_ANALISE)
	IF (@TOT_VENDA_CAXIAS != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_INDL_OUTRAS = PESO_PARA_RATEIO * @VALOR_A_RATEAR / @TOT_VENDA_CAXIAS
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = '011409' AND F4_MARGEM IN ('1', '3') AND ID_ANALISE = @IN_ID_ANALISE
	END


	SET @VALOR_A_RATEAR = (SELECT SUM (GASTOS_INDL + GASTOS_INDL_RATEIO)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = 'F09' AND ID_ANALISE = @IN_ID_ANALISE)
	SET @VALOR_A_RATEAR -= (SELECT SUM (GASTOS_PESSOAL + ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 + CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 + GASTOS_MANUT + GASTOS_EN_ELET + GASTOS_COMBUST)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = 'F09' AND F4_MARGEM IN ('1', '3') AND ID_ANALISE = @IN_ID_ANALISE)
	IF (@TOT_VENDA_F09 != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_INDL_OUTRAS = PESO_PARA_RATEIO * @VALOR_A_RATEAR / @TOT_VENDA_F09
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = 'F09' AND F4_MARGEM IN ('1', '3') AND ID_ANALISE = @IN_ID_ANALISE
	END


	SET @VALOR_A_RATEAR = (SELECT SUM (GASTOS_INDL + GASTOS_INDL_RATEIO)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = 'GRANEL' AND ID_ANALISE = @IN_ID_ANALISE)
	SET @VALOR_A_RATEAR -= (SELECT SUM (GASTOS_PESSOAL + ALUGUEIS_TETRA_200 + ALUGUEIS_TETRA_1000 + CREDITOS_TETRA_200 + CREDITOS_TETRA_1000 + GASTOS_MANUT + GASTOS_EN_ELET + GASTOS_COMBUST)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = 'GRANEL' AND F4_MARGEM IN ('1', '3') AND ID_ANALISE = @IN_ID_ANALISE)
	IF (@TOT_VENDA_GRANEL != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_INDL_OUTRAS = PESO_PARA_RATEIO * @VALOR_A_RATEAR / @TOT_VENDA_GRANEL
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND CC = 'GRANEL' AND F4_MARGEM IN ('1', '3') AND ID_ANALISE = @IN_ID_ANALISE
	END



	------------------------------------------------
	-- DISTRIBUICOES E RATEIOS DOS CUSTOS COMERCIAIS
	------------------------------------------------
	-- DESP.COML.BONIFICACOES: PROPORCIONALIZAR OS TOTAIS DA CONTABILIDADE PELA REPRESENTATIVIDADE (LITRAGEM OU VALOR) PREVISTA EM NOTA.
	-- SOMENTE QUANDO TEVE BONIFICACAO EM NOTA.
	SET @VALOR_A_RATEAR = ISNULL ((SELECT SUM (OUTRAS) FROM CONTAB WHERE GRUPO = '3.1'), 0)
	PRINT 'VALOR (INICIAL) CONTABIL DE BONIFICACOES A RATEAR: ' + FORMAT (@VALOR_A_RATEAR, 'G')

	-- ABATE BONIFICACOES E FRETES DE GRANEL QUE CONSTAM EM NF, POIS JAH ESTAO CONTABILIZADOS NO GRUPO 3.1
	PRINT 'VALOR (INTERM) CONTABIL DE BONIFICACOES A RATEAR: ' + FORMAT (@VALOR_A_RATEAR, 'G')
	SET @BASE_PARA_RATEIO = (SELECT SUM (PESO_PARA_RATEIO)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('3') AND ID_ANALISE = @IN_ID_ANALISE)
	SET @VALOR_A_RATEAR -= (SELECT SUM (CUSTO)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('3') AND ID_ANALISE = @IN_ID_ANALISE)
	PRINT 'VALOR (FINAL) CONTABIL DE BONIFICACOES A RATEAR: ' + FORMAT (@VALOR_A_RATEAR, 'G')
	IF (@BASE_PARA_RATEIO != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET BONIF_RATEIO = PESO_PARA_RATEIO * @VALOR_A_RATEAR / @BASE_PARA_RATEIO
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('3') AND ID_ANALISE = @IN_ID_ANALISE
	END


	-- DESP.COML.RAPEL: PROPORCIONALIZAR OS TOTAIS DA CONTABILIDADE PELA REPRESENTATIVIDADE (LITRAGEM OU VALOR) PREVISTA EM NOTA.
	-- RATEIA SOMENTE PARA CIMA DAS NOTAS QUE JAH TINHAM RAPEL PREVISTO, ASSIM
	-- NAO PENALIZA NF/PRODUTOS/CLIENTES QUE NAO OPERAM COM RAPEL.
	SET @VALOR_A_RATEAR = ISNULL ((SELECT SUM (OUTRAS) FROM CONTAB WHERE GRUPO = '3.2'), 0)
	PRINT 'DESP.COML.RAPEL: VALOR A RATEAR: ' + FORMAT(@VALOR_A_RATEAR, 'G')
	SET @BASE_PARA_RATEIO = (SELECT SUM (PESO_PARA_RATEIO)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM
							AND F4_MARGEM IN ('1', '3')
							AND ID_ANALISE = @IN_ID_ANALISE
							--AND CC != 'GRANEL')  -- GRANEL NUNCA TEM RAPEL.
							AND RAPELPREV > 0)
	SET @VALOR_A_RATEAR -= (SELECT SUM (CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * RAPELPREV)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM
							AND ID_ANALISE = @IN_ID_ANALISE
							--AND CC != 'GRANEL')  -- GRANEL NUNCA TEM RAPEL.
							AND RAPELPREV > 0)
	IF (@BASE_PARA_RATEIO != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET RAPEL_RATEIO = PESO_PARA_RATEIO * @VALOR_A_RATEAR / @BASE_PARA_RATEIO
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM
			AND F4_MARGEM IN ('1', '3')
			AND ID_ANALISE = @IN_ID_ANALISE
			--AND CC != 'GRANEL'  -- GRANEL NUNCA TEM RAPEL.
			AND RAPELPREV > 0
	END



	-- DESP.COML.FRETES: PROPORCIONALIZAR OS TOTAIS DA CONTABILIDADE PELA REPRESENTATIVIDADE (LITRAGEM OU VALOR) PREVISTA EM NOTA.
	SET @VALOR_A_RATEAR = ISNULL ((SELECT SUM (OUTRAS) FROM CONTAB WHERE GRUPO = '3.3'), 0)
	PRINT 'DESP.COML.FRETES: VALOR A RATEAR: ' + FORMAT(@VALOR_A_RATEAR, 'G')
	SET @BASE_PARA_RATEIO = (SELECT SUM (PESO_PARA_RATEIO)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND ID_ANALISE = @IN_ID_ANALISE
							AND CC != 'GRANEL')  -- GRANEL NUNCA TEM DESP.COML.DE FRETE.
	SET @VALOR_A_RATEAR -= (SELECT SUM (FRETEPREV)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND ID_ANALISE = @IN_ID_ANALISE
							AND CC != 'GRANEL')  -- GRANEL NUNCA TEM DESP.COML.DE FRETE.
	IF (@BASE_PARA_RATEIO != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET FRETE_RATEIO = PESO_PARA_RATEIO * @VALOR_A_RATEAR / @BASE_PARA_RATEIO
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND ID_ANALISE = @IN_ID_ANALISE
			AND CC != 'GRANEL'  -- GRANEL NUNCA TEM DESP.COML.DE FRETE.
	END


	-- DESP.COML.COMISSOES: PROPORCIONALIZAR OS TOTAIS DA CONTABILIDADE PELA REPRESENTATIVIDADE (LITRAGEM OU VALOR) PREVISTA EM NOTA.
	-- APLICA SOMENTE PARA VENDAS QUE TINHAM COMISSAO PREVISTA, PARA QUE NAO PENALIZE AS DEMAIS.
	UPDATE DRE_INDL_ITENS SET COMIS_RATEIO = 0
			WHERE ID_ANALISE = @IN_ID_ANALISE

	SET @VALOR_A_RATEAR = ISNULL ((SELECT SUM (OUTRAS) FROM CONTAB WHERE GRUPO = '3.4'), 0)
	PRINT 'DESP.COML.COMISSOES: VALOR A RATEAR: ' + FORMAT(@VALOR_A_RATEAR, 'G')
	SET @BASE_PARA_RATEIO = (SELECT SUM (PESO_PARA_RATEIO)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM
							AND F4_MARGEM IN ('1', '3')
							AND ID_ANALISE = @IN_ID_ANALISE
							AND CC != 'GRANEL')  -- GRANEL NUNCA TEM COMISSAO.
	SET @VALOR_A_RATEAR -= (SELECT SUM (CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * COMISPREV)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM
							AND ID_ANALISE = @IN_ID_ANALISE
							AND COMISPREV > 0
							AND CC != 'GRANEL')  -- GRANEL NUNCA TEM COMISSAO.
	IF (@BASE_PARA_RATEIO != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET COMIS_RATEIO = PESO_PARA_RATEIO * @VALOR_A_RATEAR / @BASE_PARA_RATEIO
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM
			AND F4_MARGEM IN ('1', '3')
			AND ID_ANALISE = @IN_ID_ANALISE
			AND COMISPREV > 0
			AND CC != 'GRANEL'  -- GRANEL NUNCA TEM COMISSAO.
	END


	-- DESP.COML.VERBAS: PROPORCIONALIZAR OS TOTAIS DA CONTABILIDADE PELA REPRESENTATIVIDADE (LITRAGEM OU VALOR) PREVISTA EM NOTA.
	-- DISTRIBUIR SOMENTE PARA CLIENTES QUE TENHAM VERBAS CADASTRADAS, ASSIM
	-- NAO PENALIZA NF/PRODUTOS/CLIENTES QUE NAO OPERAM COM RAPEL.
	SET @VALOR_A_RATEAR = ISNULL ((SELECT SUM (OUTRAS) FROM CONTAB WHERE GRUPO = '3.5'), 0)
	PRINT 'VERBAS: VALOR A RATEAR: ' + FORMAT(@VALOR_A_RATEAR, 'G')
	SET @BASE_PARA_RATEIO = (SELECT SUM (PESO_PARA_RATEIO)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM
							AND F4_MARGEM IN ('1', '3')
							AND ID_ANALISE = @IN_ID_ANALISE
							AND CC != 'GRANEL'  -- GRANEL NUNCA TEM VERBAS.
							AND EXISTS (SELECT *
										FROM protheus.dbo.ZA4010
										WHERE D_E_L_E_T_ = ''
										AND ZA4_CLI = CLIENTE
										AND ZA4_LOJA = LOJA)
							)
	PRINT 'VERBAS: BASE PARA RATEIO: ' + FORMAT(@BASE_PARA_RATEIO, 'G')
	SET @VALOR_A_RATEAR -= (SELECT SUM (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM
							AND ID_ANALISE = @IN_ID_ANALISE
							AND CC != 'GRANEL')  -- GRANEL NUNCA TEM VERBAS.
	PRINT 'VERBAS: VALOR A RATEAR APOS ABATER O QUE JA TINHA NOS TITULOS: ' + FORMAT(@VALOR_A_RATEAR, 'G')
	
	-- PARA O CASO DE NAO TER VALOR A RATEAR, NAO QUERO QUE FIQUE NULL NESTE CAMPO.
	UPDATE DRE_INDL_ITENS SET VERBAS_RATEIO = 0
		WHERE ID_ANALISE = @IN_ID_ANALISE

	IF (@BASE_PARA_RATEIO != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET VERBAS_RATEIO = ISNULL (PESO_PARA_RATEIO * @VALOR_A_RATEAR / @BASE_PARA_RATEIO, 0)
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM
			AND F4_MARGEM IN ('1', '3')
			AND ID_ANALISE = @IN_ID_ANALISE
			AND CC != 'GRANEL'  -- GRANEL NUNCA TEM VERBAS.
			AND EXISTS (SELECT *
						FROM protheus.dbo.ZA4010
						WHERE D_E_L_E_T_ = ''
						AND ZA4_CLI = CLIENTE
						AND ZA4_LOJA = LOJA)
	END


	-- DESP.COML.OUTRAS: RATEAR DIFERENCA ENTRE O QUE TENHO E O TOTAL DO GRUPO CONTABIL.
	SET @VALOR_A_RATEAR = ISNULL ((SELECT SUM (OUTRAS) FROM CONTAB WHERE GRUPO = '3.0'), 0)
	PRINT 'DESP.COML.OUTRAS: VALOR A RATEAR: ' + FORMAT(@VALOR_A_RATEAR, 'G')
	SET @BASE_PARA_RATEIO = (SELECT SUM (PESO_PARA_RATEIO)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM
							AND F4_MARGEM IN ('1', '3')
							AND ID_ANALISE = @IN_ID_ANALISE
							AND CC != 'GRANEL')  -- GRANEL NUNCA TEM OUTRAS DESPESAS COMERCIAIS.
	PRINT 'DESP.COML.OUTRAS: BASE PARA RATEIO: ' + FORMAT(@BASE_PARA_RATEIO, 'G')
	DECLARE @AUX_BONIF FLOAT = (SELECT SUM (CUSTO + BONIF_RATEIO)
								FROM DRE_INDL_ITENS
								WHERE FILIAL BETWEEN @FILINI AND @FILFIM
								AND F4_MARGEM = '3'
								AND ID_ANALISE = @IN_ID_ANALISE)
	PRINT 'DESP.COML.OUTRAS: GASTOS COML / BONIF  A ABATER DO TOTAL: ' + FORMAT(@AUX_BONIF, 'G')
	DECLARE @AUX_RAPEL FLOAT = (SELECT SUM (CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (RAPELPREV + RAPEL_RATEIO))
								FROM DRE_INDL_ITENS
								WHERE FILIAL BETWEEN @FILINI AND @FILFIM
								AND ID_ANALISE = @IN_ID_ANALISE
								AND CC != 'GRANEL')  -- GRANEL NUNCA TEM OUTRAS DESPESAS COMERCIAIS.
	PRINT 'DESP.COML.OUTRAS: GASTOS COML / RAPEL  A ABATER DO TOTAL: ' + FORMAT(@AUX_RAPEL, 'G')
	DECLARE @AUX_FRETE FLOAT = (SELECT SUM (FRETEPREV + FRETE_RATEIO)
								FROM DRE_INDL_ITENS
								WHERE FILIAL BETWEEN @FILINI AND @FILFIM
								AND ID_ANALISE = @IN_ID_ANALISE)
	PRINT 'DESP.COML.OUTRAS: GASTOS COML / FRETE  A ABATER DO TOTAL: ' + FORMAT(@AUX_FRETE, 'G')
	DECLARE @AUX_COMIS FLOAT = (SELECT SUM (CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (COMISPREV + COMIS_RATEIO))
								FROM DRE_INDL_ITENS
								WHERE FILIAL BETWEEN @FILINI AND @FILFIM
								AND ID_ANALISE = @IN_ID_ANALISE
								AND CC != 'GRANEL')  -- GRANEL NUNCA TEM OUTRAS DESPESAS COMERCIAIS.
	PRINT 'DESP.COML.OUTRAS: GASTOS COML / COMIS  A ABATER DO TOTAL: ' + FORMAT(@AUX_COMIS, 'G')
	DECLARE @AUX_VERBA FLOAT = (SELECT SUM (CASE F4_MARGEM WHEN '2' THEN -1 ELSE 1 END * (DF_ENCART + DF_FEIRAS + DF_FRETES + DF_DESCONT + DF_DEVOL + DF_CAMPANH + DF_ABLOJA + DF_CONTRAT + DF_OUTROS + ISNULL (VERBAS_RATEIO, 0)))
								FROM DRE_INDL_ITENS
								WHERE FILIAL BETWEEN @FILINI AND @FILFIM
								AND ID_ANALISE = @IN_ID_ANALISE)
	PRINT 'DESP.COML.OUTRAS: GASTOS COML / VERBAS A ABATER DO TOTAL: ' + FORMAT(@AUX_VERBA, 'G')
	SET @VALOR_A_RATEAR -= @AUX_BONIF
	SET @VALOR_A_RATEAR -= @AUX_RAPEL
	SET @VALOR_A_RATEAR -= @AUX_FRETE
	SET @VALOR_A_RATEAR -= @AUX_COMIS
	SET @VALOR_A_RATEAR -= @AUX_VERBA
	IF (@BASE_PARA_RATEIO != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET GASTOS_COML_OUTRAS = PESO_PARA_RATEIO * @VALOR_A_RATEAR / @BASE_PARA_RATEIO
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM
			AND F4_MARGEM IN ('1', '3')
			AND ID_ANALISE = @IN_ID_ANALISE
			AND CC != 'GRANEL'  -- GRANEL NUNCA TEM OUTRAS DESPESAS COMERCIAIS.
	END


	-----------------------------------------------------
	-- DISTRIBUICOES E RATEIOS DOS CUSTOS ADMINISTRATIVOS
	-----------------------------------------------------
	-- DESPESAS ADMINISTRATIVAS: PROPORCIONALIZAR OS TOTAIS DA CONTABILIDADE PELA REPRESENTATIVIDADE (LITRAGEM OU VALOR) PREVISTA EM NOTA.
--	SET @VALOR_A_RATEAR = ISNULL ((SELECT SUM (VIDRO + ISOBARICA + EM_3OS + PET + TETRA_200 + TETRA_1000 + BAG + FILIAL_09 + GRANEL + OUTRAS)
	SET @VALOR_A_RATEAR = ISNULL ((SELECT SUM (OUTRAS)
									FROM CONTAB
									WHERE GRUPO = '4.0'), 0)
	PRINT 'DESP.ADMIN: VALOR A RATEAR: ' + FORMAT(@VALOR_A_RATEAR, 'G')
	SET @BASE_PARA_RATEIO = (SELECT SUM (PESO_PARA_RATEIO)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM
							AND F4_MARGEM IN ('1', '3')
							AND ID_ANALISE = @IN_ID_ANALISE)
	UPDATE DRE_INDL_ITENS SET DESP_ADMIN = 0
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM
		AND ID_ANALISE = @IN_ID_ANALISE
	IF (@BASE_PARA_RATEIO != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET DESP_ADMIN = PESO_PARA_RATEIO * @VALOR_A_RATEAR / @BASE_PARA_RATEIO
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM
			AND F4_MARGEM IN ('1', '3')
			AND ID_ANALISE = @IN_ID_ANALISE
	END



	----------------------------------------------
	-- DISTRIBUICOES E RATEIOS DE OUTROS INGRESSOS
	----------------------------------------------
	-- OUTROS INGRESSOS: PROPORCIONALIZAR OS TOTAIS DA CONTABILIDADE PELA REPRESENTATIVIDADE (LITRAGEM OU VALOR) PREVISTA EM NOTA.
--	SET @VALOR_A_RATEAR = ISNULL ((SELECT SUM (VIDRO + ISOBARICA + EM_3OS + PET + TETRA_200 + TETRA_1000 + BAG + FILIAL_09 + GRANEL + OUTRAS)
	SET @VALOR_A_RATEAR = ISNULL ((SELECT SUM (OUTRAS)
									FROM CONTAB
									WHERE GRUPO = '6.0'), 0)
	PRINT 'OUTROS INGRESSOS: VALOR A RATEAR (PELA CONTABILIDADE): ' + FORMAT(@VALOR_A_RATEAR, 'G')
	SET @BASE_PARA_RATEIO = (SELECT SUM (PESO_PARA_RATEIO)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND ID_ANALISE = @IN_ID_ANALISE)
	PRINT 'DESP ADMIN BASE PARA RATEIO: ' + FORMAT(@BASE_PARA_RATEIO , 'G')
	UPDATE DRE_INDL_ITENS SET OUTROS_INGRESSOS = 0
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND ID_ANALISE = @IN_ID_ANALISE
	IF (@BASE_PARA_RATEIO != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET OUTROS_INGRESSOS = -1 * PESO_PARA_RATEIO * @VALOR_A_RATEAR / @BASE_PARA_RATEIO
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND ID_ANALISE = @IN_ID_ANALISE
	END


	------------------------------------------------
	-- DISTRIBUICOES E RATEIOS DA RECEITA FINANCEIRA
	------------------------------------------------
	-- RESULTADO FINANCEIRO: PROPORCIONALIZAR OS TOTAIS DA CONTABILIDADE PELA REPRESENTATIVIDADE (LITRAGEM OU VALOR) PREVISTA EM NOTA.
	SET @VALOR_A_RATEAR = ISNULL ((SELECT SUM (OUTRAS) FROM CONTAB WHERE GRUPO = '7.0'), 0)
	SET @BASE_PARA_RATEIO = (SELECT SUM (PESO_PARA_RATEIO)
							FROM DRE_INDL_ITENS
							WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND ID_ANALISE = @IN_ID_ANALISE)
	UPDATE DRE_INDL_ITENS SET RESULT_FIN = 0
		WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND ID_ANALISE = @IN_ID_ANALISE
	IF (@BASE_PARA_RATEIO != 0)
	BEGIN
		UPDATE DRE_INDL_ITENS SET RESULT_FIN = -1 * PESO_PARA_RATEIO * @VALOR_A_RATEAR / @BASE_PARA_RATEIO
			WHERE FILIAL BETWEEN @FILINI AND @FILFIM AND F4_MARGEM IN ('1', '3') AND ID_ANALISE = @IN_ID_ANALISE
	END

END

