

-- View para o PowerBI ler dados para DRE contabil
-- Data: 09/01/2024
-- Autor: Robert Koch
--
-- Historico de alteracoes:
--

ALTER VIEW [dbo].[VPBI_DRE]
AS 

WITH VA_ANOS AS
(
	-- Abrir mais periodos aqui quando necessario
	SELECT '2021' AS ANO UNION ALL
	SELECT '2022' AS ANO UNION ALL
	SELECT '2023' AS ANO UNION ALL
	SELECT '2024' AS ANO UNION ALL
	SELECT '2025' AS ANO
)
, VA_MESES AS
(
	SELECT '01' AS MES, 'JAN' AS NOME3 UNION ALL
	SELECT '02' AS MES, 'FEV' AS NOME3 UNION ALL
	SELECT '03' AS MES, 'MAR' AS NOME3 UNION ALL
	SELECT '04' AS MES, 'ABR' AS NOME3 UNION ALL
	SELECT '05' AS MES, 'MAI' AS NOME3 UNION ALL
	SELECT '06' AS MES, 'JUN' AS NOME3 UNION ALL
	SELECT '07' AS MES, 'JUL' AS NOME3 UNION ALL
	SELECT '08' AS MES, 'AGO' AS NOME3 UNION ALL
	SELECT '09' AS MES, 'SET' AS NOME3 UNION ALL
	SELECT '10' AS MES, 'OUT' AS NOME3 UNION ALL
	SELECT '11' AS MES, 'NOV' AS NOME3 UNION ALL
	SELECT '12' AS MES, 'DEZ' AS NOME3
)
, ANO_MES AS (
	SELECT ANO, MES
	FROM VA_ANOS, VA_MESES
)
--insert INTO LKSRV_AZURE_DBALIANCA.DW.dbo.DRE (ANO, MES, FILIAL, ORDEM, DESC_N1, DESC_N2, NIVEL, CONTA, DESCRICAO, CC, ORC_PER, REA_PER, INFORMATIVO)
SELECT ANO, MES, FILIAL, ORDEM, DESC_N1, DESC_N2, NIVEL, CONTA, DESCRICAO, CC, ORC_PER, REA_PER, INFORMATIVO
	FROM ANO_MES CROSS APPLY protheus.dbo.VA_FCONS_ORCAMENTO_525 ('', 'Z', ANO, MES, MES, 8, NULL, NULL, NULL, NULL) F


