
-- View para gerar balanco patrimonial
-- Data: 11/01/2024
-- Autor: Robert Koch
--
-- Historico de alteracoes:
--

ALTER VIEW [dbo].[VPBI_BALPAT]
AS 

WITH ANOS AS
(
	-- Abrir mais periodos aqui quando necessario
	SELECT '2021' AS ANO UNION ALL
	SELECT '2022' AS ANO UNION ALL
	SELECT '2023' AS ANO --UNION ALL
--	SELECT '2024' AS ANO UNION ALL
--	SELECT '2025' AS ANO
)
, MESES AS
(
	SELECT '01' AS MES, 'JAN' AS NOME3 UNION ALL
	SELECT '02' AS MES, 'FEV' AS NOME3 UNION ALL
	SELECT '03' AS MES, 'MAR' AS NOME3 UNION ALL
	SELECT '04' AS MES, 'ABR' AS NOME3 UNION ALL
	SELECT '05' AS MES, 'MAI' AS NOME3 UNION ALL
	SELECT '06' AS MES, 'JUN' AS NOME3 UNION ALL
	SELECT '07' AS MES, 'JUL' AS NOME3 UNION ALL
	SELECT '08' AS MES, 'AGO' AS NOME3 UNION ALL
	SELECT '09' AS MES, 'SET' AS NOME3 UNION ALL
	SELECT '10' AS MES, 'OUT' AS NOME3 UNION ALL
	SELECT '11' AS MES, 'NOV' AS NOME3 UNION ALL
	SELECT '12' AS MES, 'DEZ' AS NOME3
)
-- Gera uma CTE (Common Table Expression) contendo ano, meses e ultimo dia de cada mes
, PERIODOS AS (
	SELECT ANO
		, MES
		, ANO + MES + CAST (DATEPART (DAY, EOMONTH (CAST (ANO + MES + '01' AS DATE))) AS VARCHAR (2)) AS ULTIMODIA
	FROM ANOS, MESES
)
-- Gera uma CTE contendo os grupos para balanco (cfe. cadastro da visao gerencial)
, GRUPOS AS (
	SELECT CTS.CTS_CODPLA, CTS.CTS_CONTAG AS GRUPO, CTS.CTS_DESCCG AS DESCR_GRUPO, CTS.CTS_CT1INI, CTS.CTS_CT1FIM
		FROM protheus.dbo.CTS010 CTS
	WHERE CTS.D_E_L_E_T_ = ''
		AND CTS.CTS_FILIAL = '  '
		AND CTS.CTS_CODPLA = '010'
)
-- Gera uma CTE contendo um produto cartesiano de grupos X periodos
, GRUPOS_PERIODOS AS (
	SELECT *
	FROM GRUPOS, PERIODOS
)
--SELECT * FROM GRUPOS_COM_PERIODOS
-- Acrescenta as contas contabeis ligadas a cada grupo
, GRUPOS_PERIODOS_CONTAS AS (
	SELECT ANO, MES, ULTIMODIA, GRUPO, DESCR_GRUPO, CT1_CONTA AS CONTA, CT1.CT1_DESC01 AS DESCR_CONTA
	FROM GRUPOS_PERIODOS
		LEFT JOIN protheus.dbo.CT1010 CT1
		ON (CT1.D_E_L_E_T_ = ''
		AND CT1.CT1_FILIAL = '  '
		AND CT1.CT1_CONTA BETWEEN CTS_CT1INI AND CTS_CT1FIM)
)
--SELECT * FROM GRUPOS_PERIODOS_CONTAS ORDER BY GRUPO, CONTA
-- Acrescenta os saldos de cada conta
, GRUPOS_PERIODOS_CONTAS_SALDOS AS (
SELECT ANO, MES, ULTIMODIA, GRUPO, DESCR_GRUPO, CONTA, DESCR_CONTA
		, (SUM (CASE WHEN CQ0_DATA = ULTIMODIA THEN CQ0_DEBITO ELSE 0 END)
	 	 - SUM (CASE WHEN CQ0_DATA = ULTIMODIA THEN CQ0_CREDIT ELSE 0 END)
		 + SUM (CASE WHEN CQ0_DATA < ULTIMODIA THEN CQ0_DEBITO - CQ0_CREDIT ELSE 0 END)) AS SALDO_ANT
FROM GRUPOS_PERIODOS_CONTAS
		LEFT JOIN protheus.dbo.CQ0010 CQ0
			ON (CQ0.D_E_L_E_T_ = ''
			AND CQ0.CQ0_TPSALD = '1'
			AND CQ0_DATA <= ULTIMODIA
			AND CQ0_CONTA = CONTA)
	GROUP BY ANO, MES, ULTIMODIA, GRUPO, DESCR_GRUPO, CONTA, DESCR_CONTA
)
--SELECT * FROM GRUPOS_PERIODOS_CONTAS_SALDOS ORDER BY GRUPO, CONTA
-- Cheguei aqui com os grupos do balanco, as suas contas e saldos, mas tenho saldos apenas
-- nos grupos sinteticos. Para acumular os saldos nos sinteticos, farei um relacionamento
-- da CTE com ela mesma, somando os subgrupos.
SELECT *,
	CASE WHEN CONTA IS NULL THEN
		(SELECT SUM (G2.SALDO_ANT)
			FROM GRUPOS_PERIODOS_CONTAS_SALDOS G2
			WHERE G2.GRUPO LIKE rtrim (G1.GRUPO) + '%'
			AND G2.ANO = G1.ANO
			AND G2.MES = G1.MES)
	ELSE
		SALDO_ANT
	END AS SALDO_GRUPO
FROM GRUPOS_PERIODOS_CONTAS_SALDOS G1
-- WHERE ANO = '2022' AND MES = '12' ORDER BY GRUPO, CONTA

