-- Descricao: Procura sincronizar horarios de medices continuas com amostras da leitura de grau da Maseli.
-- Autor....: Robert Koch
-- Data.....: 16/02/2020
--
-- Historico de alteracoes:
-- 23/02/2021 - Robert - Tratamento para quando nao encontrar a medicao continua.
--

ALTER FUNCTION [dbo].[FMEDICAO_CONTINUA_CARGA_SAFRA]
	-- PARAMETROS DE CHAMADA
	(@FILIAL VARCHAR (2)
	,@SAFRA VARCHAR (4)
	,@CARGA VARCHAR (4)
	)
	RETURNS @RET TABLE 
		(CONTINUA_FILIAL VARCHAR (2),
		CONTINUA_LINHA INT,
		CONTINUA_HORA DATETIME,
		CONTINUA_STATUS VARCHAR (10),
		CONTINUA_GRAU FLOAT,
		BL01_FILIAL VARCHAR (2),
		BL01_SAFRA VARCHAR (4),
		BL01_CARGA VARCHAR (4),
		BL01_SAMPLE INT,
		BL01_RESULT FLOAT,
		BL01_HORA_MEDICAO DATETIME,
		BL01_OBS VARCHAR (15))
AS
BEGIN

--	DECLARE @SAFRA VARCHAR (4) = '2021'
--	DECLARE @FILIAL VARCHAR (2) = '01'
--	DECLARE @CARGA VARCHAR (4) = '1718'
	DECLARE @CARGAANTERIOR VARCHAR (4);
	DECLARE @CARGAPOSTERIOR VARCHAR (4);
	DECLARE @HORAINIZZA DATETIME
	DECLARE @HORAFIMZZA DATETIME
	DECLARE @LINHADESCARGA INT
	DECLARE @AMOSTRAS_COM_HORARIOS TABLE (
										ZZA_FILIAL VARCHAR (2),
										ZZA_SAFRA VARCHAR (4),
										ZZA_CARGA VARCHAR (4),
										SAMPLE INT,
										RESULT FLOAT,
										HORA_MEDICAO DATETIME,
										OBS VARCHAR (15))

	SET @HORAINIZZA = (SELECT ZZA.ZZA_INIST2 FROM protheus.dbo.ZZA010 ZZA WHERE ZZA.D_E_L_E_T_ = '' AND ZZA.ZZA_FILIAL = @FILIAL AND ZZA.ZZA_SAFRA = @SAFRA AND ZZA.ZZA_CARGA = @CARGA AND ZZA.ZZA_PRODUT = '01')
	SET @HORAFIMZZA = (SELECT ZZA.ZZA_INIST3 FROM protheus.dbo.ZZA010 ZZA WHERE ZZA.D_E_L_E_T_ = '' AND ZZA.ZZA_FILIAL = @FILIAL AND ZZA.ZZA_SAFRA = @SAFRA AND ZZA.ZZA_CARGA = @CARGA AND ZZA.ZZA_PRODUT = '01')
	SET @LINHADESCARGA = (SELECT CAST (ZZA.ZZA_LINHA AS INT) FROM protheus.dbo.ZZA010 ZZA WHERE ZZA.D_E_L_E_T_ = '' AND ZZA.ZZA_FILIAL = @FILIAL AND ZZA.ZZA_SAFRA = @SAFRA AND ZZA.ZZA_CARGA = @CARGA AND ZZA.ZZA_PRODUT = '01')
--	PRINT 'DADOS ENCONTRADOS NO ZZA PARA A CARGA ' + @CARGA + ': LINHA ' + CAST (@LINHADESCARGA AS VARCHAR (1)) + ' ENTRE ' + FORMAT (@HORAINIZZA, 'dd/MM/yyyy HH:mm:ss') + ' E ' + FORMAT (@HORAFIMZZA, 'dd/MM/yyyy HH:mm:ss')

	-- IDENTIFICA, PELO HORARIO, AS CARGAS ANTERIOR E POSTERIOR
	SET @CARGAANTERIOR = (SELECT TOP 1 ANT.ZZA_CARGA
							FROM SQL_BL01_TABLE ANT
							WHERE ANT.ZZA_FILIAL = @FILIAL AND ANT.ZZA_SAFRA = @SAFRA AND ANT.ZZA_CARGA != @CARGA AND ANT.ZZA_PRODUT = '01'
							AND ANT.LINE_SELECTED = @LINHADESCARGA
							AND CONVERT(DATETIME,ANT.DATA_NUMBER,103) < (SELECT CONVERT(DATETIME,ATU.DATA_NUMBER,103)
													FROM SQL_BL01_TABLE ATU
													WHERE ATU.ZZA_FILIAL = @FILIAL AND ATU.ZZA_SAFRA = @SAFRA AND ATU.ZZA_CARGA = @CARGA AND ATU.ZZA_PRODUT = '01')
							ORDER BY CONVERT(DATETIME,ANT.DATA_NUMBER,103) DESC)
	SET @CARGAPOSTERIOR = (SELECT TOP 1 POST.ZZA_CARGA
							FROM SQL_BL01_TABLE POST
							WHERE POST.ZZA_FILIAL = @FILIAL AND POST.ZZA_SAFRA = @SAFRA AND POST.ZZA_CARGA != @CARGA AND POST.ZZA_PRODUT = '01'
							AND POST.LINE_SELECTED = @LINHADESCARGA
							AND CONVERT(DATETIME,POST.DATA_NUMBER,103) > (SELECT CONVERT(DATETIME,ATU.DATA_NUMBER,103)
																		FROM SQL_BL01_TABLE ATU
																		WHERE ATU.ZZA_FILIAL = @FILIAL AND ATU.ZZA_SAFRA = @SAFRA AND ATU.ZZA_CARGA = @CARGA AND ATU.ZZA_PRODUT = '01')
							ORDER BY CONVERT(DATETIME,POST.DATA_NUMBER,103))
--	PRINT 'CARGA ANTERIOR: ' + @CARGAANTERIOR
--	PRINT 'CARGA POSTERIOR: ' + @CARGAPOSTERIOR

	-- PROCURA INSERIR NA TABELA AS CARGASANTERIOR E POSTERIOR, PARA AJUDAR NA ANALISE DE POSIVEL MISTURA ENTRE ELAS.
	INSERT INTO @AMOSTRAS_COM_HORARIOS SELECT *, 'CARGA ANTERIOR'  FROM VA_FHORARIOS_AMOSTRAS (@SAFRA, @FILIAL, @CARGAANTERIOR)
	INSERT INTO @AMOSTRAS_COM_HORARIOS SELECT *, ''                FROM VA_FHORARIOS_AMOSTRAS (@SAFRA, @FILIAL, @CARGA)
	INSERT INTO @AMOSTRAS_COM_HORARIOS SELECT *, 'CARGA POSTERIOR' FROM VA_FHORARIOS_AMOSTRAS (@SAFRA, @FILIAL, @CARGAPOSTERIOR)

	-- SE CONSEGUI DEFINIR HORARIOS DE LEITURA DAS AMOSTRAS, USO-OS PARA FAZER UM JOIN ENTRE AS TABELAS. SENAO, PEGO APENAS AS AMOSTRAS
	DECLARE @INI_LIMITE_CONTINUA DATETIME = (SELECT DATEADD (SECOND, -60, (SELECT MIN (HORA_MEDICAO) FROM @AMOSTRAS_COM_HORARIOS)))
	DECLARE @FIM_LIMITE_CONTINUA DATETIME = (SELECT DATEADD (SECOND, 60,  (SELECT MAX (HORA_MEDICAO) FROM @AMOSTRAS_COM_HORARIOS)))
	IF (@INI_LIMITE_CONTINUA IS NULL OR @FIM_LIMITE_CONTINUA IS NULL)
	BEGIN
		INSERT INTO @RET
		SELECT NULL, NULL, NULL, NULL, NULL, A.*
		FROM @AMOSTRAS_COM_HORARIOS A
	END
	ELSE
	BEGIN
		INSERT INTO @RET
		SELECT *
		FROM MEDICOES_CONTINUAS MC
			LEFT JOIN @AMOSTRAS_COM_HORARIOS
				A ON (CAST (A.ZZA_FILIAL AS INT) = MC.FILIAL AND A.HORA_MEDICAO = MC.HORA)
		WHERE MC.FILIAL = CAST (@FILIAL AS INT)
		AND MC.LINHA = @LINHADESCARGA
		AND MC.HORA BETWEEN DATEADD (SECOND, -60, (SELECT MIN (HORA_MEDICAO) FROM @AMOSTRAS_COM_HORARIOS)) AND DATEADD (SECOND, 60, (SELECT MAX (HORA_MEDICAO) FROM @AMOSTRAS_COM_HORARIOS))
	END

	RETURN
END

-- select * from FMEDICAO_CONTINUA_CARGA_SAFRA('01', '2021', '0055')
-- select * from FMEDICAO_CONTINUA_CARGA_SAFRA('01', '2021', '1718')

