-- Descricao: Procura sincronizar horarios de medices continuas com amostras da leitura de grau da Maseli.
-- Autor....: Robert Koch
-- Data.....: 16/02/2020
--
-- Historico de alteracoes:
--

ALTER FUNCTION [dbo].[VA_FHORARIOS_AMOSTRAS]
		-- PARAMETROS DE CHAMADA
		(@SAFRA VARCHAR (4),
		@FILIAL VARCHAR (2),
		@CARGA VARCHAR (4))

RETURNS @AMOSTRAS TABLE (
	ZZA_FILIAL VARCHAR (2),
	ZZA_SAFRA VARCHAR (4),
	ZZA_CARGA VARCHAR (4),
	SAMPLE INT,
	RESULT FLOAT,
	HORA_MEDICAO DATETIME)

AS
BEGIN
	DECLARE @LINHADESCARGA INT
	DECLARE @SAMPLES_NUMBER INT
	SET @LINHADESCARGA  = (SELECT LINE_SELECTED  FROM SQL_BL01_TABLE WHERE ZZA_FILIAL = @FILIAL AND ZZA_SAFRA = @SAFRA AND ZZA_CARGA = @CARGA AND ZZA_PRODUT = '01')
	SET @SAMPLES_NUMBER = (SELECT SAMPLES_NUMBER FROM SQL_BL01_TABLE WHERE ZZA_FILIAL = @FILIAL AND ZZA_SAFRA = @SAFRA AND ZZA_CARGA = @CARGA AND ZZA_PRODUT = '01')

	-- DEFINE LIMITES INICIAL E FINAL PARA VARREDURA DA MEDICAO CONTINUA, PARA EVITAR QUE A BUSCA RETROATIVA PROSSIGA INDEFINIDAMENTE.
	DECLARE @LIM_FIM_MED_CONT DATETIME = (SELECT MAX (CONVERT(DATETIME,DATA_NUMBER,103))
										FROM SQL_BL01_TABLE
										WHERE ZZA_FILIAL = @FILIAL AND ZZA_SAFRA = @SAFRA AND ZZA_CARGA = @CARGA AND ZZA_PRODUT = '01')
	DECLARE @LIM_INI_MED_CONT DATETIME = (SELECT DATEADD (HOUR, -3, @LIM_FIM_MED_CONT))  -- MAIS QUE 3 HORAS PRA TOMBAR UMA CARGA EH DEMAIS...

	-- VERIFIQUEI QUE O BL01 GRAVA EM CADA AMOSTRA O ULTIMO VALOR VALIDO ('Medida') ATEH O MOMENTO.
	-- POR ISSO VOU PASSAR CADA SAMPLE, DO ULTIMO PARA O PRIMEIRO, PARTINDO DA HORA QUE O USUARIO
	-- FEZ A GRAVACAO (BOTAO 'ARMAZENAR').
	DECLARE @HORA_LIMITE_AMOSTRA DATETIME
	DECLARE @HORA_ULTIMA_MEDIDA_VALIDA DATETIME
	SET @HORA_LIMITE_AMOSTRA = @LIM_FIM_MED_CONT /*(SELECT MAX (CONVERT(DATETIME,DATA_NUMBER,103))
								FROM SQL_BL01_TABLE
								WHERE ZZA_FILIAL = @FILIAL AND ZZA_SAFRA = @SAFRA AND ZZA_CARGA = @CARGA AND ZZA_PRODUT = '01')*/
--	PRINT 'DATA_NUMBER NO BL01_TABLE: ' + FORMAT (@HORA_LIMITE_AMOSTRA, 'dd/MM/yyyy HH:mm:ss')
	WHILE (@SAMPLES_NUMBER >= 1)
	BEGIN
--		PRINT 'SAMPLE: ' + STR (@SAMPLES_NUMBER) + '  HORA LIMITE: ' + FORMAT (@HORA_LIMITE_AMOSTRA, 'dd/MM/yyyy HH:mm:ss')
		SET @HORA_ULTIMA_MEDIDA_VALIDA = (SELECT MAX (HORA) FROM MEDICOES_CONTINUAS MC
			WHERE MC.FILIAL = CAST (@FILIAL AS INT) AND MC.LINHA = @LINHADESCARGA AND MC.LINE_STATUS = 'Medida'
			AND MC.HORA BETWEEN @LIM_INI_MED_CONT AND @LIM_FIM_MED_CONT
			AND MC.GRAU = (SELECT RESULT
							FROM SQL_BL01_SAMPLES
							WHERE ZZA_FILIAL = @FILIAL AND ZZA_SAFRA = @SAFRA AND ZZA_CARGA = @CARGA
							AND ZZA_PRODUT = '01' AND SAMPLE = @SAMPLES_NUMBER)
			AND MC.HORA <= @HORA_LIMITE_AMOSTRA)

--		PRINT 'HORA_ULTIMA_MEDIDA_VALIDA: ' + FORMAT (@HORA_ULTIMA_MEDIDA_VALIDA, 'dd/MM/yyyy HH:mm:ss')

		-- SE VOLTOU MUITO TEMPO ATEH ENCONTRAR UMA MEDIDA VALIDA, PODE SER O CASO DE UMA UNICA MEDICAO NO MEIO DO PROCESSO
		-- QUE NAO TEM GRAU CORRESPONDENTE NAS MEDICOES CONTINUAS (EX. MEDIDA NUMERO 49 DA CARGA 2714 FILIAL 01 SAFRA 2021)
		-- NESSE CASO INSIRO A AMOSTRA SEM HORARIO NA TABELA DE RESULTADOS E VOU PARA A AMOSTRA ANTERIOR.
		IF ((SELECT COUNT (*)
			FROM MEDICOES_CONTINUAS MC
			WHERE MC.FILIAL = CAST (@FILIAL AS INT) AND MC.LINHA = @LINHADESCARGA AND MC.LINE_STATUS = 'Medida'
			AND MC.HORA BETWEEN @LIM_INI_MED_CONT AND @LIM_FIM_MED_CONT
			AND MC.HORA BETWEEN @HORA_ULTIMA_MEDIDA_VALIDA AND @HORA_LIMITE_AMOSTRA
			) > 10)
		BEGIN
			INSERT INTO @AMOSTRAS SELECT ZZA_FILIAL, ZZA_SAFRA, ZZA_CARGA, SAMPLE, RESULT, NULL
						FROM SQL_BL01_SAMPLES
						WHERE ZZA_FILIAL = @FILIAL AND ZZA_SAFRA = @SAFRA AND ZZA_CARGA = @CARGA AND ZZA_PRODUT = '01' AND SAMPLE = @SAMPLES_NUMBER

			SET @SAMPLES_NUMBER -= 1
		END
		ELSE
		BEGIN
			INSERT INTO @AMOSTRAS SELECT ZZA_FILIAL, ZZA_SAFRA, ZZA_CARGA, SAMPLE, RESULT, @HORA_ULTIMA_MEDIDA_VALIDA
						FROM SQL_BL01_SAMPLES
						WHERE ZZA_FILIAL = @FILIAL AND ZZA_SAFRA = @SAFRA AND ZZA_CARGA = @CARGA AND ZZA_PRODUT = '01' AND SAMPLE = @SAMPLES_NUMBER

			SET @HORA_LIMITE_AMOSTRA = DATEADD (SECOND, -1, @HORA_ULTIMA_MEDIDA_VALIDA)
			SET @SAMPLES_NUMBER -= 1
		END
	END

RETURN
END

