
-- Cooperativa Agroindustrial Nova Alianca Ltda
-- View para buscar relacionamento entre pessoas (Metadados) e usuarios/acessos a diferentes sistemas.
-- Autor: Robert Koch
-- Data:  31/03/2021
-- Historico de alteracoes:
-- 15/05/2021 - Robert - Criado vinculo com usuarios do NaWeb.
-- 21/09/2021 - Robert - Nao sugere mais que seja concatenada a funcao da pessoa no campo 'cargo' no Protheus.
-- 21/09/2022 - Robert - Passa a buscar tambem usuarios do FullWMS.
-- 24/10/2022 - Robert - Passa a identificar COLABORADOR e USUARIO do FullWMS (sao coisas diferentes)
--

CREATE VIew [dbo].[VISAO_GERAL_ACESSOS]
AS
SELECT
    META.PESSOA AS PESSOA_FOLHA
   ,META.NOME AS NOME_FOLHA
   ,META.DESC_SETOR AS SETOR_FOLHA
   ,META.FUNCAO
   ,META.DESC_FUNCAO
   ,META.SITUACAO AS SITUACAO_FOLHA
   ,META.DESCRI_SITUACAO AS DESCRI_SITUACAO_FOLHA
   ,META.EM_FERIAS AS EM_FERIAS_FOLHA
   ,META.OP05 AS OP05_FOLHA
   ,META.DESC_OP05 AS DESC_OP05_FOLHA

   , 'Pessoa ' + cast (META.PESSOA as nvarchar) COLLATE SQL_Latin1_General_CP1251_CS_AS as Cargo_para_Protheus
   ,PROTHEUS_USERS.USR_ID AS PROTHEUS_ID
   ,USR_CODIGO AS PROTHEUS_USER
   ,USR_NOME AS PROTHEUS_NOME
   ,USR_CARGO AS PROTHEUS_CARGO
   ,RTRIM(SYS_USR_SSIGNON.USR_SO_DOMINIO) + '\' + RTRIM(SYS_USR_SSIGNON.USR_SO_USERLOGIN) AS PROTHEUS_AUTENTIC_DOMINIO
   ,CASE PROTHEUS_USERS.USR_MSBLQL
		WHEN '1' THEN 'BLOQUEADO'
		WHEN '2' THEN 'ATIVO'
		ELSE PROTHEUS_USERS.USR_MSBLQL
	END AS PROTHEUS_SITUACAO

	-- PARA SABER QUAIS FILIAIS SAO ACESSIVEIS AO USUARIO NO PROTHEUS, BUSCO OS GRUPOS AOS QUAIS ELE ESTAH LIGADO
	-- E QUE REPRESENTEM ACESSO A FILIAIS. DEPOIS VEJO QUAIS FILIAIS ESTAO AMARRADAS A ESSES GRUPOS E CONCATENO-AS.
	,(SELECT STRING_AGG (RTRIM (GF.GR__FILIAL), ',') WITHIN GROUP (ORDER BY GF.GR__FILIAL)  -- GRUPOS PRIORITARIOS NA FRENTE
		FROM LKSRV_PROTHEUS.protheus.dbo.SYS_GRP_GROUP GP,
		LKSRV_PROTHEUS.protheus.dbo.SYS_USR_GROUPS GU,
		LKSRV_PROTHEUS.protheus.dbo.SYS_GRP_FILIAL GF
		WHERE GP.D_E_L_E_T_ = ''
		AND GP.GR__CODIGO LIKE 'Fili%'  -- GRUPOS QUE REPRESENTAM ACESSO A FILIAIS
		AND GU.D_E_L_E_T_ = ''
		AND GU.USR_ID = PROTHEUS_USERS.USR_ID
		AND GP.GR__ID = GU.USR_GRUPO
		AND GF.D_E_L_E_T_ = ''
		AND GF.GR__ID = GP.GR__ID
	) as PROTHEUS_FILIAIS

	,(SELECT STRING_AGG (GP.GR__ID + '(' + RTRIM (GP.GR__NOME) + ')', ', ') WITHIN GROUP (ORDER BY GU.USR_PRIORIZA, GP.GR__NOME)  -- GRUPOS PRIORITARIOS NA FRENTE
		FROM LKSRV_PROTHEUS.protheus.dbo.SYS_GRP_GROUP GP,
		LKSRV_PROTHEUS.protheus.dbo.SYS_USR_GROUPS GU
		WHERE GP.D_E_L_E_T_ = ''
		AND GP.GR__CODIGO NOT LIKE 'Fili%'  -- grupos que NAO representam acesso a filiais soh podem ser perfis
		AND GU.D_E_L_E_T_ = ''
		AND GU.USR_ID = PROTHEUS_USERS.USR_ID
		AND GP.GR__ID = GU.USR_GRUPO
	) as PROTHEUS_PERFIS

   ,'Pessoa ' + cast (META.PESSOA as nvarchar) as EmployeeID_para_AD
   , AD.SamAccountName as AD_ACCOUNTNAME
   , AD.Enabled AS AD_ENABLED

   , NAWEB.SecUserId AS NAWEB_ID
   , NAWEB.SecUserName AS NAWEB_USER
	,(SELECT STRING_AGG (cast (SUR.SecRoleId as varchar (max)) + '(' + SR.SecRoleDescription + ')', ', ') WITHIN GROUP (ORDER BY SR.SecRoleDescription)
		FROM LKSRV_NAWEB.naweb.dbo.SecUserRole SUR,
			LKSRV_NAWEB.naweb.dbo.SecRole SR
		WHERE SUR.SecUserId = NAWEB.SecUserId
		AND SR.SecRoleId = SUR.SecRoleId
	) as NAWEB_PERFIS

	-- DADOS DO FULL QUANDO 'COLABORADOR' (QUE USA COLETOR DE DADOS)
	, FULLWMS_COLABORADORES.COD_COLAB AS FULLWMS_ID_COLABORADOR
	, FULLWMS_COLABORADORES.NOME AS FULLWMS_NOME_COLABORADOR
	, FULLWMS_COLABORADORES.ATIVO AS FULLWMS_COLABORADOR_ATIVO
	
	-- DADOS DO FULL QUANDO 'USUARIO' (QUE USA VERSAO NO PC)
	, FULLWMS_USUARIOS.GER_USUARIO_ID AS FULLWMS_ID_USUARIO
	, FULLWMS_USUARIOS.NOME AS FULLWMS_NOME_USUARIO
	, CASE FULLWMS_USUARIOS.TIPO
		WHEN '0' THEN 'Admin'
		WHEN '1' THEN 'Normal'
		ELSE ''
	END AS FULLWMS_TIPO_USUARIO
	, FULLWMS_USUARIOS.GER_USUGRUPO_ID AS FULLWMS_GRUPO_USUARIO
	, FULLWMS_USUARIOS.DESCRICAO_GRUPO AS FULLWMS_DESC_GRUPO_USUARIO

-- A TABELA PRINCIPAL EH O CADASTRO DE PESSOAS DO METADADOS.
FROM LKSRV_SIRH.SIRH.dbo.VA_VFUNCIONARIOS META

	-- RELACIONA COM USUARIOS DO PROTHEUS
	FULL OUTER JOIN (SELECT * FROM LKSRV_PROTHEUS.protheus.dbo.SYS_USR WHERE D_E_L_E_T_ = '') PROTHEUS_USERS
		LEFT JOIN LKSRV_PROTHEUS.protheus.dbo.SYS_USR_SSIGNON
			ON (SYS_USR_SSIGNON.D_E_L_E_T_ = ''
					AND SYS_USR_SSIGNON.USR_ID = PROTHEUS_USERS.USR_ID)
		ON (PROTHEUS_USERS.D_E_L_E_T_ = ''
				AND PROTHEUS_USERS.USR_CARGO LIKE 'Pessoa ' + CAST(META.PESSOA AS VARCHAR(MAX)) + '%')

	-- RELACIONA COM USUARIOS DO ACTIVE DIRECTORY (TABELA PREVIAMENTE ALIMENTADA VIA POWERSHELL)
	FULL OUTER JOIN USUARIOS_AD AD
		FULL OUTER JOIN LKSRV_NAWEB.naweb.dbo.SecUser NAWEB
			ON (NAWEB.SecUserName = AD.SamAccountName)
		ON (EmployeeID = 'Pessoa ' + CAST(META.PESSOA AS VARCHAR(MAX)))

	-- RELACIONA COM COLABORADORES (COLETORES DE DADOS) DO FULLSOFT
	FULL OUTER JOIN (select *
					from OPENQUERY ("LKSRV_FULLWMS_LOGISTICA"
									,'select wms_colaboradores.*
									from wms_colaboradores'
									)
					) FULLWMS_COLABORADORES
			ON (UPPER (FULLWMS_COLABORADORES.CRACHA) = CAST(META.PESSOA AS VARCHAR(MAX)))

	-- RELACIONA COM USUARIOS (WEB/COMPUTADOR) DO FULLSOFT
	FULL OUTER JOIN (select *
					from OPENQUERY ("LKSRV_FULLWMS_LOGISTICA"
									,'select ger_usuarios.*, ger_usu_grupos.descricao as descricao_grupo
									from ger_usuarios
										left join ger_usu_grupos
										on (ger_usu_grupos.ger_usugrupo_id = ger_usuarios.ger_usugrupo_id)'
									)
					) FULLWMS_USUARIOS
			ON (UPPER (FULLWMS_USUARIOS.NOMECOMPLETO) LIKE '%PESSOA ' + CAST(META.PESSOA AS VARCHAR(MAX)) + '%')

