

-- Cooperativa Agroindustrial Nova Alianca Ltda
-- View auxiliar para monitoramento de batches agendados no Protheus
-- Autor: Robert Koch
-- Data:  16/04/2021
-- Historico de alteracoes:
-- 01/07/2021 - Robert - Nao convertia data e hora de inicio quando estavam vazios.
--

CREATE VIew [dbo].[MONITOR_BATCHES_PROTHEUS]
AS

WITH C AS (
SELECT
	ZZ6.ZZ6_SEQ AS ID_SEQ
   ,ZZ6.ZZ6_ATIVO ATIVO
   ,ZZ6.ZZ6_RODADO + '-' +
	CASE ZZ6_RODADO
		WHEN ' ' THEN 'A executar'
		WHEN 'S' THEN 'Sim'
		WHEN 'N' THEN 'Nao'
		WHEN 'I' THEN 'Iniciado'
		WHEN 'C' THEN 'Cancelado'
		WHEN 'E' THEN 'Encerrado.autom'
		WHEN 'K' THEN 'Killed'
		ELSE ZZ6_RODADO
	END AS EXECUTOU_OK
   ,CASE
		WHEN ZZ6.ZZ6_RODADO = 'I' AND
			ZZ6_DTUEXE != ' ' AND
			ZZ6_HRUEXE != '' THEN DATEDIFF(MINUTE, CAST(ZZ6_DTUEXE + ' ' + ZZ6_HRUEXE + ':00' AS DATETIME), GETDATE())  -- AO INICIAR, GRAVA DT/HR NESTES CAMPOS PARA TRATAR COMO 'HORA DE INICIO'
		ELSE 0
	END AS EXECUTANDO_MINUTOS
   ,CASE ZZ6.ZZ6_PERIOD
		WHEN 'R' THEN 'Repetir a cada ' + CAST(ZZ6.ZZ6_ACADA AS VARCHAR(3)) + ' ' +
			CASE ZZ6.ZZ6_ACADAU
				WHEN 'H' THEN 'horas'
				WHEN 'M' THEN 'minutos'
				WHEN 'D' THEN 'dias'
				ELSE ''
			END
		ELSE 'Nao repetir'
	END AS REPETICAO
   ,CASE WHEN ZZ6_DTUEXE = '' OR ZZ6_HRUEXE = ''
		THEN NULL
		ELSE CAST(ZZ6_DTUEXE + ' ' + ZZ6_HRUEXE + ':00' AS DATETIME)
	END AS INICIADO_EM
   ,protheus.dbo.VA_FPROX_EXEC_BATCH(ZZ6.R_E_C_N_O_, ZZ6.ZZ6_EMPDES, ZZ6.ZZ6_FILDES) AS PROXIMA_EXECUCAO
   ,ZZ6.ZZ6_EMPDES AS EMPRESA
   ,ZZ6.ZZ6_FILDES AS FILIAIS
   ,ZZ6.ZZ6_DADOS AS COMENTARIOS
   ,ZZ6.ZZ6_CMD AS COMANDO
   ,ZZ6.ZZ6_MSG AS MENSAGENS
/*
   ,CASE ZZ6.ZZ6_PERIOD
		WHEN 'R' THEN ISNULL ((SELECT
					AVG(SEGUNDOS)
				FROM protheus.dbo.VA_PERFMON P
				WHERE P.CHAVE = REPLACE(REPLACE(ZZ6.ZZ6_CMD, '"', ''), '''', '')
				AND DTHR BETWEEN DATEADD(WEEK, -1, GETDATE()) AND GETDATE()
				), 0)
		ELSE 0
	END AS TMP_MEDIO_SEMANA
   ,CASE ZZ6.ZZ6_PERIOD
		WHEN 'R' THEN ISNULL ((SELECT
					AVG(SEGUNDOS)
				FROM protheus.dbo.VA_PERFMON P
				WHERE P.CHAVE = REPLACE(REPLACE(ZZ6.ZZ6_CMD, '"', ''), '''', '')
				AND DTHR BETWEEN cast(getdate() as date) AND GETDATE () --DATEADD(DAY, -1, GETDATE()) AND GETDATE()
				), 0)
		ELSE 0
	END AS TMP_MEDIO_HOJE
*/
FROM protheus.dbo.ZZ6010 ZZ6
WHERE D_E_L_E_T_ = ''
)
SELECT *
	,DATEDIFF (MINUTE, PROXIMA_EXECUCAO, CURRENT_TIMESTAMP) AS MINUTOS_ATRASO
FROM C
/*
SELECT *
FROM MONITOR_BATCHES_PROTHEUS
WHERE MINUTOS_ATRASO > 30
-- WHERE REPETICAO LIKE 'R%' AND EXECUTOU_OK LIKE 'I%'
ORDER BY ID_SEQ

SELECT * FROM protheus.dbo.ZZ6010 WHERE D_E_L_E_T_ = '' AND ZZ6_ATIVO = 'S' AND protheus.dbo.VA_FPROX_EXEC_BATCH (R_E_C_N_O_, ZZ6_EMPDES, ZZ6_FILDES) < DATEADD (MINUTE, -30, CURRENT_TIMESTAMP)

*/


