SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[NW001_RECLAMACAO] AS 

WITH TAB AS
(
	SELECT 
		sac_reclamacao as RECLAMACAO,
		month(sac_data_abertura) as MES,
		year(sac_data_abertura) as ANO
	FROM Sac
	WHERE
	sac_reclamacao <> ''
)


SELECT 
	COUNT(RECLAMACAO) AS NW001_RECLAMACAO_QTDE, 
	RECLAMACAO AS NW001_RECLAMACAO_COD, 
	CASE 
		WHEN RECLAMACAO = 'S' THEN 'Procede'
		WHEN RECLAMACAO = 'N' THEN 'Não procede'
	END  as NW001_RECLAMACAO_DESCRICAO,

	MES AS NW001_RECLAMACAO_MES, 
	ANO AS NW001_RECLAMACAO_ANO
FROM TAB
GROUP BY RECLAMACAO, MES, ANO



GO
