SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[GX0052_TESTE]
AS
select 
PESSOA AS GX0052_COD,
NOME AS GX0052_NOME_COMP,
DETALHES AS GX0052_LINHA
from TI.dbo.F_PESSOAS_X_USUARIOS ('')
GO
